<form class="layui-form" action="{url('add')}" method="post">
  <div class="j-details-box floorWrap layui-form">
	<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
		<legend>账户充值</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
	  		<label class="j-form-label"><i class="red">*</i>房屋编号</label>
	  		<div class="j-input-inline">
	  			 <input type="text" id="house_number" name="house_number" value="" readonly autocomplete="off" readonly placeholder="点击查询" class="layui-input j-search-input">
				 <b class="j-explain-search j-house_number">查询</b>
	  		</div>
	  	</div>
		<div class="layui-col-md8">
			<label class="j-form-label"><i class="red"></i>房屋地址</label>
			<div class="j-input-inline">
				<input type="text" id="ban_address" readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red"></i>租户姓名</label>
			<div class="j-input-inline">
				<input type="text" id="tenant_name" readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red"></i>规定租金</label>
			<div class="j-input-inline">
				<input type="text" id="house_pre_rent" readonly autocomplete="off" class="layui-input">
				<b class="j-explain-search">元</b>
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red"></i>余额</label>
			<div class="j-input-inline">
				<input type="text" id="house_balance" readonly autocomplete="off" class="layui-input">
				<b class="j-explain-search">元</b>
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>充值金额</label>
			<div class="j-input-inline">
				<input type="text" name="pay_rent" value="" autocomplete="off" class="layui-input">
				<b class="j-explain-search">元</b>
			</div>
		</div>
	</div>
	 
	 <div class="layui-row layui-form-item layui-col-space90">
	 	<div class="j-margin-btn">
	 		<a href="{:url('index')}?group=n" class="layui-btn layui-btn-primary">取消</a>
	 		<button type="submit" class="layui-btn" lay-submit lay-filter="formSubmit">确定</button>
	 	</div>
	 </div>
  </div>
</form>
{include file="system@block/layui" /}
<script type="text/javascript">
layui.use(['form', 'func'], function() {
    var $ = layui.jquery, form = layui.form;

	//双击获取房屋查询器
	 $(".j-house_number").click(function(){
	 	//event.stopPropagation();
		 //var that = $(this);
		 //console.log(that.attr('data-id'));
		layer.open({
					title: '房屋查询器'
					,type: 2
					,offset: 'auto'
					,area: ['90%', '90%']
					, btn:false
					,pageTabs: false
					,content: '{:url('system/index/house')}?hisi_iframe=yes'
					,btn: ['确定','关闭']
					,yes: function(index, layero){
						var row = window["layui-layer-iframe" + index].hoesedata();
						/* console.log(row); */
						layer.close(index);
						$("input[name='house_number']").val(row.house_number);//房屋编号
						$("#ban_address").val(row.ban_address);//楼栋地址
						$("#house_pre_rent").val(row.house_pre_rent);//房屋规租
						$("#tenant_name").val(row.tenant_name);//租户姓名
						$("#house_balance").val(row.house_balance); // 账户余额
					},btn2: function(index, layero){
						layer.close(index);
					}
		 });
	})
});
</script>
