<form class="layui-form" action="{url('add')}" method="post">
  <div class="j-details-box floorWrap">
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
	  		<label class="j-form-label"><i class="red">*</i>房屋编号</label>
	  		<div class="j-input-inline">
	  			 <input type="text" name="house_number" value="" readonly autocomplete="off" readonly placeholder="点击查询" class="layui-input">
				 <b class="j-explain-search j-house_number">查询</b>
	  		</div>
	  	</div>
		<div class="layui-col-md8">
			<label class="j-form-label"><i class="red"></i>房屋地址</label>
			<div class="j-input-inline">
				<input type="text" name="" value="" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red"></i>租户姓名</label>
			<div class="j-input-inline">
				<input type="text" name="" value="" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red"></i>规定租金</label>
			<div class="j-input-inline">
				<input type="text" name="" value="" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red"></i>余额</label>
			<div class="j-input-inline">
				<input type="text" name="" value="" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>充值金额</label>
			<div class="j-input-inline">
				<input type="text" name="pay_rent" value="" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	 
	 <div class="layui-row layui-form-item layui-col-space90">
	 	<div class="j-margin-btn">
	 		<a href="{:url('index')}?group=n" class="layui-btn layui-btn-primary">取消</a>
	 		<button type="submit" class="layui-btn" lay-submit lay-filter="formSubmit">确定</button>
	 	</div>
	 </div>
  </div>
</form>
{include file="system@block/layui" /}
<script type="text/javascript">
layui.use(['form', 'func'], function() {
    var $ = layui.jquery, form = layui.form;

    $('.lu-add').click(function(){
        var html = '<div class="layui-col-md4"><label class="j-form-label"><i class="red">*</i>绑定房屋</label><div class="j-input-inline"><input type="text" name="house_number[]" value="" autocomplete="off" readonly placeholder="点击查询" class="layui-input"><b class="j-explain-search j-house_number">查询</b><i class="icon-cancel lu-del"></i></div></div>';
        $('.lu-add').parent().before(html);
    });
    $('.e-house').on('click','.lu-del',function(){
        var that = $(this);
        console.log(that);
        that.parent().parent().remove();
    });
    var s = $('#room_rent_point').val();
    //layui.func.assign({:json_encode($formData)});
    form.on('checkbox(filter)', function(data){
        if(data.elem.checked){
            s = Number(s) + Number($(data.elem).attr('v'));
        }else{
            s = Number(s) - Number($(data.elem).attr('v'));
        }
        
        $('#room_rent_point').val(s);
    });

	//双击获取房屋查询器
	 $(".layui-form").on('click','.j-house_number',function(){
		 var that = $(this);
		 console.log(that.attr('data-id'));
		layer.open({
					title: '房屋查询器'
					,type: 2
					,offset: 'auto'
					,area: ['90%', '90%']
					, btn:false
					,pageTabs: false
					,content: '{:url('system/index/house')}'
					,btn: ['确定','关闭']
					,yes: function(index, layero){
						var row = window["layui-layer-iframe" + index].hoesedata();
						/* console.log(row); */
						layer.close(index);
						that.prev("input").val(row.house_number);//获取房屋编号
					},btn2: function(index, layero){
						layer.close(index);
					}
		 });
	})
});
</script>
