 <div class="j-table-content j-no-tab">
	 <div class="layui-btn-container j-container-margin">
	     <div class="layui-btn-container"> 
             {if condition="in_array(269,$auths) || $Think.ADMIN_ROLE == 1"}      
	         <a href="{:url('add')}" class="j-iframe-pop" hisi-data="{width: '1200px', height: '500px',refresh: 1}" title="充值缴费"><button class="layui-btn"><i class="layui-icon layui-icon-add-1"></i>充值缴费</button></a>
             {/if}
	     </div>
	 </div>
 <div class="page-toolbar j-page-toolbar clearfix">
        <form class="layui-form layui-form-pane" action="{url('index')}" method="get" id="hisi-table-search">
            <div class="j-search-fl layui-col-md8  fl">
                <div class="layui-input-inline j-input-margin" style="width:160px;">
                    <input type="text" name="house_number" title="房屋编号" placeholder="房屋编号" class="layui-input">
                </div>
                <div class="layui-input-inline j-input-margin" style="width:120px;">
                    <input type="text" name="tenant_name" title="租户姓名" placeholder="租户姓名" class="layui-input">
                </div>  

                <div class="layui-input-inline j-input-margin" style="width:120px;">
                    <input type="text" name="ban_address" title="地址" placeholder="地址" class="layui-input">
                </div>
                {if condition="INST_LEVEL != 3"}
                <div class="layui-input-inline" style="width:120px;">
                    <select name="ban_inst_id">
                        <option value="">机构</option>
                        {volist name=":config('inst_check_names')[INST]" id="v"}
                        <option value="{$key}">{$v}</option>
                        {/volist}
                    </select>
                </div>
                {/if}
                <div class="layui-input-inline" style="width:120px;">
                    <select name="ban_owner_id">
                        <option value="">产别</option>
                        {volist name="params['owners']" id="v"}
                        <option value="{$key}">{$v}</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline" style="width:120px;">
                    <select name="house_use_id">
                        <option value="">使用性质</option>
                        {volist name="params['uses']" id="v"}
                        <option value="{$key}">{$v}</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline" style="width:120px;">
                    <select name="pay_way">
                        <option value="">充值方式</option>
                        {volist name="params['pay_way']" id="v"}
                        <option value="{$key}">{$v}</option>
                        {/volist}
                    </select>
                </div> 
                <div class="layui-input-inline j-input-margin" style="width:120px;">
                    <input type="text" name="pay_rent" title="充值金额" placeholder="充值金额" class="layui-input">
                </div>
                <div class="layui-input-inline j-input-margin" style="width:180px;">
                    <input type="text" name="ctime" title="日期范围" placeholder="日期范围" id="test6" class="layui-input">
                </div> 
            </div>
            <div class="j-search-fr layui-col-md4 fr">
            	<div class="layui-input-inline fr">
            		<div class="layui-input-inline" style="margin-left:10px;">
            			<button type="reset" class="layui-btn j-btn-reset">重置</button>
            			<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
            				<i class="layui-icon">&#xe615;</i>
            				搜索
            			</button>
            			<button type="button" class="layui-btn layui-btn-warm"><i class="layui-icon iconfont j-icon-screen_icon"></i>标题筛选</button>
            		</div>
            	</div>
            </div>
        </form>
</div>
{include file="system@block/layui" /}
<table id="dataTable" lay-filter='dataTable'></table>
<script type="text/html" id="toolbar">
</script>
<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="{:url('detail')}?id={{ d.id }}" hisi-data="{width: '1200px', height: '500px',refresh: 2}" title="详情" class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop">详情</a>
</script>
</div>
<script type="text/javascript">
    layui.use(['table','jquery','laydate'], function() {
        var table = layui.table;
        var laydate = layui.laydate;
        table.render({
            elem: '#dataTable'
            //,height: 550
            ,url: '{:url("index")}'
			,toolbar: true
			,defaultToolbar: ['filter','exports','print'] //设置右边筛选，导出，打印显示
            ,page: true 
            ,totalRow:true
            ,limit: 10
            ,text: {
                none : "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
            }
            ,cols: [[ //表头
                {field: 'house_number', minWidth: 140, align:'center', title: '房屋编号',  totalRowText: '合计'} 
                ,{field: 'ban_address', minWidth: 140, align:'center', title: '地址'}
                ,{field: 'ban_inst_id', minWidth: 120, hide:isShowInst, align:'center', title: '充值机构', templet: function(d) {
                    return params.insts[d.ban_inst_id];
                }}
                ,{field: 'ban_owner_id', minWidth: 80, align:'center', title: '产别', templet: function(d) {
                    return params.owners[d.ban_owner_id];
                }}
                ,{field: 'house_use_id', minWidth: 100, align:'center', title: '使用性质', templet: function(d) {
                    return params.uses[d.house_use_id];
                }}
                ,{field: 'tenant_name', minWidth: 140, align:'center', title: '租户姓名'}
                
                ,{field: 'pay_way', minWidth: 100, align:'center', title: '充值方式', templet: function(d) {
                    return params.pay_way[d.pay_way];
                }}
                ,{field: 'ctime', minWidth: 160, align:'center', title: '充值时间'}
                ,{field: 'pay_rent', minWidth: 100, align:'center', totalRow: true ,title: '充值金额'}
                ,{title: '操作', minWidth: 80,align:'center', templet: '#buttonTpl',fixed:'right'}
            ]]
            ,done:function(res,curr,count){
                //导出转换后台数据
				  var exportData=res.data;
				  for(i in exportData){
					 exportData[i].ban_inst_id = params.insts[exportData[i].ban_inst_id];//转化充值机构
					 exportData[i].ban_owner_id = params.owners[exportData[i].ban_owner_id];//转化产别
					 exportData[i].house_use_id = params.uses[exportData[i].house_use_id];//转化使用性质
					 exportData[i].pay_way = params.pay_way[exportData[i].pay_way];//转化缴纳方式
				  }
            }
        },isShowInst)
        //日期范围
        laydate.render({
            elem: '#test6'
            //,range: true
            ,range: '~'
        });
    });
    
</script>