<link rel="stylesheet" href="__ADMIN_JS__/select/formSelects-v4.css">
<div class="j-table-content j-no-title">
    <div class="j-table-content j-no-tab">
        <div class="layui-btn-container j-container-margin">
            <div class="layui-btn-container">
                {if condition="in_array(416,$auths) || $Think.ADMIN_ROLE == 1"}
                <a href="{:url('allVoiceDownLoad')}?group=y" title="需要勾选订单" data-id="order_id"
                   tips="此操作会将远程电子发票下载到本地，确认下载吗？" class="layui-btn layui-btn-normal hisi-page-btns confirm j-page-btns">下载发票到本地</a>
                {/if}
                {if condition="in_array(415,$auths) || $Think.ADMIN_ROLE == 1"}
                <a href="{:url('allDpkj')}?group=y" title="无需勾选订单" target="_blank"
                   confirm="由于开票系统有离线延迟限制，若一次开票数量过多，会造成等待时间变长，确认一键开票吗？" refresh="yes"
                   class="layui-btn layui-btn-normal j-ajax">一键开票</a>
                {/if}
                {if condition="in_array(417,$auths) || $Think.ADMIN_ROLE == 1"}
                <a href="{:url('allVoiceDown')}?group=y" title="无需勾选订单" target="_blank"
                   confirm="此操作会将远程电子发票下载到本地服务器，确认一键同步所有发票吗？" refresh="yes" class="layui-btn layui-btn-normal j-ajax">一键同步发票</a>
                {/if}
            </div>
        </div>
        <div class="page-toolbar j-page-toolbar clearfix">
            <form class="layui-form layui-form-pane" action="{url('index')}" method="get" id="hisi-table-search">
                <div class="j-search-fl layui-col-md8  fl">
                    <!-- <button type="button" class="layui-btn layui-btn-warm j-btn-voice-down">一键下载发票</button> -->
                    <!-- <a href="{:url('allVoiceDown')}" target="_blank" confirm="此操作会将远程电子发票下载到本地服务器，确认一键下载所有发票吗？" refresh="yes" class="layui-btn layui-btn-normal j-ajax">一键下载所有发票</a>
                    <a href="{:url('allVoiceDownLoad')}" data-id="order_id" tips="此操作会将远程电子发票下载到本地服务器，确认下载吗？" class="layui-btn layui-btn-normal hisi-page-btns confirm j-page-btns">下载发票到本地</a> -->
                    <!-- <button id="j-ajax-pdf" data-id="house_id" class="layui-btn layui-btn-warm" data-type="loading"><i class="layui-icon layui-icon-add-1"></i>导出催缴单</button> -->
                    <div class="layui-input-inline j-input-margin j-width-200">
                        <input type="text" name="out_trade_no" title="支付订单编号" placeholder="支付订单编号" class="layui-input">
                    </div>
                    <div class="layui-input-inline j-input-margin" style="width:100px;">
                        <input type="text" name="house_number" title="房屋编号" placeholder="房屋编号" class="layui-input">
                    </div>
                    <div class="layui-input-inline j-input-margin" style="width:120px;">
                        <input type="text" name="tenant_name" title="租户姓名" placeholder="租户姓名" class="layui-input">
                    </div>
                    {if condition="INST_LEVEL != 3"}
                    <div class="layui-input-inline j-width-130 j-margin-10 j-select-width130">
                        <select name="ban_inst_id" xm-select="ban_inst_id">
                            <option value="" disabled="disabled">机构</option>
                            {volist name=":config('inst_check_names')[INST]" id="v"}
                            <option value="{$key}">{$v}</option>
                            {/volist}
                        </select>
                    </div>
                    {/if}
                    <div class="layui-input-inline j-input-margin j-width-150">
                        <input type="text" name="ban_address" title="地址" placeholder="地址" class="layui-input">
                    </div>
                    <div class="layui-input-inline j-width-90 j-margin-10">
                        <select name="ban_owner_id" xm-select="ban_owner_id">
                            <option value="">产别</option>
                            {volist name="params['owners']" id="v"}
                            <option value="{$key}">{$v}</option>
                            {/volist}
                        </select>
                    </div>

                    <div class="layui-input-inline j-width-120 j-margin-10">
                        <select name="house_use_id" xm-select="house_use_id">
                            <option value="">使用性质</option>
                            {volist name="params['uses']" id="v"}
                            <option value="{$key}">{$v}</option>
                            {/volist}
                        </select>
                    </div>
                    <div class="layui-input-inline" style="width:160px;">
                        <select name="invoice_id">
                            <option value="">开票状态</option>
                            <option value="1">已开票</option>
                            <option value="2">未开票</option>
                        </select>
                    </div>

                    <div class="layui-input-inline" style="width:180px;">
                        <select name="pay_way">
                            <option value="">支付方式</option>
                            <option value="1">现金支付</option>
                            <option value="2">微信支付</option>
                        </select>
                    </div>
                    <div class="layui-input-inline" style="width:180px;">
                        <select name="order_status">
                            <option value="">支付状态</option>
                            {volist name="params['order_status']" id="v"}
                            {if condition="$key != 3"}
                            <option value="{$key}">{$v}</option>
                            {/if}
                            {/volist}
                        </select>
                    </div>
                    <div class="layui-input-inline j-input-margin" style="width:280px;">
                        <input type="text" name="ptime" title="日期范围" placeholder="日期范围" id="test6" class="layui-input"
                               value="{:date('Y-m')}-01 ~ {:date('Y-m',strtotime('1 month'))}-01">
                    </div>

                    <!-- <div class="layui-input-inline j-input-margin j-width-100">
                          <input type="text" name="pay_openid" title="OPENID" placeholder="OPENID" class="layui-input">
                    </div> -->
                    <!-- <div class="layui-input-inline j-input-margin j-width-100">
                          <input type="text" name="house_number" title="房屋编号" placeholder="房屋编号" class="layui-input">
                    </div> -->
                    <!-- <div class="layui-input-inline layui-col-md2 j-input-margin j-width-110">
                        <input type="text" name="user_tel" title="用户手机号" placeholder="用户手机号" class="layui-input">
                    </div>
                    <div class="layui-input-inline layui-col-md2 j-input-margin j-width-110">
                        <input type="text" name="ban_address" title="楼栋地址" placeholder="楼栋地址" class="layui-input">
                    </div> -->
                    <!-- <div class="layui-input-inline layui-col-md2 j-input-margin j-width-110">
                        <input type="text" name="tel" title="手机号" placeholder="手机号" class="layui-input">
                    </div> -->

                    <!-- <select name="pay_state">
                        <option value="">支付状态</option>
                        <option value="1">已支付</option>
                        <option value="2">已退款</option>
                    </select> -->

                </div>
                <div class="j-search-fr layui-col-md4 fr">
                    <div class="layui-input-inline fr">
                        <button type="reset" class="layui-btn j-btn-reset">重置</button>
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
                            <i class="layui-icon">&#xe615;</i>
                            搜索
                        </button>
                        <button type="button" class="layui-btn layui-btn-warm"><i
                                class="layui-icon iconfont j-icon-screen_icon"></i>标题筛选
                        </button>

                    </div>
                </div>
            </form>
        </div>
        {include file="system@block/layui" /}
        <table id="dataTable" lay-filter='dataTable'></table>
        <script type="text/html" title="操作按钮模板" id="buttonTpl">
            {{#  if (d.trade_type != 'CASH') { }}
            {{#  if (d.order_status == 1) { }}
            {{#  if (d.invoice_id <= 0) { }}
            <a href="{:url('dpkj')}?group=y&id={{ d.order_id }}" target="_blank" confirm="确认开票吗？开票后订单将无法退款"
               refresh="yes" class="layui-btn layui-btn-xs layui-btn-normal j-ajax">开票</a>
            {{# }else{ }}
            <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-disabled">已开票</a>
            {{# } }}
            {if condition="in_array(418,$auths) || $Think.ADMIN_ROLE == 1"}
            <a href="{:url('payRefund')}?group=y&id={{ d.order_id }}"
               hisi-data="{width: '800px', height: '640px',refresh: 2}" title="退款信息"
               class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop">退款</a>
            {else /}
            <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-disabled">退款</a>
            {/if}
            {{# }else{ }}
            <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-disabled">退款</a>
            {{# } }}
            {{# } }}
            <a href="{:url('payDetail')}?group=y&id={{ d.order_id }}"
               hisi-data="{width: '800px', height: '532px',refresh: 2}" title="支付记录详情"
               class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop">详情</a>
        </script>
    </div>
    <script type="text/javascript">
        layui.use(['table', 'jquery', 'layer', 'formSelects', 'laydate'], function () {
            var table = layui.table
                , $ = layui.$
                , laydate = layui.laydate
                , formSelects = layui.formSelects;

            //日期范围
            laydate.render({
                elem: '#test6'
                //,range: true
                , range: '~'
            });

            table.render({
                elem: '#dataTable'
                // ,height: 330
                , totalRow: true
                , toolbar: true
                , defaultToolbar: ['filter'/*,'exports'*/, 'print']//设置右边筛选，导出，打印显示
                , url: '{:url()}?group=y' //数据接口
                , page: true //开启分页
                , limits: [10, 20, 30, 40, 50, 100, 200]
                , limit: 10
                , text: {
                    none: "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
                }
                , cols: [[ //表头
                    {type: 'checkbox'}
                    , {field: 'out_trade_no', minWidth: 200, align: 'center', title: '支付订单编号',totalRowText: '合计：'}
                    , {field: 'house_number', width: 160, align: 'center', title: '房屋编号'}
                    , {field: 'tenant_name', minWidth: 160, hide: false, align: 'center', title: '租户姓名'}
                    // ,{field: 'weixin_url', minWidth: 110, align:'center', title: '图像地址',hide: true}

                    , {
                        field: 'ban_inst_id',
                        minWidth: 120,
                        hide: isShowInst,
                        align: 'center',
                        title: '管段',
                        templet: function (d) {
                            return params.insts[d.ban_inst_id];
                        }
                    }
                    , {field: 'ban_address', minWidth: 200, align: 'center', title: '地址'}
                    , {
                        field: 'ban_owner_id', minWidth: 80, align: 'center', title: '产别', templet: function (d) {
                            return params.owners[d.ban_owner_id];
                        }
                    }
                    , {
                        field: 'house_use_id', minWidth: 100, align: 'center', title: '使用性质', templet: function (d) {
                            return params.uses[d.house_use_id];
                        }
                    }
                    //,{field: 'openid',minWidth:260,hide:true,align:'center', title: 'OPENID'}
                    , {field: 'house_pre_rent', width: 100, hide: false, align: 'center', title: '规定租金'}
                    , {field: 'pay_money', width: 100, hide: false, align: 'center', title: '支付金额',totalRow: true}
                    , {
                        field: 'weixin_username', minWidth: 120, align: 'center', title: '支付用户', templet: function (d) {
                            return '<div class="j-user"><img src="' + d.avatar + '" alt="" width="28px" height="28px"></a>  ' + d.member_name + '</div>';
                        }
                    }
                    , {
                        field: 'trade_type', minWidth: 200, align: 'center', title: '支付方式', templet: function (d) {
                            if (d.trade_type == 'CASH') {
                                return '现金支付';
                            } else if (d.trade_type == 'JSAPI') {
                                return '微信支付';
                            } else if (d.trade_type == 'NATIVE') {
                                return '微信支付';
                            }

                        }
                    }
                    //,{field: 'transaction_id', width: 260, align:'center', title: '交易编号'}
                    , {
                        field: 'order_status', align: 'center', width: 120, title: '支付状态', templet: function (d) {
                            //if(parseInt(d.order_status) == 1){
                            return '<div class="layui-table-cell">' + params.order_status[d.order_status] + '</div>';
                            //   }else if(parseInt(d.order_status) == 2){
                            // return '<div class="layui-table-cell">已退款</div>';
                            //   }

                        }
                    }
                    , {field: 'ptime', width: 160, align: 'center', title: '支付时间'}
                    , {title: '操作', width: 180, align: 'left', templet: '#buttonTpl', fixed: 'right'}
                ]]
                //          ,
                // data: [{
                //          'weixin_id': '10500335300299202002',
                //          'weixin_url':'https://h.2345cdn.net/i/search190510/idx-1.png',
                //          'weixin_username': 'lsn',
                // 'weixin_openid': 'oH4X25ZJjygxqcgzcI5x18KQvzCc',
                //          'weixin_number': '10500335300299',
                //          "weixin_address": '沙湖明珠',
                // "transaction_number": '4200000518202003030187224896',
                // "weixin_time": '2020-03-03 15:25:26',
                //          "weixin_type": 2,
                //        }
                //      ]
                , done: function (res, curr, count) {
                    $(".layui-table-total td[data-field='pay_money']").find("div").text(res.total_pay_money);
                    console.log("支付记录数据：", res);
                    // 根据类型标注颜色
                     var result = res.data;
                     console.log('res：',res);
                     for (var i = 0; i < result.length; i++) {
                        console.log('这是支付时间：',result);
                        if(result[i].trade_type == 'JSAPI' || result[i].trade_type == 'NATIVE'){
                            $("[lay-id='dataTable'] tr[data-index="+i+"]").css('color','#5fb878');

                        }
                        
                     }
                }
            }, isShowInst);
            $(".j-search-fr .layui-btn:last").addClass("on");//搜索最后按钮样式

        });
    </script>