{if condition="$group == 'y'"}

<!-- 退款 -->
<form class="layui-form j-definition" action="{:url()}?group=y&id={$data_info['order_id']}">
  <div class="layui-form-item">
	<label class="layui-form-label">支付订单编号：</label>
	<div class="layui-form-mid layui-word-aux">{$data_info['out_trade_no']}</div>
 </div>
 <div class="layui-form-item">
	<label class="layui-form-label">用户：</label>
	<div class="layui-form-mid layui-word-aux">{$data_info['member_name']}</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">OPENID：</label>
 	<div class="layui-form-mid layui-word-aux">{$data_info['openid']}</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">支付详情：</label>
 	<div class="layui-form-mid layui-word-aux">
 	<table class="layui-table">
  <colgroup>
    <col width="150">
    <col width="200">
  </colgroup>
  <thead>
    <tr>
      <th>房屋编号</th>
      <th>租金订单编号</th>
      <th>租金订单日期</th>
      <th>支付金额/元</th>
    </tr> 
  </thead>
  <tbody>
  	{volist name="houses" id="v"}
    <tr>
      <td>{$v['house_number']}</td>
      <td>{$v['rent_order_number']}</td>
      <td>{$v['rent_order_date']}</td>
      <td>{$v['pay_dan_money']}</td>
    </tr>
    {/volist}
  </tbody>
</table>
</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">用户手机：</label>
 	<div class="layui-form-mid layui-word-aux">{$data_info['tel']}</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">交易编号：</label>
 	<div class="layui-form-mid layui-word-aux">{$data_info['transaction_id']}</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">支付时间：</label>
 	<div class="layui-form-mid layui-word-aux">{$data_info['ptime']}</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">退款时间：</label>
 	<div class="layui-form-mid layui-word-aux"></div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label"><i class="red">*</i> 备注：</label>
 	<div class="layui-form-mid layui-word-aux">
 	<textarea name="ref_description" lay-verify="required" style="width:300px;height:100px;padding: 10px;"></textarea>
 	<!-- <input type="text" id="title" name="title" autocomplete="off" class="layui-input"> -->
 	</div>
 </div>
 <div class="pop-bottom-bar">
   <div class="layui-input-block">
     <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" hisi-data="{pop: true, refresh: true}" lay-filter="formSubmit">退款</button>
     <a href="{:url('payrecord')}" class="layui-btn layui-btn-primary j-cancel">取消</a>
   </div>
 </div>
</form>	
{include file="system@block/layui" /}
<script>
var formData = {:json_encode($formData)};
layui.use(['form', 'func','jquery'], function() {

    var $ = layui.jquery, form = layui.form;
    layui.func.assign(formData);
	$(".j-cancel").click(function(){
		// 在子页面关闭弹出层
		var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
		parent.layer.close(index); //再执行关闭   
		
	})
});
</script>

{else /}

<!-- 退款 -->
<form class="layui-form j-definition" action="{:url()}?group=x&id={$data_info['id']}">
  <div class="layui-form-item">
  <label class="layui-form-label">支付订单编号：</label>
  <div class="layui-form-mid layui-word-aux">{$data_info['out_trade_no']}</div>
 </div>
 <div class="layui-form-item">
  <label class="layui-form-label">用户：</label>
  <div class="layui-form-mid layui-word-aux">{$data_info['member_name']}</div>
 </div>
 <div class="layui-form-item">
  <label class="layui-form-label">OPENID：</label>
  <div class="layui-form-mid layui-word-aux">{$data_info['openid']}</div>
 </div>
 
 <div class="layui-form-item">
  <label class="layui-form-label">用户手机：</label>
  <div class="layui-form-mid layui-word-aux">{$data_info['tel']}</div>
 </div>
 <div class="layui-form-item">
  <label class="layui-form-label">交易编号：</label>
  <div class="layui-form-mid layui-word-aux">{$data_info['transaction_id']}</div>
 </div>
 <div class="layui-form-item">
  <label class="layui-form-label">支付时间：</label>
  <div class="layui-form-mid layui-word-aux">{$data_info['ptime']}</div>
 </div>
 <div class="layui-form-item">
  <label class="layui-form-label">退款时间：</label>
  <div class="layui-form-mid layui-word-aux"></div>
 </div>
 <div class="layui-form-item">
  <label class="layui-form-label"><i class="red">*</i> 备注：</label>
  <div class="layui-form-mid layui-word-aux">
  <textarea name="ref_description" lay-verify="required" style="width:300px;height:100px;padding: 10px;"></textarea>
  <!-- <input type="text" id="title" name="title" autocomplete="off" class="layui-input"> -->
  </div>
 </div>
 <div class="pop-bottom-bar">
   <div class="layui-input-block">
     <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" hisi-data="{pop: true, refresh: true}" lay-filter="formSubmit">退款</button>
     <a href="{:url('index')}" class="layui-btn layui-btn-primary j-cancel">取消</a>
   </div>
 </div>
</form> 
{include file="system@block/layui" /}
<script>
var formData = {:json_encode($formData)};
layui.use(['form', 'func','jquery'], function() {

    var $ = layui.jquery, form = layui.form;
    layui.func.assign(formData);
  $(".j-cancel").click(function(){
    // 在子页面关闭弹出层
    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
    parent.layer.close(index); //再执行关闭   
    
  })
});
</script>

{/if}