<div class="page-toolbar">
    <form class="layui-form layui-form-pane" action="{url('index')}"  method="get" id="hisi-table-search">
        <div class="layui-input-inline" style="width:150px;">
            <input type="text" name="op_order_number" placeholder="工单编号" class="layui-input">
        </div>
        <div class="layui-input-inline" style="width:120px;padding-left:5px">
            <select name="op_order_type">
                <option value="">工单类型</option>
                {volist name="params['op_order_type']" id="v"}
                <option value="{$key}">{$v}</option>
                {/volist}
              </select>
        </div>
        <div class="layui-input-inline" style="margin-left:10px;">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
                <i class="layui-icon">&#xe615;</i>
                搜索
            </button>
            <button type="reset" class="layui-btn">重置</button>
        </div>
    </form>
</div>
{include file="system@block/layui" /}
<table id="dataTable" lay-filter='dataTable'></table>
<script type="text/html" id="toolbar">
  <div class="layui-btn-container">

  </div>
</script>
<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="{:url('detail')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">详情</a>  
</script>
<script type="text/javascript">
    layui.use(['table','jquery'], function() {
        var table = layui.table;
        table.render({
            elem: '#dataTable'
            ,height: 550
            ,url: '{:url("order/Myorder/index")}?group=j' //数据接口
            ,page: true //开启分页
            ,limit: 10
            ,text: {
                none : '暂无相关数据'
            }
            ,cols: [[ //表头
                {field: 'op_order_number', width: 180, align:'center', title: '工单编号'}
                ,{field: 'op_order_type', width: 140, align:'center', title: '工单类型', templet: function(d) {
                    return params.op_order_type[d.op_order_type];
                }} 
                ,{field: 'inst_id', width: 120, align:'center', title: '机构', templet: function(d) {
                    return params.insts[d.inst_id];
                }}
                ,{field: 'remark', width: 300, align:'center', title: '问题详情'}
                ,{field: 'status_info', width: 180, align:'center', title: '状态'}
                ,{field: 'ctime', width: 180, align:'center', title: '创建时间'}
                ,{field: 'nick', width: 100, align:'center', title: '发起人'}
                ,{title: '操作', minWidth: 180, align:'center', templet: '#buttonTpl',fixed:'right'}
            ]]
            ,done:function(res,curr,count){
               
            }
        },isShowInst)
    });
</script>