<div class="j-table-content j-no-searchs">
<div class="layui-btn-container j-container-margin">
	<div class="layui-btn-container">
	<button data-href="{:url('del?table=admin_log')}" class="layui-btn layui-btn-gray hisi-page-btns confirm j-page-btns"><i class="layui-icon layui-icon-close"></i>删除</button>
	<a href="{:url('clear')}" refresh="yes" class="layui-btn  hisi-page-btns layui-bg-red j-ajax confirm" data-table="dataTable"><i class="layui-icon layui-icon-delete"></i>清空所有</a>
	</div>
</div>	
<table id="dataTable"></table>

<script type="text/html" id="toolbar">
</script>

{include file="block/layui" /}
</div>
<script type="text/javascript">
    layui.use(['table'], function() {
        var table = layui.table;
        table.render({
            elem: '#dataTable'
            ,url: '{:url()}' //数据接口
            ,page: true //开启分页
            ,limit: 20
            ,skin: 'row'
            ,even: true
            ,text: {
                none : '暂无相关数据'
            }
            //,toolbar: '#toolbar'
            //,defaultToolbar: ['filter']
            ,cols: [[ //表头
                {type:'checkbox'}
                ,{field: 'uid', title: '操作者',align:'center', templet: function(d) {
                    return '<a href="{:url()}?uid='+ d.uid +'&page=1" class="hisi-table-a-filter">' + d.user.nick + '</a>';
                }}
                ,{field: 'title', title: '操作名称',align:'center'}
                ,{field: 'url', title: '操作地址',align:'center',  templet: function(d) {
                    return '<a href="' + d.url + '">' + d.url + '</a>';
                }}
                ,{field: 'remark', title: '操作备注',align:'center'}
                ,{field: 'count', title: '操作统计',align:'center'}
                ,{field: 'ip', title: 'IP地址',align:'center'}
                ,{field: 'mtime', title: '最近访问',align:'center'}
            ]]
        });
    });
</script>