<form class="layui-form" action="" method="post" >
  <div class="j-details-box floorWrap">
	<fieldset class="layui-elem-field layui-field-title j-field-box">
		<legend>基本信息</legend>
	</fieldset>
	<table  class="layui-table j-house-boxs">
	  <thead>
		  <tr>
		    <th>异动类别</th>
		    <th>原管段</th>
		    <th>新管段</th>
		  </tr>
	  </thead>
	 <tbody>
	   <tr>
	 	  <td id="write_type">管段调整</td>
		  <td id="raw_pipesection">{$params.insts[$Think.INST]}</td>
		  <td id="new_pipesection">
			  <select id="ban_inst_id" name="new_inst_id" class="field-cid" type="select" lay-filter="requireds" lay-verify="required">
				<option value="">请选择</option>
				{volist name="$insts" id="v"}
				<option value="{$key}">{$v}</option>
				{/volist}
			  </select>
		  </td>
	   </tr>
	 </tbody>
	</table>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md8">
			<label class="j-form-label">异动原因</label>
			<div class="j-input-inline">
				<input type="text" id="tenant_reason" name="change_remark" value="" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
		<legend>异动明细</legend>
	</fieldset>
    <a href="javascript:;"  class="layui-btn j-house_number"><i class="layui-icon layui-icon-add-1"></i>添加调整楼栋</a>
	<table  class="layui-table j-house-box">
	  <thead>
		  <tr>
		    <th>楼栋编号</th>
		    <th>楼栋地址</th>
		    <th>栋数</th>
		    <!-- <th>户数</th> -->
		    <th>建筑面积</th>
		    <th>规定租金</th>
			<th>原价</th>
			<th>使用面积</th>
			<th>操作</th>
		  </tr>
	  </thead>
	  <tbody>
	    <tr id="defaultTr"><td colspan='9'><div class='j-no-content'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无数据！</div></td></tr>
	 </tbody>
	</table>
  <fieldset class="layui-elem-field layui-field-title j-field-box">
  	<legend>异动信息</legend>
  </fieldset>
  <table  class="layui-table j-info-boxs">
    <tbody>
      <tr>
		  <td width="20%">管段</td>
		  <td width="40%"><input type="text" name="pipe_segment_old" readonly="" value="" placeholder="" autocomplete="off" class="layui-input"></td>
		  <td width="40%"><input type="text" name="pipe_segment_new" readonly="" value="" placeholder="" autocomplete="off" class="layui-input hide"></td>
	  </tr>
	  <tr>
		  <td>栋数</td>
		  <td><input type="text" name="number_buildings_old" readonly="" value="" placeholder="" autocomplete="off" class="layui-input"></td>
		  <td><input type="text" name="number_buildings_new" readonly="" value="" placeholder="" autocomplete="off" class="layui-input hide"></td>
	  </tr>
<!-- 	  <tr>
		  <td>户数</td>
		  <td id="households_old">&nbsp;</td>
		  <td id="households_new">&nbsp;</td>
	  </tr> -->
	  <tr>
		  <td>建筑面积</td>
		  <td><input type="text" name="builtup_area_old" readonly="" value="" placeholder="" autocomplete="off" class="layui-input"></td>
		  <td><input type="text" name="builtup_area_new" readonly="" value="" placeholder="" autocomplete="off" class="layui-input hide"></td>
	  </tr>
	  <tr>
		  <td>规定租金</td>
		  <td><input type="text" name="prescribed_rent_old" readonly="" value="" placeholder="" autocomplete="off" class="layui-input"></td>
		  <td><input type="text" name="prescribed_rent_new" readonly="" value="" placeholder="" autocomplete="off" class="layui-input hide"></td>
	  </tr>
	  <tr>
		  <td>原价</td>
		  <td><input type="text" name="original_price_old" readonly="" value="" placeholder="" autocomplete="off" class="layui-input"></td>
		  <td><input type="text" name="original_price_new" readonly="" value="" placeholder="" autocomplete="off" class="layui-input hide"></td>
	  </tr>
	  <tr>
		  <td>使用面积</td>
		  <td><input type="text" name="area_use_old" readonly="" value="" placeholder="" autocomplete="off" class="layui-input"></td>
		  <td><input type="text" name="area_use_new" readonly="" value="" placeholder="" autocomplete="off" class="layui-input hide"></td>
	  </tr>
   </tbody>
 </table>
 {include file="common/submit"}
  <!-- <div class="layui-row layui-form-item layui-col-space90">
		<div class="j-margin-btn">
			<a href="javascript:history.go(-1)" class="layui-btn layui-btn-primary">取消</a>
			<button type="submit" j-data="{'save_type':'save'}" class="layui-btn" lay-submit lay-filter="formSubmit">保存</button>
			<button type="submit" j-data="{'save_type':'submit'}" class="layui-btn" lay-submit lay-filter="formSubmit">保存并提交</button>
		</div>
	</div> -->
  </div>
</form>
{include file="system@block/layui" /}
<script type="text/javascript">
	layui.use(['jquery', 'laydate', 'upload', 'form','table'], function() {
		var table = layui.table
		    ,form = layui.form
			,$ = layui.jquery
			,upload = layui.upload
			,layer = layui.layer;
			//异动信息
			 $("input[name='pipe_segment_old']").val($("#raw_pipesection").text());//原管段
			form.on('select(requireds)', function(data){
				selectedName = data.elem[data.elem.selectedIndex].text;
				if(data.value==0)
				{
					$(".j-info-boxs tr:eq(0) td:eq(2)").find(".layui-input").hide();
					$(".j-info-boxs tr:eq(1) td:eq(2)").find(".layui-input").hide();
					$(".j-info-boxs tr:eq(2) td:eq(2)").find(".layui-input").hide();
					$(".j-info-boxs tr:eq(3) td:eq(2)").find(".layui-input").hide();
					$(".j-info-boxs tr:eq(4) td:eq(2)").find(".layui-input").hide();
					$(".j-info-boxs tr:eq(5) td:eq(2)").find(".layui-input").hide();
				}
				else{
					$("input[name='pipe_segment_new']").val(selectedName);
					$(".j-info-boxs tr td").find(".layui-input").show();
				}
				form.render('select');
			}); 
		var tdsumnum =0;//异动信息栋数
		var tdsumhouse =0;//异动信息户数
		var tdsumarea =0;//异动信息建筑面积
		var tdsumrent =0;//异动信息规定租金
		var tdsumoprice =0;//异动信息原价
		var tdsumuse =0;//异动使用面积
		//遍历table求和
		function computation(){
			tdsumnum= 0;
			tdsumarea= 0;
			tdsumrent= 0;
			tdsumoprice= 0;
			tdsumuse= 0;
			var trList = $(".j-house-box tbody").children("tr");
			for (var j=0;j<trList.length;j++) {
					var tdArr = trList.eq(j).find("td"); //遍历td  
						//栋数
						tdsumnum += parseFloat(tdArr.eq(2).text()).toFixed(2)*100;//栋数
						$("input[name='number_buildings_old']").val('-'+tdsumnum.toFixed(2)/100);
						$("input[name='number_buildings_new']").val(tdsumnum.toFixed(2)/100);
						//建筑面积
						tdsumarea += parseFloat(tdArr.eq(3).text()).toFixed(2)*100;//建筑面积
						$("input[name='builtup_area_old']").val('-'+tdsumarea.toFixed(2)/100);
						$("input[name='builtup_area_new']").val(tdsumarea.toFixed(2)/100);
						//规定租金
						tdsumrent += parseFloat(tdArr.eq(4).text()).toFixed(2)*100;//规定租金
						$("input[name='prescribed_rent_old']").val('-'+tdsumrent.toFixed(2)/100);
						$("input[name='prescribed_rent_new']").val(tdsumrent.toFixed(2)/100);
						//原价
						tdsumoprice += parseFloat(tdArr.eq(5).text()).toFixed(2)*100;//原价
						$("input[name='original_price_old']").val('-'+tdsumoprice.toFixed(2)/100);
						$("input[name='original_price_new']").val(tdsumoprice.toFixed(2)/100);
						//使用面积
						tdsumuse += parseFloat(tdArr.eq(6).text()).toFixed(2)*100;//使用面积
						$("input[name='area_use_old']").val('-'+tdsumuse.toFixed(2)/100);
						$("input[name='area_use_new']").val(tdsumuse.toFixed(2)/100);
						//去重
						//console.log(tdArr.eq(0).text());
					
			}	
		}
		$('.j-house-box tbody').html("");
		//获取房屋查询器
		 $(".layui-form").on('click','.j-house_number',function(){
			layer.open({
						title: '楼栋查询器'
						,type: 2
						,offset: 'auto'
						,area: ['70%', '69%']
						, btn:false
						,pageTabs: false
						,content: '{:url('system/index/cancellations')}?change_type=10&hisi_iframe=yes'
						,btn: ['确定','关闭']
						,yes: function(index, layero){
							//var row = window["layui-layer-iframe" + index].callbackdata();
							var row = window["layui-layer-iframe" + index].callbackdatas();
							console.log(row);
							layer.close(index);
							//添加楼栋单选
							/* var trData ='<tr>\
												<td class="building_number">'+row.ban_number+'</td>\
												<td class="building_address">'+row.ban_address+'</td>\
												<td class="building_buildings">'+row.ban_num+'</td>\
												<td class="builtup_area">'+row.ban_area+'</td>\
												<td class="prescribed_rent">'+row.ban_rent+'</td>\
												<td class="original_price">'+row.ban_oprice+'</td>\
												<td class="areaof_use">'+row.ban_use_area+'</td>\
											</tr>'; */
							//console.log($('#defaultTr').html());
							
							//基本信息
							//$('#ban_ids').val($('.ba'));
							//var trData = '';
							var trData = '';
							//$('.ban_ids').val("");
							
							// 组装比对数组，用于去重
							var banid = $(".ban_ids");
							var arr = new Array();
							if(banid){
								for(var i=0;i<banid.length;i++) {
									arr.push(parseInt(banid[i].defaultValue));
								} 		
							}					
						
							//房屋信息
							if(row){
								//var houseidData = '';
								for(var i=0;i<row.length;i++) {
									// 去重
									if(arr && arr.indexOf(parseInt(row[i].ban_id)) > -1){
										continue;
									}
									/*houseidData += ','+row[i].ban_number;
									 var sumnum = parseFloat(row[i].ban_civil_num).toFixed(2)*100+parseFloat(row[i].ban_party_num).toFixed(2)*100+parseFloat(row[i].ban_career_num).toFixed(2)*100;//栋数
									var sumarea = parseFloat(row[i].ban_civil_area).toFixed(2)*100+parseFloat(row[i].ban_party_area).toFixed(2)*100+parseFloat(row[i].ban_career_area).toFixed(2)*100;//建筑面积
									var sumrent = parseFloat(row[i].ban_civil_rent).toFixed(2)*100+parseFloat(row[i].ban_party_rent).toFixed(2)*100+parseFloat(row[i].ban_party_rent).toFixed(2)*100;//规定租金
									var sumoprice = parseFloat(row[i].ban_civil_oprice).toFixed(2)*100+parseFloat(row[i].ban_party_oprice).toFixed(2)*100+parseFloat(row[i].ban_career_oprice).toFixed(2)*100;//原价 */
									trData +='<tr>\
												<td class="building_number"><input type="hidden" name="ban_ids[]" class="ban_ids" value="'+row[i].ban_id+'">'+row[i].ban_number+'</td>\
												<td class="building_address">'+row[i].ban_address+'</td>\
												<td class="building_buildings">'+row[i].ban_num+'</td>\
												<td class="builtup_area">'+row[i].ban_area+'</td>\
												<td class="prescribed_rent">'+row[i].ban_rent+'</td>\
												<td class="original_price">'+row[i].ban_oprice+'</td>\
												<td class="areaof_use">'+row[i].ban_use_area+'</td>\
												<td class="house_delete"><label  class="layui-btn layui-btn-xs layui-btn-danger">删除</label></td>\
											</tr>';
									
									/* if($('.j-house-box tbody').html()){
										$('.j-house-box tbody').html(trData);
									}else{
										  $('.j-house-box tbody').append(trData);	
									}
								 */
									// $('.j-house-box tbody').before('<input type="hidden" name="ban_ids[]" class="ban_ids" value="'+row[i].ban_id +'">');
									//console.log(row[i].ban_number);
							    }
								$('.j-house-box tbody').append(trData);
						        computation();

						        
						}
					},btn2: function(index, layero){
						layer.close(index);
					}
			 });
		})
		//删除
		$( ".j-house-box").on( "click", ".house_delete", function() {
			var that=$(this);
			layer.confirm('确定要删除吗？', function(index){
			  var htmls=$(".j-house-box tbody tr");
			  console.log(htmls);
			  if(htmls.length<=1){
			  	$(".j-info-boxs tbody tr").not(":first").find("input").val(0);
			  }
			 that.parents("tr").remove();
			 computation();
			  layer.close(index);
			});  
		})	
	});
</script>
