<form class="layui-form" action="{url('add')}" method="post">
  <div class="j-details-box  floorWrap">
		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>基本信息</legend>
		</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md12">
				<label class="j-form-label"><i class="red">*</i>房屋编号</label>
				<div class="j-input-inline j-tips">
					<input type="text" id="house_number" lay-verify="required" readonly value="" placeholder="点击查询" autocomplete="off" class="layui-input">
					<input type="hidden" id="ban_id" name="ban_id">
					<input type="hidden" id="house_id" name="house_id">
					<b class="j-explain-search j-house_number">查询</b>
				</div>
				<div class="layui-form-mid layui-word-aux j-size-class"></div>
			</div>
		</div>
        <div class="layui-row layui-form-item layui-col-space90">
        	<div class="layui-col-md4">
        		<label class="j-form-label">楼栋编号</label>
        		<div class="j-input-inline">
        			<input type="text"  id="ban_number" readonly value="" placeholder="" autocomplete="off" class="layui-input">
        		</div>
        	</div>
        	<div class="layui-col-md4">
        		<label class="j-form-label">房屋结构</label>
        		<div class="j-input-inline">
        			<input type="text" id="tenant_number" readonly value="" placeholder="" autocomplete="off" class="layui-input">
        		</div>
        	</div>
        	<div class="layui-col-md4">
        		<label class="j-form-label">楼层数量</label>
        		<div class="j-input-inline">
        			<input type="text" id="house_door" readonly value="" autocomplete="off" class="layui-input">
        		</div>
        	</div>
        </div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">租户</label>
				<div class="j-input-inline">
					<input type="text" id="house_tenant" readonly value="" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">居住层</label>
				<div class="j-input-inline">
					<input type="text" id="house_floor_layer"  readonly value="" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">产别</label>
				<div class="j-input-inline">
					<input type="text" id="ban_owner_id"  readonly value="" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">房屋地址</label>
				<div class="j-input-inline">
					<input type="text" id="ban_address" readonly value="" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">实有面积</label>
				<div class="j-input-inline">
					<input type="text" id="house_oprice" readonly value="" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">计租面积</label>
				<div class="j-input-inline">
					<input type="text" id="house_area" readonly value="" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">规定租金</label>
				<div class="j-input-inline">
					<input type="text" id="house_money" readonly value="" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">计算租金</label>
				<div class="j-input-inline">
					<input type="text" id="house_unit_id" readonly value="" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">租差</label>
				<div class="j-input-inline">
					<input type="text" id="house_floor_id" readonly value="" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">泵费</label>
				<div class="j-input-inline">
					<input type="text" id="pump_fee" readonly value="" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">租金减免</label>
				<div class="j-input-inline">
					<input type="text" id="rent_relief" readonly value="" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">协议租金</label>
				<div class="j-input-inline">
					<input type="text" id="agreement_rent" readonly value="" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">电梯</label>
				<div class="j-input-inline">
					<input type="text" id="elevator" readonly value="" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>异动明细</legend>
		</fieldset>
		<table  class="layui-table">
		  <thead>
			  <tr>
			    <th width="20%">异动类型</th>
			    <th class="cancel" width="30%">异动前</th>
			    <th class="cancel" width="50%">异动后</th>
			  </tr>
		  </thead>
		  <tbody>
		    <tr>
			  <td>租差</td>
			  <td id="changes_difference_old"></td>
			  <td class="changes_difference_news"><input type="number" class="layui-input cancel_change" id="changes_difference_news" name="changes_difference_news" value="0" autocomplete="off"></td>
		    </tr>
			<tr>
			  <td>泵费</td>
			  <td id="changes_pumpfee_old"></td>
			  <td class="changes_pumpfee_news"><input type="number" class="layui-input ancel_change" id="changes_pumpfee_news" name="changes_pumpfee_news" value="0" autocomplete="off"></td>
			</tr>
			<tr>
			  <td>协议租金</td>
			  <td id="changes_agreement_old"></td>
			  <td class="changes_agreement_news"><input type="number" class="layui-input ancel_change" id="changes_agreement_news" name="changes_agreement_news" value="0" autocomplete="off"></td>
			</tr>
			<tr>
			  <td>建筑面积</td>
			  <td id="changes_architecture_old"></td>
			  <td><input type="number" class="layui-input ancel_change" id="changes_architecture_news" name="changes_architecture_news" value="0" autocomplete="off"></td>
			</tr>
			<tr>
			  <td>原价</td>
			  <td id="changes_originalprice_old"></td>
			  <td><input type="number" class="layui-input ancel_change" id="changes_originalprice_news" name="changes_originalprice_news" value="0" autocomplete="off"></td>
			</tr>
			<tr>
			  <td>规定租金</td>
			  <td id="changes_rule_old"></td>
			  <td id="changes_rule_news"></td>
			</tr>
		  </tbody>
		</table>
		<fieldset class="layui-elem-field layui-field-title j-field-box">
			<legend>原房间信息</legend>
		</fieldset>
		<table class="layui-table ">
			<thead class="j-table-center">
				<tr>
					<th>房屋类型</th>
					<th>房间编号</th>
					<th>间号</th>
					<th>绑定楼栋</th>
					<th>绑定房屋</th>
					<th>产别</th>
					<th>单元号</th>
					<th>层次</th>
					<th>实有面积</th>
					<th>基价折减</th>
					<th>计租面积</th>
					<th>层次调解率</th>
					<th>计算租金</th>
					<th>状态</th>
				</tr> 
			</thead>
			<tbody  class="j-table-tbody">
				
			</tbody>
		</table>
		<fieldset class="layui-elem-field layui-field-title j-field-box">
			<legend>异动后房间信息</legend>
		</fieldset>
		<div class="layui-row">
			  <a data-href="javascript:;" class="layui-btn layui-btn-primary layui-icon layui-icon-add-1 j-iframe-add-change" style="color:#0084FF;" hisi-data="{width: '60%', height: '600px'}" title="新增房间">新增房间</a>
		</div>
		<!-- 异动后房间信息 -->
		<table class="layui-table ">
		<thead class="j-table-center">
			<tr>
				<th>房屋类型</th>
				<th>房间编号</th>
				<th>间号</th>
				<th>绑定楼栋</th>
				<th>绑定房屋</th>
				<th>产别</th>
				<th>单元号</th>
				<th>层次</th>
				<th>实有面积</th>
				<th>基价折减</th>
				<th>计租面积</th>
				<th>层次调解率</th>
				<th>计算租金</th>
				<th>状态</th>
				<th>操作</th>
			</tr> 
		</thead>
		<tbody  class="j-table-tbodynew">
			
		</tbody>
	</table>
	<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
		<legend>租赁异动</legend>
	</fieldset>
	<table  class="layui-table">
	  <thead>
		  <tr>
		    <th>基本情况</th>
			<th class="cancel">户数</th>
		    <th class="cancel">建筑面积</th>
		    <th class="cancel">规定租金</th>
		    <th class="cancel">使用面积</th>
		    <th class="cancel">原价</th>
			<th class="cancel">栋数</th>
		  </tr>
	  </thead>
	  <tbody>
	    <tr>
		  <td>异动前</td>
		  <td class="cancel_before_0" id="floor_households"><input type="hidden" name="floor_households" value=""><label></label></td>
		  <td class="cancel_before_1" id="floor_prescribed"><input type="hidden" name="floor_prescribed" value=""><label></label></td>
		  <td class="cancel_before_2" id="floor_areaofuse"><input type="hidden" name="floor_areaofuse" value=""><label></label></td>
		  <td class="cancel_before_3" id="floor_builtuparea"><input type="hidden" name="floor_builtuparea" value=""><label></label></td>
		  <td class="cancel_before_4" id="floor_original"><input type="hidden" name="floor_original" value=""><label></label></td>
		  <td class="cancel_before_5" id="floor_buildings"><input type="hidden" name="floor_buildings" value=""><label></label></td>
	    </tr>
		<tr>
		  <td>异动</td>
		  <td id="cancel_before_0edit"><input type="hidden" name="cancel_before_0edit" value=""><label></label></td>
		  <td id="cancel_before_1edit"><input type="hidden" name="cancel_before_1edit" value=""><label></label></td>
		  <td id="cancel_before_2edit"><input type="hidden" name="cancel_before_2edit" value=""><label></label></td>
		  <td id="cancel_before_3edit"><input type="hidden" name="cancel_before_3edit" value=""><label></label></td>
		  <td id="cancel_before_4edit"><input type="hidden" name="cancel_before_4edit" value=""><label></label></td>
		  <td id="cancel_before_5edit"><input type="hidden" name="cancel_before_5edit" value=""><label></label></td>
		</tr>
		<tr>
		  <td>异动后</td>
		  <td class="cancel_after_0" id="changes_floor_households"><input type="hidden" name="changes_floor_households" value=""><label></label></td>
		  <td class="cancel_after_1" id="changes_floor_prescribed"><input type="hidden" name="changes_floor_prescribed" value=""><label></label></td>
		  <td class="cancel_after_2" id="changes_floor_areaofuse"><input type="hidden" name="changes_floor_areaofuse" value=""><label></label></td>
		  <td class="cancel_after_3" id="changes_floor_builtuparea"><input type="hidden" name="changes_floor_builtuparea" value=""><label></label></td>
		  <td class="cancel_after_4" id="changes_floor_original"><input type="hidden" name="changes_floor_original" value=""><label></label></td>
		  <td class="cancel_after_5" id="changes_floor_buildings"><input type="hidden" name="changes_floor_buildings" value=""><label></label></td>
		</tr>
	  </tbody>
	</table>
    <div class="layui-row layui-form-item layui-col-space90">
		<div class="j-margin-btn">
			<a href="javascript:history.go(-1)" class="layui-btn layui-btn-primary">取消</a>
			<button type="submit" j-data="{'save_type':'save'}" class="layui-btn" lay-submit lay-filter="formSubmit">保存</button>
			<button type="submit" j-data="{'save_type':'submit'}" class="layui-btn" lay-submit lay-filter="formSubmit">保存并提交</button>
		</div>
	</div>
</div>
<input type="hidden" id="j_house_id" value="" />
</form>
{include file="system@block/layui" /}
<script type="text/javascript">
layui.use(['jquery', 'laydate', 'upload', 'form','table'], function() {
  var table = layui.table
      ,form = layui.form
  	,$ = layui.jquery
  	,upload = layui.upload
  	,layer = layui.layer;
	
	//计算函数
	var sumhouseholds =0, //租赁异动户数初始值
	    sumconstruction=0,//租赁异动建筑面积初始值
		sumrule=0,//租赁异动规定租金初始值
		sumuse=0,//租赁异动使用面积初始值
		sumoriginalprice=0,//租赁异动原价初始值
		sumbuildings=0,//租赁异动栋数初始值
		sumcalculated=0,//table计算租金之和初始值
		sumcalculation=0;//table计算计租面积初始值
	console.log(params);
	function statistics(){
	  //异动后房间信息table计算租金之和
	  	var trList = $(".j-table-tbodynew").children("tr");
		sumcalculated = 0;
		sumcalculation=0;
	  	for (var j=0;j<trList.length;j++) {
			$("#changes_rule_news").text();
	  		var tdArr = trList.eq(j).find("td"); //遍历td  
	  			sumcalculated += parseFloat(tdArr.eq(12).text()).toFixed(2)*100;//计算租金之和
					$("#changes_rule_news").text(
					  (                  
						sumcalculated
						+parseFloat($('#changes_difference_news').val()).toFixed(2)*100
						+parseFloat($('#changes_pumpfee_news').val()).toFixed(2)*100
						+parseFloat($('#changes_agreement_news').val()).toFixed(2)*100
						).toFixed(2) / 100
					);	//异动明细异动后规定租金
				$("#changes_floor_areaofuse label").text($("#changes_rule_news").text());//租赁异动异动后规定租金
				$("#cancel_before_2edit label").text((parseFloat($("#changes_floor_areaofuse").text()).toFixed(2)*100-parseFloat($("#floor_areaofuse").text()).toFixed(2)*100).toFixed(2) / 100);//租赁异动异动规定租金
				$("#changes_floor_areaofuse input").val($("#changes_rule_news").text());//提交后台隐藏域租赁异动异动后规定租金
				$("#cancel_before_2edit input").val($("#cancel_before_2edit label").text());//提交后台隐藏域租赁异动异动规定租金
				sumcalculation += parseFloat(tdArr.eq(10).text()).toFixed(2)*100;//计租面积之和
				$("#changes_floor_builtuparea label").text(sumcalculation.toFixed(2) / 100);//租赁异动异动后使用面积
				$("#cancel_before_3edit label").text((parseFloat($("#changes_floor_builtuparea").text()).toFixed(2)*100-parseFloat($("#floor_builtuparea").text()).toFixed(2)*100).toFixed(2) / 100);//租赁异动异动使用面积
				$("#changes_floor_builtuparea input").val($("#changes_floor_builtuparea label").text());//提交后台隐藏域租赁异动异动后使用面积
				$("#cancel_before_3edit input").val($("#cancel_before_3edit label").text());
	  	}
	}
	//获取房屋查询器
	 $(".layui-form").on('click','.j-house_number',function(){
		layer.open({
				title: '房屋查询器'
				,type: 2
				,offset: 'auto'
				,area: ['70%', '60%']
				, btn:false
				,pageTabs: false
				,content: '{:url('system/index/house')}?hisi_iframe=yes&change_type=9'
				,btn: ['确定','关闭']
				,yes: function(index, layero){
					var row = window["layui-layer-iframe" + index].hoesedata();
					//console.log(row);
					if(row.color_status != 1){ //正常状态下的才可以执行
						return false;
					}
					layer.close(index);
					var hosue_number = row.house_number;
					$("#j_house_id").val(row.house_id);//获取房屋id
					$("#house_number").val(row.house_number);//获取房屋编号
					$("#house_id").val(row.house_id);//获取房屋编号
					$("#ban_id").val(row.ban_id);//获取房屋编号
					$("#ban_number").val(row.ban_number);//获取楼栋编号
					$("#tenant_number").val(params.structs[row.ban_struct_id]);//获取房屋结构
					$("#house_door").val(row.ban_floors);//获取楼层数量
					$("#house_tenant").val(row.tenant_name);//获取租户
					$("#house_floor_layer").val(row.house_floor_id);//获取居住层
					$("#ban_owner_id").val(params.owners[row.ban_owner_id]);//获取产别
					$("#ban_address").val(row.ban_address);//获取房屋地址
					$("#house_oprice").val(row.house_use_area);//获取实有面积
					$("#house_area").val(row.house_lease_area);//获取计租面积
					$("#house_money").val(row.house_pre_rent);//获取规定租金
					$("#house_unit_id").val(row.house_cou_rent);//获取计算租金
					$("#house_floor_id").val(row.house_diff_rent);//获取租差
					$("#pump_fee").val(row.house_pump_rent);//获取泵费
					$("#rent_relief").val(row.house_pump_rent);//获取租金减免(没字段随便取得值)
					$("#agreement_rent").val(row.house_protocol_rent);//获取协议租金
					$("#elevator").val(row.ban_is_levator);//获取电梯
					$(".j-iframe-add-change").attr('data-href','{:url('house/RoomTemp/add')}?id='+row.house_id); //新增
					//异动前异动明细
					$("#changes_difference_old").text(row.house_diff_rent);//获取租差
					$("#changes_pumpfee_old").text(row.house_pump_rent);//获取泵费
					$("#changes_agreement_old").text(row.house_protocol_rent);//获取协议租金
					$("#changes_architecture_old").text(row.house_area);//获取建筑面积
					$("#changes_originalprice_old").text(row.house_oprice);//获取原价
					$("#changes_rule_old").text(row.house_pre_rent);//获取规定租金
					
					//租赁异动异动前
					$("#floor_households label").text(1);//户数
					$("#floor_households input").val($("#floor_households label").text());//提交后台隐藏域户数
					$("#floor_prescribed label").text(row.house_area);//建筑面积
					$("#floor_prescribed input").val(row.house_area);//提交后台隐藏域建筑面积
					$("#floor_areaofuse label").text(row.house_pre_rent);//规定租金
					$("#floor_areaofuse input").val(row.house_pre_rent);//提交后台隐藏域规定租金
					$("#floor_builtuparea label").text(row.house_lease_area);//使用面积
					$("#floor_builtuparea input").val(row.house_lease_area);//提交后台隐藏域使用面积
					$("#floor_original label").text(row.house_oprice);//原价
					$("#floor_original input").val(row.house_oprice);//提交后台隐藏域原价
					$("#floor_buildings label").text(1);//栋数
					$("#floor_buildings input").val($("#floor_buildings label").text());//提交后台隐藏域栋数
					//异动不变化数据
					$("#cancel_before_0edit label").text(0);//异动户数
					$("#cancel_before_0edit input").val(0);//提交后台隐藏域异动户数
					$("#cancel_before_1edit label").text(0);//异动建筑面积
					$("#cancel_before_1edit input").val(0);//提交后台隐藏域异动建筑面积
					$("#cancel_before_4edit label").text(0);//异动原价
					$("#cancel_before_4edit input").val(0);//提交后台隐藏域异动原价
					$("#cancel_before_5edit label").text(0);//异动栋数
					$("#cancel_before_5edit input").val(0);//提交后台隐藏域异动栋数
					//异动后不变化数据
					$("#changes_floor_households label").text(1);//异动后户数
					$("#changes_floor_households input").val(1);//提交后台隐藏域异动后户数
					$("#changes_floor_prescribed label").text($("#floor_prescribed label").text());//异动后建筑面积
					$("#changes_floor_prescribed input").val($("#floor_prescribed label").text());//提交后台隐藏域异动后建筑面积
					$("#changes_floor_original label").text($("#floor_original label").text());//异动后原价
					$("#changes_floor_original input").val($("#floor_original label").text());//提交后台隐藏域异动后原价
					$("#changes_floor_buildings label").text(1);//异动后栋数
					$("#changes_floor_buildings input").val(1);//提交后台隐藏域异动后栋数
					//获取原房间信息
					var house_id = row.house_id;//获取房屋ID
					$.ajax({
					  type: "post",
					  url: "{:url('house/House/renttable')}?flag=syn&id="+house_id,
					  data: { 'house_id': house_id}, 
					  dataType: "json", 
					  success: function(res) {
						if(res.code == 0){
							layer.msg(res.msg);
						}else{
						  $('.j-table-tbody').html("");
						  $('.j-table-tbodynew').html("");
						  //原房屋信息
						  var resData = res.data;
						  //console.log(resData);
						  for(var k=0;k<resData.length;k++) {
							//房间明细
							var trDataold ='<tr>\
								<td>'+params.roomtypes[resData[k].baseinfo.room_type]+'</td>\
								<td>'+resData[k].baseinfo.room_number+'</td>\
								<td>'+resData[k].baseinfo.room_door+'</td>\
								<td>'+resData[k].baseinfo.ban_number+'</td>\
								<td>'+resData[k].houseinfo[0].house_number+'</td>\
								<td>'+params.owners[resData[k].baseinfo.ban_owner_id]+'</td>\
								<td>'+resData[k].baseinfo.room_unit_id+'</td>\
								<td>'+resData[k].baseinfo.room_floor_id+'</td>\
								<td>'+resData[k].baseinfo.room_use_area+'</td>\
								<td>'+resData[k].baseinfo.room_rent_point+'</td>\
								<td>'+resData[k].baseinfo.room_lease_area+'</td>\
								<td>'+resData[k].baseinfo.floor_point+'</td>\
								<td>'+resData[k].baseinfo.room_cou_rent+'</td>\
								<td>'+params.house_status[resData[k].baseinfo.room_status]+'</td>\
							</tr>';
							$('.j-table-tbody').append(trDataold);
							//异动后房间信息
							var trDatanew ='<tr>\
								<td>'+params.roomtypes[resData[k].baseinfo.room_type]+'</td>\
								<td>'+resData[k].baseinfo.room_number+'</td>\
								<td>'+resData[k].baseinfo.room_door+'</td>\
								<td>'+resData[k].baseinfo.ban_number+'</td>\
								<td>'+resData[k].houseinfo[0].house_number+'</td>\
								<td>'+params.owners[resData[k].baseinfo.ban_owner_id]+'</td>\
								<td>'+resData[k].baseinfo.room_unit_id+'</td>\
								<td>'+resData[k].baseinfo.room_floor_id+'</td>\
								<td>'+resData[k].baseinfo.room_use_area+'</td>\
								<td>'+resData[k].baseinfo.room_rent_point+'</td>\
								<td>'+resData[k].baseinfo.room_lease_area+'</td>\
								<td>'+resData[k].baseinfo.floor_point+'</td>\
								<td>'+resData[k].baseinfo.room_cou_rent+'</td>\
								<td>'+params.house_status[resData[k].baseinfo.room_status]+'</td>\
								<td><a data-href="{:url('house/RoomTemp/edit')}?id='+ resData[k].baseinfo.room_id +'" class="j-iframe-pop-change" style="color:#1E9FFF;" hisi-data="" title="修改房间"><i class="layui-icon layui-icon-edit table-edit" style="color:#1E9FFF;"></i></a><a data-href="{:url('house/RoomTemp/del')}?id='+ resData[k].baseinfo.room_id +'" isreload="y" class="j-tr-del-change"><i class="layui-icon layui-icon-delete" style="color:#ff3333;"></i></a></td>\
							</tr>';
							$('.j-table-tbodynew').append(trDatanew);
							//房屋明细
							for(var j=1;j<resData[k].houseinfo.length;j++) {
								var trDatahouseold ='<tr>\
									<td></td>\
									<td></td>\
									<td></td>\
									<td></td>\
									<td>'+resData[k].houseinfo[j].house_number+'</td>\
									<td></td>\
									<td></td>\
									<td></td>\
									<td></td>\
									<td></td>\
									<td></td>\
									<td></td>\
									<td></td>\
									<td></td>\
								</tr>';
								$('.j-table-tbody').append(trDatahouseold);
								//异动后房屋信息
								var trDatahousenew='<tr>\
									<td></td>\
									<td></td>\
									<td></td>\
									<td></td>\
									<td>'+resData[k].houseinfo[j].house_number+'</td>\
									<td></td>\
									<td></td>\
									<td></td>\
									<td></td>\
									<td></td>\
									<td>0</td>\
									<td></td>\
									<td>0</td>\
									<td></td>\
									<td></td>\
								</tr>';
								$('.j-table-tbodynew').append(trDatahousenew);
							}
						  }
						  statistics();
						  //监听异动明细异动后租差input
						  $(".changes_difference_news").bind("input propertychange",function(){
								statistics();
						  });
						  //监听异动明细异动后泵费input
						  $(".changes_pumpfee_news").bind("input propertychange",function(){
								statistics();
						  });
						  //监听异动明细异动后泵费input
						  $(".changes_agreement_news").bind("input propertychange",function(){
							  statistics();
						  });
						  
						}
						   
					  },
					  error: function(msg) {
						  layer.msg(msg);
					  }
					}); 
					
					
					
				},btn2: function(index, layero){
					layer.close(index);
				}
		 });
	});	

	//异动后房间信息新增
	$(".layui-form").on('click','.j-iframe-add-change',function(){
		var  urls=$(".j-iframe-add-change").attr('data-href');
			layer.open({
					title: '计租表异动'
					,type: 2
					,offset: 'auto'
					,area: ['70%', '60%']
					, btn:false
					,pageTabs: false
					,content: urls+'&&hisi_iframe=yes'
					//,btn: ['确定','关闭']
					,cancel: function(index, layero){
						//获取原房间信息
						var house_id = $("#j_house_id").val();//获取房屋ID
						$.ajax({
						  type: "post",
						  url: "{:url('house/HouseTemp/renttable')}?id="+house_id,
						  data: { 'house_id': house_id}, 
						  dataType: "json", 
						  success: function(res) {
							  console.log(res);
							if(res.code == 0){
								layer.msg(res.msg);
							}else{
							  $('.j-table-tbodynew').html("");
							  //原房屋信息
							  var resData = res.data;
							  //console.log(resData);
							  for(var k=0;k<resData.length;k++) {
								//异动后房间信息
								var trDatanew ='<tr>\
									<td>'+params.roomtypes[resData[k].baseinfo.room_type]+'</td>\
									<td>'+resData[k].baseinfo.room_number+'</td>\
									<td>'+resData[k].baseinfo.room_door+'</td>\
									<td>'+resData[k].baseinfo.ban_number+'</td>\
									<td>'+resData[k].houseinfo[0].house_number+'</td>\
									<td>'+params.owners[resData[k].baseinfo.ban_owner_id]+'</td>\
									<td>'+resData[k].baseinfo.room_unit_id+'</td>\
									<td>'+resData[k].baseinfo.room_floor_id+'</td>\
									<td>'+resData[k].baseinfo.room_use_area+'</td>\
									<td>'+resData[k].baseinfo.room_rent_point+'</td>\
									<td>'+resData[k].baseinfo.room_lease_area+'</td>\
									<td>'+resData[k].baseinfo.floor_point+'</td>\
									<td>'+resData[k].baseinfo.room_cou_rent+'</td>\
									<td>'+params.house_status[resData[k].baseinfo.room_status]+'</td>\
									<td><a data-href="{:url('house/RoomTemp/edit')}?id='+ resData[k].baseinfo.room_id +'" class="j-iframe-pop-change" style="color:#1E9FFF;" hisi-data="" title="修改房间"><i class="layui-icon layui-icon-edit table-edit" style="color:#1E9FFF;"></i></a><a data-href="{:url('house/RoomTemp/del')}?id='+ resData[k].baseinfo.room_id +'" isreload="y" class="j-tr-del-change"><i class="layui-icon layui-icon-delete" style="color:#ff3333;"></i></a></td>\
								</tr>';
								$('.j-table-tbodynew').append(trDatanew);
								//房屋明细
								for(var j=1;j<resData[k].houseinfo.length;j++) {
									//异动后房屋信息
									var trDatahousenew='<tr>\
										<td></td>\
										<td></td>\
										<td></td>\
										<td></td>\
										<td>'+resData[k].houseinfo[j].house_number+'</td>\
										<td></td>\
										<td></td>\
										<td></td>\
										<td></td>\
										<td></td>\
										<td>0</td>\
										<td></td>\
										<td>0</td>\
										<td></td>\
										<td></td>\
									</tr>';
									$('.j-table-tbodynew').append(trDatahousenew);
								}
							  } 
								 statistics(); 
							}
							   
						  },
						  error: function(msg) {
							  layer.msg(msg);
						  }
						}); 
						layer.close(index)
					},
					btn2: function(index, layero){
						layer.close(index);
					}
	
	  })
	})
	
	//异动后房间信息编辑
	$(".layui-form").on('click','.j-iframe-pop-change',function(){
		var  urls=$(".j-iframe-pop-change").attr('data-href');
			layer.open({
					title: '计租表异动'
					,type: 2
					,offset: 'auto'
					,area: ['70%', '60%']
					, btn:false
					,pageTabs: false
					,content: urls+'&&hisi_iframe=yes'
					//,btn: ['确定','关闭']
					,cancel: function(index, layero){
						//获取原房间信息
						var house_id = $("#j_house_id").val();//获取房屋ID
						$.ajax({
						  type: "post",
						  url: "{:url('house/HouseTemp/renttable')}?id="+house_id,
						  data: { 'house_id': house_id}, 
						  dataType: "json", 
						  success: function(res) {
							if(res.code == 0){
								layer.msg(res.msg);
							}else{
							  $('.j-table-tbodynew').html("");
							  //原房屋信息
							  var resData = res.data;
							  //console.log(resData);
							  for(var k=0;k<resData.length;k++) {
								//异动后房间信息
								var trDatanew ='<tr>\
									<td>'+params.roomtypes[resData[k].baseinfo.room_type]+'</td>\
									<td>'+resData[k].baseinfo.room_number+'</td>\
									<td>'+resData[k].baseinfo.room_door+'</td>\
									<td>'+resData[k].baseinfo.ban_number+'</td>\
									<td>'+resData[k].houseinfo[0].house_number+'</td>\
									<td>'+params.owners[resData[k].baseinfo.ban_owner_id]+'</td>\
									<td>'+resData[k].baseinfo.room_unit_id+'</td>\
									<td>'+resData[k].baseinfo.room_floor_id+'</td>\
									<td>'+resData[k].baseinfo.room_use_area+'</td>\
									<td>'+resData[k].baseinfo.room_rent_point+'</td>\
									<td>'+resData[k].baseinfo.room_lease_area+'</td>\
									<td>'+resData[k].baseinfo.floor_point+'</td>\
									<td>'+resData[k].baseinfo.room_cou_rent+'</td>\
									<td>'+params.house_status[resData[k].baseinfo.room_status]+'</td>\
									<td><a data-href="{:url('house/RoomTemp/edit')}?id='+ resData[k].baseinfo.room_id +'" class="j-iframe-pop-change" style="color:#1E9FFF;" hisi-data="" title="修改房间"><i class="layui-icon layui-icon-edit table-edit" style="color:#1E9FFF;"></i></a><a data-href="{:url('house/RoomTemp/del')}?id='+ resData[k].baseinfo.room_id +'" isreload="y" class="j-tr-del-change"><i class="layui-icon layui-icon-delete" style="color:#ff3333;"></i></a></td>\
								</tr>';
								$('.j-table-tbodynew').append(trDatanew);
								//房屋明细
								for(var j=1;j<resData[k].houseinfo.length;j++) {
									//异动后房屋信息
									var trDatahousenew='<tr>\
										<td></td>\
										<td></td>\
										<td></td>\
										<td></td>\
										<td>'+resData[k].houseinfo[j].house_number+'</td>\
										<td></td>\
										<td></td>\
										<td></td>\
										<td></td>\
										<td></td>\
										<td>0</td>\
										<td></td>\
										<td>0</td>\
										<td></td>\
										<td></td>\
									</tr>';
									$('.j-table-tbodynew').append(trDatahousenew);
								}
							  } 
								 statistics(); 
							}
							   
						  },
						  error: function(msg) {
							  layer.msg(msg);
						  }
						}); 
						layer.close(index)
					},
					btn2: function(index, layero){
						layer.close(index);
					}
	
	  })
	})
	
	//异动后房间信息删除
	$(".layui-form").on('click','.j-tr-del-change',function(){
		var  urls=$(this).attr('data-href');
		layer.confirm('删除之后无法恢复，您确定要删除吗？', {icon: 3, title:'提示'}, function(index){
		  //获取原房间信息
		  var house_id = $("#j_house_id").val();//获取房屋ID
		  $.ajax({
		    type: "post",
		    url: urls,
		    data: {'house_id': house_id}, 
		    dataType: "json", 
		    success: function(res) {
				//console.log(res);
		  	if(res.code == 0){
		  		layer.msg(res.msg);
		  	}else{
		  	  $('.j-table-tbodynew').html("");
		  	  //原房屋信息
		  	  var resData = res.data;
		  	  //console.log('删除一个房间后：'+resData);
		  	  for(var k=0;k<resData.length;k++) {
		  		//异动后房间信息
		  		var trDatanew ='<tr>\
		  			<td>'+params.roomtypes[resData[k].baseinfo.room_type]+'</td>\
		  			<td>'+resData[k].baseinfo.room_number+'</td>\
		  			<td>'+resData[k].baseinfo.room_door+'</td>\
		  			<td>'+resData[k].baseinfo.ban_number+'</td>\
		  			<td>'+resData[k].houseinfo[0].house_number+'</td>\
		  			<td>'+params.owners[resData[k].baseinfo.ban_owner_id]+'</td>\
		  			<td>'+resData[k].baseinfo.room_unit_id+'</td>\
		  			<td>'+resData[k].baseinfo.room_floor_id+'</td>\
		  			<td>'+resData[k].baseinfo.room_use_area+'</td>\
		  			<td>'+resData[k].baseinfo.room_rent_point+'</td>\
		  			<td>'+resData[k].baseinfo.room_lease_area+'</td>\
		  			<td>'+resData[k].baseinfo.floor_point+'</td>\
		  			<td>'+resData[k].baseinfo.room_cou_rent+'</td>\
		  			<td>'+params.house_status[resData[k].baseinfo.room_status]+'</td>\
		  			<td><a data-href="{:url('house/RoomTemp/edit')}?id='+ resData[k].baseinfo.room_id +'" class="j-iframe-pop-change" style="color:#1E9FFF;" hisi-data="" title="修改房间"><i class="layui-icon layui-icon-edit table-edit" style="color:#1E9FFF;"></i></a><a data-href="{:url('house/RoomTemp/del')}?id='+ resData[k].baseinfo.room_id +'" isreload="y" class="j-tr-del-change"><i class="layui-icon layui-icon-delete" style="color:#ff3333;"></i></a></td>\
		  		</tr>';
		  		$('.j-table-tbodynew').append(trDatanew);
		  		//房屋明细
		  		for(var j=1;j<resData[k].houseinfo.length;j++) {
		  			//异动后房屋信息
		  			var trDatahousenew='<tr>\
		  				<td></td>\
		  				<td></td>\
		  				<td></td>\
		  				<td></td>\
		  				<td>'+resData[k].houseinfo[j].house_number+'</td>\
		  				<td></td>\
		  				<td></td>\
		  				<td></td>\
		  				<td></td>\
		  				<td></td>\
		  				<td>0</td>\
		  				<td></td>\
		  				<td>0</td>\
		  				<td></td>\
		  				<td></td>\
		  			</tr>';
		  			$('.j-table-tbodynew').append(trDatahousenew);
		  		}
		  	  } 
		  		 statistics(); 
		  	}
		  	   
		    },
		    error: function(msg) {
		  	  layer.msg(msg);
		    }
		  });
		  layer.close(index);
		});
	
	  })
	
})
</script>