<form class="layui-form" action="{url('add')}" method="post">
  <div class="j-details-box  floorWrap">
		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>基本信息</legend>
		</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md12">
				<label class="j-form-label"><i class="red">*</i>房屋编号</label>
				<div class="j-input-inline j-tips">
					<input type="text" id="house_number" name="house_number" lay-verify="required" readonly value="{$data_info['house_info']['house_number']}" placeholder="点击查询" autocomplete="off" class="layui-input">
					<input type="hidden" name="id" value="{$data_info['id']}">
					<input type="hidden" id="house_id" name="house_id" value="{$data_info['house_id']}">
					<input type="hidden" id="ban_id" name="ban_id" value="{$data_info['ban_id']}">
					<input type="hidden" id="tenant_id" name="tenant_id" value="{$data_info['tenant_id']}">
					<!-- <b class="j-explain-search j-house_number">查询</b> -->
				</div>
				<div class="layui-form-mid layui-word-aux j-size-class"></div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md3">
				<label class="j-form-label">计租表</label>
				<div class="j-input-inline">
					<input type="text" value="" placeholder="" readonly autocomplete="off" class="layui-input">
					<a id="checktable" href="{:url('house/house/renttable')}?group=y&id={$data_info['house_id']}" class="j-iframe-pop" hisi-data="{width: '1300px', height: '700px',refresh: 2}" title="计租表"><b id="check" class="j-explain-search">查看</b></a>
				</div>
			</div>
			<div class="layui-col-md3">
				<label class="j-form-label">租户</label>
				<div class="j-input-inline">
					<input type="text" id="tenant_name" value="{$data_info['house_info']['tenant_name']}" placeholder="" readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md6">
				<label class="j-form-label">异动原因</label>
				<div class="j-input-inline">
					<input type="text" id="tenant_reason" name="change_remark" value="{$data_info['change_remark']}" readonly autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>

		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>楼栋信息</legend>
		</fieldset>
		<table  class="layui-table">
			{volist name="$data_info['data_json']['ban']" id="v"}
		  <tr>
		      <th colspan="2" rowspan="2">楼栋编号</th>
		      <th colspan="2" rowspan="2">楼栋地址</th>
		      <th colspan="3">租金</th>
		      <th colspan="3">计租面积</th>
		  </tr>
		  <tr>
		    <td rowspan="1" colspan="1">调整前</td>
		    <td rowspan="1" colspan="1">调整金额</td>
		    <td rowspan="1" colspan="1">调整后</td>
		    <td rowspan="1" colspan="1">调整前</td>
		    <td rowspan="1" colspan="1">调整面积</td>
		    <td rowspan="1" colspan="1">调整后</td>
		  </tr>
		  <tr>
		    <td rowspan="4" colspan="2" class="HABanID"><input type="tetx" readonly name="Ban[{$key}][HABanID]" value="{$v['HABanID']}" class="layui-input" /></td>
		    <td rowspan="4" colspan="2" class="HAAddress"><input type="tetx" readonly name="Ban[{$key}][HAAddress]" value="{$v['HAAddress']}" class="layui-input" /></td>
		    <td rowspan="1" colspan="1" class="HABeforeRent"><input type="tetx" readonly name="Ban[{$key}][HABeforeRent]" value="{$v['HABeforeRent']}" class="layui-input" /></td>
		    <td rowspan="1" colspan="1"><input type="number" readonly name="Ban[{$key}][HARent]" value="{$v['HARent']}" class="HARent layui-input" /></td>
		    <td rowspan="1" colspan="1"><input type="number" readonly class="HAAfterRent layui-input" name="Ban[{$key}][HAAfterRent]" value="{$v['HAAfterRent']}"/></td>
		    <td rowspan="1" colspan="1" class="HABeforeLeasedArea"><input type="text" readonly name="Ban[{$key}][HABeforeLeasedArea]" value="{$v['HABeforeLeasedArea']}" class="layui-input" /></td>
		    <td rowspan="1" colspan="1"><input type="number" readonly name="Ban[{$key}][HALeasedArea]" value="{$v['HALeasedArea']}" class="HALeasedArea layui-input" /></td>
		    <td rowspan="1" colspan="1"><input type="number" readonly name="Ban[{$key}][HAAfterLeasedArea]" value="{$v['HAAfterLeasedArea']}" class="HAAfterLeasedArea layui-input" /></td>
		  </tr>
		  <tr>
		    <th colspan="3">建筑面积</th>
		    <th colspan="3">楼栋原价</th>
		  </tr>
		  <tr>
		    <td rowspan="1" colspan="1">调整前</td>
		    <td rowspan="1" colspan="1">调整面积</td>
		    <td rowspan="1" colspan="1">调整后</td>
		    <td rowspan="1" colspan="1">调整前</td>
		    <td rowspan="1" colspan="1">调整金额</td>
		    <td rowspan="1" colspan="1">调整后</td>
		  </tr>
		  <tr>
		    <td rowspan="1" colspan="1" class="HABeforeBanArea"><input type="text" readonly name="Ban[{$key}][HABeforeBanArea]" value="{$v['HABeforeBanArea']}"  class="layui-input" /></td>
		    <td rowspan="1" colspan="1"><input type="number" readonly name="Ban[{$key}][HABanArea]" value="{$v['HABanArea']}" class="HABanArea layui-input" /></td>
		    <td rowspan="1" colspan="1"><input type="number" name="Ban[{$key}][HAAfterBanArea]" value="{$v['HAAfterBanArea']}" readonly class="HAAfterBanArea layui-input" /></td>
		    <td rowspan="1" colspan="1" class="HABeforePrice"><input type="text" readonly name="Ban[{$key}][HABeforePrice]" value="{$v['HABeforePrice']}" class="layui-input" /></td>
		    <td rowspan="1" colspan="1"><input type="number" readonly name="Ban[{$key}][HAPrice]" value="{$v['HAPrice']}" class="HAPrice layui-input" /></td>
		    <td rowspan="1" colspan="1"><input type="number" readonly name="Ban[{$key}][HAAfterPrice]" value="{$v['HAAfterPrice']}" class="HAAfterPrice layui-input" /></td>
		  </tr>
		  
		  <tr class="table_data_2">
		    <td rowspan="6" colspan="2" class="HABanID"></td>
		    <td rowspan="6" colspan="2" class="HAAddress"></td>
		    <th colspan="3">租金</th>
		    <th colspan="3">计租面积</th>
		  </tr>
		  <tr class="table_data_2">
		    <td rowspan="1" colspan="1">调整前</td>
		    <td rowspan="1" colspan="1">调整金额</td>
		    <td rowspan="1" colspan="1">调整后</td>
		    <td rowspan="1" colspan="1">调整前</td>
		    <td rowspan="1" colspan="1">调整面积</td>
		    <td rowspan="1" colspan="1">调整后</td>
		  </tr>
		  {/volist}

		  
		  
		 
		</table>
    <fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>审批状态</legend>
		</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
		   <div class="j-status-bar">
				<ul>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 2) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>房管员</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 3) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>资料员</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 4) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>经管所长</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 5) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>经管科</p>
					</li>
				</ul>
			</div>
			<div class="j-status-result">
				<ul>
					{volist name="$data_info['child_json']" id="v"}
					<li>{$systemusers[$v['uid']]['role']['name']}［{$systemusers[$v['uid']]['nick']}］于 {$v['time']} {$v['action']}；</li>
					{/volist}
					<!-- <li>经租会计［冯超］于2019-08-30 09:35:01 初审；</li> -->
				</ul>
			</div>
		</div>
</div>
</form>
{include file="system@block/layui" /}
<script type="text/javascript">
layui.use(['jquery', 'laydate', 'upload', 'form','table'], function() {
  var table = layui.table
      ,form = layui.form
  	,$ = layui.jquery
  	,upload = layui.upload
  	,layer = layui.layer;
	//限制input输入框字符
	// $('input[type=number]').keypress(function(e) {
	// 　　if (!String.fromCharCode(e.keyCode).match(/[0-9\.]/)) {
	// 　　　　return false;
	// 　　}
	// });
	var ban_length = 0;
	$('.table_data_2').hide();
	$('.table_data_3').hide();
	//获取房屋查询器
	 $(".layui-form").on('click','.j-house_number',function(){
		layer.open({
				title: '房屋查询器'
				,type: 2
				,offset: 'auto'
				,area: ['70%', '60%']
				, btn:false
				,pageTabs: false
				,content: '{:url('system/index/house')}?hisi_iframe=yes&change_type=9'
				,btn: ['确定','关闭']
				,yes: function(index, layero){
					var row = window["layui-layer-iframe" + index].hoesedata();
					console.log('查询器',row);
					if(row.color_status != 1){ //正常状态下的才可以执行
						layer.msg("当前数据不可选！");
						return false;
					}

					$.get('{:url('system/api/houseGetBans')}?house_id='+row.house_id, {}, function(res) {
						console.log('res的值',res);
						// 获取成功代码写到这里
						if(res.code){
						   ban_length = res.data.length;//数据长度
						   $('.table_data_2').hide();
						   $('.table_data_3').hide();
						   for(var i = 0; i < res.data.length;i++){
						       $('.HABanID').eq(i).text( res.data[i].ban_number);//楼栋编号
						       $('.HAAddress').eq(i).text(res.data[i].ban_address);//楼栋地址
						       $('.HABeforeRent').eq(i).find("input").val(res.data[i].ban_rent);//租金调整前
						       $('.HABeforeLeasedArea').eq(i).find("input").val(res.data[i].ban_use_area);//计租面积调整前
						       $('.HABeforeBanArea').eq(i).find("input").val(res.data[i].ban_area);//建筑面积调整前
						       $('.HABeforePrice').eq(i).find("input").val(res.data[i].ban_oprice);//楼栋原价调整前
						       $('.HAAfterRent').eq(i).val(res.data[i].ban_rent);//租金调整后
						       $('.HAAfterLeasedArea').eq(i).val(res.data[i].ban_use_area);//计租面积调整后
						       $('.HAAfterBanArea').eq(i).val(res.data[i].ban_area);//建筑面积调整后
						       $('.HAAfterPrice').eq(i).val(res.data[i].ban_oprice);//楼栋原价调整前
						   
						       $('.table_data_'+(i+1)).show();
						   }
						   for (var p = res.data.length; p < 3; p++) {
						   	$('.table_data_'+(p+1)).find("input").removeAttr("name");
						   }
						   $('.HARent').off('input');
						   $('.HARent').on('input',function(){
						       var this_index = $(this).index('.HARent');
						       var number_1 = res.data[this_index].ban_rent;
						       var number_2 = $('.HARent').eq(this_index).val() || "0";
						       if(number_2 < 0){
						           number_2 = Math.abs(number_2).toString();
						           $('.HAAfterRent').eq(this_index).val(numberMethod(number_1,number_2,'-'));
						       }else{
						           $('.HAAfterRent').eq(this_index).val(numberMethod(number_1,number_2,'+'));
						       }
						       
						   });
						   $('.HALeasedArea').off('input');
						   $('.HALeasedArea').on('input',function(){
						       var this_index = $(this).index('.HALeasedArea');
						       var number_1 = res.data[this_index].ban_use_area;
						       var number_2 = $('.HALeasedArea').eq(this_index).val() || "0";
						       if(number_2 < 0){
						           number_2 = Math.abs(number_2).toString();
						           $('.HAAfterLeasedArea').eq(this_index).val(numberMethod(number_1,number_2,'-'));
						       }else{
						           $('.HAAfterLeasedArea').eq(this_index).val(numberMethod(number_1,number_2,'+'));
						       }
						   });
						   $('.HABanArea').off('input');
						   $('.HABanArea').on('input',function(){
						       var this_index = $(this).index('.HABanArea');
						       var number_1 = res.data[this_index].ban_area;
						       var number_2 = $('.HABanArea').eq(this_index).val() || "0";
						       if(number_2 < 0){
						           number_2 = Math.abs(number_2).toString();
						           $('.HAAfterBanArea').eq(this_index).val(numberMethod(number_1,number_2,'-'));
						       }else{
						           $('.HAAfterBanArea').eq(this_index).val(numberMethod(number_1,number_2,'+'));
						       }
						   });
						   $('.HAPrice').off('input');
						   $('.HAPrice').on('input',function(){
						       var this_index = $(this).index('.HAPrice');
						       var number_1 = res.data[this_index].ban_oprice;
						       var number_2 = $('.HAPrice').eq(this_index).val() || "0";
						       if(number_2 < 0){
						           number_2 = Math.abs(number_2).toString();
						           $('.HAAfterPrice').eq(this_index).val(numberMethod(number_1,number_2,'-'));
						        }else{
						           $('.HAAfterPrice').eq(this_index).val(numberMethod(number_1,number_2,'+'));
						        }
						   });
						   //layer.msg(row.msg,{time:4000});
						   for(var i = 0; i < ban_length;i++){
						   	$(".HABeforeRent").eq(i).find("input").attr("name","Ban["+i+"][HABeforeRent]");//传给后台的调整前租金
						   	$(".HARent").eq(i).attr("name","Ban["+i+"][HARent]");//传给后台的调整租金
						   	$(".HAAfterRent").eq(i).attr("name","Ban["+i+"][HAAfterRent]");//传给后台的调整后租金
						   	$(".HABeforeLeasedArea").eq(i).find("input").attr("name","Ban["+i+"][HABeforeLeasedArea]");//传给后台的调整前计租面积
						   	$(".HALeasedArea").eq(i).attr("name","Ban["+i+"][HALeasedArea]");//传给后台的调整计租面积
						   	$(".HAAfterLeasedArea").eq(i).attr("name","Ban["+i+"][HAAfterLeasedArea]");//传给后台的调整后计租面积
						   	$(".HABeforeBanArea").eq(i).find("input").attr("name","Ban["+i+"][HABeforeBanArea]");//传给后台的调整前建筑面积
						   	$(".HABanArea").eq(i).attr("name","Ban["+i+"][HABanArea]");//传给后台的调整建筑面积
						   	$(".HAAfterBanArea").eq(i).attr("name","Ban["+i+"][HAAfterBanArea]");//传给后台的调整后建筑面积
						   	$(".HABeforePrice").eq(i).find("input").attr("name","Ban["+i+"][HABeforePrice]");//传给后台的调整前楼栋原价
						   	$(".HAPrice").eq(i).attr("name","Ban["+i+"][HAPrice]");//传给后台的调整楼栋原价
						   	$(".HAAfterPrice").eq(i).attr("name","Ban["+i+"][HAAfterPrice]");//传给后台的调整后楼栋原价
						   }

						// 参数错误弹出提示	
						}else{
							layer.msg(res.msg, {time:5000});
						}
		                // layer.msg(res.msg, {time:5000}, function() {
		                //     if(res.data.refresh === undefined || res.data.refresh){
		                //         if (refresh == 'yes') {
		                //             if (typeof(res.url) != 'undefined' && res.url != null && res.url != '') {
		                //                 location.href = res.url;
		                //             } else {
		                //                 location.reload();
		                //             }
		                //         }
		                //     }
		                // });
		            });

					layer.close(index);
					var hosue_number = row.house_number;
					$("#checktable").attr('href',"{:url('house/house/renttable')}?group=y&id="+row.house_id);//获取房屋编号
					$("#check").removeClass('hide');
					
					$("#j_house_id").val(row.house_id);//获取房屋id
					$("#house_number").val(row.house_number);//获取房屋编号
					$("#house_id").val(row.house_id);//获取房屋编号
					$("#ban_id").val(row.ban_id);//获取楼栋编号
					$("#tenant_id").val(row.tenant_id);//获取租户编号
					$("#tenant_name").val(row.tenant_name);//获取租户姓名

				},btn2: function(index, layero){
					layer.close(index);
				}
		 });
	});	

	
	// 目前只适用于加减法 浮点小数加减法
	function numberMethod(number1,number2,method){
	    var array_1 = number1.split('.');
	    var array_2 = number2.split('.');
	    var number = 0;
	    var multiple = 0;
	    var dot_diff_1 = 0;
	    var dot_diff_2 = 0;
	    array_1[1] = (array_1[1] == undefined ? '0' : array_1[1]);
	    array_2[1] = (array_2[1] == undefined ? '0' : array_2[1]);
	    if(array_1[1].length > array_2[1].length){
	        multiple = array_1[1].length;
	        dot_diff_2 = array_1[1].length - array_2[1].length;
	    }else{
	        multiple = array_2[1].length;
	        dot_diff_1 = array_2[1].length - array_1[1].length;
	    }
	    number1 = parseFloat(array_1[0]) * Math.pow(10,multiple)+parseFloat(array_1[1]) * Math.pow(10,dot_diff_1);
	    number2 = parseFloat(array_2[0]) * Math.pow(10,multiple)+parseFloat(array_2[1]) * Math.pow(10,dot_diff_2);
	    if(method == '+'){
	        number = (number1 + number2)/Math.pow(10,multiple);
	    }else if(method == '-'){
	        number = (number1 - number2)/Math.pow(10,multiple);
	    }
	    return number;
	}
	
})
</script>