<div class="j-table-content j-no-title">
	<div class="page-toolbar j-page-toolbar clearfix">
		<form class="layui-form layui-form-pane" action="{:url()}" method="get" id="hisi-table-search">
			<div class="j-search-fl layui-col-md8  fl">
								<div class="layui-input-inline layui-col-md2 j-input-margin j-width-100">
					<input type="text" name="ban_number" placeholder="楼栋编号" class="layui-input">
				</div>
				<div class="layui-input-inline layui-col-md2 j-input-margin j-width-100">
					<input type="text" name="ban_address" placeholder="楼栋地址" class="layui-input">
				</div>
				<div class="layui-input-inline layui-col-md2 j-input-margin j-width-100">
					<input type="text" name="tenant_name" placeholder="租户姓名" class="layui-input">
				</div>
				<div class="layui-input-inline j-width-120">
					  <select name="ban_inst_id">
						  <option value="">机构</option>
						  {volist name=":config('inst_check_names')[INST]" id="v"}
						  <option value="{$key}">{$v}</option>
						  {/volist}
						</select>
				</div>
				<div class="layui-input-inline j-width-90">
					  <select name="ban_owner_id">
						  <option value="">产别</option>
						  {volist name="params['owners']" id="v"}
						  <option value="{$key}">{$v}</option>
						  {/volist}
						</select>
				</div>
				
				<div class="layui-input-inline layui-col-md2 j-width-120">
					<select name="house_use_id">
						<option value="">使用性质</option>
						{volist name="params['uses']" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				<div class="layui-input-inline j-input-margin j-width-100">
					<input type="text" name="effective" id="date3"  placeholder="生效时间" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-input-inline j-width-110">
					<select name="change_status">
						<option value="">审核状态</option>
						<option value="1">成功</option>
						<option value="0">失败</option>
					</select>
				</div>
			</div>
			<div class="j-search-fr layui-col-md4 fr">
				<div class="layui-input-inline fr">
					<div class="layui-input-inline" style="margin-left:10px;">
						<button type="reset" class="layui-btn j-btn-reset">重置</button>
						<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
							<i class="layui-icon">&#xe615;</i>
							搜索
						</button>
						<button type="button" class="layui-btn layui-btn-warm"><i class="layui-icon iconfont j-icon-screen_icon"></i>标题筛选</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	{include file="system@block/layui" /}
	<table id="dataTable" lay-filter='dataTable' params="{$paramsJson}"></table>
	<script type="text/html" id="toolbar">
	</script>
	<script type="text/html" title="操作按钮模板" id="buttonTpl">
	  	<a href="{:url('detail')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">明细</a>
    </script>
</div>
<script type="text/javascript">
	var process_config = {'0':'失败','1':'成功'};
	console.log(params);
	layui.use(['table', 'jquery','laydate'], function() {
		var $ = layui.$;
		var s = $('#dataTable').attr('params');
		var params = JSON.parse(s);
		var table = layui.table
		   ,laydate = layui.laydate;
		
		//日期
		  laydate.render({
		    elem: '#date'
		    ,type: 'month'
		    ,ready: function(date){
			    $('.layui-laydate li').click(function () {
			       $('.laydate-btns-confirm').trigger('click');
			    });
			}
		  });
		  //生效时间
		  laydate.render({
		    elem: '#date3'
		    ,type: 'month'
		    ,ready: function(date){
		  			    $('.layui-laydate li').click(function () {
		  			       $('.laydate-btns-confirm').trigger('click');
		  			    });
		  			}
		  });
		table.render({
			elem: '#dataTable',
			/* height: 550, */
			toolbar: '#toolbar'
				// ,defaultToolbar: ['print']
				,defaultToolbar: ['filter','exports','print'] //设置右边筛选，导出，打印显示
			    ,url: '{:url()}' //数据接口
				,page: true //开启分页
				,limit: 10
			   ,limits: [10,20,30,40,50,100,300,500,1000]
			  ,text: {
					none: "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
			  }
			  ,cols: [[ 
				  {field: 'house_number',hide:true,minWidth: 180,align:'center',title: '房屋编号'}, 
				  {field: 'change_order_number',hide:false,align:'center',minWidth: 210,title: '异动单号'},
					{field: 'ban_number',hide:true,minWidth: 180,align:'center',title: '楼栋编号'},
					{field: 'ban_inst_id',hide: isShowInst,minWidth: 160,align:'center',title: '机构',
						templet: function(d) {
					        return params.insts[d.ban_inst_id];
					    }
					}, 
					{field: 'ban_address',width: 220,align:'center',title: '楼栋地址'},
					{field: 'house_use_id',width: 100,align:'center',title: '使用性质',
						templet: function(d) {
					        return params.uses[d.house_use_id];
					    }
					}, 
					{field: 'ban_owner_id',width: 100,align:'center',title: '产别',
						templet: function(d) {
					        return params.owners[d.ban_owner_id];
					    }
					}, 
					{field: 'tenant_name',minWidth: 100,align:'center',title: '租户姓名'},
                    {field: 'house_unit_id',width: 80,align:'center',title: '单元号'},
					{field: 'house_floor_id',width: 80,align:'center',title: '楼层号'},
					{field: 'house_door',width: 80,align:'center',title: '门牌号'},
					{field: 'ctime',width: 140,align:'center',title: '申请时间'},
					{field: 'ftime',width: 140,align:'center',title: '完成时间'},
					{field: 'effective',align:'center',width: 100,title: '生效时间'},
					{field: 'change_status',align:'center',minWidth: 180,title: '审核状态', 
						templet: function(d) {
		                    return process_config[d.change_status];
		                }
					}, 
					{title: '操作',Width: 260,minWidth: 260,align:'center',templet: '#buttonTpl',fixed: 'right'}
				]],
			done: function(res, curr, count) {
               //导出转换后台数据
                 var exportData=res.data;
                 for(i in exportData){
               	 exportData[i].ban_inst_id = params.insts[exportData[i].ban_inst_id];//转化申请机构
               	 exportData[i].ban_owner_id = params.owners[exportData[i].ban_owner_id];//转化产别
               	 exportData[i].house_use_id = params.uses[exportData[i].house_use_id];//转化使用性质
               	 exportData[i].change_status = process_config[exportData[i].change_status];//转化审核状态
                 }
			}
		},isShowInst)
	});
</script>