<div class="j-table-content j-no-searchs">
	<div class="layui-btn-container j-container-margin">
		<div class="layui-btn-container">
		<button data-href="{:url('export')}" data-id="Name"  class="layui-btn  j-page-excel-btns"><i class="layui-icon layui-icon-download-circle"></i>导出表</button>
		</div>
	</div>	
<table id="dataTable"></table>
{include file="block/layui" /}

<script type="text/html" id="buttonTpl">
    <div class="layui-btn-group">
        <a href="{:url('design')}?id={{ d.Name }}" hisi-data="{width:'1000px',title:'表结构',refresh:2}" class="layui-btn layui-btn-normal layui-btn-xs j-iframe-pop">表结构</a>
     </div>  
</script>

<script type="text/html" id="toolbar">

</script>
</div>
<script type="text/javascript">
    layui.use(['table'], function() {
        var table = layui.table;
        table.render({
            elem: '#dataTable'
            ,url: '{:url()}' //数据接口
            ,page: false //分页
            //,skin: 'row'
            //,even: true
            ,text: {
                none : '暂无相关数据'
            }
            //,toolbar: '#toolbar'
            //,defaultToolbar: ['filter']
            ,cols: [[ //表头
                {type:'checkbox'}
                ,{field: 'Name', title: '表名',minWidth:200,align:'center'}
                ,{field: 'Comment', title: '备注', minWidth: 180,align:'center'}
                // ,{field: 'Version', title: '版本', minWidth: 80,align:'center'}
                ,{field: 'Rows', title: '数据量/条', minWidth: 120,align:'center',templet: function(d) {
                    return d.Rows;
                }}
                ,{field: 'Engine', title: '引擎',sort: true, minWidth: 100,align:'center'}
                ,{field: 'Data_length', title: '大小', sort: true,minWidth: 100, align:'center',templet: function(d) {
                    return bytesToSize(d.Data_length);
                }}
                // ,{field: 'Max_data_length', title: '可容最大数据量', sort: true,minWidth: 180,align:'center' ,templet: function(d) {
                //     return bytesToSize(d.Max_data_length);
                // }}
                ,{field: 'Avg_row_length', title: '平均每条', sort: true,minWidth: 120,align:'center' ,templet: function(d) {
                    return bytesToSize(d.Avg_row_length);
                }}
                ,{field: 'Index_length', title: '索引大小', sort: true,minWidth: 120,align:'center', templet: function(d) {
                    return bytesToSize(d.Index_length);
                }}
                ,{field: 'Check_time', title: '最近检查表时间', minWidth: 160,align:'center'}
                ,{field: 'Data_free', title: '冗余', minWidth: 100,align:'center', templet: function(d) {
                    return bytesToSize(d.Data_free);
                }}
                
                ,{title: '操作', minWidth: 260,align:'center',Width: 260, templet: '#buttonTpl'}
            ]]
        });
    });
</script>