<table id="dataTable"></table>
{include file="block/layui" /}

<script type="text/html" id="buttonTpl">
    <div class="layui-btn-group">
        <a href="{:url('design')}?id={{ d.Name }}" hisi-data="{width:'1000px',title:'表结构',refresh:2}" class="layui-btn layui-btn-normal layui-btn-xs j-iframe-pop">表结构</a>
     </div>  
</script>

<script type="text/html" id="toolbar">
    <div class="layui-btn-group fl">
        <a data-href="{:url('export')}" data-id="Name" class="layui-btn layui-btn-primary layui-btn-sm j-page-btns">导出表</a>
    </div>
</script>

<script type="text/javascript">
    layui.use(['table'], function() {
        var table = layui.table;
        table.render({
            elem: '#dataTable'
            ,url: '{:url()}' //数据接口
            ,page: false //分页
            //,skin: 'row'
            //,even: true
            ,text: {
                none : '暂无相关数据'
            }
            ,toolbar: '#toolbar'
            ,defaultToolbar: ['filter']
            ,cols: [[ //表头
                {type:'checkbox'}
                ,{field: 'Name', title: '表名',width:200}
                ,{field: 'Comment', title: '备注', width: 180}
                // ,{field: 'Version', title: '版本', width: 80}
                ,{field: 'Rows', title: '数据量/条', width: 120,templet: function(d) {
                    return d.Rows;
                }}
                ,{field: 'Engine', title: '引擎',sort: true, width: 100}
                ,{field: 'Data_length', title: '大小', sort: true,width: 100, templet: function(d) {
                    return bytesToSize(d.Data_length);
                }}
                // ,{field: 'Max_data_length', title: '可容最大数据量', sort: true,width: 180, templet: function(d) {
                //     return bytesToSize(d.Max_data_length);
                // }}
                ,{field: 'Avg_row_length', title: '平均每条', sort: true,width: 120, templet: function(d) {
                    return bytesToSize(d.Avg_row_length);
                }}
                ,{field: 'Index_length', title: '索引大小', sort: true,width: 120, templet: function(d) {
                    return bytesToSize(d.Index_length);
                }}
                ,{field: 'Check_time', title: '最近检查表时间', width: 160}
                ,{field: 'Data_free', title: '冗余', width: 100, templet: function(d) {
                    return bytesToSize(d.Data_free);
                }}
                
                ,{title: '操作', minWidth: 100, templet: '#buttonTpl'}
            ]]
        });
    });
</script>