<!-- 别字更正申请 -->
<form class="layui-form" action="" method="post">
	<div class="j-details-box floorWrap">
		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>基本信息</legend>
		</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md12">
				<label class="j-form-label"><i class="red">*</i> 房屋编号</label>
				<div class="j-input-inline j-tips">
					<input type="text" id="house_number" lay-verify="required" value="" placeholder="点击查询" readonly autocomplete="off" class="layui-input j-search-input">
					<input type="hidden" id="ban_id" name="ban_id">
					<input type="hidden" id="house_id" name="house_id">
					<input type="hidden" id="tenant_id" name="tenant_id">
					<b class="j-explain-search j-house_number">查询</b>
				</div>
				<div class="layui-form-mid layui-word-aux j-size-class"><i class="layui-icon layui-icon-tips"></i>别字更正后，原租约自动失效！</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md6">
				<div class="j-column-box">
					<div class="j-column-title clearfix">
						异动前信息
					</div>
					<div class="j-column-con clearfix">
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label"><i class="red">*</i> 租户ID</label>
								<div class="j-input-inline">
									<input type="text" id="old_tenant_number" value="" readonly placeholder="" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label"><i class="red">*</i> 租户姓名</label>
								<div class="j-input-inline">
									<input type="text" id="old_tenant_name" name="old_tenant_name" value="" readonly placeholder="" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label"><i class="red">*</i> 身份证号</label>
								<div class="j-input-inline">
									<input type="text" id="old_tenant_card" name="old_tenant_card" readonly value="" lay-verify="require|verifyidnumber"  placeholder="" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-row layui-form-item layui-col-space90 j-tips-boxs j-visibility">
							<div class="layui-col-md12">
								<div class="j-input-inline j-tips-show">
									<a href="{:url('house/tenant/index')}" id="old_tenant_info" target="_blank">
										<i class="layui-icon layui-icon-tips"></i>去补充完整的身份信息！
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-col-md6">
				<div class="j-column-box">
					<div class="j-column-title clearfix">
						异动后信息
					</div>
					<div class="j-column-con clearfix">
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label"><i class="red">*</i> 租户ID</label>
								<div class="j-input-inline">
									<input type="text" id="new_tenant_number" value="" placeholder="" readonly autocomplete="off" class="layui-input j-search-input">
								</div>
							</div>
						</div>
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label"><i class="red">*</i> 租户姓名</label>
								<div class="j-input-inline">
									<input type="text" id="new_tenant_name" name="new_tenant_name" lay-verify="required"  value=""  placeholder="" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label"><i class="red">*</i> 身份证号</label>
								<div class="j-input-inline">
									<input type="text" id="new_tenant_card" readonly value=""  lay-verify="require|verifynewid" placeholder="" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-row layui-form-item layui-col-space90 j-tips-newboxs j-visibility">
							<div class="layui-col-md12">
								<div class="j-input-inline j-tips-show">
									<a href="{:url('house/tenant/index')}" id="old_tenant_info" target="_blank">
										<i class="layui-icon layui-icon-tips"></i>去补充完整的身份信息！
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md8">
				<label class="j-form-label">异动原因</label>
				<div class="j-input-inline">
					<input type="text" id="tenant_reason" name="change_remark" value="" placeholder="请输入异动原因" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>填报信息</legend>
		</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md12">
				<div class="j-enclosure-upload clearfix">
					<div class="j-enclosure-label">身份证信息</div>
					<div class="j-enclosure-label j-uplode-icon">
						<i><img src="/static/system/image/Group8.png"></i>点击上传
						<button type="button" class="layui-btn layui-btn-primary" id="upload_img3">上传图片</button>
					</div>
					<div class="layui-form-mid layui-word-aux">限制1M</div>
				</div>
				<div class="j-enclosure-imgs clearfix">
					<div id="upload_img_list3" class="upload_img_list j-viewer-img"> </div>
				</div>
			</div>
			<div class="layui-upload">
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md12">
				<div class="j-enclosure-upload clearfix">
					<div class="j-enclosure-label">租约</div>
					<div class="j-enclosure-label j-uplode-icon">
						<i><img src="/static/system/image/Group8.png"></i>点击上传
						<button type="button" class="layui-btn layui-btn-primary" id="upload_img2">上传图片</button>
					</div>
					<div class="layui-form-mid layui-word-aux">限制1M</div>
				</div>
				<div class="j-enclosure-imgs clearfix">
					<div id="upload_img_list2" class="upload_img_list j-viewer-img"> </div>
				</div>
			</div>
			<div class="layui-upload">
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md12">
				<div class="j-enclosure-upload clearfix">
					<div class="j-enclosure-label">审批表</div>
					<div class="j-enclosure-label j-uplode-icon">
						<i><img src="/static/system/image/Group8.png"></i>点击上传
						<button type="button" class="layui-btn layui-btn-primary" id="upload_img1">上传图片</button>
					</div>
					<div class="layui-form-mid layui-word-aux">限制1M</div>
				</div>
				<div class="j-enclosure-imgs clearfix">
					<div id="upload_img_list1" class="upload_img_list j-viewer-img"> </div>
				</div>
			</div>
			<div class="layui-upload">
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md12">
				<div class="j-enclosure-upload clearfix">
					<div class="j-enclosure-label">申请报告</div>
					<div class="j-enclosure-label j-uplode-icon">
						<i><img src="/static/system/image/Group8.png"></i>点击上传
						<button type="button" class="layui-btn layui-btn-primary" id="upload_img4">上传图片</button>
					</div>
					<div class="layui-form-mid layui-word-aux">限制1M</div>
				</div>
				<div class="j-enclosure-imgs clearfix">
					<div id="upload_img_list4" class="upload_img_list j-viewer-img"> </div>
				</div>
			</div>
			<div class="layui-upload">
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="j-margin-btn">
				<a href="javascript:history.go(-1)" class="layui-btn layui-btn-primary">取消</a>
				<button type="submit" j-data="{'save_type':'save'}" class="layui-btn" lay-submit lay-filter="formSubmit">保存</button>
				<button type="submit" j-data="{'save_type':'submit'}" class="layui-btn" lay-submit lay-filter="formSubmit">保存并提交</button>
			</div>
		</div>
  </div>
</form>
{include file="system@block/layui" /}
<!-- 图片查看 -->
<link rel="stylesheet" href="__PUBLIC_JS__/viewer/viewer.min.css?v={:config('hisiphp.version')}">
<script type="text/javascript" src="__PUBLIC_JS__/viewer/viewer-jquery.min.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript">
	/*上传参数设定*/
	var upurl = "{:url('system/Api/upload')}?input=NameChangeApproval&group=change&water=no"; //审批表
	var upurl1 = "{:url('system/Api/upload')}?input=HouseApplicationForm&group=change&water=no"; //租约
	var upurl2 = "{:url('system/Api/upload')}?input=TenantReIDCard&group=change&water=no"; //身份证信息
	var upurl3 = "{:url('system/Api/upload')}?input=NameChangeApplication&group=change&water=no"; //申请报告
	var duotu = true; //是否为多图上传true false
	layui.use(['jquery','table','layer', 'upload','form'], function() {
			var table = layui.table
			    ,form = layui.form
				,$ = layui.jquery
				,upload = layui.upload
				,layer = layui.layer;
      
	      //获取楼栋查询器
		  $(".layui-form").on('click','.j-house_number',function(){
		 layer.open({
			title: '房屋查询器'
			,type: 2
			,offset: 'auto'
			,area: ['70%', '60%']
			, btn:false
			,pageTabs: false
			,content: '{:url('system/index/house')}?hisi_iframe=yes&change_type=17'
			,btn: ['确定','关闭']
			,yes: function(index, layero){
				var row = window["layui-layer-iframe" + index].hoesedata();
				if(row.color_status != 1){ //正常状态下的才可以执行
					return false;
				}

				layer.close(index);
				$("#ban_id").val(row.ban_id);//获取楼栋id
				$("#house_id").val(row.house_id);//获取房屋id
				$("#house_number").val(row.house_number);//获取楼栋编号
				$("#tenant_id").val(row.tenant_id);//获取租户id
				$("#old_tenant_number,#new_tenant_number").val(row.tenant_number);//当前租户编号
				$("#old_tenant_name").val(row.tenant_name);//当前租户姓名
				$("#old_tenant_card,#new_tenant_card").val(row.tenant_card);//当前租户身份证号
			},btn2: function(index, layero){
				layer.close(index);
			}
		  });
		 })	
		  //身份证信息
		  upload.render({
		  	elem: '#upload_img3',
		  	url: upurl2,
		  	size: 1024,
		  	multiple: duotu,
		  	field: 'TenantReIDCard',
		  	before: function(obj) {
		  		layer.msg('图片上传中...', {
		  			icon: 16,
		  			shade: 0.01,
		  			time: 0
		  		})
		  	},
		  	done: function(res) {
		  		layer.close(layer.msg()); //关闭上传提示窗口
		  		if (duotu == true) {
		  			//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
		  			$('#upload_img_list3').append('<dd class="item_img" id="' + res.data.name +
		  				'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
		  				'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
		  		} else {
		  			//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
		  			$('#upload_img_list3').html('<dd class="item_img" id="' + res.data.name +
		  				'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
		  				'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
		  		}
		  	}
		  })
		  //审批表
		  upload.render({
		  	elem: '#upload_img1',
		  	url: upurl,
		  	size: 1024,
		  	multiple: duotu,
		  	field: 'NameChangeApproval',
		  	before: function(obj) {
		  		layer.msg('图片上传中...', {
		  			icon: 16,
		  			shade: 0.01,
		  			time: 0
		  		})
		  	},
		  	done: function(res) {
		  		layer.close(layer.msg()); //关闭上传提示窗口
		  		if (duotu == true) {
		  			//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
		  			$('#upload_img_list1').append('<dd class="item_img" id="' + res.data.name +
		  				'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
		  				'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
		  		} else {
		  			//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
		  			$('#upload_img_list1').html('<dd class="item_img" id="' + res.data.name +
		  				'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
		  				'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
		  		}
		  	}
		  })
		  //租约
		  upload.render({
		  	elem: '#upload_img2',
		  	url: upurl1,
		  	size: 1024,
		  	multiple: duotu,
		  	field: 'HouseApplicationForm',
		  	before: function(obj) {
		  		layer.msg('图片上传中...', {
		  			icon: 16,
		  			shade: 0.01,
		  			time: 0
		  		})
		  	},
		  	done: function(res) {
		  		layer.close(layer.msg()); //关闭上传提示窗口
		  		if (duotu == true) {
		  			//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
		  			$('#upload_img_list2').append('<dd class="item_img" id="' + res.data.name +
		  				'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
		  				'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
		  		} else {
		  			//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
		  			$('#upload_img_list2').html('<dd class="item_img" id="' + res.data.name +
		  				'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
		  				'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
		  		}				
		  	}
		  })
		  //申请报告
		  upload.render({
		  	elem: '#upload_img4',
		  	url: upurl3,
		  	size: 1024,
		  	multiple: duotu,
		  	field: 'NameChangeApplication',
		  	before: function(obj) {
		  		layer.msg('图片上传中...', {
		  			icon: 16,
		  			shade: 0.01,
		  			time: 0
		  		})
		  	},
		  	done: function(res) {
		  		layer.close(layer.msg()); //关闭上传提示窗口
		  		if (duotu == true) {
		  			//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
		  			$('#upload_img_list4').append('<dd class="item_img" id="' + res.data.name +
		  				'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
		  				'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
		  		} else {
		  			//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
		  			$('#upload_img_list4').html('<dd class="item_img" id="' + res.data.name +
		  				'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
		  				'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
		  		}				
		  	}
		  })
		  /*
		  删除上传图片
		  */
		  $(document).on("click", ".upload_img_list dd i", function() {
		  	$(this).parents("dd").remove();
		  })
		  //自定义表单验证
		  form.verify({
			  //验证当前信息身份证号
			   verifyidnumber: function (value) {
				    if(value.length <= 0){
				          $(".j-tips-boxs").removeClass("j-visibility"); 
				     }
					 else{
						 $(".j-tips-boxs").addClass("j-visibility");
						 return false;
					 }
			   },
			   //验证新租户身份证号
			   verifynewid: function (value) {
				   if(value.length <= 0){
				          $(".j-tips-newboxs").removeClass("j-visibility");
				    }else{
					   	 $(".j-tips-newboxs").addClass("j-visibility");
					   	 return false;
				    }
			   }
		  });  
	});
</script>
