<link rel="stylesheet" href="__ADMIN_CSS__/business-print.css?v={:config('hisiphp.version')}" media="print">
<link rel="stylesheet" href="__PUBLIC_JS__/layui/css/layui.css?v={:config('hisiphp.version')}" media="print">
<link rel="stylesheet" href="__ADMIN_CSS__/style.css?v={:config('hisiphp.version')}" media="print">
<link rel="stylesheet" href="__PUBLIC_JS__/layui/css/modules/layui-icon-extend/iconfont.css?v={:config('hisiphp.version')}" media="print">
<link rel="stylesheet" href="__ADMIN_CSS__/lucas-style.css?v={:config('hisiphp.version')}" media="print">
<!-- 别字更正申请 -->
<div class="j-details-box j-no-border floorWrap j-click-print">
  <form class="layui-form" action="" method="post">
		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>基本信息</legend>
		</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md8">
				<label class="j-form-label"><i class="red">*</i> 房屋编号</label>
				<div class="j-input-inline j-tips">
					<input type="text" id="house_number" value="{$data_info['house_info']['house_number']}" readonly autocomplete="off" class="layui-input j-search-input">
				</div>
				<div class="layui-form-mid layui-word-aux j-size-class"><i class="layui-icon layui-icon-tips"></i>别字更正后，原租约自动失效！</div>
			</div>	
			<div class="layui-col-md4">
				<label class="j-form-label">异动编号</label>
				<div class="j-input-inline">
					<input type="text" value="{$data_info['change_order_number']}" readonly class="layui-input">
				</div>
			</div>	
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">楼栋编号</label>
				<div class="j-input-inline">
					<input type="text" id="reduction_id" value="{$data_info['ban_info']['ban_number']}" placeholder=""   readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md8">
				<label class="j-form-label">楼栋地址</label>
				<div class="j-input-inline">
					<input type="text" id="reduction_address" value="{$data_info['ban_info']['ban_address']}" placeholder=""   readonly autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">楼层</label>
				<div class="j-input-inline">
					<input type="text" id="house_floor_id" value="{$data_info['house_info']['house_floor_id']}" placeholder=""   readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">使用面积</label>
				<div class="j-input-inline">
					<input type="text" id="house_use_area" readonly value="{$data_info['house_info']['house_use_area']}" placeholder=""  autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">计租面积</label>
				<div class="j-input-inline">
					<input type="text" id="house_lease_area" readonly value="{$data_info['house_info']['house_lease_area']}" placeholder=""  autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">备案时间</label>
				<div class="j-input-inline">
					<input type="text" id="ctime" value="{$data_info['ctime']}" placeholder=""   readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">楼栋产别</label>
				<div class="j-input-inline">
					<input type="text" id="reduction_class" value="{$params['owners'][$data_info['ban_info']['ban_owner_id']]}" placeholder=""   readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">使用性质</label>
				<div class="j-input-inline">
					<input type="text" id="reduction_nature" value="{$params['uses'][$data_info['house_info']['house_use_id']]}" placeholder=""   readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">计租表</label>
				<div class="j-input-inline">
					<a href="{:url('house/house/renttable')}?group=y&id={$data_info['house_id']}" id="checktable" class="j-iframe-pop" hisi-data="{width: '1300px', height: '700px',refresh: 2}" title="计租表"><b id="check" class="j-explain-searchs">查看</b></a>
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md6">
				<div class="j-column-box">
					<div class="j-column-title clearfix">
						异动前信息
					</div>
					<div class="j-column-con clearfix">
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label"><i class="red">*</i> 租户ID</label>
								<div class="j-input-inline">
									<input type="text" id="old_tenant_number" value="{$data_info['old_tenant_info']['tenant_number']}" readonly placeholder="" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label"><i class="red">*</i> 租户姓名</label>
								<div class="j-input-inline">
									<input type="text" id="old_tenant_name" value="{$data_info['old_tenant_name']}" readonly placeholder="" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label"><i class="red">*</i> 身份证号</label>
								<div class="j-input-inline">
									<input type="text" id="old_tenant_card" readonly value="{$data_info['old_tenant_info']['tenant_card']}"   placeholder="" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-col-md6">
				<div class="j-column-box">
					<div class="j-column-title clearfix">
						异动后信息
					</div>
					<div class="j-column-con clearfix">
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label"><i class="red">*</i> 租户ID</label>
								<div class="j-input-inline">
									<input type="text" id="new_tenant_number"  value="{$data_info['old_tenant_info']['tenant_number']}" placeholder="" readonly autocomplete="off" class="layui-input j-search-input">
								</div>
							</div>
						</div>
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label"><i class="red">*</i> 租户姓名</label>
								<div class="j-input-inline">
									<input type="text" id="new_tenant_name"  value="{$data_info['new_tenant_name']}" readonly   placeholder="" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label"><i class="red">*</i> 身份证号</label>
								<div class="j-input-inline">
									<input type="text" id="new_tenant_card" readonly value="{$data_info['old_tenant_info']['tenant_card']}"   placeholder="" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md8">
				<label class="j-form-label">异动原因</label>
				<div class="j-input-inline">
					<div class="j-detail-text">{$data_info['change_remark']}</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">是否生成租约</label>
				<div class="j-input-inline j-input-radio">
					<input type="radio" name="is_create_lease" value="1" disabled="disabled" {if condition="$data_info['is_create_lease']"}checked{/if} title="是">
					<input type="radio" name="is_create_lease" value="0" disabled="disabled" title="否" {if condition="!$data_info['is_create_lease']"}checked{/if}>
				</div>
			</div>
		</div>
		<div class="j-print-hide">
			<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
				<legend>填报信息</legend>
			</fieldset>
			<div class="layui-row layui-form-item layui-col-space90">
				<div class="layui-col-md12">
					<div class="j-enclosure-label clearfix">计租表</div>
					<div class="j-enclosure-img j-viewer-img clearfix">
						<ul>
							{volist name="$data_info['change_imgs']" id="v"}
							{if condition="$v['file_type'] == 'Houselease'"}
							<li>
								<img src="{$v['file']}">
							</li>
							{/if}
							{/volist}
						</ul>
					</div>
				</div>
			</div>
			<div class="layui-row layui-form-item layui-col-space90">
				<div class="layui-col-md12">
					<div class="j-enclosure-label clearfix">身份证信息</div>
					<div class="j-enclosure-img j-viewer-img clearfix">
						<ul>
							{volist name="$data_info['change_imgs']" id="v"}
							{if condition="$v['file_type'] == 'TenantReIDCard'"}
							<li>
								<img src="{$v['file']}">
							</li>
							{/if}
							{/volist}
							<!-- <li>
								<img src="/upload/ban/image/20190917/43e37b86505f7528d20237da2c45d537.png">
							</li> -->
						</ul>
					</div>
				</div>
			  </div>
			  <div class="layui-row layui-form-item layui-col-space90">
					<div class="layui-col-md12">
						<div class="j-enclosure-label clearfix">租约</div>
						<div class="j-enclosure-img j-viewer-img clearfix">
							<ul>
								{volist name="$data_info['change_imgs']" id="v"}
								{if condition="$v['file_type'] == 'HouseApplicationForm'"}
								<li>
									<img src="{$v['file']}">
								</li>
								{/if}
								{/volist}
							</ul>
						</div>
					</div>
				</div>
			   <div class="layui-row layui-form-item layui-col-space90">
					<div class="layui-col-md12">
						<div class="j-enclosure-label clearfix">审批表</div>
						<div class="j-enclosure-img j-viewer-img clearfix">
							<ul>
								{volist name="$data_info['change_imgs']" id="v"}
								{if condition="$v['file_type'] == 'NameChangeApproval'"}
								<li>
									<img src="{$v['file']}">
								</li>
								{/if}
								{/volist}
							</ul>
						</div>
					</div>
				 </div>
				<div class="layui-row layui-form-item layui-col-space90">
					<div class="layui-col-md12">
						<div class="j-enclosure-label clearfix">申请报告</div>
						<div class="j-enclosure-img j-viewer-img clearfix">
							<ul>
								{volist name="$data_info['change_imgs']" id="v"}
								{if condition="$v['file_type'] == 'NameChangeApplication'"}
								<li>
									<img src="{$v['file']}">
								</li>
								{/if}
								{/volist}
							</ul>
						</div>
					</div>
				  </div>
		</div>
        <fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>审批状态</legend>
		</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
		   <div class="j-status-bar">
				<ul>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 2) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>房管员</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 3) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>经租会计</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 4) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>经管所长</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 5) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>经管科</p>
					</li>
				</ul>
			</div>
			<div class="j-status-result">
				<ul>
					{volist name="$data_info['child_json']" id="v"}
					<li>{$systemusers[$v['uid']]['role']['name']}［{$systemusers[$v['uid']]['nick']}］于 {$v['time']} {$v['action']}；</li>
					{/volist}
					<!-- <li>经租会计［冯超］于2019-08-30 09:35:01 初审；</li> -->
				</ul>
			</div>
		</div>
</form>
</div>
<form>
    <div class="j-buttom j-buttom-print">
        <button type="button" onclick="click_print()" class="layui-btn">打印</button>
    </div>
</form>
{include file="system@block/layui" /}
<!-- 图片查看 -->
<link rel="stylesheet" href="__PUBLIC_JS__/viewer/viewer.min.css?v={:config('hisiphp.version')}">
<script type="text/javascript" src="__PUBLIC_JS__/viewer/viewer-jquery.min.js?v={:config('hisiphp.version')}"></script>
<!-- 打印 S -->
<script type="text/javascript" src="__PUBLIC_JS__/print/jquery-pool.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript" src="__PUBLIC_JS__/print/jquery.jqprint-0.3.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript">
	$('.j-viewer-img').viewer({
		url: 'data-original',
	 });
	 function  click_print(){
		 $(".j-click-print").jqprint();
	 }
</script>
