<div class="j-table-content j-no-title">
	<div class="page-toolbar j-page-toolbar clearfix">
		<form class="layui-form layui-form-pane" action="{:url()}" method="get" id="hisi-table-search">
			<div class="j-search-fl layui-col-md8  fl">
				<div class="layui-input-inline layui-col-md2 j-input-margin" style="width:120px;">
					<input type="text" name="ban_address" placeholder="楼栋地址" class="layui-input">
				</div>
				{if condition="INST_LEVEL != 3"}
				<div class="layui-input-inline layui-col-md2" style="width:120px;">
					<select name="ban_inst_id">
						<option value="">机构名称</option>
						{volist name=":config('inst_check_names')[INST]" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				{/if}
				<div class="layui-input-inline" style="width:120px;">
					<select name="ban_owner_id">
						<option value="">产别</option>
						{volist name="params['owners']" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				<div class="layui-input-inline j-input-margin" style="width:120px;">
					<input type="text" name="old_tenant_name"   placeholder="原姓名" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-input-inline j-input-margin" style="width:120px;">
					<input type="text" name="new_tenant_name"   placeholder="新姓名" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-input-inline j-input-margin" style="width:120px;">
					<input type="text" name="ctime" id="date1"  placeholder="申请时间" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-input-inline j-input-margin" style="width:120px;">
					<input type="text" name="ftime" id="date2"  placeholder="完成时间" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-input-inline" style="width:155px;">
					<select name="change_status">
						<option value="">审核状态</option>
						<option value="1">成功</option>
						<option value="0">失败</option>
					</select>
				</div>
			</div>
			<div class="j-search-fr layui-col-md4 fr">
				<div class="layui-input-inline fr">
					<div class="layui-input-inline" style="margin-left:10px;">
						<button type="reset" class="layui-btn j-btn-reset">重置</button>
						<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
							<i class="layui-icon">&#xe615;</i>
							搜索
						</button>
						<button type="button" class="layui-btn layui-btn-warm"><i class="layui-icon iconfont j-icon-screen_icon"></i>标题筛选</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	{include file="system@block/layui" /}
	<table id="dataTable" lay-filter='dataTable' params="{$paramsJson}"></table>
	<script type="text/html" id="toolbar"></script>
	<script type="text/html" title="操作按钮模板" id="buttonTpl">
		<a href="{:url('detail')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">明细</a>
    </script>
</div>
<script type="text/javascript">
	var process_config = {'0':'失败','1':'成功'};
	layui.use(['table', 'jquery','laydate'], function() {
		var $ = layui.$;
		var s = $('#dataTable').attr('params');
		var params = JSON.parse(s);
		var table = layui.table
		   ,laydate = layui.laydate;
		
		//日期
		  laydate.render({
		    elem: '#date1'
		  });
		  laydate.render({
		    elem: '#date2'
		  });
		table.render({
			elem: '#dataTable',
			/* height: 550, */
			toolbar: '#toolbar'
				// ,defaultToolbar: ['print']
				,defaultToolbar: ['filter','exports','print'] //设置右边筛选，导出，打印显示
			    ,url: '{:url()}' //数据接口
				,page: true //开启分页
				,limit: 10
			   ,limits: [10,20,30,40,50,100,300,500,1000]
			  ,text: {
					none: "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
			  }
			  ,cols: [
				[  
					{field: 'change_order_number',hide: true,minWidth: 180,align:'center',title: '异动编号'}, 
					{field: 'ban_address',minWidth: 180,align:'center',title: '楼栋地址'}, 
					{field: 'ban_inst_id',hide: isShowInst,minWidth: 120,align:'center',title: '机构',
						templet: function(d) {
					        return params.insts[d.ban_inst_id];
					    }
					},
					{field: 'ban_owner_id',minWidth: 80,align:'center',title: '产别', 
						templet: function(d) {
		                    return params.owners[d.ban_owner_id];
		                }
					}, 
					{field: 'house_use_id',hide: true, minWidth: 120,align:'center',title: '使用性质', 
						templet: function(d) {
		                    return params.uses[d.house_use_id];
		                }
					},
					{field: 'old_tenant_name',minWidth: 120,align:'center',title: '原姓名'}, 
					{field: 'new_tenant_name',minWidth: 120,align:'center',title: '新姓名'}, 
					{field: 'ctime',align:'center',minWidth: 160,title: '申请时间'},
					{field: 'ftime',align:'center',minWidth: 160,title: '完成时间'},
					{field: 'change_status',align:'center',minWidth: 160,title: '审核状态', 
						templet: function(d) {
		                    return process_config[d.change_status];
		                }
					}, 
					{title: '操作',width: 120,align:'center',templet: '#buttonTpl',fixed: 'right'}
				]],
			done: function(res, curr, count) {

			}
		},isShowInst)
	});
</script>