/*  */
.BMapLabel span{
	position: absolute;
	font-size: 30px;
	left:-13px;
	top:-15px;
}
/* 画圈找房 s*/
.wrapper{
	width: 100%;
     /* min-height:947px; */
	/* position: relative;
	overflow-y: hidden; */
}
.map-container{
    /* min-height:947px; */
    width:100%;
}
.j-draw-btn{ text-align: right; padding-right: 30px;line-height: 40px;}
.j-draw-btn .btn{ color:#007AFF ; cursor: pointer;}
#data li {
    width:100%;
    height:50px;
    border-bottom: 1px dashed #bfbfbf;
    padding:10px 20px;
    list-style-type: none;
    line-height: 50px;
    color: #737373;
}
.j-cover-list.j-name{ margin-top: 15px;}
.j-cover-list{ margin-top: 8px;}
/* 左边详情 */
.j-houseList{width:460px; box-sizing:border-box;position:absolute;top:0;left:-460px;background-color:#fff;z-index:111;transition:left .5s;-webkit-transition:left .5s;-moz-transition:left .5s;-o-transition:left .5s;}
.j-houseList .close_list{position:absolute;right:-40px;background-color:#fff;width:40px;top:48%;transform:translateY(23px);-webkit-transition:translateY(23px);-moz-transition:translateY(23px);-o-transition:translateY(23px);border-top-right-radius:4px;border-bottom-right-radius:4px;height:60px;line-height:60px;text-align:center; border-left:0px; box-shadow:0 0 2px rgba(0,0,0,0.3);z-index:1; cursor:pointer}
.j-houseList .close_list i{ font-size: 22px; color: #007AFF;}
.j-house-details{height: 100%;overflow-y: auto;overflow-x: hidden; padding: 20px 20px 20px;}
.j-houseList.active{left:0; border-left:0px;}
.j-houseList.active .close_list{display:block}
.j-houseList.active .close_list .icon_close_houselist{background-position:-180px 0}
.j-form-label{width: 60px; text-align: right;}
.j-input-block{margin-left: 60px;white-space: nowrap;overflow: hidden; text-overflow: ellipsis;}
.j-building-info ul li{ line-height: 35px;}
.j-building-info{ font-size: 12px;}
.j-tenant-info .layui-table td,.j-tenant-info .layui-table th{font-size: 12px;}
.j-building-info h1,.j-tenant-info h1{ font: 14px/35px '';color: #007AFF;}
.j-search-box{ position: absolute;top:60px;right: 10px; z-index: 1;}
.j-search-box li{ width: 100px; margin-right: 10px; float: left; box-shadow: 0px 2px 4px 0px rgba(155,155,155,0.62);}
/* 显示画圈内房屋个数 */
.j-map-sum{ position: absolute; bottom: 20px;left: 50%; text-align: center;color: #fff;padding: 0 18px;font:bold 12px/26px '';border-radius: 2px; background: rgba(0,0,0,0.6);    transform: translate(-50%, 0);}
/* 画圈找房 e */