	<style>
		.page-tab-content{ background: none;}
	</style>
	<script type="text/javascript" src="__PUBLIC_JS__/jquery.2.1.4.min.js?v={:config('hisiphp.version')}"></script>
	<script type="text/javascript" src="__PUBLIC_JS__/echarts.min.js?v={:config('hisiphp.version')}"></script>
	<link rel="stylesheet" href="__PUBLIC_JS__/viewer/viewer.min.css?v={:config('hisiphp.version')}">
	{if condition="$password_is_init"}
	<div class="layui-collapse page-tips">
	  <div class="layui-colla-item">
	    <h2 class="layui-colla-title">重要提示</h2>
	    <div class="layui-colla-content layui-show">
	      <p class="red">您当前使用的密码为初始密码，请及时修改！！！<a href="{:url('system/user/info')}">【点此修改】</a></p>
	    </div>
	  </div>
	</div>
	{/if}
	<!-- 累计租金收租情况 待办事项 -->
	<div class="layui-row layui-col-space15">
	  <div class="layui-col-md6 j-title-size">
		<div class="j-product-title clearfix">
		  <div class="j-title layui-col-md4 fl">累计租金收租情况</div>
		  <div class="j-table-content layui-col-md8 fr">
			  <div class="page-toolbar j-page-toolbar clearfix">
				<form class="layui-form layui-form-pane">
					<div class="j-search-fl fr">
						  {if condition="INST_LEVEL != 3"}
						  <div class="layui-input-inline" style="width:140px;">
							  <select name="inst_id" lay-filter="inst_id">
								  <option value="">机构</option>
								  {volist name=":config('inst_check_names')[INST]" id="v"}
								  <option value="{$key}" {if condition="$key == INST"}selected{/if}>{$v}</option>
								  {/volist}
								</select>
						  </div>
						  {/if}
						  <div class="layui-input-inline fr" style="width:140px;padding-left:5px">
							  <input type="text" name="query_month" value="" placeholder="月份" id="query_month" autocomplete="off" class="layui-input">
						  </div>
					</div>
				</form>
			</div>
		  </div>		  
		</div>
	    <div class="j-index-notice j-chart-box j-no-padding">
		  <div class="product-title">
			<ul class="product-ul click-rent">
			  <li class="cur" data-id="12">所有</li>
			  <li class="" data-id="10">市属</li>
			  <li class="" data-id="2">区属</li>
			  <li class="" data-id="5">自管</li>
			</ul>
		  </div>
		  <div class="layui-row layui-col-space15">
			  <div class="layui-col-md4">
				<div class="product-con">
				  <div class="product-box clearfix">
				    <div id="chart-panel" style="width:100%;min-height:220px;"></div>
				  </div>
				  <!-- <div class="product-box clearfix hide">
					2  
				  </div>
				  <div class="product-box clearfix hide">
				  	3
				  </div>
				  <div class="product-box clearfix hide">
				  	4
				  </div> -->
				</div>
			  </div>
			  <div class="layui-col-md8">
				<div class="layui-form">
				  <table class="layui-table j-no-borde j-rent-box">
				    <thead>
				      <tr>
				        <th>使用性质</th>
				        <th>应收租金</th>
				        <th>实收租金</th>
				        <th>完成率</th>
				      </tr> 
				    </thead>
				    <tbody>
				      
				    </tbody>
				  </table>
				</div>			  
			  </div>
		  </div>
	    </div>
		<div class="layui-row layui-col-space15">
			<!-- <div class="layui-col-md12">
			  <div class="j-col-box">
				<div class="j-title-color clearfix">租金年计划</div>
				<div class="j-money-max clearfix">
					<span class="j-line-bottom clearfix">20,000,000<label>元</label></span>
					<p class="j-complete clearfix">已完成金额</p>
					<span class="j-bottom-size clearfix">1,000,000<label>元</label></span>
				</div>
			  </div>
			</div> -->
			<!-- 公告 -->
			<div class="layui-col-md12 j-title-size">
			  <div class="j-product-title clearfix">
			    <div class="j-title layui-col-md4 fl">公告</div>		  
			  </div>
			  <div class="j-index-notice">
				  <div class="j-table-content clearfix">
					  <div class="page-toolbar j-page-toolbar clearfix">
						<form class="layui-form layui-form-pane" action="{url('index')}"  method="post" id="hisiSearch">
							<div class="j-search-fl layui-col-md8  fl">
								  <div class="layui-input-inline j-input-margin" style="width:150px;">
									  <input type="text" name="title" placeholder="标题查询" class="layui-input">
								  </div>
							</div>
							<div class="j-search-fr layui-col-md4 fr">
								<div class="layui-input-inline fr">
								  <button type="reset" class="layui-btn j-btn-reset">重置</button>
									<button class="layui-btn" lay-submit lay-filter="formDemo">
										<i class="layui-icon">&#xe615;</i>
										搜索
									</button>
								</div>
							</div>
						</form>
					</div>
				  </div>
				  <table id="dataTable" class="layui-table" lay-filter='dataTable'></table>
			  </div>
			</div>
		</div>
	  </div>	
	  <!-- 待办事项 -->
	  <div class="layui-col-md6 j-title-size">
		<div class="j-product-title clearfix">
		  <div class="j-title layui-col-md4 fl">待办事项</div>		  
		</div>
	    <div class="j-index-notice">
	  	  <div class="j-table-content clearfix">
	  		  <div class="page-toolbar j-page-toolbar clearfix">
	  			<form class="layui-form layui-form-pane" action="{:url('rent/api/indexPartTwo')}" data-table="dataTable3" method="post" id="hisi-table-search-one">
	  				<div class="j-search-fl layui-col-md8  fl">
	  					  <div class="layui-input-inline j-input-margin" style="width:150px;">
	  						  <!-- <input type="text" name="title" placeholder="变更类型查询" class="layui-input"> -->
	  						  <select name="change_type">
								  <option value="">异动类型</option>
								  {volist name="params.changes" id="v"}
								  <option value="{$key}">{$v}</option>
								  {/volist}
								</select>
	  					  </div>
	  				</div>
	  				<div class="j-search-fr layui-col-md4 fr">
	  					<div class="layui-input-inline fr">
	  					  <button type="reset" class="layui-btn j-btn-reset">重置</button>
	  						<button class="layui-btn" lay-submit lay-filter="formDemo2">
	  							<i class="layui-icon">&#xe615;</i>
	  							搜索
	  						</button>
	  					</div>
	  				</div>
	  			</form>
	  		</div>
	  	  </div>
	  	  <table id="dataTable3" class="layui-table" lay-filter='dataTable3'></table>   
	    </div>
	  </div>
	</div>
	<hr />
	<!-- 每月缴费情况分析 -->
	<div class="layui-row layui-col-space15">
	    <div class="j-title-size">
		  <div class="j-product-title clearfix">
			<div class="j-title layui-col-md4 fl">每月缴费情况分析</div>
			<div class="j-table-content layui-col-md8 fr">
			  <div class="page-toolbar j-page-toolbar clearfix">
				<form class="layui-form layui-form-pane">
					<div class="j-search-fl fr">
						  {if condition="INST_LEVEL != 3"}
						  <div class="layui-input-inline" style="width:140px;">
							  <select name="inst_id1" lay-filter="inst_id1">
								  <option value="">机构</option>
								  {volist name=":config('inst_check_names')[INST]" id="v"}
								  <option value="{$key}" {if condition="$key == INST"}selected{/if}>{$v}</option>
								  {/volist}
								</select>
						  </div>
						  {/if}
						  <div class="layui-input-inline fr" style="width:140px;padding-left:5px">
							  <input type="text" name="query_month" value="" placeholder="月份" id="query_month1" autocomplete="off" class="layui-input">
						  </div>
					</div>
				</form>
			</div>
			</div>		  
		  </div>
		  <div class="layui-row layui-col-space15">
		    <div class="layui-col-md4">
			<div class="j-index-notice j-chart-box j-no-padding">
			  <div class="product-title clearfix">
				<ul class="product-ul click-rent-list1">
				  <li class="cur" data-id1="12">所有</li>
				  <li class="" data-id1="10">市属</li>
				  <li class="" data-id1="2">区属</li>
				  <li class="" data-id1="5">自管</li>
				</ul>
			  </div>
			  <div class="product-con clearfix">
			    <div class="product-box clearfix">
			      <div id="chart-panel1" style="width:100%;min-height:220px;"></div>
			    </div>
			   <!-- <div class="product-box clearfix hide">
			  	 <div>2</div>  
			    </div>
				<div class="product-box clearfix hide">
				 <div>3</div>  
				</div> -->
			  </div>
			</div>
		  </div>  
		    <div class="layui-col-md4">
			<div class="j-index-notice j-chart-box j-no-padding">
			  <div class="product-title clearfix">
				<div class="j-size-title fl">房屋变动情况</div>
				<ul class="product-ul click-rent-list2">
				  <li class="cur" data-id2="12">所有</li>
				  <li class="" data-id2="10">市属</li>
				  <li class="" data-id2="2">区属</li>
				  <li class="" data-id2="5">自管</li>
				</ul>
			  </div>
			  <div class="product-con clearfix">
			    <div class="product-box clearfix">
			      <div id="chart-panel2" style="width:100%;min-height:220px;"></div>
			    </div>
			    <!-- <div class="product-box clearfix hide">
			  	 <div>2</div>  
			    </div>
				<div class="product-box clearfix hide">
				 <div>3</div>  
				</div>
				<div class="product-box clearfix hide">
				 <div>4</div>  
				</div> -->
			  </div>
			</div>
		  </div>
		    <div class="layui-col-md4">
			<div class="j-index-notice j-chart-box j-no-padding">
			  <div class="product-title clearfix">
				<div class="j-size-title fl">租金收缴情况</div>
				<ul class="product-ul click-rent-list3">
				  <li class="cur" data-id3="12">所有</li>
				  <li class="" data-id3="10">市属</li>
				  <li class="" data-id3="2">区属</li>
				  <li class="" data-id3="5">自管</li>
				</ul>
			  </div>
			  <div class="product-con clearfix">
			    <div class="product-box clearfix">
			      <div id="chart-panel3" style="width:100%;min-height:220px;"></div>
			    </div>
			    <!-- <div class="product-box clearfix hide">
			  	 <div>2</div>  
			    </div>
				<div class="product-box clearfix hide">
				 <div>3</div>  
				</div>
				<div class="product-box clearfix hide">
				 <div>4</div>  
				</div> -->
			  </div>
			</div>
		  </div>
		  </div>
		</div>
	</div>
	<div class="j-hr-button"></div>
	<hr />
	<!-- 文件下载 公告 -->
	<div class="layui-row layui-col-space15">
		<!-- 文件下载 -->
		<div class="layui-col-md6 j-title-size hide">
		  <div class="j-product-title clearfix">
		    <div class="j-title layui-col-md4 fl">文件下载</div>		  
		  </div>
		  <div class="j-index-notice">
			  <div class="j-table-content clearfix">
				  <div class="page-toolbar j-page-toolbar clearfix">
					<form class="layui-form layui-form-pane" action="{url('index')}"  method="post" id="hisi-table-search-two">
						<div class="j-search-fl layui-col-md8  fl">
							  <div class="layui-input-inline j-input-margin" style="width:150px;">
								  <input type="text" name="title" placeholder="文件名查询" class="layui-input">
							  </div>
						</div>
						<div class="j-search-fr layui-col-md4 fr">
							<div class="layui-input-inline fr">
							  <button type="reset" class="layui-btn j-btn-reset">重置</button>
								<button class="layui-btn" lay-submit lay-filter="formDemo1">
									<i class="layui-icon">&#xe615;</i>
									搜索
								</button>
							</div>
						</div>
					</form>
				</div>
			  </div>
			  <table id="dataTable2" class="layui-table" lay-filter='dataTable2'></table>
		  </div>
		</div>
	</div>
	<script type="text/html" title="操作按钮模板" id="buttonTpl">
	    <a href="" class="j-download-color">下载</a>
	</script>
	<script type="text/html" title="操作按钮模板" id="buttonTp2">
	  <!-- <a href="" class="j-download-color">审批</a> -->
	

	  {{# if(d.change_type == 18 && d.curr_role == 6){ }}
	  <a href="{:url('deal/process/printout')}?change_type={{ d.change_type }}&id={{ d.change_id }}" class="layui-btn layui-btn-xs layui-btn-normal">租约打印</a>
	  {{# } }}
	  {{# if(d.curr_role != 4){ }}
	  <!-- 如果是租约管理异动，当打印次数大于0的时候，才能审批 -->
	  {{# if (d.change_type == 18 && d.curr_role == 6 && d.print_times == 0){ }} 
	  <button class="layui-btn layui-btn-xs layui-btn-disabled">审批</button>
	  {{#  } else { }}
	  <a href="{:url('deal/process/process')}?change_type={{ d.change_type }}&id={{ d.change_id }}" class="layui-btn layui-btn-xs layui-bg-green">审批</a>
	  {{#  } }}
	  {{#  } }}
	  
	</script>
	{include file="block/layui" /}
	<script type="text/javascript" src="__PUBLIC_JS__/viewer/viewer-jquery.min.js?v={:config('hisiphp.version')}"></script>
	<script type="text/javascript">
	layui.use(['table','layer','laydate','form'], function() {
        var table = layui.table
		    ,form = layui.form
		    ,$ = layui.jquery
			,laydate = layui.laydate
			,layer = layui.layer;
			console.log($("#query_month").val());
		/* 待办事项 */
		table.render({
		    elem: '#dataTable3'
		    ,height: 646
		    //,toolbar: '#toolbar'
		    // ,defaultToolbar: ['print']
		    ,url: '{:url("rent/api/indexPartTwo")}' //数据接口
		    ,page: true //开启分页
		    ,limit: 10
		    ,text: {
		        none : "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
		    }
		    ,cols: [[ //表头
			    { type: 'numbers', title: '序号',align:'center'}
				,{field: 'change_type', maxwidth:200, title: '异动类型',
						templet: function(d) {
		                    return params.changes[d.change_type];
		                }}
		        ,{field: 'ctime', maxwidthwidth: 180, title: '创建时间'}
				,{field: 'reads', maxwidthwidth: 80,title: '操作',templet: '#buttonTp2',align:'center'}
		    ]]
		    ,done:function(res,curr,count){
		       
		    }
		})
		/* 文件下载 */
		table.render({
		    elem: '#dataTable2'
		    ,height: 300
		    //,toolbar: '#toolbar'
		    // ,defaultToolbar: ['print']
		    ,url: '{:url("system/Index/index")}' //数据接口
		    ,page: true //开启分页
		    ,limit: 5
		    ,limits: [5,10,20,30,40,50]
		    ,text: {
		        none : "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
		    }
		    ,cols: [[ //表头
				{field: 'title', maxwidth:200, title: '文件名'}
		        ,{field: 'reads', maxwidth: 80,title: '操作',templet: '#buttonTpl',align:'center'}
		        ,{field: 'create_time', maxwidth: 180, title: '创建时间'}
		    ]]
		    ,done:function(res,curr,count){
		       
		    }
		})
		/* 公告 */
        table.render({
            elem: '#dataTable'
            ,height: 300
            //,toolbar: '#toolbar'
            // ,defaultToolbar: ['print']
            ,url: '{:url("system/Index/index")}' //数据接口
            ,page: true //开启分页
            ,limit: 5
            ,limits: [5,10,20,30,40,50]
            ,text: {
                none : "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
            }
            ,cols: [[ //表头
				{field: 'title', maxwidth:200, title: '标题'}
                ,{field: 'content',maxwidth: 240, hide: true ,title: '内容'}
                ,{field: 'reads', width: 240, hide: true ,title: '阅读记录'}
                ,{field: 'cuid', width: 240, hide: true ,title: '创建人'}
                ,{field: 'create_time', maxwidth: 180, title: '创建时间'}
            ]]
            ,done:function(res,curr,count){
               
            }
        })
        table.on('row(dataTable)', function(obj){
		  $.get("/admin.php/system/api/update_notice_reads/id/"+obj.data.id, function(msg){console.log(msg);});
		  	layer.open({
			  title: '公告'
			  ,offset: 'auto'
			  ,area: ['70%', '60%']
			  , btn:false
			  ,content: '<div id="j-news-details" class="j-news-details j-viewer-img"><h1>'+ obj.data.title +'</h1><h2>'+ obj.data.create_time +'</h2><div class="j-content-size">'+ htmlRestore(obj.data.content) +'</div></div>'
			});
		});
		
	    /* 累计租金收租情况 */
		var myChart = echarts.init(document.getElementById('chart-panel'));
		 // 指定图表的配置项和数据
		var dataStyle = {
		    normal: {
		        label: {show:false},
		        labelLine: {show:false}
		    }
		};
		var placeHolderStyle = {
		    normal : {
		        color: 'rgba(0,0,0,0)',
		        label: {show:false},
		        labelLine: {show:false}
		    },
		    emphasis : {
		        color: 'rgba(0,0,0,0)'
		    }
		};
		option = {
		    backgroundColor:'#fff',
			color: ['#7B62E9','#11A0F8','#7ACE4C'],
		    title: {
		        x: 'center',
		        y: '19%',
		        itemGap: 20,
		        textStyle : {
		            color : '#8ce6ff',
		            fontFamily : '微软雅黑',
		            fontSize : 32,
		            fontWeight : 'bolder'
		        }
		    },
		     tooltip : {
		        show: true,
		        backgroundColor:'rgba(0,0,0,0.5)',
		         textStyle:{
		            fontSize:14,
		            color:'#fff'
		        },
		        formatter: "累计租金收租情况 <br/>{b} : {c} {d} %",
				 position: function (p) {
					   // 位置回调
					   return [p[0] + 10, p[1] - 10];
				   },
		    },
		    legend: {
		        orient : 'horizontal',
		        left: '10%',
		        bottom : '20',
		        icon:'pin',
		        itemGap:12,
		        textStyle : {
		            color : '#666',
		        },
		        data:['企事','机关','住宅']
		    },
		};
		myChart.setOption(option);
		//json数据初始化
		var now = new Date();
		var time = now.getFullYear() + "/" +((now.getMonth()+1)<10?"0":"")+(now.getMonth()+1);
		var ban_inst_id = {$Think.INST},//获取机构
		    ctime = time;//获取日期改变
		function ajaxdata(){
		  $.ajax({
		  type: "post",
		  url: "{:url('rent/api/indexPartOne')}?inst_id="+ban_inst_id+'&ctime='+ctime,
		  data: {'inst_id':ban_inst_id,'ctime':ctime}, 
		  dataType: "json", 
		  success: function(res) {
			  var resData = res.data;
			  var data_id = $('.click-rent li.cur').attr('data-id');
			   if (res) {
				function statistics(){
					$('.j-rent-box tbody').html("");
					//生成table表格
					var trData='<tr>\
						  <td>企事</td>\
						  <td>'+resData[data_id][2].rent_order_receives+'</td>\
						  <td>'+resData[data_id][2].rent_order_paids+'</td>\
						  <td>'+(resData[data_id][2].rent_order_paids/resData[data_id][2].rent_order_receives*100).toFixed(2)+'%'+'</td>\
						</tr>\
						<tr>\
							<td>机关</td>\
							<td>'+resData[data_id][3].rent_order_receives+'</td>\
							<td>'+resData[data_id][3].rent_order_paids+'</td>\
							<td>'+(resData[data_id][3].rent_order_paids/resData[data_id][3].rent_order_receives*100).toFixed(2)+'%'+'</td>\
						</tr>\
						<tr>\
							<td>住宅</td>\
							<td>'+resData[data_id][1].rent_order_receives+'</td>\
							<td>'+resData[data_id][1].rent_order_paids+'</td>\
							<td>'+(resData[data_id][1].rent_order_paids/resData[data_id][1].rent_order_receives*100).toFixed(2)+'%'+'</td>\
						</tr>';
					  $('.j-rent-box tbody').append(trData);
					  //处理0%的问题
					  var trList = $(".j-rent-box tbody").children("tr");
						for (var j=0;j<trList.length;j++) {
							var tdArr = trList.eq(j).find("td"); //遍历td  
								if(tdArr.eq(1).text()==0||tdArr.eq(2).text()==0){
									tdArr.eq(3).text("0%");
								}
							
						}
					 //生成可视化数据
					 //myChart.hideLoading();
					//累计租金收租情况
					 myChart.setOption({
					     series : [
					         {
					             name:'0',
					             type:'pie',
					             clockWise:false,
					             radius : ['60%', '70%'],
					             center: ['45%', '40%'],
					             itemStyle : dataStyle,
					             data:[
					                 {
					                     value:resData[data_id][2].rent_order_paids, 
					                     name:'企事'
					                 },
					                 {
					                     value:resData[data_id][2].rent_order_receives-resData[data_id][2].rent_order_paids,
					                     name:'invisible',
					                     tooltip: {
					     					show: false
					     				},
					     				itemStyle: {
					     					normal: {
					     						color: '#E7E7E7'
					     					},
					     					emphasis: {
					     						color: '#E7E7E7'
					     					}
					     				}
					                 }
					             ]
					         },
					         {
					             name:'1',
					             type:'pie',
					             clockWise:false,
					             radius : ['40%', '50%'],
					             center: ['45%', '40%'],
					             itemStyle : dataStyle,
					             data:[
					                 {
					                     value:resData[data_id][3].rent_order_paids,
					                     name:'机关'
					                 },
					                 {
					                     value:resData[data_id][3].rent_order_receives-resData[data_id][3].rent_order_paids,
					                     name:'invisible',
					                     itemStyle : placeHolderStyle,
					                     tooltip: {
					     					show: false
					     				},
					     				itemStyle: {
					     					normal: {
					     						color: '#E7E7E7'
					     					},
					     					emphasis: {
					     						color: '#E7E7E7'
					     					}
					     				}
					                 }
					             ]
					         },
					         {
					             name:'2',
					             type:'pie',
					             clockWise:false,
					             radius : ['20%', '30%'],
					             center: ['45%', '40%'],
					             itemStyle : dataStyle,
					             data:[
					                 {
					                     value:resData[data_id][1].rent_order_paids, 
					                     name:'住宅'
					                 },
					                 {
					                     value:resData[data_id][1].rent_order_receives-resData[data_id][1].rent_order_paids,
					                     name:'invisible',
					                     itemStyle : placeHolderStyle,
					                     tooltip: {
					     					show: false
					     				},
					     				itemStyle: {
					     					normal: {
					     						color: '#E7E7E7'
					     					},
					     					emphasis: {
					     						color: '#E7E7E7'
					     					}
					     				}
					                 }
					             ]
					         }
					     ]
					   });
				} 
					statistics();
					$(".click-rent li").click(function(){
						$(this).addClass("cur").siblings().removeClass("cur");
						data_id =$(this).attr('data-id');
						console.log(resData[data_id][1].rent_order_paids);
						statistics();
						
					})
			}
		  },
		  error: function(msg) {
			  layer.msg(msg);
			  myChart.hideLoading();
		  }
		});
	   }
	ajaxdata();
	//监听机构变化
	form.on('select(inst_id)', function(data){
		//console.log(data.value); //得到被选中的值
		ban_inst_id = data.value;//获取机构
		ajaxdata();
	});
	
	//年选择器
	laydate.render({
	    elem: '#query_month'
	    ,type: 'month'
		,value: new Date() 
		,isInitValue: true,
		format: 'yyyy/MM',
		ready: function(date){
		    $('.layui-laydate li').click(function () {
		       $('.laydate-btns-confirm').trigger('click');
		    });
		},
		done: function(value, date){ //监听日期被切换
		  console.log(value)
		  ctime=value;
		 //执行函数
		  ajaxdata();
		}
	});
		//每月缴费情况分析统计
		var myChart1 = echarts.init(document.getElementById('chart-panel1'));
		option1 = {
		    backgroundColor: '#fff',
		    tooltip: {
		        trigger: 'item',
		        formatter: "{b}: {c} 元",
		        padding: 10,
		    },
		    color:['#7460EE','#11A0F8','#7ACE4C'],
		    grid:{
		      left:20, 
			  bottom: '0', 
			  top:20,
			  containLabel: true  
		    },
		    yAxis : [
		        {
		            type : 'category',
		            data : [ '企业','机关', '民用'],
		            boundaryGap:true,
		            axisLine: {
						lineStyle: {
							color: '#eee'
						}
					},
		            axisLabel: {
		                textStyle: {
		                    fontSize: 12,
		                    color: "#999",
		                    fontFamily: "微软雅黑"
		                },
		                margin:5
		            },
		            axisTick: {
		               show:true
		            },
		            splitLine: {
		                show:true,
		                lineStyle: {
		                    color: '#fff', //分割线颜色
		                    type: "solid",
		                    opacity:1
		                }
		            }
		        }
		    ],
		    xAxis : [
		        {
		            type : 'value', 
		            min:0,
		            max:1000000,
		            interval:200000,
		            axisLine: {
						lineStyle: {
							color: '#eee'
						}
					},
		            axisLabel: {
		                textStyle: {
		                    fontSize: 12,
		                    color: "#999",
		                    fontFamily: "微软雅黑"
		                },
		                margin: 10
		            },
		            splitLine: {
		                lineStyle: {
		                    color: '#fff', //分割线颜色
		                    type: "solid",
		                    opacity:1
		                }
		            },
		            axisTick: {
		               show:false
		            }
		        }
		    ],

		};
		myChart1.setOption(option1);
		//json数据初始化
			var ban_inst_id1 = {$Think.INST},//获取机构
			    ctime1 = time;//获取日期改变
			function ajaxdata1(){
			  $.ajax({
			  type: "post",
			  url: "{:url('rent/api/indexPartOne')}?inst_id="+ban_inst_id1+'&ctime='+ctime1,
			  data: {'inst_id':ban_inst_id1,'ctime':ctime1}, 
			  dataType: "json", 
			  success: function(res) {
				  var resData = res.data;
				  var data_id1 = $('.click-rent-list1 li.cur').attr('data-id1');
				  console.log('第一个数据',res)
				   if (res) {
					 //生成可视化数据
					 myChart.hideLoading();
					function statistics1(){
						//每月缴费情况分析
						myChart1.setOption({
						  series : [
						      {
						          name:'直接访问',
						          type:'bar',
						          barWidth: '44%',
						          data:[
						              {
						                  value:resData[data_id1][2].rent_order_paids,
										  label:{
										      normal:{
										          show:false,
												  position: 'Right',
												  formatter(params){
													return params.value
												  },
										          textStyle:{
										              color:"#fff",
										              fontSize:12
										          },
										      }
										  },
						                  itemStyle:{
						                      normal:{
						                          color:['#7ACE4C']
						                      }
						                  },
						                  
						              },
						              {
						                  value:resData[data_id1][3].rent_order_paids,
										  label:{
										      normal:{
										          show:false,
												  position: 'Right',
												  formatter(params){
													return params.value
												  },
										          textStyle:{
										              color:"#fff",
										              fontSize:12
										          },
										      }
										  },
						                  itemStyle:{
						                      normal:{
						                          color:['#11A0F8']
						                      }
						                  },
						                  
						              },
						              {
						                  value:resData[data_id1][1].rent_order_paids,
						                  label:{
						                      normal:{
						                          show:false,
												  position: 'Right',
												  formatter(params){
													return params.value
												  },
						                          textStyle:{
						                              color:"#fff",
						                              fontSize:12
						                          },
						                      }
						                  },
						                  itemStyle:{
						                      normal:{
						                          color:['#7460EE']
						                      }
						                  },
						                  
						              }]
						      }
						  ] 
						});	
					} 
						statistics1();
						//每月缴费情况分析第一个栏目tab切换
						$(".click-rent-list1 li").click(function(){
							$(this).addClass("cur").siblings().removeClass("cur");
							data_id1 =$(this).attr('data-id1');
							statistics1();
						})
					  }
			  },
			  error: function(msg) {
				  layer.msg(msg);
				  myChart.hideLoading();
			  }
			});
		   }
		ajaxdata1();
		//房屋变动情况
		var myChart2 = echarts.init(document.getElementById('chart-panel2'));
		option2 = {
		  backgroundColor:'#fff',
		      //color: ['#3398DB'],
		      tooltip : {
		          trigger: 'axis',
		  		//formatter: "{b}: {c} 元",
		  		padding: 10,
		          axisPointer : {            // 坐标轴指示器，坐标轴触发有效
		              type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
		          },
		          textStyle:{
		              color:'#fff',
		          },
		          backgroundColor:'rgba(0,0,0,0.5)',
		      },
		      grid: {
		          left:50,
		          bottom: 20, 
		          top:40,
		      },
		      xAxis : [
		          {
		              nameTextStyle:{
		                  color:'#999'
		              },
		              type : 'category',
		              data: ['暂停租金','新发租','注销'],
		              axisTick:{show:false},
		              axisLabel:{
		                  textStyle:{
		                      color:'#999'
		                  },
		                  interval:0,
		                  rotate:''
		              },
		              axisLine:{
		                   show:false,
		                  lineStyle:{
		                      color:'#fff'
		                  }
		              },
		          }
		      ],
		      yAxis : [
		          {
		              name:'金额/元',
		              nameTextStyle:{
		                  color:'#999'
		              },
		              type : 'value',
		              axisTick:{show:false},
		              axisLabel:{
		                  textStyle:{
		                      color:'#999'
		                  },
		                  
		              },
		              axisLine:{
		                  show:false,
		                  lineStyle:{
		                      color:'#6986c9'
		                  }
		              },
		              splitLine: {
		              lineStyle: {
		                  color: '#35518f', //分割线颜色
		                  type: "solid",
		                  opacity:0.1
		              }
		          },
		          }
		      ],
		}
		myChart2.setOption(option2);
		var ban_inst_id2 = {$Think.INST},//获取机构
			    ctime2 = time;//获取日期改变
		  function ajaxdata2(){
			$.ajax({
				type: "post",
				url: "{:url('rent/api/indexPartThree')}?inst_id="+ban_inst_id2+'&ctime='+ctime2,
				data: {'inst_id':ban_inst_id2,'ctime':ctime2}, 
				dataType: "json", 
				success: function(res) {
					var data_id2 = $('.click-rent-list2 li.cur').attr('data-id2');
				    console.log('房屋变动情况',res);
					 //生成可视化数据
					 myChart2.hideLoading();
				function statistics2(){	 
				myChart2.setOption({
			        series : [
			            {
			                name:'金额',
			                type:'bar',
			                barWidth: '25%',
			                data:[
			                    {
			                        name:'暂停租金',
			                        value:res.data[data_id2][3],
			                        itemStyle:{
			                            normal:{
			                                color:'#7460EE',
			                            }
			                        }
			                    },
			                    {
			                        name:'新发租',
			                        value:res.data[data_id2][7],
			                        itemStyle:{
			                            normal:{
			                                color:'#7ACE4C',
			                            }
			                        }
			                    },
			                     {
			                        name:'注销',
			                        value:res.data[data_id2][8],
			                        itemStyle:{
			                            normal:{
			                                color:'#FFC740',
			                            }
			                        }
			                    }
			                ],
			                label:{
			                    normal:{
			                        show:true,
			                        position:'top',
			                        textStyle:{
			                            color:'#333',
			                            fontSize:14,
			                        }
			                    }
			                }
			            }
			        ]
			    
			  });
			}
			statistics2();
			//每月缴费情况分析第一个栏目tab切换
			$(".click-rent-list2 li").click(function(){
				$(this).addClass("cur").siblings().removeClass("cur");
				data_id2 =$(this).attr('data-id2');
				statistics2();
			})
		  },
		});
	}
	ajaxdata2();
		//租金收缴情况
		var myChart3 = echarts.init(document.getElementById('chart-panel3'));
		option3 = {
			tooltip: {
			    trigger: 'item',
			    formatter: "{a} <br/>{b}: {c} ({d}%)"
			},
			backgroundColor:'#fff',
			legend: {
			    orient: 'vertical',
				right: 'right',
				bottom:'30%',
			    data:['已缴租金','欠缴租金','结欠租金']
			},
			color:['#7B62E9','#11A0F8','#7ACE4C','#F9B048'],
		}
		myChart3.setOption(option3);
		var ban_inst_id3= {$Think.INST},//获取机构
			    ctime3 = time;//获取日期改变
			   ajaxdata3();
	function ajaxdata3(){
		$.ajax({
				type: "post",
				url: "{:url('rent/api/indexPartFour')}?inst_id="+ban_inst_id3+'&ctime='+ctime3,
				data: {'inst_id':ban_inst_id3,'ctime':ctime3}, 
				dataType: "json", 
				success: function(res) {
					console.log('租金收缴情况',res);
					var data_id3 = $('.click-rent-list3 li.cur').attr('data-id3');
					myChart3.hideLoading();
				function statistics3(){
				    myChart3.setOption({
					    series: [
					       
					        {
					            name:'租金收缴情况',
					            type:'pie',
					            radius: ['40%', '80%'],
					            center: ['25%', '50%'],
					            label: {
					                normal: {
					                    position: 'outside',
					                    show: false,
					                    formatter: "{b}\n\n{d}%",
					                }
					            },
					
					            data:[
					                {value:res.data[data_id3].rent_paids, name:'已缴租金'},
					                {value:res.data[data_id3].rent_unpaids, name:'欠缴租金'},
					                {value:res.data[data_id3].rent_before_unpaids, name:'结欠租金'},
					               
					            ]
					        }
					    ]
					});
				  }
					statistics3();
					//每月缴费情况分析第一个栏目tab切换
					$(".click-rent-list3 li").click(function(){
						$(this).addClass("cur").siblings().removeClass("cur");
						data_id3 =$(this).attr('data-id3');
						statistics3();
					})
				}
		});
	}
	
	//监听机构变化
	form.on('select(inst_id1)', function(data){
		//console.log(data.value); //得到被选中的值
		ban_inst_id1 = data.value;//获取机构
		ban_inst_id2 = data.value;//获取机构
		ban_inst_id3 = data.value;//获取机构
		ajaxdata1();
		ajaxdata2();
		ajaxdata3();
	});
	//年选择器
	laydate.render({
	    elem: '#query_month1'
	    ,type: 'month'
		,value: new Date() 
		,isInitValue: true,
		format: 'yyyy/MM',
		ready: function(date){
		    $('.layui-laydate li').click(function () {
		       $('.laydate-btns-confirm').trigger('click');
		    });
		},
		done: function(value, date){ //监听日期被切换
		  ctime1=value;
		  ctime2=value;
		  ctime3=value;
		 //执行函数
		  ajaxdata1();
		  ajaxdata2();
		  ajaxdata3();
		}
	});
	
		setTimeout(function (){
		    window.onresize = function () {
		     myChart.resize();
		     myChart1.resize();
			 myChart2.resize();
			 myChart3.resize();
		   };
		 }, 200);
    });

	// $(document).on('click', '.layui-table-hover', function() {
	//   //点击图片全屏展示
	//   $('.j-viewer-img').viewer({
	//   	url: 'data-original',
	//   });
	// });
    function htmlRestore(str) {
	    var s = "";
	    if (str.length === 0) {
	      return "";
	    }
	    s = str.replace(/&amp;/g, "&");
	    s = s.replace(/&lt;/g, "<");
	    s = s.replace(/&gt;/g, ">");
	    s = s.replace(/&nbsp;/g, " ");
	    s = s.replace(/&#39;/g, "\'");
	    s = s.replace(/&quot;/g, "\"");
	    return s;
	}
		
	</script>
