<link rel="stylesheet" href="__PUBLIC_JS__/viewer/viewer.min.css?v={:config('hisiphp.version')}">
<form class="layui-form" action="" method="post" >
  <div class="j-details-box floorWrap">
	<fieldset class="layui-elem-field layui-field-title j-field-box">
		<legend>基本信息</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">注销类别</label>
			<div class="j-input-inline">
				<select name="cancel_class" class="field-cid">
					<option value="0">请选择</option>
					{volist name="params['cancels']" id="v" key="k"}
					<option value="{$k}">{$v}</option>
					{/volist}
				</select>
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">楼栋查询</label>
			<div class="j-input-inline">
				<input type="text" name="cancel_seach" value="" placeholder="点击查询" autocomplete="off" class="layui-input">
				<b class="j-explain-search j-ban_number">查询</b>
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">楼栋地址</label>
			<div class="j-input-inline">
				<input type="text" name="cancel_address" value="" autocomplete="off" class="layui-input" readonly>
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md8">
			<label class="j-form-label">异动事由</label>
			<div class="j-input-inline">
				<input type="text" name="cancel_cause" value="" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<fieldset  class="layui-elem-field layui-field-title j-field-box">
		<legend>基数异动</legend>
	</fieldset>
		<table  class="layui-table">
		  <thead>
			  <tr>
			    <th>楼栋编号</th>
			    <th>异动状态</th>
			    <th>规定租金</th>
			    <th>使用面积</th>
			    <th>建筑面积</th>
			    <th>房屋原价</th>
			    <th>是否注销</th>
			  </tr>
		  </thead>
		  <tbody>
		    <tr>
		  	  <td>1002005001</td>
			  <td>异动前</td>
			  <td>306.70</td>
			  <td>204.41</td>
			  <td>1174.23</td>
			  <td>275236.23</td>
			  <td rowspan="3" align="center"><input type="checkbox" name="open" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF"></td>
		    </tr>
			<tr>
			  <td></td>
			  <td>异动</td>
			  <td>0</td>
			  <td>0</td>
			  <td>10</td>
			  <td>0</td>
			</tr>
			<tr>
			  <td></td>
			  <td>异动后</td>
			  <td>306.70</td>
			  <td>204.41</td>
			  <td>1164.23</td>
			  <td>275236.23</td>
			</tr>
		  </tbody>
		</table>
	<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
		<legend>注销明细</legend>
	</fieldset>
	<table  class="layui-table">
	  <thead>
		  <tr>
		    <th>房屋编号</th>
		    <th>承租人</th>
		    <th>房屋原价</th>
		    <th>建筑面积</th>
		    <th>规定租金</th>
		    <th>计租面积</th>
		  </tr>
	  </thead>
	  <tbody>
	    <tr>
			<td>10020050010001</td>
			<td>杨文胜</td>
			<td>0</td>
			<td>0</td>
			<td>61.6</td>
			<td>41.06</td>
		</tr>
	 </tbody>
	</table>
	<div class="j-cancel-show hide">
	<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
		<legend>注销楼栋</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">楼栋编号</label>
			<div class="j-input-inline">
				<input type="text" name="cancel_number" value="" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">调整面积</label>
			<div class="j-input-inline">
				<input type="text" name="cancel_has" value="" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md12">
			<div class="j-enclosure-upload clearfix">
				<div class="j-enclosure-label">情况说明</div>
				<div class="j-enclosure-label j-uplode-icon">
					<i><img src="__ADMIN_IMG__/Group8.png" /></i>点击上传
					<button type="button" class="layui-btn layui-btn-primary" id="upload_img3">上传图片</button>
				</div>
				<div class="layui-form-mid layui-word-aux">限制1M</div>
			</div>
			<div class="j-enclosure-imgs clearfix">
				<div id="upload_img_list4" class="upload_img_list j-viewer-img"> </div>
			</div>
		</div>
	</div>
	</div>
	<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
		<legend>补充附件</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md12">
			<div class="j-enclosure-upload clearfix">
				<div class="j-enclosure-label">附件</div>
				<div class="j-enclosure-label j-uplode-icon">
					<i><img src="__ADMIN_IMG__/Group8.png" /></i>点击上传
					<button type="button" class="layui-btn layui-btn-primary" id="upload_img1">上传图片</button>
				</div>
				<div class="layui-form-mid layui-word-aux">限制1M</div>
			</div>
			<div class="j-enclosure-imgs clearfix">
				<div id="upload_img_list2" class="upload_img_list j-viewer-img"> </div>
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md12">
			<div class="j-enclosure-upload clearfix">
				<div class="j-enclosure-label">附件</div>
				<div class="j-enclosure-label j-uplode-icon">
					<i><img src="__ADMIN_IMG__/Group8.png" /></i>点击上传
					<button type="button" class="layui-btn layui-btn-primary" id="upload_img2">上传图片</button>
				</div>
				<div class="layui-form-mid layui-word-aux">限制1M</div>
			</div>
			<div class="j-enclosure-imgs clearfix">
				<div id="upload_img_list3" class="upload_img_list j-viewer-img"> </div>
			</div>
		</div>
	</div>
	<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
		<legend>审批状态</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
	   <div class="j-status-bar">
		    <ul>
		        <li class="layui-col-xs2 on">
		            <i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
		            <p>房管员</p>
		        </li>
				<li class="layui-col-xs2 on">
				    <i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
				    <p>资料员</p>
				</li>
				<li class="layui-col-xs2 on">
				    <i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
				    <p>经租所长</p>
				</li>
				<li class="layui-col-xs2">
				    <i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
				    <p>经管科</p>
				</li>
		    </ul>
		</div>
		<div class="j-status-result">
			<ul>
				<li>房管员 【王祥芳】 于2019-02-12 14:43:47 提交申请；</li>
				<li>资料员 【曹秀芳】 于2019-02-14 09:00:00补充资料；</li>
				<li>经管所长 【时莉】 于2019-02-15 09:00:00审批；</li>
			</ul>
		</div>
	</div>
  <div class="layui-row layui-form-item layui-col-space90">
		<div class="j-margin-btn">
			<a href="{:url('index')}?group=n" class="layui-btn layui-btn-primary">取消</a>
			<button type="submit" class="layui-btn" lay-submit lay-filter="formSubmit">确定</button>
		</div>
	</div>
  </div>
</form>
{include file="system@block/layui" /}
<script type="text/javascript" src="__PUBLIC_JS__/viewer/viewer-jquery.min.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript" src="__ADMIN_VIEWJS__/deal_cancel_apply.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript">
	var upurl2 = "{:url('system/Api/upload')}?input=enclosure1&group=ban&water=no"; //附件1
	var upurl3 = "{:url('system/Api/upload')}?input=enclosure2&group=ban&water=no"; //附件2
	var upurl4 = "{:url('system/Api/upload')}?input=factsheets&group=ban&water=no"; //情况说明
	var duotu = true; //是否为多图上传true false
	layui.use(['jquery', 'laydate', 'upload', 'form'], function() {
		var laydate = layui.laydate,
			$ = layui.$,
			upload = layui.upload,
			form = layui.form;
		//获取楼栋查询器
		 $(".layui-form").on('click','.j-ban_number',function(){
		layer.open({
					title: '楼栋查询器'
					,type: 2
					,offset: 'auto'
					,area: ['70%', '90%']
					, btn:false
					,pageTabs: false
					,content: '{:url('system/index/cancellation')}'
					,btn: ['确定','关闭']
					,yes: function(index, layero){
						var row = window["layui-layer-iframe" + index].callbackdata();
						console.log(row);
						layer.close(index);
						$("input[name='cancel_seach']").val(row.ban_number);//获取楼栋编号
						$("input[name='cancel_address']").val(row.ban_address);//获取地址
					},btn2: function(index, layero){
						layer.close(index);
					}
		 });
		})
		//附件1
		upload.render({
			elem: '#upload_img1',
			url: upurl2,
			size: 1024,
			multiple: duotu,
			field: 'enclosure1',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list2').append('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="enclosure1[]" value="' + res.data.file + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list2').html('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="enclosure1" value="' + res.data.file + '" /></dd>');
				}
			}
		})
		//附件2
		upload.render({
			elem: '#upload_img2',
			url: upurl3,
			size: 1024,
			multiple: duotu,
			field: 'enclosure2',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list3').append('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="enclosure2[]" value="' + res.data.file + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list3').html('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="enclosure2" value="' + res.data.file + '" /></dd>');
				}
			}
		})
		//情况说明
		upload.render({
			elem: '#upload_img3',
			url: upurl4,
			size: 1024,
			multiple: duotu,
			field: 'factsheets',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list4').append('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="factsheets[]" value="' + res.data.file + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list4').html('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="factsheets" value="' + res.data.file + '" /></dd>');
				}
			}
		})
		/*
		删除上传图片
		*/
		$(document).on("click", ".upload_img_list dd i", function() {
			$(this).parents("dd").remove();
		})
	});
</script>
