<form class="layui-form" id="form1" action="{url('add')}" method="post">
	<!-- 新增公告 S -->
	<div class="j-details-box floorWrap layui-form">
		<div class="item">
			<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
				<legend>新增公告</legend>
			</fieldset>
			<div class="layui-row layui-form-item layui-col-space90">
				<div class="layui-col-md12">
					<div class="j-form-label"><i class="red">*</i>标题</div>
					<div class="j-input-inline">
						<input type="text" id="ban_title" name="ban_address" autocomplete="off" class="layui-input">
					</div>
				</div>
			</div>
			<div class="layui-row layui-form-item layui-col-space90">
				<div class="layui-col-md4">
					<label class="j-form-label"><i class="red">*</i>可见</label>
					<div class="j-input-inline">
						<select id="mechanism" name="ban_show" lay-search="">
							<option value="">请选择</option>
							<option value="1">房管员</option>
							<option value="2">科长</option>
						</select>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="j-form-label"><i class="red">*</i>置顶（1-10）</div>
					<div class="j-input-inline">
						<input type="text" id="ban_title" name="ban_top" autocomplete="off" class="layui-input">
					</div>
				</div>
				<div class="layui-col-md4">
					<label class="j-form-label"><i class="red">*</i>类型</label>
					<div class="j-input-inline">
						<select id="mechanism" name="ban_class" lay-search="">
							<option value="">请选择</option>
							<option value="1">类型1</option>
							<option value="2">类型2</option>
						</select>
					</div>
				</div>
			</div>
			<div class="layui-row layui-form-item layui-col-space90">
				<div class="layui-col-md12">
					<label class="j-form-label"><i class="red">*</i>内容</label>
				</div>
				<div class="layui-col-md12">
				 <textarea id="editor_id" name="content" style="width:100%;height:300px;"></textarea>
				</div>
			</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="j-margin-btn">
			<a href="{:url('index')}?group=n" class="layui-btn layui-btn-primary">取消</a>
			<button type="submit" class="layui-btn" lay-submit lay-filter="formSubmit">发布</button>
		</div>
	</div>
	</div>
	<!-- 新增公告 E -->
</form>
{include file="block/layui" /}
<script type="text/javascript" src="__PUBLIC_JS__/jquery-1.7.2.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript" src="__PUBLIC_JS__/editor/kindeditor/kindeditor-min.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript" src="__PUBLIC_JS__/editor/kindeditor/lang/zh_CN.js?v={:config('hisiphp.version')}"></script>
<script>
	/*上传参数设定*/
	layui.use(['jquery', 'laydate','form'], function() {
		var laydate = layui.laydate,
			$ = layui.$,
			form = layui.form;

		
	});
	 KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id');
        });
</script>
