<!-- 详情 S -->
<div class="j-notice-details">
	<div class="j-title clearfix">
	  <h1>待确认问题记录表{2019年5月}</h1>
	  <h2><span class="j-time">刘丹发表于 2019-05-17 14:48:42<span> <span class="j-browse"><i class="layui-icon iconfont j-icon-yanjing"></i>6</span></h2>  
	</div>
	<hr />
	<!-- 详细内容 S -->
	<div class="j-details-size">
		这是详细内容
	</div>
	<!-- 详细内容 E -->
	<hr />
	<!-- 浏览记录 S -->
	<div class="j-record">
		<div class="j-title clearfix">
			<div class="j-explain fl">
				<i></i><span class="j-name">浏览记录：<span>
			</div>
			<div class="j-tab fr">
				<ul>
					<li class="j-line">已读</li>
					<li>未读</li>
				</ul>
			</div>
		</div>
		<div class="j-record-name clearfix">
			<dl class="clearfix">
				<dd>
					<ul>
						<li>
							<span class="fr">2019/05/04 14:09:12</span>
							<span class="j-size">
								李某某
							</span>
						</li>
						<li>
							<span class="fr">2019/05/04 14:09:12</span>
							<span class="j-size">
								李某某
							</span>
						</li>
					</ul>
				</dd>
			</dl>
		</div>
	</div>
	<!-- 浏览记录 E -->
</div>
<!-- 详情 E -->
{include file="block/layui" /}
<script type="text/javascript" src="__PUBLIC_JS__/jquery-1.7.2.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript">
		layui.use(['jquery'], function() {
		   var $ = layui.$;   

	})
</script>