<div class="j-table-content">
<div class="layui-btn-container j-container-margin">
    <a href="{:url('add')}"><button class="layui-btn"><i class="layui-icon layui-icon-add-1"></i>发布</button></a>
    <button data-href="{:url('del')}" data-id="ban_id" class="layui-btn layui-btn-gray j-page-btns"><i class="layui-icon layui-icon-close"></i>删除</button>
</div>
{include file="block/layui" /}
<table id="dataTable" lay-filter='dataTable'></table>
<script type="text/html" title="操作按钮模板" id="buttonTpl">
	<a href="{:url('edit')}?id={{ d.ban_id }}" class="layui-btn layui-btn-xs layui-btn-primary">编辑</a>
    <a href="{:url('detail')}?id={{ d.ban_id }}" class="layui-btn layui-btn-xs layui-btn-normal">详情</a>
</script>
</div>
<script type="text/javascript">
    layui.use(['table','jquery'], function() {
        var table = layui.table
		    ,$ = layui.$;
        table.render({
            elem: '#dataTable'
            //,skin: 'line' //行边框风格
            //,even: true //开启隔行背景
            //,size: 'sm' //小尺寸的表格
            //,height: 550
            //,height: 'full-20' //浏览器最大高度
            ,toolbar: true
			,defaultToolbar: ['filter']//设置右边筛选，导出，打印显示
            ,url: '{:url("house/Ban/index")}' //数据接口
            ,page: true //开启分页
            ,limit: 10
            ,text: {
                none : '暂无相关数据'
            }
            ,cols: [[ //表头
                {type: 'checkbox', fixed: 'left'}
                ,{field: 'ban_number', width: 100, align:'center', title: '#'}
                ,{field: 'ban_inst_id', align:'center', title: '标题', hide: isShowInst, templet: function(d) {
                    return params.insts[d.ban_inst_id];
                }}
                ,{field: 'ban_owner_id', align:'center', title: '发布时间', templet: function(d) {
                    return params.owners[d.ban_owner_id];
                }}
                ,{field: 'ban_address', align:'center', title: '可见范围'}
                ,{field: 'ban_property_id', width: 180, align:'center', title: '是否置顶'}
                ,{field: 'ban_build_year', align:'center', title: '发布人'}
                ,{title: '操作', minWidth: 180, align:'center', templet: '#buttonTpl',fixed:'right'}
            ]]
            ,done:function(res,curr,count){
               
            }
        },isShowInst);
		
		$(".j-search-fr .layui-btn:last").addClass("on");//搜索最后按钮样式
		
		//显示搜索框title属性值
		$(".layui-input.layui-unselect").mouseover(function(){
		  var titles = $(this).val();
		  $(this).attr("title",titles)
		});
    });
</script>