<!-- 通用审批页面 -->
<form class="layui-form" action="" method="post">
	<div class="j-details-box floorWrap">
		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>基本信息</legend>
		</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">房屋编号</label>
				<div class="j-input-inline">
					<input type="text" id="ban_number" name="ban_number" value="123456789" placeholder="" readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md8">
				<label class="j-form-label">楼栋地址</label>
				<div class="j-input-inline">
					<input type="text" id="ban_address" name="ban_address" value="花堤街小区C栋" placeholder="" readonly autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">楼层</label>
				<div class="j-input-inline">
					<input type="text" id="ban_floor" name="ban_floor" value="3" placeholder="" readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">使用面积</label>
				<div class="j-input-inline">
					<input type="text" id="ban_areaofuse" name="ban_areaofuse" value="40.58" placeholder="" readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">计租面积</label>
				<div class="j-input-inline">
					<input type="text" id="ban_rentalarea" name="ban_rentalarea" value="38.96" placeholder="" readonly autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">变更类型</label>
				<div class="j-input-inline">
					<input type="text" id="ban_class" name="ban_class" value="正常过户" placeholder="" readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">备案时间</label>
				<div class="j-input-inline">
					<input type="text" id="ban_record" name="ban_record" value="2019-09-10 10:16:14" placeholder="" readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">转让金额</label>
				<div class="j-input-inline">
					<input type="text" id="ban_transfer" name="ban_transfer" value="9412.00" placeholder="" readonly autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">产别</label>
				<div class="j-input-inline">
					<input type="text" id="ban_other" name="ban_other" value="市属" placeholder="" readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">使用性质</label>
				<div class="j-input-inline">
					<input type="text" id="ban_usage" name="ban_usage" value="住宅" placeholder="" readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">转让原因</label>
				<div class="j-input-inline">
					<input type="text" id="ban_reason" name="ban_reason" value="过户" placeholder="" readonly autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">原租户</label>
				<div class="j-input-inline">
					<input type="text" id="ban_original_name" name="ban_original_name" value="张绍隆" placeholder="" readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">身份证号</label>
				<div class="j-input-inline">
					<input type="text" id="ban_original_id" name="ban_original_id" value="420106250610633" placeholder="" readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">联系电话</label>
				<div class="j-input-inline">
					<input type="text" id="ban_original_tel" name="ban_original_tel" value="13971357585" placeholder="" readonly autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">现租户</label>
				<div class="j-input-inline">
					<input type="text" id="ban_now_name" name="ban_now_name" value="张绍隆" placeholder="" readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">身份证号</label>
				<div class="j-input-inline">
					<input type="text" id="ban_now_id" name="ban_now_id" value="420106250610633" placeholder="" readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">联系电话</label>
				<div class="j-input-inline">
					<input type="text" id="ban_now_tel" name="ban_now_tel" value="13971357585" placeholder="" readonly autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>查看附件</legend>
		</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md12">
				<div class="j-enclosure-label clearfix">书面申请报告</div>
				<div class="j-enclosure-img j-viewer-img clearfix">
					<ul>
						<li>
							<img src="/upload/ban/image/20190917/530e20820c40465858863a391626656d.png">
						</li>
						<li>
							<img src="/upload/ban/image/20190917/43e37b86505f7528d20237da2c45d537.png">
						</li>
					</ul>
			    </div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md12">
				<div class="j-enclosure-label clearfix">审批表</div>
				<div class="j-enclosure-img j-viewer-img clearfix">
					<ul>
						<li>
							<img src="/upload/ban/image/20190917/530e20820c40465858863a391626656d.png">
						</li>
						<li>
							<img src="/upload/ban/image/20190917/43e37b86505f7528d20237da2c45d537.png">
						</li>
					</ul>
			    </div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md12">
				<div class="j-enclosure-label clearfix">其他</div>
				<div class="j-enclosure-img j-viewer-img clearfix">
					<ul>
						<li>
							<img src="/upload/ban/image/20190917/530e20820c40465858863a391626656d.png">
						</li>
						<li>
							<img src="/upload/ban/image/20190917/43e37b86505f7528d20237da2c45d537.png">
						</li>
					</ul>
			    </div>
			</div>
		</div>
		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>审批状态</legend>
		</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
		   <div class="j-status-bar">
				<ul>
					<li class="layui-col-xs2 on">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>房管员</p>
					</li>
					<li class="layui-col-xs2 on">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>经租会计</p>
					</li>
					<li class="layui-col-xs2">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>经租所长</p>
					</li>
					<li class="layui-col-xs2">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>经管科</p>
					</li>
				</ul>
			</div>
			<div class="j-status-result">
				<ul>
					<li>房管员［程彩虹］于2019-08-30 08:56:38 申请；</li>
					<li>经租会计［冯超］于2019-08-30 09:35:01 初审；</li>
				</ul>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="j-margin-btn">
				<button type="submit" class="layui-btn">通过</button>
				<a href="{:url('index')}?group=x" class="layui-btn layui-btn-primary">不通过</a>
			</div>
		</div>
  </div>
</form>
{include file="system@block/layui" /}
<!-- 图片查看 -->
<link rel="stylesheet" href="__PUBLIC_JS__/viewer/viewer.min.css?v={:config('hisiphp.version')}">
<script type="text/javascript" src="__PUBLIC_JS__/viewer/viewer-jquery.min.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript">
	/*上传参数设定*/
	layui.use(['jquery','table','layer', 'upload','form'], function() {
			var table = layui.table
			    ,form = layui.form
				,$ = layui.jquery
				,upload = layui.upload
				,layer = layui.layer; 
	});
	//图片查看
	$('.j-viewer-img').viewer({
	   	url: 'data-original',
	 });
</script>
