<form class="layui-form page-form" action="{:url()}" method="post" id="editForm">
	<blockquote class="layui-elem-quote">以下是附件必传配置，每种附件选项至少保留一项！！！</blockquote>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
      <legend>业务管理</legend>
    </fieldset>
    <div class="layui-form-item">
        <label class="layui-form-label">暂停计租：</label>
        <div class="layui-input-block">
            <input type="checkbox" name="changepause_file_upload[]" value="ChangepauseRedline" title="拆迁或征收红线图" lay-skin="primary" {if condition="in_array('ChangepauseRedline',$config['changepause_file_upload'])"}checked{/if}>
			<input type="checkbox" name="changepause_file_upload[]" value="ChangepauseRange" title="拆迁或征收范围明细" lay-skin="primary" {if condition="in_array('ChangepauseRange',$config['changepause_file_upload'])"}checked{/if}> 
			<input type="checkbox" name="changepause_file_upload[]" value="ChangePauseUpload" title="资料上传（经租会计）" lay-skin="primary" {if condition="in_array('ChangePauseUpload',$config['changepause_file_upload'])"}checked{/if}>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">陈欠核销：</label>
        <div class="layui-input-block">
            <input type="checkbox" name="changeoffset_file_upload[]" value="HouseForm" title="其他" lay-skin="primary" {if condition="in_array('HouseForm',$config['changeoffset_file_upload'])"}checked{/if}>
			<input type="checkbox" name="changeoffset_file_upload[]" value="ChangeOffsetUpload" title="报告（经租会计）" lay-skin="primary" {if condition="in_array('ChangeOffsetUpload',$config['changeoffset_file_upload'])"}checked{/if}>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">租约管理：</label>
        <div class="layui-input-block">
            <input type="checkbox" name="changelease_file_upload[]" value="Houselease" title="计租表" lay-skin="primary" {if condition="in_array('Houselease',$config['changelease_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changelease_file_upload[]" value="HouseForm" title="旧租约" lay-skin="primary" {if condition="in_array('HouseForm',$config['changelease_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changelease_file_upload[]" value="TenantReIDCard" title="身份证" lay-skin="primary" {if condition="in_array('TenantReIDCard',$config['changelease_file_upload'])"}checked{/if}>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">租金追加调整：</label>
        <div class="layui-input-block">
            <input type="checkbox" name="changerentadd_file_upload[]" value="RentAddPaper" title="票据" lay-skin="primary" {if condition="in_array('RentAddPaper',$config['changerentadd_file_upload'])"}checked{/if}>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">租金减免：</label>
        <div class="layui-input-block">
            <input type="checkbox" name="changecut_file_upload[]" value="TenantReIDCard" title="身份证" lay-skin="primary" {if condition="in_array('TenantReIDCard',$config['changecut_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changecut_file_upload[]" value="Residence" title="户口本" lay-skin="primary" {if condition="in_array('Residence',$config['changecut_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changecut_file_upload[]" value="HouseForm" title="租约" lay-skin="primary" {if condition="in_array('HouseForm',$config['changecut_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changecut_file_upload[]" value="Lowassurance" title="低保证" lay-skin="primary" {if condition="in_array('Lowassurance',$config['changecut_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changecut_file_upload[]" value="Housingsecurity" title="租房保障申请表" lay-skin="primary" {if condition="in_array('Housingsecurity',$config['changecut_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changecut_file_upload[]" value="ChangeCutForm" title="会审单（经租会计）" lay-skin="primary" {if condition="in_array('ChangeCutForm',$config['changecut_file_upload'])"}checked{/if}>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">使用权变更：</label>
        <div class="layui-input-block">
            <input type="checkbox" name="changeuse_file_upload[]" value="UseChangeApplication" title="书面申请报告" lay-skin="primary" {if condition="in_array('UseChangeApplication',$config['changeuse_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changeuse_file_upload[]" value="UseChangeApproval" title="审批表" lay-skin="primary" {if condition="in_array('UseChangeApproval',$config['changeuse_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changeuse_file_upload[]" value="UseChangeOther" title="其他" lay-skin="primary" {if condition="in_array('UseChangeOther',$config['changeuse_file_upload'])"}checked{/if}>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新发租：</label>
        <div class="layui-input-block">
            <input type="checkbox" name="changenew_file_upload[]" value="Houselease" title="计租表" lay-skin="primary" {if condition="in_array('Houselease',$config['changenew_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changenew_file_upload[]" value="HouseForm" title="租约" lay-skin="primary" {if condition="in_array('HouseForm',$config['changenew_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changenew_file_upload[]" value="TenantReIDCard" title="身份证" lay-skin="primary" {if condition="in_array('TenantReIDCard',$config['changenew_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changenew_file_upload[]" value="ChangenewPaper" title="收欠票据" lay-skin="primary" {if condition="in_array('ChangenewPaper',$config['changenew_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changenew_file_upload[]" value="BanCard" title="图卡" lay-skin="primary" {if condition="in_array('BanCard',$config['changenew_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changenew_file_upload[]" value="ChangenewOther" title="其他" lay-skin="primary" {if condition="in_array('ChangenewOther',$config['changenew_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changenew_file_upload[]" value="ChangeNewUpload" title="资料上传（资料员）" lay-skin="primary" {if condition="in_array('ChangeNewUpload',$config['changenew_file_upload'])"}checked{/if}>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">楼栋调整：</label>
        <div class="layui-input-block">
            <input type="checkbox" name="changeban_file_upload[]" value="BanPropertyID" title="产权清册" lay-skin="primary" {if condition="in_array('BanPropertyID',$config['changeban_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changeban_file_upload[]" value="BanPropertyIDExtra" title="产权证及其他" lay-skin="primary" {if condition="in_array('BanPropertyIDExtra',$config['changeban_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changeban_file_upload[]" value="UseChangeOther" title="其他" lay-skin="primary" {if condition="in_array('UseChangeOther',$config['changeban_file_upload'])"}checked{/if}>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">注销：</label>
        <div class="layui-input-block">
            <input type="checkbox" name="changecancel_file_upload[]" value="ChangeCancelOne" title="售房专用票据" lay-skin="primary" {if condition="in_array('ChangeCancelOne',$config['changecancel_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changecancel_file_upload[]" value="ChangeCancelTwo" title="审批表" lay-skin="primary" {if condition="in_array('ChangeCancelTwo',$config['changecancel_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changecancel_file_upload[]" value="ChangeCancelThree" title="危改批文" lay-skin="primary" {if condition="in_array('ChangeCancelThree',$config['changecancel_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changecancel_file_upload[]" value="ChangeCancelRetread" title="翻新计划" lay-skin="primary" {if condition="in_array('ChangeCancelRetread',$config['changecancel_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changecancel_file_upload[]" value="ChangeCancelApproval" title="发还批文" lay-skin="primary" {if condition="in_array('ChangeCancelApproval',$config['changecancel_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changecancel_file_upload[]" value="ChangeCancelReport" title="注销报告" lay-skin="primary" {if condition="in_array('ChangeCancelReport',$config['changecancel_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changecancel_file_upload[]" value="ChangeCancelPaper" title="政府文件" lay-skin="primary" {if condition="in_array('ChangeCancelPaper',$config['changecancel_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changecancel_file_upload[]" value="ChangeCancelInvoice" title="发票" lay-skin="primary" {if condition="in_array('ChangeCancelInvoice',$config['changecancel_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changecancel_file_upload[]" value="ChangeCancelDetail" title="征收明细表" lay-skin="primary" {if condition="in_array('ChangeCancelDetail',$config['changecancel_file_upload'])"}checked{/if}>
            <input type="checkbox" name="changecancel_file_upload[]" value="ChangeCancelOfficial" title="划转公文" lay-skin="primary" {if condition="in_array('ChangeCancelOfficial',$config['changecancel_file_upload'])"}checked{/if}>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"> </label>
        <div class="layui-input-block">
            <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit">提交</button>
            <a href="{:url('index')}" class="layui-btn layui-btn-primary ml10"><i class="aicon ai-fanhui"></i>返回</a>
        </div>
    </div>
</form>
{include file="block/layui" /}
<script>
layui.use(['form', 'func'], function() {
    var $ = layui.jquery, form = layui.form;
});
</script>