<div class="j-table-content j-no-{if condition='in_array(291,$auths)'}tab{else /}title{/if}">
	 <div class="layui-btn-container j-container-margin">
	     <div class="layui-btn-container"> 
	     	 {if condition="in_array(291,$auths) || $Think.ADMIN_ROLE == 1"}      
	         <a href="{:url('apply')}"><button class="layui-btn"><i class="layui-icon layui-icon-add-1"></i>陈欠核销申请</button></a>
	         {/if}
	     </div>
	 </div>
	<div class="page-toolbar j-page-toolbar clearfix">
		<form class="layui-form layui-form-pane" action="{:url('index')}" method="get" id="hisi-table-search">
			<div class="j-search-fl layui-col-md8  fl">
				{if condition="in_array('house_number',$config['deal_changeoffset_index_search'])"}
				<div class="layui-input-inline layui-col-md2 j-input-margin j-width-120">
					<input type="text" name="house_number" placeholder="房屋编号" class="layui-input">
				</div>
				{/if}
				{if condition="in_array('ban_address',$config['deal_changeoffset_index_search'])"}
				<div class="layui-input-inline layui-col-md2 j-input-margin j-width-110">
					<input type="text" name="ban_address" placeholder="楼栋地址" class="layui-input">
				</div>
				{/if}
				{if condition="in_array('ban_inst_id',$config['deal_changeoffset_index_search'])"}
				{if condition="INST_LEVEL != 3"}
				<div class="layui-input-inline layui-col-md2 j-width-110">
					<select name="ban_inst_id">
						<option value="">机构名称</option>
						{volist name=":config('inst_check_names')[INST]" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				{/if}
				{/if}
				{if condition="in_array('ban_owner_id',$config['deal_changeoffset_index_search'])"}
				<div class="layui-input-inline j-width-90">
					<select name="ban_owner_id">
						<option value="">产别</option>
						{volist name="params['owners']" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				{/if}
				{if condition="in_array('tenant_name',$config['deal_changeoffset_index_search'])"}
				<div class="layui-input-inline j-input-margin j-width-100">
					<input type="text" name="tenant_name"   placeholder="租户姓名" autocomplete="off" class="layui-input">
				</div>
				{/if}
				{if condition="in_array('ctime',$config['deal_changeoffset_index_search'])"}
				<div class="layui-input-inline j-input-margin j-width-100">
					<input type="text" name="ctime" id="date"  placeholder="申请时间" autocomplete="off" class="layui-input">
				</div>
				{/if}
			</div>
			<div class="j-search-fr layui-col-md4 fr">
				<div class="layui-input-inline fr">
					<div class="layui-input-inline" style="margin-left:10px;">
						<button type="reset" class="layui-btn j-btn-reset">重置</button>
						<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
							<i class="layui-icon">&#xe615;</i>
							搜索
						</button>
						<button type="button" class="layui-btn layui-btn-warm"><i class="layui-icon iconfont j-icon-screen_icon"></i>标题筛选</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	{include file="system@block/layui" /}
	<table id="dataTable" lay-filter='dataTable' params="{$paramsJson}"></table>
	<script type="text/html" id="toolbar"></script>
	<script type="text/html" title="操作按钮模板" id="buttonTpl">
		{{#  if (d.change_status == 2) { }}
		<a href="{:url('edit')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">修改</a>
		{{# if (d.is_back == 0){ }}
		<a data-href="{:url('del')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
		{{#  } else { }}
		<button class="layui-btn layui-btn-xs layui-btn-disabled">删除</button>
		{{# } }}
		{{#  } else { }}
		<button class="layui-btn layui-btn-xs layui-btn-disabled">修改</button>
		<button class="layui-btn layui-btn-xs layui-btn-disabled">删除</button>
		{{#  } }}
		<a href="{:url('detail')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">明细</a>
    </script>
</div>
<script type="text/javascript">
	var process_config = {'0':'失败','1':'成功','2':'待房管员处理','3':'待经租会计初审','4':'待经管所长审批','5':'待行政所长审批','6':'待经管科终审'};
	layui.use(['table', 'jquery','laydate'], function() {
		var $ = layui.$;
		var s = $('#dataTable').attr('params');
		var params = JSON.parse(s);
		var table = layui.table
		   ,laydate = layui.laydate;
		
		//日期
		  laydate.render({
		    elem: '#date'
		    ,type: 'month'
		    ,ready: function(date){
			    $('.layui-laydate li').click(function () {
			       $('.laydate-btns-confirm').trigger('click');
			    });
			}
		  });
		table.render({
			elem: '#dataTable',
			/* height: 550, */
			toolbar: '#toolbar'
				// ,defaultToolbar: ['print']
				,defaultToolbar: ['filter','exports','print'] //设置右边筛选，导出，打印显示
			    ,url: '{:url()}' //数据接口
				,page: true //开启分页
				,limit: 10
			   ,limits: [10,20,30,40,50,100,300,500,1000]
			   ,totalRow: true
			  ,text: {
					none: "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
			  }
			  ,cols: [
				[ 
					{field: 'house_number',minWidth: 140,align:'center',title: '房屋编号', totalRowText: '合计'}, 
					{field: 'change_order_number',hide:true,align:'center',minWidth: 210,title: '异动单号'},
					{field: 'ban_address',minWidth: 180,align:'center',title: '楼栋地址'}, 
					{field: 'ban_inst_id',hide: isShowInst,minWidth: 120,align:'center',title: '机构',
						templet: function(d) {
					        return params.insts[d.ban_inst_id];
					    }
					},
					{field: 'ban_owner_id',minWidth: 80,align:'center',title: '产别', 
						templet: function(d) {
		                    return params.owners[d.ban_owner_id];
		                }
					}, 
					{field: 'tenant_name',minWidth: 120,align:'center',title: '租户姓名'},  
					{field: 'before_year_rent',minWidth: 100,align:'center',title: '核销以前年', totalRow: true},  
					{field: 'before_month_rent',minWidth: 100,align:'center',title: '核销以前月', totalRow: true},  
					{field: 'this_month_rent',minWidth: 100,align:'center',title: '核销当月', totalRow: true},  
					{field: 'ctime',align:'center',minWidth: 120,title: '申请时间'},
					{field: 'change_status',align:'center',width: 140,title: '审核状态', 
						templet: function(d) {
		                    return process_config[d.change_status];
		                }
					}, 
					{title: '操作',minWidth:180,align:'center',templet: '#buttonTpl',fixed: 'right'}
				]],
			done: function(res, curr, count) {
				$(".layui-table-total td[data-field='before_year_rent']").find("div").text(res.total_before_year_rent);
				$(".layui-table-total td[data-field='before_month_rent']").find("div").text(res.total_before_month_rent);
               //导出转换后台数据
               var exportData=res.data;
               for(i in exportData){
               	exportData[i].ban_inst_id = params.insts[exportData[i].ban_inst_id];//转化机构
				exportData[i].ban_owner_id = params.owners[exportData[i].ban_owner_id];//转化产别
                exportData[i].change_status = process_config[exportData[i].change_status];//转化审核状态
               }
			}
		},isShowInst)
	});
</script>