<!-- 租约管理-租约申请列表 -->
<div class="j-table-content j-no-{if condition='in_array(294,$auths)'}tab{else /}title{/if}">
	<div class="layui-btn-container j-container-margin">
	    <div class="layui-btn-container"> 
	    	{if condition="in_array(294,$auths) || $Think.ADMIN_ROLE == 1"}      
	        <a href="{:url('apply')}"><button class="layui-btn"><i class="layui-icon layui-icon-add-1"></i>租约申请</button></a>
	        {/if}
	    </div>
	</div>
	<div class="page-toolbar j-page-toolbar clearfix">
		<form class="layui-form layui-form-pane" action="{:url()}" method="get" id="hisi-table-search">
			<div class="j-search-fl layui-col-md8  fl">
				<div class="layui-input-inline layui-col-md2 j-input-margin" style="width:150px;">
					<input type="text" name="house_number" placeholder="房屋编号" class="layui-input">
				</div>
				<div class="layui-input-inline layui-col-md2 j-input-margin" style="width:120px;">
					<input type="text" name="ban_address" placeholder="楼栋地址" class="layui-input">
				</div>
				<div class="layui-input-inline layui-col-md2" style="width:120px;">
					<select name="house_use_id">
						<option value="">使用性质</option>
						{volist name="params['uses']" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				<div class="layui-input-inline layui-col-md2 j-input-margin" style="width:120px;">
					<input type="text" name="tenant_name" placeholder="租户姓名" class="layui-input">
				</div>
                {if condition="INST_LEVEL != 3"}
				<div class="layui-input-inline layui-col-md2" style="width:155px;">
					<select name="ban_inst_id">
						<option value="">申请机构</option>
						{volist name=":config('inst_check_names')[INST]" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				{/if}
				<div class="layui-input-inline j-input-margin" style="width:120px;">
					<input type="text" name="ctime" id="date"  placeholder="申请时间" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="j-search-fr layui-col-md4 fr">
				<div class="layui-input-inline fr">
					<div class="layui-input-inline" style="margin-left:10px;">
						<button type="reset" class="layui-btn j-btn-reset">重置</button>
						<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
							<i class="layui-icon">&#xe615;</i>
							搜索
						</button>
						<button type="button" class="layui-btn layui-btn-warm"><i class="layui-icon iconfont j-icon-screen_icon"></i>标题筛选</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	{include file="system@block/layui" /}
	<table id="dataTable" lay-filter='dataTable' params="{$paramsJson}"></table>
	<script type="text/html" id="toolbar">
	</script>
	<script type="text/html" title="操作按钮模板" id="buttonTpl">
		{{#  if (d.change_status == 2) { }}
		<a href="{:url('edit')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">修改</a>
		{{# if (d.is_back == 0){ }}
		<a data-href="{:url('del')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
		{{#  } else { }}
		<button class="layui-btn layui-btn-xs layui-btn-disabled">删除</button>
		{{# } }}
		{{#  } else if(d.change_status == 7){ }}
		<!-- <a href="{:url('uploadsign')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">上传签字图片</a> -->
		<a href="{:url('uploadsign')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop" hisi-data="{width: '600px', height: '500px',refresh: 1}" title="上传签字图片">上传签字图片</a>
		<a href="{:url('unpass')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger">不通过</a>
		{{#  } else { }}
		<button class="layui-btn layui-btn-xs layui-btn-disabled">修改</button>
		<button class="layui-btn layui-btn-xs layui-btn-disabled">删除</button>
		{{#  } }}
		<a href="{:url('detail')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">明细</a>
    </script>
</div>
<script type="text/javascript">
	var process_config = {'0':'失败','1':'成功','2':'待房管员处理','3':'待资料员初审','4':'待经管所长审批','5':'待经管科审批','6':'待经租会计发证','7':'待房管员提交签字'};
	console.log(params);
	layui.use(['table', 'jquery','laydate'], function() {
		var $ = layui.$;
		var s = $('#dataTable').attr('params');
		var params = JSON.parse(s);
		var table = layui.table
		   ,laydate = layui.laydate;
		
		//日期
		  laydate.render({
		    elem: '#date'
		  });
		table.render({
			elem: '#dataTable',
			/* height: 550, */
			toolbar: '#toolbar'
				// ,defaultToolbar: ['print']
				,defaultToolbar: ['filter','exports','print'] //设置右边筛选，导出，打印显示
			    ,url: '{:url()}' //数据接口
				,page: true //开启分页
				,limit: 10
			    ,limits: [10,20,30,40,50,100,300,500,1000]
			  ,text: {
					none: "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
			  }
			  ,cols: [[ 
				  //表头
					/* {
						field: '', align:'center',width:60, title: '#', templet:function(d){
						     return d.LAY_INDEX ;
						}
					}, */
					{field: 'house_number',width: 140,align:'center',title: '房屋编号'}, 
					{field: 'ban_address',width: 180,align:'center',title: '楼栋地址'},
					{field: 'ban_owner_id',width: 80,align:'center',title: '产别',
						templet: function(d) {
					        return params.owners[d.ban_owner_id];
					    }
					}, 
					{field: 'house_use_id',width: 100,align:'center',title: '使用性质',
						templet: function(d) {
					        return params.uses[d.house_use_id];
					    }
					}, 
					{field: 'ban_struct_id',width: 100,align:'center',title: '结构',
						templet: function(d) {
					        return params.structs[d.ban_struct_id];
					    }
					}, 
					{field: 'tenant_name',width: 100,align:'center',title: '租户'},
					{field: 'ban_inst_id',hide: isShowInst,minWidth: 160,align:'center',title: '申请机构', 
						templet: function(d) {
		                    return params.insts[d.ban_inst_id];
		                }
					}, 
					{field: 'ctime',align:'center',width: 120,title: '申请时间'}, 
					{field: 'change_status',align:'center',width: 180,title: '审核状态', 
						templet: function(d) {
		                    return process_config[d.change_status];
		                }
					}, 
					{title: '操作',width: 240,align:'center',templet: '#buttonTpl',fixed: 'right'}
				]],
			done: function(res, curr, count) {

			}
		},isShowInst)
	});
</script>