<form class="layui-form" action="{:url('unpass')}" method="post">
	<div class="j-details-box floorWrap">
		<input type="text" name="change_reason">
		<input type="hidden" name="id" value="{$data_info['id']}">
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="j-margin-btn">
				<button type="submit" class="layui-btn" hisi-data="{pop : true,refresh: 1}" lay-submit lay-filter="formSubmit">确认</button>
			</div>
		</div>
    </div>
</form>
{include file="system@block/layui" /}