<style>
	.j-frame-class{padding: 15px 15px 0;height:410px;}
	.j-frame-class .j-frame-label{ font-size: 16px; color:rgba(74,74,74,1); line-height: 40px; margin-bottom: 10px;}
	.layui-layer-title{font-size: 16px; font-weight: bold;}
	.j-frame-class .layui-form-select dl dd.layui-this{background-color:#0084FF;}
	.j-frame-class .layui-form-select dl dt{ font-size: 14px;}
</style>
<div class="row j-frame-class">
	<form class="layui-form" id="test" >
		<div class="layui-form-item">
			<label class="j-frame-label">工单受理人</label>
			<div class="j-input-block">
				<select name="transfer_to" id="transfer_to" lay-filter="transfer">
					<option value="">请选择工单受理人</option>
					{if condition="ADMIN_ROLE != 10"}
					<optgroup label="技术服务中心">
						<option value="83" {if condition="session('admin_user.nick') == '卢金权'"}disabled{/if}>卢金权</option>
					</optgroup>
					{/if}
					{if condition="ADMIN_ROLE != 12"}
					<optgroup label="产品部">
						<option value="58" {if condition="session('admin_user.nick') == '王高丽'"}disabled{/if}>王高丽</option>
					</optgroup>
					{/if}
					{if condition="ADMIN_ROLE != 9"}
					<optgroup label="经管科">
						<option value="97" {if condition="session('admin_user.nick') == '叶惠丽' || $data_info['nick'] == '叶惠丽'"}disabled{/if}>叶惠丽</option>
					</optgroup>
					{/if}
					{if condition="ADMIN_ROLE != 11"}
					<optgroup label="运行管理中心">
						<option value="81" {if condition="session('admin_user.nick') == '郑湾'"}disabled{/if}>郑湾</option>
						<option value="82" {if condition="session('admin_user.nick') == '刘丹'"}disabled{/if}>刘丹</option>
					</optgroup>
					{/if}

				</select>
			</div>
		</div>
	</form>
</div>
{include file="system@block/layui" /}