<!-- 业务管理 -->
<div class="j-table-content">
  <div class="layui-btn-container j-container-margin">
	<div class="layui-btn-container">
		<a href="{:url('bannerAdd')}"><button class="layui-btn"><i class="layui-icon layui-icon-add-1"></i>添加幻灯片</button></a>
		<button data-href="{:url('bannerDel')}" data-id="id" class="layui-btn layui-btn-danger j-page-btns"><i class="layui-icon layui-icon-close"></i>删除</button>
	</div>
  </div>
  <div class="page-toolbar j-page-toolbar clearfix">
  	<form class="layui-form layui-form-pane" action="{:url('index')}?group={$group}" method="get" id="hisi-table-search">
  		<div class="j-search-fl layui-col-md8  fl">
  			<div class="layui-input-inline layui-col-md2 j-width-90">
  				<select name="is_show">
  					 <option value="">状态</option>
  					 <option value="1">启用</option>
					   <option value="0">禁用</option>
  				</select>
  			</div>
  			<div class="layui-input-inline layui-col-md2 j-input-margin j-width-150">
  				<input type="text" name="banner_title" title="幻灯片名称" placeholder="输入幻灯片名称" class="layui-input">
  			</div>
  		</div>
  		<div class="j-search-fr layui-col-md4 fr">
  			<div class="layui-input-inline fr">
  				<div class="layui-input-inline" style="margin-left:10px;">
  					<!-- <button type="button" class="layui-btn layui-btn-warm on" id="button_print">
  					    <i class="layui-icon layui-icon-print"></i>
  					    导出
  				  	</button> -->
  					<button type="reset" class="layui-btn j-btn-reset">重置</button>
  					<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
  						<i class="layui-icon">&#xe615;</i>
  						搜索
  					</button>
  				</div>
  			</div>
  		</div>
  	</form>
  </div>
	{include file="system@block/layui" /}
	<table id="dataTable" lay-filter='dataTable'></table>
  <script type="text/html" id="statusTpl">
    <input type="checkbox" name="is_show" value="{{ d.is_show }}" lay-skin="switch" lay-filter="switchStatus" lay-text="启用|禁用" {{ d.is_show == 1 ? 'checked' : '' }} data-href="{:url('isShow')}?id={{ d.id }}">
</script>
<script type="text/html" title="排序模板" id="sortTpl">
    <input type="text" class="layui-input hisi-ajax-input input-sort" onkeyup="value=value.replace(/[^\d]/g,'')" value="{{ d.sort }}" data-value="{{ d.id }}" data-href="{:url('sort')}?hisiTable=weixin_banner&id={{ d.id }}">
</script>
	<script type="text/html" title="操作按钮模板" id="buttonTpl">
		<a href="{:url('bannerEdit')}?id={{ d.id }}" hisi-data="{width: '800px', height: '400px',refresh: 2}" title="编辑幻灯片" class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop">编辑</a>
	</script>
</div>
<script type="text/javascript">
    layui.use(['table','jquery','layer','laydate','form'], function() {
        var table = layui.table
		    ,$ = layui.$
			,laydate = layui.laydate
			,form = layui.form;
       table.render({
            elem: '#dataTable'
            ,toolbar: true
			      ,defaultToolbar: false//设置右边筛选，导出，打印显示
            ,url: '{:url()}?group={$group}' //数据接口
            ,page: true //开启分页
			      ,limits: [10,20,30,40,50,100,300,500,1000,2000,5000]
            ,limit: 10
            ,text: {
                none : "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
            }
            ,cols: [[ //表头
      				{type: 'checkbox',fixed: 'left'}
              ,{field: 'id', minWidth: 80, align:'center', title: 'ID'}
      				,{field: 'banner_title', minWidth: 120, align:'center', title: '幻灯片名称'}
      				,{field: 'banner_img',minWidth: 150,title: '图片',sort: true,templet: function(d){
                            return '<div οnclick="show_img(this)" ><img src="'+d.file+'" alt="" width="120px" height="26px"></a></div>';
      				}}
      				,{field: 'banner_url', minWidth: 200, align:'center', title: '链接'}
              ,{field: 'is_show', align:'center',width:100, title: '状态', templet: '#statusTpl'}
      				,{field: 'sort' , width: 80 ,align:'center',  title: '排序' , templet: '#sortTpl'}
              ,{title: '操作', width: 100, align:'center', templet: '#buttonTpl',fixed:'right'}
            ]]
			
            ,done:function(res,curr,count){
				
            }
        },isShowInst);
		$(".j-search-fr .layui-btn:last").addClass("on");//搜索最后按钮样式
		
     //显示大图片
        function show_img(t){
			alert("点击了！")
            var t = $(t).find("img");
            //页面层
            layer.open({
                type: 1,
                skin: 'layui-layer-rim', //加上边框
                 area: ['80%', '80%'], //宽高
                shadeClose: true, //开启遮罩关闭
                end: function (index, layero) {
                    return false;
                },
                content: '<div style="text-align:center"><img src="' + $(t).attr('src') + '" /></div>'
            });
		}
		//监听状态
		form.on('switch(slide_state)', function (data) {

				if(this.checked==true)
				{
					console.log('启用！')
				}
				else{
					console.log('禁用！')
				}
		})
    });
</script>