<!-- 详情 S -->
<div class="j-notice-details">
	<div class="j-title clearfix">
	  <h1>{$data_info['title']}</h1>
	  <h2><span class="j-time">{$data_info['cuid']} {$data_info['ctime']}<span> <span class="j-browse"><i class="layui-icon iconfont j-icon-yanjing"></i></span></h2>  
	</div>
	<hr />
	<!-- 详细内容 S -->
	<div class="j-details-size" data-value={:htmlspecialchars_decode($data_info['content'])}</div>
	<!-- 详细内容 E -->
	<hr />
	
</div>
<!-- 详情 E -->
{include file="system@block/layui" /}
<!-- <script type="text/javascript" src="__PUBLIC_JS__/editor/kindeditor/kindeditor-all.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript" src="__PUBLIC_JS__/editor/kindeditor/lang/zh-CN.js?v={:config('hisiphp.version')}"></script> -->
<script type="text/javascript">
	//var content = $('.j-details-size').attr('data-value');
	//console.log(content);
	//$('.j-details-size').html(content);
</script>