<style>
    .page-tab-content{ background: none;padding: 0;overflow-x: hidden;}
</style>
<div class="layui-row layui-col-space10 j-row-box">
    <div class="layui-col-md9 j-back-gray j-border-radius10 clearfix">
        <form class="layui-form" action="transfer" method="post">
          <div class="grid-demo j-back-white clearfix j-left">
              <div class="layui-card">
                  <h1 class="j-card-header">问题描述：</h1>
                  <div class="layui-card-body">
                      {$data_info['remark']}
                  </div>
                  <h1 class="j-card-header">附件：</h1>
                  <div class="layui-card-body clearfix">
                    <ul class="j-enclosure-box">
                        <li>
                            <img src="__ADMIN_IMG__/theme.png" />
                        </li>
                        <li>
                            <img src="__ADMIN_IMG__/theme.png" />
                        </li>
                    </ul>
                  </div>
                  <h1 class="j-card-header">状态：</h1>
                  <div class="layui-card-body clearfix">
                    <!-- 状态条显示 S -->
                    <!-- <div class="j-status-bar">
                        <ul>
                            {volist name="$data_info['jsondata']" id="v"}
                            <li class="layui-col-xs2">
                                <i class="layui-icon layui-icon-ok-circle"></i>
                                <p>{$systemusers[$v['FromUid']]}</p>
                            </li>
                            {/volist}
                        </ul>
                    </div> -->
                    <!-- 状态条显示 E -->
                    <div class="j-axis-main clearfix">
                         <ul class="time-axis">
                            {volist name="data_info['jsondata']" id="v"}
                             <li class="time-axis-item">
                                 <div class="time-axis-date"><span></span></div>
                                 <div class="time-axis-title">
                                     <h1>【{$systemusers[$v['FromUid']]}】 于 {$v['Time']|date='Y-m-d H:i'} {$v['Action']} {if condition="$v['ToUid']"} 【{$systemusers[$v['ToUid']]}】 {/if}</h1>
                                     <div class="j-remarks">
                                         备注：{$v['Desc']}
                                     </div>
                                 </div>
                             </li>
                             {/volist}
                        <ul>
                    </div>
                    <!-- <div class="j-axis-main clearfix">
                         <ul class="time-axis">
                             <li class="time-axis-item">
                                 <div class="time-axis-date"><span></span></div>
                                 <div class="time-axis-title">
                                     <h1>运行人员 【郑湾】 于2019-02-12 14:43:47 转交至 技术员【卢金圈】；</h1>
                                     <div class="j-remarks">
                                         备注：无法处理，XXXXXXXX
                                     </div>
                                 </div>
                             </li>
                             <li class="time-axis-item">
                                 <div class="time-axis-date"><span></span></div>
                                 <div class="time-axis-title">
                                     <h1>技术员 【卢金圈】 于2019-02-12 15:05:15 转交至 运行人员【郑湾】；</h1>
                                     <div class="j-remarks">
                                         备注：无法处理，XXXXXXXX
                                     </div>
                                 </div>
                            </li>
                        <ul>
                    </div> -->
                  </div>
              </div>
          </div>
          <input type="hidden" name="id" value="{$data_info['id']}">
          <div class="layui-form-item">
            <div class="j-form-box clearfix">
                <div class="fl">
                    <a href="{:url('index')}" class="layui-btn layui-btn-normal">返回</a>
                </div>
            </div>  
         </div>
        </form>
    </div>
    <div class="layui-col-md3 j-back-gray j-border-radius10 clearfix">
      <div class="grid-demo j-back-white j-info-box clearfix j-right">
          <dl class="clearfix">
              <dt><i class="layui-icon layui-icon-read"></i>工单信息</dt>
              <dd>
                  <h1>工单编号</h1>
                  <p>{$data_info['op_order_number']}</p>
              </dd>
              <dd>
                  <h1>创建时间</h1>
                  <p>{$data_info['ctime']}</p>
              </dd>
              <dd>
                  <h1>发起人</h1>
                  <p>{$data_info['nick']}</p>
              </dd>
              <dd>
                  <h1>运行人员</h1>
                  <p>{$data_info['jsondata'][1]?$systemusers[$data_info['jsondata'][1]['FromUid']]:''}</p>
              </dd>
              <dd>
                  <h1>状态</h1>
                  <p>{$data_info['status_info']}</p>
              </dd>
              <dd>
                  <h1>问题类型</h1>
                  <p>{$params['op_order_type'][$data_info['op_order_type']]}</p>
              </dd>
          </dl>
          <dl class="clearfix">
             <dt><i class="layui-icon layui-icon-username"></i>用户信息</dt>
              <dd>
                 <h1>姓名</h1>
                 <p>{$data_info['nick']}</p> 
              </dd>
              <dd>
                 <h1>管段</h1>
                 <p>{$params['insts'][$data_info['inst_id']]}</p> 
              </dd>
          </dl>
      </div>
    </div>
  </div>
{include file="system@block/layui" /}