<!-- 业务管理编辑 -->
<form class="layui-form j-definition j-top-height" action="">
  <div class="layui-form-item">
	 <label class="layui-form-label">缴费成功通知：</label>
	<div class="layui-input-block">
	  <input type="text" name="pay_success" readonly autocomplete="off" placeholder="请输入缴费成功订阅消息模板ID" class="layui-input">
	</div>
  </div>
  <div class="layui-form-item">
  	<label class="layui-form-label">发票下载成功通知：</label>
  	<div class="layui-input-block">
  	  <input type="text" name="invoice_success" readonly autocomplete="off" placeholder="请输入发票下载成功通知订阅消息模板ID" class="layui-input">
  	</div>
  </div>
  <div class="layui-form-item">
  	<label class="layui-form-label">充值成功通知：</label>
  	<div class="layui-input-block">
  	  <input type="text" name="credit_success" readonly autocomplete="off" placeholder="请输入充值成功通知订阅消息模板ID" class="layui-input">
  	</div>
  </div>
  <div class="layui-form-item">
  	<label class="layui-form-label">余额扣缴通知：</label>
  	<div class="layui-input-block">
  	  <input type="text" name="withholding" readonly autocomplete="off" placeholder="请输入余额扣缴通知订阅消息模板ID" class="layui-input">
  	</div>
  </div>
  <div class="layui-form-item">
  	<label class="layui-form-label">催缴通知：</label>
  	<div class="layui-input-block">
  	  <input type="text" name="withholding" readonly autocomplete="off" placeholder="请输入催缴通知订阅消息模板ID" class="layui-input">
  	</div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">待支付提醒：</label>
    <div class="layui-input-block">
      <input type="text" name="app_user_wait_payment_remind" readonly autocomplete="off" value="" placeholder="请输入待支付提醒订阅消息模板ID" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">订单支付成功通知：</label>
    <div class="layui-input-block">
      <input type="text" name="app_user_payment_remind" readonly autocomplete="off" value="" placeholder="请输入订单支付成功通知订阅消息模板ID" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
  	<label class="layui-form-label"></label>
  	<div class="layui-input-block">
  	  如果一键获取失败，请前往小程序后台检查是否开通模板消息功能
  	</div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button type="submit" class="layui-btn" lay-submit="" lay-filter="formSubmit" hisi-data="{pop: true, refresh: true}">提交</button>
	  <input type="submit" value="一键获取" lay-submit="" lay-filter="auto_get" class="layui-btn btn-primary">
    </div>
  </div>
</form>	
{include file="system@block/layui" /}
<script>
	//var formData = {:json_encode($formData)};
	layui.use(['form', 'func','jquery'], function() {
		var $ = layui.jquery, form = layui.form;
		// layui.func.assign(formData);
		// 	var loadingIndex = layer.load(); // 加载中动画遮罩层（1）
	
		 form.on('submit(auto_get)', function(data){
        $.get("/wechat/index/mini_template_list", '', function(res) {
            console.log(res);
            if (res.code == 1) {
              console.log('长度：',res.data.length);
              if(res.data.length == 0){
                layer.msg('未设置任何订阅消息模板');
              }else{
                for (var i = res.data.length - 1; i >= 0; i--) {
                  if(res.data[i].title === '待支付提醒'){
                    $("input[name='app_user_wait_payment_remind']").val(res.data[i].priTmplId);
                  }
                  if(res.data[i].title === '订单支付成功通知'){
                    $("input[name='app_user_payment_remind']").val(res.data[i].priTmplId);
                  }
                  
                  //$("input[name='aaa']").val(res.data[0].priTmplId);
                  //res.data[i].title
                }
                layer.msg(res.msg);
              }
            }
        });
        return false;
     })
	});
</script>