{include file="system@block/layui" /}
<link rel="stylesheet" href="__ADMIN_JS__/select/formSelects-v4.css">
{if condition="$group == 'y'"}
<!-- <style>
	.layui-nav-tree .layui-nav-child dd.layui-this,.layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover{
		background-color:var(--hisi-layui-nav-child-a-bg)!important;
		color:var(--hisi-layui-nav-child-a-c)!important;
	}
	.layui-nav-tree .layui-nav-child dd.layui-this.j-layui-this,
	.layui-nav-tree .layui-nav-child dd.j-layui-this,
	.layui-nav-tree .layui-nav-child dd.layui-this.j-layui-this a,
	.layui-nav-tree .layui-nav-child dd.j-layui-this a,
	.layui-nav-tree .layui-this.j-layui-this,
	.layui-nav-tree .layui-this.j-layui-this>a,
	.layui-nav-tree .j-layui-this,
	.layui-nav-tree .j-layui-this>a,
	.layui-nav-tree .layui-this.j-layui-this>a:hover,
	.layui-nav-tree .j-layui-this>a:hover
	{
		background-color:var(--hisi-layui-nav-child-a-c-hover)!important;
		color:var(--hisi-layui-side-layui-this-a)!important;
	}
	
</style> -->

<div class="j-details-box j-no-border floorWrap layui-form">
  <fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
    <legend>基本信息</legend>
  </fieldset>
  <div class="layui-row layui-form-item layui-col-space90">
  	<div class="layui-col-md4">
  		<label class="j-form-label">租户编号</label> 
  		<div class="j-input-inline">
  			<input type="text" name="tenant_number" value="{$data_info['tenant_number']}" disabled="disabled" autocomplete="off" class="layui-input">
  		</div>
  	</div>
  	<div class="layui-col-md4">
  	  <label class="j-form-label">租户姓名</label> 
  	  <div class="j-input-inline">
  		<input type="text" name="tenant_name" value="{$data_info['tenant_name']}" disabled="disabled"  autocomplete="off" class="layui-input">
  	  </div>
  	</div>
  	<div class="layui-col-md4">
  	  <label class="j-form-label">联系电话</label> 
  	  <div class="j-input-inline">
  		<input type="text" name="tenant_tel" value="{$data_info['tenant_tel']}" disabled="disabled" autocomplete="off" class="layui-input">
  	  </div>
  	</div>
  </div>
  <div class="layui-row layui-form-item layui-col-space90">
  	<div class="layui-col-md4">
  		<label class="j-form-label">身份证号</label> 
  		<div class="j-input-inline">
  			<input type="text" name="tenant_card" value="{$data_info['tenant_card']}" disabled="disabled" autocomplete="off" class="layui-input">
  		</div>
  	</div>
  	<div class="layui-col-md4">
  	  <label class="j-form-label">账户余额</label> 
  	  <div class="j-input-inline">
  		<input type="text" name="tenant_balance" value="{$data_info['tenant_balance']}" disabled="disabled"  autocomplete="off" class="layui-input">
  	  </div>
  	</div>
  	<div class="layui-col-md4">
  	  <label class="j-form-label">欠租金额</label> 
  	  <div class="j-input-inline">
  		<input type="text" name="tenant_arrears" value="{$data_info['rent_order_unpaid']}" disabled="disabled" autocomplete="off" class="layui-input">
  	  </div>
  	</div>
  </div>
  <fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
    <legend>登记状态</legend>
  </fieldset>
  <div class="layui-row layui-form-item layui-col-space90">
  	<div class="layui-col-md4">
  		<label class="j-form-label">登记人</label> 
  		<div class="j-input-inline">
  			<input type="text" name="register_name" value="{$data_info['nick']}" disabled="disabled" autocomplete="off" class="layui-input">
  		</div>
  	</div>
  	<div class="layui-col-md4">
  	  <label class="j-form-label">登记机构</label> 
  	  <div class="j-input-inline">
  		<input type="text" name="register_bodies" value="{$params.insts[$data_info['inst_id']]}" disabled="disabled"  autocomplete="off" class="layui-input">
  	  </div>
  	</div>
  	<div class="layui-col-md4">
  	  <label class="j-form-label">登记时间</label> 
  	  <div class="j-input-inline">
  		<input type="text" name="register_time" value="{$data_info['tenant_ctime']}" disabled="disabled" autocomplete="off" class="layui-input">
  	  </div>
  	</div>
  </div>
  <!-- <div class="layui-row layui-form-item layui-col-space90">
  	<div class="layui-col-md4">
  		<label class="j-form-label">更新时间</label> 
  		<div class="j-input-inline">
  			<input type="text" name="register_update" value="" disabled="disabled" autocomplete="off" class="layui-input">
  		</div>
  	</div>
  </div> -->
  <fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
    <legend>补充附件</legend>
  </fieldset>
   <div class="layui-row layui-form-item layui-col-space90">
   	<div class="layui-col-md12">
			<div class="j-enclosure-label clearfix">身份证正面</div>
			<div class="j-enclosure-img j-viewer-img clearfix">
				<ul>
          {volist name="$data_info['tenant_imgs']" id="v"}   
          {if condition="$v['file_type'] == 'Positiveid'"}
          <li>
            <img src="{$v['file']}" />
          </li>
          {/if}
          {/volist}
					<!-- <li>
						<img src="__ADMIN_IMG__/add_img.png" />
					</li> -->
				</ul>
			</div>
   	</div>
	<div class="layui-col-md12">
		<div class="j-enclosure-label clearfix">身份证反面</div>
		<div class="j-enclosure-img j-viewer-img clearfix">
			<ul>
        {volist name="$data_info['tenant_imgs']" id="v"}   
          {if condition="$v['file_type'] == 'Backid'"}
          <li>
            <img src="{$v['file']}" />
          </li>
          {/if}
          {/volist}
				<!-- <li>
					<img src="__ADMIN_IMG__/add_img.png" />
				</li> -->
			</ul>
		</div>
	</div>
	
   </div>
</div>
<!-- 图片查看 -->
<script type="text/javascript" src="__PUBLIC_JS__/viewer/viewer-jquery.min.js?v={:config('hisiphp.version')}"></script>
{else /}
<div class="j-table-content">
<div class="page-toolbar j-page-toolbar clearfix">
    <form class="layui-form layui-form-pane" action="{url()}?id={$data_info['tenant_id']}&group={$group}"  method="get" id="hisi-table-search">
    <div class="j-search-fl layui-col-md8  fl">
        <div class="layui-input-inline j-select-width160 j-margin-10" style="width:160px;">
            <select name="tenant_tai_type"  xm-select="tenant_tai_type">
                <option value="" disabled="disabled">业务类型</option>
                {volist name="params['tenant_tai_type']" id="v"}
                <option value="{$key}">{$v}</option>
                {/volist}
              </select>
        </div>
        <div class="layui-input-inline" style="width:160px;">
            <input type="text" name="tenant_tai_remark" placeholder="描述内容" class="layui-input">
        </div>
        <input type="hidden" name="group" value="{$group}" class="layui-input">
        <input type="hidden" name="tenant_id" value="{$data_info['tenant_id']}" class="layui-input">
    </div>
    <div class="j-search-fr layui-col-md4 fr">
     <div class="layui-input-inline fr">
        <div class="layui-input-inline" style="margin-left:10px;">
      <button type="reset" class="layui-btn j-btn-reset">重置</button>
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
                <i class="layui-icon">&#xe615;</i>
                搜索
            </button>
        </div>
    </div>
  </div>
    </form>
</div>
<table id="dataTable" lay-filter='dataTable'></table>
<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <!-- <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-normal">详情</a> -->
    <a href="{:url('tenant/taiDetail')}?id={{ d.tenant_tai_id }}" id="checktable" class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop" hisi-data="{width: '1000px', height: '700px',refresh: 2}" title="台账明细">详情</a>
</script>
</div>
<script type="text/javascript">
    layui.use(['table','jquery','formSelects'], function() {
        var table = layui.table
		,formSelects = layui.formSelects 
        ,$ = layui.$;
        table.render({
            elem: '#dataTable'
            //,skin: 'line' //行边框风格
            //,even: true //开启隔行背景
            ,height: 500
            ,url: '{:url("house/Tenant/detail")}?id={$data_info["tenant_id"]}&group={$group}' //数据接口
            ,page: true //开启分页
            ,limit: 10
            ,text: {
                none : "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
            }
            ,cols: [[ //表头
                {field: 'tenant_tai_id', width: 80,align:'center',title: '<span class="e-title">序号</span>',templet: function(d) {
                    return d.LAY_TABLE_INDEX+1;
                }}
                ,{field: 'tenant_tai_type', width: 110,align:'center', title: '<span class="e-title">业务类型</span>', templet: function(d) {
                    return params.tenant_tai_type[d.tenant_tai_type];
                }}
                ,{field: 'tenant_name', width: 120,align:'center', title: '<span class="e-title">租户姓名</span>'}
                ,{field: 'ctime', width: 180,align:'center', title: '<span class="e-title">操作时间</span>'}
                ,{field: 'nick', width: 120,align:'center', title: '<span class="e-title">操作人</span>'}
                ,{field: 'tenant_tai_remark', minWidth: 140,align:'center', title: '<span class="e-title">备注</span>'}
                ,{title: '操作',width: 100,align:'center',templet: '#buttonTpl',fixed: 'right'}
            ]]
            ,done:function(res,curr,count){
               
            }
        },isShowInst);
    });
</script>
{/if}