<link rel="stylesheet" href="__ADMIN_JS__/select/formSelects-v4.css">
<!-- 新增后台导出按钮 -->
<button id="button_prints"><i class="layui-icon layui-icon-export"></i></button>
<div class="j-table-content">
	<div class="layui-btn-container j-container-margin">
		<div class="layui-btn-container">
			{if condition="$group == 'x'"}
			<a href="{:url('add')}"><button class="layui-btn"><i class="layui-icon layui-icon-add-1"></i>新增租户</button></a>
			<button data-href="{:url('del')}" data-id="tenant_id" class="layui-btn layui-btn-danger j-page-btns"><i class="layui-icon layui-icon-close"></i>批量删除</button>
			{/if}
		</div>
	</div>
	<div class="page-toolbar j-page-toolbar clearfix">
		<form class="layui-form layui-form-pane" action="{:url('index')}" method="get" id="hisi-table-search">
			<div class="j-search-fl layui-col-md8  fl">
				{if condition="in_array('tenant_number',$config['tenant_info_search'])"}
				<div class="layui-input-inline layui-col-md2 j-input-margin j-width-100">
					<input type="text" name="tenant_number" title="租户编号" placeholder="租户编号" class="layui-input">
				</div>
				{/if}
				{if condition="in_array('tenant_inst_id',$config['tenant_info_search'])"}
				{if condition="INST_LEVEL != 3"}
				<div class="layui-input-inline layui-col-md2 j-width-130 j-select-width130 j-margin-10">
					<select name="tenant_inst_id" xm-select="tenant_inst_id">
						<option value=""  disabled="disabled">机构</option>
						{volist name=":config('inst_check_names')[INST]" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				{/if}
				{/if}
				{if condition="in_array('tenant_name',$config['tenant_info_search'])"}
				<div class="layui-input-inline layui-col-md2 j-input-margin j-width-100">
					<input type="text" name="tenant_name" title="租户姓名" placeholder="租户姓名" class="layui-input">
				</div>
				{/if}
				{if condition="in_array('tenant_tel',$config['tenant_info_search'])"}
				<div class="layui-input-inline layui-col-md2 j-input-margin j-width-110">
					<input type="text" name="tenant_tel" title="手机号" placeholder="手机号" class="layui-input">
				</div>
				{/if}
				{if condition="in_array('tenant_card',$config['tenant_info_search'])"}
				<div class="layui-input-inline layui-col-md2 j-input-margin j-width-150">
					<input type="text" name="tenant_card" title="身份证号" placeholder="身份证号" class="layui-input">
				</div>
				{/if}
				<input type="hidden" name="group" value="{$group}" class="layui-input">
			</div>
			<div class="j-search-fr layui-col-md4 fr">
				<div class="layui-input-inline fr">
					<div class="layui-input-inline" style="margin-left:10px;">
						<!-- <button type="button" class="layui-btn layui-btn-warm on" id="button_prints">
						    <i class="layui-icon layui-icon-print"></i>
						    导出
					  	</button> -->
						<button type="reset" class="layui-btn j-btn-reset">重置</button>
						<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
							<i class="layui-icon">&#xe615;</i>
							搜索
						</button>
						<button type="button" class="layui-btn layui-btn-warm"><i class="layui-icon iconfont j-icon-screen_icon"></i>标题筛选</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	{include file="system@block/layui" /}
	<table id="dataTable" lay-filter='dataTable' params="{$paramsJson}"></table>
	<script type="text/html" id="toolbar">

	</script>
	<script type="text/html" title="操作按钮模板" id="buttonTpl">
	
	<a href="{:url('edit')}?group={$group}&id={{ d.tenant_id }}" class="layui-btn layui-btn-xs layui-btn-primary">编辑</a>
    
    <a href="{:url('detail')}?id={{ d.tenant_id }}" target="_blank" class="layui-btn layui-btn-xs layui-btn-normal">详情</a>
    
</script>
</div>
<script type="text/javascript">
	layui.use(['table', 'jquery','formSelects'], function() {
		var $ = layui.$;
		var table = layui.table
		,formSelects = layui.formSelects;
		var isHide = ('{$group}' == 'x')?false:true;
		
		table.render({
			elem: '#dataTable',
			/* height: 550, */
			toolbar: '#toolbar'
				// ,defaultToolbar: ['print']
				,
			defaultToolbar: ['filter',/*'exports',*/'print'] //设置右边筛选，导出，打印显示
			,url: '{:url("house/Tenant/index")}?group={$group}' //数据接口
				,
			totalRow: true,
			page: true //开启分页
				,
			limit: 10,
			limits: [10,20,30,40,50,100,300,500,1000],
			text: {
				none: "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
			},
			cols: [
				[ //表头
					{
						type: 'checkbox',
						hide: isHide,
						fixed: 'left'
						
					}, {
						field: 'tenant_number',
						minWidth: 100,
						align:'center',
						title: '租户编号',
						totalRowText: '合计：'
					}, {
						field: 'tenant_name',
						minWidth: 200,
						align:'center',
						title: '租户姓名'
					}, {
						field: 'tenant_inst_id',
						minWidth: 120,
						align:'center',
						title: '管段',
						hide: isShowInst,
						templet: function(d) {
							return params.insts[d.tenant_inst_id];
						}
					}, {
						field: 'tenant_tel',
						minWidth: 140,
						align:'center',
						title: '联系方式'
					}, {
						field: 'tenant_card',
						minWidth: 180,
						title: '身份证号'
					}
					// , {
					// 	field: 'tenant_balance',
					// 	minWidth: 120,
					// 	title: '余额',
					// 	totalRow: true
					// }
					, {
						title: '操作',
						minWidth: 160,
						align:'center',
						templet: '#buttonTpl',
						fixed: 'right'
					}
				]
			],
			done: function(res, curr, count) {
				// $(".layui-table-total td[data-field='tenant_balance']").find("div").text(res.total_tenant_balance);
				var exportData=res.data;
				for(i in exportData){
				  exportData[i].tenant_inst_id = params.insts[exportData[i].tenant_inst_id];//转化管段
				}
			}
		}, isShowInst,isHide)

		$('#button_prints').click(function(){
			var queryWhere = $('#hisi-table-search').serialize();
			console.log('导出的条件：',queryWhere);
			//console.log(queryWhere);
			$('#button_prints').prop('disabled', true).removeClass('layui-btn-warm').addClass('layui-bg-gray').text('导出中…');
        	$.ajax({
				type:"post",// 请求方式
				url:"{:url('tenant/export')}",
				async:true,// 同步异步
				dataType:"json",
				data : queryWhere,//这里是前台传到后台的数据
			    //回调函数
				success:function(output){
					layer.msg(output.msg);
					if(output.code){ //成功则直接下载		
						$('#button_prints').prop('disabled', false).removeClass('layui-bg-gray').addClass('layui-btn-warm').html('<i class="layui-icon layui-icon-export"></i>');	
						document.location.href = output.data;
					}
					else{
						$('#button_prints').prop('disabled', false).removeClass('layui-bg-gray').addClass('layui-btn-warm').html('<i class="layui-icon layui-icon-export"></i>');  
					}
				}
			});
        })
	});
</script>
