<div class="j-table-content j-no-search">
	
<table id="dataTable"></table>
{include file="block/layui" /}
<script type="text/html" id="buttonTpl">
        <a data-href="{:url('import')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal j-ajax">恢复</a>
        <a data-href="{:url('del?')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger j-ajax">删除</a>
</script>
</div>
<script type="text/javascript">
    layui.use(['table'], function() {
        var table = layui.table;
        table.render({
            elem: '#dataTable'
            ,url: '{:url()}?group=import' //数据接口
            ,page: false //分页
            ,skin: 'row'
            ,even: true
            ,text: {
                none : "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
            }
            ,cols: [[ //表头
                {field: 'name', title: '备份名称',minWidth: 200, align:'center'}
                ,{field: 'part', title: '备份卷数', minWidth: 100, align:'center'}
                ,{field: 'compress', title: '备份压缩', minWidth: 100, align:'center'}
                ,{field: 'size', title: '备份大小', minWidth: 100,align:'center', templet: function(d) {
                    return bytesToSize(d.size);
                }}
                ,{field: 'time', title: '备份时间', minWidth: 170, align:'center'}
                ,{title: '操作', minWidth: 260, Width: 260, align:'center',templet: '#buttonTpl'}
            ]]
        });
    });
</script>