<form class="layui-form" action="" method="post" >
  <div class="j-details-box floorWrap">
	<fieldset class="layui-elem-field layui-field-title j-field-box">
		<legend>基本信息</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>楼栋编号</label>
			<div class="j-input-inline">
				<input type="text" name="ban_number" lay-verify="required" value="" placeholder="点击查询"  lay-verify="required" readonly autocomplete="off" class="layui-input">
				<input type="hidden" name="ban_id" value="">
				<b class="j-explain-search j-ban_number">查询</b>
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">楼栋地址</label>
			<div class="j-input-inline">
				<input type="text" id="building_address" readonly value="" placeholder="" lay-verify="required" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">机构</label>
			<div class="j-input-inline">
				<input type="text" id="mechanism" readonly value="" placeholder="" lay-verify="required" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	
	<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
		<legend>异动信息</legend>
	</fieldset>
	<table  class="layui-table j-house-boxs">
	  <thead>
		  <tr>
		    <th width="33.3%"><i class="red">*</i> 异动类别</th>
		    <th width="33.3%">原信息</th>
		    <th width="33.3%"><i class="red">*</i> 异动后信息</th>
		  </tr>
	  </thead>
	  <tbody>
		  <tr>
			  <td>
				  <select name="ban_change_id" id="ban_change_id" lay-verify="required" lay-filter="adjustment">
					  <option value="">调整类型</option>
					  {volist name="params['ban_change_ids']" id="v"}
					  <option value="{$key}">{$v}</option>
					  {/volist}
					  <!-- <option value="3">结构类别</option> -->
					  <!-- <option value="4">使用性质</option>
					  <option value="5">产别</option> -->
				</select>
			  </td>
			  <td><input type="text"  readonly value="" placeholder=""  autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  value="" placeholder="" autocomplete="off" class="layui-input"></td>
		  </tr>
	  </tbody>
	</table>
	<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box j-details hide">
		<legend>异动明细</legend>
	</fieldset>
	<table  class="layui-table j-house-box hide">
	  <thead>
		  <tr>
		    <th>房屋编号</th>
		    <th>承租人</th>
		    <th>原楼层</th>
		    <th>现楼层</th>
		    <th>原规定租金</th>
		    <th>计算租金（异动前）</th>
			<th> 租金变化</th>
		    <th>计算租金（异动后）</th>
		  </tr>
	  </thead>
	  <tbody><tr><td colspan="8"><div class="j-no-content"><i class="layui-icon iconfont j-icon-wushuju"></i>暂无数据！</div></td></tr></tbody>
	</table>
  <fieldset id="item1" class="layui-elem-field layui-field-title j-field-box j-lease-box hide">
  	<legend>租赁异动</legend>
  </fieldset>
  <div class="j-table_selected">
	  <!-- 楼层调整 -->
	  <table class="layui-table j-hides j-floor-box hide">
		  <thead>
			  <tr>
				<th>基本情况</th>
				<th>户数</th>
				<th>建筑面积</th>
				<th>规定租金</th>
				<th>使用面积</th>
				<th>原价</th>
				<th>栋数</th>
			  </tr>
		  </thead>
		  <tbody>
			<tr>
			  <td>异动前</td>
			  <td><input type="text"  id="floor_household" name="floor_household" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="floor_prescribed" name="floor_prescribed" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="floor_areaofuse" name="floor_areaofuse" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="floor_builtuparea" name="floor_builtuparea" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="floor_original" name="floor_original" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="floor_tung" name="floor_tung" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			</tr>
			<tr>
			  <td>异动</td>
			  <td><input type="text" id="cancel_before_0edit" name="floor_before_0edit" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="cancel_before_1edit" name="floor_before_1edit" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="cancel_before_2edit" name="floor_before_2edit"  readonly  value="0" placeholder="" autocomplete="off" class="layui-input"><label id="j-sums" class="hide"></label></label></td>
			  <td><input type="text" id="cancel_before_3edit" name="floor_before_3edit" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="cancel_before_4edit" name="floor_before_4edit" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="cancel_before_5edit" name="floor_before_5edit" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			</tr>
			<tr>
			  <td>异动后</td>
			  <td><input type="text" id="changes_floor_household" name="floor_changes_household" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="changes_floor_prescribed" name="floor_changes_prescribed" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="changes_floor_areaofuse" name="floor_changes_areaofuse" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="changes_floor_builtuparea" name="floor_changes_builtuparea" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="changes_floor_original" name="floor_changes_original" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="changes_floor_tung" name="floor_changes_tung" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			</tr>
		  </tbody>
		</table>
      <!-- 完损等级 -->
	  <table class="layui-table j-hides j-endloss-box hide">
		  <thead>
			  <tr>
				<th>完损等级</th>
				<th>户数</th>
				<th>建筑面积</th>
				<th>规定租金</th>
				<th>使用面积</th>
				<th>原价</th>
				<th>栋数</th>
			  </tr>
		  </thead>
		  <tbody>
			<tr>
			  <td><input type="text"  id="endloss_class" name="endloss_class" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="endloss_household" name="endloss_household" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="endloss_prescribed" name="endloss_prescribed" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="endloss_areaofuse" name="endloss_areaofuse" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="endloss_builtuparea" name="endloss_builtuparea" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="endloss_original" name="endloss_original" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="endloss_tung" name="endloss_tung" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			</tr>
			<tr>
			  <td><input type="text" id="endloss_changes_class" name="endloss_changes_class" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="endloss_changes_household" name="endloss_changes_household" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="endloss_changes_prescribed" name="endloss_changes_prescribed" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="endloss_changes_areaofuse" name="endloss_changes_areaofuse" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="endloss_changes_builtuparea" name="endloss_changes_builtuparea" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="endloss_changes_original" name="endloss_changes_original" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="endloss_changes_tung" name="endloss_changes_tung" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			</tr>
		  </tbody>
	  </table>
	  <!-- 结构类别 -->
	  <table class="layui-table j-hides j-structure-boxs hide">
		  <thead>
			  <tr>
				<th>结构类别</th>
				<th>户数</th>
				<th>建筑面积</th>
				<th>规定租金</th>
				<th>使用面积</th>
				<th>原价</th>
				<th>栋数</th>
			  </tr>
		  </thead>
		  <tbody>
			<tr>
			  <td><input type="text"  id="structure_class" name="structure_class" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="structure_household" name="structure_household" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="structure_prescribed" name="structure_prescribed" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="structure_areaofuse" name="structure_areaofuse" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="structure_builtuparea" name="structure_builtuparea" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="structure_original" name="structure_original" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="structure_tung" name="structure_tung" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			</tr>
			<tr>
			  <td><input type="text" id="structure_changes_class" name="structure_changes_class" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="structure_changes_household" name="structure_changes_household" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="structure_changes_prescribed" name="structure_changes_prescribed" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="structure_changes_areaofuse" name="structure_changes_areaofuse" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="structure_changes_builtuparea" name="structure_changes_builtuparea" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="structure_changes_original" name="structure_changes_original" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="structure_changes_tung" name="structure_changes_tung" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			</tr>
		  </tbody>
		  
	  </table>
      <!-- 使用性质 -->
<!-- 	  <table class="layui-table j-hides j-nature-box hide">
		  <thead>
			  <tr>
				<th>使用性质</th>
				<th>户数</th>
				<th>建设面积</th>
				<th>规定租金</th>
				<th>使用面积</th>
				<th>原价</th>
				<th>栋数</th>
			  </tr>
		  </thead>
		  <tbody>
			<tr>
			  <td><input type="text"  id="nature_class" name="nature_class" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="nature_household" name="nature_household" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="nature_prescribed" name="nature_prescribed" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="nature_areaofuse" name="nature_areaofuse" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="nature_builtuparea" name="nature_builtuparea" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="nature_original" name="nature_original" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="nature_tung" name="nature_tung" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			</tr>
			<tr>
			  <td><input type="text" id="nature_changes_class" name="nature_changes_class" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="nature_changes_household" name="nature_changes_household" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="nature_changes_prescribed" name="nature_changes_prescribed" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="nature_changes_areaofuse" name="nature_changes_areaofuse" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="nature_changes_builtuparea" name="nature_changes_builtuparea" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="nature_changes_original" name="nature_changes_original" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="nature_changes_tung" name="nature_changes_tung" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			</tr>
		  </tbody>
	  </table> -->
	  <!-- 产别 -->
<!-- 	  <table class="layui-table j-hides j-yield-box hide">
		  <thead>
			  <tr>
				<th>产别</th>
				<th>户数</th>
				<th>建筑面积</th>
				<th>规定租金</th>
				<th>使用面积</th>
				<th>原价</th>
				<th>栋数</th>
			  </tr>
		  </thead>
		  <tbody>
			<tr>
			  <td><input type="text"  id="yield_class" name="yield_class" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="yield_household" name="yield_household" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="yield_prescribed" name="yield_prescribed" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="yield_areaofuse" name="yield_areaofuse" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="yield_builtuparea" name="yield_builtuparea" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="yield_original" name="yield_original" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text"  id="yield_tung" name="yield_tung" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			</tr>
			<tr>
			  <td><input type="text" id="yield_changes_class" name="yield_changes_class" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="yield_changes_household" name="yield_changes_household" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="yield_changes_prescribed" name="yield_changes_prescribed" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="yield_changes_areaofuse" name="yield_changes_areaofuse" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="yield_changes_builtuparea" name="yield_changes_builtuparea" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="yield_changes_original" name="yield_changes_original" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			  <td><input type="text" id="yield_changes_tung" name="yield_changes_tung" readonly  value="" placeholder="" autocomplete="off" class="layui-input"></td>
			</tr>
		  </tbody>
	  </table> -->
  </div>
  <div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md8">
			<label class="j-form-label">异动原因</label>
			<div class="j-input-inline">
				<input type="text" name="change_remark" value="" placeholder="" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
  <!-- 隐藏域赋默认值不作数据提交依据 -->
  <input type="hidden" id="j_floor_hidden" value="" />
  <input type="hidden" id="j_endloss_hidden" value="" />
  <input type="hidden" id="j_endloss_hidden_id" name="old_damage" value="" />
  <input type="hidden" id="j_structure_hidden_id" name="old_struct" value="" />
  <input type="hidden" id="j_structure_hidden" value="" />
  <input type="hidden" id="j_nature_hidden" value="" />
  <input type="hidden" id="j_yield_hidden" value="" />
  <input type="hidden" id="j_address_hidden" value="" />
  <input type="hidden" id="j_extra_hidden" value="" />
  {include file="common/submit"}
  <!-- <div class="layui-row layui-form-item layui-col-space90">
		<div class="j-margin-btn">
			<a href="javascript:history.go(-1)" class="layui-btn layui-btn-primary">取消</a>
			<button type="submit" j-data="{'save_type':'save'}" class="layui-btn" lay-submit lay-filter="formSubmit">保存</button>
			<button type="submit" j-data="{'save_type':'submit'}" class="layui-btn" lay-submit lay-filter="formSubmit">保存并提交</button>
		</div>
	</div> -->
  </div>
</form>
{include file="system@block/layui" /}
<script type="text/javascript">
	layui.use(['jquery', 'laydate', 'upload', 'form'], function() {
		var laydate = layui.laydate,
			$ = layui.$,
			upload = layui.upload,
			form = layui.form;
			//console.log(params);
		//监听selected下拉框事件
		form.on('select(adjustment)', function (data) {
		    	   var message=data.value;
				   switch(message){
				   	case '1':
				   		$(".j-house-boxs td:eq(1) input").attr("name","old_floors");
				   		$(".j-house-boxs td:eq(2)").html('<input type="number" value="" lay-verify="required"  placeholder="" autocomplete="off" class="layui-input new_floors" name="new_floors">');
						$(".j-hides").hide();
						$(".j-lease-box").show();//租赁异动导航显示
				   		$(".j-floor-box").show();
						$(".j-details").show();//异动明细导航显示
						$(".j-house-box").show();//异动明细显示
						$("input[name='old_floors']").val($("#j_floor_hidden").val())
				   		form.render('select');
				   		break;
					case '2':
						$(".j-house-boxs td:eq(1) input").attr("name","endloss_grade_old");
						$(".j-house-boxs td:eq(2)").html('<select name="new_damage" lay-filter="lossgrade"><option value="">完损等级</option>{volist name="params['damages']" id="v"}<option value="{$key}">{$v}</option>{/volist}</select>');
						$(".j-hides").hide();
						$(".j-lease-box").show();//租赁异动导航显示
						$(".j-details").hide();//异动明细导航隐藏
						$(".j-house-box").hide();//异动明细隐藏
						$(".j-endloss-box").show();
						$("input[name='endloss_grade_old']").val($("#j_endloss_hidden").val()); 
						$("input[name='endloss_grade_old_id']").val($("#j_endloss_hidden_id").val()); 
						form.render('select');
						break;
					case '3':
						$(".j-house-boxs td:eq(1) input").attr("name","old_address");
						$(".j-house-boxs td:eq(2)").html('<input type="text" value="" lay-verify="required"  placeholder="" autocomplete="off" class="layui-input" name="new_address">');
						$(".j-hides").hide();
						$(".j-lease-box").hide();//租赁异动导航显示
						$(".j-floor-box").hide();
						$(".j-details").hide();//异动明细导航显示
						$(".j-house-box").hide();//异动明细显示
						$("input[name='old_address']").val($("#j_address_hidden").val())
						form.render('select');
						break;	
					// case '3':
					// 	$(".j-house-boxs td:eq(1) input").attr("name","structure_grade_old");
					// 	$(".j-house-boxs td:eq(2)").html('<select name="new_struct" lay-filter="structure"><option value="">结构类别</option>{volist name="params['structs']" id="v"}<option value="{$key}">{$v}</option>{/volist}</select>');
					// 	$(".j-hides").hide();
					// 	$(".j-lease-box").show();//租赁异动导航显示
					// 	$(".j-details").hide();//异动明细导航隐藏
					// 	$(".j-house-box").hide();//异动明细隐藏
					// 	$(".j-structure-boxs").show();
					// 	$("input[name='structure_grade_old']").val($("#j_structure_hidden").val()); 
					// 	$("input[name='structure_grade_old_id']").val($("#j_structure_hidden_id").val());
					// 	form.render('select');
					// 	break;	
					/* 
					case '4':
						$(".j-house-boxs td:eq(1) input").attr("name","nature_use_old");
						$(".j-house-boxs td:eq(2)").html('<select name="house_use_id"><option value="">使用性质</option>{volist name="params['uses']" id="v"}<option value="{$key}">{$v}</option>{/volist}</select>');
						$(".j-hides").hide();
						$(".j-nature-box").show();
						$("input[name='nature_use_old']").val($("#j_nature_hidden").val());
						form.render('select');
						break;	
                    case '5':
                    	$(".j-house-boxs td:eq(1) input").attr("name","yield_class_old");
                    	$(".j-house-boxs td:eq(2)").html('<select name="ban_owner_id"><option value="">产别</option>{volist name="params['owners']" id="v"}<option value="{$key}">{$v}</option>{/volist}</select>');
                    	$(".j-hides").hide();
                    	$(".j-yield-box").show();
						$("input[name='yield_class_old']").val($("#j_yield_hidden").val());
                    	form.render('select');
                    	break; */
					default:
					    $(".j-house-boxs td:eq(1) input").attr("name","none_class_old");
					    $(".j-house-boxs td:eq(2)").html('');
					    $(".j-hides").hide();
						$(".j-lease-box").hide();
						$("input[name='none_class_old']").val('');
						$("input[name='none_class_edit']").html('');
						$(".j-details").hide();
						$(".j-house-box").hide();
					}
					
		});
		//获取楼栋查询器
		 $(".layui-form").on('click','.j-ban_number',function(){
			layer.open({
						title: '楼栋查询器'
						,type: 2
						,offset: 'auto'
						,area: ['70%', '90%']
						, btn:false
						,pageTabs: false
						,content: '{:url('system/index/querier')}?change_type=14&hisi_iframe=yes'
						,btn: ['确定','关闭']
						,yes: function(index, layero){
							 $("input[name='old_floors']").val("");//清空异动前楼层信息
							  $("input[name='new_floors']").val("");//清空异动后楼层信息
							  $(".j-floor-box").find("input").val("");//清空楼层调整数据
							  $("#ban_change_id").val("");//清空异动类别select框值
							  $("input[name='endloss_grade_old']").val("");//清空完损等级原信息
							  $("select[name='new_damage']").val("");//清空完损等级异动后信息select框值
							  $(".j-endloss-box").find("input").val("");//清空完损等级异动数据
							  $(".j-endloss-box,.j-lease-box").hide();
							 form.render("select");
							//$(".j-house-box,.j-floor-box,.j-endloss-box,.j-structure-boxs").load(location.href + " .j-house-box,.j-floor-box,.j-endloss-box,.j-structure-boxs");
							var row = window["layui-layer-iframe" + index].callbackdata();
							//var rows = window["layui-layer-iframe" + index].callbackdatas();
							var HousePrerent = 0;
							 console.log(row);
							 //console.log(rows);
							layer.close(index);
							$("input[name='new_floors']").val();
							$('.j-house-box tbody').html("");

							    //楼栋信息
								$("input[name='ban_id']").val(row.ban_id);//获取楼栋id
								$("input[name='ban_number']").val(row.ban_number);//获取楼栋编号
								$("#building_address").val(row.ban_address);//获取楼栋地址
								$("#mechanism").val(params.insts[row.ban_inst_id]);//获取机构
								$("#j_floor_hidden").val(row.ban_floors);//楼层原信息
								$("#j_endloss_hidden").val(params.damages[row.ban_damage_id]);//完损等级原信息
								$("#j_endloss_hidden_id").val(row.ban_damage_id);//隐藏域完损等级原信息
								$("#j_structure_hidden").val(params.structs[row.ban_struct_id]);//隐藏域结构类别原信息
								$("#j_structure_hidden_id").val(row.ban_struct_id);//隐藏域结构类别原信息
								$("#j_address_hidden").val(row.ban_address);//隐藏域楼栋地址

								/* 无数据 */
								if(	$('.j-house-box tbody').html()==''){
									$('.j-house-box tbody').html("<tr><td colspan='8'><div class='j-no-content'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无数据！</div></td></tr>");
								}
								//$("input[name='floor_before_2edit']").val(0);//获取异动规定租金 
								$("input[name='floor_household']").val(0);//获取异动前户数
								$("input[name='floor_changes_household']").val(0);//获取异动后户数

								//楼层调整异动监听input改变
								// form.on('select(adjustment)', function (data) {
								//   if(data.value==1){
								// 	  console.log("执行！");
								//   }	
								//   else{
								// 	  console.log("不执行！");
								//   }
								// }); 
								
								$(".j-house-boxs").bind("input propertychange",function(){
									var ban_id = $("input[name='ban_id']").val();//获取楼栋编号
									var new_floors = $("input[name='new_floors']").val();//获取异动后楼层
									if($("input[name='new_floors']").val()!=""){
										var loading = layer.load(0, {
															shade: false,
															time: 2*1000
														});//楼栋调整明细信息加载中
										$.ajax({
												  type: "post",
												  url: "{:url('deal/Api/getChangeBan')}",
												  data: { 'ban_id': ban_id,'ban_floors': new_floors}, 
												  dataType: "json", 
												  success: function(res) {
												  layer.close(loading);//获取成功关闭加载中
													if(res.code == 0){
														layer.msg(res.msg);
														$('.j-house-box tbody').html("<tr><td colspan='8'><div class='j-no-content'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无数据！</div></td></tr>");
														$(".j-floor-box input").val();
													}else{
														$('.j-house-box tbody').html("");
														var resData = res.data;
														$diffRent = 0;
														for(var k=0;k<resData.length;k++) {
														$diffRent += parseFloat(resData[k].diff_cou_rent)*100;
														 var trData ='<tr>\
																		<td class="house_number"><input type="hidden" name="detail_house_number['+k+']" value="'+resData[k].house_number +'">'+resData[k].house_number+'</td>\
																		<td class="house_lessee"><input type="hidden" name="detail_tenant_name['+k+']" value="'+resData[k].tenant_name +'">'+resData[k].tenant_name+'</td>\
																		<td class="old_floor"><input type="hidden" name="detail_old_floor['+k+']" value="'+resData[k].old_floor +'">'+resData[k].old_floor+'</td>\
																		<td class="new_floor"><input type="hidden" name="detail_new_floor['+k+']" value="'+resData[k].new_floor +'">'+resData[k].new_floor+'</td>\
																		<td class="house_regulation_old_rent"><input type="hidden" name="detail_house_rent['+k+']" value="'+resData[k].house_pre_rent +'">'+resData[k].house_pre_rent+'</td>\
																		<td class="house_regulation_rent"><input type="hidden" name="detail_house_old_cou_rent['+k+']" value="'+resData[k].house_old_cou_rent +'">'+resData[k].house_old_cou_rent+'</td>\
																		<td class="house_change_rent"><input type="hidden" name="detail_diff_cou_rent['+k+']" value="'+resData[k].diff_cou_rent +'">'+resData[k].diff_cou_rent+'</td>\
																		<td class="house_calculation_rent"><input type="hidden" name="detail_house_new_cou_rent['+k+']" value="'+resData[k].house_new_cou_rent +'">'+resData[k].house_new_cou_rent+'</td>\
																	</tr>';
														 $('.j-house-box tbody').append(trData);
													  }
			
													  $("input[name='floor_before_2edit']").val($diffRent.toFixed(2)/100);
													  $("#j_extra_hidden").val($diffRent.toFixed(2)/100);
													  $("input[name='floor_household']").val(resData.length);//获取异动前户数
													  $("input[name='floor_changes_household']").val(resData.length);//获取异动后户数
													  
													  
													  
													  //计算建筑面积
													   var rents_old = 0//规定租金异动前金额
													   var rents = 0;//规定租金异动金额
													   var rents_sum = 0;//规定租金异动后金额
													  //租赁异动楼层调整异动前数据
													  
													  $("input[name='floor_prescribed']").val(row.ban_area);//获取异动前建筑面积
													  $("input[name='floor_areaofuse']").val(row.ban_rent);//获取异动前规定租金
													  $("input[name='floor_builtuparea']").val(row.ban_use_area);//获取异动前使用面积
													  $("input[name='floor_original']").val(row.ban_oprice);//获取异动前原价
													  $("input[name='floor_tung']").val(row.ban_num);//获取异动前栋数
													  //租赁异动楼层调整异动数据
													  $("input[name='floor_before_0edit']").val(0);//获取异动户数
													  $("input[name='floor_before_1edit']").val(0);//获取异动建筑面积
													  
													  $("input[name='floor_before_3edit']").val(0);//获取异动使用面积
													  $("input[name='floor_before_4edit']").val(0);//获取异动原价
													  $("input[name='floor_before_5edit']").val(0);//获取异动栋数
													  //租赁异动楼层调整异动后数据
													  rents_old =parseFloat(row.ban_rent) * 100;
													  var s = $("#j-sums").text($diffRent.toFixed(2)/100);
													  console.log('异动的规租：', s[0].innerText);
													  rents = parseFloat(s[0].innerText) * 100;
													  rents_sum = rents + rents_old;
													  
													  $("input[name='floor_changes_prescribed']").val(row.ban_area);//获取异动后建筑面积
													  $("input[name='floor_changes_areaofuse']").val(rents_sum.toFixed(2) / 100);//获取异动后规定租金
													  $("input[name='floor_changes_builtuparea']").val(row.ban_use_area);//获取异动后使用面积
													  $("input[name='floor_changes_original']").val(row.ban_oprice);//获取异动后原价
													  $("input[name='floor_changes_tung']").val(row.ban_num);//获取异动后栋数
													  
													}
													   
												  },
												  error: function(msg) {
													  layer.msg(msg);
													  console.log("msg值:",msg);
												  }
										}); 
										
									}
								})
								//房屋信息	
								
								// 	var houseidData = '';
								// 	for(var i=0;i<rows.length;i++) {
								// 		houseidData += ','+rows[i].house_id;
										/* var trData ='<tr>\
														<td class="house_number">'+rows[i].house_number+'</td>\
														<td class="house_lessee">'+rows[i].tenant_name+'</td>\
														<td class="house_nature">'+params.uses[rows[i].house_use_id]+'</td>\
														<td class="house_pre_rent">'+rows[i].house_pre_rent+'</td>\
														<td class="house_diff_rent">'+rows[i].house_cou_rent+'</td>\
														<td class="house_pump_rent">'+rows[i].house_pump_rent+'</td>\
													</tr>';
										$('.j-house-box tbody').append(trData); */

										//HousePrerent += parseFloat(rows[i].house_pre_rent) * 100;
										//隐藏域信息
										
										
										// $("#j_structure_hidden").val(params.structs[rows[0].ban.ban_struct_id]);//结构类别原信息
										// $("#j_nature_hidden").val(params.uses[rows[0].house_use_id]);//使用性质原信息
										// $("#j_yield_hidden").val(params.owners[rows[0].ban.ban_owner_id]);//产别原信息
								   //}
									

									//完损等级异动监听selected改变
									form.on('select(lossgrade)', function (data) {
										 var message=params.damages[data.value];
										 $("input[name='endloss_class']").val($("input[name='endloss_grade_old']").val());//获取完损等级前
										 $("input[name='endloss_changes_class']").val(message);//获取完损等级后 
										 //完损等级异动前
										 $("input[name='endloss_household']").val('-'+row.ban_holds);//获取异动前户数
										 $("input[name='endloss_prescribed']").val('-'+row.ban_area);//获取异动前建筑面积
										 $("input[name='endloss_areaofuse']").val('-'+row.ban_rent);//获取异动前规定租金
										 $("input[name='endloss_builtuparea']").val('-'+row.ban_use_area);//获取异动前使用面积
										 $("input[name='endloss_original']").val('-'+row.ban_oprice);//获取异动前原价
										 $("input[name='endloss_tung']").val('-'+row.ban_num);//获取异动前栋数
										 //完损等级异动后
										 $("input[name='endloss_changes_household']").val(row.ban_holds);//获取异动后户数
										 $("input[name='endloss_changes_prescribed']").val(row.ban_area);//获取异动后建筑面积
										 $("input[name='endloss_changes_areaofuse']").val(row.ban_rent);//获取异动后规定租金
										 $("input[name='endloss_changes_builtuparea']").val(row.ban_use_area);//获取异动后使用面积
										 $("input[name='endloss_changes_original']").val(row.ban_oprice);//获取异动后原价
										 $("input[name='endloss_changes_tung']").val(row.ban_num);//获取异动后栋数
									});
									//结构类别异动监听selected改变
								 //    form.on('select(structure)', function (data) {
									// 	$("input[name='structure_class']").val($("input[name='structure_grade_old']").val());//获取结构类别前
									// 	$("input[name='structure_changes_class']").val(params.structs[data.value]);//获取结构类别后 
									// 	//完损等级异动前
									// 	$("input[name='structure_household']").val('-'+row.ban_holds);//获取异动前户数
									// 	$("input[name='structure_prescribed']").val('-'+row.ban_area);//获取异动前建筑面积
									// 	$("input[name='structure_areaofuse']").val('-'+row.ban_rent);//获取异动前规定租金
									// 	$("input[name='structure_builtuparea']").val('-'+row.ban_use_area);//获取异动前使用面积
									// 	$("input[name='structure_original']").val('-'+row.ban_oprice);//获取异动前原价
									// 	$("input[name='structure_tung']").val('-'+row.ban_num);//获取异动前栋数
									// 	//完损等级异动后
									// 	$("input[name='structure_changes_household']").val(row.ban_holds);//获取异动后户数
									// 	$("input[name='structure_changes_prescribed']").val(row.ban_area);//获取异动后建筑面积
									// 	$("input[name='structure_changes_areaofuse']").val(row.ban_rent);//获取异动后规定租金
									// 	$("input[name='structure_changes_builtuparea']").val(row.ban_use_area);//获取异动后使用面积
									// 	$("input[name='structure_changes_original']").val(row.ban_oprice);//获取异动后原价
									// 	$("input[name='structure_changes_tung']").val(row.ban_num);//获取异动后栋数
									// });	
								//houseidData = houseidData.replace(/^(\s|,)+|(\s|,)+$/g, '');
								//$("input[name='house_id']").val(houseidData);//获取房屋编号
						},btn2: function(index, layero){
							layer.close(index);
							
						},
						end:function(){ 
						  // //根据id移除选项卡所有选项
						  // document.getElementById(ban_change_id).Options.length==0;
						  // //添加第一个选项。
						  // $('#'+ban_change_id).append("<option value=''>调整类型</option>");
						  // //更新表单
						  //  form.render('select',select_div);       
						}
						


			 });
		})
	});
</script>
