<!-- 业务管理 -->
<div class="j-table-content j-table-readjust j-top-height">
  <div class="layui-btn-container j-container-margin">
	{include file="system@block/layui" /}
	<table id="dataTable" lay-filter='dataTable'></table>
	<script type="text/html" title="操作按钮模板" id="buttonTpl">
		<a href="{:url('edit')}?id={{ d.col_id }}" hisi-data="{width: '800px', height: '530px',refresh: 2}" title="编辑业务管理" class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop">编辑</a>
		<a href="{:url('detail')}?id={{ d.col_id }}" hisi-data="{width: '800px', height: '530px',refresh: 2}" title="查看业务管理" class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop">查看</a>
	</script>
</div>
<script type="text/javascript">
    layui.use(['table','jquery','layer','laydate','form'], function() {
        var table = layui.table
		    ,$ = layui.$
			,laydate = layui.laydate
			,form = layui.form;
       table.render({
            elem: '#dataTable'
			// ,height: 330
            ,toolbar: true
			,defaultToolbar: false//设置右边筛选，导出，打印显示
            ,url: '{:url()}' //数据接口
            ,page: true //开启分页
			,limits: [5,10,20,30,40,50,100,300,500,1000,2000,5000]
            ,limit: 5
            ,text: {
                none : "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
            }
            ,cols: [[ //表头
                {field: 'col_id', minWidth: 500, align:'center', title: '业务板块',templet: function(d){
					return '<div class="j-user-con"><img src="'+d.file+'" alt="" width="60px" height="60px"> <div class="txt"><p>'+d.col_name+'</p><p>简介：'+d.col_remark+'</p></div></div>';
                }
			    }
                ,{field: 'is_top', align:'center',minWidth:80, title: '是否置顶', templet:function(d){
                	var strCheck = d.is_top == "1" ? "checked" : "";
                	return '<input type="checkbox" value="'+ d.col_id +'" name="is_top" lay-filter="is_top" lay-skin="switch" lay-text="是|否" ' +strCheck+ '>';
				}  
                }
				,{field: 'is_show', align:'center',minWidth:80, title: '模块状态', templet:function(d){
					var strChecks = d.is_show == "1" ? "checked" : "";
					return '<input type="checkbox" value="'+ d.col_id +'" name="is_show" lay-filter="is_show" lay-skin="switch" lay-text="启用|禁用" ' +strChecks+ '>';
				}  
				}
                ,{title: '操作', width: 140, align:'center', templet: '#buttonTpl',fixed:'right'}
            ]]
   //          ,
			// data: [{
			// 'weixin_url':'https://h.2345cdn.net/i/search190510/idx-1.png',
   //          'weixin_column':'办事指引',
			// 'weixin_briefing':'用户通过小程序查询办事指引！'
   //          },
			// {
			// 'weixin_url':'https://h.2345cdn.net/i/search190510/idx-1.png',
			// 'weixin_column':'缴费',
			// 'weixin_briefing':'用户通过小程序进行缴费'
			// }
   //      ]
            ,done:function(res,curr,count){
				
            }
        },isShowInst);
		$(".j-search-fr .layui-btn:last").addClass("on");//搜索最后按钮样式
		 //监听置顶
		  
        form.on('switch(is_top)', function (data) {
			var taht = $(this)
			var swt =  $(data.elem);
			var col_id = data.value;
			 // 获取当前控件                                                                  
	        var selectIfKey=data.othis;   
			// 获取当前所在行                                                                 
	        var parentTr = selectIfKey.parents("tr"); 
			var dataField = $(parentTr).find("td:eq(2)").find(".layui-form-switch");
			var dataInput = $(parentTr).find("td:eq(1)").find("input");
			$(parentTr).find("td:eq(1)").removeClass("ons");
			
			 if(dataField.hasClass("layui-form-onswitch"))
			 {
			 	$.get("{:url('isTop')}", {id:col_id}, function(res) {
			    // if (res.code == 0) {
			    	layer.msg(res.msg);
			    // }
			});	
				 if(this.checked==true)
				 { 
				 	console.log('点击了置顶！');
					$(parentTr).addClass("ons").siblings().removeClass("ons");
					$(".layui-table-main tr").each(function(){		  
					  if(!$(this).hasClass("ons"))
					  {
						$(this).find("td:eq(1)").find("input").prop('checked',!data.elem.checked); //修改switch开关
						layui.form.render();//刷新表格
						return ;
					  }		  
					})
				 }
				 else{
				 	console.log('不置顶！')
				 }
			 }
			 else{
				 layer.msg("该栏目已禁用无法置顶！");
				 swt.prop('checked',!data.elem.checked); //修改switch开关
                 layui.form.render();//刷新表格
                 return ;
				 
			 }
			
		})
		//监听模块状态
		form.on('switch(is_show)', function (data) {
			var taht = $(this)
			var swt =  $(data.elem);
			var col_id = data.value;
			 // 获取当前控件                                                                  
			var selectIfKey=data.othis;   
			// 获取当前所在行                                                                 
			var parentTr = selectIfKey.parents("tr"); 
			var dataField = $(parentTr).find("td:eq(2)").find(".layui-form-switch");
			var dataInput = $(parentTr).find("td:eq(1)").find("input");
			$.get("{:url('isShow')}", {id:col_id}, function(res) {
			    // if (res.code == 0) {
			    	layer.msg(res.msg);
			    // }
			});
			if(dataField.hasClass("layui-form-onswitch"))
			{
				if(this.checked==true)
				{
					console.log('启用！')
				}
				else{
					console.log('禁用！')
				}
			}
			else{
				$(parentTr).removeClass("ons");
				dataInput.prop('checked',data.elem.checked); //修改switch开关
			    layui.form.render();//刷新表格
			    return ;
							 
			}
		})
    });
</script>