{if condition="input('param.hisi_iframe') || cookie('hisi_iframe')"}
</body>
</html>
{else /}
        </div>
    </div>
    <div class="layui-footer footer">
        <span class="fl">Powered by <a href="{:config('hisiphp.url')}" target="_blank">{:config('hisiphp.name')}</a> v{:config('hisiphp.version')}</span>
 
        <div class="layui-inline scroll-box" style="margin-left:200px;color:red;font-size:14px;font-weight:bold;">
		 <ul>
		  <li>提示信息：系统 v2.0.0 于2019年4月16日，完成如下5项调整</li>
		  <li>1、修复主界面切换刷新混乱问题。</li>
		  <li>2、修复管段搜索功能，优化管段无需显示默认机构功能。</li>
		  <li>3、增加月租金报表统计页面、地图功能页面、导航菜单。</li>
		  <li>4、增加底部滚动条提示栏（仅作案例）</li>
		  <li>5、导入原系统楼栋、房屋、房间、租户、租金(数据不完整只做案例使用)。</li>
		 </ul>
		</div>

        <span class="fr"> © 2018-2020 <a href="{:config('hisiphp.url')}" target="_blank">{:config('hisiphp.copyright')}</a> All Rights Reserved.</span>
    </div>
</div>
</body>
</html>
{/if}
<script>
   layui.use(['table','jquery'], function() {
        var $ = layui.$;
        $(function() {
		    //获得当前<ul>
		    var $uList = $(".scroll-box ul");
		    var timer = null;
		    //触摸清空定时器
		    $uList.hover(function() {
		        clearInterval(timer);
		    },
		    function() { //离开启动定时器
		        timer = setInterval(function() {
		            scrollList($uList);
		        },
		        3000);
		    }).trigger("mouseleave"); //自动触发触摸事件
		    //滚动动画
		    function scrollList(obj) {
		        //获得当前<li>的高度
		        // var scrollHeight = $("ul li:first").height();
		        var scrollHeight = 42;
		        //console.log(scrollHeight);
		        //滚动出一个<li>的高度
		        $uList.stop().animate({
		            left: -scrollHeight
		            //marginTop: -scrollHeight
		        },
		        1000,
		        function() {
		            //动画结束后，将当前<ul>marginTop置为初始值0状态，再将第一个<li>拼接到末尾。
		            $uList.css({
		                marginTop: 0
		            }).find("li:first").appendTo($uList);
		        });
		    }
		});
    });
</script>