{if condition="input('param.hisi_iframe') || cookie('hisi_iframe')"}
</body>
</html>
{else /}
        </div>
    </div>
    {if condition="true"}
	<style>
		.layui-layer-title{padding: 0 40px 0 0px;text-align: center;font-size: 15px;}
		.j-versions{padding:0 10px 10px;}
		.j-versions .j-title{margin-top: 20px;font-size: 15px; font-weight: bold;}
		.j-versions .j-title .fl{color: #0084FF;}
		.j-versions .j-title .fl i{display: inline-block;width: 4px;height: 4px;background:#0084FF;border-radius: 50%;margin-right: 5px;position: relative;top:-3px}
		.j-versions .j-title .fr{color: #838383;}
		.j-versions .j-label{font-weight: 500;margin: 10px 0 5px;color: #494949;}
		.j-versions .j-list{color: #838383;line-height: 22px;}
		.j-versions .j-con{font-size: 14px;}
	</style>
    <div class="layui-footer footer">
    	{:htmlspecialchars_decode($copyRightInfo['options'])}	v{$basis[0]['title']}
       <!-- 武房网 © <a data-method="offset" data-type="rb" class="j-version" href="javascript:;">{:config('hisiphp.name')} {// :config('hisiphp.main_version')}</a> -->  <!-- <label>客服：027-81368886</label> -->
	   <!-- © {:config('hisiphp.name')} <a data-method="offset" data-type="rb" class="j-version-1" href="javascript:;">v{:config('hisiphp.main_version')}</a> -->
    </div>
	<div class="j-versions hide">
		<ul>
			<li>
				<dl class="clearfix">
					{volist name="$basis" id="v"}
						<dt class="j-title clearfix">
							<span class="fl"><i></i>武房公房系统 v{$v['title']} 更新提醒</span>
							<span class="fr">{:substr($v['create_time'],0,10)}</span>
						</dt>
						<br />
						<dd>
							{:htmlspecialchars_decode($v['content'])}
						</dd>
					{/volist}
					<!-- <dt class="j-title clearfix">
						<span class="fl"><i></i>武房公房系统 v2.0.1 更新提醒</span>
						<span class="fr">2020-07-23</span>
					</dt>
					<dd class="j-con clearfix">
						<dl class="clearfix">
							<dt class="j-label clearfix">[优化]</dt>
							<dd class="j-list clearfix">
								1.房屋调整：优化房屋调整申请不能上传附件的问题
							</dd>
							<dd class="j-list clearfix">
								2.房屋调整：优化房屋调整附件显示不全的问题
							</dd>
							<dd class="j-list clearfix">
								3.房屋调整：优化附记显示错误的问题
							</dd>
							<dd class="j-list clearfix">
								4.业务审批：优化租约异动待房管员签字记录过多造成的视觉杂乱问题
							</dd>
							<dd class="j-list clearfix">
								5.租户信息：优化死亡租户的身份证信息无法补充的问题
							</dd>
						</dl>
						<dl class="clearfix">
							<dt class="j-label clearfix">[迭代]</dt>
							<dd class="j-list clearfix">
								1.楼栋调整：楼栋调整类型新增“楼栋地址修改”
							</dd>
							<dd class="j-list clearfix">
								2.使用权变更：删除资料员审批步骤
							</dd>
							<dd class="j-list clearfix">
								3.新发租：新发租申请，资料员审批时，不需要上传资料
							</dd>
							<dd class="j-list clearfix">
								4.业务办理：新增【异动单号】查询
							</dd>
							<dd class="j-list clearfix">
								5.房屋信息：房屋信息列表新增“租差”、“泵费”统计信息
							</dd>
							<dd class="j-list clearfix">
								6.房屋信息：注销房屋列表新增“注销时间”、“创建时间”查询
							</dd>
							<dd class="j-list clearfix">
								7.租金催缴：新增“租金催缴”模块，添加催缴单展示及打印功能；
							</dd>
							<dd class="j-list clearfix">
								8.租金记录：租金记录列表默认展示本月缴纳的订单
							</dd>
							<dd class="j-list clearfix">
								9.租金记录：新增在线支付的订单无法选中，也无法撤回的功能
							</dd>
							<dd class="j-list clearfix">
								10.房屋统计报表：同步2020年6月之前的报表
							</dd>
						</dl>
						<dl class="clearfix">
							<dt class="j-label clearfix">[修复]</dt>
							<dd class="j-list clearfix">
								1.租约管理：修复审批页面 - 计租表 “二次供水”数据不显示的问题
							</dd>
							<dd class="j-list clearfix">
								2.业务办理：修复业务打回后异动订单编号被修改的问题
							</dd>
							<dd class="j-list clearfix">
								3.计租表：修复编辑房屋时，仅修改租差泵费未重新计算租金的问题
							</dd>
						</dl>
					</dd> -->
				</dl>
				<!-- <dl class="clearfix">
					<dt class="j-title clearfix">
						<span class="fl"><i></i>武房公房系统v2.0.02更新提醒</span>
						<span class="fr">2020-01-09</span>
					</dt>
					<dd class="j-con clearfix">
						<dl class="clearfix">
							<dt class="j-label clearfix">[优化]</dt>
							<dd class="j-list clearfix">
								1.租金减免年审优化：优化租金减免年审申请条件，附件分类显示，多次年审审批记录明细展示
							</dd>
							<dd class="j-list clearfix">
								2.租金减免年审异动：新增租金减免年审异动，房管员
							</dd>
						</dl>
						<dl class="clearfix">
							<dt class="j-label clearfix">[功能迭代]</dt>
							<dd class="j-list clearfix">
								1.租金减免年审优化：优化租金减免年审申请条件，附件分类显示，多次年审审批记录明细展示
							</dd>
							<dd class="j-list clearfix">
								2.租金减免年审异动：新增租金减免年审异动，房管员
							</dd>
						</dl>
					</dd>
				</dl> -->
			</li>
		</ul>
	</div>
    {/if}
</div>
</body>
</html>
{/if}
<script>
   layui.use(['table','jquery'], function() {
        var $ = layui.$;
        $(function() {
		    //获得当前<ul>
		    var $uList = $(".scroll-box ul");
		    var timer = null;
		    //触摸清空定时器
		    $uList.hover(function() {
		        clearInterval(timer);
		    },
		    function() { //离开启动定时器
		        timer = setInterval(function() {
		            scrollList($uList);
		        },
		        3000);
		    }).trigger("mouseleave"); //自动触发触摸事件
		    //滚动动画
		    function scrollList(obj) {
		        //获得当前<li>的高度
		        // var scrollHeight = $("ul li:first").height();
		        var scrollHeight = 42;
		        //console.log(scrollHeight);
		        //滚动出一个<li>的高度
		        $uList.stop().animate({
		            left: -scrollHeight
		            //marginTop: -scrollHeight
		        },
		        1000,
		        function() {
		            //动画结束后，将当前<ul>marginTop置为初始值0状态，再将第一个<li>拼接到末尾。
		            $uList.css({
		                marginTop: 0
		            }).find("li:first").appendTo($uList);
		        });
		    }
			// 
			$(".j-version").click(function(){
			  layer.open({
			        type: 1
					,title: '武房公房系统版本更新日志'
			        ,offset: 'rb'
			        ,content: $('.j-versions')
			        ,btn: false
					,area: ['460px', '460px']
			        ,shade: 0 //不显示遮罩
			        ,yes: function(){
			          layer.closeAll();
			        }
			      });
		  })
		});
    });
</script>