{if condition="input('param.hisi_iframe') || cookie('hisi_iframe')"}
</body>
</html>
{else /}
        </div>
    </div>
    {if condition="true"}
	<style>
		.layui-layer-title{padding: 0 40px 0 0px;text-align: center;}
		.j-versions{padding:0 10px 10px;}
		.j-versions .j-title{margin-top: 20px;}
		.j-versions .j-title .fl{color: #0084FF;}
		.j-versions .j-title .fl i{display: inline-block;width: 4px;height: 4px;background:#0084FF;border-radius: 50%;margin-right: 5px;position: relative;top:-3px}
		.j-versions .j-title .fr{color: #838383;}
		.j-versions .j-label{font-weight: 500;margin: 10px 0 5px;color: #494949;}
		.j-versions .j-list{color: #838383;line-height: 22px;}
		.j-versions .j-con{font-size: 10px;}
	</style>
    <div class="layui-footer footer">
       楚天新媒 © <a data-method="offset" data-type="rb" class="j-version-1" href="javascript:;">{:config('hisiphp.name')} v{:config('hisiphp.main_version')}</a>  <label>客服：027-81368886</label>
	   <!-- © {:config('hisiphp.name')} <a data-method="offset" data-type="rb" class="j-version-1" href="javascript:;">v{:config('hisiphp.main_version')}</a> -->
    </div>
	<div class="j-versions hide">
		<ul>
			<li>
				<dl class="clearfix">
					<dt class="j-title clearfix">
						<span class="fl"><i></i>武房公房系统 v2.0.1 更新提醒</span>
						<span class="fr">2020-07-23</span>
					</dt>
					<dd class="j-con clearfix">
						<dl class="clearfix">
							<dt class="j-label clearfix">[优化]</dt>
							<dd class="j-list clearfix">
								1.租金记录：优化在线支付的订单无法退款
							</dd>
							<dd class="j-list clearfix">
								2.房屋信息：列表新增“租差”、“泵费”字段，且展示统计信息，房屋详情基本信息数据不完整
							</dd>
						</dl>
						<dl class="clearfix">
							<dt class="j-label clearfix">[迭代]</dt>
							<dd class="j-list clearfix">
								1.使用权变更异动：使用权变更删除资料员审批步骤
							</dd>
							<dd class="j-list clearfix">
								2.新发租异动：新发租申请资料员审批时，不需要上传资料
							</dd>
							<dd class="j-list clearfix">
								3.租金催缴单：租金催缴单信息及批量打印
							</dd>
						</dl>
						<dl class="clearfix">
							<dt class="j-label clearfix">[修复]</dt>
							<dd class="j-list clearfix">
								1.租约管理：审批页面 - 计租表 “二次供水”数据不显示，附记未显示用户填写的换租原因，打回修改后异动订单编号被修改
							</dd>
							<dd class="j-list clearfix">
								2.房屋调整异动：房屋调整明细附件未展示 编辑房屋时，仅修改租差泵费未重新计算租金
							</dd>
							<dd class="j-list clearfix">
								3.计租表：仅修改租差泵费未重新计算租金
							</dd>
						</dl>
					</dd>
				</dl>
				<!-- <dl class="clearfix">
					<dt class="j-title clearfix">
						<span class="fl"><i></i>武房公房系统v2.0.02更新提醒</span>
						<span class="fr">2020-01-09</span>
					</dt>
					<dd class="j-con clearfix">
						<dl class="clearfix">
							<dt class="j-label clearfix">[优化]</dt>
							<dd class="j-list clearfix">
								1.租金减免年审优化：优化租金减免年审申请条件，附件分类显示，多次年审审批记录明细展示
							</dd>
							<dd class="j-list clearfix">
								2.租金减免年审异动：新增租金减免年审异动，房管员
							</dd>
						</dl>
						<dl class="clearfix">
							<dt class="j-label clearfix">[功能迭代]</dt>
							<dd class="j-list clearfix">
								1.租金减免年审优化：优化租金减免年审申请条件，附件分类显示，多次年审审批记录明细展示
							</dd>
							<dd class="j-list clearfix">
								2.租金减免年审异动：新增租金减免年审异动，房管员
							</dd>
						</dl>
					</dd>
				</dl> -->
			</li>
		</ul>
	</div>
    {/if}
</div>
</body>
</html>
{/if}
<script>
   layui.use(['table','jquery'], function() {
        var $ = layui.$;
        $(function() {
		    //获得当前<ul>
		    var $uList = $(".scroll-box ul");
		    var timer = null;
		    //触摸清空定时器
		    $uList.hover(function() {
		        clearInterval(timer);
		    },
		    function() { //离开启动定时器
		        timer = setInterval(function() {
		            scrollList($uList);
		        },
		        3000);
		    }).trigger("mouseleave"); //自动触发触摸事件
		    //滚动动画
		    function scrollList(obj) {
		        //获得当前<li>的高度
		        // var scrollHeight = $("ul li:first").height();
		        var scrollHeight = 42;
		        //console.log(scrollHeight);
		        //滚动出一个<li>的高度
		        $uList.stop().animate({
		            left: -scrollHeight
		            //marginTop: -scrollHeight
		        },
		        1000,
		        function() {
		            //动画结束后，将当前<ul>marginTop置为初始值0状态，再将第一个<li>拼接到末尾。
		            $uList.css({
		                marginTop: 0
		            }).find("li:first").appendTo($uList);
		        });
		    }
			// 
			$(".j-version").click(function(){
			  layer.open({
			        type: 1
					,title: '武房公房系统版本更新日志'
			        ,offset: 'rb'
			        ,content: $('.j-versions')
			        ,btn: false
					,area: ['360px', '440px']
			        ,shade: 0 //不显示遮罩
			        ,yes: function(){
			          layer.closeAll();
			        }
			      });
		  })
		});
    });
</script>