<!-- 楼栋查询器，只能单选楼栋 -->
<!-- 
<style>
	/*------------------ iframe页面去共用部分样式 S ----------------*/
	.layui-header,.layui-side,.layui-footer,.bread-crumbs{ display: none; color: #f60;}
	.layui-layout-admin .layui-body{top: 0;bottom: 0;}
	.layui-body{left: 0;}
	.page-tab-content{margin: 0;}
	/*------------------ iframe页面去共用部分样式 E ----------------*/
</style> -->
<div class="j-table-content j-no-title">
<div class="page-toolbar j-page-toolbar clearfix">
      <form class="layui-form layui-form-pane" action="{:url('system/Index/querier')}?change_type={$changeType}"  method="post" id="hisi-table-search">
		<div class="j-search-fl layui-col-md8  fl">
			  <div class="layui-input-inline j-input-margin" style="width:150px;">
				  <input type="text" name="ban_number" placeholder="楼栋编号" class="layui-input">
			  </div>
			  {if condition="$Think.INST_LEVEL < 3"}
			  <div class="layui-input-inline" style="width:150px;">
				  <select name="ban_inst_id">
					  <option value="">机构</option>
					  {volist name=":config('inst_check_names')[INST]" id="v"}
					  <option value="{$key}">{$v}</option>
					  {/volist}
					</select>
			  </div>
			  {/if}
			  <div class="layui-input-inline" style="width:120px;">
				  <select name="ban_owner_id">
					  <option value="">产别</option>
					  {volist name="params['owners']" id="v"}
					  <option value="{$key}">{$v}</option>
					  {/volist}
					</select>
			  </div>
			  <div class="layui-input-inline j-input-margin" style="width:150px;">
				  <input type="text" name="ban_address" placeholder="地址" class="layui-input">
			  </div>
		</div>
		<div class="j-search-fr layui-col-md4 fr">
          <div class="layui-input-inline fr">
			  <button type="reset" class="layui-btn j-btn-reset">重置</button>
              <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
                  <i class="layui-icon">&#xe615;</i>
                  搜索
              </button>
          </div>
		</div>
      </form>
  </div>
{include file="system@block/layui" /}
<table id="dataTable" lay-filter='dataTable'></table>
</div>
<script type="text/javascript">
	var conId;
	var data;
    layui.use(['table','jquery'], function() {
        var table = layui.table
		    ,$ = layui.$;
        table.render({
			elem: '#dataTable'
            ,toolbar: true
			,defaultToolbar: false//设置右边筛选，导出，打印显示
            ,url: "{:url('system/Index/querier')}?change_type={$changeType}" //数据接口
            ,page: true //开启分页
            ,limit: 5
            ,limits: [5,10,20,30,40,50]
            ,text: {
                none : "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
            }
            ,cols: [[ //表头
                {field: 'ban_number', minWidth: 110,align:'center', title: '楼栋编号'}
                ,{field: 'ban_inst_id', minWidth: 120, align:'center',title: '管段', hide: isShowInst, templet: function(d) {
                    return params.insts[d.ban_inst_id];
                }}
                ,{field: 'ban_address', minWidth: 140,align:'center', title: '地址'}
				,{field: 'ban_damage_id', minWidth: 100, align:'center',title: '完损等级', templet: function(d) {
				    return params.damages[d.ban_damage_id];
				}}
				,{field: 'ban_struct_id', minWidth: 100,align:'center', title: '结构类别', templet: function(d) {
				    return params.structs[d.ban_struct_id];
				}}
                ,{field: 'ban_owner_id', minWidth: 80,align:'center', title: '产别', templet: function(d) {
                    return params.owners[d.ban_owner_id];
                }}
                ,{field: 'ban_rent', minWidth: 80, align:'center', title: '合规租',totalRow: true}
                ,{field: 'ban_area', minWidth: 80, align:'center', title: '合建面',totalRow: true}
                
            ]]
            ,done:function(res,curr,count){
               var	result = res.data;
               for (var i = 0; i < result.length; i++) {
               	$("[lay-id='dataTable'] tr[data-index="+i+"]").attr('color-status',1);
               	if(parseInt(result[i].color_status) == 2){
               		$("[lay-id='dataTable'] tr[data-index="+i+"]").css('color','#A4A4A4').attr('color-status',2);
               	}else if(parseInt(result[i].color_status) == 3){
               		$("[lay-id='dataTable'] tr[data-index="+i+"]").css('color','red').attr('color-status',3);
               	}
               	$("[lay-id='dataTable'] tr[color-status='3'] input[type='checkbox'],[lay-id='dataTable'] tr[color-status='2'] input[type='checkbox']").prop('disabled',true);
               	$("[lay-id='dataTable'] tr[color-status='3'] input[type='checkbox'],[lay-id='dataTable'] tr[color-status='2'] input[type='checkbox']").next().addClass('layui-btn-disabled');
               	$("[lay-id='dataTable'] tr[color-status='3'] input[type='checkbox'],[lay-id='dataTable'] tr[color-status='2'] input[type='checkbox']").removeAttr('name');
               }
            }
        },isShowInst);

		  //监听行单击事件（单击事件为：rowDouble）
			table.on('row(dataTable)',function(obj){
				data = obj.data;
				conId = data.id;
				/* console.log(data); */
				//标注选中样式
				obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
			});
		  
		$(".j-search-fr .layui-btn:last").addClass("on");//搜索最后按钮样式
		//显示搜索框title属性值
		$(".layui-unselect").mouseover(function(){
		  var titles = $(this).val();
		  $(this).attr("title",titles)
		});
    });

	var callbackdata = function () {
         return data;
    }
</script>