<!-- 楼栋查询器，只能单选楼栋 ，并单选或多选房屋，用在暂停计租异动中 -->

<div class="j-table-content j-five-height">
<fieldset class="layui-elem-field layui-field-title j-field-box">
	<legend>楼栋查询</legend>
</fieldset>
<blockquote class="layui-elem-quote"></blockquote>
<div class="page-toolbar j-page-toolbar clearfix">
      <form class="layui-form layui-form-pane" action="{:url('system/Index/cancellation')}?change_type={$changeType}" method="post" id="hisi-table-search">
		<div class="j-search-fl layui-col-md8  fl">
		  <div class="layui-input-inline j-input-margin" style="width:150px;">
			  <input type="text" name="ban_number" placeholder="楼栋编号" class="layui-input">
		  </div>
		  {if condition="$Think.INST_LEVEL < 3"}
		  <div class="layui-input-inline" style="width:150px;">
			  <select name="ban_inst_id">
				  <option value="">机构</option>
				  {volist name=":config('inst_check_names')[INST]" id="v"}
				  <option value="{$key}">{$v}</option>
				  {/volist}
				</select>
		  </div>
		  {/if}
		  <div class="layui-input-inline" style="width:120px;">
			  <select name="ban_owner_id">
				  <option value="">产别</option>
				  {volist name="params['owners']" id="v"}
				  <option value="{$key}">{$v}</option>
				  {/volist}
				</select>
		  </div>
		  <div class="layui-input-inline j-input-margin" style="width:150px;">
			  <input type="text" name="ban_address" placeholder="地址" class="layui-input">
		  </div>
		  <input type="hidden" name="group" value="x" class="layui-input">
		</div>
		<div class="j-search-fr layui-col-md4 fr">
          <div class="layui-input-inline fr">
			  <button type="reset" class="layui-btn j-btn-reset">重置</button>
              <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
                  <i class="layui-icon">&#xe615;</i>
                  查询
              </button>
          </div>
		</div>
      </form>
  </div>
{include file="system@block/layui" /}
<!-- 楼栋查询 -->
<table id="dataTable" lay-filter='dataTable'></table>
<!-- 房屋查询 -->
<fieldset class="layui-elem-field layui-field-title j-field-box">
	<legend>选择房屋</legend>
</fieldset>
<table id="dataTable2" lay-filter='dataTable2'></table>
</div>
<script type="text/javascript">
	var conId;
	var data;
	var datas;
    layui.use(['table','jquery'], function() {
        var table = layui.table
		    ,$ = layui.$;
		//判断当前异动类型改变提示文字
		var changeType = '{$changeType}';
		if(changeType==13){
			$(".layui-elem-quote").text("红色表示房屋存在欠租无法申请使用权变更");
		}
		else if(changeType==8){
			$(".layui-elem-quote").text("当楼栋下无房屋，且规定租金、建筑面积均为0时可以注销楼栋");
		}
		else if(changeType==9){
			$(".layui-elem-quote").text("红色表示房屋存在欠租，灰色表示房屋正在异动中，两者均无法申请房屋调整");
		}
		else if(changeType==18){
			$(".layui-elem-quote").text("红色表示房屋存在欠租，灰色表示房屋正在申请租约，橙色表示规定租金与计算租金不一致");
		}
		else if(changeType==1){
			$(".layui-elem-quote").text("红色表示房屋存在欠租，灰色表示房屋正在异动中，两者均无法申请租金减免");
		}
		else if(changeType==17){
			$(".layui-elem-quote").text("红色表示房屋存在欠租无法申请别字更正");
		}
		else if(changeType==11){
			$(".layui-elem-quote").text("灰色表示正在异动中的房屋");
		}
		else if(changeType==4){
			$(".layui-elem-quote").text("灰色表示房屋正在陈欠核销异动中");
		}
		else{
			$(".layui-elem-quote").hide();
		}
		//console.log('当前异动类型为：',params.changes[changeType],'代号：',changeType);
		//楼栋查询
        table.render({
			elem: '#dataTable'
			//,height: 400
			//,height: 'full-20'
            ,url: '{:url("system/Index/cancellation")}?change_type={$changeType}' //数据接口
            ,page: true //开启分页
            ,limit: 5
            ,limits: [5,10,20,30,40,50]
            ,text: {
                none : "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
            }
            ,cols: [[ //表头
                {field: 'ban_number', minWidth: 110, align:'center', title: '楼栋编号'}
				,{field: 'ban_damage_id', minWidth: 100, align:'center', title: '完损等级', templet: function(d) {
				    return params.damages[d.ban_damage_id];
				}}
				,{field: 'ban_struct_id', minWidth: 100, align:'center', title: '结构类别', templet: function(d) {
				    return params.structs[d.ban_struct_id];
				}}
                ,{field: 'ban_owner_id', minWidth: 80, align:'center', title: '产别', templet: function(d) {
                    return params.owners[d.ban_owner_id];
                }}
                ,{field: 'ban_address', minWidth: 140, align:'center', title: '地址'}
				,{field: 'ban_area', minWidth: 80, align:'center', title:'建筑面积'}
				,{field: 'ban_use_area', minWidth: 100, align:'center', title:'使用面积'}
				,{field: 'ban_num',minWidth: 80, align:'center',title:'栋数'}
				,{field: 'ban_rent', minWidth: 80, align:'center',title:'规定租金'}
				,{field: 'ban_oprice', minWidth: 100, align:'center', title: '原价'}
				,{field: 'ban_holds',minWidth: 100, align:'center', title: '户数'}
            ]]
            ,done:function(res,curr,count){
               console.log("楼栋信息：",res);
            }
        },isShowInst);
		  //监听行单击事件（单击事件为：rowDouble）
			table.on('row(dataTable)',function(obj){
				data = obj.data;
				conId = data.id;
				console.log("楼栋查询器选择：",data);
				//标注选中样式
				obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
				
				
				//房屋查询
				table.render({
					elem: '#dataTable2'
					//,height: 400
					//,height: 'full-20' //浏览器最大高度
					,toolbar: true
					//,defaultToolbar: false //设置右边筛选，导出，打印显示
					,url: '{:url("system/Index/house")}?change_type={$changeType}&ban_number='+data.ban_number//数据接口
					,page: false //开启分页
					,limit: 1000000
            		,limits: [5,10,20,30,40,50,100,300]
					,totalRow: true //开启合计行
					,text: {
						none: "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
					},
					cols: [
						[ //表头
						{
							type: 'checkbox',
							fixed: 'left'
						},{
								field: 'house_number',
								minWidth: 140,
								align:'center',
								title: '房屋编号',
								totalRowText: '合计：'
							}, {
								field: 'ban_number',
								minWidth: 110,
								align:'center',
								title: '楼栋编号'
							}, {
								field: 'tenant_name',
								minWidth: 80,
								align:'center',
								title: '租户姓名'
							}, {
								field: 'ban_inst_id',
								minWidth: 100,
								align:'center',
								title: '管段',
								hide: isShowInst,
								templet: function(d) {
									return params.insts[d.ban_inst_id];
								}
							}, {
								field: 'ban_owner_id',
								minWidth: 60,
								align:'center',
								title: '产别',
								templet: function(d) {
									return params.owners[d.ban_owner_id];
								}
							}, {
								field: 'house_use_id',
								minWidth: 80,
								align:'center',
								title: '使用性质',
								templet: function(d) {
									return params.uses[d.house_use_id];
								}
							}, {
								field: 'ban_address',
								minWidth: 200,
								align:'center',
								title: '地址'
							}, {
								field: 'house_area',
								minWidth: 80,
								align:'center',
								title: '建面',
								totalRow: true
							}, {
								field: 'house_lease_area',
								minWidth: 100,
								title: '计租面积',
								totalRow: true
							}, {
								field: '',
								minWidth: 80,
								align:'center',
								title: '单元',
								templet: function(d) {
									return d.house_unit_id + '/' + d.ban_units;
								}
							}, {
								field: '',
								minWidth: 80,
								align:'center',
								title: '楼层',
								templet: function(d) {
									return d.house_floor_id + '/' + d.ban_floors;
								}
							}
				
						]
					],
					done: function(res, curr, count) {
						console.log("房屋数据：",res.data.length);
						if(res.data.length>0){
							table.on('checkbox(dataTable2)', function(obj){
							    var checkStatus = table.checkStatus('dataTable2');
							    datas = checkStatus.data;
								  //console.log(table.checkStatus('dataTable2').data);
								  console.log("房屋查询器选择：",datas);
								 /* if(datas.length==0)
								   {
									alert("房屋必须选择！");
								   } */
										 
							});
						}
						else{
							datas = ''
						}
						var	result = res.data;
						for (var i = 0; i < result.length; i++) {
							$("[lay-id='dataTable2'] tr[data-index="+i+"]").attr('color-status',1);
							if(parseInt(result[i].color_status) == 2){
								$("[lay-id='dataTable2'] tr[data-index="+i+"]").css('color','#A4A4A4').attr('color-status',2);
							}else if(parseInt(result[i].color_status) == 3){
								$("[lay-id='dataTable2'] tr[data-index="+i+"]").css('color','red').attr('color-status',3);
							}
							$("[lay-id='dataTable2'] tr[color-status='3'] input[type='checkbox'],[lay-id='dataTable2'] tr[color-status='2'] input[type='checkbox']").prop('disabled',true);
							$("[lay-id='dataTable2'] tr[color-status='3'] input[type='checkbox'],[lay-id='dataTable2'] tr[color-status='2'] input[type='checkbox']").next().addClass('layui-btn-disabled');
							$("[lay-id='dataTable2'] tr[color-status='3'] input[type='checkbox'],[lay-id='dataTable2'] tr[color-status='2'] input[type='checkbox']").removeAttr('name');
						}
					}
				}, isShowInst);
				
			});
		$(".j-search-fr .layui-btn:last").addClass("on");//搜索最后按钮样式
		
    });
	var callbackdata = function () {
         return data;
    }
	var callbackdatas = function () {
	     return datas; 
	}
</script>