<!-- 楼栋查询器，只能单选楼栋 ，并单选或多选房屋，用在暂停计租异动中 -->

<div class="j-table-content">
<fieldset class="layui-elem-field layui-field-title j-field-box">
	<legend>楼栋查询</legend>
</fieldset>
<div class="page-toolbar j-page-toolbar clearfix">
      <form class="layui-form layui-form-pane" action="{:url('system/Index/cancellation')}?change_type={$changeType}" method="post" id="hisi-table-search">
		<div class="j-search-fl layui-col-md8  fl">
			  <div class="layui-input-inline j-input-margin" style="width:150px;">
				  <input type="text" name="ban_address" placeholder="地址" class="layui-input">
			  </div>
			  <input type="hidden" name="group" value="x" class="layui-input">
		</div>
		<div class="j-search-fr layui-col-md4 fr">
          <div class="layui-input-inline fr">
			  <button type="reset" class="layui-btn j-btn-reset">重置</button>
              <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
                  <i class="layui-icon">&#xe615;</i>
                  查询
              </button>
          </div>
		</div>
      </form>
  </div>
{include file="system@block/layui" /}
<!-- 楼栋查询 -->
<table id="dataTable" lay-filter='dataTable'></table>
<!-- 房屋查询 -->
<fieldset class="layui-elem-field layui-field-title j-field-box">
	<legend>选择房屋</legend>
</fieldset>
<table id="dataTable2" lay-filter='dataTable2'></table>
</div>
<script type="text/javascript">
	var conId;
	var data;
	var datas;
    layui.use(['table','jquery'], function() {
        var table = layui.table
		    ,$ = layui.$;
		//楼栋查询
        table.render({
			elem: '#dataTable'
            ,url: '{:url("system/Index/cancellation")}?change_type={$changeType}' //数据接口
            ,page: true //开启分页
            ,limit: 10
            ,text: {
                none : "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
            }
            ,cols: [[ //表头
                {field: 'ban_number', minWidth: 110, align:'center', title: '楼栋编号'}
				,{field: 'ban_damage_id', minWidth: 100, align:'center', title: '完损等级', templet: function(d) {
				    return params.damages[d.ban_damage_id];
				}}
				,{field: 'ban_struct_id', minWidth: 100, align:'center', title: '结构类别', templet: function(d) {
				    return params.structs[d.ban_struct_id];
				}}
                ,{field: 'ban_owner_id', minWidth: 80, align:'center', title: '产别', templet: function(d) {
                    return params.owners[d.ban_owner_id];
                }}
                ,{field: 'ban_address', minWidth: 140, align:'center', title: '地址'}
            ]]
            ,done:function(res,curr,count){
               
            }
        },isShowInst);
		  //监听行单击事件（单击事件为：rowDouble）
			table.on('row(dataTable)',function(obj){
				data = obj.data;
				conId = data.id;
				//console.log(data);
				//标注选中样式
				obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
				
				
				//房屋查询
				table.render({
					elem: '#dataTable2'
						//,height: 550
						//,height: 'full-20' //浏览器最大高度
					,toolbar: true
					//,defaultToolbar: false //设置右边筛选，导出，打印显示
					,url: '{:url("system/Index/house")}?change_type=3&ban_number='+data.ban_number //数据接口
					,page: false //开启分页
					,limit: 1000000000
					,text: {
						none: "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
					},
					cols: [
						[ //表头
						{
							type: 'checkbox',
							fixed: 'left'
						},{
								field: 'house_number',
								minWidth: 140,
								align:'center',
								title: '房屋编号'
							}, {
								field: 'ban_number',
								minWidth: 110,
								align:'center',
								title: '楼栋编号'
							}, {
								field: 'tenant_name',
								minWidth: 80,
								align:'center',
								title: '租户姓名'
							}, {
								field: 'ban_inst_id',
								minWidth: 100,
								align:'center',
								title: '管段',
								hide: isShowInst,
								templet: function(d) {
									return params.insts[d.ban_inst_id];
								}
							}, {
								field: 'ban_owner_id',
								minWidth: 60,
								align:'center',
								title: '产别',
								templet: function(d) {
									return params.owners[d.ban_owner_id];
								}
							}, {
								field: 'house_use_id',
								minWidth: 80,
								align:'center',
								title: '使用性质',
								templet: function(d) {
									return params.uses[d.house_use_id];
								}
							}, {
								field: 'ban_address',
								minWidth: 200,
								align:'center',
								title: '地址'
							}, {
								field: 'house_area',
								minWidth: 80,
								align:'center',
								title: '建面'
							}, {
								field: 'house_lease_area',
								minWidth: 100,
								title: '计租面积'
							}, {
								field: '',
								minWidth: 80,
								align:'center',
								title: '单元',
								templet: function(d) {
									return d.house_unit_id + '/' + d.ban_units;
								}
							}, {
								field: '',
								minWidth: 80,
								align:'center',
								title: '楼层',
								templet: function(d) {
									return d.house_floor_id + '/' + d.ban_floors;
								}
							}
				
						]
					],
					done: function(res, curr, count) {
						var	result = res.data;
						for (var i = 0; i < result.length; i++) {
							$("[lay-id='dataTable2'] tr[data-index="+i+"]").attr('color-status',1);
							if(parseInt(result[i].color_status) == 2){
								$("[lay-id='dataTable2'] tr[data-index="+i+"]").css('color','#A4A4A4').attr('color-status',2);
							}else if(parseInt(result[i].color_status) == 3){
								$("[lay-id='dataTable2'] tr[data-index="+i+"]").css('color','red').attr('color-status',3);
							}
							$("[lay-id='dataTable2'] tr[color-status='3'] input[type='checkbox'],[lay-id='dataTable2'] tr[color-status='2'] input[type='checkbox']").prop('disabled',true);
							$("[lay-id='dataTable2'] tr[color-status='3'] input[type='checkbox'],[lay-id='dataTable2'] tr[color-status='2'] input[type='checkbox']").next().addClass('layui-btn-disabled');
							$("[lay-id='dataTable2'] tr[color-status='3'] input[type='checkbox'],[lay-id='dataTable2'] tr[color-status='2'] input[type='checkbox']").removeAttr('name');
						}
					}
				}, isShowInst);
				
			});
			table.on('checkbox(dataTable2)', function(obj){
              var checkStatus = table.checkStatus('dataTable2');
              datas = checkStatus.data;
			  //console.log(table.checkStatus('dataTable2').data);
			  //console.log(datas.length);
			 /* if(datas.length==0)
			   {
			  	alert("房屋必须选择！");
			   } */
			 
          });
		$(".j-search-fr .layui-btn:last").addClass("on");//搜索最后按钮样式
		
    });
	var callbackdata = function () {
         return data;
    }
	var callbackdatas = function () {
	     return datas; 
	}
</script>