<!-- 楼栋查询器，只能单选或多选楼栋  -->
<div class="j-table-content">
{include file="system@block/layui" /}
<fieldset class="layui-elem-field layui-field-title j-field-box">
	<legend>楼栋查询</legend>
</fieldset>
<table id="dataTable1" lay-filter='dataTable1' lay-filter="dataTable1"></table>
</div>
<script type="text/javascript">
	var conId;
	var data;
	var datas;
    layui.use(['table','jquery'], function() {
        var table = layui.table
		    ,$ = layui.$;
		//楼栋查询
        table.render({
        	elem: '#dataTable1'
        		//,height: 550
        		//,height: 'full-20' //浏览器最大高度
        	,toolbar: true
        	,defaultToolbar: false //设置右边筛选，导出，打印显示
        	,url: '{:url("system/Index/querier")}?change_type={$changeType}' //数据接口
        	,page: true //开启分页
        	,limit: 10
        	,text: {
        		none: "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
        	},
        	cols: [
        		[ //表头
        		{type: 'checkbox',fixed: 'left'
        		}, {field: 'ban_number', minWidth: 110, align:'center', title: '楼栋编号'}
				,{field: 'ban_damage_id', minWidth: 100, align:'center', title: '完损等级', templet: function(d) {
				    return params.damages[d.ban_damage_id];
				}}
				,{field: 'ban_struct_id', minWidth: 100, align:'center', title: '结构类别', templet: function(d) {
				    return params.structs[d.ban_struct_id];
				}}
                ,{field: 'ban_owner_id', minWidth: 80, align:'center', title: '产别', templet: function(d) {
                    return params.owners[d.ban_owner_id];
                }}
                ,{field: 'ban_address', minWidth: 140, align:'center', title: '地址'}
        
        		]
        	],
        	done: function(res, curr, count) {
         		var	result = res.data;
				console.log(result);
				for (var i = 0; i < result.length; i++) {
					$("tr[data-index="+i+"]").attr('color-status',1);
					if(parseInt(result[i].color_status) == 2){
						$("tr[data-index="+i+"]").css('color','#E6E6E6').attr('color-status',2);
					}else if(parseInt(result[i].color_status) == 3){
						$("tr[data-index="+i+"]").css('color','red').attr('color-status',3);
					}
				}
        	}
        }, isShowInst);
		table.on('checkbox(dataTable1)', function(obj){
              var checkStatus = table.checkStatus('dataTable1');
              datas = checkStatus.data;
              //console.log(datas);
          });
		  
		$(".j-search-fr .layui-btn:last").addClass("on");//搜索最后按钮样式
		//点击tr选中对应的checkbox
		  $(document).on("click",".layui-table-body table.layui-table tbody tr", function () {
			  var index = $(this).attr('data-index');
			  var tableBox = $(this).parents('.layui-table-box');
			  //存在固定列
			  if (tableBox.find(".layui-table-fixed.layui-table-fixed-l").length>0) {
				  tableDiv = tableBox.find(".layui-table-fixed.layui-table-fixed-l");
			  } else {
				  tableDiv = tableBox.find(".layui-table-body.layui-table-main");
			  }
			  var checkCell = tableDiv.find("tr[data-index=" + index + "]").find("td div.laytable-cell-checkbox div.layui-form-checkbox i");
			  if (checkCell.length>0) {
				  checkCell.click();
			  }
		  });
		  
		  $(document).on("click", "td div.laytable-cell-checkbox div.layui-form-checkbox", function (e) {
			  e.stopPropagation();
		  });
    });
	var callbackdata = function () {
         return data;
    }
	var callbackdatas = function () {
	     return datas;
	}
</script>