
    <div class="e-space"></div>
    <div class="page-form">
        <div class="layui-form-item" style="padding-left:40px;">
            <div class="layui-inline" style="width:20px;border:1px solid #EEE"></div><font style="font-weight:bold;color:#0084FF">基本信息</font>
            <div class="layui-inline" style="margin-left:8px;margin-right:40px;width:80%;border:1px solid #EEE"></div>
        </div>
        <div class="e-space"></div>

        <div class="layui-form-item">
            <div class="layui-inline e-inline">
                <label class="layui-form-label e-label"><font color="red"></font> 楼栋编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="ban_number" value="{$data_info['ban_number']}" readonly autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline e-inline">
                <label class="layui-form-label e-label"><font color="red"></font> 楼栋地址</label>
                <div class="layui-input-inline">
                    <input type="text" name="ban_address" value="{$data_info['ban_address']}" readonly autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline e-inline">
                <label class="layui-form-label e-label"><font color="red"></font> 产别</label>
                <div class="layui-input-inline">
                    <input type="text" name="ban_address" value="{$params['owners'][$data_info['ban_owner_id']]}" readonly autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
        	<div class="layui-inline e-inline">
                <label class="layui-form-label e-label"><font color="red"></font> 租户编号 </label>
                <div class="layui-input-inline">
                    <input type="text" name="tenant_number" value="{$data_info['tenant_number']}" readonly autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline e-inline">
                <label class="layui-form-label e-label"><font color="red"></font> 租户姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="tenant_name" value="{$data_info['tenant_name']}" readonly autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline e-inline">
                <label class="layui-form-label e-label"><font color="red"></font> 身份证号</label>
                <div class="layui-input-inline">
                    <input type="text" name="tenant_card" value="{$data_info['tenant_card']}" readonly autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline e-inline">
                <label class="layui-form-label e-label"><font color="red"></font> 单元号</label>
                <div class="layui-input-inline">
                    <input type="text" name="house_unit_id" value="{$data_info['house_unit_id']}" readonly autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline e-inline">
                <label class="layui-form-label e-label"><font color="red"></font> 楼层号 </label>
                <div class="layui-input-inline">
                    <input type="text" name="house_floor_id" value="{$data_info['house_floor_id']}" readonly autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline e-inline">
                <label class="layui-form-label e-label"><font color="red"></font> 使用性质</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$params['uses'][$data_info['house_use_id']]}" readonly class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline e-inline">
                <label class="layui-form-label e-label"><font color="red"></font> 房屋原价</label>
                <div class="layui-input-inline">
                    <input type="text" name="house_oprice" value="{$data_info['house_oprice']}" readonly autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline e-inline">
                <label class="layui-form-label e-label"><font color="red"></font> 建筑面积 </label>
                <div class="layui-input-inline">
                    <input type="text" name="house_area" value="{$data_info['house_area']}" readonly autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="e-space"></div>
        <div class="layui-form-item" style="padding-left:40px;">
            <div class="layui-inline" style="width:20px;border:1px solid #EEE"></div><font style="font-weight:bold;color:#0084FF">补充附件</font>
            <div class="layui-inline" style="margin-left:8px;margin-right:40px;width:80%;border:1px solid #EEE"></div>
        </div>
        <div class="e-space"></div>

        <div class="layui-form-item">
            <div class="layui-inline e-inline">
                <label class="layui-form-label e-label"><font color="red">*</font> 影像资料</label>
                <div class="layui-input-inline">
                    <button type="button" name="house_imgs" class="layui-btn layui-btn-normal" lay-type="image" lay-data="{accept:'image'}">点击上传</button>
                </div>
            </div> 
            <div class="layui-block e-inline e-box"></div> 
        </div> 
        <div class="e-space"></div>
    </div>

{include file="system@block/layui" /}