{include file="system@block/layui" /}
<link rel="stylesheet" href="__ADMIN_JS__/select/formSelects-v4.css">
{if condition="$group == 'y'"}
	{include file="house/renttable" /}
  <!-- <div class="j-details-box j-no-border floorWrap layui-form">
	<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
		<legend>基本信息</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">房屋编号</label>
			<div class="j-input-inline">
				<input type="text" name="house_number" value="{$data_info['house_number']}" readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">所属楼栋</label>
			<div class="j-input-inline">
				<input type="text" name="ban_number" value="{$data_info['ban_number']}" readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">楼栋地址</label>
			<div class="j-input-inline">
				<input type="text" name="ban_address" value="{$data_info['ban_address']}" readonly autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">租户编号</label>
			<div class="j-input-inline">
				<input type="text" name="tenant_number" value="{$data_info['tenant_number']}" readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">租户姓名</label>
			<div class="j-input-inline">
				<input type="text" name="tenant_name" value="{$data_info['tenant_name']}" readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">身份证号</label>
			<div class="j-input-inline">
				<input type="text" name="tenant_card" value="{$data_info['tenant_card']}" readonly autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">单元号</label>
			<div class="j-input-inline">
				<input type="text" name="house_unit_id" value="{$data_info['house_unit_id']}" readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">楼层号</label>
			<div class="j-input-inline">
				<input type="text" name="house_floor_id" value="{$data_info['house_floor_id']}" readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">使用性质</label>
			<div class="j-input-inline">
				<input type="text" value="{$params['uses'][$data_info['house_use_id']]}" readonly class="layui-input">
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">房屋原价</label>
			<div class="j-input-inline">
				<input type="text" name="house_oprice" value="{$data_info['house_oprice']}" readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">建筑面积</label>
			<div class="j-input-inline">
				<input type="text" name="house_area" value="{$data_info['house_area']}" readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">产别</label>
			<div class="j-input-inline">
				<input type="text" name="ban_address" value="{$params['owners'][$data_info['ban_owner_id']]}" readonly autocomplete="off" class="layui-input">
			</div>
		</div>
	</div> -->
	<!-- <fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
		<legend>地址信息</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md8">
			<label class="j-form-label">经纬度</label> 
			<div class="j-input-inline">
				<input type="text" name="enterprise_number" id="coordinate" disabled="disabled" value="114.334228,30.560372" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div> -->
	<!-- <div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md8">
			<div class="j-map-height" id="allmap"></div>
		</div>
	</div> -->
	<!-- <div class="layui-row layui-form-item layui-col-space90">
		<div class="j-margin-btn">
			<a href="{:url('index')}?group={$group}" class="layui-btn">返回</a>
		</div>
	</div> -->
  </div>
{else /}
<div class="j-table-content">
<div class="page-toolbar j-page-toolbar clearfix">
    <form class="layui-form layui-form-pane" action="{url()}?id={$data_info['house_id']}&group={$group}"  method="get" id="hisi-table-search">
	  <div class="j-search-fl layui-col-md8  fl">
        <div class="layui-input-inline j-margin-10 j-select-width160" style="width:160px;">
            <select name="house_tai_type" xm-select="house_tai_type">
                <option value="" disabled="disabled">业务类型</option>
                {volist name="params['house_tai_type']" id="v"}
                <option value="{$key}">{$v}</option>
                {/volist}
              </select>
        </div>
        <div class="layui-input-inline" style="width:160px;">
            <input type="text" name="house_tai_remark" placeholder="描述内容" class="layui-input">
        </div>
        <input type="hidden" name="group" value="{$group}" class="layui-input">
        <input type="hidden" name="house_id" value="{$data_info['house_id']}" class="layui-input">
	  </div>
	  <div class="j-search-fr layui-col-md4 fr">
	   <div class="layui-input-inline fr">
        <div class="layui-input-inline" style="margin-left:10px;">
			<button type="reset" class="layui-btn j-btn-reset">重置</button>
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
                <i class="layui-icon">&#xe615;</i>
                搜索
            </button>
        </div>
	  </div>
	</div>
    </form>
</div>
<table id="dataTable" lay-filter='dataTable'></table>
<script type="text/html" title="操作按钮模板" id="buttonTpl">
	{{# if (d.change_type > 0){ }}
  	<a href="{:url('house/taiDetail')}?id={{ d.house_tai_id }}" id="checktable" class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop" hisi-data="{width: '1400px', height: '700px',refresh: 2}" title="台账明细">详情</a>  
	{{#  } else { }}
	<a href="javascript:;" id="checktable" class="layui-btn layui-btn-xs layui-btn-disabled" hisi-data="{width: '1400px', height: '700px',refresh: 2}" title="台账明细">详情</a>
	{{# } }}
</script>
</div>
<script type="text/javascript">
    layui.use(['table','jquery','formSelects'], function() {
        var table = layui.table
		   ,formSelects = layui.formSelects 
		   ,$ = layui.$;
        table.render({
            elem: '#dataTable'
            //,skin: 'line' //行边框风格
            //,even: true //开启隔行背景
            ,height: 500
            ,url: '{:url("house/House/detail")}?id={$data_info["house_id"]}&group={$group}' //数据接口
            ,page: true //开启分页
            ,limit: 10
            ,text: {
                none : "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
            }
            ,cols: [[ //表头
                {field: 'house_tai_id', width: 80,align:'center',title: '<span class="e-title">序号</span>',templet: function(d) {
                    return d.LAY_TABLE_INDEX+1;
                }}
                ,{field: 'house_tai_type', width: 110,align:'center', title: '<span class="e-title">业务类型</span>', templet: function(d) {
                    return params.house_tai_type[d.house_tai_type];
                }}
                ,{field: 'tenant_name', width: 120,align:'center', title: '<span class="e-title">租户姓名</span>'}
                ,{field: 'ctime', width: 180,align:'center', title: '<span class="e-title">操作时间</span>'}
                ,{field: 'nick', width: 120,align:'center', title: '<span class="e-title">操作人</span>'}
                ,{field: 'house_tai_remark', minWidth: 140,align:'center', title: '<span class="e-title">备注</span>'}
                ,{title: '操作',width: 100,align:'center',templet: '#buttonTpl',fixed: 'right'}
            ]]
            ,done:function(res,curr,count){
               
            }
        },isShowInst);
    });
</script>
{/if}