{include file="system@block/layui" /}
{if condition="$group == 'y'"}
    <div class="e-space"></div>
    <div class="page-form">
        <div class="layui-form-item e-line">
            <div class="layui-inline" style="width:20px;border:1px solid #EEE"></div><font style="font-weight:bold;color:#0084FF">基本信息</font>
            <div class="layui-inline" style="margin-left:8px;margin-right:40px;width:80%;border:1px solid #EEE"></div>
        </div>
        <div class="e-space"></div>

        <div class="layui-form-item">
            <div class="layui-inline e-inline">
                <label class="layui-form-label e-label"><font color="red"></font> 楼栋编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="ban_number" value="{$data_info['ban_number']}" readonly autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline e-inline">
                <label class="layui-form-label e-label"><font color="red"></font> 楼栋地址</label>
                <div class="layui-input-inline">
                    <input type="text" name="ban_address" value="{$data_info['ban_address']}" readonly autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline e-inline">
                <label class="layui-form-label e-label"><font color="red"></font> 产别</label>
                <div class="layui-input-inline">
                    <input type="text" name="ban_address" value="{$params['owners'][$data_info['ban_owner_id']]}" readonly autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
        	<div class="layui-inline e-inline">
                <label class="layui-form-label e-label"><font color="red"></font> 租户编号 </label>
                <div class="layui-input-inline">
                    <input type="text" name="tenant_number" value="{$data_info['tenant_number']}" readonly autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline e-inline">
                <label class="layui-form-label e-label"><font color="red"></font> 租户姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="tenant_name" value="{$data_info['tenant_name']}" readonly autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline e-inline">
                <label class="layui-form-label e-label"><font color="red"></font> 身份证号</label>
                <div class="layui-input-inline">
                    <input type="text" name="tenant_card" value="{$data_info['tenant_card']}" readonly autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline e-inline">
                <label class="layui-form-label e-label"><font color="red"></font> 单元号</label>
                <div class="layui-input-inline">
                    <input type="text" name="house_unit_id" value="{$data_info['house_unit_id']}" readonly autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline e-inline">
                <label class="layui-form-label e-label"><font color="red"></font> 楼层号 </label>
                <div class="layui-input-inline">
                    <input type="text" name="house_floor_id" value="{$data_info['house_floor_id']}" readonly autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline e-inline">
                <label class="layui-form-label e-label"><font color="red"></font> 使用性质</label>
                <div class="layui-input-inline">
                    <input type="text" value="{$params['uses'][$data_info['house_use_id']]}" readonly class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline e-inline">
                <label class="layui-form-label e-label"><font color="red"></font> 房屋原价</label>
                <div class="layui-input-inline">
                    <input type="text" name="house_oprice" value="{$data_info['house_oprice']}" readonly autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline e-inline">
                <label class="layui-form-label e-label"><font color="red"></font> 建筑面积 </label>
                <div class="layui-input-inline">
                    <input type="text" name="house_area" value="{$data_info['house_area']}" readonly autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <div class="e-space"></div>
        <div class="layui-form-item e-line">
            <div class="layui-inline" style="width:20px;border:1px solid #EEE"></div><font style="font-weight:bold;color:#0084FF">补充附件</font>
            <div class="layui-inline" style="margin-left:8px;margin-right:40px;width:80%;border:1px solid #EEE"></div>
        </div>
        <div class="e-space"></div>

        <div class="layui-form-item">
            <div class="layui-inline e-inline">
                <label class="layui-form-label e-label"><font color="red">*</font> 影像资料</label>
                <div class="layui-input-inline">
                    <button type="button" name="house_imgs" class="layui-btn layui-btn-normal" lay-type="image" lay-data="{accept:'image'}">点击上传</button>
                </div>
            </div> 
            <div class="layui-block e-inline e-box"></div> 
        </div> 
        <div class="e-space"></div>
    </div>
{else /}
<div class="page-toolbar">
    <form class="layui-form layui-form-pane" action="{url()}"  method="get" id="hisi-table-search">
        <div class="layui-input-inline" style="width:120px;">
            <select name="house_tai_type">
                <option value="">业务类型</option>
                {volist name="params['house_tai_type']" id="v" key="k"}
                <option value="{$k}">{$v}</option>
                {/volist}
              </select>
        </div>
        <div class="layui-input-inline" style="width:120px;padding-left:5px">
            <input type="text" name="house_tai_remark" placeholder="描述内容" class="layui-input">
        </div>
        <input type="hidden" name="group" value="{$group}" class="layui-input">
        <input type="hidden" name="house_id" value="{$data_info['house_id']}" class="layui-input">
        <div class="layui-input-inline" style="margin-left:10px;">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
                <i class="layui-icon">&#xe615;</i>
                搜索
            </button>
            <button type="reset" class="layui-btn">重置</button>
        </div>
    </form>
</div>
<table id="dataTable" lay-filter='dataTable'></table>
<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-normal">详情</a>
</script>
<script type="text/javascript">
    layui.use(['table','jquery'], function() {
        var table = layui.table;
        table.render({
            elem: '#dataTable'
            ,skin: 'line' //行边框风格
            ,even: true //开启隔行背景
            ,height: 500
            ,url: '{:url("house/House/detail")}?id={$data_info["house_id"]}&group={$group}' //数据接口
            ,page: true //开启分页
            ,limit: 10
            ,text: {
                none : '暂无相关数据'
            }
            ,cols: [[ //表头
                {field: 'house_tai_id', width: 120,title: '<span class="e-title">业务ID</span>'}
                ,{field: 'house_tai_type', width: 110, title: '<span class="e-title">业务类型</span>', templet: function(d) {
                    return params.house_tai_type[d.house_tai_type];
                }}
                ,{field: 'tenant_name', width: 100, title: '<span class="e-title">租户姓名</span>'}
                ,{field: 'house_tai_ctime', width: 180, title: '<span class="e-title">操作时间</span>'}
                ,{field: 'nick', width: 120, title: '<span class="e-title">操作人</span>'}
                ,{field: 'house_tai_remark', width: 140, title: '<span class="e-title">备注</span>'}
            ]]
            ,done:function(res,curr,count){
               
            }
        },isShowInst)
    });

</script>
{/if}
