<form id="formdata" class="layui-form" onsubmit="return false" action="#" method="post">
	<div class="j-details-box no-min floorWrap">
		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>基本信息</legend>
		</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">房屋编号</label>
				<div class="j-input-inline">
					<input type="text" id="house_number" name="house_number" value="{$data_info['house_number']}" placeholder="" readonly autocomplete="off" class="layui-input j-search-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>楼栋编号</label>
				<div class="j-input-inline">
					<input type="text" id="ban_number" name="ban_number" lay-verify="required" value="{$data_info['ban_number']}" placeholder="点击查询" readonly autocomplete="off" class="layui-input j-search-input">
					<b class="j-explain-search j-ban_number hide">查询</b>
				</div>
			</div>
			<input type="hidden" id="ban_id" name="ban_id" value="{$data_info['ban_id']}">
			<div class="layui-col-md8">
				<label class="j-form-label"><i class="red"></i>楼栋地址</label>
				<div class="j-input-inline">
					<input type="text" id="ban_address" value="{$data_info['ban_address']}" readonly autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>租户编号</label>
				<div class="j-input-inline">
					<input type="text" id="tenant_number" name="tenant_number" lay-verify="required" value="{$data_info['tenant_number']}" placeholder="点击查询" readonly autocomplete="off" class="layui-input j-search-input">
					<b class="j-explain-search j-tenant_number hide">查询</b>
				</div>
			</div>
			<input type="hidden" id="tenant_id" name="tenant_id" value="{$data_info['tenant_id']}">
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red"></i>租户姓名</label>
				<div class="j-input-inline">
					<input type="text" id="tenant_name" readonly value="{$data_info['tenant_name']}"  autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red"></i>身份证号</label>
				<div class="j-input-inline">
					<input type="text" id="tenant_card" value="{$data_info['tenant_card']}"  readonly autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>单元号</label>
				<div class="j-input-inline">
					<input type="number" id="house_unit_id" min="1" max="{$data_info['ban_units']}" oninput="if(value>{$data_info['ban_units']})value={$data_info['ban_units']}"  name="house_unit_id" placeholder="总单元号：{$data_info['ban_units']}"  lay-verify="required" value="{$data_info['house_unit_id']}"  autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>居住楼层号</label>
				<div class="j-input-inline">
					<input type="number" id="house_floor_id" min="1" max="{$data_info['ban_floors']}" oninput="if(value>{$data_info['ban_floors']})value={$data_info['ban_floors']}" name="house_floor_id" placeholder="总楼层：{$data_info['ban_floors']}" lay-verify="required" value="{$data_info['house_floor_id']}" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>使用性质</label>
				<div class="j-input-inline">
					<!-- <select name="house_use_id" lay-verify="required" class="field-cid" type="select">
					    <option value="">请选择</option>
					    {volist name="params['uses']" id="v"}
					    <option value="{$key}" {if condition="$key == $data_info['house_use_id']"}selected{/if}>{$v}</option>
					    {/volist}
					</select> -->
					<input type="text"  id="house_use_id" value="{$params['uses'][$data_info['house_use_id']]}" autocomplete="off" readonly class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">房屋原价</label>
				<div class="j-input-inline">
					<input type="number" id="house_oprice" name="house_oprice" value="{$data_info['house_oprice']}"  autocomplete="off" class="layui-input j-explain-input">
					<b class="j-explain-name">元</b>
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">建筑面积</label>
				<div class="j-input-inline">
					<input type="number" id="house_area" name="house_area" value="{$data_info['house_area']}" autocomplete="off" class="layui-input j-explain-input">
					<b class="j-explain-name">m²</b>
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red"></i>门牌号</label>
				<div class="j-input-inline">
					<input type="text" name="house_door" value="{$data_info['house_door']}" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>规定租金</label>
				<div class="j-input-inline">
					<input type="number" id="house_pre_rent" readonly name="house_pre_rent" value="{$data_info['house_pre_rent']}" lay-verify="required" autocomplete="off" class="layui-input j-explain-input">
					<b class="j-explain-name">元</b>
				</div>
			</div>
			<!-- <div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>计算租金</label>
				<div class="j-input-inline">
					<input type="number" id="house_cou_rent" readonly name="house_cou_rent" value="" lay-verify="required" autocomplete="off" class="layui-input j-explain-input">
					<b class="j-explain-name">元</b>
				</div>
			</div> -->
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red"></i>租差</label>
				<div class="j-input-inline">
					<input type="text" name="house_diff_rent" min="0.01" onkeyup="onlyNumber(this)" value="{$data_info['house_diff_rent']}" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red"></i>泵费</label>
				<div class="j-input-inline">
					<input type="text" name="house_pump_rent" min="0.01" onkeyup="onlyNumber(this)" value="{$data_info['house_pump_rent']}" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<input type="hidden" name="house_id" id="house_id" value="{$data_info['house_id']}">
		<!-- <fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>补充信息</legend>
		</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>经度</label>
				<div class="j-input-inline">
					<input type="text" id="jingdu" name="jingdu" autocomplete="off" id="jingdu" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>纬度</label>
				<div class="j-input-inline">
					<input type="text" id="weidu" name="weidu" autocomplete="off" id="weidu" class="layui-input">
				</div>
			</div>
		</div> -->
		<!-- <div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md8">
				<label class="j-form-label">地址查询</label>
				<div class="j-input-inline">
					<input type="text" id="suggestId" name="address" size="30" value="" class="layui-input" />
				</div>  
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md8">
				<div class="j-map-height" style="width:100%;height:300px;" id="allmap"></div>
			</div>
		</div> -->
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="j-margin-btn">
				<a href="javascript:history.go(-1)" class="layui-btn layui-btn-primary">取消</a>
				<a  class="layui-btn" id="clickData">确定</a>
			</div>
		</div>
  </div>
</form>
<div class="j-details-box floorWrap">
		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>房间信息</legend>
		</fieldset>
		<div class="layui-row">
			<!-- <i class="layui-icon layui-icon-add-1 table-add" style="color:#1E9FFF;">新增房间</i> -->
		
			  <div   id="addroom" class="layui-btn layui-btn-primary layui-icon layui-icon-add-1 j-iframe-pops" style="color:#0084FF;" title="新增房间">新增房间</div>
			
		</div>
		<!-- 房间信息 -->
		<table class="layui-table ">
		<thead class="j-table-center">
			<tr>
				<th>房屋类型</th>
				<th>房间编号</th>
				<th>间号</th>
				<th>绑定楼栋</th>
				<th>绑定房屋编号</th>
				<th>绑定租户</th>
				<th>产别</th>
				<th>单元号</th>
				<th>层次</th>
				<th>实有面积</th>
				<th>基价折减</th>
				<th>计租面积</th>
				<th>层次调解率</th>
				<th>规定租金</th>
				<th>计算租金</th>
				<th>状态</th>
				<th>操作</th>
			</tr> 
		</thead>
		<tbody  class="j-table-center" id="j-table-data">
<!-- 			<tr>
				<td>卧室</td>
				<td>65181</td>
				<td>1</td>
				<td>100210215</td>
				<td>1002102154544</td>
				<td>市属</td>
				<td>4</td>
				<td>5</td>
				<td>14.85</td>
				<td>0%</td>
				<td>14.85</td>
				<td>105%</td>
				<td>23.39</td>
				<td>正常</td>
				<td></td>
			</tr> -->
			
		</tbody>
	</table>
  </div>
{include file="system@block/layui" /}
<!-- <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=2xlodrKVRyFNeopCajiMTfgIOr8dnUAe"></script>
<script type="text/javascript" src="__PUBLIC_JS__/baiduMaps.js?v={:config('hisiphp.version')}"></script> -->
<script type="text/javascript">
	// 限制input输入负数
	function onlyNumber(obj){
		//得到第一个字符是否为负号
		var t = obj.value.charAt(0);
		//先把非数字的都替换掉，除了数字和.
		obj.value = obj.value.replace(/[^\d\.]/g,'');
		//必须保证第一个为数字而不是.
		obj.value = obj.value.replace(/^\./g,'');
		//保证只有出现一个.而没有多个.
		obj.value = obj.value.replace(/\.{2,}/g,'.');
		//保证.只出现一次，而不能出现两次以上
		obj.value = obj.value.replace('.','$#$').replace(/\./g,'').replace('$#$','.');
		//只能输入两位小数
		obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3');
		//如果第一位是负号，则允许添加
		if(t == '-'){
		return;
		}
	};
	layui.use(['table','layer'], function() {
			var table = layui.table
				,$ = layui.jquery
				,layer = layui.layer;
          //编辑页面初始值
		  var house_id = $("#house_id").val();
		  $.ajax({
		  	 type: "GET",//方法类型
		  	 dataType: "json",//预期服务器返回的数据类型
		  	 url: "{:url('renttable')}?id=" + house_id ,//url
		  	 success: function (result) {
		  		 console.log("添加完成数据：",result);//打印服务端返回的数据(调试用)	
		  		 $('#j-table-data').html('');
		  		 if (result.code == 1) {
					 $("input[name$='house_pre_rent']") .val(result.house_info.house_pre_rent); 
		  			 var str = ``;
		  			 //var strfirst = ``;
		  			 for(var i in result.data) {
		  					 //if(result.data[i].baseinfo.room_pub_num >= 2){
		  					  for( var j = 0; j < result.data[i].houseinfo.length; j++){
		  						  if(j == 0){
		  							 str +=  "<tr>\
		  							 		<td>" + params.roomtypes[result.data[i].baseinfo.room_type] + "</td>\
		  							 		<td>" + result.data[i].baseinfo.room_number + "</td>\
		  							 		<td>" + result.data[i].baseinfo.room_door + "</td>\
		  							 		<td>" + result.data[i].baseinfo.ban_number + "</td>\
		  							 		<td>" + result.data[i].houseinfo[0].house_number + "</td>\
		  							 		<td>" + result.data[i].houseinfo[0].tenant_name + "</td>\
		  							 		<td>" + params.owners[result.data[i].baseinfo.ban_owner_id]+ "</td>\
		  							 		<td>" + result.data[i].baseinfo.room_unit_id + "</td>\
		  							 		<td>" + result.data[i].baseinfo.room_floor_id + "</td>\
		  							 		<td>" + result.data[i].baseinfo.room_use_area + "</td>\
		  							 		<td>" + result.data[i].baseinfo.room_rent_point + "</td>\
		  							 		<td>" + result.data[i].baseinfo.room_lease_area + "</td>\
		  							 		<td>" + result.data[i].baseinfo.floor_point + "</td>\
		  							 		<td>" + result.data[i].baseinfo.room_pre_rent + "</td>\
		  							 		<td>" + result.data[i].baseinfo.room_cou_rent + "</td>\
		  							 		<td>" + params.house_status[result.data[i].baseinfo.room_status] + "</td>\
		  							 		<td><span data-href='/admin.php/house/room/edit?id=" + result.data[i].baseinfo.room_id + "&house_id=" + house_id + "' class='j-iframe-edit' style='color:#1E9FFF;' hisi-data='{width: \"1200px\", height: \"550px\",refresh: \"0\"}' title='修改房间'><label class='layui-btn layui-btn-xs layui-btn-normal'>修改</label></span>\
		  									<a data-href='/admin.php/house/room/del?id=" + result.data[i].baseinfo.room_id + "' isreload='y' class='j-deal-tr'><label  class='layui-btn layui-btn-xs layui-btn-danger'>删除</label></a>\
		  									</td>\
		  							 	</tr>";  
		  						  }else{
		  							 str +=  "<tr>\
		  							 		<td></td>\
		  							 		<td></td>\
		  							 		<td></td>\
		  							 		<td></td>\
		  							 		<td>" + result.data[i].houseinfo[j].house_number + "</td>\
		  							 		<td>" + result.data[i].houseinfo[j].tenant_name + "</td>\
		  							 		<td></td>\
		  							 		<td></td>\
		  							 		<td></td>\
		  							 		<td></td>\
		  							 		<td></td>\
		  							 		<td></td>\
		  							 		<td></td>\
		  							 		<td></td>\
		  							 		<td></td>\
		  							 		<td></td>\
		  							 		<td></td>\
		  							 	</tr>"; 
		  						  }
		  						 
		  						 
		  					   //}
		  					 }
		  			    
		  			 }
		  			 $('#j-table-data').append(str);
		  			 
		  		 }
		  		 if(result.code == 0){
		  		  layer.msg(result.msg);
		  		 }
		  	 },
		  	 error : function() {
		  		 layer.msg("获取数据异常！");
		  	 }
		  });
	      //双击获取楼栋查询器
		  $(".layui-form").on('click','.j-ban_number',function(){
		 layer.open({
			title: '楼栋查询器'
			,type: 2
			,offset: 'auto'
			,area: ['70%', '60%']
			, btn:false
			,pageTabs: false
			,content: '{:url('system/index/querier')}?hisi_iframe=yes&change_type=7'
			,btn: ['确定','关闭']
			,yes: function(index, layero){
				var row = window["layui-layer-iframe" + index].callbackdata();
				console.log(row);
				layer.close(index);
				$("#ban_number").val(row.ban_number);//获取楼栋编号
				$("#ban_address").val(row.ban_address);
		 		$("#ban_id").val(row.ban_id);
			},btn2: function(index, layero){
				layer.close(index);
			}
		  });
		 })
		 //双击获取租户查询器
		 $(".layui-form").on('click','.j-tenant_number',function(){
		 layer.open({
	 			title: '租户查询器'
	 			,type: 2
	 			,offset: 'auto'
	 			,area: ['70%', '60%']
	 			, btn:false
	 			,pageTabs: false
	 			,content: '{:url('system/index/tenant')}?hisi_iframe=yes&change_type=7'
	 			,btn: ['确定','关闭']
	 			,yes: function(index, layero){
	 				var row = window["layui-layer-iframe" + index].tenantdata();
	 				console.log(row);
	 				layer.close(index);
	 				$("#tenant_number").val(row.tenant_number);//获取租户编号
	 				$("#tenant_name").val(row.tenant_name);
	 				$("#tenant_card").val(row.tenant_card);
	 				$("#tenant_id").val(row.tenant_id);
	 			},btn2: function(index, layero){
	 				layer.close(index);
	 			}
		  });
		 })
		//基本信息
				 $("#clickData").click(function(){
						 $.ajax({
							 type: "POST",//方法类型
							 dataType: "json",//预期服务器返回的数据类型
							 url: "{url('add')}" ,//url
							 data: $('#formdata').serialize(),
							 success: function (result) {
								 console.log("数据：",result);//打印服务端返回的数据(调试用)
								 if (result.code == 1) {
									 layer.msg(result.msg);
									 $(".j-room-info").show();//房间信息显示
									 $(".j-ban_number").hide();//楼栋编号查询隐藏
									 //$("#house_number").val(result.data.house_number);
									 $("#houseid").val(result.data.house_id);
									 $("input[name$='house_pre_rent']") .val(result.data.house_pre_rent); 
									 var  houseid = result.data.house_id;
									 //$("#addroom").attr("href","{:url('room/add')}?id=" + houseid);
									 
								 }
								 if(result.code == 0){
								  layer.msg(result.msg);
								 }
							 },
							 error : function() {
								 layer.msg("获取数据异常！");
							 }
						 });
				})
				//新增房屋
				$(".j-iframe-pops").click(function(){
					var house_id = $("#house_id").val();
					layer.open({
								title: '新增房间'
								,type: 2
								,offset: 'auto'
								,area: ['60%', '600px']
								,btn:false
								,pageTabs: false
								,content: "{:url('room/add')}?hisi_iframe=yes&id=" + house_id
								,btn: ['确定','关闭']
								,success: function(layero, index){
									layero.find('.layui-layer-btn .layui-layer-btn0,.layui-layer-btn .layui-layer-btn1').addClass('layui-hide');
								}
								,yes: function(index, layero){
								},btn2: function(index, layero){
									
									
								},
								cancel: function(){
									$.ajax({
										 type: "GET",//方法类型
										 dataType: "json",//预期服务器返回的数据类型
										 url: "{:url('renttable')}?id=" + house_id ,//url
										 success: function (result) {
											 console.log("添加完成数据：",result);//打印服务端返回的数据(调试用)
											 $('#j-table-data').html('');
											 if (result.code == 1) {
												 $("input[name$='house_pre_rent']") .val(result.house_info.house_pre_rent); 
												 var str = ``;
												 //var strfirst = ``;
												 for(var i in result.data) {
														 //if(result.data[i].baseinfo.room_pub_num >= 2){
														  for( var j = 0; j < result.data[i].houseinfo.length; j++){
															  if(j == 0){
																 str +=  "<tr>\
																 		<td>" + params.roomtypes[result.data[i].baseinfo.room_type] + "</td>\
																 		<td>" + result.data[i].baseinfo.room_number + "</td>\
																 		<td>" + result.data[i].baseinfo.room_door + "</td>\
																 		<td>" + result.data[i].baseinfo.ban_number + "</td>\
																 		<td>" + result.data[i].houseinfo[0].house_number + "</td>\
																 		<td>" + result.data[i].houseinfo[0].tenant_name + "</td>\
																 		<td>" + params.owners[result.data[i].baseinfo.ban_owner_id]+ "</td>\
																 		<td>" + result.data[i].baseinfo.room_unit_id + "</td>\
																 		<td>" + result.data[i].baseinfo.room_floor_id + "</td>\
																 		<td>" + result.data[i].baseinfo.room_use_area + "</td>\
																 		<td>" + result.data[i].baseinfo.room_rent_point + "</td>\
																 		<td>" + result.data[i].baseinfo.room_lease_area + "</td>\
																 		<td>" + result.data[i].baseinfo.floor_point + "</td>\
																 		<td>" + result.data[i].baseinfo.room_pre_rent + "</td>\
																 		<td>" + result.data[i].baseinfo.room_cou_rent + "</td>\
																 		<td>" + params.house_status[result.data[i].baseinfo.room_status] + "</td>\
																 		<td><span data-href='/admin.php/house/room/edit?id=" + result.data[i].baseinfo.room_id + "&house_id=" + house_id + "' class='j-iframe-edit' style='color:#1E9FFF;' hisi-data='{width: \"1200px\", height: \"550px\",refresh: \"0\"}' title='修改房间'><label class='layui-btn layui-btn-xs layui-btn-normal'>修改</label></span>\
																		<a data-href='/admin.php/house/room/del?id=" + result.data[i].baseinfo.room_id + "' isreload='y' class='j-deal-tr'><label  class='layui-btn layui-btn-xs layui-btn-danger'>删除</label></a>\
																		</td>\
																 	</tr>";  
															  }else{
																 str +=  "<tr>\
																 		<td></td>\
																 		<td></td>\
																 		<td></td>\
																 		<td></td>\
																 		<td>" + result.data[i].houseinfo[j].house_number + "</td>\
																 		<td>" + result.data[i].houseinfo[j].tenant_name + "</td>\
																 		<td></td>\
																 		<td></td>\
																 		<td></td>\
																 		<td></td>\
																 		<td></td>\
																 		<td></td>\
																 		<td></td>\
																 		<td></td>\
																 		<td></td>\
																 		<td></td>\
																 		<td></td>\
																 	</tr>"; 
															  }
															 
															 
														   //}
														 }
												 	//     else{
														//   for( var j = 0; j < result.data[i].houseinfo.length; j++){
														// 	str +=  "<tr>\
														// 			<td>" + result.data[i].baseinfo.room_type + "</td>\
														// 			<td>" + result.data[i].baseinfo.room_number + "</td>\
														// 			<td>" + result.data[i].baseinfo.room_door + "</td>\
														// 			<td>" + result.data[i].baseinfo.ban_number + "</td>\
														// 			<td>" + result.data[i].houseinfo[j].house_number + "</td>\
														// 			<td>" + result.data[i].houseinfo[j].tenant_name + "</td>\
														// 			<td>" + result.data[i].baseinfo.ban_owner_id+ "</td>\
														// 			<td>" + result.data[i].baseinfo.room_unit_id + "</td>\
														// 			<td>" + result.data[i].baseinfo.room_floor_id + "</td>\
														// 			<td>" + result.data[i].baseinfo.room_use_area + "</td>\
														// 			<td>" + result.data[i].baseinfo.room_rent_point + "</td>\
														// 			<td>" + result.data[i].baseinfo.room_lease_area + "</td>\
														// 			<td>" + result.data[i].baseinfo.floor_point + "</td>\
														// 			<td>" + result.data[i].baseinfo.room_pre_rent + "</td>\
														// 			<td>" + result.data[i].baseinfo.room_cou_rent + "</td>\
														// 			<td>" + result.data[i].baseinfo.room_status + "</td>\
														// 			<td>删除</td>\
														// 		</tr>";
														// 	}
														// }
												    
												 }
												 $('#j-table-data').append(str);
												 
											 }
											 if(result.code == 0){
											  layer.msg(result.msg);
											 }
										 },
										 error : function() {
											 layer.msg("获取数据异常！");
										 }
									});
								}
					 });
				})
				// 编辑
		  $(document).on('click', '.j-iframe-edit', function() {			
					var house_id = $("#house_id").val();
					var urls = $(this).attr("data-href");
					console.log("编辑数据：",urls);
					layer.open({
								title: '新增房间'
								,type: 2
								,offset: 'auto'
								,area: ['60%', '600px']
								,btn:false
								,pageTabs: false
								,content: urls+'&hisi_iframe=yes'
								,btn: ['确定','关闭']
								,success: function(layero, index){
									layero.find('.layui-layer-btn .layui-layer-btn0,.layui-layer-btn .layui-layer-btn1').addClass('layui-hide');
								}
								,yes: function(index, layero){
								},btn2: function(index, layero){
									
									
								},
								cancel: function(){
									$.ajax({
										 type: "GET",//方法类型
										 dataType: "json",//预期服务器返回的数据类型
										 url: "{:url('renttable')}?id=" + house_id ,//url
										 success: function (result) {
											 console.log("添加完成数据：",result);//打印服务端返回的数据(调试用)
											 $('#j-table-data').html('');
											 if (result.code == 1) {
												 $("input[name$='house_pre_rent']") .val(result.house_info.house_pre_rent); 
												 var str = ``;
												 //var strfirst = ``;
												 for(var i in result.data) {
														 //if(result.data[i].baseinfo.room_pub_num >= 2){
														  for( var j = 0; j < result.data[i].houseinfo.length; j++){
															  if(j == 0){
																 str +=  "<tr>\
																 		<td>" + params.roomtypes[result.data[i].baseinfo.room_type] + "</td>\
																 		<td>" + result.data[i].baseinfo.room_number + "</td>\
																 		<td>" + result.data[i].baseinfo.room_door + "</td>\
																 		<td>" + result.data[i].baseinfo.ban_number + "</td>\
																 		<td>" + result.data[i].houseinfo[0].house_number + "</td>\
																 		<td>" + result.data[i].houseinfo[0].tenant_name + "</td>\
																 		<td>" + params.owners[result.data[i].baseinfo.ban_owner_id]+ "</td>\
																 		<td>" + result.data[i].baseinfo.room_unit_id + "</td>\
																 		<td>" + result.data[i].baseinfo.room_floor_id + "</td>\
																 		<td>" + result.data[i].baseinfo.room_use_area + "</td>\
																 		<td>" + result.data[i].baseinfo.room_rent_point + "</td>\
																 		<td>" + result.data[i].baseinfo.room_lease_area + "</td>\
																 		<td>" + result.data[i].baseinfo.floor_point + "</td>\
																 		<td>" + result.data[i].baseinfo.room_pre_rent + "</td>\
																 		<td>" + result.data[i].baseinfo.room_cou_rent + "</td>\
																 		<td>" + params.house_status[result.data[i].baseinfo.room_status] + "</td>\
																 		<td><span data-href='/admin.php/house/room/edit?id=" + result.data[i].baseinfo.room_id + "&house_id=" + house_id + "' class='j-iframe-edit' style='color:#1E9FFF;' hisi-data='{width: \"1200px\", height: \"550px\",refresh: \"0\"}' title='修改房间'><label class='layui-btn layui-btn-xs layui-btn-normal'>修改</label></span>\
																		<a data-href='/admin.php/house/room/del?id=" + result.data[i].baseinfo.room_id + "' isreload='y' class='j-deal-tr'><label  class='layui-btn layui-btn-xs layui-btn-danger'>删除</label></a>\
																		</td>\
																 	</tr>";  
															  }else{
																 str +=  "<tr>\
																 		<td></td>\
																 		<td></td>\
																 		<td></td>\
																 		<td></td>\
																 		<td>" + result.data[i].houseinfo[j].house_number + "</td>\
																 		<td>" + result.data[i].houseinfo[j].tenant_name + "</td>\
																 		<td></td>\
																 		<td></td>\
																 		<td></td>\
																 		<td></td>\
																 		<td></td>\
																 		<td></td>\
																 		<td></td>\
																 		<td></td>\
																 		<td></td>\
																 		<td></td>\
																 		<td></td>\
																 	</tr>"; 
															  }
															 
															 
														   //}
														 }
												 	//     else{
														//   for( var j = 0; j < result.data[i].houseinfo.length; j++){
														// 	str +=  "<tr>\
														// 			<td>" + result.data[i].baseinfo.room_type + "</td>\
														// 			<td>" + result.data[i].baseinfo.room_number + "</td>\
														// 			<td>" + result.data[i].baseinfo.room_door + "</td>\
														// 			<td>" + result.data[i].baseinfo.ban_number + "</td>\
														// 			<td>" + result.data[i].houseinfo[j].house_number + "</td>\
														// 			<td>" + result.data[i].houseinfo[j].tenant_name + "</td>\
														// 			<td>" + result.data[i].baseinfo.ban_owner_id+ "</td>\
														// 			<td>" + result.data[i].baseinfo.room_unit_id + "</td>\
														// 			<td>" + result.data[i].baseinfo.room_floor_id + "</td>\
														// 			<td>" + result.data[i].baseinfo.room_use_area + "</td>\
														// 			<td>" + result.data[i].baseinfo.room_rent_point + "</td>\
														// 			<td>" + result.data[i].baseinfo.room_lease_area + "</td>\
														// 			<td>" + result.data[i].baseinfo.floor_point + "</td>\
														// 			<td>" + result.data[i].baseinfo.room_pre_rent + "</td>\
														// 			<td>" + result.data[i].baseinfo.room_cou_rent + "</td>\
														// 			<td>" + result.data[i].baseinfo.room_status + "</td>\
														// 			<td>删除</td>\
														// 		</tr>";
														// 	}
														// }
												    
												 }
												 $('#j-table-data').append(str);
												 
											 }
											 if(result.code == 0){
											  layer.msg(result.msg);
											 }
										 },
										 error : function() {
											 layer.msg("获取数据异常！");
										 }
									});
								}
					 });
				})
				//删除
				$(document).on('click', '.j-deal-tr', function() {	
					var urls = $(this).attr("data-href");
					var house_id = $("#house_id").val();
					$.ajax({
						 type: "GET",//方法类型
						 dataType: "json",//预期服务器返回的数据类型
						 url: urls,//url
						 success: function (result) {
							 console.log("添加完成数据：",result);//打印服务端返回的数据(调试用)
							 $('#j-table-data').html('');
							 if (result.code == 1) {
								 
								$.ajax({
									 type: "GET",//方法类型
									 dataType: "json",//预期服务器返回的数据类型
									 url: "{:url('renttable')}?id=" + house_id ,//url
									 success: function (result) {
										 console.log("添加完成数据：",result);//打印服务端返回的数据(调试用)
										 $('#j-table-data').html('');
										 if (result.code == 1) {
											 $("input[name$='house_pre_rent']") .val(result.house_info.house_pre_rent); 
											 var str = ``;
											 //var strfirst = ``;
											 for(var i in result.data) {
													 //if(result.data[i].baseinfo.room_pub_num >= 2){
													  for( var j = 0; j < result.data[i].houseinfo.length; j++){
														  if(j == 0){
															 str +=  "<tr>\
															 		<td>" + result.data[i].baseinfo.room_type + "</td>\
															 		<td>" + result.data[i].baseinfo.room_number + "</td>\
															 		<td>" + result.data[i].baseinfo.room_door + "</td>\
															 		<td>" + result.data[i].baseinfo.ban_number + "</td>\
															 		<td>" + result.data[i].houseinfo[0].house_number + "</td>\
															 		<td>" + result.data[i].houseinfo[0].tenant_name + "</td>\
															 		<td>" + result.data[i].baseinfo.ban_owner_id+ "</td>\
															 		<td>" + result.data[i].baseinfo.room_unit_id + "</td>\
															 		<td>" + result.data[i].baseinfo.room_floor_id + "</td>\
															 		<td>" + result.data[i].baseinfo.room_use_area + "</td>\
															 		<td>" + result.data[i].baseinfo.room_rent_point + "</td>\
															 		<td>" + result.data[i].baseinfo.room_lease_area + "</td>\
															 		<td>" + result.data[i].baseinfo.floor_point + "</td>\
															 		<td>" + result.data[i].baseinfo.room_pre_rent + "</td>\
															 		<td>" + result.data[i].baseinfo.room_cou_rent + "</td>\
															 		<td>" + result.data[i].baseinfo.room_status + "</td>\
															 		<td><span data-href='/admin.php/house/room/edit?id=" + result.data[i].baseinfo.room_id + "&house_id=" + house_id + "' class='j-iframe-edit' style='color:#1E9FFF;' hisi-data='{width: \"1200px\", height: \"550px\",refresh: \"0\"}' title='修改房间'><label class='layui-btn layui-btn-xs layui-btn-normal'>修改</label></span>\
																	<a data-href='/admin.php/house/room/del?id=" + result.data[i].baseinfo.room_id + "' isreload='y' class='j-deal-tr'><label  class='layui-btn layui-btn-xs layui-btn-danger'>删除</label></a>\
																	</td>\
															 	</tr>";  
														  }else{
															 str +=  "<tr>\
															 		<td></td>\
															 		<td></td>\
															 		<td></td>\
															 		<td></td>\
															 		<td>" + result.data[i].houseinfo[j].house_number + "</td>\
															 		<td>" + result.data[i].houseinfo[j].tenant_name + "</td>\
															 		<td></td>\
															 		<td></td>\
															 		<td></td>\
															 		<td></td>\
															 		<td></td>\
															 		<td></td>\
															 		<td></td>\
															 		<td></td>\
															 		<td></td>\
															 		<td></td>\
															 		<td></td>\
															 	</tr>"; 
														  }
														 
														 
													   //}
													 }
											 	//     else{
													//   for( var j = 0; j < result.data[i].houseinfo.length; j++){
													// 	str +=  "<tr>\
													// 			<td>" + result.data[i].baseinfo.room_type + "</td>\
													// 			<td>" + result.data[i].baseinfo.room_number + "</td>\
													// 			<td>" + result.data[i].baseinfo.room_door + "</td>\
													// 			<td>" + result.data[i].baseinfo.ban_number + "</td>\
													// 			<td>" + result.data[i].houseinfo[j].house_number + "</td>\
													// 			<td>" + result.data[i].houseinfo[j].tenant_name + "</td>\
													// 			<td>" + result.data[i].baseinfo.ban_owner_id+ "</td>\
													// 			<td>" + result.data[i].baseinfo.room_unit_id + "</td>\
													// 			<td>" + result.data[i].baseinfo.room_floor_id + "</td>\
													// 			<td>" + result.data[i].baseinfo.room_use_area + "</td>\
													// 			<td>" + result.data[i].baseinfo.room_rent_point + "</td>\
													// 			<td>" + result.data[i].baseinfo.room_lease_area + "</td>\
													// 			<td>" + result.data[i].baseinfo.floor_point + "</td>\
													// 			<td>" + result.data[i].baseinfo.room_pre_rent + "</td>\
													// 			<td>" + result.data[i].baseinfo.room_cou_rent + "</td>\
													// 			<td>" + result.data[i].baseinfo.room_status + "</td>\
													// 			<td>删除</td>\
													// 		</tr>";
													// 	}
													// }
											    
											 }
											 $('#j-table-data').append(str);
											 
										 }
										 if(result.code == 0){
										  layer.msg(result.msg);
										 }
									 },
									 error : function() {
										 layer.msg("获取数据异常！");
									 }
								}); 
							 }
							 if(result.code == 0){
							  layer.msg(result.msg);
							 }
						 },
						 error : function() {
							 layer.msg("获取数据异常！");
						 }
					});
		})
	});
</script>