<div class="j-table-content">
	<div class="layui-btn-container j-container-margin">
		<div class="layui-btn-container">
			{if condition="$group == 'x'"}
			<a href="{:url('add')}"><button class="layui-btn"><i class="layui-icon layui-icon-add-1"></i>新增房屋</button></a>
			<button data-href="{:url('del')}" data-id="house_id" class="layui-btn layui-btn-gray j-page-btns"><i class="layui-icon layui-icon-close"></i>批量删除</button>
			{/if}
		</div>
	</div>
	<div class="page-toolbar j-page-toolbar clearfix">
		<form class="layui-form layui-form-pane" action="{url('index')}" method="get" id="hisi-table-search">
			<div class="j-search-fl layui-col-md8  fl">
				<div class="layui-input-inline j-input-margin" style="width:120px;">
					<input type="text" name="house_number" placeholder="房屋编号" class="layui-input">
				</div>
				<div class="layui-input-inline j-input-margin" style="width:120px;">
					<input type="text" name="tenant_name" placeholder="租户姓名" class="layui-input">
				</div>
				<div class="layui-input-inline j-input-margin" style="width:120px;">
					<input type="text" name="ban_number" placeholder="楼栋编号" class="layui-input">
				</div>
				<div class="layui-input-inline j-input-margin" style="width:120px;">
					<input type="text" name="ban_address" placeholder="地址" class="layui-input">
				</div>
				{if condition="INST_LEVEL != 3"}
				<div class="layui-input-inline" style="width:120px;">
					<select name="ban_inst_id">
						<option value="">机构</option>
						{volist name=":config('inst_check_names')[INST]" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				{/if}
				<div class="layui-input-inline" style="width:120px;">
					<select name="ban_owner_id">
						<option value="">产别</option>
						{volist name="params['owners']" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				<div class="layui-input-inline" style="width:120px;">
					<select name="house_use_id">
						<option value="">使用性质</option>
						{volist name="params['uses']" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				<input type="hidden" name="group" value="{$group}" class="layui-input">
			</div>
			<div class="j-search-fr layui-col-md4 fr">
				<div class="layui-input-inline fr">
					<div class="layui-input-inline" style="margin-left:10px;">
						<button type="reset" class="layui-btn j-btn-reset">重置</button>
						<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
							<i class="layui-icon">&#xe615;</i>
							搜索
						</button>
						<button type="button" class="layui-btn layui-btn-warm"><i class="layui-icon iconfont j-icon-screen_icon"></i>标题筛选</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	{include file="system@block/layui" /}
	<table id="dataTable" lay-filter='dataTable'></table>
	<script type="text/html" title="操作按钮模板" id="buttonTpl">
		{if condition="$group == 'x'"}
    <a href="{:url('edit')}?id={{ d.house_id }}" class="layui-btn layui-btn-xs layui-btn-primary">编辑</a>
    {/if}
	<a href="{:url('renttable')}?id={{ d.house_id }}&group={$group}" class="layui-btn layui-btn-xs layui-btn-primary">计租表</a>
    <a href="{:url('detail')}?id={{ d.house_id }}" class="layui-btn layui-btn-xs layui-btn-normal">详情</a>
    <a href="{:url('tenant/detail')}?id={{ d.tenant_id }}" class="layui-btn layui-btn-xs layui-btn-normal">租户</a>
</script>
</div>
<script type="text/javascript">
	layui.use(['table', 'jquery'], function() {
		var table = layui.table;
		table.render({
			elem: '#dataTable'
				//,height: 550
				//,height: 'full-20' //浏览器最大高度
				,
			toolbar: true,
			defaultToolbar: ['filter','exports','print'] //设置右边筛选，导出，打印显示
				,
			url: '{:url("house/House/index")}?group={$group}' //数据接口
				,
			page: true //开启分页
				,
			limit: 10,
			text: {
				none: '暂无相关数据'
			},
			cols: [
				[ //表头
					{
						type: 'checkbox',
						fixed: 'left'
					}, {
						field: 'house_number',
						minWidth: 140,
						align:'center',
						title: '房屋编号'
					}, {
						field: 'ban_number',
						minWidth: 110,
						align:'center',
						title: '楼栋编号'
					}, {
						field: 'tenant_name',
						minWidth: 100,
						align:'center',
						title: '租户姓名'
					}, {
						field: 'ban_inst_id',
						minWidth: 120,
						align:'center',
						title: '管段',
						hide: isShowInst,
						templet: function(d) {
							return params.insts[d.ban_inst_id];
						}
					}, {
						field: 'ban_owner_id',
						minWidth: 60,
						title: '产别',
						align:'center',
						templet: function(d) {
							return params.owners[d.ban_owner_id];
						}
					}, {
						field: 'house_use_id',
						minWidth: 100,
						align:'center',
						title: '使用性质',
						templet: function(d) {
							return params.uses[d.house_use_id];
						}
					}, {
						field: 'ban_address',
						minWidth: 200,
						align:'center',
						title: '地址'
					}, {
						field: 'house_area',
						minWidth: 80,
						align:'center',
						title: '建面'
					}, {
						field: 'house_lease_area',
						minWidth: 100,
						align:'center',
						title: '计租面积'
					}, {
						field: '',
						minWidth: 80,
						align:'center',
						title: '单元',
						templet: function(d) {
							return d.house_unit_id + '/' + d.ban_units;
						}
					}, {
						field: '',
						align:'center',
						minWidth: 80,
						title: '楼层',
						templet: function(d) {
							return d.house_floor_id + '/' + d.ban_floors;
						}
					}

					, {
						title: '操作',
						Width: 260,
						minWidth: 260,
						align:'center',
						templet: '#buttonTpl',
						fixed: 'right'
					}
				]
			],
			done: function(res, curr, count) {

			}
		}, isShowInst);
		$(".j-search-fr .layui-btn:last").addClass("on");//搜索最后按钮样式
	});
</script>
