
<!-- 处理楼栋调整房屋跳转后左边栏目高亮显示问题   -->
<!-- <style>
    .layui-nav-tree .layui-nav-child dd.layui-this,.layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this>a, .layui-nav-tree .layui-this>a:hover{
        background-color:var(--hisi-layui-nav-child-a-bg)!important;
        color:var(--hisi-layui-nav-child-a-c)!important;
    }
    .layui-nav-tree .layui-nav-child dd.layui-this.j-layui-this,
    .layui-nav-tree .layui-nav-child dd.j-layui-this,
    .layui-nav-tree .layui-nav-child dd.layui-this.j-layui-this a,
    .layui-nav-tree .layui-nav-child dd.j-layui-this a,
    .layui-nav-tree .layui-this.j-layui-this,
    .layui-nav-tree .layui-this.j-layui-this>a,
    .layui-nav-tree .j-layui-this,
    .layui-nav-tree .j-layui-this>a,
    .layui-nav-tree .layui-this.j-layui-this>a:hover,
    .layui-nav-tree .j-layui-this>a:hover
    {
        background-color:var(--hisi-layui-nav-child-a-c-hover)!important;
        color:var(--hisi-layui-side-layui-this-a)!important;
    }
</style> -->
<!-- 新增后台导出按钮 -->
<link rel="stylesheet" href="__ADMIN_JS__/select/formSelects-v4.css">
<button id="button_prints"><i class="layui-icon layui-icon-export"></i></button>
<div class="j-table-content">
	<div class="layui-btn-container j-container-margin">
		<div class="layui-btn-container">
			{if condition="$group == 'x'"}
			<a href="{:url('add')}"><button class="layui-btn"><i class="layui-icon layui-icon-add-1"></i>新增房屋</button></a>
			<button data-href="{:url('del')}" data-id="house_id" class="layui-btn layui-btn-danger j-page-btns"><i class="layui-icon layui-icon-close"></i>批量删除</button>
			{/if}
		</div>
	</div>
	<div class="page-toolbar j-page-toolbar clearfix">
		<form class="layui-form layui-form-pane" action="{url('index')}" method="get" id="hisi-table-search">
			<div class="j-search-fl layui-col-md8  fl">
				{if condition="in_array('house_number',$config['house_info_search'])"}
				<div class="layui-input-inline j-input-margin j-width-120">
					<input type="text" name="house_number" title="房屋编号" placeholder="房屋编号" class="layui-input">
				</div>
				{/if}
				{if condition="in_array('tenant_name',$config['house_info_search'])"}
				<div class="layui-input-inline j-input-margin j-width-100">
					<input type="text" name="tenant_name" title="租户姓名" placeholder="租户姓名" class="layui-input">
				</div>
				{/if}
				{if condition="in_array('ban_number',$config['house_info_search'])"}
				<div class="layui-input-inline j-input-margin j-width-100">
					<input type="text" name="ban_number" title="楼栋编号" placeholder="楼栋编号" class="layui-input">
				</div>
				{/if}
				{if condition="in_array('ban_address',$config['house_info_search'])"}
				<div class="layui-input-inline j-input-margin  j-width-100">
					<input type="text" name="ban_address" title="地址" placeholder="地址" class="layui-input">
				</div>
				{/if}
				{if condition="in_array('ban_inst_id',$config['house_info_search'])"}
				{if condition="INST_LEVEL != 3"}
				<div class="layui-input-inline  j-width-130 j-margin-10 j-select-width130">
					<select name="ban_inst_id" xm-select="ban_inst_id">
						<option value="" disabled="disabled">机构</option>
						{volist name=":config('inst_check_names')[INST]" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				{/if}
				{/if}
				{if condition="in_array('ban_owner_id',$config['house_info_search'])"}
				<div class="layui-input-inline  j-width-90 j-margin-10">
					<select name="ban_owner_id" xm-select="ban_owner_id">
						<option value="" disabled="disabled">产别</option>
						{volist name="params['owners']" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				{/if}
				{if condition="in_array('house_use_id',$config['house_info_search'])"}
				<div class="layui-input-inline  j-width-115 j-margin-10">
					<select name="house_use_id" xm-select="house_use_id">
						<option value="" disabled="disabled">使用性质</option>
						{volist name="params['uses']" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				{/if}
				{if condition="in_array('house_is_pause',$config['house_info_search'])"}
		        <div class="layui-input-inline" style="width:120px;">
		            <select name="house_is_pause">
		                <option value="">是否暂停计租</option>
		                <option value="1">是</option>
		                <option value="0">否</option>
		              </select>
		        </div>
		        {/if}
		        {if condition="in_array('house_pre_rent',$config['house_info_search'])"}
		        <div class="layui-input-inline j-input-margin j-width-100">
					<input type="text" name="house_pre_rent" title="规定租金" placeholder="规定租金" class="layui-input">
				</div>
				{/if}
				{if condition="in_array('house_cou_rent',$config['house_info_search'])"}
				<div class="layui-input-inline j-input-margin j-width-100">
					<input type="text" name="house_cou_rent" title="计算租金" placeholder="计算租金" class="layui-input">
				</div>
				{/if}
				{if condition="in_array('house_lease_area',$config['house_info_search'])"}
				<div class="layui-input-inline j-input-margin j-width-100">
					<input type="text" name="house_lease_area" title="计租面积" placeholder="计租面积" class="layui-input">
				</div>
				{/if}
				{if condition="in_array('ban_struct_id',$config['house_info_search'])"}
				<div class="layui-input-inline j-width-110 j-margin-10">
					<select name="ban_struct_id" xm-select="ban_struct_id">
						<option disabled="disabled" value="">结构类别</option>
						 {volist name="params['structs']" id="v"}
						 <option value="{$key}">{$v}</option>
						 {/volist}
					</select>
			  </div>
			  {/if}
			  {if condition="in_array('ban_damage_id',$config['house_info_search'])"}
			  <div class="layui-input-inline j-width-110 j-margin-10">
				  <select name="ban_damage_id" xm-select="ban_damage_id">
					  <option value="">完损等级</option>
					  {volist name="params['damages']" id="v"}
					  <option value="{$key}">{$v}</option>
					  {/volist}
					</select>
			  </div>
		      {/if}
		      {if condition="$group == 'z'"}
		      {if condition="in_array('house_dtime',$config['house_info_search'])"}
		      <div class="layui-input-inline j-input-margin j-width-120">
		        <input type="text" name="house_dtime" class="layui-input" id="test6" placeholder="注销日期范围">
		      </div>
		      {/if}
		      {/if}
		      {if condition="in_array('house_ctime',$config['house_info_search'])"}
		        <div class="layui-input-inline j-input-margin" style="width:120px">
		            <input type="text" name="house_ctime" value="" placeholder="创建日期" id="query_month" autocomplete="off" class="layui-input">
		        </div>
		        {/if}
			  <input type="hidden" name="group" value="{$group}" class="layui-input">
			</div>
			<div class="j-search-fr layui-col-md4 fr">
				<div class="layui-input-inline fr">
					<div class="layui-input-inline" style="margin-left:10px;">
						<!-- <button type="button" class="layui-btn layui-btn-warm on" id="button_prints">
						    <i class="layui-icon layui-icon-print"></i>
						    导出
					  	</button> -->
						<button type="reset" class="layui-btn j-btn-reset">重置</button>
						<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
							<i class="layui-icon">&#xe615;</i>
							搜索
						</button>
						{if condition="$group == 'y' && $login['uid'] == 1"}
						<!-- <a data-href="{:url('createqrcode')}" refresh="false" confirm="确认批量生成吗？" class="layui-btn layui-btn-warm j-ajax">生成微信二维码</a> -->
						{/if}
						<button type="button" class="layui-btn layui-btn-warm"><i class="layui-icon iconfont j-icon-screen_icon"></i>标题筛选</button>
						
					</div>
				</div>
			</div>
		</form>
	</div>
	{include file="system@block/layui" /}
	<table id="dataTable" lay-filter='dataTable'></table>
	<script type="text/html" title="操作按钮模板" id="buttonTpl">
	{if condition="$group == 'x' || $group == 'y'"}
    <a href="{:url('edit')}?group={$group}&id={{ d.house_id }}" class="layui-btn layui-btn-xs layui-btn-primary">编辑</a>
	{/if}
	{if condition="$group == 'y' && $login['uid'] == 1"}
	<!-- <a href="{:url('renttable')}?id={{ d.house_id }}&group=x" class="layui-btn layui-btn-xs layui-btn-primary">计租表</a> -->
	{/if}
	{if condition="$group != 'x'"}
	{{#  if (d.change_lease_id) { }}
	<a href="{:url('deal/Changelease/detail')}?id={{ d.change_lease_id }}&jump=house" hisi-data="{width: '1000px', height: '600px',refresh: 2}" title="租约详情" class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop">租约</a>
	{{#  } else { }}
	<button class="layui-btn layui-btn-xs layui-btn-disabled">租约</button>
	{{#  } }}
	{/if}
	<a href="{:url('detail')}?id={{ d.house_id }}" target="_blank" class="layui-btn layui-btn-xs layui-btn-normal">详情</a>
    
    <a href="{:url('tenant/detail')}?id={{ d.tenant_id }}&jump=house" hisi-data="{width: '1000px', height: '600px',refresh: 2}" title="租户详情" class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop">租户</a>
    
</script>
<script type="text/html" title="排序模板" id="sortTpl">
    <input type="text" class="layui-input hisi-ajax-input input-sort-lucas" onkeyup="value=value.replace(/([A-Za-z]|[\u4e00-\u9fa5])*$/g,'')" value="{{ d.house_advance_rent }}" data-value="{{ d.house_advance_rent }}" data-href="{:url('update')}?id={{ d.house_id }}">
</script>
</div>
<script type="text/javascript">
	layui.use(['table', 'jquery','laydate','formSelects'], function() {
		var table = layui.table
		   ,formSelects = layui.formSelects;
		var laydate = layui.laydate;
		var isHide = ('{$group}' == 'x')?false:true;
		var isHideXin = ('{$group}' == 'x')?true:false;
		var isDtimeHide = ('{$group}' == 'z')?false:true;
		var group = '{$group}';
		var templet_width; //模板长度
        if(group == 'x'){
			templet_width = 240;
        }else if(group == 'y'){
        	templet_width = 240;
        }else if(group == 'z'){
        	templet_width = 200;
        }
        //年选择器
        laydate.render({
            elem: '#query_month'
            ,type: 'month'
            ,isInitValue: true,
            ready: function(date){
                $('.layui-laydate li').click(function () {
                   $('.laydate-btns-confirm').trigger('click');
                });
            }
        });
		table.render({
			elem: '#dataTable',
			toolbar: true,
			defaultToolbar: ['filter',/*'exports',*/'print'], //设置右边筛选，导出，打印显示
			url: '{:url("house/House/index")}?group={$group}&ban_number={$ban_number}', //数据接口
			totalRow: true,
			page: true, //开启分页
			limit: 10,
			limits: [10,20,30,40,50,100,300,500,1000],
			text: {none: "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"},
			cols: [
				[ //表头
					{type: 'checkbox',hide: isHide,fixed: 'left'}
					, {field: 'ban_number',minWidth: 110,align:'center',title: '楼栋编号',totalRowText: '合计：'}
					, {field: 'house_number',minWidth: 140,align:'center',title: '房屋编号'}
					
					, {field: 'ban_address',minWidth: 160,align:'center',title: '地址'}
					, {field: 'ban_inst_id',width: 110,align:'center',title: '管段',hide: isShowInst,templet: function(d) {
						return params.insts[d.ban_inst_id];
					}}
					, {field: 'tenant_name',minWidth: 100,align:'center',title: '租户姓名'}
					, {field: 'ban_owner_id',minWidth: 60,title: '产别',align:'center',templet: function(d) {
						return params.owners[d.ban_owner_id];
					}}
					, {field: 'house_use_id',width: 100,align:'center',title: '使用性质',templet: function(d) {
						return params.uses[d.house_use_id];
					}}
					, {field: 'house_dtime',hide: isDtimeHide,width: 120,align:'center',title: '注销时间'}
					, {field: 'house_advance_rent',hide: false,width: 180,align:'center',title: '房管员垫付金额' , templet: '#sortTpl',totalRow: true}
					, {field: 'house_pre_rent',width: 120,align:'center',title: '规定租金',totalRow: true}
					, {field: 'house_cou_rent',width: 120,align:'center',title: '计算租金',totalRow: true, templet: function(d) {
						if(parseFloat(d.house_pre_rent) != parseFloat(d.house_cou_rent)){
							return "<font color='red'>"+d.house_cou_rent+"</font>";
						}else{
							return d.house_cou_rent;
						}
	                }}
					, {field: 'house_lease_area',width: 120,align:'center',title: '计租面积',totalRow: true}
					, {field: 'house_diff_rent',hide: false,width: 100,align:'center',title: '租差',totalRow: true}
					, {field: 'house_pump_rent',hide: false,width: 80,align:'center',title: '泵费',totalRow: true}
					, {field: 'house_area',hide: false,width: 120,align:'center',title: '房屋建面',totalRow: true}
					, {field: 'house_oprice',hide: false,width: 120,align:'center',title: '房屋原价',totalRow: true}
					, {field: 'last_print_time',hide: isHideXin , width: 200,align:'center',title: '出证时间'}
					, {field: 'ban_struct_id', hide: false, minWidth: 120, align:'center', title: '结构类别', templet: function(d) {
	                    return params.structs[d.ban_struct_id];
	                }}
					, {field: 'ban_damage_id',hide: false,width: 120,align:'center',title: '完损等级', templet: function(d) {
	                    return params.damages[d.ban_damage_id];
	                }}
					, {field: 'house_is_pause',hide: false,width: 140,align:'center',title: '是否暂停计租',templet: function(d) {
						return parseInt(d.house_is_pause)?'是':'否';
					}}
					, {field: 'house_unit_id',width: 80,hide: false,align:'center',title: '单元',templet: function(d) {
						return d.house_unit_id + '/' + d.ban_units;
					}}
					, {field: 'house_floor_id',align:'center',hide: false,width: 80,title: '楼层',templet: function(d) {
						return d.house_floor_id + '/' + d.ban_floors;
					}}
					, {field: 'house_door',hide: false,width: 100,align:'center',title: '门牌号'}
					, {title: '操作',minWidth: templet_width,align:'center',templet: '#buttonTpl',fixed: 'right'}
				]
			],
			done: function(res, curr, count) {
				$(".layui-table-total td[data-field='house_lease_area']").find("div").text(res.total_house_lease_area);
				$(".layui-table-total td[data-field='house_area']").find("div").text(res.total_house_area);
				$(".layui-table-total td[data-field='house_pre_rent']").find("div").text(res.total_house_pre_rent);
				$(".layui-table-total td[data-field='house_cou_rent']").find("div").text(res.total_house_cou_rent);
				$(".layui-table-total td[data-field='house_diff_rent']").find("div").text(res.total_house_diff_rent);
				$(".layui-table-total td[data-field='house_pump_rent']").find("div").text(res.total_house_pump_rent);
				$(".layui-table-total td[data-field='house_advance_rent']").find("div").text(res.total_house_advance_rent);
              //导出转换后台数据
              var exportData=res.data;
              for(i in exportData){
              	exportData[i].ban_inst_id = params.insts[exportData[i].ban_inst_id];//转化管段
				exportData[i].ban_owner_id = params.owners[exportData[i].ban_owner_id];//转化产别
				exportData[i].house_use_id = params.uses[exportData[i].house_use_id];//转化使用性质
				exportData[i].ban_struct_id = params.structs[exportData[i].ban_struct_id];//转化结构类别
				exportData[i].ban_damage_id = params.damages[exportData[i].ban_damage_id];//转化完损等级
				exportData[i].house_unit_id = exportData[i].house_unit_id+'/'+exportData[i].ban_units;//转化单元数
				exportData[i].house_floor_id = exportData[i].house_floor_id+'/'+exportData[i].ban_floors;//转化楼层
				if(exportData[i].house_is_pause ==0){
					exportData[i].house_is_pause =='否';
				}
                if(exportData[i].house_is_pause ==1){
                	exportData[i].house_is_pause =='是';
                }
              	if(exportData[i].last_print_time===null){
				   	exportData[i].last_print_time='';
				}
              }
			  
			  // 根据类型标注颜色
			  console.log("数据",res)
			  var	result = res.data;
			  for (var i = 0; i < result.length; i++) {
			  	if(parseInt(result[i].house_is_pause) == 1){
					$("[lay-id='dataTable'] tr[data-index="+i+"]").css('background','#e3e3e3');
			  	}
			  }
			}
		}, isShowInst,isHide,templet_width,isDtimeHide);
 //日期范围
  laydate.render({
    elem: '#test6'
    ,range: true
  });
		$('#button_prints').click(function(){
			var queryWhere = $('#hisi-table-search').serialize();
			console.log('导出的条件：',queryWhere);
			//return false;
			$('#button_prints').prop('disabled', true).removeClass('layui-btn-warm').addClass('layui-bg-gray').text('导出中…');
        	$.ajax({
				type:"post",// 请求方式
				url:"{:url('house/export')}",
				async:true,// 同步异步
				dataType:"json",
				data : queryWhere,//这里是前台传到后台的数据
			    //回调函数
				success:function(output){
					layer.msg(output.msg);
					if(output.code){ //成功则直接下载		
						$('#button_prints').prop('disabled', false).removeClass('layui-bg-gray').addClass('layui-btn-warm').html('<i class="layui-icon layui-icon-export"></i>');	
						document.location.href = output.data;
					}
					else{
						$('#button_prints').prop('disabled', false).removeClass('layui-bg-gray').addClass('layui-btn-warm').html('<i class="layui-icon layui-icon-export"></i>');  
					}
				}
			});
        })
		$(".j-search-fr .layui-btn:last").addClass("on");//搜索最后按钮样式
		//处理楼栋调整房屋跳转后左边栏目高亮显示问题		
		// $(".layui-side-scroll ul:eq(1) .layui-nav-child dd:eq(1)").addClass("j-layui-this");
	});
</script>
