<div class="page-toolbar">
    <div class="page-filter">
        <div class="layui-input-inline layui-col-md2">
            <a href="{:url('add')}" class="layui-btn layui-btn-normal layui-icon layui-icon-edit">&nbsp;新增房屋</a>
        </div>
        <form class="layui-form layui-form-pane" action="{url('index')}"  method="get" id="hisi-table-search">
            <div class="layui-input-inline layui-col-md2" style="margin-left:20px;">
                <input type="text" name="keywords" placeholder="搜索" class="layui-input">
            </div>
            <div class="layui-input-inline layui-col-md3" style="margin-left:20px;">
                
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
                    <i class="layui-icon">&#xe615;</i>
                    搜索
                </button>
                <button type="reset" class="layui-btn">重置</button>
            </div>
        </form>
    </div>
</div>
{include file="system@block/layui" /}
<table id="dataTable" lay-filter='dataTable'></table>
<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <!-- <a href="{:url('edit')}?id={{ d.house_id }}" class="layui-btn layui-btn-xs layui-btn-primary">编辑</a> -->
	<a href="{:url('renttable')}?id={{ d.house_id }}" class="layui-btn layui-btn-xs layui-btn-primary">计租表</a>
    <a href="{:url('tenant/index')}?id={{ d.tenant_number }}" class="layui-btn layui-btn-xs layui-btn-normal">租户</a>
    <button data-href="{:url('del')}?id={{ d.house_id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</button>
</script>
<script type="text/javascript">
    layui.use(['table','jquery'], function() {
        var table = layui.table;
        table.render({
            elem: '#dataTable'
            ,height: 500
            ,url: '{:url("house/House/index")}' //数据接口
            ,page: true //开启分页
            ,limit: 10
            ,text: {
                none : '暂无相关数据'
            }
            ,cols: [[ //表头
                {field: 'house_number', width: 140, title: '房屋编号'}
                ,{field: 'ban_number', width: 120, title: '楼栋编号'}
                ,{field: 'tenant_name', width: 100, title: '租户姓名'}
                ,{field: 'ban_inst_id', width: 120, title: '管段', templet: function(d) {
                    return params.insts[d.ban_inst_id];
                }}
                ,{field: 'ban_owner_id', width: 80, title: '产别', templet: function(d) {
                    return params.owners[d.ban_owner_id];
                }}
                ,{field: 'house_use_id', width: 100, title: '使用性质', templet: function(d) {
                    return params.usenatures[d.house_use_id];
                }}
                ,{field: 'ban_address', width: 200, title: '地址'}
                ,{field: 'house_area', width: 80, title: '建面'}
                ,{field: 'house_lease_area', width: 100, title: '计租面积'}
                ,{field: '', width: 80, title: '单元',templet: function(d) {
                    return d.house_unit_id + '/' + d.ban_units;
                }}
                ,{field: '', width: 80, title: '楼层',templet: function(d) {
                    return d.house_floor_id + '/' + d.ban_floors;
                }}
                
                ,{title: '操作', width: 180, templet: '#buttonTpl',fixed:'right'}
            ]]
            ,done:function(res,curr,count){
               
            }
        })
    });

</script>