<form class="layui-form" action="{url('add')}" method="post">
  <div class="j-details-box j-no-border floorWrap">
		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>基本信息</legend>
		</fieldset>
        <div class="layui-row layui-form-item layui-col-space90">
        	<div class="layui-col-md4">
        		<label class="j-form-label">楼栋编号</label>
        		<div class="j-input-inline">
        			<input type="text" name="ban_number" readonly value="{$data_info['ban_number']}" placeholder="" autocomplete="off" class="layui-input">
        		</div>
        	</div>
        	<div class="layui-col-md4">
        		<label class="j-form-label">房屋结构</label>
        		<div class="j-input-inline">
        			<input type="text" name="tenant_number" readonly value="{$params['structs'][$data_info['ban_struct_id']]}" placeholder="双击选择" autocomplete="off" class="layui-input">
        		</div>
        	</div>
        	<div class="layui-col-md4">
        		<label class="j-form-label">楼层数量</label>
        		<div class="j-input-inline">
        			<input type="text" name="house_door" readonly value="{$data_info['house_floor_id']}/{$data_info['ban_floors']}" autocomplete="off" class="layui-input">
        		</div>
        	</div>
        </div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">结构基价</label>
				<div class="j-input-inline">
					<input type="text" name="house_door" readonly value="{$data_info['ban_struct_point']}" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">房屋地址</label>
				<div class="j-input-inline">
					<input type="text" name="ban_address" readonly value="{$data_info['ban_address']}" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">单元</label>
				<div class="j-input-inline">
					<input type="text" name="house_floor_id" readonly value="{$data_info['house_unit_id']}/{$data_info['ban_units']}" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">房屋编号</label>
				<div class="j-input-inline">
					<input type="text" name="house_number" readonly value="{$data_info['house_number']}" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">租户</label>
				<div class="j-input-inline">
					<input type="text" name="house_unit_id" readonly value="{$data_info['tenant_name']}" autocomplete="off" class="layui-input">
				</div>
			</div>
			
			<div class="layui-col-md4">
				<label class="j-form-label">产别</label>
				<div class="j-input-inline">
					<input type="text" name="ban_owner_id" readonly value="{$params['owners'][$data_info['ban_owner_id']]}" autocomplete="off" class="layui-input">
				</div>
			</div>
			
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">使用性质</label>
				<div class="j-input-inline">
					<input type="text" name="house_use_id" readonly value="{$params['uses'][$data_info['house_use_id']]}" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">住改非</label>
				<div class="j-input-inline">
					<input type="text" name="house_is_nonlife" readonly value={if condition="$data_info['house_is_nonlife']"}是{else /}否{/if} autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">房屋建面</label>
				<div class="j-input-inline">
					<input type="text" name="house_area" readonly value="{$data_info['house_area']}" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">房屋原价</label>
				<div class="j-input-inline">
					<input type="text" name="house_oprice" readonly value="{$data_info['house_oprice']}" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">实有面积</label>
				<div class="j-input-inline">
					<input type="text" name="house_oprice" readonly value="{$data_info['house_use_area']}" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">计租面积</label>
				<div class="j-input-inline">
					<input type="text" name="house_area" readonly value="{$data_info['house_lease_area']}" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">规定租金</label>
				<div class="j-input-inline">
					<input type="text" name="house_number" readonly value="{$data_info['house_pre_rent']}" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">计算租金</label>
				<div class="j-input-inline">
					<input type="text" name="house_unit_id" readonly value="{$data_info['house_cou_rent']}" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">租差</label>
				<div class="j-input-inline">
					<input type="text" name="house_floor_id" readonly value="{$data_info['house_diff_rent']}" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">泵费</label>
				<div class="j-input-inline">
					<input type="text" name="ban_owner_id" readonly value="{$data_info['house_pump_rent']}" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">租金减免</label>
				<div class="j-input-inline">
					<input type="text" name="cut_rent" readonly value="{$data_info['cut_rent']}" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">协议租金</label>
				<div class="j-input-inline">
					<input type="text" name="house_unit_id" readonly value="{$data_info['house_protocol_rent']}" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">电梯</label>
				<div class="j-input-inline">
					<input type="text" name="ban_owner_id" readonly value={if condition="$data_info['ban_is_levator']"}有{else /}无{/if} autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">暂停计租</label>
				<div class="j-input-inline">
					<input type="text" name="house_unit_id" readonly value={if condition="$data_info['house_is_pause']"}是{else /}否{/if} autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">累计欠租</label>
				<div class="j-input-inline">
					<input type="text" name="house_unit_id" readonly value="{$data_info['total_rent_order_unpaid']}" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">门牌号</label>
				<div class="j-input-inline">
					<input type="text" name="house_door" readonly value="{$data_info['house_door']}" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">创建时间</label>
				<div class="j-input-inline">
					<input type="text" name="house_ctime" readonly value="{$data_info['house_ctime']}" class="layui-input">
				</div>
			</div>
		</div>
		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
		<legend>加计租金</legend>
	</fieldset>
    <div class="layui-row layui-form-item layui-col-space90 j-exceed-width">
    	<div class="layui-col-md4">
    		<label class="j-form-label">墙布(纸)护墙板</label>
    		<div class="j-input-inline">
    			<input type="text" name="house_wall_paper_area" readonly value="{:bcmul($data_info['house_wall_paper_area'],0.5,2)}元" autocomplete="off" class="layui-input">
    		</div>
    	</div>
    	<div class="layui-col-md4">
    		<label class="j-form-label">瓷砖,马赛克,地板砖</label>
    		<div class="j-input-inline">
    			<input type="text" name="house_ceramic_title_area" readonly value="{:bcmul($data_info['house_ceramic_title_area'],0.5,2)}元" autocomplete="off" class="layui-input">
    		</div>
    	</div>
    	<div class="layui-col-md4">
    		<label class="j-form-label">浴盆</label>
    		<div class="j-input-inline">
    			<input type="text" name="house_bathtub_num" readonly value="{:bcmul($data_info['house_bathtub_num'],0.5,2)}元" autocomplete="off" class="layui-input">
    		</div>
    	</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90 j-exceed-width">
    	<div class="layui-col-md4">
    		<label class="j-form-label">面盆</label>
    		<div class="j-input-inline">
    			<input type="text" name="house_basin_num" readonly value="{:bcmul($data_info['house_basin_num'],0.5,2)}元" autocomplete="off" class="layui-input">
    		</div>
    	</div>
    	<div class="layui-col-md4">
    		<label class="j-form-label">空间1至1.7米(5m²以下)</label>
    		<div class="j-input-inline">
    			<input type="text" name="house_below_five_num" readonly value="{:bcmul($data_info['house_below_five_num'],0.5,2)}元" placeholder="" autocomplete="off" class="layui-input">
    		</div>
    	</div>
    	<div class="layui-col-md4">
    		<label class="j-form-label">空间1至1.7米(5m²以上)</label>
    		<div class="j-input-inline">
    			<input type="text" name="house_more_five_num" readonly value="{$data_info['house_more_five_num']}元" placeholder="双击选择" autocomplete="off" class="layui-input">
    		</div>
    	</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90 j-exceed-width">
    	<div class="layui-col-md3">
    		<label class="j-form-label">无上下水,无厕所的房屋</label>
    		<div class="j-input-inline">
    			<input type="text" name="house_is_water" readonly value={if condition="$data_info['house_is_water']"}是{else /}否{/if} autocomplete="off" class="layui-input">
    		</div>
    	</div>
		</div>
    </div>
		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>房间信息</legend>
		</fieldset>
		<div class="layui-row">
			<!-- <i class="layui-icon layui-icon-add-1 table-add" style="color:#1E9FFF;">新增房间</i> -->
			{if condition="$group == 'x'"}
			  <a href="{:url('room/add')}?id={$data_info['house_id']}" class="layui-btn layui-btn-primary layui-icon layui-icon-add-1 j-iframe-pop" style="color:#0084FF;" hisi-data="{width: '60%', height: '600px'}" title="新增房间">新增房间</a>
			{/if}
		</div>
		<!-- 房间信息 -->
		<table class="layui-table ">
		<thead class="j-table-center">
			<tr>
				<th>房间类型</th>
				<th>房间编号</th>
				<th>间号</th>
				<th>绑定楼栋</th>
				<th>绑定房屋编号</th>
				<th>绑定租户</th>
				<th>产别</th>
				<th>单元号</th>
				<th>层次</th>
				<th>实有面积</th>
				<th>基价折减</th>
				<th>计租面积</th>
				<th>层次调解率</th>
				<th>规定租金</th>
				<th>计算租金</th>
				<th>状态</th>
				{if condition="$group == 'x'"}
				<th>操作</th>
				{/if}
			</tr> 
		</thead>
		<tbody  class="j-table-center">
<!-- 			<tr>
				<td>卧室</td>
				<td>65181</td>
				<td>1</td>
				<td>100210215</td>
				<td>1002102154544</td>
				<td>市属</td>
				<td>4</td>
				<td>5</td>
				<td>14.85</td>
				<td>0%</td>
				<td>14.85</td>
				<td>105%</td>
				<td>23.39</td>
				<td>正常</td>
				<td></td>
			</tr> -->
			{volist name="room_tables" id="vo"}
			<?php if($vo['baseinfo']['room_pub_num'] == 3){ $class="#27B98B"; }else{ $class=""; } ?>
			<tr>
				<td style="color:{$class}">{$params['roomtypes'][$vo['baseinfo']['room_type']]}</td>
				<td style="color:{$class}">{$vo['baseinfo']['room_number']}</td>
				<td style="color:{$class}">{$vo['baseinfo']['room_door']}</td>
				<td style="color:{$class}">{$vo['baseinfo']['ban_number']}</td>
				<td style="color:{$class}">{$vo['houseinfo'][0]['house_number']}</td>
				<td style="color:{$class}">{$vo['houseinfo'][0]['tenant_name']}</td>
				<td style="color:{$class}">{$params['owners'][$vo['baseinfo']['ban_owner_id']]}</td>
				<td style="color:{$class}">{$vo['baseinfo']['room_unit_id']}</td>
				<td style="color:{$class}">{$vo['baseinfo']['room_floor_id']}</td>
				<td style="color:{$class}">{$vo['baseinfo']['room_use_area']}</td>
				<td style="color:{$class}">{$vo['baseinfo']['room_rent_point']}</td>
				<td style="color:{$class}">{$vo['baseinfo']['room_lease_area']}</td>
				<td style="color:{$class}">{$vo['baseinfo']['floor_point']}</td>
				<td style="color:{$class}">{$vo['baseinfo']['room_pre_rent']}</td>
				<td style="color:{$class}">{$vo['baseinfo']['room_cou_rent']}</td>
				<td style="color:{$class}">{$params['status'][$vo['baseinfo']['room_status']]}</td>
				{if condition="$group == 'x'"}
				<td>	
				
					<a href="{:url('room/edit')}?id={$vo['baseinfo']['room_id']}&house_id={$data_info['house_id']}" class="j-iframe-pop" style="color:#1E9FFF;" hisi-data="{width: '1200px', height: '550px'}" title="修改房间"><label class="layui-btn layui-btn-xs layui-btn-normal">修改</label></a>
					

					<a data-href="{:url('room/del')}?id={$vo['baseinfo']['room_id']}" isreload="y" class="j-tr-del"><label  class="layui-btn layui-btn-xs layui-btn-danger">删除</label></a>

					
					<!-- <a href="{:url('renttable')}?id={{ d.room_id }}" class="layui-btn layui-btn-xs layui-btn-normal"></a>
				    <a href="{:url('renttable')}?id={{ d.room_id }}" class="layui-btn layui-btn-xs layui-btn-normal">租户</a> -->
			    </td>
			    {/if}
			</tr>
			{if condition="isset($vo['houseinfo'][1])"}
			{volist name="$vo['houseinfo']" offset="1" id="vv"}
			<?php if($vv['room_pub_num'] == 3){ $class_e="#27B98B"; }else{ $class_e=""; } ?>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td style="color:{$class_e}">{$vv['house_number']}</td>
				<td style="color:{$class_e}">{$vv['tenant_name']}</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			{/volist}
			{/if}
			{/volist}
		</tbody>
	</table>
	<div class="layui-row layui-form-item layui-col-space90">
<!-- 		<div class="j-margin-btn">
			<a href="javascript:history.go(-1)" class="layui-btn layui-btn-primary">返回</a>
		</div> -->
	</div>
	
</div>
</form>
{include file="system@block/layui" /}
<script type="text/javascript">
layui.use(['jquery'], function() {
	// var table = layui.table
	// 			,$ = layui.jquery;
	//     $(document).on('click', '.j-tr-del', function() {
 //        var that = $(this),
 //            href = !that.attr('data-href') ? that.attr('href') : that.attr('data-href');
 //            isReload = that.attr('isreload');
 //        layer.confirm('删除之后无法恢复，您确定要删除吗？', {title:false, closeBtn:0}, function(index){
 //            if (!href) {
 //                layer.msg('请设置data-href参数');
 //                return false;
 //            }
 //            var data_index = that.parents('tr').attr('data-index');
 //            console.log(that.parents('tr').attr('data-index'));
 //            $("tr[data-index='"+data_index + "']").remove();

 //            $.get(href, function(res) {
 //                console.log(res);
 //                if (res.code == 0) {
 //                    layer.msg(res.msg);
 //                } else {
 //                    if(isReload){
 //                        location.reload();
 //                    }else{
 //                        that.parents('tr').remove();
 //                    }
                    
 //                }
 //            });
 //            layer.close(index);
 //        });
 //        return false;
 //    });
})
</script>