<!-- 租金减免申请 -->
<form class="layui-form" action="" method="post" >
  <div class="j-details-box floorWrap">
	<fieldset class="layui-elem-field layui-field-title j-field-box">
		<legend>基本信息</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md12">
			<div class="j-tips-red"><i class="layui-icon layui-icon-tips"></i>申请租金减免时，请确认租户信息完整且房屋无欠租。</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>房屋编号</label>
			<div class="j-input-inline">
				<input type="text" name="house_number" value="" placeholder="点击查询"  lay-verify="required" readonly autocomplete="off" class="layui-input">
				<input type="hidden" id="ban_id" name="ban_id">
				<input type="hidden" id="house_id" name="house_id">
				<input type="hidden" id="tenant_id" name="tenant_id">
				<input type="hidden" name="group" value="x">
				<b class="j-explain-search j-ban_number">查询</b>
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">计租表</label>
			<div class="j-input-inline">
				<input type="text" value="" placeholder="" readonly autocomplete="off" class="layui-input">
				<a id="checktable" class="j-iframe-pop" hisi-data="{width: '1300px', height: '700px',refresh: 2}" title="计租表"><b id="check" class="j-explain-search hide">查看</b></a>
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">产别</label>
			<div class="j-input-inline">
				<input type="text" id="reduction_class" value="" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">楼栋编号</label>
			<div class="j-input-inline">
				<input type="text" id="reduction_id" value="" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">楼栋地址</label>
			<div class="j-input-inline">
				<input type="text" id="reduction_address" value="" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">使用性质</label>
			<div class="j-input-inline">
				<input type="text" id="reduction_nature" value="" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">月租金</label>
			<div class="j-input-inline">
				<input type="text" id="reduction_monthly_rent" value="" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">租户</label>
			<div class="j-input-inline">
				<input type="text" id="reduction_tenant" value="" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">身份证号</label>
			<div class="j-input-inline">
				<input type="text" id="reduction_idnumber" value="" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">电话</label>
			<div class="j-input-inline">
				<input type="text" id="reduction_tel" value="" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>

  <fieldset class="layui-elem-field layui-field-title j-field-box">
  	<legend>减免信息</legend>
  </fieldset>
  <div class="layui-row layui-form-item layui-col-space90">
  	<div class="layui-col-md4">
  		<label class="j-form-label"><i class="red">*</i>减免类型</label>
  		<div class="j-input-inline">
  			<select name="cut_type" class="field-cid">
  				{volist name="params['cuttypes']" id="v"}
				<option value="{$key}">{$v}</option>
				{/volist}
  			</select>
  		</div>
  	</div>
  	<div class="layui-col-md4">
  		<label class="j-form-label"><i class="red">*</i>减免金额</label>
  		<div class="j-input-inline">
  			<input type="number" name="cut_rent" value="" placeholder="" autocomplete="off" class="layui-input">
  		</div>
  	</div>
  	<div class="layui-col-md4">
  		<label class="j-form-label">减免证号</label>
  		<div class="j-input-inline">
  			<input type="text" name="cut_rent_number" value="" placeholder="" autocomplete="off" class="layui-input">
  		</div>
  	</div>
  </div>
  <div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md8">
			<label class="j-form-label">异动原因</label>
			<div class="j-input-inline">
				<input type="text" name="change_remark" value="" placeholder="" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
  <fieldset class="layui-elem-field layui-field-title j-field-box">
  	<legend>资料上传</legend>
  </fieldset>
  <div class="layui-row layui-form-item layui-col-space90">
  	<div class="layui-col-md12">
  		<div class="j-enclosure-upload clearfix">
  			<div class="j-enclosure-label">身份证</div>
  			<div class="j-enclosure-label j-uplode-icon">
  				<i><img src="/static/system/image/Group8.png"></i>点击上传
  				<button type="button" class="layui-btn layui-btn-primary" id="upload_img1">上传图片</button>
  			</div>
  			<div class="layui-form-mid layui-word-aux">限制1M</div>
  		</div>
  		<div class="j-enclosure-imgs clearfix">
  			<div id="upload_img_list1" class="upload_img_list j-viewer-img"> </div>
  		</div>
  	</div>
  	<div class="layui-upload">
  	</div>
  </div>
  <div class="layui-row layui-form-item layui-col-space90">
  	<div class="layui-col-md12">
  		<div class="j-enclosure-upload clearfix">
  			<div class="j-enclosure-label">户口本</div>
  			<div class="j-enclosure-label j-uplode-icon">
  				<i><img src="/static/system/image/Group8.png"></i>点击上传
  				<button type="button" class="layui-btn layui-btn-primary" id="upload_img2">上传图片</button>
  			</div>
  			<div class="layui-form-mid layui-word-aux">限制1M</div>
  		</div>
  		<div class="j-enclosure-imgs clearfix">
  			<div id="upload_img_list2" class="upload_img_list j-viewer-img"> </div>
  		</div>
  	</div>
  	<div class="layui-upload">
  	</div>
  </div>
  <div class="layui-row layui-form-item layui-col-space90">
  	<div class="layui-col-md12">
  		<div class="j-enclosure-upload clearfix">
  			<div class="j-enclosure-label">租约</div>
  			<div class="j-enclosure-label j-uplode-icon">
  				<i><img src="/static/system/image/Group8.png"></i>点击上传
  				<button type="button" class="layui-btn layui-btn-primary" id="upload_img3">上传图片</button>
  			</div>
  			<div class="layui-form-mid layui-word-aux">限制1M</div>
  		</div>
  		<div class="j-enclosure-imgs clearfix">
  			<div id="upload_img_list3" class="upload_img_list j-viewer-img"> </div>
  		</div>
  	</div>
  	<div class="layui-upload">
  	</div>
  </div>
  <div class="layui-row layui-form-item layui-col-space90">
  	<div class="layui-col-md12">
  		<div class="j-enclosure-upload clearfix">
  			<div class="j-enclosure-label">低保证</div>
  			<div class="j-enclosure-label j-uplode-icon">
  				<i><img src="/static/system/image/Group8.png"></i>点击上传
  				<button type="button" class="layui-btn layui-btn-primary" id="upload_img4">上传图片</button>
  			</div>
  			<div class="layui-form-mid layui-word-aux">限制1M</div>
  		</div>
  		<div class="j-enclosure-imgs clearfix">
  			<div id="upload_img_list4" class="upload_img_list j-viewer-img"> </div>
  		</div>
  	</div>
  	<div class="layui-upload">
  	</div>
  </div>
  <div class="layui-row layui-form-item layui-col-space90">
  	<div class="layui-col-md12">
  		<div class="j-enclosure-upload clearfix">
  			<div class="j-enclosure-label">租房保障申请表</div>
  			<div class="j-enclosure-label j-uplode-icon">
  				<i><img src="/static/system/image/Group8.png"></i>点击上传
  				<button type="button" class="layui-btn layui-btn-primary" id="upload_img5">上传图片</button>
  			</div>
  			<div class="layui-form-mid layui-word-aux">限制1M</div>
  		</div>
  		<div class="j-enclosure-imgs clearfix">
  			<div id="upload_img_list5" class="upload_img_list j-viewer-img"> </div>
  		</div>
  	</div>
  	<div class="layui-upload">
  	</div>
  </div>
  <div class="layui-row layui-form-item layui-col-space90">
		<div class="j-margin-btn">
				<a href="javascript:history.go(-1)" class="layui-btn layui-btn-primary">取消</a>
				<button type="submit" j-data="{'save_type':'save'}" class="layui-btn" lay-submit lay-filter="formSubmit">保存</button>
				<button type="submit" j-data="{'save_type':'submit'}" class="layui-btn" lay-submit lay-filter="formSubmit">保存并提交</button>
		</div>
	</div>
  </div>
</form>
{include file="system@block/layui" /}
<script type="text/javascript">
	/*上传参数设定*/
	var upurl = "{:url('system/Api/upload')}?input=TenantReIDCard&group=change&water=no"; //身份证
	var upurl1 = "{:url('system/Api/upload')}?input=Residence&group=change&water=no"; //户口本
	var upurl2 = "{:url('system/Api/upload')}?input=HouseForm&group=change&water=no"; //租约
	var upurl3 = "{:url('system/Api/upload')}?input=Lowassurance&group=change&water=no"; //低保证
	var upurl4 = "{:url('system/Api/upload')}?input=Housingsecurity&group=change&water=no"; //租房保障申请表
	var duotu = true; //是否为多图上传true false
	console.log(params);
	layui.use(['jquery', 'laydate', 'upload', 'form'], function() {
		var laydate = layui.laydate,
			$ = layui.$,
			upload = layui.upload,
			form = layui.form;
		//获取楼栋查询器
		 $(".layui-form").on('click','.j-ban_number',function(){
			layer.open({
						title: '房屋查询器'
						,type: 2
						,offset: 'auto'
						,area: ['70%', '60%']
						, btn:false
						,pageTabs: false
						,content: '{:url('system/index/house')}'
						,btn: ['确定','关闭']
						,yes: function(index, layero){
							var row = window["layui-layer-iframe" + index].hoesedata();
							console.log(row);
							layer.close(index);
							//楼栋信息
								$("input[name='house_number']").val(row.house_number);//获取房屋编号
								$("#checktable").attr('href',"{:url('house/house/renttable')}?group=y&id="+row.house_id);//获取房屋编号
								$("#check").removeClass('hide');
								$("#ban_id").val(row.ban_id);
								$("#house_id").val(row.house_id);
								$("#tenant_id").val(row.tenant_id);
								$("#reduction_class").val(params.owners[row.ban_owner_id]);//获取产别
								$("#reduction_id").val(row.ban_number);//获取楼栋编号
								$("#reduction_address").val(row.ban_address);//获取楼栋地址
								$("#reduction_nature").val(params.uses[row.house_use_id]);//获取楼栋使用性质
								$("#reduction_monthly_rent").val(row.house_yue_rent);//获取月租金
								$("#reduction_tenant").val(row.tenant_name);//获取租户
								$("#reduction_idnumber").val(row.tenant_card);//获取身份证号
								$("#reduction_tel").val(row.tenant_tel);//获取电话

						},btn2: function(index, layero){
							layer.close(index);
						}
			 });
		})
		//双击查询记租表
		 $(".layui-form").on('click','.j-rent-list',function(){
			 layer.open({
			 			title: '记租表'
			 			,type: 2
			 			,offset: 'auto'
			 			,area: ['70%', '60%']
			 			, btn:false
			 			,pageTabs: false
			 			,content: '{:url('system/index/house')}'
			 			,btn: ['确定','关闭']
			 			,yes: function(index, layero){
			 				layer.close(index);
			 			},btn2: function(index, layero){
			 				layer.close(index);
			 			}
			  });
		 })
        //身份证
        upload.render({
        	elem: '#upload_img1',
        	url: upurl,
        	size: 1024,
        	multiple: duotu,
        	field: 'TenantReIDCard',
        	before: function(obj) {
        		layer.msg('图片上传中...', {
        			icon: 16,
        			shade: 0.01,
        			time: 0
        		})
        	},
        	done: function(res) {
        		layer.close(layer.msg()); //关闭上传提示窗口
        		if (duotu == true) {
        			//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
        			$('#upload_img_list1').append('<dd class="item_img" id="' + res.data.name +
        				'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
        				'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
        		} else {
        			//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
        			$('#upload_img_list1').html('<dd class="item_img" id="' + res.data.name +
        				'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
        				'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
        		}
        	}
        })
		//户口本
		upload.render({
			elem: '#upload_img2',
			url: upurl1,
			size: 1024,
			multiple: duotu,
			field: 'Residence',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list2').append('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list2').html('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
				}
			}
		})
		//租约
		upload.render({
			elem: '#upload_img3',
			url: upurl2,
			size: 1024,
			multiple: duotu,
			field: 'HouseForm',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list3').append('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list3').html('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
				}
			}
		})
		//低保证
		upload.render({
			elem: '#upload_img4',
			url: upurl3,
			size: 1024,
			multiple: duotu,
			field: 'Lowassurance',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list4').append('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list4').html('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
				}
			}
		})
		//租房保障申请表
		upload.render({
			elem: '#upload_img5',
			url: upurl4,
			size: 1024,
			multiple: duotu,
			field: 'Housingsecurity',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list5').append('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list5').html('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
				}
			}
		})
		/*
		删除上传图片
		*/
		$(document).on("click", ".upload_img_list dd i", function() {
			$(this).parents("dd").remove();
		})
	});
</script>
