<link rel="stylesheet" href="__ADMIN_JS__/select/formSelects-v4.css">
<!-- 租金减免年审/申请列表 -->
<div class="j-table-content title">
	<div class="page-toolbar j-page-toolbar clearfix">
		<form class="layui-form layui-form-pane" action="{:url()}?group=y" method="get" id="hisi-table-search">
			<div class="j-search-fl layui-col-md8  fl">
				<div class="layui-input-inline layui-col-md2 j-input-margin j-width-100">
					<input type="text" name="reduction_address" placeholder="楼栋地址" class="layui-input">
				</div>
				<div class="layui-input-inline layui-col-md2 j-width-110 j-margin-10">
					<select name="house_use_id"  xm-select="house_use_id">
						<option value="" disabled="disabled">使用性质</option>
						{volist name="params['uses']" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				<div class="layui-input-inline j-width-90 j-margin-10">
					<select name="ban_owner_id" xm-select="ban_owner_id">
						<option value="" disabled="disabled">产别</option>
						{volist name="params['owners']" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				<div class="layui-input-inline j-input-margin j-width-100">
					<input type="text" name="tenant_name" placeholder="租户名称" class="layui-input">
				</div>
				<div class="layui-input-inline j-width-120 j-margin-10">
					<select name="cut_type" xm-select="cut_type">
						<option value="" disabled="disabled">减免类型</option>
						{volist name="params['cuttypes']" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				<div class="layui-input-inline j-input-margin j-width-100">
					<input type="text" name="cut_rent" placeholder="减免金额" class="layui-input">
				</div>
				<div class="layui-input-inline j-input-margin j-width-100">
					<input type="text" name="ctime" id="date"  placeholder="申请时间" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-input-inline j-input-margin j-width-100">
					<input type="text" name="effecttime" id="date2"  placeholder="生效时间" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-input-inline j-width-110">
					<select name="change_status">
						<option value="">审核状态</option>
						<option value="1">成功</option>
						<option value="0">失败</option>
					</select>
				</div>
			</div>
			<div class="j-search-fr layui-col-md4 fr">
				<div class="layui-input-inline fr">
					<div class="layui-input-inline" style="margin-left:10px;">
						<button type="reset" class="layui-btn j-btn-reset">重置</button>
						<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
							<i class="layui-icon">&#xe615;</i>
							搜索
						</button>
						<button type="button" class="layui-btn layui-btn-warm"><i class="layui-icon iconfont j-icon-screen_icon"></i>标题筛选</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	{include file="system@block/layui" /}
	<table id="dataTable" lay-filter='dataTable' params="{$paramsJson}"></table>
	<script type="text/html" id="toolbar"></script>
	<script type="text/html" title="操作按钮模板" id="buttonTpl">
		{{#  if (d.change_status == 3) { }}
		<a href="{:url('del')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>
		{{#  } else { }}
		{{#  } }}
		<a href="{:url('detail')}?id={{ d.id }}&group=y" class="layui-btn layui-btn-xs layui-btn-normal">明细</a>
    </script>
</div>
<script type="text/javascript">
	var process_config = {'0':'失败','1':'成功'};
	var process_take = {'0':'无效','1':'有效'};
	//console.log(params);
	layui.use(['table', 'jquery','laydate','formSelects'], function() {
		var $ = layui.$;
		var s = $('#dataTable').attr('params');
		var params = JSON.parse(s);
		var table = layui.table
		   ,laydate = layui.laydate
		   ,formSelects = layui.formSelects;
		
		//日期
		  laydate.render({
		    elem: '#date'
		    ,type: 'month'
		    ,ready: function(date){
			    $('.layui-laydate li').click(function () {
			       $('.laydate-btns-confirm').trigger('click');
			    });
			}
		  });
		  //生效时间
		  laydate.render({
		    elem: '#date2'
		    ,type: 'month'
		    ,ready: function(date){
		  			    $('.layui-laydate li').click(function () {
		  			       $('.laydate-btns-confirm').trigger('click');
		  			    });
		  			}
		  });
		table.render({
			elem: '#dataTable',
			/* height: 550, */
			toolbar: '#toolbar'
				// ,defaultToolbar: ['print']
				,defaultToolbar: ['filter','exports','print'] //设置右边筛选，导出，打印显示
			    ,url: '{:url()}?group=y' //数据接口
				,page: true //开启分页
				,limit: 10
			   ,limits: [10,20,30,40,50,100,300,500,1000]
			   ,totalRow: true
			  ,text: {
					none: "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
			  }
			  ,cols: [
				[ //表头 
				 {field: 'ban_address',width: 150,align:'center',title: '楼栋地址',totalRowText: '合计'}, 
				 {field: 'change_order_number',hide:false,align:'center',minWidth: 210,title: '异动单号'},
				   {field: 'house_use_id',width: 120,align:'center',title: '使用性质', templet: function(d) {
		               return params.uses[d.house_use_id];
		           }}, 
		           {field: 'ban_owner_id',width: 120,align:'center',title: '产别', templet:function(d) {
		                return params.owners[d.ban_owner_id];
		           }},
					{field: 'tenant_name',align:'center',minWidth: 100,title: '租户'},
					{field: 'cut_type',align:'center',minWidth: 100,title: '减免类型',templet:function(d) {
		                    return params.cuttypes[d.cut_type];
		            }},
					{field: 'cut_rent',align:'center',minWidth: 100,title: '减免金额', totalRow: true},
					// ,{
					// 	field: 'expire_time',
					// 	align:'center',
					// 	width: 160,
					// 	title: '减免到期'
					// }
					{field: 'ctime',align:'center',minWidth: 100,title: '申请时间'},
					{field: 'ftime',align:'center',minWidth: 100,title: '完成时间'},
					{field: 'entry_date',align:'center',width: 100,title: '生效时间'},
					{field: 'change_status',align:'center',minWidth: 160,title: '审核状态', templet: function(d) {
		                    return process_config[d.change_status];
		                }}, 
					{title: '操作',width: 260,align:'center',templet: '#buttonTpl',fixed: 'right'}
				]
			],
			done: function(res, curr, count) {
				$(".layui-table-total td[data-field='cut_rent']").find("div").text(res.total_cut_rent);
               //导出转换后台数据
                 var exportData=res.data;
                 for(i in exportData){
               	 exportData[i].ban_owner_id = params.owners[exportData[i].ban_owner_id];//转化产别
               	 exportData[i].house_use_id = params.uses[exportData[i].house_use_id];//转化使用性质
               	 exportData[i].cut_type = params.cuttypes[exportData[i].cut_type];//转化减免类型
               	 exportData[i].change_status = process_config[exportData[i].change_status];//转化审核状态
				 exportData[i].is_valid = process_take[exportData[i].is_valid];//转化是否有效
                }
			}
		},isShowInst)
	});
</script>