<!-- 租金减免审核 -->
<form class="layui-form" action="" method="post" >
  <div class="j-details-box floorWrap">
	<fieldset class="layui-elem-field layui-field-title j-field-box">
		<legend>基本信息</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md12">
			<div class="j-tips-red"><i class="layui-icon layui-icon-tips"></i>申请租金减免时，请确认租户信息完整且房屋无欠租。</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">计租表</label>
			<div class="j-input-inline">
				<input type="text" name="reduction_rentlist" value="685224232411" placeholder=""   readonly autocomplete="off" class="layui-input j-rent-list">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">产别</label>
			<div class="j-input-inline">
				<input type="text" name="reduction_class" value="住宅" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">楼栋编号</label>
			<div class="j-input-inline">
				<input type="text" name="reduction_id" value="85696365263486" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">楼栋地址</label>
			<div class="j-input-inline">
				<input type="text" name="reduction_address" value="武汉" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">使用性质</label>
			<div class="j-input-inline">
				<input type="text" name="reduction_nature" value="" placeholder="住宅"   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">月租金</label>
			<div class="j-input-inline">
				<input type="text" name="reduction_monthly_rent" value="60.00" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">租户</label>
			<div class="j-input-inline">
				<input type="text" name="reduction_tenant" value="张三" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">身份证号</label>
			<div class="j-input-inline">
				<input type="text" name="reduction_idnumber" value="6836992689433587" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">电话</label>
			<div class="j-input-inline">
				<input type="text" name="reduction_tel" value="139654874584" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
  <fieldset class="layui-elem-field layui-field-title j-field-box">
  	<legend>减免信息</legend>
  </fieldset>
  <div class="layui-row layui-form-item layui-col-space90">
  	<div class="layui-col-md4">
  		<label class="j-form-label">减免类型</label>
  		<div class="j-input-inline">
			<input type="text" name="reduction_class" value="低保户" placeholder=""   readonly autocomplete="off" class="layui-input">
  		</div>
  	</div>
  	<div class="layui-col-md4">
  		<label class="j-form-label">减免金额</label>
  		<div class="j-input-inline">
  			<input type="number" name="reduction_waiver_amount" value="100" readonly placeholder="" autocomplete="off" class="layui-input">
  		</div>
  	</div>
  	<div class="layui-col-md4">
  		<label class="j-form-label">减免证号</label>
  		<div class="j-input-inline">
  			<input type="text" name="reduction_card_number" value="58863696354742" placeholder="" autocomplete="off" class="layui-input">
  		</div>
  	</div>
  </div>
  <fieldset class="layui-elem-field layui-field-title j-field-box">
  	<legend>资料上传</legend>
  </fieldset>
  <div class="layui-row layui-form-item layui-col-space90">
  	<div class="layui-col-md12">
  		<div class="j-enclosure-label clearfix">身份证</div>
  		<div class="j-enclosure-img j-viewer-img clearfix">
  			<ul>
  				<li>
  					<img src="/upload/ban/image/20190917/530e20820c40465858863a391626656d.png">
  				</li>
  				<li>
  					<img src="/upload/ban/image/20190917/43e37b86505f7528d20237da2c45d537.png">
  				</li>
  			</ul>
  	    </div>
  	</div>
  </div>
  <div class="layui-row layui-form-item layui-col-space90">
  	<div class="layui-col-md12">
  		<div class="j-enclosure-label clearfix">户口本</div>
  		<div class="j-enclosure-img j-viewer-img clearfix">
  			<ul>
  				<li>
  					<img src="/upload/ban/image/20190917/530e20820c40465858863a391626656d.png">
  				</li>
  				<li>
  					<img src="/upload/ban/image/20190917/43e37b86505f7528d20237da2c45d537.png">
  				</li>
  			</ul>
  	    </div>
  	</div>
  </div>
  <div class="layui-row layui-form-item layui-col-space90">
  	<div class="layui-col-md12">
  		<div class="j-enclosure-label clearfix">租约</div>
  		<div class="j-enclosure-img j-viewer-img clearfix">
  			<ul>
  				<li>
  					<img src="/upload/ban/image/20190917/530e20820c40465858863a391626656d.png">
  				</li>
  				<li>
  					<img src="/upload/ban/image/20190917/43e37b86505f7528d20237da2c45d537.png">
  				</li>
  			</ul>
  	    </div>
  	</div>
  </div>
  <div class="layui-row layui-form-item layui-col-space90">
  	<div class="layui-col-md12">
  		<div class="j-enclosure-label clearfix">低保证</div>
  		<div class="j-enclosure-img j-viewer-img clearfix">
  			<ul>
  				<li>
  					<img src="/upload/ban/image/20190917/530e20820c40465858863a391626656d.png">
  				</li>
  				<li>
  					<img src="/upload/ban/image/20190917/43e37b86505f7528d20237da2c45d537.png">
  				</li>
  			</ul>
  	    </div>
  	</div>
  </div>
  <div class="layui-row layui-form-item layui-col-space90">
  	<div class="layui-col-md12">
  		<div class="j-enclosure-label clearfix">租房保障申请表</div>
  		<div class="j-enclosure-img j-viewer-img clearfix">
  			<ul>
  				<li>
  					<img src="/upload/ban/image/20190917/530e20820c40465858863a391626656d.png">
  				</li>
  				<li>
  					<img src="/upload/ban/image/20190917/43e37b86505f7528d20237da2c45d537.png">
  				</li>
  			</ul>
  	    </div>
  	</div>
  </div>
  <div class="layui-row layui-form-item layui-col-space90">
  	<div class="layui-col-md12">
  		<div class="j-enclosure-upload clearfix">
  			<div class="j-enclosure-label">会审单</div>
  			<div class="j-enclosure-label j-uplode-icon">
  				<i><img src="/static/system/image/Group8.png"></i>点击上传
  				<button type="button" class="layui-btn layui-btn-primary" id="upload_img2">上传图片</button>
  			</div>
  			<div class="layui-form-mid layui-word-aux">限制1M</div>
  		</div>
  		<div class="j-enclosure-imgs clearfix">
  			<div id="upload_img_list2" class="upload_img_list j-viewer-img"> </div>
  		</div>
  	</div>
  	<div class="layui-upload">
  	</div>
  </div>
  <fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
	 <legend>审批状态</legend>
  </fieldset>
  <div class="layui-row layui-form-item layui-col-space90">
  		   <div class="j-status-bar">
  				<ul>
  					<li class="layui-col-xs2 on">
  						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
  						<p>房管员</p>
  					</li>
  					<li class="layui-col-xs2 ">
  						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
  						<p>经租会计</p>
  					</li>
  					<li class="layui-col-xs2 ">
  						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
  						<p>经租所长</p>
  					</li>
  					<li class="layui-col-xs2 ">
  						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
  						<p>经管科</p>
  					</li>
  				</ul>
  			</div>
  			<div class="j-status-result">
  				<ul>
  					<li>房管员［孙莲］于2019-09-19 10:03:19 房管员提交申请；</li>
  				</ul>
  			</div>
  	</div>	
  <div class="layui-row layui-form-item layui-col-space90">
		<div class="j-margin-btn">
			<a href="{:url('index')}?group=n" class="layui-btn layui-btn-warm">打回</a>
			<a href="javascript:;" class="layui-btn layui-btn-primary j-not-pass">不通过</a>
			<button type="submit" class="layui-btn" lay-submit lay-filter="formSubmit">通过</button>
		</div>
	</div>
  </div>
</form>
{include file="system@block/layui" /}
<!-- 图片查看 -->
<link rel="stylesheet" href="__PUBLIC_JS__/viewer/viewer.min.css?v={:config('hisiphp.version')}">
<script type="text/javascript" src="__PUBLIC_JS__/viewer/viewer-jquery.min.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript">
	/*上传参数设定*/
	var upurl1 = "{:url('system/Api/upload')}?input=Examination&group=change&water=no"; //会审单
	var duotu = true; //是否为多图上传true false
	console.log(params);
	layui.use(['jquery', 'laydate', 'upload', 'form'], function() {
		var laydate = layui.laydate,
			$ = layui.$,
			upload = layui.upload,
			form = layui.form;
		//不通过
		 $(".layui-form").on('click','.j-not-pass',function(){
			layer.open({
						title: '房屋查询器'
						,type: 2
						,offset: 'auto'
						,area: ['70%', '60%']
						, btn:false
						,pageTabs: false
						,content: '{:url('system/index/house')}'
						,btn: ['确定','关闭']
						,yes: function(index, layero){
							layer.close(index);
		
						},btn2: function(index, layero){
							layer.close(index);
						}
			 });
		})
		
		//会审单
		upload.render({
			elem: '#upload_img2',
			url: upurl1,
			size: 1024,
			multiple: duotu,
			field: 'Examination',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list2').append('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list2').html('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
				}
			}
		})
		/*
		删除上传图片
		*/
		$(document).on("click", ".upload_img_list dd i", function() {
			$(this).parents("dd").remove();
		})
	});
	//图片查看
	$('.j-viewer-img').viewer({
	   	url: 'data-original',
	 });
</script>
