<div class="j-details-box j-no-border floorWrap layui-form">
  <fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
    <legend>基本信息</legend>
  </fieldset>
   <div class="layui-row layui-form-item layui-col-space90">
  	<div class="layui-col-md4">
  		<label class="j-form-label">房间间号</label> 
  		<div class="j-input-inline">
  			<input type="text" name="room_door" value="{$data_info['room_door']}" disabled autocomplete="off" class="layui-input">
  		</div>
  	</div>
  	<div class="layui-col-md4">
  	  <label class="j-form-label">房间编号</label> 
  	  <div class="j-input-inline">
  		<input type="text" name="room_number" value="{$data_info['room_number']}" disabled autocomplete="off" class="layui-input">
  	  </div>
  	</div>
  	<div class="layui-col-md4">
  	  <label class="j-form-label">绑定楼栋</label> 
  	  <div class="j-input-inline">
  		<input type="text" name="ban_number" value="{$data_info['ban_number']}" disabled autocomplete="off" class="layui-input">
  	  </div>
  	</div>
  </div>
  <div class="layui-row layui-form-item layui-col-space90">
  	<div class="layui-col-md4">
  		<label class="j-form-label">楼栋地址</label> 
  		<div class="j-input-inline">
  			<input type="text" name="ban_address" value="{$data_info['ban_address']}" disabled autocomplete="off" class="layui-input">
  		</div>
  	</div>
  	<div class="layui-col-md4">
  	  <label class="j-form-label">房间类别</label> 
  	  <div class="j-input-inline">
  		<input type="text" name="room_type" value="{$params['roomtypes'][$data_info['room_type']]}" disabled autocomplete="off" class="layui-input">
  	  </div>
  	</div>
  	<div class="layui-col-md4">
  	  <label class="j-form-label">单元号</label> 
  	  <div class="j-input-inline">
  		<input type="text" name="room_unit_id" value="{$data_info['room_unit_id']}" disabled autocomplete="off" class="layui-input">
  	  </div>
  	</div>
  </div>
  <div class="layui-row layui-form-item layui-col-space90">
  	<div class="layui-col-md4">
  		<label class="j-form-label">层次</label> 
  		<div class="j-input-inline">
  			<input type="text" name="room_floor_id" value="{$data_info['room_floor_id']}" disabled autocomplete="off" class="layui-input">
  		</div>
  	</div>
  	<div class="layui-col-md4">
  	  <label class="j-form-label">基价折减率</label> 
  	  <div class="j-input-inline">
  		<input type="text" name="room_rent_point" value="{$data_info['room_rent_point']}" disabled autocomplete="off" class="layui-input">
  	  </div>
  	</div>
  	<div class="layui-col-md4">
  	  <label class="j-form-label">使用面积</label> 
  	  <div class="j-input-inline">
  		<input type="text" name="room_use_room" value="{$data_info['room_use_area']}" disabled autocomplete="off" class="layui-input">
  	  </div>
  	</div>
  </div>
  <div class="layui-row layui-form-item layui-col-space90">
  	<div class="layui-col-md4">
  		<label class="j-form-label">计租面积</label> 
  		<div class="j-input-inline">
  			<input type="text" name="room_lease_room" value="{$data_info['room_lease_area']}" disabled autocomplete="off" class="layui-input">
  		</div>
  	</div>
  </div>
  <fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
    <legend>绑定房屋</legend>
  </fieldset>
  <div class="layui-row layui-form-item layui-col-space90">
   {volist name="houses" id="vo" key="k"}
  	<div class="layui-col-md4">
  		<label class="j-form-label">房屋{$k}</label> 
  		<div class="j-input-inline">
  			<input type="text" name="house_number" value="{$vo}" disabled autocomplete="off" class="layui-input">
  		</div>
  	</div>
   {/volist}
  </div>
  <div class="layui-row layui-form-item layui-col-space90">
  	<div class="j-margin-btn">
  		<a href="{:url('index')}?group=n" class="layui-btn">返回</a>
  	</div>
  </div>
</div>
{include file="system@block/layui" /}