<form class="layui-form" action="{url('edit')}" method="post">
    <div class="j-details-box floorWrap">
		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>基本信息</legend>
		</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>房间类型</label>
				<div class="j-input-inline">
					 <select name="room_type" class="field-cid" type="select" required>
					     <option value="">请选择</option>
					     {volist name="params['roomtypes']" id="v" key="k"}
					     <option value="{$k}" {if condition="$k == $data_info['room_type']"}selected{/if}>{$v}</option>
					     {/volist}
					 </select>
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>间号</label>
				<div class="j-input-inline">
					<input type="text" name="room_door" value="{$data_info['room_door']}" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>单元号</label>
				<div class="j-input-inline">
					<input type="text" name="room_unit_id" value="{$data_info['room_unit_id']}" autocomplete="off" class="layui-input ">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>绑定楼栋</label>
				<div class="j-input-inline">
					 <input type="text" name="ban_number" value="{$data_info['ban_number']}" readonly autocomplete="off" readonly placeholder="点击查询" class="layui-input">
						 <b class="j-explain-search j-ban_number">查询</b>
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>层次</label>
				<div class="j-input-inline">
					<input type="text" name="room_floor_id" value="{$data_info['room_floor_id']}" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>实有面积</label>
				<div class="j-input-inline">
					<input type="text" name="room_use_area" value="{$data_info['room_use_area']}" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90 e-house">
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>绑定房屋</label>
				<div class="j-input-inline">
					 <input type="text" name="house_number[]" value="{$houseArrs[0]}"  autocomplete="off" readonly placeholder="点击查询" class="layui-input j-explain-input">
						 <b class="j-explain-search j-house_number">查询</b>
				</div>
				 {volist name="houseArrs" id="vo" offset="1"}
				     <div class="j-input-inline">
				         <input type="text" name="house_number[]" value="{$vo}" autocomplete="off" readonly placeholder="点击查询" class="layui-input">
						 <b class="j-explain-search j-house_number">查询</b>
						 <i class="icon-cancel lu-del"></i>
				     </div>
				 {/volist}
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label lu-add"><i class="layui-icon layui-icon-add-1 " style="color:#1E9FFF;"></i>添加房屋</label>
			</div>
				
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>基价折减</label>
				<div class="j-input-inline">
					 <input type="text" name="room_rent_point" value="{$data_info['room_rent_point']}" id="room_rent_point" readonly autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<input type="hidden" name="room_id" value="{$data_info['room_id']}">
		<div class="layui-row layui-form-item layui-col-space90">
				   <div class="layui-inline j-inline-margin e-inline room_rent_pointids_form"">
		            <input type="checkbox" name="room_rent_pointids[]" class="renttable" lay-filter="filter" value="1" v="5" lay-skin="primary" title="1、土地面房屋 5%">
		            <input type="checkbox" name="room_rent_pointids[]" class="renttable" lay-filter="filter" value="2" v="5" lay-skin="primary" title="2、无平顶瓦屋面、石棉瓦屋面房屋 5%">
		            <input type="checkbox" name="room_rent_pointids[]" class="renttable" lay-filter="filter" value="3" v="10" lay-skin="primary" title="3、油毡屋面房屋 10%">
		            <input type="checkbox" name="room_rent_pointids[]" class="renttable" lay-filter="filter" value="4" v="5" lay-skin="primary" title="4、室内地坪低于室外路面10厘米 5%">
		            <input type="checkbox" name="room_rent_pointids[]" class="renttable" lay-filter="filter" value="5" v="10" lay-skin="primary" title="5、室内地坪低于室外路面50厘米 10%">
		            <input type="checkbox" name="room_rent_pointids[]" class="renttable" lay-filter="filter" value="6" v="5" lay-skin="primary" title="6、室内无直接或间接采光的黑房间 5%">
		            <input type="checkbox" name="room_rent_pointids[]" class="renttable" lay-filter="filter" value="7" v="5" lay-skin="primary" title="7、无上下水、无厕所房间 5%">
		            <input type="checkbox" name="room_rent_pointids[]" class="renttable" lay-filter="filter" value="8" v="20" lay-skin="primary" title="8、两户共用厅、厨、卫生间、室内走道的分摊面积 20%">
		            <input type="checkbox" name="room_rent_pointids[]" class="renttable" lay-filter="filter" value="9" v="25" lay-skin="primary" title="9、封闭式阳台（含内、外阳台） 25%">
		            <input type="checkbox" name="room_rent_pointids[]" class="renttable" lay-filter="filter" value="10" v="25" lay-skin="primary" title="10、空间在2.2米以上的阁楼、梯间、夹层、半地下层 25%">
		          </div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="j-margin-btn">
				<button type="submit" class="layui-btn" lay-submit lay-filter="formSubmit">提交</button>
			</div>
		</div>

  </div>
</form>
{include file="system@block/layui" /}
<script type="text/javascript">
layui.use(['form', 'func'], function() {
    var $ = layui.jquery, form = layui.form;
    
    $('.lu-add').click(function(){
        var html = '<div class="layui-col-md4"><label class="j-form-label">绑定房屋</label><div class="j-input-inline"><input type="text" name="house_number[]" value="" autocomplete="off" readonly placeholder="点击查询" class="layui-input"><b class="j-explain-search j-house_number">查询</b><i class="icon-cancel lu-del"></i></div></div>';
        $('.lu-add').parent().before(html);
    });
    $('.e-house').on('click','.lu-del',function(){
        var that = $(this);
        console.log(that);
        that.parent().parent().remove();
    });
    var s = $('#room_rent_point').val();

    var strPointids = '{$data_info['room_rent_pointids']}';
    if(strPointids){
    	var strs = new Array(); //定义一数组 
		strs = strPointids.split(","); //字符分割 
		for (i=0;i<strs.length ;i++ ) 
		{
			$('.room_rent_pointids_form input[value="'+strs[i]+'"]').attr('checked', true);
			// console.log(strs[i]);
			// $(".renttable").attr("checked",true);
		}
		form.render('checkbox');
    }
    //console.log(i);
    //layui.func.assign({:json_encode($formData)});
    form.on('checkbox(filter)', function(data){
        if(data.elem.checked){
            s = Number(s) + Number($(data.elem).attr('v'));
        }else{
            s = Number(s) - Number($(data.elem).attr('v'));
        }
        
        $('#room_rent_point').val(s);
        // console.log(data.elem); //得到checkbox原始DOM对象
        // console.log(data.elem.checked); //是否被选中，true或者false
        // console.log(data.value); //复选框value值，也可以通过data.elem.value得到
        // console.log(data.othis); //得到美化后的DOM对象
    });
	//双击获取楼栋查询器
	 $(".layui-form").on('click','.j-ban_number',function(){
	layer.open({
				title: '楼栋查询器'
				,type: 2
				,offset: 'auto'
				,area: ['90%', '90%']
				, btn:false
				,pageTabs: false
				,content: '{:url('system/index/querier')}'
				,btn: ['确定','关闭']
				,yes: function(index, layero){
					var row = window["layui-layer-iframe" + index].callbackdata();
					console.log(row);
					layer.close(index);
					$("input[name='ban_number']").val(row.ban_number);//获取楼栋编号
				},btn2: function(index, layero){
					layer.close(index);
				}
	 });
	})
	//双击获取房屋查询器
	 $(".layui-form").on('click','.j-house_number',function(){
		 var that = $(this);
		 console.log(that.attr('data-id'));
		layer.open({
					title: '房屋查询器'
					,type: 2
					,offset: 'auto'
					,area: ['90%', '90%']
					, btn:false
					,pageTabs: false
					,content: '{:url('system/index/house')}'
					,btn: ['确定','关闭']
					,yes: function(index, layero){
						var row = window["layui-layer-iframe" + index].hoesedata();
						/* console.log(row); */
						layer.close(index);
						that.prev("input").val(row.house_number);//获取房屋编号
					},btn2: function(index, layero){
						layer.close(index);
					}
		 });
	})
});
</script>