<div class="j-table-content j-no-title">
	<div class="page-toolbar j-page-toolbar clearfix">
		<form class="layui-form layui-form-pane" action="{url('index')}" method="get" id="hisi-table-search">
			<div class="j-search-fl layui-col-md8  fl">
				<div class="layui-input-inline j-input-margin" style="width:150px;">
					<input type="text" name="room_number" placeholder="房间编号" class="layui-input">
				</div>
				<div class="layui-input-inline j-input-margin" style="width:120px;">
					<input type="text" name="ban_number" placeholder="楼栋编号" class="layui-input">
				</div>
				<div class="layui-input-inline j-input-margin" style="width:120px;">
					<input type="text" name="ban_address" placeholder="地址" class="layui-input">
				</div>
				{if condition="INST_LEVEL != 3"}
				<div class="layui-input-inline" style="width:120px;">
					<select name="ban_inst_id">
						<option value="">机构</option>
						{volist name=":config('inst_check_names')[INST]" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				{/if}
				<div class="layui-input-inline" style="width:120px;">
					<select name="room_type">
						<option value="">房间类型</option>
						{volist name="params['roomtypes']" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
			</div>
			<div class="j-search-fr layui-col-md4 fr">
				<div class="layui-input-inline fr">
					<div class="layui-input-inline" style="margin-left:10px;">
						<button type="reset" class="layui-btn j-btn-reset">重置</button>
						<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
							<i class="layui-icon">&#xe615;</i>
							搜索
						</button>
						<button type="button" class="layui-btn layui-btn-warm"><i class="layui-icon iconfont j-icon-screen_icon"></i>标题筛选</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	{include file="system@block/layui" /}
	<table id="dataTable" lay-filter='dataTable'></table>
	<script type="text/html" id="toolbar">
		
    </script>
	<script type="text/html" title="操作按钮模板" id="buttonTpl">
		<a href="{:url('detail')}?id={{ d.room_id }}" class="layui-btn layui-btn-xs layui-btn-normal">详情</a>
</script>
</div>
<script type="text/javascript">
	layui.use(['table', 'jquery'], function() {
		var table = layui.table;
		
		table.render({
			elem: '#dataTable'
				/* ,height: 550 */
				,toolbar: '#toolbar'
				,defaultToolbar: ['filter','exports','print'] //设置右边筛选，导出，打印显示
				,url: '{:url("house/Room/index")}'
				,page: true
				,limit: 10
				,limits: [10,20,30,40,50,100,300,500,1000]
				,text: {
					none: "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
				}
			 ,cols: [
				[ //表头
					{
						field: 'room_number',
						minWidth: 110,
						align:'center',
						title: '房间编号'
					}, {
						field: 'ban_number',
						minWidth: 110,
						align:'center',
						title: '楼栋编号'
					}, {
						field: 'ban_inst_id',
						minWidth: 120,
						align:'center',
						title: '管段',
						hide: isShowInst,
						templet: function(d) {
							return params.insts[d.ban_inst_id];
						}
					}, {
						field: 'room_type',
						width: 110,
						title: '房间类型',
						templet: function(d) {
							return params.roomtypes[d.room_type];
						}
					}, {
						field: 'ban_address',
						minWidth: 300,
						align:'center',
						title: '地址'
					}, {
						field: 'room_door',
						minWidth: 100,
						align:'center',
						title: '间号'
					}, {
						field: 'room_unit_id',
						minWidth: 100,
						align:'center',
						title: '单元号'
					}, {
						field: 'room_floor_id',
						minWidth: 100,
						align:'center',
						title: '层次'
					}, {
						field: 'room_use_area',
						minWidth: 100,
						align:'center',
						title: '使用面积'
					}, {
						title: '操作',
						Width: 260,
						minWidth: 260,
						align:'center',
						templet: '#buttonTpl',
						fixed: 'right'
					}
				]
			],
			done: function(res, curr, count) {

			}
		}, isShowInst)
	});
</script>
