<link rel="stylesheet" href="__ADMIN_JS__/select/formSelects-v4.css">
<div class="j-table-content j-no-title">
	<div class="page-toolbar j-page-toolbar clearfix">
		<form class="layui-form layui-form-pane" action="{url('index')}" method="get" id="hisi-table-search">
			<div class="j-search-fl layui-col-md8  fl">
				{if condition="in_array('room_number',$config['room_info_search'])"}
				<div class="layui-input-inline j-input-margin j-width-100">
					<input type="text" name="room_number" title="房间编号" placeholder="房间编号" class="layui-input">
				</div>
				{/if}
				{if condition="in_array('ban_number',$config['room_info_search'])"}
				<div class="layui-input-inline j-input-margin j-width-100">
					<input type="text" name="ban_number" title="楼栋编号" placeholder="楼栋编号" class="layui-input">
				</div>
				{/if}
				{if condition="in_array('ban_address',$config['room_info_search'])"}
				<div class="layui-input-inline j-input-margin j-width-100">
					<input type="text" name="ban_address" title="地址" placeholder="地址" class="layui-input">
				</div>
				{/if}
				{if condition="in_array('ban_inst_id',$config['room_info_search'])"}
				{if condition="INST_LEVEL != 3"}
				<div class="layui-input-inline j-width-120 j-margin-10">
					<select name="ban_inst_id"  xm-select="ban_inst_id">
						<option value=""  disabled="disabled">机构</option>
						{volist name=":config('inst_check_names')[INST]" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				{/if}
				{/if}
				{if condition="in_array('room_type',$config['room_info_search'])"}
				<div class="layui-input-inline j-width-115 j-margin-10">
					<select name="room_type" xm-select="room_type">
						<option value="" disabled="disabled">房间类型</option>
						{volist name="params['roomtypes']" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				{/if}
				{if condition="in_array('room_pub_num',$config['room_info_search'])"}
				<div class="layui-input-inline j-width-115 j-margin-10">
					<select name="room_pub_num" xm-select="room_pub_num">
						<option value="" disabled="disabled">租用状态</option>
						<option value="1">独用</option>
						<option value="2">公摊</option>
						<option value="3">公共</option>
						{/volist}
					</select>
				</div>
				{/if}
			</div>
			<div class="j-search-fr layui-col-md4 fr">
				<div class="layui-input-inline fr">
					<div class="layui-input-inline" style="margin-left:10px;">
						<button type="reset" class="layui-btn j-btn-reset">重置</button>
						<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
							<i class="layui-icon">&#xe615;</i>
							搜索
						</button>
						<button type="button" class="layui-btn layui-btn-warm"><i class="layui-icon iconfont j-icon-screen_icon"></i>标题筛选</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	{include file="system@block/layui" /}
	<table id="dataTable" lay-filter='dataTable'></table>
	<script type="text/html" id="toolbar">
		
    </script>
	<script type="text/html" title="操作按钮模板" id="buttonTpl">
		<a href="{:url('detail')}?id={{ d.room_id }}" class="layui-btn layui-btn-xs layui-btn-normal">详情</a>
</script>
</div>
<script type="text/javascript">
	layui.use(['table', 'jquery','formSelects'], function() {
		var table = layui.table
		    ,formSelects = layui.formSelects  ;
		
		table.render({
			elem: '#dataTable'
				/* ,height: 550 */
				,toolbar: '#toolbar'
				,defaultToolbar: ['filter','exports','print'] //设置右边筛选，导出，打印显示
				,url: '{:url("house/Room/index")}'
				,totalRow: true
				,page: true
				,limit: 10
				,limits: [10,20,30,40,50,100,300,500,1000]
				,text: {
					none: "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
				}
			 ,cols: [
				[ //表头
					{
						field: 'room_number',
						minWidth: 110,
						align:'center',
						title: '房间编号',
						totalRowText: '合计：'
					}, {
						field: 'ban_number',
						minWidth: 110,
						align:'center',
						title: '楼栋编号'
					}, {
						field: 'room_pub_num',
						width: 110,
						title: '租用状态',
						templet: function(d) {
							if(parseInt(d.room_pub_num) == 1){
								return '独用';
							}else if(parseInt(d.room_pub_num) == 2){
								return '公摊';
							}else{
								return '公共';
							}
							//return params.roomtypes[d.room_type];
						}
					}, {
						field: 'ban_inst_id',
						minWidth: 120,
						align:'center',
						title: '管段',
						hide: isShowInst,
						templet: function(d) {
							return params.insts[d.ban_inst_id];
						}
					}, {
						field: 'room_type',
						width: 110,
						title: '房间类型',
						templet: function(d) {
							return params.roomtypes[d.room_type];
						}
					}, {
						field: 'ban_address',
						minWidth: 300,
						align:'center',
						title: '地址'
					}, {
						field: 'room_door',
						minWidth: 100,
						align:'center',
						title: '间号'
					}, {
						field: 'room_unit_id',
						minWidth: 100,
						align:'center',
						title: '单元号'
					}, {
						field: 'room_floor_id',
						minWidth: 100,
						align:'center',
						title: '层次'
					}, {
						field: 'room_use_area',
						minWidth: 100,
						align:'center',
						title: '使用面积',
						totalRow: true
					}, {
						field: 'room_lease_area',
						minWidth: 100,
						align:'center',
						title: '计租面积',
						totalRow: true
					}, {
						title: '操作',
						width: 100,
						align:'center',
						templet: '#buttonTpl',
						fixed: 'right'
					}
				]
			],
			done: function(res, curr, count) {
				$(".layui-table-total td[data-field='room_lease_area']").find("div").text(res.total_room_lease_area);
				$(".layui-table-total td[data-field='room_use_area']").find("div").text(res.total_room_use_area);
				var	result = res.data;
				for (var i = 0; i < result.length; i++) {
					if(parseInt(result[i].room_pub_num) == 2){
						$("tr[data-index="+i+"]").css('color','#007AFF');
					}else if(parseInt(result[i].room_pub_num) > 2){
						$("tr[data-index="+i+"]").css('color','#27B98B');
					};
					result[i].room_type = params.roomtypes[result[i].room_type];//转化房间类型
					result[i].ban_inst_id = params.insts[result[i].ban_inst_id];//转化管段
					if(parseInt(result[i].room_pub_num) == 1){
						result[i].room_pub_num= '独用';
					}else if(parseInt(result[i].room_pub_num) == 2){
						result[i].room_pub_num= '公摊';
					}else{
						result[i].room_pub_num= '共用';
					}
				};
				
				
				
			}
		}, isShowInst)
	});
</script>
