<link rel="stylesheet" href="__PUBLIC_JS__/viewer/viewer.min.css?v={:config('hisiphp.version')}">
<form class="layui-form" action="" method="post" >
  <div class="j-details-box floorWrap">
	<fieldset class="layui-elem-field layui-field-title j-field-box">
		<legend>基本信息</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>注销类别</label>
			<div class="j-input-inline">
				<select name="cancel_type" class="field-cid" lay-verify="required">
					<option value="">请选择</option>
					{volist name="params['cancels']" id="v"}
					<option value="{$key}">{$v}</option>
					{/volist}
				</select>
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>楼栋查询</label>
			<div class="j-input-inline">
				<input type="text" name="ban_number" lay-verify="required" value="" readonly placeholder="点击查询" autocomplete="off" class="layui-input">
				<input type="hidden" name="ban_id" value="">
				<input type="hidden" name="house_id" value="">
				<b class="j-explain-search j-ban_number">查询</b>
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">楼栋地址</label>
			<div class="j-input-inline">
				<input type="text" id="ban_address" value="" autocomplete="off" class="layui-input" readonly>
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md8">
			<label class="j-form-label">异动原因</label>
			<div class="j-input-inline">
				<input type="text" name="change_remark" value="" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<fieldset  class="layui-elem-field layui-field-title j-field-box">
		<legend>基数异动</legend>
	</fieldset>
		<table  class="layui-table">
		  <thead>
			  <tr>
			    <th>楼栋编号</th>
			    <th>异动状态</th>
			    <th class="cancel">规定租金</th>
			    <th class="cancel">使用面积</th>
			    <th class="cancel">建筑面积</th>
			    <th class="cancel">房屋原价</th>
			    <th>是否注销</th>
			  </tr>
		  </thead>
		  <tbody>
		    <tr>
		  	  <td id="floor_number"></td>
			  <td>异动前</td>
			  <td class="cancel_before_1" id="floor_prescribed"><input type="hidden" name="floor_prescribed" value=""><label></label></td>
	    	  <td class="cancel_before_2" id="floor_areaofuse"><input type="hidden" name="floor_areaofuse" value=""><label></label></td>
	    	  <td class="cancel_before_3" id="floor_builtuparea"><input type="hidden" name="floor_builtuparea" value=""><label></label></td>
	    	  <td class="cancel_before_4" id="floor_original"><input type="hidden" name="floor_original" value=""><label></label></td>
			  <td rowspan="3" align="center"><input type="checkbox" name="cancel_ban" value="1" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF"></td>
		    </tr>
			<tr>
			  <td></td>
			  <td>异动</td>
			  <td class="cancel_change_1"><input type="hidden" name="cancel_change_1" value=""><label></label></td>
			  <td class="cancel_change_2"><input type="hidden" name="cancel_change_2" value=""><label></label></td>
			  <td class="cancel_change_3"><input type="hidden" name="cancel_change_3" value=""><label></label></td>
			  <td class="cancel_change_4"><input type="hidden" name="cancel_change_4" value=""><label></label></td>
			</tr>
			<tr>
			  <td></td>
			  <td>异动后</td>
			  <td class="cancel_after_1" id="changes_floor_prescribed"><input type="hidden" name="changes_floor_prescribed" value=""><label></label></td>
			  <td class="cancel_after_2" id="changes_floor_areaofuse"><input type="hidden" name="changes_floor_areaofuse" value=""><label></label></td>
			  <td class="cancel_after_3" id="changes_floor_builtuparea"><input type="hidden" name="changes_floor_builtuparea" value=""><label></label></td>
			  <td class="cancel_after_4" id="changes_floor_original"><input type="hidden" name="changes_floor_original" value=""><label></label></td>
			</tr>
		  </tbody>
		</table>
	    <table  class="layui-table hide">
	      <thead>
	    	  <tr>
	    	    <th>楼栋编号</th>
	    	    <th>规定租金</th>
	    	    <th>使用面积</th>
	    	    <th>建筑面积</th>
	    	    <th>房屋原价</th>
	    	  </tr>
	      </thead>
	      <tbody>
	        <tr>
	      	  <td id="floor_number"></td>
	    	  <td id="floor_prescribed"></td>
	    	  <td id="floor_areaofuse"></td>
	    	  <td id="floor_builtuparea"></td>
	    	  <td id="floor_original"></td>
	        </tr>
	      </tbody>
	    </table>
	<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box j-house-title">
		<legend>注销明细</legend>
	</fieldset>
	<table  class="layui-table j-house-box">
	  <thead>
		  <tr>
		    <th>房屋编号</th>
		    <th>承租人</th>
		    <th>房屋原价</th>
		    <th>建筑面积</th>
		    <th>规定租金</th>
		    <th>计租面积</th>
			<th>操作</th>
		  </tr>
	  </thead>
	  <tbody>
	    <tr><td colspan='7'><div class='j-no-content'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无数据！</div></td></tr>
	 </tbody>
	</table>
	<div class="j-cancel-show hide">
	<!-- <fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
		<legend>注销楼栋</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">楼栋编号</label>
			<div class="j-input-inline">
				<input type="text" name="cancel_number" value="" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">调整面积</label>
			<div class="j-input-inline">
				<input type="text" name="cancel_has" value="" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md12">
			<div class="j-enclosure-upload clearfix">
				<div class="j-enclosure-label">情况说明</div>
				<div class="j-enclosure-label j-uplode-icon">
					<i><img src="__ADMIN_IMG__/Group8.png" /></i>点击上传
					<button type="button" class="layui-btn layui-btn-primary" id="upload_img3">上传图片</button>
				</div>
				<div class="layui-form-mid layui-word-aux">限制1M</div>
			</div>
			<div class="j-enclosure-imgs clearfix">
				<div id="upload_img_list4" class="upload_img_list j-viewer-img"> </div>
			</div>
		</div>
	</div> -->
	</div>
	<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
		<legend>补充附件</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md12">
			<div class="j-enclosure-upload clearfix">
				<div class="j-enclosure-label">附件一</div>
				<div class="j-enclosure-label j-uplode-icon">
					<i><img src="__ADMIN_IMG__/Group8.png" /></i>点击上传
					<button type="button" class="layui-btn layui-btn-primary" id="upload_img1">上传图片</button>
				</div>
				<div class="layui-form-mid layui-word-aux">限制3M</div>
			</div>
			<div class="j-enclosure-imgs clearfix">
				<div id="upload_img_list2" class="upload_img_list j-viewer-img"> </div>
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md12">
			<div class="j-enclosure-upload clearfix">
				<div class="j-enclosure-label">附件二</div>
				<div class="j-enclosure-label j-uplode-icon">
					<i><img src="__ADMIN_IMG__/Group8.png" /></i>点击上传
					<button type="button" class="layui-btn layui-btn-primary" id="upload_img2">上传图片</button>
				</div>
				<div class="layui-form-mid layui-word-aux">限制3M</div>
			</div>
			<div class="j-enclosure-imgs clearfix">
				<div id="upload_img_list3" class="upload_img_list j-viewer-img"> </div>
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md12">
			<div class="j-enclosure-upload clearfix">
				<div class="j-enclosure-label">其他</div>
				<div class="j-enclosure-label j-uplode-icon">
					<i><img src="__ADMIN_IMG__/Group8.png" /></i>点击上传
					<button type="button" class="layui-btn layui-btn-primary" id="upload_img3">上传图片</button>
				</div>
				<div class="layui-form-mid layui-word-aux">限制3M</div>
			</div>
			<div class="j-enclosure-imgs clearfix">
				<div id="upload_img_list4" class="upload_img_list j-viewer-img"> </div>
			</div>
		</div>
	</div>

  <div class="layui-row layui-form-item layui-col-space90">
		<div class="j-margin-btn">
			<a href="javascript:history.go(-1)" class="layui-btn layui-btn-primary">取消</a>
			<button type="submit" j-data="{'save_type':'save'}" class="layui-btn" lay-submit lay-filter="formSubmit">保存</button>
			<button type="submit" j-data="{'save_type':'submit'}" class="layui-btn" lay-submit lay-filter="formSubmit">保存并提交</button>
		</div>
	</div>
  </div>
</form>
{include file="system@block/layui" /}
<script type="text/javascript" src="__PUBLIC_JS__/viewer/viewer-jquery.min.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript" src="__ADMIN_VIEWJS__/deal_cancel_apply.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript">
	var upurl2 = "{:url('system/Api/upload')}?input=ChangeCancelOne&group=change&water=no"; //附件1
	var upurl3 = "{:url('system/Api/upload')}?input=ChangeCancelTwo&group=change&water=no"; //附件2
	var upurl4 = "{:url('system/Api/upload')}?input=ChangeCancelThree&group=change&water=no"; //附件2
	//var upurl4 = "{:url('system/Api/upload')}?input=factsheets&group=ban&water=no"; //情况说明
	var duotu = true; //是否为多图上传true false
	layui.use(['jquery', 'laydate', 'upload', 'form'], function() {
		var laydate = layui.laydate,
			$ = layui.$,
			upload = layui.upload,
			form = layui.form;
		//限制input输入框字符
		$("input[type=number]").keypress(function(e) {
		　　if (!String.fromCharCode(e.keyCode).match(/[0-9\.]/)) {
		　　　　return false;
		　　}
		});
		function initialvalue(){
			$(".j-house-box tbody tr").each( function(){
				if($(this).find(".house_original input").val()==""){
					$(this).find(".house_original input").val(0);
				}
				if($(this).find(".house_builtuparea input").val()==""){
					$(this).find(".house_builtuparea input").val(0);
				}
			})	
		}
		//获取楼栋查询器
		 $(".layui-form").on('click','.j-ban_number',function(){
		layer.open({
					title: '楼栋查询器'
					,type: 2
					,offset: 'auto'
					,area: ['70%', '90%']
					,btn:false
					,pageTabs: false
					,content: '{:url('system/index/cancellation')}?change_type=8&hisi_iframe=yes'
					,btn: ['确定','关闭']
					,yes: function(index, layero){
						var row = window["layui-layer-iframe" + index].callbackdata();
						var rows = window["layui-layer-iframe" + index].callbackdatas();
						var trData = '';
						//console.log(row);
						//console.log(rows);
						if(!row){
							layer.msg("请选择楼栋!");
						}
						else if(!rows){
							layer.msg("请选择房屋!");
						}
						else if(!rows.length==0){
						$('.j-house-box tbody').html("");
						$("input[name='ban_number']").val(row.ban_number);//获取楼栋编号
						$("input[name='ban_id']").val(row.ban_id);//获取楼栋id
						$("#ban_address").val(row.ban_address);//获取地址
						//楼栋信息
						$("#floor_number").text(row.ban_number);//获取表格楼栋编号
						$("#floor_prescribed label").text(row.ban_civil_rent);//获取表格规定租金
						$("#floor_prescribed input").val(row.ban_civil_rent);//获取隐藏域的值
						$("#floor_areaofuse label").text(row.ban_use_area);//获取表格使用面积
						$("#floor_areaofuse input").val(row.ban_use_area);//获取隐藏域的值
						$("#floor_builtuparea label").text(row.ban_civil_area);//获取表格建筑面积
						$("#floor_builtuparea input").val(row.ban_civil_area);//获取隐藏域的值
						$("#floor_original label").text(row.ban_civil_oprice);//获取表格房屋原价
						$("#floor_original input").val(row.ban_civil_oprice);//获取隐藏域的值
						$('.j-house-box tbody').html('');
						$('.cancel_change_1 label').text($('#floor_prescribed label').text());//异动规定租金
						/* $('#changes_floor_prescribed label').text($('#floor_prescribed').text());//异动后规定租金初始值
						$('#changes_floor_areaofuse label').text($('#floor_areaofuse').text());//异动后使用面积初始值
						$('#changes_floor_builtuparea label').text($('#floor_builtuparea').text()); //异动后建筑面积初始值
						$('#changes_floor_original label').text($('#floor_original').text());//异动后房屋原价初始值 */
						
						var sumrule =0,//规定租金异动初始金额
						    sumruleold =0;//规定租金异动后金额
						var sumuse =0,//使用面积异动初始面积
						    sumuseold =0;//使用面积异动后面积
						var sumbuildings =0,//建筑面积异动初始面积
						    sumbuildingsold =0;//建筑面积异动后面积
						var sumoriginal =0,//房屋原价异动初始面积
						    sumoriginalold =0;//房屋原价异动后面积
						//房屋信息
						if(rows){
							//var houseidData = '';
							for(var i=0;i<rows.length;i++) {
								//houseidData += ','+rows[i].house_id;
								var trData ='<tr>\
											<td class="house_number"><input type="hidden" name="house_id['+i+']" value="'+rows[i].house_id+'"><input type="hidden" name="house_use_id['+i+']" value="'+rows[i].house_use_id+'"><input type="hidden" name="house_number['+i+']" value="'+rows[i].house_number+'">'+rows[i].house_number+'</td>\
											<td class="house_lessee"><input type="hidden" name="tenant_id['+i+']" value="'+rows[i].tenant_id+'"><input type="hidden" name="house_lessee['+i+']" value="'+rows[i].tenant_name+'">'+rows[i].tenant_name+'</td>\
											<td class="house_original"><input type="number" min="0" class="layui-input" lay-verify="required" name="house_original['+i+']" value="'+rows[i].house_oprice+'"></td>\
											<td class="house_builtuparea"><input type="number" min="0" class="layui-input" lay-verify="required" name="house_builtuparea['+i+']" value="'+rows[i].house_area+'"></td>\
											<td class="house_prescribed"><input type="hidden" name="house_prescribed['+i+']" value="'+rows[i].house_pre_rent+'">'+rows[i].house_pre_rent+'</td>\
											<td class="house_rentalarea"><input type="hidden" name="house_rentalarea['+i+']" value="'+rows[i].house_lease_area+'">'+rows[i].house_lease_area+'</td>\
											<td class="house_delete"><label  class="layui-btn layui-btn-xs layui-btn-danger">删除</label></td>\
										</tr>';
						    initialvalue();
							$('.j-house-box tbody').append(trData);
							//规定租金计算
							sumrule += parseFloat(rows[i].house_pre_rent).toFixed(2)*100;
							$(".cancel_change_1 label").text(sumrule.toFixed(2) / 100);
							$(".cancel_change_1 input").val(sumrule.toFixed(2) / 100)//获取隐藏域的值
						    sumruleold = parseFloat($('.cancel_before_1 label').text()).toFixed(2)*100 -sumrule ;
							$('.cancel_after_1 label').text(sumruleold.toFixed(2) / 100);
							$('.cancel_after_1 input').val(sumruleold.toFixed(2) / 100);//获取隐藏域的值
						    //使用面积计算
							sumuse += parseFloat(rows[i].house_lease_area).toFixed(2)*100;
							$(".cancel_change_2 label").text(sumuse.toFixed(2) / 100);
							$(".cancel_change_2 input").val(sumuse.toFixed(2) / 100);//获取隐藏域的值
							sumuseold = parseFloat($('.cancel_before_2 label').text()).toFixed(2)*100 -sumuse ;
							$('.cancel_after_2 label').text(sumuseold.toFixed(2) / 100);
							$('.cancel_after_2 input').val(sumuseold.toFixed(2) / 100);//获取隐藏域的值
							//建筑面积
							sumbuildings += parseFloat(rows[i].house_area).toFixed(2)*100;
							$(".cancel_change_3 label").text(sumbuildings.toFixed(2) / 100);
							$(".cancel_change_3 input").val(sumbuildings.toFixed(2) / 100);//获取隐藏域的值
							sumbuildingsold = parseFloat($('.cancel_before_3 label').text()).toFixed(2)*100 -sumbuildings ;
							$('.cancel_after_3 label').text(sumbuildingsold.toFixed(2) / 100);
							$('.cancel_after_3 input').val(sumbuildingsold.toFixed(2) / 100);//获取隐藏域的值
							//房屋原价
							/* $(".house_original").bind("input propertychange",function(){ */
								sumoriginal += parseFloat(rows[i].house_oprice).toFixed(2)*100;
								$(".cancel_change_4 label").text(sumoriginal.toFixed(2) / 100);
								$(".cancel_change_4 input").val(sumoriginal.toFixed(2) / 100);//获取隐藏域的值
								sumoriginalold = parseFloat($('.cancel_before_4 label').text()).toFixed(2)*100 -sumoriginal ;
								$('.cancel_after_4 label').text(sumoriginalold.toFixed(2) / 100);
								$('.cancel_after_4 input').val(sumoriginalold.toFixed(2) / 100);//获取隐藏域的值
							/* }); */
						  }
						 //  houseidData = houseidData.replace(/^(\s|,)+|(\s|,)+$/g, '');
							// $("input[name='house_id']").val(houseidData);//获取房屋编号
							layer.close(index);
						}
					}
						else{
							layer.msg("房屋没选择!");
							return false;
						}
						if(	$('.j-house-box tbody').html()==''){
							$(".j-house-box,.j-house-title").hide();
						}
						else{
							$(".j-house-box,.j-house-title").show();
						}
						//计算
						function computation(){
							initialvalue();
							sumbuildings = 0;
							sumoriginal = 0;
							var trList = $(".j-house-box tbody").children("tr");
							for (var j=0;j<trList.length;j++) {
								var tdArr = trList.eq(j).find("td"); //遍历td  
								    //房屋原价改变重新计算
									sumbuildings += parseFloat(tdArr.eq(3).find("input").val()).toFixed(2)*100;//输入框改变建筑面积
									$(".cancel_change_3 label").text(sumbuildings.toFixed(2) / 100);
									$(".cancel_change_3 input").val(sumbuildings.toFixed(2) / 100);//获取隐藏域的值
									sumbuildingsold = parseFloat($('.cancel_before_3 label').text()).toFixed(2)*100 -sumbuildings ;
									$('.cancel_after_3 label').text(sumbuildingsold.toFixed(2) / 100);
									$('.cancel_after_3 input').val(sumbuildingsold.toFixed(2) / 100);//获取隐藏域的值
									//房屋原价改变重新计算
									sumoriginal += parseFloat(tdArr.eq(2).find("input").val()).toFixed(2)*100;
									$(".cancel_change_4 label").text(sumoriginal.toFixed(2) / 100);
									$(".cancel_change_4 input").val(sumoriginal.toFixed(2) / 100);//获取隐藏域的值
									sumoriginalold = parseFloat($('.cancel_before_4 label').text()).toFixed(2)*100 -sumoriginal ;
									$('.cancel_after_4 label').text(sumoriginalold.toFixed(2) / 100);
									$('.cancel_after_4 input').val(sumoriginalold.toFixed(2) / 100);//获取隐藏域的值
								
							}
						}
						//删除
						$(".house_delete").click(function(){
							var that=$(this);
						   layer.confirm('确定要删除吗？', function(index){
						     that.parents("tr").remove();
						     computation();
						     layer.close(index);
						   });  
						})
						//输入框房屋原价改变重新计算
						$(".house_builtuparea").bind("input propertychange",function(){
							computation();
						});
						//输入框房屋原价改变重新计算
						$(".house_original").bind("input propertychange",function(){
							computation();
						});
						
					
					},btn2: function(index, layero){
						layer.close(index);
					}
		 });
		})
		
		//待优化
		/* var lengths = $(".cancel").length;
		 for(var i=1;i<=4;i++){
			 //console.log(i);
			 $(".cancel_change_"+i).change(function(){console.log(i);
			 	var sum = parseFloat($('.cancel_before_'+i).text()).toFixed(2)*100 - parseFloat($('.cancel_change_'+i).val()).toFixed(2)*100;
			 	var sum1 = parseFloat($('.cancel_before_'+i).text()).toFixed(2)*100;
			 	if($('.cancel_change_'+i).val()=='')
			 	{
			 		$('.cancel_after_'+i).text(sum1.toFixed(2) / 100);
			 	}
			 	else if(Number($('.cancel_change_'+i).val()) < Number($('.cancel_before_'+i).text())){
			 		$('.cancel_after_'+i).text(sum.toFixed(2) / 100);
			 	}
			 	else if(Number($('.cancel_change_'+i).val()) >= Number($('.cancel_before_'+i).text())){
			 		$('.cancel_change_'+i).val($('.cancel_before_'+i).text());
			 		$('.cancel_after_'+i).text(0);
			 	}
			 }); 
		 } */
		 
		     /* var i=1;
			 var sums =0;
		 	 //console.log(i);
		 	 $(".cancel_change_"+i).bind("input propertychange",function(){ 
		 	 	sums = parseFloat($('.cancel_before_'+i).text()).toFixed(2)*100 - parseFloat($('.cancel_change_'+i).text($('#floor_prescribed').text())).toFixed(2)*100;
				$('.cancel_after_'+i).text(sums.toFixed(2) / 100);
		 	 	if($('.cancel_change_'+i).val()=='')
		 	 	{
		 	 		$('.cancel_after_'+i).text(sum1.toFixed(2) / 100);
		 	 	}
		 	 	else if(Number($('.cancel_change_'+i).val()) < Number($('.cancel_before_'+i).text())){
		 	 		$('.cancel_after_'+i).text(sum.toFixed(2) / 100);
		 	 	}
		 	 	else if(Number($('.cancel_change_'+i).val()) >= Number($('.cancel_before_'+i).text())){
		 	 		$('.cancel_change_'+i).val($('.cancel_before_'+i).text());
		 	 		$('.cancel_after_'+i).text(0);
		 	 	}
		 	/* }); */
			 /* var j=2;
			 //console.log(i);
			 $(".cancel_change_"+j).bind("input propertychange",function(){console.log(j);
			 	var sum = parseFloat($('.cancel_before_'+j).text()).toFixed(2)*100 - parseFloat($('.cancel_change_'+j).val()).toFixed(2)*100;
			 	var sum1 = parseFloat($('.cancel_before_'+j).text()).toFixed(2)*100;
			 	if($('.cancel_change_'+j).val()=='')
			 	{
			 		$('.cancel_after_'+j).text(sum1.toFixed(2) / 100);
			 	}
			 	else if(Number($('.cancel_change_'+j).val()) < Number($('.cancel_before_'+j).text())){
			 		$('.cancel_after_'+j).text(sum.toFixed(2) / 100);
			 	}
			 	else if(Number($('.cancel_change_'+j).val()) >= Number($('.cancel_before_'+j).text())){
			 		$('.cancel_change_'+j).val($('.cancel_before_'+j).text());
			 		$('.cancel_after_'+j).text(0);
			 	}
			 }); */
			 /* var k=3;
			 //console.log(i);
			 $(".cancel_change_"+k).bind("input propertychange",function(){console.log(k);
			 	var sum = parseFloat($('.cancel_before_'+k).text()).toFixed(2)*100 - parseFloat($('.cancel_change_'+k).val()).toFixed(2)*100;
			 	var sum1 = parseFloat($('.cancel_before_'+k).text()).toFixed(2)*100;
			 	if($('.cancel_change_'+k).val()=='')
			 	{
			 		$('.cancel_after_'+k).text(sum1.toFixed(2) / 100);
			 	}
			 	else if(Number($('.cancel_change_'+k).val()) < Number($('.cancel_before_'+k).text())){
			 		$('.cancel_after_'+k).text(sum.toFixed(2) / 100);
			 	}
			 	else if(Number($('.cancel_change_'+k).val()) >= Number($('.cancel_before_'+k).text())){
			 		$('.cancel_change_'+k).val($('.cancel_before_'+k).text());
			 		$('.cancel_after_'+k).text(0);
			 	}
			 }); */
/* 			 var h=4;
			 //console.log(i);
			 $(".cancel_change_"+h).bind("input propertychange",function(){console.log(h);
			 	var sum = parseFloat($('.cancel_before_'+h).text()).toFixed(2)*100 - parseFloat($('.cancel_change_'+h).val()).toFixed(2)*100;
			 	var sum1 = parseFloat($('.cancel_before_'+h).text()).toFixed(2)*100;
			 	if($('.cancel_change_'+h).val()=='')
			 	{
			 		$('.cancel_after_'+h).text(sum1.toFixed(2) / 100);
			 	}
			 	else if(Number($('.cancel_change_'+h).val()) < Number($('.cancel_before_'+h).text())){
			 		$('.cancel_after_'+h).text(sum.toFixed(2) / 100);
			 	}
			 	else if(Number($('.cancel_change_'+h).val()) >= Number($('.cancel_before_'+h).text())){
			 		$('.cancel_change_'+h).val($('.cancel_before_'+h).text());
			 		$('.cancel_after_'+h).text(0);
			 	}
			 }); */
/* 		//规定租金
		$("#cancel_rent").bind("input propertychange",function(){
			var sum = parseFloat($('#floor_prescribed').text()).toFixed(2)*100 - parseFloat($('#cancel_rent').val()).toFixed(2)*100;
			var sum1 = parseFloat($('#floor_prescribed').text()).toFixed(2)*100;
			if($('#cancel_rent').val()=='')
			{
				$('#changes_floor_prescribed').text(sum1.toFixed(2) / 100);
			}
			else{
				$('#changes_floor_prescribed').text(sum.toFixed(2) / 100);
			}
			
			if($('#cancel_rent').val()=='')
			{
				$('#changes_floor_prescribed').text(sum1.toFixed(2) / 100);
			}
			else if(Number($("#cancel_rent").val()) < Number($("#floor_prescribed").text())){
				$('#changes_floor_prescribed').text(sum.toFixed(2) / 100);
			}
			else if(Number($("#cancel_rent").val()) >= Number($("#floor_prescribed").text())){
				$("#cancel_rent").val($("#floor_prescribed").text());
				$('#changes_floor_prescribed').text(0);
			}
		});
		//使用面积
		$("#cancel_use_area").bind("input propertychange",function(){
			var sum = parseFloat($('#floor_areaofuse').text()).toFixed(2)*100 - parseFloat($('#cancel_use_area').val()).toFixed(2)*100;
			var sum1 = parseFloat($('#floor_areaofuse').text()).toFixed(2)*100;
			if($('#cancel_use_area').val()=='')
			{
				$('#changes_floor_areaofuse').text(sum1.toFixed(2) / 100);
			}
			else if(Number($("#cancel_use_area").val()) < Number($("#floor_areaofuse").text())){
				$('#changes_floor_areaofuse').text(sum.toFixed(2) / 100);
			}
			else if(Number($("#cancel_use_area").val()) >= Number($("#floor_areaofuse").text())){
				$("#cancel_use_area").val($("#floor_areaofuse").text());
				$('#changes_floor_areaofuse').text(0);
			}
		});
		//使用面积
		$("#cancel_use_area").bind("input propertychange",function(){
			var sum = parseFloat($('#floor_areaofuse').text()).toFixed(2)*100 - parseFloat($('#cancel_use_area').val()).toFixed(2)*100;
			var sum1 = parseFloat($('#floor_areaofuse').text()).toFixed(2)*100;
			if($('#cancel_use_area').val()=='')
			{
				$('#changes_floor_areaofuse').text(sum1.toFixed(2) / 100);
			}
			else if(Number($("#cancel_use_area").val()) < Number($("#floor_areaofuse").text())){
				$('#changes_floor_areaofuse').text(sum.toFixed(2) / 100);
			}
			else if(Number($("#cancel_use_area").val()) >= Number($("#floor_areaofuse").text())){
				$("#cancel_use_area").val($("#floor_areaofuse").text());
				$('#changes_floor_areaofuse').text(0);
			}
		});
		//建筑面积
		$("#cancel_area").bind("input propertychange",function(){
			var sum = parseFloat($('#floor_builtuparea').text()).toFixed(2)*100 - parseFloat($('#cancel_use_area').val()).toFixed(2)*100;
			var sum1 = parseFloat($('#floor_builtuparea').text()).toFixed(2)*100;
			if($('#cancel_area').val()=='')
			{
				$('#changes_floor_areaofuse').text(sum1.toFixed(2) / 100);
			}
			else if(Number($("#cancel_area").val()) < Number($("#floor_builtuparea").text())){
				$('#changes_floor_areaofuse').text(sum.toFixed(2) / 100);
			}
			else if(Number($("#cancel_area").val()) >= Number($("#floor_builtuparea").text())){
				$("#cancel_area").val($("#floor_builtuparea").text());
				$('#changes_floor_areaofuse').text(0);
			}
		}); */
		//附件1
		upload.render({
			elem: '#upload_img1',
			url: upurl2,
			size: 1024*3,
			multiple: duotu,
			field: 'ChangeCancelOne',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list2').append('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list2').html('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
				}
			}
		})
		//附件2
		upload.render({
			elem: '#upload_img2',
			url: upurl3,
			size: 1024*3,
			multiple: duotu,
			field: 'ChangeCancelTwo',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list3').append('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list3').html('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
				}
			}
		})
		//其他
		upload.render({
			elem: '#upload_img3',
			url: upurl4,
			size: 1024*3,
			multiple: duotu,
			field: 'ChangeCancelThree',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list4').append('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list4').html('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file" value="' + res.data.id + '" /></dd>');
				}
			}
		})
		/*
		删除上传图片
		*/
		$(document).on("click", ".upload_img_list dd i", function() {
			$(this).parents("dd").remove();
		})
	});
</script>
