<link rel="stylesheet" href="__PUBLIC_JS__/viewer/viewer.min.css?v={:config('hisiphp.version')}">
<form class="layui-form" action="" method="post" >
  <div class="j-details-box floorWrap">
	<fieldset class="layui-elem-field layui-field-title j-field-box">
		<legend>基本信息</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>注销类别</label>
			<div class="j-input-inline">
				<select name="cancel_type" lay-verify="required" class="field-cid">
					<option value="">请选择</option>
					{volist name="params['cancels']" id="v"}
					<option value="{$key}" {if condition="$data_info['cancel_type'] == $key"}selected{/if}>{$v}</option>
					{/volist}
				</select>
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>楼栋编号</label>
			<div class="j-input-inline">
				<input type="text" name="ban_number" lay-verify="required" value="{$data_info['ban_info']['ban_number']}" readonly autocomplete="off" class="layui-input">
				<input type="hidden" name="ban_id" value="{$data_info['ban_id']}">
				<input type="hidden" name="house_id" value="">
				<b class="j-explain-search j-ban_number">查询</b>
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">楼栋地址</label>
			<div class="j-input-inline">
				<input type="text" id="ban_address" value="{$data_info['ban_info']['ban_address']}" autocomplete="off" class="layui-input" readonly>
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md8">
			<label class="j-form-label">异动原因</label>
			<div class="j-input-inline">
				<input type="text" name="change_remark" value="{$data_info['change_remark']}" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<fieldset  class="layui-elem-field layui-field-title j-field-box">
		<legend>基数异动</legend>
	</fieldset>
		<table  class="layui-table">
		  <thead>
			 <tr>
			   <th>楼栋编号</th>
			   <th>异动状态</th>
			   <th class="cancel">户数</th>
			   <th class="cancel">规定租金</th>
			   <th class="cancel">使用面积</th>
			   <th class="cancel">建筑面积</th>
			   <th class="cancel">房屋原价</th>
			   <th class="cancel">栋数</th>
			   <th>是否注销楼栋</th>
			 </tr>
		  </thead>
		  <tbody>
		    <tr>
		    	<td id="floor_number">{$data_info['ban_info']['ban_number']}</td>
			  <td>异动前</td>
			  <td class="cancel_before_0" id="floor_households"><input type="hidden" name="floor_households" value="户数"><label>户数</label></td>
		      <td class="cancel_before_1" id="floor_prescribed"><input type="hidden" name="floor_prescribed" value="{$data_info['change_json']['before']['ban_total_rent']}"><label>{$data_info['change_json']['before']['ban_total_rent']}</label></td>
	    	  <td class="cancel_before_2" id="floor_areaofuse"><input type="hidden" name="floor_areaofuse" value="{$data_info['change_json']['before']['ban_total_use_area']}"><label>{$data_info['change_json']['before']['ban_total_use_area']}</label></td>
	    	  <td class="cancel_before_3" id="floor_builtuparea"><input type="hidden" name="floor_builtuparea" value="{$data_info['change_json']['before']['ban_total_area']}"><label>{$data_info['change_json']['before']['ban_total_area']}</label></td>
	    	  <td class="cancel_before_4" id="floor_original"><input type="hidden" name="floor_original" value="{$data_info['change_json']['before']['ban_total_oprice']}"><label>{$data_info['change_json']['before']['ban_total_oprice']}</label></td>
			  <td class="cancel_before_5" id="floor_bannumber"><input type="hidden" name="floor_bannumber" value="栋数"><label>栋数</label></td>
			  <td rowspan="3" align="center"><input type="checkbox" name="cancel_ban" {if condition="$data_info['cancel_ban']"}checked{/if} value="1" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF"></td>
		    </tr>
			<tr>
			  <td></td>
			  <td>异动</td>
			  <td class="cancel_change_0"><input type="hidden" name="cancel_change_0" value="户数"><label>户数</label></td>
			  <td class="cancel_change_1"><input type="hidden" name="cancel_change_1" value="{$data_info['cancel_rent']}"><label>{$data_info['cancel_rent']}</label></td>
			  <td class="cancel_change_2"><input type="hidden" name="cancel_change_2" value="{$data_info['cancel_use_area']}"><label>{$data_info['cancel_use_area']}</label></td>
			  <td class="cancel_change_3"><input type="hidden" name="cancel_change_3" value="{$data_info['cancel_area']}"><label>{$data_info['cancel_area']}</label></td>
			  <td class="cancel_change_4"><input type="hidden" name="cancel_change_4" value="{$data_info['cancel_oprice']}"><label>{$data_info['cancel_oprice']}</label></td>
			  <td class="cancel_change_5"><input type="hidden" name="cancel_change_5" value="栋数"><label>栋数</label></td>
			</tr>
			<tr>
			  <td></td>
			  <td>异动后</td>
			  <td class="cancel_after_0" id="changes_floor_households"><input type="hidden" name="changes_floor_households" value="户数"><label>户数</label></td>
			  <td class="cancel_after_1" id="changes_floor_prescribed"><input type="hidden" name="changes_floor_prescribed" value="{$data_info['change_json']['after']['ban_total_rent']}"><label>{$data_info['change_json']['after']['ban_total_rent']}</label></td>
			  <td class="cancel_after_2" id="changes_floor_areaofuse"><input type="hidden" name="changes_floor_areaofuse" value="{$data_info['change_json']['after']['ban_total_use_area']}"><label>{$data_info['change_json']['after']['ban_total_use_area']}</label></td>
			  <td class="cancel_after_3" id="changes_floor_builtuparea"><input type="hidden" name="changes_floor_builtuparea" value="{$data_info['change_json']['after']['ban_total_area']}"><label>{$data_info['change_json']['after']['ban_total_area']}</label></td>
			  <td class="cancel_after_4" id="changes_floor_original"><input type="hidden" name="changes_floor_original" value="{$data_info['change_json']['after']['ban_total_oprice']}"><label>{$data_info['change_json']['after']['ban_total_oprice']}</label></td>
			  <td class="cancel_after_5" id="changes_floor_bannumber"><input type="hidden" name="changes_floor_bannumber" value="栋数"><label>栋数</label></td>
			</tr>
		  </tbody>
		</table>
	    <table  class="layui-table hide">
	      <thead>
	    	  <tr>
	    	    <th>楼栋编号</th>
	    	    <th>规定租金</th>
	    	    <th>使用面积</th>
	    	    <th>建筑面积</th>
	    	    <th>房屋原价</th>
	    	  </tr>
	      </thead>
	      <tbody>
	        <tr>
	      	  <td id="floor_number"></td>
	    	  <td id="floor_prescribed"></td>
	    	  <td id="floor_areaofuse"></td>
	    	  <td id="floor_builtuparea"></td>
	    	  <td id="floor_original"></td>
	        </tr>
	      </tbody>
	    </table>
	<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box j-house-title">
		<legend>注销明细</legend>
	</fieldset>
	<table  class="layui-table j-house-box">
	  <thead>
		  <tr>
		    <th>房屋编号</th>
		    <th>承租人</th>
		  	<th>规定租金</th>
		  	<th>计租面积</th>
		  	<th>建筑面积</th>
		    <th>房屋原价</th>
		  	<th>操作</th>
		  </tr>
	  </thead>
	  <tbody>
	  	{volist name="$data_info['data_json']" id="v"}
	  	<tr>
	  		<td class="house_number"><input type="hidden" name="house_id[{$key}]" value="{$v['house_id']}"><input type="hidden" name="house_use_id[{$key}]" value="{$v['house_use_id']}"><input type="hidden" name="house_number[{$key}]" value="{$v['house_number']}">{$v['house_number']}</td>
	  		<td class="house_lessee"><input type="hidden" name="tenant_id[{$key}]" value="{$v['tenant_id']}"><input type="hidden" name="house_lessee[{$key}]" value="{$v['tenant_name']}">{$v['tenant_name']}</td>
	  		<td class="house_prescribed"><input type="hidden" name="house_prescribed[{$key}]" value="{$v['house_pre_rent']}">{$v['house_pre_rent']}</td>
	  		<td class="house_rentalarea"><input type="hidden" name="house_rentalarea[{$key}]" value="{$v['house_lease_area']}">{$v['house_lease_area']}</td>
	  		<td class="house_builtuparea"><input type="number" class="layui-input" name="house_builtuparea[{$key}]" value="{$v['house_area']}"></td>
	  		<td class="house_original"><input type="number" class="layui-input" name="house_original[{$key}]" value="{$v['house_oprice']}"></td>
	  		<td class="house_delete"><label class="layui-btn layui-btn-xs layui-btn-danger">删除</label></td>
	  	</tr>
	  	{/volist}
	    <!-- <tr><td colspan='6'><div class='j-no-content'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无数据！</div></td></tr> -->
	 </tbody>
	</table>
	<div class="j-cancel-show hide">
	<!-- <fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
		<legend>注销楼栋</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">楼栋编号</label>
			<div class="j-input-inline">
				<input type="text" name="cancel_number" value="" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">调整面积</label>
			<div class="j-input-inline">
				<input type="text" name="cancel_has" value="" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md12">
			<div class="j-enclosure-upload clearfix">
				<div class="j-enclosure-label">情况说明</div>
				<div class="j-enclosure-label j-uplode-icon">
					<i><img src="__ADMIN_IMG__/Group8.png" /></i>点击上传
					<button type="button" class="layui-btn layui-btn-primary" id="upload_img3">上传图片</button>
				</div>
				<div class="layui-form-mid layui-word-aux">限制1M</div>
			</div>
			<div class="j-enclosure-imgs clearfix">
				<div id="upload_img_list4" class="upload_img_list j-viewer-img"> </div>
			</div>
		</div>
	</div> -->
	</div>
	<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
		<legend>补充附件</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md12">
			<div class="j-enclosure-upload clearfix">
				<div class="j-enclosure-label">{if condition="in_array('ChangeCancelOne',$config['changecancel_file_upload'])"}<i class="red">*</i>{/if} 售房专用票据</div>
				<div class="j-enclosure-label j-uplode-icon">
					<i><img src="__ADMIN_IMG__/Group8.png" /></i>点击上传
					<button type="button" class="layui-btn layui-btn-primary" id="upload_img1">上传图片</button>
				</div>
				<div class="layui-form-mid layui-word-aux">限制3M</div>
			</div>
			<div class="j-enclosure-imgs clearfix">
   				<div id="upload_img_list1" class="upload_img_list j-viewer-img">
   					{volist name="$data_info['change_imgs']" id="v"}
					{if condition="$v['file_type'] == 'ChangeCancelOne'"}
					<dd class="item_img" id="">
						<div class="operate">
							<i  class="layui-icon-close-fill layui-icon"></i>
						</div>
						<img src="{$v['file']}" class="img" ><input type="hidden" name="ChangeCancelOne[]" value="{$v['id']}" />
					</dd>
					{/if}
					{/volist}
   				</div>
   			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md12">
			<div class="j-enclosure-upload clearfix">
				<div class="j-enclosure-label">{if condition="in_array('ChangeCancelTwo',$config['changecancel_file_upload'])"}<i class="red">*</i>{/if} 审批表</div>
				<div class="j-enclosure-label j-uplode-icon">
					<i><img src="__ADMIN_IMG__/Group8.png" /></i>点击上传
					<button type="button" class="layui-btn layui-btn-primary" id="upload_img2">上传图片</button>
				</div>
				<div class="layui-form-mid layui-word-aux">限制3M</div>
			</div>
			<div class="j-enclosure-imgs clearfix">
   				<div id="upload_img_list2" class="upload_img_list j-viewer-img">
   					{volist name="$data_info['change_imgs']" id="v"}
					{if condition="$v['file_type'] == 'ChangeCancelTwo'"}
					<dd class="item_img" id="">
						<div class="operate">
							<i  class="layui-icon-close-fill layui-icon"></i>
						</div>
						<img src="{$v['file']}" class="img" ><input type="hidden" name="ChangeCancelTwo[]" value="{$v['id']}" />
					</dd>
					{/if}
					{/volist}
   				</div>
   			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md12">
			<div class="j-enclosure-upload clearfix">
				<div class="j-enclosure-label">{if condition="in_array('ChangeCancelThree',$config['changecancel_file_upload'])"}<i class="red">*</i>{/if} 危改批文</div>
				<div class="j-enclosure-label j-uplode-icon">
					<i><img src="__ADMIN_IMG__/Group8.png" /></i>点击上传
					<button type="button" class="layui-btn layui-btn-primary" id="upload_img3">上传图片</button>
				</div>
				<div class="layui-form-mid layui-word-aux">限制3M</div>
			</div>
			<div class="j-enclosure-imgs clearfix">
   				<div id="upload_img_list3" class="upload_img_list j-viewer-img">
   					{volist name="$data_info['change_imgs']" id="v"}
					{if condition="$v['file_type'] == 'ChangeCancelThree'"}
					<dd class="item_img" id="">
						<div class="operate">
							<i  class="layui-icon-close-fill layui-icon"></i>
						</div>
						<img src="{$v['file']}" class="img" ><input type="hidden" name="ChangeCancelThree[]" value="{$v['id']}" />
					</dd>
					{/if}
					{/volist}
   				</div>
   			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md12">
			<div class="j-enclosure-upload clearfix">
				<div class="j-enclosure-label">{if condition="in_array('ChangeCancelRetread',$config['changecancel_file_upload'])"}<i class="red">*</i>{/if} 翻新计划</div>
				<div class="j-enclosure-label j-uplode-icon">
					<i><img src="__ADMIN_IMG__/Group8.png" /></i>点击上传
					<button type="button" class="layui-btn layui-btn-primary" id="upload_img4">上传图片</button>
				</div>
				<div class="layui-form-mid layui-word-aux">限制3M</div>
			</div>
			<div class="j-enclosure-imgs clearfix">
   				<div id="upload_img_list4" class="upload_img_list j-viewer-img">
   					{volist name="$data_info['change_imgs']" id="v"}
					{if condition="$v['file_type'] == 'ChangeCancelRetread'"}
					<dd class="item_img" id="">
						<div class="operate">
							<i  class="layui-icon-close-fill layui-icon"></i>
						</div>
						<img src="{$v['file']}" class="img" ><input type="hidden" name="ChangeCancelRetread[]" value="{$v['id']}" />
					</dd>
					{/if}
					{/volist}
   				</div>
   			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md12">
			<div class="j-enclosure-upload clearfix">
				<div class="j-enclosure-label">{if condition="in_array('ChangeCancelApproval',$config['changecancel_file_upload'])"}<i class="red">*</i>{/if} 发还批文</div>
				<div class="j-enclosure-label j-uplode-icon">
					<i><img src="__ADMIN_IMG__/Group8.png" /></i>点击上传
					<button type="button" class="layui-btn layui-btn-primary" id="upload_img5">上传图片</button>
				</div>
				<div class="layui-form-mid layui-word-aux">限制3M</div>
			</div>
			<div class="j-enclosure-imgs clearfix">
   				<div id="upload_img_list5" class="upload_img_list j-viewer-img">
   					{volist name="$data_info['change_imgs']" id="v"}
					{if condition="$v['file_type'] == 'ChangeCancelApproval'"}
					<dd class="item_img" id="">
						<div class="operate">
							<i  class="layui-icon-close-fill layui-icon"></i>
						</div>
						<img src="{$v['file']}" class="img" ><input type="hidden" name="ChangeCancelApproval[]" value="{$v['id']}" />
					</dd>
					{/if}
					{/volist}
   				</div>
   			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md12">
			<div class="j-enclosure-upload clearfix">
				<div class="j-enclosure-label">{if condition="in_array('ChangeCancelReport',$config['changecancel_file_upload'])"}<i class="red">*</i>{/if} 注销报告</div>
				<div class="j-enclosure-label j-uplode-icon">
					<i><img src="__ADMIN_IMG__/Group8.png" /></i>点击上传
					<button type="button" class="layui-btn layui-btn-primary" id="upload_img6">上传图片</button>
				</div>
				<div class="layui-form-mid layui-word-aux">限制3M</div>
			</div>
			<div class="j-enclosure-imgs clearfix">
   				<div id="upload_img_list6" class="upload_img_list j-viewer-img">
   					{volist name="$data_info['change_imgs']" id="v"}
					{if condition="$v['file_type'] == 'ChangeCancelReport'"}
					<dd class="item_img" id="">
						<div class="operate">
							<i  class="layui-icon-close-fill layui-icon"></i>
						</div>
						<img src="{$v['file']}" class="img" ><input type="hidden" name="ChangeCancelReport[]" value="{$v['id']}" />
					</dd>
					{/if}
					{/volist}
   				</div>
   			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md12">
			<div class="j-enclosure-upload clearfix">
				<div class="j-enclosure-label">{if condition="in_array('ChangeCancelPaper',$config['changecancel_file_upload'])"}<i class="red">*</i>{/if} 政府文件</div>
				<div class="j-enclosure-label j-uplode-icon">
					<i><img src="__ADMIN_IMG__/Group8.png" /></i>点击上传
					<button type="button" class="layui-btn layui-btn-primary" id="upload_img7">上传图片</button>
				</div>
				<div class="layui-form-mid layui-word-aux">限制3M</div>
			</div>
			<div class="j-enclosure-imgs clearfix">
   				<div id="upload_img_list7" class="upload_img_list j-viewer-img">
   					{volist name="$data_info['change_imgs']" id="v"}
					{if condition="$v['file_type'] == 'ChangeCancelPaper'"}
					<dd class="item_img" id="">
						<div class="operate">
							<i  class="layui-icon-close-fill layui-icon"></i>
						</div>
						<img src="{$v['file']}" class="img" ><input type="hidden" name="ChangeCancelPaper[]" value="{$v['id']}" />
					</dd>
					{/if}
					{/volist}
   				</div>
   			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md12">
			<div class="j-enclosure-upload clearfix">
				<div class="j-enclosure-label">{if condition="in_array('ChangeCancelInvoice',$config['changecancel_file_upload'])"}<i class="red">*</i>{/if} 发票</div>
				<div class="j-enclosure-label j-uplode-icon">
					<i><img src="__ADMIN_IMG__/Group8.png" /></i>点击上传
					<button type="button" class="layui-btn layui-btn-primary" id="upload_img8">上传图片</button>
				</div>
				<div class="layui-form-mid layui-word-aux">限制3M</div>
			</div>
			<div class="j-enclosure-imgs clearfix">
   				<div id="upload_img_list8" class="upload_img_list j-viewer-img">
   					{volist name="$data_info['change_imgs']" id="v"}
					{if condition="$v['file_type'] == 'ChangeCancelInvoice'"}
					<dd class="item_img" id="">
						<div class="operate">
							<i  class="layui-icon-close-fill layui-icon"></i>
						</div>
						<img src="{$v['file']}" class="img" ><input type="hidden" name="ChangeCancelInvoice[]" value="{$v['id']}" />
					</dd>
					{/if}
					{/volist}
   				</div>
   			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md12">
			<div class="j-enclosure-upload clearfix">
				<div class="j-enclosure-label">{if condition="in_array('ChangeCancelDetail',$config['changecancel_file_upload'])"}<i class="red">*</i>{/if} 征收明细表</div>
				<div class="j-enclosure-label j-uplode-icon">
					<i><img src="__ADMIN_IMG__/Group8.png" /></i>点击上传
					<button type="button" class="layui-btn layui-btn-primary" id="upload_img9">上传图片</button>
				</div>
				<div class="layui-form-mid layui-word-aux">限制3M</div>
			</div>
			<div class="j-enclosure-imgs clearfix">
   				<div id="upload_img_list9" class="upload_img_list j-viewer-img">
   					{volist name="$data_info['change_imgs']" id="v"}
					{if condition="$v['file_type'] == 'ChangeCancelDetail'"}
					<dd class="item_img" id="">
						<div class="operate">
							<i  class="layui-icon-close-fill layui-icon"></i>
						</div>
						<img src="{$v['file']}" class="img" ><input type="hidden" name="ChangeCancelDetail[]" value="{$v['id']}" />
					</dd>
					{/if}
					{/volist}
   				</div>
   			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md12">
			<div class="j-enclosure-upload clearfix">
				<div class="j-enclosure-label">{if condition="in_array('ChangeCancelOfficial',$config['changecancel_file_upload'])"}<i class="red">*</i>{/if} 划转公文</div>
				<div class="j-enclosure-label j-uplode-icon">
					<i><img src="__ADMIN_IMG__/Group8.png" /></i>点击上传
					<button type="button" class="layui-btn layui-btn-primary" id="upload_img10">上传图片</button>
				</div>
				<div class="layui-form-mid layui-word-aux">限制3M</div>
			</div>
			<div class="j-enclosure-imgs clearfix">
   				<div id="upload_img_list10" class="upload_img_list j-viewer-img">
   					{volist name="$data_info['change_imgs']" id="v"}
					{if condition="$v['file_type'] == 'ChangeCancelOfficial'"}
					<dd class="item_img" id="">
						<div class="operate">
							<i  class="layui-icon-close-fill layui-icon"></i>
						</div>
						<img src="{$v['file']}" class="img" ><input type="hidden" name="ChangeCancelOfficial[]" value="{$v['id']}" />
					</dd>
					{/if}
					{/volist}
   				</div>
   			</div>
		</div>
	</div>
<input type="hidden" name="id" value="{$data_info['id']}">
{include file="common/submit"}
  <!-- <div class="layui-row layui-form-item layui-col-space90">
		<div class="j-margin-btn">
			<a href="javascript:history.go(-1)" class="layui-btn layui-btn-primary">取消</a>
			<button type="submit" j-data="{'save_type':'save'}" class="layui-btn" lay-submit lay-filter="formSubmit">保存</button>
			<button type="submit" j-data="{'save_type':'submit'}" class="layui-btn" lay-submit lay-filter="formSubmit">保存并提交</button>
		</div>
	</div> -->
  </div>
</form>
{include file="system@block/layui" /}
<script type="text/javascript" src="__PUBLIC_JS__/viewer/viewer-jquery.min.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript" src="__ADMIN_VIEWJS__/deal_cancel_apply.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript">
	var upurl1 = "{:url('system/Api/upload')}?input=ChangeCancelOne&group=change&water=no"; //售房专用票据
	var upurl2 = "{:url('system/Api/upload')}?input=ChangeCancelTwo&group=change&water=no"; //审批表
	var upurl3 = "{:url('system/Api/upload')}?input=ChangeCancelThree&group=change&water=no"; //危改批文
	var upurl4 = "{:url('system/Api/upload')}?input=ChangeCancelRetread&group=change&water=no"; //翻新计划
	var upurl5 = "{:url('system/Api/upload')}?input=ChangeCancelApproval&group=change&water=no"; //发还批文
	var upurl6 = "{:url('system/Api/upload')}?input=ChangeCancelReport&group=change&water=no"; //注销报告
	var upurl7 = "{:url('system/Api/upload')}?input=ChangeCancelPaper&group=change&water=no"; //政府文件
	var upurl8 = "{:url('system/Api/upload')}?input=ChangeCancelInvoice&group=change&water=no"; //发票（拆迁回款单）
	var upurl9 = "{:url('system/Api/upload')}?input=ChangeCancelDetail&group=change&water=no"; //征收明细表
	var upurl10 = "{:url('system/Api/upload')}?input=ChangeCancelOfficial&group=change&water=no"; //划转公文
	var duotu = true; //是否为多图上传true false
	layui.use(['jquery', 'laydate', 'upload', 'form'], function() {
		var laydate = layui.laydate,
			$ = layui.$,
			upload = layui.upload,
			form = layui.form;
            //限制input输入框字符
            $("input[type=number]").keypress(function(e) {
            　　if (!String.fromCharCode(e.keyCode).match(/[0-9\.]/)) {
            　　　　return false;
            　　}
            });
            function initialvalue(){
            	$(".j-house-box tbody tr").each( function(){
            		if($(this).find(".house_original input").val()==""){
            			$(this).find(".house_original input").val(0);
            		}
            		if($(this).find(".house_builtuparea input").val()==""){
            			$(this).find(".house_builtuparea input").val(0);
            		}
            	})	
            }
			defaultcarried();//默认执行
			//计算
			function computation(){
				initialvalue();
				var sumhouseholds =0,//户数初始值
					sumhouseholdsold =0;//户数异动后值
				var sumrule =0,//规定租金异动初始金额
					sumruleold =0;//规定租金异动后金额
				var sumuse =0,//使用面积异动初始面积
					sumuseold =0;//使用面积异动后面积
				var sumbuildings =0,//建筑面积异动初始面积
					sumbuildingsold =0;//建筑面积异动后面积
				var sumoriginal =0,//房屋原价异动初始面积
					sumoriginalold =0;//房屋原价异动后面积
				var sumbannumber =0,//栋数初始值
					sumbannumberold =0;//栋数异动后值
				var trList = $(".j-house-box tbody").children("tr");
				console.log("tr值",trList);
				for (var j=0;j<trList.length;j++) {
					var tdArr = trList.eq(j).find("td"); //遍历td  
					  //户数计算
					  sumhouseholds = trList.length;//户数
					  //规定租金计算
					  sumrule += parseFloat(tdArr.eq(2).find("input").val()).toFixed(2)*100;//规定租金计算
					  //使用面积计算
					  sumuse += parseFloat(tdArr.eq(3).find("input").val()).toFixed(2)*100;//使用面积计算
					  //建筑面积改变重新计算
					  sumbuildings += parseFloat(tdArr.eq(4).find("input").val()).toFixed(2)*100;//输入框改变建筑面积
					  //房屋原价改变重新计算
					  sumoriginal += parseFloat(tdArr.eq(5).find("input").val()).toFixed(2)*100;//输入框改变原价	
				}
				//户数计算
				$(".cancel_change_0 label").text(sumhouseholds);
				$(".cancel_change_0 input").val(sumhouseholds)//获取隐藏域的值
				sumhouseholdsold = $('.cancel_before_0 label').text() -sumhouseholds ;
				$('.cancel_after_0 label').text(sumhouseholdsold);
				$('.cancel_after_0 input').val(sumhouseholdsold);//获取隐藏域的值
				//规定租金计算
				$(".cancel_change_1 label").text(sumrule.toFixed(2) / 100);
				$(".cancel_change_1 input").val(sumrule.toFixed(2) / 100)//获取隐藏域的值
				sumruleold = parseFloat($('.cancel_before_1 label').text()).toFixed(2)*100 -sumrule ;
				$('.cancel_after_1 label').text(sumruleold.toFixed(2) / 100);
				$('.cancel_after_1 input').val(sumruleold.toFixed(2) / 100);//获取隐藏域的值
				//使用面积计算
				$(".cancel_change_2 label").text(sumuse.toFixed(2) / 100);
				$(".cancel_change_2 input").val(sumuse.toFixed(2) / 100);//获取隐藏域的值
				sumuseold = parseFloat($('.cancel_before_2 label').text()).toFixed(2)*100 -sumuse ;
				$('.cancel_after_2 label').text(sumuseold.toFixed(2) / 100);
				$('.cancel_after_2 input').val(sumuseold.toFixed(2) / 100);//获取隐藏域的值
				//建筑面积改变重新计算
				$(".cancel_change_3 label").text(sumbuildings.toFixed(2) / 100);
				$(".cancel_change_3 input").val(sumbuildings.toFixed(2) / 100);//获取隐藏域的值
				sumbuildingsold = parseFloat($('.cancel_before_3 label').text()).toFixed(2)*100 -sumbuildings ;
				$('.cancel_after_3 label').text(sumbuildingsold.toFixed(2) / 100);
				$('.cancel_after_3 input').val(sumbuildingsold.toFixed(2) / 100);//获取隐藏域的值
				//房屋原价改变重新计算
				$(".cancel_change_4 label").text(sumoriginal.toFixed(2) / 100);
				$(".cancel_change_4 input").val(sumoriginal.toFixed(2) / 100);//获取隐藏域的值
				sumoriginalold = parseFloat($('.cancel_before_4 label').text()).toFixed(2)*100 -sumoriginal ;
				$('.cancel_after_4 label').text(sumoriginalold.toFixed(2) / 100);
				$('.cancel_after_4 input').val(sumoriginalold.toFixed(2) / 100);//获取隐藏域的值
				//栋数计算cancel_before_5
				sumbannumber = 0;//栋数
				$(".cancel_change_5 label").text(sumbannumber);
				$(".cancel_change_5 input").val(sumbannumber)//获取隐藏域的值
				sumbannumberold = $('.cancel_before_5 label').text() -sumbannumber ;
				$('.cancel_after_5 label').text(sumbannumberold);
				$('.cancel_after_5 input').val(sumbannumberold);//获取隐藏域的值
				//判断规定租金、使用面积异动后数据是否为0，开启switch
				if($("#changes_floor_prescribed label").text()==0 && $("#changes_floor_areaofuse label").text()==0){
					$("input[name='cancel_ban']").removeAttr("disabled");
				}
				else{
					$("input[name='cancel_ban']").attr("disabled","disabled");
				}
			}	
		  function defaultcarried(){
				computation();
				//删除
				$(".house_delete").click(function(){
					var that=$(this);
				   layer.confirm('确定要删除吗？', function(index){
					 that.parents("tr").remove();
					 computation();
					 layer.close(index);
				   });  
				})
				//输入框建筑面积改变重新计算
				$(".house_builtuparea").bind("input propertychange",function(){
					computation();
				});
				//输入框房屋原价改变重新计算
				$(".house_original").bind("input propertychange",function(){
					computation();
				});
				form.on('switch(switchTest)', function (data) {
					console.log(data.elem.checked)
					if(data.elem.checked==true){
						//注销楼栋计算
						sumbannumber = $('.cancel_before_5 label').text();//栋数
						$(".cancel_change_5 label").text(sumbannumber);
						$(".cancel_change_5 input").val(sumbannumber)//获取隐藏域的值
						sumbannumberold = $('.cancel_before_5 label').text() -sumbannumber ;
						$('.cancel_after_5 label').text(sumbannumberold);
						$('.cancel_after_5 input').val(sumbannumberold);//获取隐藏域的值
					}
					else{
						//注销楼栋计算
						sumbannumber = 0;//栋数
						$(".cancel_change_5 label").text(sumbannumber);
						$(".cancel_change_5 input").val(sumbannumber)//获取隐藏域的值
						sumbannumberold = $('.cancel_before_5 label').text() -sumbannumber ;
						$('.cancel_after_5 label').text(sumbannumberold);
						$('.cancel_after_5 input').val(sumbannumberold);//获取隐藏域的值
					}
				});	
				
			}	
			
		//获取楼栋查询器
		 $(".layui-form").on('click','.j-ban_number',function(){
		layer.open({
					title: '楼栋查询器'
					,type: 2
					,offset: 'auto'
					,area: ['70%', '70%']
					,btn:false
					,pageTabs: false
					,content: '{:url('system/index/cancellation')}?change_type=8&hisi_iframe=yes'
					,btn: ['确定','关闭']
					,yes: function(index, layero){
						var row = window["layui-layer-iframe" + index].callbackdata();
						var rows = window["layui-layer-iframe" + index].callbackdatas();
						var trData = '';
						console.log("楼栋:",row);
						console.log("房屋",rows);
						if(!row){
							layer.msg("请选择楼栋!");
						}
						else if(!rows){
							layer.msg("请选择房屋!");
						}
						else if(!rows.length==0){
						$('.j-house-box tbody').html("");
						$("input[name='ban_number']").val(row.ban_number);//获取楼栋编号
						$("input[name='ban_id']").val(row.ban_id);//获取楼栋id
						$("#ban_address").val(row.ban_address);//获取地址
						//楼栋信息
						$("#floor_number").text(row.ban_number);//获取表格楼栋编号
						$("#floor_households label").text(row.ban_holds);//获取户数
						$("#floor_households input").val(row.ban_holds);//获取隐藏域的户数
						$("#floor_prescribed label").text(row.ban_rent);//获取表格规定租金
						$("#floor_prescribed input").val(row.ban_rent);//获取隐藏域的值
						$("#floor_areaofuse label").text(row.ban_use_area);//获取表格使用面积
						$("#floor_areaofuse input").val(row.ban_use_area);//获取隐藏域的值
						$("#floor_builtuparea label").text(row.ban_area);//获取表格建筑面积
						$("#floor_builtuparea input").val(row.ban_area);//获取隐藏域的值
						$("#floor_original label").text(row.ban_oprice);//获取表格房屋原价
						$("#floor_original input").val(row.ban_oprice);//获取隐藏域的值
						$("#floor_bannumber label").text(row.ban_num);//获取栋数
						$("#floor_bannumber input").val(row.ban_num);//获取隐藏域的栋数
						//$('.cancel_change_1 label').text($('#floor_prescribed label').text());//异动规定租金
						/* $('#changes_floor_prescribed label').text($('#floor_prescribed').text());//异动后规定租金初始值
						$('#changes_floor_areaofuse label').text($('#floor_areaofuse').text());//异动后使用面积初始值
						$('#changes_floor_builtuparea label').text($('#floor_builtuparea').text()); //异动后建筑面积初始值
						$('#changes_floor_original label').text($('#floor_original').text());//异动后房屋原价初始值 */
						//房屋信息
						if(rows){
							//var houseidData = '';
							for(var i=0;i<rows.length;i++) {
								//houseidData += ','+rows[i].house_id;
								var trData ='<tr>\
											<td class="house_number"><input type="hidden" name="house_id['+i+']" value="'+rows[i].house_id+'"><input type="hidden" name="house_use_id['+i+']" value="'+rows[i].house_use_id+'"><input type="hidden" name="house_number['+i+']" value="'+rows[i].house_number+'">'+rows[i].house_number+'</td>\
											<td class="house_lessee"><input type="hidden" name="tenant_id['+i+']" value="'+rows[i].tenant_id+'"><input type="hidden" name="house_lessee['+i+']" value="'+rows[i].tenant_name+'">'+rows[i].tenant_name+'</td>\
											<td class="house_prescribed"><input type="hidden" name="house_prescribed['+i+']" value="'+rows[i].house_pre_rent+'">'+rows[i].house_pre_rent+'</td>\
											<td class="house_rentalarea"><input type="hidden" name="house_rentalarea['+i+']" value="'+rows[i].house_lease_area+'">'+rows[i].house_lease_area+'</td>\
											<td class="house_builtuparea"><input type="number" min="0" class="layui-input" lay-verify="required" name="house_builtuparea['+i+']" value="'+rows[i].house_area+'"></td>\
											<td class="house_original"><input type="number" min="0" class="layui-input" lay-verify="required" name="house_original['+i+']" value="'+rows[i].house_oprice+'"></td>\
											<td class="house_delete"><label  class="layui-btn layui-btn-xs layui-btn-danger">删除</label></td>\
										</tr>';
						    initialvalue();
							$('.j-house-box tbody').append(trData);
							computation();
						  }
						 //  houseidData = houseidData.replace(/^(\s|,)+|(\s|,)+$/g, '');
							// $("input[name='house_id']").val(houseidData);//获取房屋编号
							layer.close(index);
						}
					}
						else{
							layer.msg("房屋没选择!");
							return false;
						}
						if(	$('.j-house-box tbody').html()==''){
							$(".j-house-box,.j-house-title").hide();
						}
						else{
							$(".j-house-box,.j-house-title").show();
						}
						defaultcarried();
					},btn2: function(index, layero){
						layer.close(index);
					}
		 });
		})
		//售房专用票据
		upload.render({
			elem: '#upload_img1',
			url: upurl1,
			size: 1024*3,
			multiple: duotu,
			field: 'ChangeCancelOne',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list1').append('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="ChangeCancelOne[]" value="' + res.data.id + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list1').html('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="ChangeCancelOne[]" value="' + res.data.id + '" /></dd>');
				}
			}
		})
		//审批表
		upload.render({
			elem: '#upload_img2',
			url: upurl2,
			size: 1024*3,
			multiple: duotu,
			field: 'ChangeCancelTwo',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list2').append('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="ChangeCancelTwo[]" value="' + res.data.id + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list2').html('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="ChangeCancelTwo[]" value="' + res.data.id + '" /></dd>');
				}
			}
		})
		//危改批文
		upload.render({
			elem: '#upload_img3',
			url: upurl3,
			size: 1024*3,
			multiple: duotu,
			field: 'ChangeCancelThree',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list3').append('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="ChangeCancelThree[]" value="' + res.data.id + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list3').html('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="ChangeCancelThree[]" value="' + res.data.id + '" /></dd>');
				}
			}
		})
		//翻新计划
		upload.render({
			elem: '#upload_img4',
			url: upurl4,
			size: 1024*3,
			multiple: duotu,
			field: 'ChangeCancelRetread',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list4').append('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="ChangeCancelRetread[]" value="' + res.data.id + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list4').html('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="ChangeCancelRetread[]" value="' + res.data.id + '" /></dd>');
				}
			}
		})
		//发还批文
		upload.render({
			elem: '#upload_img5',
			url: upurl5,
			size: 1024*3,
			multiple: duotu,
			field: 'ChangeCancelApproval',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list5').append('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="ChangeCancelApproval[]" value="' + res.data.id + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list5').html('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="ChangeCancelApproval[]" value="' + res.data.id + '" /></dd>');
				}
			}
		})
		//注销报告
		upload.render({
			elem: '#upload_img6',
			url: upurl6,
			size: 1024*3,
			multiple: duotu,
			field: 'ChangeCancelReport',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list6').append('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="ChangeCancelReport[]" value="' + res.data.id + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list6').html('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="ChangeCancelReport[]" value="' + res.data.id + '" /></dd>');
				}
			}
		})
		//政府文件
		upload.render({
			elem: '#upload_img7',
			url: upurl7,
			size: 1024*3,
			multiple: duotu,
			field: 'ChangeCancelPaper',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list7').append('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="ChangeCancelPaper[]" value="' + res.data.id + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list7').html('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="ChangeCancelPaper[]" value="' + res.data.id + '" /></dd>');
				}
			}
		})
		//发票（拆迁回款单）
		upload.render({
			elem: '#upload_img8',
			url: upurl8,
			size: 1024*3,
			multiple: duotu,
			field: 'ChangeCancelInvoice',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list8').append('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="ChangeCancelInvoice[]" value="' + res.data.id + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list8').html('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="ChangeCancelInvoice[]" value="' + res.data.id + '" /></dd>');
				}
			}
		})
		//征收明细表
		upload.render({
			elem: '#upload_img9',
			url: upurl9,
			size: 1024*3,
			multiple: duotu,
			field: 'ChangeCancelDetail',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list9').append('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="ChangeCancelDetail[]" value="' + res.data.id + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list9').html('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="ChangeCancelDetail[]" value="' + res.data.id + '" /></dd>');
				}
			}
		})
		//划转公文
		upload.render({
			elem: '#upload_img10',
			url: upurl10,
			size: 1024*3,
			multiple: duotu,
			field: 'ChangeCancelOfficial',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list10').append('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="ChangeCancelOfficial[]" value="' + res.data.id + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list10').html('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="ChangeCancelOfficial[]" value="' + res.data.id + '" /></dd>');
				}
			}
		})
		/*
		删除上传图片
		*/
		$(document).on("click", ".upload_img_list dd i", function() {
			$(this).parents("dd").remove();
		})
	});
</script>
