<div class="j-table-content j-no-title">
	<div class="page-toolbar j-page-toolbar clearfix">
		<form class="layui-form layui-form-pane" action="{:url()}" method="get" id="hisi-table-search">
			<div class="j-search-fl layui-col-md8  fl">
				<div class="layui-input-inline layui-col-md2 j-input-margin  j-width-110">
					<input type="text" name="ban_address" placeholder="地址" class="layui-input">
				</div>
				<div class="layui-input-inline layui-col-md2 j-input-margin  j-width-110">
					<input type="text" name="change_order_number" placeholder="异动单号" class="layui-input">
				</div>
				{if condition="INST_LEVEL != 3"}
				<div class="layui-input-inline layui-col-md2 j-width-115">
					<select name="ban_inst_id">
						<option value="">机构名称</option>
						{volist name=":config('inst_check_names')[INST]" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				{/if}
				<div class="layui-input-inline j-width-115">
					<select name="cancel_type" class="field-cid">
						<option value="">注销类别</option>
						{volist name="params['cancels']" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				<div class="layui-input-inline j-width-90">
					<select name="ban_owner_id">
						<option value="">产别</option>
						{volist name="params['owners']" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				<div class="layui-input-inline j-input-margin j-width-100">
					<input type="text" name="ctime" id="date"  placeholder="申请时间" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-input-inline j-input-margin j-width-100">
					<input type="text" name="effective" id="date2"  placeholder="生效时间" autocomplete="off" class="layui-input">
				</div>
				<div class="layui-input-inline j-width-110">
					<select name="change_status">
						<option value="">审核状态</option>
						<option value="1">成功</option>
						<option value="0">失败</option>
					</select>
				</div>
			</div>
			<div class="j-search-fr layui-col-md4 fr">
				<div class="layui-input-inline fr">
					<div class="layui-input-inline" style="margin-left:10px;">
						<button type="reset" class="layui-btn j-btn-reset">重置</button>
						<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
							<i class="layui-icon">&#xe615;</i>
							搜索
						</button>
						<button type="button" class="layui-btn layui-btn-warm"><i class="layui-icon iconfont j-icon-screen_icon"></i>标题筛选</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	{include file="system@block/layui" /}
	<table id="dataTable" lay-filter='dataTable' params="{$paramsJson}"></table>
	<script type="text/html" id="toolbar">
	</script>
	<script type="text/html" title="操作按钮模板" id="buttonTpl">
		<a href="{:url('detail')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">明细</a>
    </script>
</div>
<script type="text/javascript">
	var process_config = {'0':'失败','1':'成功'};
	layui.use(['table', 'jquery','laydate'], function() {
		var $ = layui.$;
		var s = $('#dataTable').attr('params');
		var params = JSON.parse(s);
		var table = layui.table
		   ,laydate = layui.laydate;
		
		//日期
		  laydate.render({
		    elem: '#date'
		    ,type: 'month'
		    ,ready: function(date){
			    $('.layui-laydate li').click(function () {
			       $('.laydate-btns-confirm').trigger('click');
			    });
			}
		  });
		  //生效时间
		  laydate.render({
		    elem: '#date2'
		    ,type: 'month'
		    ,ready: function(date){
		  			    $('.layui-laydate li').click(function () {
		  			       $('.laydate-btns-confirm').trigger('click');
		  			    });
		  			}
		  });
		table.render({
			elem: '#dataTable',
			/* height: 550, */
			toolbar: '#toolbar'
				// ,defaultToolbar: ['print']
				,defaultToolbar: ['filter','exports','print'] //设置右边筛选，导出，打印显示
			    ,url: '{:url()}' //数据接口
				,page: true //开启分页
				,limit: 10
			   ,limits: [10,20,30,40,50,100,300,500,1000]
			   ,totalRow: true
			  ,text: {
					none: "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
			  }
			  ,cols: [[ 
					{field: 'ban_address',minWidth: 160,align:'center',title: '楼栋地址',totalRowText: '合计'}, 
					{field: 'change_order_number',hide:true,align:'center',minWidth: 210,title: '异动单号'},
					{field: 'ban_inst_id',hide: isShowInst,minWidth: 120,align:'center',title: '申请机构', 
						templet: function(d) {
		                    return params.insts[d.ban_inst_id];
		                }
					}, 
					{field: 'ban_owner_id',minWidth: 80,align:'center',title: '产别', 
						templet: function(d) {
		                    return params.owners[d.ban_owner_id];
		                }
					}, 
					{field: 'cancel_type',minWidth: 100,align:'center',title: '注销类型', 
						templet: function(d) {
		                    return params.cancels[d.cancel_type];
		                }
					}, 
					{field: 'cancel_rent',minWidth: 100,align:'center',title: '注销规租',totalRow: true},
					{field: 'cancel_area',minWidth: 100,align:'center',title: '注销建面',totalRow: true},
					{field: 'cancel_use_area',minWidth: 100,align:'center',title: '注销使面',totalRow: true},
					{field: 'cancel_oprice',minWidth: 120,align:'center',title: '注销原价',totalRow: true},
					{field: 'ctime',align:'center',minWidth: 120,title: '申请时间'}, 
					{field: 'ftime',align:'center',minWidth: 120,title: '完成时间'}, 
					{field: 'entry_date',align:'center',width: 100,title: '生效时间'},
					{field: 'change_status',align:'center',minWidth: 100,title: '审核状态', 
						templet: function(d) {
		                    return process_config[d.change_status];
		                }
					}, 
					{title: '操作',minWidth: 100,align:'center',templet: '#buttonTpl',fixed: 'right'}
				]],
			done: function(res, curr, count) {
				$(".layui-table-total td[data-field='cancel_rent']").find("div").text(res.total_cancel_rent);
				$(".layui-table-total td[data-field='cancel_area']").find("div").text(res.total_cancel_area);
				$(".layui-table-total td[data-field='cancel_use_area']").find("div").text(res.total_cancel_use_area);
				$(".layui-table-total td[data-field='cancel_oprice']").find("div").text(res.total_cancel_oprice);
               //导出转换后台数据
                 var exportData=res.data;
                 for(i in exportData){
               	 exportData[i].ban_inst_id = params.insts[exportData[i].ban_inst_id];//转化申请机构
               	 exportData[i].ban_owner_id = params.owners[exportData[i].ban_owner_id];//转化产别
               	 exportData[i].cancel_type = params.cancels[exportData[i].cancel_type];//转化注销类型
               	 exportData[i].change_status = process_config[exportData[i].change_status];//转化审核状态
                 }
			}
		},isShowInst)
	});
</script>