<!-- 绑定房屋详情 -->
<div class="j-table-content">
<blockquote class="layui-elem-quote" style="margin-top: 10px;">
  共绑定6套房，其中2套房已认证
</blockquote>	
<div class="layui-btn-container j-container-margin">
	<div class="layui-btn-container">
	   <a href="javascript:;" class="j-house_number"><button class="layui-btn"><i class="layui-icon layui-icon-add-1"></i>新增房屋</button></a>
	</div>
</div>
	<table  class="layui-table j-house-box">
	  <thead>
		  <tr>
		    <th>房屋编号</th>
		    <th>房屋地址</th>
		    <th>规定租金</th>
			<th>操作</th>
		  </tr>
	  </thead>
	  <tbody>
	    <tr id="defaultTr"><td colspan='4'><div class='j-no-content'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无数据！</div></td></tr>
	 </tbody>
	</table>
{include file="system@block/layui" /}
</div>
<script type="text/javascript">
    layui.use(['table','jquery','layer','laydate'], function() {
        var table = layui.table
		    ,form = layui.form
		    ,$ = layui.jquery
		    ,upload = layui.upload
		    ,layer = layui.layer;
		//获取房屋查询器
		 $('.j-house-box tbody').html("");
		 $(".j-container-margin").on('click','.j-house_number',function(){
			layer.open({
					title: '房屋查询器'
					,type: 2
					,offset: 'auto'
					,area: ['1000px', '400px']
					, btn:false
					,pageTabs: false
					,content: '{:url('system/index/houseselected')}?hisi_iframe=yes&change_type=4'
					,btn: ['确定','关闭']
					,yes: function(index, layero){
						var row = window["layui-layer-iframe" + index].hoesedata();
						layer.close(index);
						var trData = '';
						// 组装比对数组，用于去重
						var banid = $(".ban_ids");
						var arr = new Array();
						if(banid){
							for(var i=0;i<banid.length;i++) {
								arr.push(parseInt(banid[i].defaultValue));
							} 		
						}		
// 						if(row.color_status != 1){ //正常状态下的才可以执行
// 						    layer.msg("当前数据不可选！");
// 							return false;
// 						}
						//房屋信息
							if(row){
								//var houseidData = '';
								for(var i=0;i<row.length;i++) {
									// 去重
									if(arr && arr.indexOf(parseInt(row[i].house_number)) > -1){
										continue;
									}
									trData +='<tr>\
												<td class="building_number"><input type="hidden" name="ban_ids[]" class="ban_ids" value="'+row[i].house_number+'">'+row[i].house_number+'</td>\
												<td class="building_address">'+row[i].ban_address+'</td>\
												<td class="prescribed_rent">'+row[i].ban_rent+'</td>\
												<td class="house_delete"><label  class="layui-btn layui-btn-xs layui-btn-normal">未认证</label><label  class="layui-btn layui-btn-xs layui-btn-danger">删除</label></td>\
											</tr>';
							    }
								$('.j-house-box tbody').append(trData);
						
						        
						}
						console.log('选择的数据：',row);
						layer.close(index);
					},btn2: function(index, layero){
						layer.close(index);
					}
			 });
		})
		//删除
		$( ".j-house-box").on( "click", ".house_delete", function() {
			var that=$(this);
			layer.confirm('确定要删除吗？', function(index){
			  var htmls=$(".j-house-box tbody tr");
			  console.log(htmls);
			  if(htmls.length<=1){
			  	$(".j-info-boxs tbody tr").not(":first").find("input").val(0);
			  }
			 that.parents("tr").remove();
			  layer.close(index);
			});  
		})
    });
</script>