<div class="layui-form">
  <table class="layui-table">
    <colgroup>
      <col width="150">
      <col width="500">
      <col width="150">
      <col width="150">
      <col>
    </colgroup>
    <thead>
      <tr>
        <th>房屋编号</th>
        <th>房屋地址</th>
        <th>租户姓名</th>
        <th>规定租金</th>
        <th>操作</th>
      </tr> 
    </thead>
    <tbody>
    {volist name="houselist" id="v"}
      <tr>
        <td>{$v['house_number']}</td>
        <td>{$v['ban_address']}</td>
        <td>{$v['tenant_name']}</td>
        <td>{$v['house_pre_rent']}</td>
        <td>
        {if condition="$v['is_auth']"}
        	<a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-warm">已认证</a>
          <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-disabled">删除</a>
        {else /}
        	<a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-primary">未认证</a>
          <a href="javascript:;" data-href="{:url('delbindhouse')}?id={$v['id']}" hisi-data="{refresh: 2}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>
        {/if}
        
        </td>
      </tr>
     {/volist}
      
    </tbody>
  </table>
</div>
<form class="layui-form j-top-height" action="{:url('addbindhouse')}" method="post">
  <div class="j-details-box floorWrap layui-form">
    <div class="layui-form-item">
      <div class="j-form-label"><i class="red"></i>绑定房屋：</div>
      <div class="layui-input-inline" style="margin-left: -2px;">
        <input type="text" lay-verify="required" placeholder="请输入房屋编号" name="house_number" autocomplete="off" class="layui-input">
      </div>
      <button type="submit" class="layui-btn" lay-submit lay-filter="formSubmit">添加</button>
    </div>
    <input type="hidden" name="member_id" value="{$member_info['member_id']}">
  {:token()}
  <!-- <div class="layui-form-item">
    <div class="layui-input-block">
      <button type="submit" class="layui-btn" lay-submit lay-filter="formSubmit">添加</button>
    </div>
  </div> -->
  </div>
  <!-- 新增公告 E -->
</form>
{include file="system@block/layui" /}