<!-- 业务管理详情 -->
<form class="layui-form j-definition j-top-height" action="">
 <div class="j-details-box  floorWrap layui-form">
  <div class="layui-form-item">
	<div class="j-form-label">业务名称：</div>
	<div class="j-input-inline">
	  <input type="text" name="business_name"  value="办事指引" autocomplete="off" readonly=""  class="layui-input">
	</div>
  </div>
  <div class="layui-form-item">
	<div class="j-form-label">业务图标：</div>
	<div class="j-input-inline j-details-imgs">
		<div class="j-enclosure-img j-viewer-imgs clearfix">
			<ul>
				<li>
					<img src="/upload/ban/image/20191210/8f6c18b2f7225234e443875a16bcc12f.jpg">
				</li>
			</ul>
		</div>
	</div>
  </div>
  <div class="layui-form-item">
	<div class="j-form-label">业务简介：</div>
  	<div class="j-input-inline">
      <textarea name="business_textarea" readonly=""  value="" class="layui-textarea">用户通过小程序查询办事指引！
	  </textarea>
    </div>
  </div>
  <div class="layui-form-item">
	<div class="j-form-label">小程序链接：</div>
    <div class="layui-input-inline" style="margin-left: -2px;">
      <input type="text" name="business_link" value="/weporn/business/help" readonly=""   class="layui-input">
    </div>
  </div>
 </div>
</form>	
{include file="system@block/layui" /}