<!-- 认证详情页面 -->
<form class="layui-form j-definition" action="">
  <div class="layui-form-item">
	<label class="layui-form-label">租户编号：</label>
	<div class="layui-form-mid layui-word-aux">1314595</div>
 </div>
 <div class="layui-form-item">
	<label class="layui-form-label">租户姓名：</label>
	<div class="layui-form-mid layui-word-aux">张三</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">管段：</label>
 	<div class="layui-form-mid layui-word-aux">粮道09管段</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">手机号：</label>
 	<div class="layui-form-mid layui-word-aux">15623744660</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">身份证号：</label>
 	<div class="layui-form-mid layui-word-aux">420106196311302014</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">认证时间：</label>
 	<div class="layui-form-mid layui-word-aux">2020-02-23 10:48:52</div>
 </div>
</form>	
{include file="system@block/layui" /}
