<!-- 支付记录详情 -->
<form class="layui-form j-definition" action="">
  <div class="layui-form-item">
	<label class="layui-form-label">订单编号：</label>
	<div class="layui-form-mid layui-word-aux">{$data_info['out_trade_no']}</div>
 </div>
 <div class="layui-form-item">
	<label class="layui-form-label">用户：</label>
	<div class="layui-form-mid layui-word-aux">{$data_info['member_name']}</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">OPENID：</label>
 	<div class="layui-form-mid layui-word-aux">{$data_info['openid']}</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">房屋编号：</label>
 	<div class="layui-form-mid layui-word-aux"></div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">用户手机：</label>
 	<div class="layui-form-mid layui-word-aux">{$data_info['tel']}</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">交易编号：</label>
 	<div class="layui-form-mid layui-word-aux">{$data_info['transaction_id']}</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">支付时间：</label>
 	<div class="layui-form-mid layui-word-aux">{$data_info['ptime']}</div>
 </div>
 {if condition="isset($order_refund_info)"}
 <div class="layui-form-item">
 	<label class="layui-form-label">退款金额：</label>
 	<div class="layui-form-mid layui-word-aux">{$order_refund_info['ref_money']}元</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">退款时间：</label>
 	<div class="layui-form-mid layui-word-aux">{$order_refund_info['ctime']}</div>
 </div>
 {/if}
</form>	
{include file="system@block/layui" /}
