<div class="j-table-content j-no-title">
<div class="page-toolbar j-page-toolbar clearfix">
      <form class="layui-form layui-form-pane" action="{url('index')}"  method="get" id="hisi-table-search">
		<div class="j-search-fl layui-col-md8  fl">
			  <div class="layui-input-inline j-input-margin j-width-100">
				  <input type="text" name="pay_number" title="订单编号" placeholder="订单编号" class="layui-input">
			  </div>
			  <div class="layui-input-inline j-input-margin j-width-100">
			  	  <input type="text" name="pay_openid" title="OPENID" placeholder="OPENID" class="layui-input">
			  </div>
			  <div class="layui-input-inline j-input-margin j-width-100">
			  	  <input type="text" name="house_number" title="房屋编号" placeholder="房屋编号" class="layui-input">
			  </div>
			  <div class="layui-input-inline layui-col-md2 j-input-margin j-width-110">
			  	<input type="text" name="user_tel" title="用户手机号" placeholder="用户手机号" class="layui-input">
			  </div>
			  <div class="layui-input-inline layui-col-md2 j-input-margin j-width-110">
			  	<input type="text" name="ban_address" title="楼栋地址" placeholder="楼栋地址" class="layui-input">
			  </div>
			  <div class="layui-input-inline layui-col-md2 j-input-margin j-width-110">
			  	<input type="text" name="tel" title="手机号" placeholder="手机号" class="layui-input">
			  </div>
			  <div class="layui-input-inline j-width-110">
				  <select name="pay_state">
					  <option value="">支付状态</option>
					  <option value="1">已支付</option>
					  <option value="2">已退款</option>
				  </select>
			  </div>
		</div>
		<div class="j-search-fr layui-col-md4 fr">
          <div class="layui-input-inline fr">
			  <button type="reset" class="layui-btn j-btn-reset">重置</button>
              <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
                  <i class="layui-icon">&#xe615;</i>
                  搜索
              </button>
			  <button type="button" class="layui-btn layui-btn-warm"><i class="layui-icon iconfont j-icon-screen_icon"></i>标题筛选</button>
			  
          </div>
		</div>
      </form>
  </div>
{include file="system@block/layui" /}
<table id="dataTable" lay-filter='dataTable'></table>
<script type="text/html" title="操作按钮模板" id="buttonTpl">
	<a href="{:url('noticeindex')}" hisi-data="{width: '800px', height: '400px',refresh: 2}" title="退款信息" class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop">退款</a>
	<a href="{:url('noticeindex')}" hisi-data="{width: '800px', height: '400px',refresh: 2}" title="支付记录详情" class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop">详情</a>
</script>
</div>
<script type="text/javascript">
    layui.use(['table','jquery','layer','laydate'], function() {
        var table = layui.table
		    ,$ = layui.$
			,laydate = layui.laydate;
       table.render({
            elem: '#dataTable'
			// ,height: 330
            ,toolbar: true
			,defaultToolbar: ['filter'/*,'exports'*/,'print']//设置右边筛选，导出，打印显示
            ,url: '' //数据接口
            ,page: true //开启分页
			,limits: [10,20,30,40,50,100,300,500,1000,2000,5000]
            ,limit: 10
            ,text: {
                none : "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
            }
            ,cols: [[ //表头
                {field: 'weixin_id', minWidth: 200, align:'center', title: '订单编号'}
                ,{field: 'weixin_username', minWidth: 120, align:'center', title: '用户'}
                ,{field: 'weixin_openid',minWidth:200,align:'center', title: 'OPENID'}
                ,{field: 'weixin_number', minWidth: 200, align:'center', title: '房屋编号'}
				,{field: 'weixin_address', minWidth: 200, align:'center', title: '楼栋地址'}
				,{field: 'transaction_number', minWidth: 200, align:'center', title: '交易编号'}
				,{field: 'weixin_time', minWidth: 200, align:'center', title: '交易时间'}
                ,{field: 'weixin_type', align:'center',minWidth:80, title: '支付状态', templet:function(d){
                	if(parseInt(d.weixin_type) == 1){
                    	return '<div class="layui-table-cell">已支付</div>';
                    }else if(parseInt(d.weixin_type) == 2){
                		return '<div class="layui-table-cell">已退款</div>';
                    }
                    
                }}
                ,{title: '操作', Width: 260,minWidth: 260, align:'center', templet: '#buttonTpl',fixed:'right'}
            ]],
			data: [{
            'weixin_id': '10500335300299202002',
            'weixin_username': 'lsn',
			'weixin_openid': 'oH4X25ZJjygxqcgzcI5x18KQvzCc',
            'weixin_number': '10500335300299',
            "weixin_address": '沙湖明珠',
			"transaction_number": '4200000518202003030187224896',
			"weixin_time": '2020-03-03 15:25:26',
            "weixin_type": 2,
          }
        ]
            ,done:function(res,curr,count){
				
            }
        },isShowInst);
		$(".j-search-fr .layui-btn:last").addClass("on");//搜索最后按钮样式
		
    });
</script>