<!-- 支付记录详情 -->
<form class="layui-form j-definition" action="">
  <div class="layui-form-item">
	<label class="layui-form-label">订单编号：</label>
	<div class="layui-form-mid layui-word-aux">1314595</div>
 </div>
 <div class="layui-form-item">
	<label class="layui-form-label">用户：</label>
	<div class="layui-form-mid layui-word-aux">张三</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">OPENID：</label>
 	<div class="layui-form-mid layui-word-aux">oH4X25ZJjygxqcgzcI5x18KQvzCc</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">房屋编号：</label>
 	<div class="layui-form-mid layui-word-aux">10500335300299</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">用户手机：</label>
 	<div class="layui-form-mid layui-word-aux">13812345678</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">交易编号：</label>
 	<div class="layui-form-mid layui-word-aux">4200000518202003030187224896</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">支付时间：</label>
 	<div class="layui-form-mid layui-word-aux">2020-03-02 15:25:26</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">退款时间：</label>
 	<div class="layui-form-mid layui-word-aux">2020-03-02 15:25:26</div>
 </div>
</form>	
{include file="system@block/layui" /}
