<!-- 支付记录详情 -->
<form class="layui-form j-definition" action="">
  <div class="layui-form-item">
	<label class="layui-form-label">支付订单编号：</label>
	<div class="layui-form-mid layui-word-aux">{$data_info['out_trade_no']}</div>
 </div>
 <div class="layui-form-item">
	<label class="layui-form-label">用户：</label>
	<div class="layui-form-mid layui-word-aux">{$data_info['member_name']}</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">OPENID：</label>
 	<div class="layui-form-mid layui-word-aux">{$data_info['openid']}</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">支付详情：</label>
 	<div class="layui-form-mid layui-word-aux">
 	<table class="layui-table">
  <colgroup>
    <col width="150">
    <col width="200">
  </colgroup>
  <thead>
    <tr>
      <th>房屋编号</th>
      <th>租金订单编号</th>
      <th>租金订单日期</th>
      <th>支付金额/元</th>
    </tr> 
  </thead>
  <tbody>
  	{volist name="houses" id="v"}
    <tr>
      <td>{$v['house_number']}</td>
      <td>{$v['rent_order_number']}</td>
      <td>{$v['rent_order_date']}</td>
      <td>{$v['pay_dan_money']}</td>
    </tr>
    {/volist}
  </tbody>
</table>
</div>
 </div>

 <div class="layui-form-item">
 	<label class="layui-form-label">用户手机：</label>
 	<div class="layui-form-mid layui-word-aux">{$data_info['tel']}</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">交易编号：</label>
 	<div class="layui-form-mid layui-word-aux">{$data_info['transaction_id']}</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">支付时间：</label>
 	<div class="layui-form-mid layui-word-aux">{$data_info['ptime']}</div>
 </div>
 <div class="layui-form-item">
  <label class="layui-form-label">是否开发票：</label>
  <div class="layui-form-mid layui-word-aux">{if condition="$data_info['invoice_id']"}已开发票{else /}未开发票{/if}</div>
 </div>
 {if condition="$data_info['invoice_id']"}
 <div class="layui-form-item">
  <label class="layui-form-label">发票流水号：</label>
  <div class="layui-form-mid layui-word-aux">{$invoice_info['fpqqlsh']}</div>
 </div>
 <div class="layui-form-item">
  <label class="layui-form-label">远程电子发票地址：</label>
  <div class="layui-form-mid layui-word-aux">{$invoice_info['pdfurl']}</div>
 </div>
 <div class="layui-form-item">
  <label class="layui-form-label">本地电子发票地址：</label>
  <div class="layui-form-mid layui-word-aux">{if condition="$invoice_info['local_pdfurl']"}<a class="layui-btn layui-btn-xs layui-btn-normal" href="{$invoice_info['local_pdfurl']}" target="_blank">点此查看</a>{else /}未生成{/if}</div>
 </div>
 <div class="layui-form-item">
  <label class="layui-form-label">开票类型：</label>
  <div class="layui-form-mid layui-word-aux">{if condition="$invoice_info['kplx']"}红字发票{else /}蓝字发票{/if}</div>
 </div>
 <div class="layui-form-item">
  <label class="layui-form-label">发票类型：</label>
  <div class="layui-form-mid layui-word-aux">{if condition="$invoice_info['fplx'] == '026'"}增值税电子发票{else /}区块链发票{/if}</div>
 </div>
 <div class="layui-form-item">
  <label class="layui-form-label">征税方式：</label>
  <div class="layui-form-mid layui-word-aux">{if condition="$invoice_info['zsfs'] == 2"}差额征税{else /}普通征税{/if}</div>
 </div>
 <div class="layui-form-item">
  <label class="layui-form-label">收款人：</label>
  <div class="layui-form-mid layui-word-aux">{$invoice_info['skr']}</div>
 </div>
 <div class="layui-form-item">
  <label class="layui-form-label">复核人：</label>
  <div class="layui-form-mid layui-word-aux">{$invoice_info['fhr']}</div>
 </div>
 <div class="layui-form-item">
  <label class="layui-form-label">开票人：</label>
  <div class="layui-form-mid layui-word-aux">{$invoice_info['kpr']}</div>
 </div>
 {/if}
 {if condition="isset($order_refund_info)"}
 <div class="layui-form-item">
 	<label class="layui-form-label">退款金额：</label>
 	<div class="layui-form-mid layui-word-aux">{$order_refund_info['ref_money']}元</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">退款时间：</label>
 	<div class="layui-form-mid layui-word-aux">{$order_refund_info['ctime']}</div>
 </div>
 <div class="layui-form-item">
  <label class="layui-form-label">退款备注：</label>
  <div class="layui-form-mid layui-word-aux">{$order_refund_info['ref_description']}</div>
 </div>
 {/if}
</form>	
{include file="system@block/layui" /}
