<!-- 退款 -->
<form class="layui-form j-definition" action="/wechat/index/refundCreate?id={$data_info['order_id']}">
  <div class="layui-form-item">
	<label class="layui-form-label">订单编号：</label>
	<div class="layui-form-mid layui-word-aux">{$data_info['out_trade_no']}</div>
 </div>
 <div class="layui-form-item">
	<label class="layui-form-label">用户：</label>
	<div class="layui-form-mid layui-word-aux">{$data_info['member_name']}</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">OPENID：</label>
 	<div class="layui-form-mid layui-word-aux">{$data_info['openid']}</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">房屋编号：</label>
 	<div class="layui-form-mid layui-word-aux"></div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">用户手机：</label>
 	<div class="layui-form-mid layui-word-aux">{$data_info['tel']}</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">交易编号：</label>
 	<div class="layui-form-mid layui-word-aux">{$data_info['transaction_id']}</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">支付时间：</label>
 	<div class="layui-form-mid layui-word-aux">{$data_info['ptime']}</div>
 </div>
 <div class="layui-form-item">
 	<label class="layui-form-label">退款时间：</label>
 	<div class="layui-form-mid layui-word-aux"></div>
 </div>
 <div class="pop-bottom-bar">
   <div class="layui-input-block">
     <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" hisi-data="{pop: true, refresh: true}" lay-filter="formSubmit">退款</button>
     <a href="{:url('payrecord')}" class="layui-btn layui-btn-primary j-cancel">取消</a>
   </div>
 </div>
</form>	
{include file="system@block/layui" /}
<script>
var formData = {:json_encode($formData)};
layui.use(['form', 'func','jquery'], function() {

    var $ = layui.jquery, form = layui.form;
    layui.func.assign(formData);
	$(".j-cancel").click(function(){
		// 在子页面关闭弹出层
		var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
		parent.layer.close(index); //再执行关闭   
		
	})
});
</script>