<!-- 用户管理详情 -->
<form class="layui-form j-definition " action="">
  <div class="layui-form-item">
	<label class="layui-form-label">用户：</label>
	<div class="layui-form-mid layui-word-aux"><img src="/static/system/image/Group8.png" /> 张三</div>
 </div>
  <div class="layui-form-item">
	<label class="layui-form-label">OPENID：</label>
	<div class="layui-form-mid layui-word-aux">oH4X25aUCiSuomOjOz76EC7V52F8</div>
  </div>
  <div class="layui-form-item">
	<label class="layui-form-label">真实姓名：</label>
	<div class="layui-input-block">
	  <input type="text" name="username"  autocomplete="off" placeholder="请输入真实姓名" class="layui-input">
	</div>
  </div>
  <div class="layui-form-item">
  	<label class="layui-form-label">手机号：</label>
  	<div class="layui-input-block">
  	  <input type="text" name="tel"  autocomplete="off" placeholder="请输入手机号" class="layui-input">
  	</div>
  </div>
  <div class="layui-form-item">
  	<label class="layui-form-label">注册时间：</label>
  	<div class="layui-form-mid layui-word-aux">2020-02-23 10:48:52</div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">用户状态：</label>
    <div class="layui-input-block">
      <input type="radio" name="state" value="启用" title="启用" checked="">
      <input type="radio" name="state" value="禁用" title="禁用">
    </div>
  </div>
  <div class="layui-form-item">
  	<label class="layui-form-label">绑定房屋数：</label>
  	<div class="layui-form-mid layui-word-aux">5</div>
  </div>
  <div class="layui-form-item">
  	<label class="layui-form-label">支付订单数：</label>
  	<div class="layui-form-mid layui-word-aux">1</div>
  </div>
  <div class="layui-form-item">
  	<label class="layui-form-label">成交金额：</label>
  	<div class="layui-form-mid layui-word-aux">58.25</div>
  </div>
  <div class="layui-form-item">
  	<label class="layui-form-label">备注：</label>
  	<div class="layui-input-block">
      <textarea name="textarea" placeholder="请输入内容" class="layui-textarea"></textarea>
    </div>
  </div>
  <div class="pop-bottom-bar">
    <div class="layui-input-block">
      <button type="submit" class="layui-btn" lay-submit="" lay-filter="formSubmit" hisi-data="{pop: true, refresh: true}">修改</button>
      <button type="reset" class="layui-btn layui-btn-primary j-cancel">取消</button>
    </div>
  </div>
</form>	
{include file="system@block/layui" /}
<script>
var formData = {:json_encode($formData)};
layui.use(['form', 'func','jquery'], function() {

    var $ = layui.jquery, form = layui.form;
    layui.func.assign(formData);
	$(".j-cancel").click(function(){
		// 在子页面关闭弹出层
		var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
		parent.layer.close(index); //再执行关闭   
		
	})
});
</script>