<style>
  .page-tab-content{ background: none;padding: 0;overflow-x: hidden;}
</style>
<link rel="stylesheet" href="__PUBLIC_JS__/viewer/viewer.min.css?v={:config('hisiphp.version')}">
<div class="layui-row layui-col-space10 j-row-box">
  <div class="layui-col-md9 j-back-gray j-border-radius10 clearfix">
    <form class="layui-form" action="transfer" method="post">
      <div class="grid-demo j-back-white clearfix j-left">
        <div class="layui-card">
          <h1 class="j-card-header">问题描述：</h1>
          <div class="layui-card-body">
            {$data_info['remark']}
          </div>
          <h1 class="j-card-header">附件：</h1>
          <div class="layui-card-body clearfix">
            <ul class="j-enclosure-box j-viewer-img">
              {volist name="data_info['imgs']" id="vo"}
              <li>
                <img data-original="{$vo['file']}" src="{$vo['file']}" />
								<p class="j-file-name">{$vo['file_name']}</p>
              </li>
              {/volist}
            </ul>
          </div>
          <h1 class="j-card-header no">状态：</h1>
          <div class="layui-card-body clearfix">
            <!-- 状态条显示 S -->
          <!-- <div class="j-status-bar">
            <ul>
              {volist name="$data_info['jsondata']" id="v"}
              <li class="layui-col-xs2">
                <i class="layui-icon layui-icon-ok-circle"></i>
                <p>{$systemusers[$v['FromUid']]}</p>
              </li>
              {/volist}
            </ul>
          </div> -->
          <!-- 状态条显示 E -->
          <div class="j-axis-main clearfix">
            <ul class="time-axis">
              {volist name="data_info['jsondata']" id="v"}
              <li class="time-axis-item j-viewer-img">
                <div class="time-axis-date"><span></span></div>
                <div class="time-axis-title">
                  <h1>{$systemusers[$v['FromUid']]['role']['name']} 【{$systemusers[$v['FromUid']]['nick']}】 于 {$v['Time']|date='Y-m-d H:i'} 
                  <font style="color:blue;">{$v['Action']} </font>{if condition="$v['ToUid']"} {$systemusers[$v['ToUid']]['role']['name']} 【{$systemusers[$v['ToUid']]['nick']}】 {/if}</h1>
                  <div class="j-remarks">
                    <label class="layui-btn layui-btn-xs layui-btn-warm">备注</label> {$v['Desc']}
                  </div>
                  {if condition="$v['Img']"}
                  {volist name="$v['Img']" id="vo"}
                  <img data-original="{$vo}" src="{$vo}" />
                  {/volist}
                  {/if}
                </div>
              </li>
              {/volist}
            <ul>
          </div>
          </div>
          <h1 class="j-card-header">回复：</h1>
          <div class="layui-card-body clearfix">
          	<div  class="j-reply-textarea clearfix">
          		<textarea name="replay" rows="12" id="j-textarea"></textarea>
          		<div class="j-upload-size" id="upload_img">
          			<div class="j-upload_img fl"><i class="layui-icon layui-icon-picture"></i><span>上传附件</span></div>
								<div class="j-phrase fr">
									<span class="j-phrase-name">常用语<i class="layui-icon iconfont  j-icon-xiajiantou"></i><i class="layui-icon iconfont j-icon-shangjiantou hide"></i></span>
									<div class="j-phrase-list hide">
										<ul>
											{volist name="params['op_words']" id="v"}
                      <li>{$v}</li>
                      {/volist}
										</ul>
									</div>
									<img class="j-list-img hide" src="__ADMIN_IMG__/j-phrase-angle.png" />
								</div>
          		</div>
          	</div>
          	<div class="layui-row layui-form-item layui-col-space90">
          		<div class="layui-col-md12">
          			<div class="j-enclosure-img clearfix">
          				<div id="upload_img_list3" class="upload_img_list"> </div>
          			</div>
          		</div>
          	</div>
          	
          </div>
        </div>
      </div>
        <input type="hidden" name="id" value="{$data_info['id']}">
        <div class="layui-form-item">
          <div class="j-form-box clearfix">
            <div class="fl">
              <a href="{:url('index')}" class="layui-btn layui-btn-normal">返回</a>
            </div>
            <div class="fr">
					<button type="button" class="layui-btn layui-btn-normal" id="initiator" >退至发起人</button>	
          <button type="button" class="layui-btn layui-btn-orange" id="handover" >转交工单</button>
          <button type="button" class="layui-btn layui-btn-grass" id="complete" >完成工单</button>
        </div>
      </div>  
    </div>
  </form>
</div>
<div class="layui-col-md3 j-back-gray j-border-radius10 clearfix">
  <div class="grid-demo j-back-white j-info-box clearfix j-right">
    <dl class="clearfix">
      <dt><i class="layui-icon iconfont j-icon-qingdanxinxishebeijichuxinxigongdanxinxi"></i>工单信息</dt>
      <dd>
        <h1>工单编号</h1>
        <p>{$data_info['op_order_number']}</p>
      </dd>
      <dd>
        <h1>创建时间</h1>
        <p>{$data_info['ctime']}</p>
      </dd>
      <dd>
        <h1>发起人</h1>
        <p>{$data_info['nick']}（{$params['insts'][$data_info['inst_id']]}）</p>
      </dd>
      <dd>
        <h1>运行管理中心</h1>
        <p>{$data_info['jsondata'][1]?$systemusers[$data_info['jsondata'][1]['FromUid']]['nick']:''}</p>
      </dd>
      <dd>
        <h1>状态</h1>
        <p>{$data_info['status_info']}</p>
      </dd>
      <dd>
        <h1>问题类型</h1>
        <p>{$data_info['op_order_type_name']}</p>
      </dd>
    </dl>
    <dl class="clearfix">
      <dt><i class="layui-icon iconfont j-icon-yonghu"></i>用户信息</dt>
      {volist name="params['key_ids']" id="v"}
      {if condition="$data_info['key_number'][$key]"}
      <dd>
        <h1>{$v}</h1>
        <p>{$data_info['key_number'][$key]}</p> 
      </dd>
      {/if}
      {/volist}
    </dl>
  </div>
</div>
</div>

<style>
  .j-frame-class{padding: 15px 15px 0;}
  .j-frame-class .j-frame-label{ font-size: 16px; color:rgba(74,74,74,1); line-height: 40px; margin-bottom: 10px;}
  .layui-layer-title{font-size: 16px; font-weight: bold;}
  .j-frame-class .layui-form-select dl dd.layui-this{background-color:#0084FF;}
  .j-frame-class .layui-form-select dl dt{ font-size: 14px;}
</style>
<div class="row j-frame-class" style="display:none" id="show_div">
  <form class="layui-form" >
    <div class="layui-form-item">
      <label class="j-frame-label">工单受理人</label>
      <div class="j-input-block">
        <select name="transfer_to" id="transfer_to">
          <option value="">请选择工单受理人</option>
          {if condition="ADMIN_ROLE != 10"}
          <optgroup label="技术服务中心">
            <option value="83" {if condition="session('admin_user.nick') == '卢金权'"}disabled{/if}>卢金权</option>
          </optgroup>
          {/if}
          {if condition="ADMIN_ROLE != 12"}
          <optgroup label="产品部">
            <option value="58" {if condition="session('admin_user.nick') == '王高丽'"}disabled{/if}>王高丽</option>
          </optgroup>
          {/if}
          {if condition="ADMIN_ROLE != 9"}
          <optgroup label="经管科">
            <option value="97" {if condition="session('admin_user.nick') == '叶惠丽'"}disabled{/if}>叶惠丽</option>
          </optgroup>
          {/if}
          {if condition="ADMIN_ROLE != 11"}
          <optgroup label="运行管理中心">
            <option value="81" {if condition="session('admin_user.nick') == '郑湾'"}disabled{/if}>郑湾</option>
            <option value="82" {if condition="session('admin_user.nick') == '刘丹'"}disabled{/if}>刘丹</option>
          </optgroup>
          {/if}
        </select>
      </div>
    </div>
      </form>
    </div>
    {include file="system@block/layui" /}
    <script type="text/javascript" src="__PUBLIC_JS__/viewer/viewer-jquery.min.js?v={:config('hisiphp.version')}"></script>
    <script>
			var upurl = "{:url('system/Api/upload')}?input=groupreply&group=ban&water=no"; //影像资料上传图片地址
			var duotu = true; //是否为多图上传true false
      layui.use(['form', 'func', 'upload'], function() {
        var $ = layui.jquery, form = layui.form,upload = layui.upload;

        //转交工单
        $("#handover").on("click",function(){
          layer.open({
            type: 1,
            btn: ["确定","取消"],
            zIndex: 10,
            title: ['转交工单'],
            area: ['400px','500px'],
            offset: 'auto',
            content: $('#show_div'),
            yes: function(index, layero){
              
              var data = $('.layui-form').serialize();
      
              if(!$('.layui-layer-btn0').hasClass('disabled')){
                $('.layui-layer-btn0').addClass('disabled').text('提交中...');
                formSubmit('post',"{:url('transfer')}",data,index);
              }
           
          }
        });

        })
        function formSubmit(type,url,data,index){
          $.ajax({
            type: type,
            url: url,
            data: data,
            success: function(res) {
              console.log(res);
              var that = $('.layui-layer-btn0');
              that.text(res.msg);
              if (res.code == 0) { 
                  setTimeout(function(){
                      that.removeClass('disabled').text('确认');
                  }, 3000);
              } else {
                  setTimeout(function(){
                      parent.location.href = res.url;
                  }, 2000);
              }
            }
          });
          return false;
        }
    //完结工单
    $("#complete").on("click", function() {
      layer.confirm("是否确认完结工单", {
        btn: ["确定","取消"],
        icon: 3,
        title:false,
        offset: 'auto',
        closeBtn:false
      }, function(index){
        console.log($('.layui-form').serialize());
        var data = $('.layui-form').serialize();
        var data = data + '&is_end=' + 1;
        if(!$('.layui-layer-btn0').hasClass('disabled')){
          $('.layui-layer-btn0').addClass('disabled').text('提交中...');
          formSubmit('post',"{:url('transfer')}",data,index);
        }
      }, function(index){
        layer.close(index);
      });
    });
		//退至发起人
		$("#initiator").on("click", function() {
		  layer.confirm("是否提醒用户补充资料？", {
		    btn: ["确定","取消"],
		    icon: 3,
		    title:false,
		    offset: 'auto',
		    closeBtn:false
		  }, function(index){
		     var data = $('.layui-form').serialize();
        $.post('/admin.php/order/accept/backToFirst.html',  data ,function(res) {
              layer.msg(res.msg);
              if (res.code) {
                  setTimeout(function(){
                      parent.location.href = res.url;
                  }, 2000);
              }
          });
		  }, function(index){
		    layer.close(index);
		  });
		});
		//常用语
		$('.j-phrase-name').on('click', function(){
			$(".j-phrase-list").toggle();//点击常用语显示影藏
			$(".j-list-img").toggle();
			$(this).toggleClass("on");
		});
		$(".j-phrase-list li").on('click', function(){
			 $(this).addClass("on").siblings().removeClass("on");
			 $("#j-textarea").val($(this).text());
			 $(".j-phrase-list").hide();
			 $(".j-list-img").hide();
			 $('.j-phrase-name').removeClass("on");
		 });


		//回复上传附件
		upload.render({
			elem: '.j-upload_img',
			url: upurl,
			multiple: duotu,
			field: 'groupreply',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list3').append('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="groupreply[]" value="' + res.data.file + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list3').html('<dd class="item_img" id="' + res.data.file +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="groupreply" value="' + res.data.file + '" /></dd>');
				}
			}
		})
		/*
		删除上传图片
		*/
		$(document).on("click", ".upload_img_list dd i", function() {
			$(this).parents("dd").remove();
		})
  });
	$('.j-viewer-img').viewer({
	   	url: 'data-original',
	 });
  </script>