/*---------------------公用样式 S--------------------*/
.clear{clear:both;}
.clearfix{zoom:1;}
.clearfix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.j-back-gray{ background: #f5f5f5;}
.j-back-white{ background: #fff;}
.j-border-radius10{ border-radius: 10px;}
.hide{display: none;}
.page-tab-content{border-radius: 2px;}
.j-news-num{background:rgba(255,195,104,1); padding: 0 5px; border-radius:7px; color: #fff; font-size: 10px; height: 14px; line-height: 14px; font-weight: 100;
position: absolute; right: 15px;top:50%; margin-top: -7px;
}
.j-border-box{border:1px solid rgba(198,210,223,1);}
.j-border-box.j-border-noleft{border-left: none;}
.j-text-indent15{ text-indent: 15px;}
a:hover{ text-decoration: none;}/* 去除鼠标移过下划线 */
/*---------- 按钮颜色 S----------*/
.layui-btn{ font-weight: bold;}
.layui-btn-orange{ background: #F9B048;}/*  */
.layui-btn-grass{ background: #55C151;}
.layui-btn-gray{background:#B6B9BE;}
/* ----------按钮颜色 E----------*/
/* 操作菜单 S */
.j-container-margin.layui-btn-container .layui-btn{ margin:8px 10px 10px 0;}
.j-table-content .layui-table-tool .layui-inline[lay-event="LAYTABLE_COLS"]{top:-64px; right:-18px; width: 113px; height: 38px;border: 0;}
.j-table-content .layui-table-tool .layui-inline[lay-event="LAYTABLE_COLS"] i.layui-icon-cols{ display: none;}
.j-table-content .layui-table-tool .layui-inline[lay-event="LAYTABLE_COLS"]  .layui-table-tool-panel{top:45px;}
.j-table-content .layui-table-tool{ min-height: 0; padding: 0;border-width:0}
.j-table-content .layui-table-box{min-height: 450px;}
.j-table-content .layui-form-checked i,.j-table-content .layui-form-checked:hover i{ color: #fff!important;}
/* 操作菜单 E */
/*搜索框样式 S*/
.j-table-content .layui-table-view{margin: 0 0 10px;}
.layui-form-pane .j-search-fl{display: flex;}
.layui-form-pane .j-search-fl .layui-input-inline,.j-search-fr .layui-btn{ float: left;margin-left: 1px;}
.layui-form-pane .j-search-fl .layui-input-inline.j-input-margin{ margin-right: 10px;}
.page-toolbar.j-page-toolbar{margin: 8px 0 5px;}
.j-page-toolbar .layui-input-inline .layui-input,.j-page-toolbar .layui-input-inline .layui-form-select{ margin:0 10px 10px 0;}
.page-toolbar.j-page-toolbar  .layui-btn+.layui-btn,.page-toolbar.j-page-toolbar  .layui-btn{ margin: 0 10px 10px 0;}
.page-toolbar.j-page-toolbar  .layui-btn.on{margin: 0 0 10px 0;}
.j-table-content .j-btn-reset{  background: none; color: #0084FF;padding: 0 10px;}/* 重置样式 */
/* .j-table-content .layui-tab-card{border: 0;box-shadow: none;}//自适应搜索
.j-table-content .layui-tab-card .layui-tab-title{ border: none;} */
.wrap{height: 38px; overflow: hidden;} 
.cont{ height: 60px; overflow-x: auto; overflow-y:hidden ;position: relative; } 
.state { white-space: nowrap; display: flex; } 
.state:-webkit-scrollbar {display: none;}
.state li{float: left;}
/*搜索框样式 E*/
/* 表格样式 S */
.layui-table-body .layui-btn{ font-weight: inherit;} 
/* 表格样式 E */
/*--------------------公用样式 S---------------------*/
/* ----------详情样式  S----------*/
.j-row-box{ overflow: hidden;}
.j-row-box .j-left,.j-row-box .j-right{ margin-bottom: -9999px;padding-bottom: 9999px;}
.j-card-header{font-size:14px;font-weight:bold;color:rgba(133,146,163,1);line-height:19px; padding:25px 15px 0;}
.j-enclosure-box li{ float: left; margin:15px 10px 0 0; width:120px; height: 112px;}
.j-enclosure-box li img{width:120px; height: 112px; border-radius: 10px;}
.j-info-box dl{ padding: 35px  35px 0;}
.j-info-box dt{font-weight: bold; color: #333;font-family: 'MicrosoftYaHei';}
.j-info-box dt i{ margin-right: 5px;}
.j-info-box dd{ margin-top: 20px;}
.j-info-box dd h1{font-size:14px;color:rgba(133,146,163,1);line-height:19px;}
.j-info-box dd p{color: #333; font-family: 'MicrosoftYaHei';padding-top: 3px;}
.j-axis-main{background:rgba(42,96,228,0.05);padding: 20px;}
.time-axis{margin: 0;padding: 0;position: relative;}
.time-axis:before{content: '';position: absolute;left:12px;top: 8px;width: 1px;height: 100%;background-color: #E4E4E4;}
.time-axis-item{list-style: none;padding-left:30px;position: relative;line-height: 45px;font-size: 14px;color: #141414;}
.time-axis-title{position: relative;top:-5px;}
.time-axis-title h1,.time-axis-title .j-remarks{ font:bold 14px/19px 'MicrosoftYaHei'; color: #666;}
.time-axis-title .j-remarks{ padding: 10px 0 20px;}
.time-axis-date{position: absolute;left: 0;top: 0;color: #666;}
.time-axis-date span{position: absolute;right: -18px;top: 35%;display: block;width: 10px;height: 10px;border-radius: 100%;background-color:#0084FF;}
/*---------- 状态条 S ----------*/
.j-status-bar ul{display: inline-block;margin:10px 0 30px;width: 100%;}
.j-status-bar li{ text-align: center;  height: 6px; background: #0084FF;border-radius: 4px;position: relative;}
.j-status-bar li i{ width: 20px; height: 20px; position: absolute; left: 50%; margin-left: -10px;top:-10px;}
.j-status-bar li p{ padding-top: 15px;color:rgba(0,132,255,1); font:bold 14px 'MicrosoftYaHei';}
/* ----------状态条 E ----------*/
/*----------回复 S----------*/
.j-reply-textarea{border:#ADBECB 1px solid;}
.j-reply-textarea textarea{ width: 100%; box-sizing: border-box; padding: 15px; font-size: 14px; color: #000;border: 0;resize:none}
.j-upload-size{ background:#F3F6FD ; height: 40px; line-height: 40px; padding: 0 15px;}
.j-upload-size i{margin-right: 10px;}
.j-upload-size span{ color: #8592A3;}
/*----------回复 E----------*/
.j-form-box{padding: 0 15px;}
/* ----------详情样式 E ----------*/

/*----------房屋档案详情 S----------*/
.j-details-box{ padding: 0 17px 20px; box-sizing: border-box;overflow: hidden;}
/* .j-details-box.floorWrap{ padding-top: 50px;} */
.layui-elem-field.j-field-box{ margin: 30px 0 20px;}
.layui-elem-field.j-field-box legend{ font:bold 16px ''; color:#0084FF;}
.j-details-box .j-form-label,.j-details-box .j-enclosure-label{ float: left; padding: 0; width: 120px; text-align: center; line-height: 36px;background:rgba(240,241,245,1);border:1px solid rgba(198,210,223,1);color: #8592A3; font-weight: bold;border-radius: 2px 0 0 2px ;
}
.j-details-box .j-enclosure-label{float: initial;}
/* .j-enclosure-upload{ margin-top: 15px;} */
.j-details-box .j-enclosure-upload .j-enclosure-label { float: left; position: relative;}
/* .j-enclosure-img{ padding: 20px 0 0;} */
.j-details-box .j-enclosure-label.j-uplode-icon{background:#fff; color:#0084FF;position: relative;left: -1px; margin-right: 5px;}
.j-details-box .j-enclosure-label.j-uplode-icon i img{ width: 13px; height: 13px;position: relative;top:-3px; margin-right: 5px;}
.j-details-box .j-lengthen .j-form-label{ width: 190px;}
.j-details-box .j-form-label i{padding-right: 5px;color:rgba(255,87,34,1);}
.j-details-box .layui-form-item .j-input-inline{padding-left: 122px; position: relative;left: -2px;font-weight: bold; color: #666;}
.j-details-box .layui-form-item .j-input-inline.j-input-radio{padding-left: 142px; font-weight: inherit;}
.j-details-box .layui-form-item .j-lengthen .j-input-inline.j-input-radio{padding-left: 212px; font-weight: inherit;}
.j-details-box .layui-input,.j-details-box .layui-select,.j-details-box .layui-textarea{border:1px solid rgba(198,210,223,1);}
.j-map-height{ width: 100%; height: 224px;}
.j-enclosure-img li{ margin:20px 10px 0 0;width: 120px; height: 112px; float: left; border-radius: 4px;}
.j-enclosure-img li img{width: 120px; height: 112px;}
.j-margin-btn{padding: 40px 0 40px 15px;}
.layui-col-space90>*{padding: 15px 45px 0;}
.layui-col-space90{margin: -15px -45px 0;}
/*楼层导航 S*/
.j-floor-nav .navWrap{position: fixed;top:150px; right: 20px;z-index: 99999;background:rgba(255,255,255,0.5);}
/* .j-floor-nav .navWrap li{width: 212px; height: 28px; background:url(../image/Rectangle17.png) no-repeat; margin-bottom: 15px;}
.j-floor-nav .navWrap li.on{background:url(../image/guide.png) no-repeat;}
.j-floor-nav .navWrap li.current{width: 212px; height: 28px;background:url(../image/Rectangle17-on.png) no-repeat;}
.j-floor-nav .navWrap li.on.current{background:url(../image/guide-on.png) no-repeat;} */
.j-floor-nav .navWrap li{min-width: 80px; height: 39px; line-height: 39px; padding: 0 12px; background:#C6D2DF; margin-bottom: 10px; border-radius: 4px;}
.j-floor-nav .navWrap li.current{background:#2E77EF;}
.j-floor-nav .navWrap li a{display: block; color: #fff;}
.j-floor-nav .navWrap li i{ border:#fff 1px solid;border-radius: 50%; width: 15px;height: 15px;font-style:normal; /* margin-left: 25px; */
 display: inline-block;font:12px/14px '';text-align: center;margin-right: 12px;
 }
 .j-floor-nav .navWrap li b{ line-height: 28px;display: inline-block;}
/*楼层导航 E*/
/*----------房屋档案详情 E----------*/
/*楼栋结构 S*/
.j-size-typeset li{ width: 240px; margin:0 15px 15px 0; float: left;}
.j-size-typeset li label{ width: 98px; text-align: right; display: inline-block; color: #8592A3;}
.j-size-typeset li.times{ width: 480px;}
.layui-elem-field.j-field-box.j-top-margin20{margin:10px 0 20px;}
.j-structure-box{ margin: 0 30px;}
.j-structure-box .j-title{height: 40px;font:bold 14px/40px '';color: #666;background:rgba(240,241,245,1);}
.j-structure-box .j-title .j-size{ text-align: center; }
.layui-form-item .j-layui-inlines{ padding-left: 80px;}
.layui-form-item .j-layui-inlines .layui-input-inline{width: 100px; float: initial; display: block; margin: 0 auto;position: relative;top:6px; font-size: 12px;}
.layui-form-item .j-layui-inlines .layui-input-inline .layui-input{ height: 26px;border:#148EFF 1px solid;}
.j-structure-box .layui-form-select dl{top:30px;}
.j-structure-con,.j-structure-data{ border-top:1px solid rgba(198,210,223,1); height: 360px; overflow: auto;}
.j-structure-data h1{font:12px '' ;color:#8592A3;word-wrap: break-word;}
.j-structure-data p{word-wrap: break-word;font:12px '' ; padding-top: 5px;}
.j-structure-data .layui-row:first{padding-top: 15px;}
.j-structure-data .layui-row.on{ padding-top: 15px;}
.j-structure-data .layui-row{ padding-bottom: 30px;}
.j-details-box hr{margin: 20px 0;}
.j-structure-con dl{min-height: 40px;    position: relative;}
.j-structure-con dl.cur{background:rgba(247,248,250,1);}
.j-structure-con dt{ width:80px; text-align: center; display: inline-block; float: left; line-height: 40px;}
.j-structure-con dd{padding:0 20px 0 120px;text-align: center;}
.j-structure-con dd li{border:1px solid rgba(127,155,185,1);border-radius:2px;padding: 1px 5px;display: inline-block;color:#7F9BB9; font-size: 12px; margin: 12px 3px 3px 0;cursor: pointer;}
.j-structure-con dd li.on{ background:#0084FF; border: #0084FF 1px solid; color: #fff;}
/*楼栋结构 E*/
/*----------新建工单 S----------*/
.j-textarea-border{border: #C6D2DF 1px solid; margin-top: 15px; padding: 10px 10px 0;}
.j-textarea{ width: 100%; height:185px; border: none;resize:none  }
.j-textarea-border .j-size{ text-align: right; line-height: 25px; color:#BBBBBB;}
/*----------新建工单 E----------*/
/*----------弹框样式 S----------*/
.j-frame-class{padding: 15px 15px 0;}
.j-details-box .layui-form-select dl dd.layui-this{ background:#0084FF;}
/*----------弹框样式 E----------*/
/*------------------ 多图上传S ----------------*/
.upload_img_list dd {position: relative;margin: 20px 10px 10px 0;float: left}
.upload_img_list .operate {position: absolute;top: -9px;right: -12px;z-index: 1}
.upload_img_list .operate i {cursor: pointer;padding: 2px;line-height: 15px;text-align: center;color: #F14C3D;margin-left: 1px;float: left;filter: alpha(opacity=80);-moz-opacity: .8;-khtml-opacity: .8;
opacity: .8color: #333;}
.upload_img_list dd .img {height: 100px; width: auto;}
.j-details-box .j-enclosure-label.j-uplode-icon button{position: absolute; left: 0; top:0; height: 38px;  width: 122px; overflow: hidden; opacity: 0;}
/*------------------ 多图上传E ----------------*/
/*------------------ 工单数据S ----------------*/
.j-chart-box{ background: #fff;border-radius: 4px; padding: 30px;}
.j-echarts-box .j-list-box{ position: relative;width: 100%;height: 196px; border-radius: 4px;display: inline-block;}
.j-echarts-box .j-list1{ background: url(../image/j-Group1.jpg) repeat-x;}
.j-echarts-box .j-list2{ background: url(../image/j-Group2.jpg) repeat-x;}
.j-echarts-box .j-list3{ background: url(../image/j-Group3.jpg) repeat-x;}
.j-echarts-box .j-list4{ background: url(../image/j-Group4.jpg) repeat-x;}
.j-echarts-box .j-list-box img{ position: absolute; bottom:22px; left: 15px; height: 90px; width: auto;}
.j-echarts-box h1.j-title{ font:bold 20px/26px 'MicrosoftYaHei-Bold'; color: #fff;padding: 15px 0 0 15px;}
.j-echarts-box .j-Statistics{ line-height: 110px; float: right; width: 60%; text-align: center; font-size: 70px; color: #fff; font-family: '微软雅黑';}
.j-echarts-box .j-Statistics i{ font-size: 24px; font-style:normal; padding-left: 10px;}
.j-echarts-box .j-chart-box .j-title{ font:bold 24px/31px '微软雅黑'; color: #999;}
.j-chart-box .product-ul li{float: left; margin-left: 20px; border-bottom: #fff 3px solid; color: #9B9B9B; font-size: 16px; font-family: '微软雅黑';padding-bottom: 5px;}
.j-chart-box .product-ul li.cur{border-bottom: #4786DA 3px solid; color:#4786DA;}
.j-chart-right {padding-right: 100px;}
/*------------------ 工单数据E ----------------*/
