.clear{clear:both;}
.clearfix{zoom:1;}
.clearfix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.j-back-gray{ background: #f5f5f5;}
.j-back-white{ background: #fff;}
.j-border-radius10{ border-radius: 10px;}
.hide{display: none;}
.page-tab-content{border-radius: 2px;}
/* 按钮颜色 S*/
.layui-btn{ font-weight: bold;}
.layui-btn-orange{ background: #F9B048;}
.layui-btn-grass{ background: #55C151;}
/* 按钮颜色 E*/
/* 详情样式  S*/
.j-row-box{ overflow: hidden;}
.j-row-box .j-left,.j-row-box .j-right{ margin-bottom: -9999px;padding-bottom: 9999px;}
.j-card-header{font-size:14px;font-weight:bold;color:rgba(133,146,163,1);line-height:19px; padding:25px 15px 0;}
.j-enclosure-box li{ float: left; margin:15px 10px 0 0; width:120px; height: 112px;}
.j-enclosure-box li img{width:120px; height: 112px; border-radius: 10px;}
.j-info-box dl{ padding: 35px  35px 0;}
.j-info-box dt{font-weight: bold; color: #333;font-family: 'MicrosoftYaHei';}
.j-info-box dt i{ margin-right: 5px;}
.j-info-box dd{ margin-top: 20px;}
.j-info-box dd h1{font-size:14px;color:rgba(133,146,163,1);line-height:19px;}
.j-info-box dd p{color: #333; font-family: 'MicrosoftYaHei';padding-top: 3px;}
.j-axis-main{background:rgba(42,96,228,0.05);padding: 20px;}
.time-axis{margin: 0;padding: 0;position: relative;}
.time-axis:before{content: '';position: absolute;left:12px;top: 8px;width: 1px;height: 100%;background-color: #E4E4E4;}
.time-axis-item{list-style: none;padding-left:30px;position: relative;line-height: 45px;font-size: 14px;color: #141414;}
.time-axis-title{position: relative;top:-5px;}
.time-axis-title h1,.time-axis-title .j-remarks{ font:bold 14px/19px 'MicrosoftYaHei'; color: #666;}
.time-axis-title .j-remarks{ padding: 10px 0 20px;}
.time-axis-date{position: absolute;left: 0;top: 0;color: #666;}
.time-axis-date span{position: absolute;right: -18px;top: 35%;display: block;width: 10px;height: 10px;border-radius: 100%;background-color:#0084FF;}
/* 状态条 S */
.j-status-bar ul{display: inline-block;margin:10px 0 30px;width: 100%;}
.j-status-bar li{ text-align: center;  height: 6px; background: #0084FF;border-radius: 4px;position: relative;}
.j-status-bar li i{ width: 20px; height: 20px; position: absolute; left: 50%; margin-left: -10px;top:-10px;}
.j-status-bar li p{ padding-top: 15px;color:rgba(0,132,255,1); font:bold 14px 'MicrosoftYaHei';}
/* 状态条 E */
/*回复 S*/
.j-reply-textarea{border:#ADBECB 1px solid;}
.j-reply-textarea textarea{ width: 100%; box-sizing: border-box; padding: 15px; font-size: 14px; color: #000;border: 0;resize:none}
.j-upload-size{ background:#F3F6FD ; height: 40px; line-height: 40px; padding: 0 15px;}
.j-upload-size i{margin-right: 10px;}
.j-upload-size span{ color: #8592A3;}
/*回复 E*/
.j-form-box{padding: 0 15px;}
/* 详情样式 E */
/*房屋档案详情 S*/
.j-details-box{ padding: 0 17px 20px; box-sizing: border-box;overflow: hidden;}
.layui-elem-field.j-field-box{ margin: 30px 0 20px;}
.layui-elem-field.j-field-box legend{ font:bold 16px ''; color:#0084FF;}
.j-details-box .j-form-label,.j-details-box .j-enclosure-label{ float: left; padding: 0; width: 120px; text-align: center; line-height: 36px;background:rgba(240,241,245,1);border:1px solid rgba(198,210,223,1);color: #8592A3; font-weight: bold;border-radius: 2px 0 0 2px ;
}
.j-details-box .j-enclosure-label{float: initial;}
/* .j-enclosure-upload{ margin-top: 15px;} */
.j-details-box .j-enclosure-upload .j-enclosure-label { float: left;}
.j-details-box .j-enclosure-label.j-uplode-icon{background:#fff; color:#0084FF;position: relative;left: -1px; margin-right: 5px;}
.j-details-box .j-enclosure-label.j-uplode-icon i img{ width: 13px; height: 13px;position: relative;top:-3px; margin-right: 5px;}
.j-details-box .j-lengthen .j-form-label{ width: 190px;}
.j-details-box .j-form-label i{padding-right: 5px;color:rgba(255,87,34,1);}
.j-details-box .layui-form-item .j-input-inline{padding-left: 122px; position: relative;left: -2px;font-weight: bold; color: #666;}
.j-details-box .layui-form-item .j-input-inline.j-input-radio{padding-left: 142px; font-weight: inherit;}
.j-details-box .layui-form-item .j-lengthen .j-input-inline.j-input-radio{padding-left: 212px; font-weight: inherit;}
.j-details-box .layui-input,.j-details-box .layui-select,.j-details-box .layui-textarea{border:1px solid rgba(198,210,223,1);}
.j-map-height{ width: 100%; height: 224px;}
.j-enclosure-img li{ margin:20px 10px 0 0;width: 120px; height: 112px; float: left; border-radius: 4px;}
.j-enclosure-img li img{width: 120px; height: 112px;}
.j-margin-btn{padding: 40px 0 40px 15px;}
.layui-col-space90>*{padding: 15px 45px 0;}
.layui-col-space90{margin: -15px -45px 0;}
/*房屋档案详情 E*/

/*新建工单 S*/
.j-textarea-border{border: #C6D2DF 1px solid; margin-top: 15px; padding: 10px 10px 0;}
.j-textarea{ width: 100%; height:185px; border: none;resize:none  }
.j-textarea-border .j-size{ text-align: right; line-height: 25px; color:#BBBBBB;}
/*新建工单 E*/
/*弹框样式 S*/
.j-frame-class{padding: 15px 15px 0;}
.j-details-box .layui-form-select dl dd.layui-this{ background:#0084FF;}
/*弹框样式 E*/
