.e-label {
    width: 20px;
    padding: 8px 15px 8px 0px;
    background: #F0F1F5;
    border: 1px solid #C6D2DF;
}
.e-inline {
    margin-left:40px;
}
.e-space {
    height: 20px;
}
.e-box {
	width: 800px;
	height: 240px;
	border: 1px solid #C6D2DF;
}