/*---------------------公用样式 S--------------------*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;/* 去谷歌默认背景色 */
}
.j-visibility{visibility:hidden;}
.clear{clear:both;}
.clearfix{zoom:1;}
.clearfix:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.fl{ float: left;}
.fr{float: right;}
.j-back-gray{ background: #f5f5f5; padding-bottom: 15px;}
.j-back-white{ background: #fff;}
.j-border-radius10{ border-radius: 10px;}
.hide{display: none;}
.page-tab-content{border-radius: 2px; /* padding:1px 8px 8px;overflow: initial;position: relative; */}
.j-news-num{background:#FFB800; padding: 0 5px; border-radius:7px; color: #fff; font-size: 10px; height: 14px; line-height: 14px; font-weight: 100;
position: absolute; right: 15px;top:50%; margin-top: -7px;
}
.j-border-box{border:1px solid rgba(198,210,223,1);}
.j-border-box.j-border-noleft{border-left: none;}
.j-text-indent15{ text-indent: 15px;}
a:hover{ text-decoration: none;}/* 去除鼠标移过下划线 */
.layui-table-cell span{ font-weight: bold;}
.j-open-reason{ padding: 20px; box-sizing: border-box;}/* 业务办理审核不通过原因 */
.layui-table td.j-table-back{ background: #f2f2f2!important;} /* 自定义表格背景色*/
/*---------- 按钮颜色 S----------*/
.layui-btn{ font-weight: bold;}
.layui-btn-orange{ background: #F9B048;}/*  */
.layui-btn-grass{ background: #55C151;}
.layui-btn-gray{background:#B6B9BE;}
.j-form-box .layui-btn-normal.on{ background: #9B9B9B;}
/* ----------按钮颜色 E----------*/
/*-----------搜索输入框宽度 S-------------*/
.j-width-inputs{width: 120px;}
.j-narrow-inputs{width: 150px;}
.j-wide-inputs{width: 180px;}
/*-----------搜索输入框宽度 E-------------*/
.report{min-height:350px;}
.j-no-data{ line-height: 350px; color: #757575;}
.j-no-data i{ margin-right: 10px;}
.tangram-suggestion-main{ z-index: 9999;/* 百度地图搜索 */}
/* 大图查看关闭按钮样式 */
.layui-row.on .viewer-button{ right: -26px;}
.j-no-content,.j-no-contents{text-align: center; line-height: 200px; color: #999; font-size: 14px;}/* 表格无数据 */
.j-no-content i,.j-no-contents i{ /* color: #FFB800; */font-size: 24px;}
.j-no-contents{line-height: 450px;}/* 表格无数据行高 */
.j-details-box input[readonly]{  background-color: #F4F4F5;} /*input不能输入框背景颜色*/
.layui-select-title input[readonly]{ background: #fff;}
.j-reportform .layui-table td,.j-reportform .report td{font-size: 12px!important;}/* 报表管理table字体大小 */
/* 登陆 S */
.layadmin-user-login{position: absolute; left:50%; top: 50%;width: 700px; height:450px; margin-top: -225px; margin-left: -350px; box-sizing: border-box;background-color:#fff;border-radius:5px;box-shadow: 5px 5px 15px #999;overflow: hidden;}
.layadmin-user-login .j-back-img{ width: 260px;height:450px; background:url(../image/j-login-back.png) no-repeat;}
.layadmin-user-login .j-user-fr.fr{width: 440px;height: 450px;}
.layadmin-user-login .j-title{ height: 40px; border-bottom: #CDCDCD 1px solid; margin-bottom: 15px;}
.layadmin-user-login .j-title li{ float: left; line-height: 40px; width: 50%;color: #999; cursor: pointer;}
.layadmin-user-login .j-title li.j-list2{ text-align: right;}
.layadmin-user-login .j-title li span{ padding: 0 8px;display: inline-block;font-size:14px;font-family:MicrosoftYaHei;}
.layadmin-user-login .j-title li.cur span{ color:#2E77EF; border-bottom: #2E77EF 2px solid;}
.layadmin-user-login-main{width:250px; height: 410px; margin: 0 auto; box-sizing: border-box; position: relative;}
.layadmin-user-login-header{text-align: center;}
.layadmin-user-login-header h2{margin: 40px 0 18px 0; font:24px/35px 'MicrosoftYaHei';}
.layadmin-user-login-header span{color: red; display:block; line-height: 30px;}
.layadmin-user-login-header p{font-weight: 300; color: #999;}
.layadmin-user-login-body .layui-form-item{position: relative;}
.layadmin-user-login-icon{position: absolute; left: 1px; top: 1px; width: 38px; line-height: 36px; text-align: center; color: #4A4A4A; font-size: 18px;}
.layadmin-user-login-body .layui-form-item .layui-input{padding-left: 38px;}
.layadmin-user-login-codeimg{max-height: 38px; width: 100%; cursor: pointer; box-sizing: border-box;}
.layadmin-user-login-other{position: relative; font-size: 0; line-height: 38px; padding-top: 20px;}
.layadmin-user-login-other>*{display: inline-block; vertical-align: middle; margin-right: 10px; font-size: 14px;}
.layadmin-user-login-other .layui-icon{position: relative; top: 2px; font-size: 26px;}
.layadmin-user-login-other a:hover{opacity: 0.8;}
.layadmin-user-login-footer{position: absolute; left: 0; bottom: 0; width: 100%; line-height: 30px; padding: 20px; text-align: center; box-sizing: border-box; color: rgba(0,0,0,.5)}
.layadmin-user-login-footer span{padding: 0 5px;}
.layadmin-user-login-footer a{padding: 0 5px; color: rgba(0,0,0,.5);}
.layadmin-user-login-footer a:hover{color: rgba(0,0,0,1);}
.j-con .layui-btn{background-color:#2A60E4;}
.j-con .layui-btn.on{background-color:#ADBECB;}
.j-con .layui-btn-primary{ border: none; color: #fff;}
.j-con .j-position{position: absolute; bottom: 60px; width: 100%;}
/* 登陆 E */
/* 操作菜单 S */
.j-container-margin.layui-btn-container .layui-btn{ margin:8px 10px 10px 0;}
.j-table-content.j-no-tab .j-container-margin.layui-btn-container .layui-btn{margin:18px 10px 10px 0;} /* 没有tab切换栏样式 */
.j-table-content.j-no-search .j-container-margin.layui-btn-container .layui-btn{margin:8px 10px 18px 0;} /* 没有搜索栏样式 */
.j-table-content.j-no-searchs .j-container-margin.layui-btn-container .layui-btn{margin:18px 10px 18px 0;} /* 没有搜索栏没tab切换栏样式 */
.j-table-content .layui-table-tool .layui-inline[lay-event="LAYTABLE_COLS"]{top:100px; right:7px; width: 113px; height: 38px;border: 0;z-index: 999;position: absolute;}
.j-table-content.on .layui-table-tool .layui-inline[lay-event="LAYTABLE_COLS"]{top:156px; right:7px;}
.j-table-content.j-no-title .layui-table-tool .layui-inline[lay-event="LAYTABLE_COLS"]{top:66px; right:16px;}
.j-table-content.j-no-tab .layui-table-tool .layui-inline{top:115px; right:16px;}
.j-table-content .layui-table-tool .layui-inline[lay-event="LAYTABLE_COLS"] i.layui-icon-cols{ display: none;}
.j-table-content .layui-table-tool .layui-inline[lay-event="LAYTABLE_COLS"]  .layui-table-tool-panel{top:45px;}
.j-table-content.j-no-tab .layui-table-tool .layui-inline[lay-event="LAYTABLE_COLS"] .layui-table-tool-panel{top:55px;}
.j-table-content .layui-table-tool .layui-inline[lay-event="LAYTABLE_EXPORT"]{position: absolute;top:2px; right:44px;}
.j-table-content .layui-table-tool .layui-inline[lay-event="LAYTABLE_PRINT"]{position: absolute;top:2px; right:10px;}
.j-table-content .layui-table-tool{ min-height: 0; padding: 0;border-width:0;position: initial;}
.j-table-content .layui-table-box{min-height: 450px;}
.j-table-content .layui-form-checked i,.j-table-content .layui-form-checked:hover i{ color: #fff!important;}/* 处理checkbox对勾不显示的问题 */
.layui-form-item .layui-inline.j-inline-margin{ margin: -5px 0 15px 0;}
.j-inline-margin .layui-form-checkbox[lay-skin=primary]:hover i{border-color:#0084FF;}
.j-inline-margin .layui-form-checked i,.j-inline-margin .layui-form-checked:hover i{ color: #fff!important;}
/* 操作菜单 E */
/*搜索框样式 S*/
.j-table-content .layui-table-view{margin: 0 0 10px;}
.layui-form-pane .j-search-fl{display: flex;}
.layui-form-pane .j-search-fl .layui-input-inline,.j-search-fr .layui-btn{ float: left;margin-left: 1px;}
.layui-form-pane .j-search-fl .layui-input-inline.j-input-margin{ margin-right: 10px;}
.page-toolbar.j-page-toolbar{margin: 8px 0 5px;}
.j-table-content.j-no-title ,.j-table-content.j-no-tab,.j-table-content.j-no-searchs{padding: 0 8px;}
.j-table-content.j-no-title .page-toolbar.j-page-toolbar{margin: 15px 0 5px;}
.j-page-toolbar .layui-input-inline .layui-input,.j-page-toolbar .layui-input-inline .layui-form-select{ margin:0 10px 10px 0;}
.page-toolbar.j-page-toolbar  .layui-btn+.layui-btn,.page-toolbar.j-page-toolbar  .layui-btn{ margin: 0 0 10px 10px;}
.page-toolbar.j-page-toolbar  .layui-btn.on{margin: 0 0 10px 10px;}
.j-table-content .j-btn-reset{  background: none; color: #0084FF;padding: 0 10px;}/* 重置样式 */
/* .j-table-content .layui-tab-card{border: 0;box-shadow: none;}//自适应搜索
.j-table-content .layui-tab-card .layui-tab-title{ border: none;} */
.wrap{height: 38px; overflow: hidden;} 
.cont{ height: 60px; overflow-x: auto; overflow-y:hidden ;position: relative; } 
.state { white-space: nowrap; display: flex; } 
.state:-webkit-scrollbar {display: none;}
.state li{float: left;}
/*搜索框样式 E*/
/* 表格样式 S */
.layui-table-body .layui-btn{ font-weight: inherit;} 
.j-text-btn{ text-align: center;}
.j-table-center th,.j-table-center td{ text-align: center;}
.j-table-center td.j-td-left{ text-align: left;}
/* 表格样式 E */
/*--------------------公用样式 S---------------------*/
/* ----------详情样式  S----------*/
.j-row-box{ overflow: hidden;}
.j-row-box .j-left,.j-row-box .j-right{ margin-bottom: -9999px;padding-bottom: 9999px;}
.j-card-header{font-size:14px;font-weight:bold;color:rgba(133,146,163,1);line-height:19px; padding:25px 15px 0;}
.j-card-header.no{padding:15px 15px 0;}
.j-enclosure-box li{ float: left; margin:15px 10px 0 0; width:120px;}
.j-enclosure-box li img{width:120px; height: 112px; border-radius: 10px;}
.j-info-box dl{ padding: 35px  35px 0;}
.j-info-box dt{font-weight: bold; color: #333;font-family: 'MicrosoftYaHei';}
.j-info-box dt i{ margin-right: 5px;color:#9B9B9B;}
.j-info-box dd{ margin-top: 20px;}
.j-info-box dd h1{font-size:14px;color:rgba(133,146,163,1);line-height:19px;}
.j-info-box dd p{color: #333; font-family: 'MicrosoftYaHei';padding-top: 3px;}
.j-axis-main{background:rgba(42,96,228,0.05);padding: 20px;}
.time-axis{margin: 0;padding: 0;position: relative;}
.time-axis:before{content: '';position: absolute;left:12px;top: 8px;width: 1px;height: 100%;background-color: #E4E4E4;}
.time-axis-item{list-style: none;padding-left:30px;position: relative;line-height: 45px;font-size: 14px;color: #141414;}
.time-axis-item img{width:120px; height: 112px; border-radius: 10px; margin:0 15px 15px 0;}
.time-axis-title{position: relative;top:-5px;}
.time-axis-title h1,.time-axis-title .j-remarks{ font:bold 14px/19px 'MicrosoftYaHei'; color: #666;}
.time-axis-title .j-remarks{ padding: 10px 0 20px;table-layout: fixed;word-break: break-all;}
.time-axis-title .j-remarks .layui-btn-xs{ height: 16px; line-height: 16px;}
.time-axis-title .j-remarks .layui-btn{ font-size:10px ;}
.time-axis-date{position: absolute;left: 0;top: 0;color: #666;}
.time-axis-date span{position: absolute;right: -18px;top: 35%;display: block;width: 10px;height: 10px;border-radius: 100%;background-color:#0084FF;}
.j-enclosure-box .j-file-name{ text-align: center; font:13px/35px 'MicrosoftYaHei'; color: #999;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
/*---------- 状态条 S ----------*/
.j-status-bar ul{display: inline-block;margin:10px 0 30px;width: 100%;}
.j-status-bar li{ text-align: center;  height: 6px; background: #C6D2DF;border-radius: 4px;position: relative;}
.j-status-bar li.on{background: #0084FF;}
.j-status-bar li i{ width: 20px; height: 20px;line-height: 20px;position: absolute; left: 50%; margin-left: -10px;top:-6px; color:#fff;background: rgba(198,210,223,1);
    border-radius: 50%;}
.j-status-bar li.on i{ width: 20px; height: 20px;line-height: 20px;position: absolute; left: 50%; margin-left: -10px;top:-6px; color:#fff;background: rgba(0,132,255,1);
    border-radius: 50%;}
.j-status-bar li p{ padding-top: 15px;color:#333333; font:bold 14px 'MicrosoftYaHei';}
.j-status-bar li.on p{ padding-top: 15px;color:rgba(0,132,255,1); font:bold 14px 'MicrosoftYaHei';}
/* ----------状态条 E ----------*/
/*----------回复 S----------*/
.j-reply-textarea{border:#ADBECB 1px solid;}
.j-reply-textarea textarea{ width: 100%; box-sizing: border-box; padding: 15px; font-size: 14px; color: #000;border: 0;resize:none}
.j-upload-size{ background:#F3F6FD ; height: 40px; line-height: 40px; padding: 0 15px;}
.j-upload-size .j-upload_img{cursor: pointer;}
.j-upload-size i{margin-right: 10px;}
.j-upload-size span{ color: #8592A3;}
.j-upload-size .j-phrase{position: relative;cursor: pointer;}
.j-upload-size .j-phrase .j-phrase-list{position:absolute; top:-139px; right: 0;width:400px; height: 120px;overflow-y: auto; box-shadow:0px 1px 6px 0px rgba(0,0,0,0.17);border-radius:4px; padding: 10px 0;}
.j-upload-size .j-phrase .j-phrase-list li{ font: 10px/24px 'MicrosoftYaHei'; color: #333; padding: 0 10px; cursor: pointer;}
.j-upload-size .j-phrase .j-phrase-list li.on{background: #0084FF; color: #fff;}
.j-upload-size .j-phrase .j-list-img{position: absolute;right: 30px;bottom:29px;}
.j-upload-size span.j-phrase-name i{margin-left:5px; font-size: 16px;}
.j-upload-size span.j-phrase-name.on .j-icon-shangjiantou{ display:inline-block;}
.j-upload-size span.j-phrase-name.on .j-icon-xiajiantou{ display: none;}
/*----------回复 E----------*/
.j-form-box{padding: 10px 15px 0;}
/* ----------详情样式 E ----------*/

/*----------房屋档案详情 S----------*/
.j-details-box{ padding: 0 17px 20px; box-sizing: border-box;overflow: hidden; min-height: 550px;}
/* .j-details-box.floorWrap{ padding-top: 50px;} */
.layui-elem-field.j-field-box{ margin: 30px 0 20px;}
.layui-elem-field.j-field-box legend{ font:bold 16px ''; color:#0084FF;}
.j-details-box .j-form-label,.j-details-box .j-enclosure-label{ float: left; padding: 0; width: 120px; text-align: center; line-height: 36px;background:rgba(240,241,245,1);border:1px solid rgba(198,210,223,1);color: #8592A3; font-weight: bold;border-radius: 2px 0 0 2px ;
}
.j-details-box .j-enclosure-label{float: initial;}
/* .j-enclosure-upload{ margin-top: 15px;} */
.j-details-box .j-enclosure-upload .j-enclosure-label { float: left; position: relative;}
/* .j-enclosure-img{ padding: 20px 0 0;} */
.j-details-box .j-enclosure-label.j-uplode-icon{background:#fff; color:#0084FF;position: relative;left: -1px; margin-right: 5px;}
.j-details-box .j-enclosure-label.j-uplode-icon i img{ width: 16px; height: 17px;position: relative;top:-3px; margin-right: 5px;}
.j-details-box .j-lengthen .j-form-label{ width: 190px;}
.j-details-box .j-form-label i{padding-right: 5px;color:rgba(255,87,34,1);}
.j-details-box .layui-form-item .j-input-inline{padding-left: 122px; position: relative;left: -2px;/* font-weight: bold; */color: #666;}
.j-details-box .layui-form-item .j-input-inline.j-tips{ padding-left: initial; float: left;width: 22%;}/* 表单后面带提示 */
.j-details-box .layui-form-item .j-input-inline.j-tips-show i{color: #FF8700;margin: 0 5px 0 10px;}/* 提示信息 */
.j-details-box .layui-form-item .j-input-inline.j-tips-show a{color: #FF8700; font-size: 12px; font-weight: bold;}
.j-tips-red{color: #f00;}
.j-tips-red i{color: #f00;margin: 0 5px 0 10px;}
.layui-form-mid.j-size-class{  font-weight: bold; color: #FF8700!important;font-size: 13px!important;}
.layui-form-mid.j-size-class i{ color: #FF8700;  margin:0 5px 0 10px;}
.j-details-box .layui-form-item .j-input-inline.j-input-radio{padding-left: 142px; font-weight: inherit;}
.j-details-box .layui-form-item .j-lengthen .j-input-inline.j-input-radio{padding-left: 212px; font-weight: inherit;}
.j-details-box .layui-input,.j-details-box .layui-select,.j-details-box .layui-textarea{border:1px solid rgba(198,210,223,1);}
.j-details-box.j-no-border .layui-input,.j-details-box .layui-select,.j-details-box.j-no-border .layui-textarea{border:none;}/*详情页面去除边框  */
.j-details-box.j-no-border .j-form-label, .j-details-box.j-no-border .j-enclosure-label{border: 0; background: none;}/*详情页面去除边框  */
.j-details-box.j-no-border input{background: none!important;}/* 去除详情页背景 */
.j-details-box.j-no-border .j-enclosure-label{padding: 0;width: 120px;text-align: center;line-height: 36px;background: rgba(240,241,245,1);
    border: 1px solid rgba(198,210,223,1);color: #8592A3;font-weight: bold;border-radius: 2px 0 0 2px;}
.j-map-height{ width: 100%; height: 224px;}
.j-enclosure-img li{ margin:20px 10px 0 0;width: 120px; height: 112px; float: left; border-radius: 4px;}
.j-enclosure-img li img{width: 120px; height: 112px;}
.j-margin-btn{padding: 40px 0 40px 15px;}
.layui-col-space90>*{padding: 15px 45px 0;}
.layui-col-space90{margin: -15px -45px 0;}
/*说明文字*/
.j-details-box .layui-input.j-explain-input{ padding-right: 30px;}
.j-details-box .layui-input.j-search-input{padding-right: 40px;}
b.j-explain-name{ font-weight: 100; position: absolute;right: 8px; top:10px;cursor: pointer;}
b.j-explain-search{position: absolute; right: 8px;top:10px; color: #0084FF;cursor: pointer;}
/*楼层导航 S*/
.j-floor-nav .navWrap{position: fixed;top:150px; right: 20px;z-index: 999;background:rgba(255,255,255,0.5);}
/* .j-floor-nav .navWrap li{width: 212px; height: 28px; background:url(../image/Rectangle17.png) no-repeat; margin-bottom: 15px;}
.j-floor-nav .navWrap li.on{background:url(../image/guide.png) no-repeat;}
.j-floor-nav .navWrap li.current{width: 212px; height: 28px;background:url(../image/Rectangle17-on.png) no-repeat;}
.j-floor-nav .navWrap li.on.current{background:url(../image/guide-on.png) no-repeat;} */
.j-floor-nav .navWrap li{min-width: 80px; height: 39px; line-height: 39px; padding: 0 12px; background:#C6D2DF; margin-bottom: 10px; border-radius: 4px;}
.j-floor-nav .navWrap li.current{background:#2E77EF;}
.j-floor-nav .navWrap li a{display: block; color: #fff;}
.j-floor-nav .navWrap li i{ border:#fff 1px solid;border-radius: 50%; width: 15px;height: 15px;font-style:normal; /* margin-left: 25px; */
 display: inline-block;font:12px/14px '';text-align: center;margin-right: 12px;
 }
 .j-floor-nav .navWrap li b{ line-height: 28px;display: inline-block;}
 .j-details-box .item{margin-top: -20px;padding-top:20px;}
/*楼层导航 E*/
/*----------房屋档案详情 E----------*/
/*楼栋结构 S*/
.j-size-typeset li{ width: 240px; margin:0 15px 15px 0; float: left;}
.j-size-typeset li label{ width: 98px; text-align: right; display: inline-block; color: #8592A3;}
.j-size-typeset li.times{ width: 480px;}
.layui-elem-field.j-field-box.j-top-margin20{margin:10px 0 20px;}
.j-structure-box{ margin: 0 30px;}
.j-structure-box .j-title{height: 40px;font:bold 14px/40px '';color: #666;background:rgba(240,241,245,1);}
.j-structure-box .j-title .j-size{ text-align: center; }
.layui-form-item .j-layui-inlines{ padding-left: 80px;}
.layui-form-item .j-layui-inlines .layui-input-inline{width: 100px; float: initial; display: block; margin: 0 auto;position: relative;top:6px; font-size: 12px;}
.layui-form-item .j-layui-inlines .layui-input-inline .layui-input{ height: 26px;border:#148EFF 1px solid;}
.j-structure-box .layui-form-select dl{top:30px;}
.j-structure-con,.j-structure-data{ border-top:1px solid rgba(198,210,223,1); height: 360px; overflow: auto;}
.j-structure-data h1{font:12px '' ;color:#8592A3;word-wrap: break-word;}
.j-structure-data p{word-wrap: break-word;font:12px '' ; padding-top: 5px;}
.j-structure-data .layui-row:first{padding-top: 15px;}
.j-structure-data .layui-row.on{ padding-top: 15px;}
.j-structure-data .layui-row{ padding-bottom: 30px;}
.j-details-box hr{margin: 20px 0;}
.j-structure-con dl{min-height: 40px;    position: relative;}
.j-structure-con dl.cur{background:rgba(247,248,250,1);}
.j-structure-con dt{ width:80px; text-align: center; display: inline-block; float: left; line-height: 40px;}
.j-structure-con dd{padding:0 20px 0 120px;text-align: center;}
.j-structure-con dd li{border:1px solid rgba(127,155,185,1);border-radius:2px;padding: 1px 5px;display: inline-block;color:#7F9BB9; font-size: 12px; margin: 12px 3px 3px 0;cursor: pointer;}
.j-structure-con dd li.on{ background:#0084FF; border: #0084FF 1px solid; color: #fff;}
/*楼栋结构 E*/
/*----------新建工单 S----------*/
.j-textarea-border{border: #C6D2DF 1px solid; margin-top: 15px; padding: 10px 10px 0;}
.j-textarea{ width: 100%; height:185px; border: none;resize:none  }
.j-textarea-border .j-size{ text-align: right; line-height: 25px; color:#BBBBBB;}
.j-explain-box h1{font: bold 18px '';color:#8592A3; margin-bottom: 10px;}
.j-explain-box h1 i{ margin-right: 8px;font-style: normal;}
.j-explain-box ul{ background:#F4F7FD; padding: 15px;}
.j-explain-box li{line-height:25px;}
.j-explain-box li p{color: #4A4A4A; padding-left: 24px;}
.layui-elem-field.j-field-box.j-bottom{ margin: 30px 0 0;}
/* 工单分类 */
.j-class-setup{padding:0 20px 20px;}
.j-class-setup .j-class-con{ border:#D8D8D8 1px solid ;}
.j-class-setup .j-class-con .j-class-li{ width: 20%; float: left;}
.j-class-setup .j-class-con .j-list{ border-right:#D8D8D8 1px solid ;}
.j-class-setup .j-class-con .on .j-list{ border-right: 0;}
.j-class-setup .j-class-con .j-list .j-title{ font:bold 16px/50px  'MicrosoftYaHei-Bold'; border-bottom:#D8D8D8 1px solid ; padding: 0 30px;}
.j-class-setup .j-class-con .j-list .j-class-list,.j-class-setup .j-class-con .j-list .j-class-annexes{ height: 550px;overflow-y: auto;cursor: pointer;position: relative;}
.j-class-setup .j-class-con .j-list .j-class-list li,.j-class-setup .j-class-con .j-list .j-class-annexes li{font:14px/40px 'MicrosoftYaHei'; color:#4A4A4A;padding: 0 30px;position: relative;}
.j-class-setup .j-class-con .j-list .j-class-list li .j-function,.j-class-setup .j-class-con .j-list .j-class-annexes li .j-function{position: absolute; right:20px; top:0px;}
.j-class-setup .j-class-con .j-list .j-class-list li.on,.j-class-setup .j-class-con .j-list .j-class-annexes li.on{background: #F0F1F5;}
.j-class-setup  .j-function i.j-edit{ color: #03CBBF;}
.j-class-setup  .j-function i.j-delete{ color: #FF0000; margin-left: 10px;}
.j-class-setup .j-class-add .j-add-ico.on i.j-lost{ display: inline-block;}
.j-class-setup .j-class-add .j-add-ico.on i.j-plus{ display: none;}
.j-class-setup .j-class-add .j-add-ico{ color: #0084FF; font-size: 14px; padding-left: 30px;}
.j-class-setup .j-class-add .j-add-con{padding: 0 30px;margin-top: 10px;}
.j-class-setup .j-class-add .j-add-con .j-add-hold{margin-top: 10px;}
.j-class-setup .layui-btn.j-addenda-btn{ background: #fff; color: #0084FF;border-top:#D8D8D8 1px solid ;height: 50px; font: 16px/50px 'MicrosoftYaHei'; width: 100%; position: absolute; bottom: 1px;}
.j-class-setup .layui-textarea{width: 90%; margin: 20px auto 0;}
/*新增工单新*/
.j-add-workorder{padding: 20px;}
.j-add-workorder .j-input-list .layui-form-checkbox[lay-skin=primary]{ display: inline-block;float: left; margin: 10px 0 0 20px;min-width: 150px;}
.j-add-workorder .layui-form-checked i,.j-add-workorder .layui-form-checked:hover i{ color: #fff!important;}
/*工单提醒*/
.j-remark i{color: red; margin-right:5px;font-size: 14px;}
.j-remark  font{ color: red; font-size: 12px;}
/*----------新建工单 E----------*/
/*----------弹框样式 S----------*/
.j-frame-class{padding: 15px 15px 0;}
.j-details-box .layui-form-select dl dd.layui-this{ background:#0084FF;}
/*----------弹框样式 E----------*/
/*------------------ 多图上传S ----------------*/
.upload_img_list dd {position: relative;margin: 20px 10px 10px 0;float: left}
.upload_img_list .operate {position: absolute;top: -9px;right: -12px;z-index: 1}
.upload_img_list .operate i {cursor: pointer;padding: 2px;line-height: 15px;text-align: center;color: #F14C3D;margin-left: 1px;float: left;filter: alpha(opacity=80);-moz-opacity: .8;-khtml-opacity: .8;
opacity: .8color: #333;}
.upload_img_list dd .img {height: 100px; width:100px;}
.j-details-box .j-enclosure-label.j-uplode-icon button{position: absolute; left: 0; top:0; height: 38px;  width: 122px; overflow: hidden; opacity: 0;}
/*------------------ 多图上传E ----------------*/
/*------------------ 工单数据S ----------------*/
.j-chart-box{ background: #fff;border-radius: 4px; padding: 30px;}
.j-echarts-box .j-list-box{ position: relative;width: 100%;height: 196px; border-radius: 4px;display: inline-block;}
.j-echarts-box .j-list1{ background: url(../image/j-Group1.jpg) repeat-x;}
.j-echarts-box .j-list2{ background: url(../image/j-Group2.jpg) repeat-x;}
.j-echarts-box .j-list3{ background: url(../image/j-Group3.jpg) repeat-x;}
.j-echarts-box .j-list4{ background: url(../image/j-Group4.jpg) repeat-x;}
.j-echarts-box .j-list-box img{ position: absolute; bottom:22px; left: 15px; height: 90px; width: auto;}
.j-echarts-box h1.j-title{ font:bold 20px/26px 'MicrosoftYaHei-Bold'; color: #fff;padding: 15px 0 0 15px;}
.j-echarts-box .j-Statistics{ line-height: 110px; float: right; width: 60%; text-align: center; font-size: 70px; color: #fff; font-family: '微软雅黑';}
.j-echarts-box .j-Statistics i{ font-size: 24px; font-style:normal; padding-left: 10px;}
.j-echarts-box .j-chart-box .j-title{ font:bold 24px/31px '微软雅黑'; color: #999;}
.j-chart-box .product-ul li{float: left; margin-left: 20px; border-bottom: #fff 3px solid; color: #9B9B9B; font-size: 16px; font-family: '微软雅黑';padding-bottom: 5px;cursor: pointer;}
.j-chart-box .product-ul li.cur{border-bottom: #4786DA 3px solid; color:#4786DA;}
.j-chart-right {padding-right: 100px;}
.j-seized-list .j-seized-box{ background: url(../image/j-seized-line.jpg) repeat-x;border-radius: 4px;height: 90px; text-align: center; color: #fff;}
.j-seized-list .j-seized-box h1{ font:bold 14px/20px 'MicrosoftYaHei-Bold'; padding: 10px 15px 5px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.j-seized-list .j-seized-box .j-number{ font-size: 30px;}
.j-seized-list .j-seized-box .j-number i{ font-size: 14px;font-style:normal; margin-left: 10px;}
/*------------------ 工单数据E ----------------*/
/*------------------ 站内信 S ----------------*/
.layui-nav .j-mail-box .layui-nav-more{ display: none;}
.layui-nav .j-mail-box .layui-nav-child{ width: 300px;left: 50%; margin-left: -150px; padding: 0 10px;border-radius: 6px;}
.layui-nav .j-mail-box .layui-nav-child .j-title{ height: 35px; font: 16px/35px ''; color: #007AFF; border-bottom: #D8D8D8 1px solid;}
.layui-nav .j-mail-box .layui-nav-child .j-title .j-dot{ width: 5px; height: 5px; border-radius: 50%; background: #FC5055;display: inline-block; position: relative; top: -10px;}
.head-info .layui-nav-item a.j-aicon i.j-dot{width: 5px; height: 5px; border-radius: 50%; background: #FC5055;display: inline-block; position: relative; top: -8px; left: -9px;}
.layui-nav .j-mail-box .layui-nav-child .j-title .j-news{display: inline-block;width: 50%; text-align: center;border-bottom: #007AFF 2px solid; height: 34px;}
.layui-nav .j-mail-box .layui-nav-child .j-title-tab{ margin: 10px 0;}
.layui-nav .j-mail-box .layui-nav-child .j-title-con{ padding-bottom: 15px;}
.layui-nav .j-mail-box .layui-nav-child .j-title-tab li{float: left; color: #9B9B9B; margin-left: 15px; width: 50px;height: 20px; font: 12px/20px ''; text-align: center; background:#F1F2F6; border-radius: 10px; cursor: pointer;}
.layui-nav .j-mail-box .layui-nav-child .j-title-tab li.cur{background:#007AFF; color: #fff;}
.layui-nav .j-mail-box .layui-nav-child li.j-list{height: 36px; line-height: 36px;overflow: hidden;}
.layui-nav .j-mail-box .layui-nav-child li.j-list .j-size{ display: inline-block; width: 70%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font: 12px/36px ''; color: #4A4A4A;}
.layui-nav .j-mail-box .layui-nav-child li.j-list .fr{ font-size: 10px; color: #bbb;}
.layui-nav .j-mail-box .layui-nav-child ol{ max-height: 315px; overflow-y: auto;} 
.layui-nav .j-mail-box .layui-nav-child .j-no-news{ text-align: center; color:#4A4A4A; line-height: 45px;}
.j-news-details h1{color: #141414; font:bold 20px/31px 'MicrosoftYaHei-Bold';}
.j-news-details h2{color: #141414; font:12px/31px '';  margin-bottom: 5px;}
.j-news-details a{ color: #0084FF;}
.j-news-details .j-content-size{ line-height: 24px;}
/*------------------ 站内信 E ----------------*/
/*------------------ 公告 S ----------------*/
.j-index-notice{background: #fff;border-radius: 4px;padding: 15px;}
.j-notice-details{ padding: 10px;}
.j-notice-details .j-title{position: relative;}
.j-notice-details .j-title .layui-btn{ position: absolute; right: 0; top:50%; margin-top: -19px;}
.j-notice-details .j-title h1,.j-notice-details .j-title h2{ width: 70%;}
.j-notice-details .j-title h1{font:bold 24px/35px 'MicrosoftYaHei-Bold'; color: #141414; }
.j-notice-details .j-title h2{font:12px/16px 'MicrosoftYaHei-Bold'; color: #141414; padding: 10px 0 0;}
.j-notice-details .j-title h2 .j-browse{ margin-left: 25px;}
.j-notice-details .j-title h2 .j-browse i{ margin-right: 5px;}
.j-record .j-title {height: 25px; line-height: 25px; margin-bottom: 20px;}
.j-record .j-title .j-explain .j-name{ text-indent: 18px;display: inline-block; font:bold 22px/25px 'MicrosoftYaHei-Bold';}
.j-record .j-title .j-explain i{ width: 5px; height: 25px; background:#0084FF ; border-radius: 3px;display: inline-block; float: left;}
.j-record .j-title .j-tab li{ float: left;font:bold 22px/25px 'MicrosoftYaHei-Bold'; color: #9B9B9B; margin-right: 10px;}
.j-record .j-title .j-tab li.j-line{ box-sizing: border-box; border-right: #ccc 1px solid; padding-right: 10px;}
.j-record .j-record-name li{font:bold 16px/35px 'MicrosoftYaHei-Bold'; color: #4A4A4A;}
/*------------------ 公告 E ----------------*/
/* ------------------ 使用权变更 S ----------------- */
.j-column-box{box-sizing: border-box;border: 1px solid rgba(198,210,223,1);}
.j-column-box .j-column-title{ background: rgba(240,241,245,1); height: 40px; font:bold 14px/40px ''; text-indent: 20px; color: #8592A3;}
.j-column-box .j-column-con{ padding:20px;}
.layui-elem-field.j-field-box.j-no-borde{margin: 20px 0 20px;border: 0;}
/* ------------------ 使用权变更 E ----------------- */
#switchNav{ padding-bottom: 40px;}
.j-home-help{position: absolute; bottom:15px; width: 100%; text-align: center; font-size: 12px;}/* 帮助中心入口 */
.j-home-help a{color: #999; }
.j-home-help i{ margin-right: 5px;font-size: 12px;}
.layui-input.inp{ display: inline-block;}
.layui-btn.ana{ position: absolute;top:0;right:0;}
/* 时间控件选中样式 */
.layui-laydate .layui-this{ background: #2E77EF!important;}
/* 房屋报表 S */
.j-report-table{ min-height: 350px;}
.j-report-con .j-report-title{ font:bold 20px/25px 'MicrosoftYaHei-Bold'; text-align: center; margin-bottom: 15px;}
.layui-table .j-bold-size,.j-report-con .j-bold-size,.am-text-middle{ font-weight: bold; color: #666;  font-size: 14px;}
.j-report-table li{float: left; width: 33.3%;margin-bottom: 15px;}
/* 房屋报表 E */
/* 表格样式 */
.report,.report tr th, .report tr td { border:1px solid #e6e6e6;text-align:center;color: #666;} 
.report td,.report th{padding:0.5rem 0;}
.report {width:100%;}
/* 业务办理 S */
.j-status-result{background:rgba(42,96,228,0.05); margin: 20px 45px 40px; padding: 20px 30px 20px;}
.j-status-result li{font: 14px/35px 'MicrosoftYaHei'; color: #666;}
/* 业务办理 E */
/* 根据浏览器宽度设置头部导航右边内容 */
@media screen and (max-width: 1250px) { 
 .head-info .j-display{ display: none;}
} 
/* 脚注样式 S */
.layui-layout-admin .layui-footer{ text-align: center;}
/* 脚注样式 E */
/* 打印样式 S*/
 #leaseprint_1_{font-size: 12px!important; color: #666; font-weight:100;font-family:'宋体'!important;}
 .print_1_ td,.print_1_ th{}
/* 打印样式 E */


/* 首页样式 S */
.j-download-color{ color: #2E77EF;}
.j-download-color:hover{ color: #2E77EF;text-decoration:underline;}
.j-title-size .j-product-title .j-title{ font:bold 20px/60px '' ; color: #999;}
.j-title-size .layui-table.j-no-borde td,.j-chart-box.j-no-padding .layui-table.j-no-borde th{border:none!important;}
.j-col-box{background: #fff; margin: 15px 0;padding: 15px;border-radius: 4px;}
.j-col-box .j-title-color{font:bold 16px/50px '';color:#4786DA;}
.j-col-box .j-money-max{ text-align: center;}
.j-col-box .j-line-bottom{ font-size: 50px; color: #333; border-bottom: #D8D8D8 1px solid; padding-bottom: 20px;}
.j-col-box .j-complete{font-size: 14px;color: #999; padding: 40px 0 5px;}
.j-col-box .j-bottom-size{ font-size: 24px; color: #999; padding-bottom: 40px; display: inline-block;}
.j-chart-box.j-no-padding .j-size-title{font-size: 16px;color:#4786DA;font-family: '微软雅黑'; border-right: #E7E7E7 1px solid; padding-right: 20px;}
.j-hr-button{padding-bottom: 24px;}
/* 首页样式 E */
/* 报表管理 S */
/* #Statistics{position:absolute; bottom:0px;left:0; width: 100%;} */
#Statistics{background-color: #f2f2f2;}
/* 报表管理 E */