<form class="layui-form" action="" method="post" >
  <div class="j-details-box j-no-border floorWrap">
	<fieldset class="layui-elem-field layui-field-title j-field-box">
		<legend>基本信息</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>房屋编号</label>
			<div class="j-input-inline">
				<input type="text" id="reduction_seach" value="{$data_info['house_info']['house_number']}" placeholder="点击查询"  lay-verify="required" readonly autocomplete="off" class="layui-input">
				<input type="hidden" name="id" value="{$data_info['id']}">
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md8">
			<label class="j-form-label">楼栋地址</label>
			<div class="j-input-inline">
				<input type="text" id="reduction_address" value="{$data_info['ban_info']['ban_address']}" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>发租类型</label>
			<div class="j-input-inline">
				<input type="text" id="reduction_class" value="{$params.news[$data_info['new_type']]}" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">单元号</label>
			<div class="j-input-inline">
				<input type="text" id="unit_number" value="{$data_info['house_info']['house_unit_id']}" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">层次</label>
			<div class="j-input-inline">
				<input type="text" id="arrangement" value="{$data_info['house_info']['house_floor_id']}" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">门牌号</label>
			<div class="j-input-inline">
				<input type="text" id="house_numbers" value="{$data_info['house_info']['house_door']}" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">租户</label>
			<div class="j-input-inline">
				<input type="text" id="tenant" value="{$data_info['tenant_info']['tenant_name']}" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">身份证号</label>
			<div class="j-input-inline">
				<input type="text" id="reduction_idnumber" value="{$data_info['tenant_info']['tenant_card']}" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">联系电话</label>
			<div class="j-input-inline">
				<input type="text" id="reduction_tel" value="{$data_info['tenant_info']['tenant_tel']}" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
    <div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">产别</label>
			<div class="j-input-inline">
				<input type="text" id="reduction_class" value="{$params.owners[$data_info['ban_info']['ban_owner_id']]}" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">使用性质</label>
			<div class="j-input-inline">
				<input type="text" id="reduction_nature" value="{$params.uses[$data_info['house_info']['house_use_id']]}" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">建筑面积</label>
			<div class="j-input-inline">
				<input type="text" id="builtup_area" value="{$data_info['house_info']['house_area']}" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">计租面积</label>
			<div class="j-input-inline">
				<input type="text" id="rental_area" value="{$data_info['house_info']['house_lease_area']}" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">房屋原价</label>
			<div class="j-input-inline">
				<input type="text" id="house_originalprice" value="{$data_info['house_info']['house_oprice']}" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">规定租金</label>
			<div class="j-input-inline">
				<input type="text" id="prescribed_rent" value="{$data_info['house_info']['house_pre_rent']}" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">计算租金</label>
			<div class="j-input-inline">
				<input type="text" id="rental_calculation" value="{$data_info['house_info']['house_cou_rent']}" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">租差</label>
			<div class="j-input-inline">
				<input type="text" id="house_floor_id" value="{$data_info['house_info']['house_diff_rent']}" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">泵费</label>
			<div class="j-input-inline">
				<input type="text" id="ump_fee" value="{$data_info['house_info']['house_pump_rent']}" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">营业／协议租金</label>
			<div class="j-input-inline">
				<input type="text" id="rental_business" value="{$data_info['house_info']['house_protocol_rent']}" placeholder=""   readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">计租表</label>
			<div class="j-input-inline">
				<a href="{:url('house/house/renttable')}?group=y&id={$data_info['house_id']}" id="checktable" class="j-iframe-pop" hisi-data="{width: '1300px', height: '700px',refresh: 2}" title="计租表"><b id="check" class="j-explain-search">查看</b></a>
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md8">
			<label class="j-form-label">异动原因</label>
			<div class="j-input-inline">
				<input type="text" name="change_remark" value="{$data_info['change_remark']}" readonly autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>

		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
		 <legend>上传报告</legend>
	</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md12">
				<div class="j-enclosure-label clearfix">资料上传</div>
				<div class="j-enclosure-img j-viewer-img clearfix">
					<ul>
						{volist name="$data_info['change_imgs']" id="v"}
						{if condition="$v['file_type'] == 'ChangeNewUpload'"}
						<li>
							<img src="{$v['file']}">
						</li>
						{/if}
						{/volist}
					</ul>
			    </div>
			</div>
		</div>

<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>审批状态</legend>
		</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
		   <div class="j-status-bar">
				<ul>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 2) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>房管员</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 3) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>资料员</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 4) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>经管所长</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 5) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>经管科</p>
					</li>
				</ul>
			</div>
			<div class="j-status-result">
				<ul>
					{volist name="$data_info['child_json']" id="v"}
					<li>{$systemusers[$v['uid']]['role']['name']}［{$systemusers[$v['uid']]['nick']}］于 {$v['time']} {$v['action']}；</li>
					{/volist}
					<!-- <li>经租会计［冯超］于2019-08-30 09:35:01 初审；</li> -->
				</ul>
			</div>
		</div>
  </div>
</form>
<link rel="stylesheet" href="__PUBLIC_JS__/viewer/viewer.min.css?v={:config('hisiphp.version')}">
<script type="text/javascript" src="__PUBLIC_JS__/viewer/viewer-jquery.min.js?v={:config('hisiphp.version')}"></script>
{include file="system@block/layui" /}
<script type="text/javascript">
	//图片查看
	$('.j-viewer-img').viewer({
	   	url: 'data-original',
	 });
</script>
