<div class="j-table-content  j-no-title">
	<div class="page-toolbar j-page-toolbar clearfix">
		<form class="layui-form layui-form-pane" action="{:url('index')}" method="get" id="hisi-table-search">
			<div class="j-search-fl layui-col-md8  fl">
				<div class="layui-input-inline layui-col-md2 j-input-margin j-width-150">
					<input type="text" name="szno" placeholder="租约编号" class="layui-input">
				</div>
				{if condition="INST_LEVEL != 3"}
				<div class="layui-input-inline layui-col-md2 j-width-90">
					<select name="tenant_inst_id">
						<option value="">机构</option>
						{volist name=":config('inst_check_names')[INST]" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				{/if}
				<div class="layui-input-inline layui-col-md2 j-input-margin j-width-100">
					<input type="text" name="tenant_name" title="租户姓名" placeholder="租户姓名" class="layui-input">
				</div>
				<div class="layui-input-inline layui-col-md2 j-input-margin j-width-110">
					<input type="text" name="tenant_tel" title="手机号" placeholder="手机号" class="layui-input">
				</div>
				<div class="layui-input-inline layui-col-md2 j-input-margin j-width-150">
					<input type="text" name="tenant_card" title="身份证号" placeholder="身份证号" class="layui-input">
				</div>
			</div>
			<div class="j-search-fr layui-col-md4 fr">
				<div class="layui-input-inline fr">
					<div class="layui-input-inline" style="margin-left:10px;">
						<button type="reset" class="layui-btn j-btn-reset">重置</button>
						<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
							<i class="layui-icon">&#xe615;</i>
							搜索
						</button>
						<button type="button" class="layui-btn layui-btn-warm"><i class="layui-icon iconfont j-icon-screen_icon"></i>标题筛选</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	{include file="system@block/layui" /}
	<table id="dataTable" lay-filter='dataTable' params="{$paramsJson}"></table>
	<script type="text/html" id="toolbar">

	</script>
	<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="{:url('detail')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">详情</a>
</script>
</div>
<script type="text/javascript">
	layui.use(['table', 'jquery'], function() {
		var $ = layui.$;
		var s = $('#dataTable').attr('params');
		var params = JSON.parse(s);
		var table = layui.table;
		table.render({
			elem: '#dataTable',
			/* height: 550, */
			toolbar: '#toolbar'
				// ,defaultToolbar: ['print']
				,
				defaultToolbar: ['filter','exports','print'] //设置右边筛选，导出，打印显示
			,url: '{:url("Lease/index")}' //数据接口
			,page: true //开启分页
			,limit: 10
			,limits: [10,20,30,40,50,100,300,500,1000]
			,text: {
				none: "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
			}
			,cols: [
				[ //表头
					{
						field: 'change_order_number',
						minWidth: 150,
						align:'center',
						title: '租约申请单号'
					}, {
						field: 'szno',
						minWidth: 120,
						align:'center',
						title: '租约编号'
					}, {
						field: 'ban_inst_id',
						minWidth: 120,
						align:'center',
						title: '管段',
						hide: isShowInst,
						templet: function(d) {
							return params.insts[d.ban_inst_id];
						}
					}, {field: 'ban_owner_id',minWidth: 80,title: '产别',align:'center',templet: function(d) {
						return params.owners[d.ban_owner_id];
					}}, {field: 'house_use_id',minWidth: 100,align:'center',title: '使用性质',templet: function(d) {
						return params.uses[d.house_use_id];
					}},  {
						field: 'tenant_name',
						minWidth: 100,
						align:'center',
						title: '租户姓名'
					},{
						field: 'tenant_tel',
						minWidth: 100,
						align:'center',
						title: '联系方式',
						hide: true
					}, {
						field: 'tenant_card',
						minWidth: 200,
						title: '身份证号',
						hide: true
					}, {field: 'house_area',hide: true,minWidth: 100,align:'center',title: '房屋建面',totalRow: true}
					, {field: 'house_oprice',hide: true,minWidth: 100,align:'center',title: '房屋原价',totalRow: true}, {
						title: '操作',
						minWidth: 100,
						align:'center',
						templet: '#buttonTpl',
						fixed: 'right'
					}
				]
			],
			done: function(res, curr, count) {
			   //导出转换后台数据
               var exportData=res.data;
               for(i in exportData){
                 exportData[i].ban_inst_id = params.insts[exportData[i].ban_inst_id];//转化管段
				 exportData[i].ban_owner_id = params.owners[exportData[i].ban_owner_id];//转化产别
				 exportData[i].house_use_id = params.uses[exportData[i].house_use_id];//转化使用性质
               }
			}
		},isShowInst)
	});
</script>
