<!-- 暂停记租申请 -->
<form class="layui-form" action="" method="post" >
  <div class="j-details-box floorWrap">
	<fieldset class="layui-elem-field layui-field-title j-field-box">
		<legend>基本信息</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>楼栋查询</label>
			<div class="j-input-inline">
				<input type="text" name="ban_number" value="" placeholder="点击查询"  lay-verify="required" readonly autocomplete="off" class="layui-input">
				<input type="hidden" name="ban_id" value="">
				<input type="hidden" name="house_id" value="">
				<b class="j-explain-search j-ban_number">查询</b>
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">楼栋地址</label>
			<div class="j-input-inline">
				<input type="text" name="ban_address" readonly value="" placeholder="" lay-verify="required" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">楼栋产别</label>
			<div class="j-input-inline">
				<input type="text" name="ban_owner_id" readonly value="" placeholder="" lay-verify="required" autocomplete="off" class="layui-input">
			</div>
		</div>
		<!-- <div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>使用性质</label>
			<div class="j-input-inline">
				<input type="text" name="suspend_nature" value="" placeholder="请输入使用性质" lay-verify="required" autocomplete="off" class="layui-input">
			</div>
		</div> -->
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">结构类别</label>
			<div class="j-input-inline">
				<input type="text" name="ban_struct_id" readonly value="" placeholder="" lay-verify="required" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">完损等级</label>
			<div class="j-input-inline">
				<input type="text" name="ban_damage_id" readonly value="" placeholder="" lay-verify="required" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">暂停月租金</label>
			<div class="j-input-inline">
				<input type="number" name="change_pause_rent" readonly value="" placeholder=""  autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md8">
			<label class="j-form-label">异动事由</label>
			<div class="j-input-inline">
				<input type="text" name="change_remark" value="" placeholder="请填写异动备注" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>

	<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
		<legend>房屋明细</legend>
	</fieldset>
	<table  class="layui-table j-house-box">
	  <thead>
		  <tr>
		    <th>房屋编号</th>
		    <th>承租人</th>
		    <th>使用性质</th>
		    <th>月租金(含租差、泵费)</th>
		  </tr>
	  </thead>
	  <tbody><tr><td colspan="4"><div class="j-no-content"><i class="layui-icon iconfont j-icon-wushuju"></i>暂无数据！</div></td></tr></tbody>
	</table>
  <div class="layui-row layui-form-item layui-col-space90">
		<div class="j-margin-btn">
			<a href="javascript:history.go(-1)" class="layui-btn layui-btn-primary">取消</a>
			<button type="submit" class="layui-btn" lay-submit lay-filter="formSubmit">确定</button>
		</div>
	</div>
  </div>
</form>
{include file="system@block/layui" /}
<script type="text/javascript">
	layui.use(['jquery', 'laydate', 'upload', 'form'], function() {
		var laydate = layui.laydate,
			$ = layui.$,
			upload = layui.upload,
			form = layui.form;
			//console.log(params);
		//获取楼栋查询器
		 $(".layui-form").on('click','.j-ban_number',function(){
		layer.open({
					title: '楼栋查询器'
					,type: 2
					,offset: 'auto'
					,area: ['70%', '90%']
					, btn:false
					,pageTabs: false
					,content: '{:url('system/index/cancellation')}'
					,btn: ['确定','关闭']
					,yes: function(index, layero){
						var row = window["layui-layer-iframe" + index].callbackdata();
						var rows = window["layui-layer-iframe" + index].callbackdatas();
						var HousePrerent = 0;
						// console.log(row);
						// console.log(rows);
						layer.close(index);
						$('.j-house-box tbody').html("");
							//房屋信息
							if(rows){
								var houseidData = '';
								var houseidData = '';
								for(var i=0;i<rows.length;i++) {
								houseidData += ','+rows[i].house_id;
								var trData ='<tr>\
												<td class="house_number">'+rows[i].house_number+'</td>\
												<td class="house_lessee">'+rows[i].tenant_name+'</td>\
												<td class="house_nature">'+params.uses[rows[i].house_use_id]+'</td>\
												<td class="house_monthly_rent">'+rows[i].house_pre_rent+'</td>\
											</tr>';

								$('.j-house-box tbody').append(trData);

								HousePrerent += parseFloat(rows[i].house_pre_rent) * 100;
							}
							houseidData = houseidData.replace(/^(\s|,)+|(\s|,)+$/g, '');
							$("input[name='house_id']").val(houseidData);//获取楼栋编号
							
						}
						//楼栋信息
							$("input[name='ban_number']").val(row.ban_number);//获取楼栋编号
							$("input[name='ban_id']").val(row.ban_id);//获取楼栋id
							$("input[name='ban_address']").val(row.ban_address);//获取楼栋地址
							$("input[name='ban_owner_id']").val(params.owners[row.ban_owner_id]);//获取楼栋产别
							$("input[name='ban_struct_id']").val(params.structs[row.ban_struct_id]);//获取楼栋结构类别
							$("input[name='ban_damage_id']").val(params.damages[row.ban_damage_id]);//获取楼栋完损等级
							$("input[name='change_pause_rent']").val(HousePrerent.toFixed(2) / 100);//获取楼栋暂停月租金
							if(	$('.j-house-box tbody').html()==''){
								$('.j-house-box tbody').html("<tr><td colspan='4'><div class='j-no-content'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无数据！</div></td></tr>");
							}

					},btn2: function(index, layero){
						layer.close(index);
					}
		 });
		})

	});
</script>
