<!-- 别字更正审批 -->
<form class="layui-form" action="" method="post">
	<div class="j-details-box floorWrap">
		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>基本信息</legend>
		</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md12">
				<label class="j-form-label"><i class="red">*</i> 房屋编号</label>
				<div class="j-input-inline j-tips">
					<input type="text" id="house_number" value="{$data_info['house_number']}" readonly autocomplete="off" class="layui-input j-search-input">
				</div>
				<div class="layui-form-mid layui-word-aux j-size-class"><i class="layui-icon layui-icon-tips"></i>别字更正后，原租约自动失效！</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md6">
				<div class="j-column-box">
					<div class="j-column-title clearfix">
						异动前信息
					</div>
					<div class="j-column-con clearfix">
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label"><i class="red">*</i> 租户ID</label>
								<div class="j-input-inline">
									<input type="text" id="old_tenant_number" value="{$data_info['old_tenant_info']['tenant_number']}" readonly placeholder="" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label"><i class="red">*</i> 租户姓名</label>
								<div class="j-input-inline">
									<input type="text" id="old_tenant_name" value="{$data_info['old_tenant_name']}" readonly placeholder="" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label"><i class="red">*</i> 身份证号</label>
								<div class="j-input-inline">
									<input type="text" id="old_tenant_card" readonly value="{$data_info['old_tenant_info']['tenant_card']}"   placeholder="" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-col-md6">
				<div class="j-column-box">
					<div class="j-column-title clearfix">
						异动后信息
					</div>
					<div class="j-column-con clearfix">
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label"><i class="red">*</i> 租户ID</label>
								<div class="j-input-inline">
									<input type="text" id="new_tenant_number"  value="{$data_info['old_tenant_info']['tenant_number']}" placeholder="" readonly autocomplete="off" class="layui-input j-search-input">
								</div>
							</div>
						</div>
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label"><i class="red">*</i> 租户姓名</label>
								<div class="j-input-inline">
									<input type="text" id="new_tenant_name"  value="{$data_info['new_tenant_name']}" readonly   placeholder="" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label"><i class="red">*</i> 身份证号</label>
								<div class="j-input-inline">
									<input type="text" id="new_tenant_card" readonly value="{$data_info['old_tenant_info']['tenant_card']}"   placeholder="" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md8">
				<label class="j-form-label">异动原因</label>
				<div class="j-input-inline">
					<input type="text" id="tenant_reason" value="{$data_info['change_remark']}" readonly placeholder="" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>填报信息</legend>
		</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
		  	<div class="layui-col-md12">
		  		<div class="j-enclosure-label clearfix">身份证信息</div>
		  		<div class="j-enclosure-img j-viewer-img clearfix">
		  			<ul>
		  				{volist name="$data_info['change_imgs']" id="v"}
						{if condition="$v['file_type'] == 'TenantReIDCard'"}
		  				<li>
		  					<img src="{$v['file']}">
		  				</li>
		  				{/if}
						{/volist}
		  				<!-- <li>
		  					<img src="/upload/ban/image/20190917/43e37b86505f7528d20237da2c45d537.png">
		  				</li> -->
		  			</ul>
		  	    </div>
		  	</div>
		  </div>
		  <div class="layui-row layui-form-item layui-col-space90">
		    	<div class="layui-col-md12">
		    		<div class="j-enclosure-label clearfix">租约</div>
		    		<div class="j-enclosure-img j-viewer-img clearfix">
		    			<ul>
		    				{volist name="$data_info['change_imgs']" id="v"}
							{if condition="$v['file_type'] == 'HouseApplicationForm'"}
			  				<li>
			  					<img src="{$v['file']}">
			  				</li>
			  				{/if}
							{/volist}
		    			</ul>
		    	    </div>
		    	</div>
		    </div>
		   <div class="layui-row layui-form-item layui-col-space90">
		     	<div class="layui-col-md12">
		     		<div class="j-enclosure-label clearfix">审批表</div>
		     		<div class="j-enclosure-img j-viewer-img clearfix">
		     			<ul>
		      				{volist name="$data_info['change_imgs']" id="v"}
							{if condition="$v['file_type'] == 'NameChangeApproval'"}
		      				<li>
		      					<img src="{$v['file']}">
		      				</li>
		      				{/if}
							{/volist}
		     			</ul>
		     	    </div>
		     	</div>
		     </div>
		    <div class="layui-row layui-form-item layui-col-space90">
		      	<div class="layui-col-md12">
		      		<div class="j-enclosure-label clearfix">申请报告</div>
		      		<div class="j-enclosure-img j-viewer-img clearfix">
		      			<ul>
		      				{volist name="$data_info['change_imgs']" id="v"}
							{if condition="$v['file_type'] == 'NameChangeApplication'"}
		      				<li>
		      					<img src="{$v['file']}">
		      				</li>
		      				{/if}
							{/volist}
		      			</ul>
		      	    </div>
		      	</div>
		      </div>
		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			 <legend>审批状态</legend>
		  </fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
		   <div class="j-status-bar">
				<ul>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 2) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>房管员</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 3) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>经租会计</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 4) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>经管所长</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 5) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>经管科</p>
					</li>
				</ul>
			</div>
			<div class="j-status-result">
				<ul>
					{volist name="$data_info['child_json']" id="v"}
					<li>{$systemusers[$v['uid']]['role']['name']}［{$systemusers[$v['uid']]['nick']}］于 {$v['time']} {$v['action']}；</li>
					{/volist}
					<!-- <li>经租会计［冯超］于2019-08-30 09:35:01 初审；</li> -->
				</ul>
			</div>
		</div>	
		  	<!-- <input type="hidden" name="id" value="{$data_info['id']}">
			<span class="j-tip-danger">不通过：异动失效，申请人需要重新填写申请；</span><span class="j-tip-warm">打回：打回到申请人，申请人可修改资料重新提交申请；</span> -->
			{include file="deal@common/process_submit" /}
		  <!-- <div class="layui-row layui-form-item layui-col-space90">
				<div class="j-margin-btn">
					<a href="javascript:history.go(-1)" class="layui-btn layui-btn-primary">返回</a>
					<a href="javascript:;" class="layui-btn layui-btn-danger" id="handover">不通过</a>
					<a href="javascript:;" class="layui-btn layui-btn-warm" id="backover">打回</a>
					<button type="submit" class="layui-btn" j-data="{'flag':'passed'}" lay-submit lay-filter="formSubmit">通过</button>
				</div>
		</div> -->
	  </div>
	   <!-- 打回弹框内容 S -->
  <div class="layui-form-item" id="j-repulse-box" hidden='hidden'>
   <select name="back_reason_type" id='back_reason_type' lay-filter="repulse">
   		<option value="">请选择打回类型</option>
   		{volist name="params['back_reason_type']" id="vo"}
		<option value="{$key}">{$vo}</option>
		{/volist}
    </select>
    <div class='j-open-reason j-open-repulse hide'>
		<input type='text' name='back_reason' class='layui-input' id='back_reason' placeholder='请输入打回原因！' value=''>
    </div>
  </div>
  <!-- 打回弹框内容 E -->
  <!-- 不通过弹框内容 S -->
  <div class="layui-form-item" id="j-notpass-box" hidden='hidden'>
   <select name="change_reason_type" id='change_reason_type' lay-filter="notpass">
  		<option value="">请选择不通过类型</option>
   		{volist name="params['change_reason_type']" id="vo"}
		<option value="{$key}">{$vo}</option>
		{/volist}
    </select>
    <div class='j-open-reason j-open-notpass hide'>
		<input type='text' name='change_reason' class='layui-input' id='change_reason' placeholder='请输入不通过原因！' value=''>
	</div>
  </div>
  <!-- 不通过弹框内容 E -->
  </div>

</form>
{include file="system@block/layui" /}
<!-- 图片查看 -->
<link rel="stylesheet" href="__PUBLIC_JS__/viewer/viewer.min.css?v={:config('hisiphp.version')}">
<script type="text/javascript" src="__PUBLIC_JS__/viewer/viewer-jquery.min.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript">
	/*上传参数设定*/
	layui.use(['jquery','table','layer', 'upload','form'], function() {
			var table = layui.table
			    ,form = layui.form
				,$ = layui.jquery
				,upload = layui.upload
				,layer = layui.layer;

			//审批不通过
	    $("#handover").on("click",function(){
	    	layer.open({
	    		type: 1,
	    		btn: ["确定","取消"],
	    		title: ['审批不通过原因'],
	    		scrollbar: false,
	    		area: ['400px','300px'],
	    		offset: 'auto',
	    		content: $("#j-notpass-box"),
	    		success:function(layero){
				     var mask = $(".layui-layer-shade");
				     mask.appendTo(layero.parent());
				     //其中：layero是弹层的DOM对象
				},
	    		yes: function(index, layero){
					
					var formData = $('.layui-form').serialize();
					var data = formData+'&change_type=17&flag=change';
					var changeReasonType = $('#change_reason_type').val(); //打回类型
					var changeReason = $('#change_reason').val(); //打回原因
					if(changeReasonType == ''){
						layer.tips('请选择异动不通过类型！', '#change_reason_type', {
						  tips: 1
						});
						return false;
					}
					if(changeReasonType == 7 && changeReason == ''){
						layer.tips('原因不能为空！', '#change_reason', {
						  tips: 1
						});
						return false;
					}
					if(!$('.layui-layer-btn0').hasClass('disabled')){
						$('.layui-layer-btn0').addClass('disabled').text('提交中...');
						formSubmit('post',"{:url()}",data,index);
					}

				}
			});
	    })
		//监听不通过
		form.on('select(notpass)', function(data){
		   if(data.elem[data.elem.selectedIndex].text==='其他'){
			  $(".j-open-notpass").show();
		   }
		   else{
			  $(".j-open-notpass").hide();
		   }
		});
	    //打回
	    $("#backover").on("click",function(){
	    	layer.open({
	    		type: 1,
	    		btn: ["确定","取消"],
	    		title: ['打回原因'],
	    		scrollbar: false,
	    		area: ['400px','300px'],
	    		offset: 'auto',
	    		content: $('#j-repulse-box'),
	    		success:function(layero){
				     var mask = $(".layui-layer-shade");
				     mask.appendTo(layero.parent());
				     //其中：layero是弹层的DOM对象
                },
				yes: function(index, layero){
					
					var formData = $('.layui-form').serialize();
					var data = formData+'&change_type=17&flag=back';
					var backReasonType = $('#back_reason_type').val(); //打回类型
					var backReason = $('#back_reason').val(); //打回原因
					
					if(backReasonType == ''){
						layer.tips('请选择异动打回类型！', '#back_reason_type', {
						  tips: 1
						});
						return false;
					}
					if(backReasonType == 7 && backReason == ''){
						layer.tips('原因不能为空！', '#back_reason', {
						  tips: 1
						});
						return false;
					}
					if(!$('.layui-layer-btn0').hasClass('disabled')){
						$('.layui-layer-btn0').addClass('disabled').text('提交中...');
						formSubmit('post',"{:url()}",data,index);
					}
		
				}
			});
	    })
	    //监听打回
		form.on('select(repulse)', function(data){
		   if(data.elem[data.elem.selectedIndex].text==='其他'){
			  $(".j-open-repulse").show();
		   }
		   else{
			  $(".j-open-repulse").hide();
		   }
		});
	});
	//图片查看
		$('.j-viewer-img').viewer({
		   	url: 'data-original',
		 });
	
</script>
