<!-- 房屋调整年审 -->
<form class="layui-form" action="" method="post">
  <div class="j-details-box  floorWrap">
		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>基本信息</legend>
		</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">异动编号</label>
				<div class="j-input-inline">
					<input type="text" value="{$data_info['change_order_number']}" readonly class="layui-input">
				</div>
			</div>
			<div class="layui-col-md8">
				<label class="j-form-label"><i class="red">*</i>房屋编号</label>
				<div class="j-input-inline j-tips">
					<input type="text" id="house_number" name="house_number" lay-verify="required" readonly value="{$data_info['house_info']['house_number']}" placeholder="点击查询" autocomplete="off" class="layui-input">
					
					<input type="hidden" id="house_id" name="house_id" value="{$data_info['house_id']}">
					<input type="hidden" id="ban_id" name="ban_id" value="{$data_info['ban_id']}">
					<input type="hidden" id="tenant_id" name="tenant_id" value="{$data_info['tenant_id']}">
					<!-- <b class="j-explain-search j-house_number">查询</b> -->
				</div>
				<div class="layui-form-mid layui-word-aux j-size-class"></div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md3">
				<label class="j-form-label">计租表</label>
				<div class="j-input-inline">
					<input type="text" value="" placeholder="" readonly autocomplete="off" class="layui-input">
					<a id="checktable" href="{:url('house/house/renttable')}?group=y&id={$data_info['house_id']}" class="j-iframe-pop" hisi-data="{width: '1300px', height: '700px',refresh: 2}" title="计租表"><b id="check" class="j-explain-search">查看</b></a>
				</div>
			</div>
			<div class="layui-col-md3">
				<label class="j-form-label">租户</label>
				<div class="j-input-inline">
					<input type="text" id="tenant_name" value="{$data_info['house_info']['tenant_name']}" placeholder="" readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md6">
				<label class="j-form-label">异动原因</label>
				<div class="j-input-inline">
					<input type="text" id="tenant_reason" name="change_remark" value="{$data_info['change_remark']}" readonly autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>

		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>楼栋信息</legend>
		</fieldset>
		<table  class="layui-table">
			{volist name="$data_info['data_json']['ban']" id="v"}
		  <tr>
		      <th colspan="2" rowspan="2">楼栋编号</th>
		      <th colspan="2" rowspan="2">楼栋地址</th>
		      <th colspan="3">租金</th>
		      <th colspan="3">计租面积</th>
		  </tr>
		  <tr>
		    <td rowspan="1" colspan="1">调整前</td>
		    <td rowspan="1" colspan="1">调整金额</td>
		    <td rowspan="1" colspan="1">调整后</td>
		    <td rowspan="1" colspan="1">调整前</td>
		    <td rowspan="1" colspan="1">调整面积</td>
		    <td rowspan="1" colspan="1">调整后</td>
		  </tr>
		  <tr>
		    <td rowspan="4" colspan="2" class="HABanID"><input type="tetx" readonly name="Ban[{$key}][HABanID]" value="{$v['HABanID']}" class="layui-input" /></td>
		    <td rowspan="4" colspan="2" class="HAAddress"><input type="tetx" readonly name="Ban[{$key}][HAAddress]" value="{$v['HAAddress']}" class="layui-input" /></td>
		    <td rowspan="1" colspan="1" class="HABeforeRent"><input type="tetx" readonly name="Ban[{$key}][HABeforeRent]" value="{$v['HABeforeRent']}" class="layui-input" /></td>
		    <td rowspan="1" colspan="1"><input type="number" readonly name="Ban[{$key}][HARent]" value="{$v['HARent']}" class="HARent layui-input" /></td>
		    <td rowspan="1" colspan="1"><input type="number" readonly class="HAAfterRent layui-input" name="Ban[{$key}][HAAfterRent]" value="{$v['HAAfterRent']}"/></td>
		    <td rowspan="1" colspan="1" class="HABeforeLeasedArea"><input type="text" readonly name="Ban[{$key}][HABeforeLeasedArea]" value="{$v['HABeforeLeasedArea']}" class="layui-input" /></td>
		    <td rowspan="1" colspan="1"><input type="number" readonly name="Ban[{$key}][HALeasedArea]" value="{$v['HALeasedArea']}" class="HALeasedArea layui-input" /></td>
		    <td rowspan="1" colspan="1"><input type="number" readonly name="Ban[{$key}][HAAfterLeasedArea]" value="{$v['HAAfterLeasedArea']}" class="HAAfterLeasedArea layui-input" /></td>
		  </tr>
		  <tr>
		    <th colspan="3">建筑面积</th>
		    <th colspan="3">楼栋原价</th>
		  </tr>
		  <tr>
		    <td rowspan="1" colspan="1">调整前</td>
		    <td rowspan="1" colspan="1">调整面积</td>
		    <td rowspan="1" colspan="1">调整后</td>
		    <td rowspan="1" colspan="1">调整前</td>
		    <td rowspan="1" colspan="1">调整金额</td>
		    <td rowspan="1" colspan="1">调整后</td>
		  </tr>
		  <tr>
		    <td rowspan="1" colspan="1" class="HABeforeBanArea"><input type="text" readonly name="Ban[{$key}][HABeforeBanArea]" value="{$v['HABeforeBanArea']}"  class="layui-input" /></td>
		    <td rowspan="1" colspan="1"><input type="number" readonly name="Ban[{$key}][HABanArea]" value="{$v['HABanArea']}" class="HABanArea layui-input" /></td>
		    <td rowspan="1" colspan="1"><input type="number" name="Ban[{$key}][HAAfterBanArea]" value="{$v['HAAfterBanArea']}" readonly class="HAAfterBanArea layui-input" /></td>
		    <td rowspan="1" colspan="1" class="HABeforePrice"><input type="text" readonly name="Ban[{$key}][HABeforePrice]" value="{$v['HABeforePrice']}" class="layui-input" /></td>
		    <td rowspan="1" colspan="1"><input type="number" readonly name="Ban[{$key}][HAPrice]" value="{$v['HAPrice']}" class="HAPrice layui-input" /></td>
		    <td rowspan="1" colspan="1"><input type="number" readonly name="Ban[{$key}][HAAfterPrice]" value="{$v['HAAfterPrice']}" class="HAAfterPrice layui-input" /></td>
		  </tr>
		  
		  <tr class="table_data_2">
		    <td rowspan="6" colspan="2" class="HABanID"></td>
		    <td rowspan="6" colspan="2" class="HAAddress"></td>
		    <th colspan="3">租金</th>
		    <th colspan="3">计租面积</th>
		  </tr>
		  <tr class="table_data_2">
		    <td rowspan="1" colspan="1">调整前</td>
		    <td rowspan="1" colspan="1">调整金额</td>
		    <td rowspan="1" colspan="1">调整后</td>
		    <td rowspan="1" colspan="1">调整前</td>
		    <td rowspan="1" colspan="1">调整面积</td>
		    <td rowspan="1" colspan="1">调整后</td>
		  </tr>
		  {/volist}
		</table>

<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
		<legend>填报信息</legend>
	</fieldset>
<div class="layui-row layui-form-item layui-col-space90">
	<div class="layui-col-md12">
		<div class="j-enclosure-label clearfix">调整附件报告</div>
		<div class="j-enclosure-img j-viewer-img clearfix">
			<ul>
				{volist name="$data_info['change_imgs']" id="v"}
				{if condition="$v['file_type'] == 'HouseChangeExplain'"}
				<li>
					<img src="{$v['file']}">
				</li>
				{/if}
				{/volist}
			</ul>
	    </div>
	</div>
</div>

{if condition="$data_info['change_status'] == 3"}
<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md12">
				<div class="j-enclosure-upload clearfix">
					<div class="j-enclosure-label">{if condition="in_array('HouseChangeState',$config['changeuse_file_upload'])"}<i class="red">*</i>{/if} 调整说明</div>
					<div class="j-enclosure-label j-uplode-icon">
						<i><img src="/static/system/image/Group8.png"></i>点击上传
						<button type="button" class="layui-btn layui-btn-primary" id="upload_img2">上传图片</button>
					</div>
					<div class="layui-form-mid layui-word-aux">限制5M</div>
				</div>
				<div class="j-enclosure-imgs clearfix">
					<div id="upload_img_list2" class="upload_img_list j-viewer-img"> </div>
				</div>
			</div>
			<div class="layui-upload">
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md12">
				<div class="j-enclosure-upload clearfix">
					<div class="j-enclosure-label">{if condition="in_array('HouseChangeExtra',$config['changeuse_file_upload'])"}<i class="red">*</i>{/if} 调整其他</div>
					<div class="j-enclosure-label j-uplode-icon">
						<i><img src="/static/system/image/Group8.png"></i>点击上传
						<button type="button" class="layui-btn layui-btn-primary" id="upload_img3">上传图片</button>
					</div>
					<div class="layui-form-mid layui-word-aux">限制5M</div>
				</div>
				<div class="j-enclosure-imgs clearfix">
					<div id="upload_img_list3" class="upload_img_list j-viewer-img"> </div>
				</div>
			</div>
			<div class="layui-upload">
			</div>
		</div>

{/if}


    <fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>审批状态</legend>
		</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
		   <div class="j-status-bar">
				<ul>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 2) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>房管员</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 3) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>资料员</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 4) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>经管所长</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 5) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>经管科</p>
					</li>
				</ul>
			</div>
			<div class="j-status-result">
				<ul>
					{volist name="$data_info['child_json']" id="v"}
					<li>{$systemusers[$v['uid']]['role']['name']}［{$systemusers[$v['uid']]['nick']}］于 {$v['time']} {$v['action']}；</li>
					{/volist}
					<!-- <li>经租会计［冯超］于2019-08-30 09:35:01 初审；</li> -->
				</ul>
			</div>
			<!-- <input type="hidden" name="id" value="{$data_info['id']}">
			<span class="j-tip-danger">不通过：异动失效，申请人需要重新填写申请；</span><span class="j-tip-warm">打回：打回到申请人，申请人可修改资料重新提交申请；</span> -->
			{include file="deal@common/process_submit" /}
		  <!-- <div class="layui-row layui-form-item layui-col-space90">
				<div class="j-margin-btn">
					<a href="javascript:history.go(-1)" class="layui-btn layui-btn-primary">返回</a>
					<a href="javascript:;" class="layui-btn layui-btn-danger" id="handover">不通过</a>
					<a href="javascript:;" class="layui-btn layui-btn-warm" id="backover">打回</a>
					<button type="submit" class="layui-btn" j-data="{'flag':'passed'}" lay-submit lay-filter="formSubmit">通过</button>
				</div>
		</div> -->
		</div>
		{include file="deal@common/pop_part_one" /}
</div>

</form>
{include file="system@block/layui" /}
<script type="text/javascript">
	var file1 = 'HouseChangeExplain'; //调整附件报告
	var file2 = 'HouseChangeState'; //调整说明
	var file3 = 'HouseChangeExtra'; //调整其它
	var upurl1 = "{:url('system/Api/upload')}?input="+ file1 +"&group=change&water=no";
	var upurl2 = "{:url('system/Api/upload')}?input="+ file2 +"&group=change&water=no";
	var upurl3 = "{:url('system/Api/upload')}?input="+ file3 +"&group=change&water=no";
	var duotu = true; //是否为多图上传true false
layui.use(['jquery', 'laydate', 'upload', 'form','table'], function() {
  var table = layui.table
      ,form = layui.form
  	,$ = layui.jquery
  	,upload = layui.upload
  	,layer = layui.layer;
  	//调整说明
	  upload.render({
	  	elem: '#upload_img2',
	  	url: upurl2,
	  	size: 1024*5,
	  	multiple: duotu,
	  	field: file2,
	  	before: function(obj) {
	  		layer.msg('图片上传中...', {
	  			icon: 16,
	  			shade: 0.01,
	  			time: 0
	  		})
	  	},
	  	done: function(res) {
	  		layer.close(layer.msg()); //关闭上传提示窗口
	  		if (duotu == true) {
	  			//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
	  			$('#upload_img_list2').append('<dd class="item_img" id="' + res.data.name +
	  				'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
	  				'" class="img" ><input type="hidden" name="' + file2 + '[]" value="' + res.data.id + '" /></dd>');
	  		} else {
	  			//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
	  			$('#upload_img_list2').html('<dd class="item_img" id="' + res.data.name +
	  				'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
	  				'" class="img" ><input type="hidden" name="' + file2 + '[]" value="' + res.data.id + '" /></dd>');
	  		}
	  	}
	  })
	  //调整其他
	  upload.render({
	  	elem: '#upload_img3',
	  	url: upurl3,
	  	size: 1024*5,
	  	multiple: duotu,
	  	field: file3,
	  	before: function(obj) {
	  		layer.msg('图片上传中...', {
	  			icon: 16,
	  			shade: 0.01,
	  			time: 0
	  		})
	  	},
	  	done: function(res) {
	  		layer.close(layer.msg()); //关闭上传提示窗口
	  		if (duotu == true) {
	  			//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
	  			$('#upload_img_list3').append('<dd class="item_img" id="' + res.data.name +
	  				'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
	  				'" class="img" ><input type="hidden" name="' + file3 + '[]" value="' + res.data.id + '" /></dd>');
	  		} else {
	  			//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
	  			$('#upload_img_list3').html('<dd class="item_img" id="' + res.data.name +
	  				'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
	  				'" class="img" ><input type="hidden" name="' + file3 + '[]" value="' + res.data.id + '" /></dd>');
	  		}
	  	}
	  })
	var ban_length = 0;
	$('.table_data_2').hide();
	$('.table_data_3').hide();
	//获取房屋查询器
				//审批不通过
	    $("#handover").on("click",function(){
	    	layer.open({
	    		type: 1,
	    		btn: ["确定","取消"],
	    		title: ['审批不通过原因'],
	    		scrollbar: false,
	    		area: ['400px','300px'],
	    		offset: 'auto',
	    		content: $("#j-notpass-box"),
	    		success:function(layero){
				     var mask = $(".layui-layer-shade");
				     mask.appendTo(layero.parent());
				     //其中：layero是弹层的DOM对象
				},
	    		yes: function(index, layero){
					
					var formData = $('.layui-form').serialize();
					var data = formData+'&change_type=9&flag=change';
					var changeReasonType = $('#change_reason_type').val(); //打回类型
					var changeReason = $('#change_reason').val(); //打回原因
					if(changeReasonType == ''){
						layer.tips('请选择异动不通过类型！', '#change_reason_type', {
						  tips: 1
						});
						return false;
					}
					if(changeReasonType == 7 && changeReason == ''){
						layer.tips('原因不能为空！', '#change_reason', {
						  tips: 1
						});
						return false;
					}
					if(!$('.layui-layer-btn0').hasClass('disabled')){
						$('.layui-layer-btn0').addClass('disabled').text('提交中...');
						formSubmit('post',"{:url()}",data,index);
					}

				}
			});
	    })
	    //监听不通过
		form.on('select(notpass)', function(data){
		   if(data.elem[data.elem.selectedIndex].text==='其他'){
			  $(".j-open-notpass").show();
		   }
		   else{
			  $(".j-open-notpass").hide();
		   }
		});
	    //打回
	    $("#backover").on("click",function(){
	    	layer.open({
	    		type: 1,
	    		btn: ["确定","取消"],
	    		title: ['打回原因'],
	    		scrollbar: false,
	    		area: ['400px','300px'],
	    		offset: 'auto',
	    		content: $('#j-repulse-box'),
	    		success:function(layero){
				     var mask = $(".layui-layer-shade");
				     mask.appendTo(layero.parent());
				     //其中：layero是弹层的DOM对象
                },
				yes: function(index, layero){
					
					var formData = $('.layui-form').serialize();
					var data = formData+'&change_type=9&flag=back';
					var backReasonType = $('#back_reason_type').val(); //打回类型
					var backReason = $('#back_reason').val(); //打回原因
					
					if(backReasonType == ''){
						layer.tips('请选择异动打回类型！', '#back_reason_type', {
						  tips: 1
						});
						return false;
					}
					if(backReasonType == 7 && backReason == ''){
						layer.tips('原因不能为空！', '#back_reason', {
						  tips: 1
						});
						return false;
					}
					if(!$('.layui-layer-btn0').hasClass('disabled')){
						$('.layui-layer-btn0').addClass('disabled').text('提交中...');
						formSubmit('post',"{:url()}",data,index);
					}
		
				}
			});
	    })
	    //监听打回
		form.on('select(repulse)', function(data){
		   if(data.elem[data.elem.selectedIndex].text==='其他'){
			  $(".j-open-repulse").show();
		   }
		   else{
			  $(".j-open-repulse").hide();
		   }
		});
	
})
</script>