<!-- 陈欠核销审批 -->
<link rel="stylesheet" href="__PUBLIC_JS__/viewer/viewer.min.css?v={:config('hisiphp.version')}">
<form class="layui-form" action="" method="post" >
  <div class="j-details-box floorWrap">
	<fieldset class="layui-elem-field layui-field-title j-field-box">
		<legend>基本信息</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">异动编号</label>
			<div class="j-input-inline">
				<input type="text" value="{$data_info['change_order_number']}" readonly class="layui-input">
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md12">
			<label class="j-form-label"><i class="red">*</i>房屋编号</label>
			<div class="j-input-inline j-tips">
				<input type="text" id="house_number" name="house_number" readonly value="{$data_info['house_info']['house_number']}" placeholder="点击查询" autocomplete="off" class="layui-input">
				<input type="hidden" id="ban_id" name="ban_id" value="{$data_info['ban_id']}">
				<input type="hidden" id="house_id" name="house_id" value="{$data_info['house_id']}">
				<input type="hidden" id="tenant_id" name="tenant_id" value="{$data_info['tenant_id']}">
				<input type="hidden" id="rent_order_date" name="rent_order_date" value="">
				<input type="hidden" id="before_year_copy" name="before_year_rent" value="{$data_info['before_year_rent']}">
				<input type="hidden" id="before_month_copy" name="before_month_rent" value="{$data_info['before_month_rent']}">
				<input type="hidden" id="this_month_copy" name="this_month_rent" value="{$data_info['this_month_rent']}">
			</div>
			<div class="layui-form-mid layui-word-aux j-size-class"><i class="layui-icon layui-icon-tips"></i>可以核销当月订单</div>
		</div>
	</div>
		<table  class="layui-table">
		  <thead>
			  <tr>
			    <th>房屋编号</th>
			    <th>楼栋地址</th>
			    <th>机构</th>
			    <th>产别</th>
			    <th>使用性质</th>
			    <th>租户姓名</th>
			    <th>规定租金</th>
			  </tr>
		  </thead>
		  <tbody>
		    <tr>
		  	  <td id="house_numbers">&nbsp;{$data_info['house_info']['house_number']}</td>
			  <td id="building_address">&nbsp;{$data_info['ban_info']['ban_address']}</td>
			  <td id="mechanism">&nbsp;{$params['insts'][$data_info['ban_info']['ban_inst_id']]}</td>
	    	  <td id="yield_differentiation">&nbsp;{$data_info['ban_info']['ban_address']}</td>
	    	  <td id="nature_usage">&nbsp;{$params['uses'][$data_info['house_info']['house_use_id']]}</td>
	    	  <td id="tenant_name">&nbsp;{$data_info['tenant_info']['tenant_name']}</td>
			  <td id="prescribed_rent">&nbsp;{$data_info['house_info']['house_pre_rent']}</td>
		    </tr>
		  </tbody>
		</table>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md8">
			<label class="j-form-label">异动原因</label>
			<div class="j-input-inline">
				<input type="text" id="tenant_reason" value="{$data_info['change_remark']}" readonly  autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
		<legend>异动信息</legend>
	</fieldset>
	<table  class="layui-table j-house-box">
	  <thead>
		  <tr>
		    <th>核销类型</th>
		    <th>以前年</th>
		    <th>以前月</th>
		    <th>本月</th>
		    <th>总金额</th>
		  </tr>
	  </thead>
	 <tbody>
	   <tr>
	 	  <td id="write_type">金额</td>
		  <td id="before_year">{$data_info['before_year_rent']}</td>
		  <td id="before_month">{$data_info['before_month_rent']}</td>
		  <td id="this_month">{$data_info['this_month_rent']}</td>
		  <td id="total_sum">{:array_sum([$data_info['before_year_rent'],$data_info['before_month_rent'],$data_info['this_month_rent']])}</td>
	   </tr>
	 </tbody>
	</table>
	<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
		<legend>明细信息</legend>
	</fieldset>
<table class="layui-table">
  <thead>
    <tr>
      <th>订单编号</th>
      <th>产别</th>
      <th>使用性质</th>
      <th>账单金额</th>
      <th>已支付金额</th>
      <th>账单期</th>
      <th>地址</th>
      <th>租户姓名</th>
    </tr> 
  </thead>
  <tbody>
  	{volist name="$data_info['data_json']" id="v"}
    <tr>
      <td>{$v['rent_order_number']}</td>
      <td>{$params.owners[$v['ban_owner_id']]}</td>
      <td>{$params.uses[$v['house_use_id']]}</td>
      <td>{$v['rent_order_receive']}</td>
      <td>{$v['rent_order_paid']}</td>
      <td>{$v['rent_order_date']}</td>
      <td>{$v['ban_address']}</td>
      <td>{$v['tenant_name']}</td>
    </tr>
    {/volist}
  </tbody>
</table>
	<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
		<legend>填报信息</legend>
	</fieldset>
    
<div class="layui-row layui-form-item layui-col-space90">
	<div class="layui-col-md12">
		<div class="j-enclosure-label clearfix">{if condition="in_array('ChangeOffsetUpload',$config['changeoffset_file_upload'])"}<i class="red">*</i>{/if} 其他</div>
		<div class="j-enclosure-img j-viewer-img clearfix">
			<ul>
				{volist name="$data_info['change_imgs']" id="v"}
				{if condition="$v['file_type'] == 'HouseForm'"}
				<li>
					<img src="{$v['file']}">
				</li>
				{/if}
				{/volist}
			</ul>
	    </div>
	</div>
</div>
{if condition="$data_info['change_status'] == 3"}
<div class="layui-row layui-form-item layui-col-space90">
	<div class="layui-col-md12">
		<div class="j-enclosure-upload clearfix">
			<div class="j-enclosure-label">{if condition="in_array('ChangeOffsetUpload',$config['changeoffset_file_upload'])"}<i class="red">*</i>{/if} 报告</div>
			<div class="j-enclosure-label j-uplode-icon">
				<i><img src="/static/system/image/Group8.png"></i>点击上传
				<button type="button" class="layui-btn layui-btn-primary" id="upload_img3">上传图片</button>
			</div>
			<div class="layui-form-mid layui-word-aux">限制3M</div>
		</div>
		<div class="j-enclosure-imgs clearfix">
			<div id="upload_img_list3" class="upload_img_list j-viewer-img"> </div>
		</div>
	</div>
	<div class="layui-upload">
	</div>
</div>
{else /}
<div class="layui-row layui-form-item layui-col-space90">
	<div class="layui-col-md12">
		<div class="j-enclosure-label clearfix">报告</div>
		<div class="j-enclosure-img j-viewer-img clearfix">
			<ul>
				{volist name="$data_info['change_imgs']" id="v"}
				{if condition="$v['file_type'] == 'ChangeOffsetUpload'"}
				<li>
					<img src="{$v['file']}">
				</li>
				{/if}
				{/volist}
			</ul>
	    </div>
	</div>
</div>
{/if}
		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>审批状态</legend>
		</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
		   <div class="j-status-bar">
				<ul>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 2) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>房管员</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 3) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>经租会计</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 4) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>经管所长</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 5) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>行政所长</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 6) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>经管科</p>
					</li>
				</ul>
			</div>
			<div class="j-status-result">
				<ul>
					{volist name="$data_info['child_json']" id="v"}
					<li>{$systemusers[$v['uid']]['role']['name']}［{$systemusers[$v['uid']]['nick']}］于 {$v['time']} {$v['action']}；</li>
					{/volist}
					<!-- <li>经租会计［冯超］于2019-08-30 09:35:01 初审；</li> -->
				</ul>
			</div>
		</div>
		<!-- <input type="hidden" name="id" value="{$data_info['id']}">
		<span class="j-tip-danger">不通过：异动失效，申请人需要重新填写申请；</span><span class="j-tip-warm">打回：打回到申请人，申请人可修改资料重新提交申请；</span> -->
		{include file="deal@common/process_submit" /}
		<!-- <div class="layui-row layui-form-item layui-col-space90">
			<div class="j-margin-btn">
				<a href="javascript:history.go(-1)" class="layui-btn layui-btn-primary">返回</a>
				<a href="javascript:;" class="layui-btn layui-btn-danger" id="handover">不通过</a>
				<a href="javascript:;" class="layui-btn layui-btn-warm" id="backover">打回</a>
				<button type="submit" class="layui-btn" j-data="{'flag':'passed'}" lay-submit lay-filter="formSubmit">通过</button>
			</div>
		</div> -->
  </div>
    {include file="deal@common/pop_part_one" /}
</form>
{include file="system@block/layui" /}
<!-- 图片查看 -->
<link rel="stylesheet" href="__PUBLIC_JS__/viewer/viewer.min.css?v={:config('hisiphp.version')}">
<script type="text/javascript" src="__PUBLIC_JS__/viewer/viewer-jquery.min.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript">
	/*上传参数设定*/
	layui.use(['jquery','table','layer', 'upload','form'], function() {
		var table = layui.table
		    ,form = layui.form
			,$ = layui.jquery
			,upload = layui.upload
			,layer = layui.layer; 
var upurl2 = "{:url('system/Api/upload')}?input=ChangeOffsetUpload&group=change&water=no"; //报告
	var duotu = true; //是否为多图上传true false
		//审批不通过
	    $("#handover").on("click",function(){
	    	layer.open({
	    		type: 1,
	    		btn: ["确定","取消"],
	    		title: ['审批不通过原因'],
	    		scrollbar: false,
	    		area: ['400px','300px'],
	    		offset: 'auto',
	    		content: $("#j-notpass-box"),
	    		success:function(layero){
				     var mask = $(".layui-layer-shade");
				     mask.appendTo(layero.parent());
				     //其中：layero是弹层的DOM对象
				},
	    		yes: function(index, layero){
					
					var formData = $('.layui-form').serialize();
					var data = formData+'&change_type=4&flag=change';
					var changeReasonType = $('#change_reason_type').val(); //打回类型
					var changeReason = $('#change_reason').val(); //打回原因
					if(changeReasonType == ''){
						layer.tips('请选择异动不通过类型！', '#change_reason_type', {
						  tips: 1
						});
						return false;
					}
					if(changeReasonType == 7 && changeReason == ''){
						layer.tips('原因不能为空！', '#change_reason', {
						  tips: 1
						});
						return false;
					}
					if(!$('.layui-layer-btn0').hasClass('disabled')){
						$('.layui-layer-btn0').addClass('disabled').text('提交中...');
						formSubmit('post',"{:url()}",data,index);
					}

				}
			});
	    })
	    //监听不通过
		form.on('select(notpass)', function(data){
		   if(data.elem[data.elem.selectedIndex].text==='其他'){
			  $(".j-open-notpass").show();
		   }
		   else{
			  $(".j-open-notpass").hide();
		   }
		});
	    //打回
	    $("#backover").on("click",function(){
	    	layer.open({
	    		type: 1,
	    		btn: ["确定","取消"],
	    		title: ['打回原因'],
	    		scrollbar: false,
	    		area: ['400px','300px'],
	    		offset: 'auto',
	    		content: $('#j-repulse-box'),
	    		success:function(layero){
				     var mask = $(".layui-layer-shade");
				     mask.appendTo(layero.parent());
				     //其中：layero是弹层的DOM对象
                },
	    		yes: function(index, layero){
					
					var formData = $('.layui-form').serialize();
					var data = formData+'&change_type=4&flag=back';
					var backReasonType = $('#back_reason_type').val(); //打回类型
					var backReason = $('#back_reason').val(); //打回原因
					
					if(backReasonType == ''){
						layer.tips('请选择异动打回类型！', '#back_reason_type', {
						  tips: 1
						});
						return false;
					}
					if(backReasonType == 7 && backReason == ''){
						layer.tips('原因不能为空！', '#back_reason', {
						  tips: 1
						});
						return false;
					}
					if(!$('.layui-layer-btn0').hasClass('disabled')){
						$('.layui-layer-btn0').addClass('disabled').text('提交中...');
						formSubmit('post',"{:url()}",data,index);
					}

				}
			});
	    })
	    //监听打回
		form.on('select(repulse)', function(data){
		   if(data.elem[data.elem.selectedIndex].text==='其他'){
			  $(".j-open-repulse").show();
		   }
		   else{
			  $(".j-open-repulse").hide();
		   }
		});
	    //报告
		upload.render({
			elem: '#upload_img3',
			url: upurl2,
			size: 1024*3,
			multiple: duotu,
			field: 'ChangeOffsetUpload',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list3').append('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="ChangeOffsetUpload[]" value="' + res.data.id + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list3').html('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="ChangeOffsetUpload[]" value="' + res.data.id + '" /></dd>');
				}
			}
		})
		

	});
	//图片查看
	$('.j-viewer-img').viewer({
	   	url: 'data-original',
	 });
</script>