<link rel="stylesheet" href="__PUBLIC_JS__/viewer/viewer.min.css?v={:config('hisiphp.version')}">
<form class="layui-form" action="" method="post" >
  <div class="j-details-box floorWrap">
	<fieldset class="layui-elem-field layui-field-title j-field-box">
		<legend>基本信息</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>注销类别</label>
			<div class="j-input-inline">
				<input type="text" id="ban_address" value="{$params.cancels[$data_info['cancel_type']]}" autocomplete="off" class="layui-input" readonly>
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>楼栋编号</label>
			<div class="j-input-inline">
				<input type="text" name="ban_number" value="{$data_info['ban_info']['ban_number']}" readonly autocomplete="off" class="layui-input">
				<input type="hidden" name="ban_id" value="">
				<input type="hidden" name="house_id" value="">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">楼栋地址</label>
			<div class="j-input-inline">
				<input type="text" id="ban_address" value="{$data_info['ban_info']['ban_address']}" autocomplete="off" class="layui-input" readonly>
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md8">
			<label class="j-form-label">异动原因</label>
			<div class="j-input-inline">
				<input type="text" name="change_remark" value="{$data_info['change_remark']}" autocomplete="off" class="layui-input" readonly>
			</div>
		</div>
	</div>
	<fieldset  class="layui-elem-field layui-field-title j-field-box">
		<legend>基数异动</legend>
	</fieldset>
		<table  class="layui-table">
		  <thead>
			  <tr>
			    <th>楼栋编号</th>
			    <th>异动状态</th>
			    <th class="cancel">规定租金</th>
			    <th class="cancel">使用面积</th>
			    <th class="cancel">建筑面积</th>
			    <th class="cancel">房屋原价</th>
			    <th>是否注销</th>
			  </tr>
		  </thead>
		  <tbody>
		    <tr>
		  	  <td id="floor_number">{$data_info['ban_info']['ban_number']}</td>
			  <td>异动前</td>
			  <td class="cancel_before_1" id="floor_prescribed">{$data_info['change_json']['before']['ban_total_rent']}</td>
	    	  <td class="cancel_before_2" id="floor_areaofuse">{$data_info['change_json']['before']['ban_total_use_area']}</td>
	    	  <td class="cancel_before_3" id="floor_builtuparea">{$data_info['change_json']['before']['ban_total_area']}</td>
	    	  <td class="cancel_before_4" id="floor_original">{$data_info['change_json']['before']['ban_total_oprice']}</td>
			  <td rowspan="3" align="center"><input type="checkbox" name="cancel_ban" {if condition="$data_info['cancel_ban']"}checked{/if} value="1" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF" disabled></td>
		    </tr>
			<tr>
			  <td></td>
			  <td>异动</td>
			  <td>{$data_info['cancel_rent']}</td>
			  <td>{$data_info['cancel_use_area']}</td>
			  <td>{$data_info['cancel_area']}</td>
			  <td>{$data_info['cancel_oprice']}</td>
			</tr>
			<tr>
			  <td></td>
			  <td>异动后</td>
			  <td class="cancel_after_1" id="changes_floor_prescribed">{$data_info['change_json']['after']['ban_total_rent']}</td>
			  <td class="cancel_after_2" id="changes_floor_areaofuse">{$data_info['change_json']['after']['ban_total_use_area']}</td>
			  <td class="cancel_after_3" id="changes_floor_builtuparea">{$data_info['change_json']['after']['ban_total_area']}</td>
			  <td class="cancel_after_4" id="changes_floor_original">{$data_info['change_json']['after']['ban_total_oprice']}</td>
			</tr>
		  </tbody>
		</table>
	    <table  class="layui-table hide">
	      <thead>
	    	  <tr>
	    	    <th>楼栋编号</th>
	    	    <th>规定租金</th>
	    	    <th>使用面积</th>
	    	    <th>建筑面积</th>
	    	    <th>房屋原价</th>
	    	  </tr>
	      </thead>
	      <tbody>
	        <tr>
	      	  <td id="floor_number"></td>
	    	  <td id="floor_prescribed"></td>
	    	  <td id="floor_areaofuse"></td>
	    	  <td id="floor_builtuparea"></td>
	    	  <td id="floor_original"></td>
	        </tr>
	      </tbody>
	    </table>
	<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box j-house-title">
		<legend>注销明细</legend>
	</fieldset>
	<table  class="layui-table j-house-box">
	  <thead>
		  <tr>
		    <th>房屋编号</th>
		    <th>承租人</th>
		    <th>房屋原价</th>
		    <th>建筑面积</th>
		    <th>规定租金</th>
		    <th>计租面积</th>
		  </tr>
	  </thead>
	  <tbody>
	  	{volist name="$data_info['data_json']" id="v"}
	  	<tr>
	  		<td>{$v['house_number']}</td>
	  		<td>{$v['tenant_name']}</td>
	  		<td>{$v['house_oprice']}</td>
	  		<td>{$v['house_area']}</td>
	  		<td>{$v['house_pre_rent']}</td>
	  		<td>{$v['house_lease_area']}</td>
	  	</tr>
	  	{/volist}
	    <!-- <tr><td colspan='6'><div class='j-no-content'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无数据！</div></td></tr> -->
	 </tbody>
	</table>
	<div class="j-cancel-show hide">
	<!-- <fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
		<legend>注销楼栋</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">楼栋编号</label>
			<div class="j-input-inline">
				<input type="text" name="cancel_number" value="" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">调整面积</label>
			<div class="j-input-inline">
				<input type="text" name="cancel_has" value="" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md12">
			<div class="j-enclosure-upload clearfix">
				<div class="j-enclosure-label">情况说明</div>
				<div class="j-enclosure-label j-uplode-icon">
					<i><img src="__ADMIN_IMG__/Group8.png" /></i>点击上传
					<button type="button" class="layui-btn layui-btn-primary" id="upload_img3">上传图片</button>
				</div>
				<div class="layui-form-mid layui-word-aux">限制3M</div>
			</div>
			<div class="j-enclosure-imgs clearfix">
				<div id="upload_img_list4" class="upload_img_list j-viewer-img"> </div>
			</div>
		</div>
	</div> -->
	</div>
	<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
		<legend>补充附件</legend>
	</fieldset>
	  <div class="layui-row layui-form-item layui-col-space90">
  	<div class="layui-col-md12">
  		<div class="j-enclosure-label clearfix">附件一</div>
  		<div class="j-enclosure-img j-viewer-img clearfix">
  			<ul>
				{volist name="$data_info['change_imgs']" id="v"}
				{if condition="$v['file_type'] == 'ChangeCancelOne'"}
				<li>
  					<img src="{$v['file']}" class="img">
  				</li>
				{/if}
				{/volist}
  			</ul>
  	    </div>
  	</div>
  </div>
  <div class="layui-row layui-form-item layui-col-space90">
  	<div class="layui-col-md12">
  		<div class="j-enclosure-label clearfix">附件二</div>
  		<div class="j-enclosure-img j-viewer-img clearfix">
  			<ul>
				{volist name="$data_info['change_imgs']" id="v"}
				{if condition="$v['file_type'] == 'ChangeCancelTwo'"}
				<li>
  					<img src="{$v['file']}" class="img">
  				</li>
				{/if}
				{/volist}
  			</ul>
  	    </div>
  	</div>
  </div>
  <div class="layui-row layui-form-item layui-col-space90">
  	<div class="layui-col-md12">
  		<div class="j-enclosure-label clearfix">其他</div>
  		<div class="j-enclosure-img j-viewer-img clearfix">
  			<ul>
				{volist name="$data_info['change_imgs']" id="v"}
				{if condition="$v['file_type'] == 'ChangeCancelThree'"}
				<li>
  					<img src="{$v['file']}" class="img">
  				</li>
				{/if}
				{/volist}
  			</ul>
  	    </div>
  	</div>
  </div>
  </div>
  <fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
	 <legend>审批状态</legend>
  </fieldset>
  <div class="layui-row layui-form-item layui-col-space90">
  		   <div class="j-status-bar">
  				<ul>
  					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 2) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>房管员</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 3) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>资料员</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 4) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>经管所长</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 5) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>经管科</p>
					</li>
  				</ul>
  			</div>
  			<div class="j-status-result">
  				<ul>
  					{volist name="$data_info['child_json']" id="v"}
					<li>{$systemusers[$v['uid']]['role']['name']}［{$systemusers[$v['uid']]['nick']}］于 {$v['time']} {$v['action']}；</li>
					{/volist}
  				</ul>
  			</div>
  	</div>
  	<input type="hidden" name="id" value="{$data_info['id']}">	
	<span class="j-tip-danger">不通过：异动失效，申请人需要重新填写申请；</span><span class="j-tip-warm">打回：打回到申请人，申请人可修改资料重新提交申请；</span>
  <div class="layui-row layui-form-item layui-col-space90">
		<div class="j-margin-btn">
			<a href="javascript:history.go(-1)" class="layui-btn layui-btn-primary">返回</a>
			<a href="javascript:;" class="layui-btn layui-btn-danger" id="handover">不通过</a>
			<a href="javascript:;" class="layui-btn layui-btn-warm" id="backover">打回</a>
			<button type="submit" class="layui-btn" lay-submit lay-filter="formSubmit">通过</button>
		</div>
	</div>
  </div>
</form>
{include file="system@block/layui" /}
<script type="text/javascript" src="__PUBLIC_JS__/viewer/viewer-jquery.min.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript" src="__ADMIN_VIEWJS__/deal_cancel_apply.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript">
	var upurl2 = "{:url('system/Api/upload')}?input=ChangeCancelOne&group=change&water=no"; //附件1
	var upurl3 = "{:url('system/Api/upload')}?input=ChangeCancelTwo&group=change&water=no"; //附件2
	//var upurl4 = "{:url('system/Api/upload')}?input=factsheets&group=ban&water=no"; //情况说明
	var duotu = true; //是否为多图上传true false
	layui.use(['jquery', 'laydate', 'upload', 'form'], function() {
		var laydate = layui.laydate,
			$ = layui.$,
			upload = layui.upload,
			form = layui.form;
		

		//审批不通过
	    $("#handover").on("click",function(){
	    	layer.open({
	    		type: 1,
	    		btn: ["确定","取消"],
	    		title: ['审批不通过原因'],
	    		scrollbar: false,
	    		area: ['400px','200px'],
	    		offset: 'auto',
	    		content: "<div class='j-open-reason'><input type='text'name='change_reason' class='layui-input' id='change_reason' placeholder='请输入不通过原因！' value=''></div>",
	    		yes: function(index, layero){
					
					var formData = $('.layui-form').serialize();
					var data = formData+'&change_reason='+$('#change_reason').val()+'&change_type=8';
					if($('#change_reason').val()==''){
						layer.tips('原因不能为空！', '#change_reason', {
						  tips: 1
						});
					}
					else if(!$('.layui-layer-btn0').hasClass('disabled')){
						$('.layui-layer-btn0').addClass('disabled').text('提交中...');
						formSubmit('post',"{:url()}",data,index);
					}

				}
			});
	    })

	    //打回
	    $("#backover").on("click",function(){
	    	layer.open({
	    		type: 1,
	    		btn: ["确定","取消"],
	    		title: ['打回原因'],
	    		scrollbar: false,
	    		area: ['400px','200px'],
	    		offset: 'auto',
	    		content: "<div class='j-open-reason'><input type='text'name='back_reason' class='layui-input' id='back_reason' placeholder='请输入打回原因！' value=''></div>",
	    		yes: function(index, layero){
					
					var formData = $('.layui-form').serialize();
					var data = formData+'&back_reason='+$('#back_reason').val()+'&change_type=8';
					if($('#back_reason').val()==''){
						layer.tips('原因不能为空！', '#back_reason', {
						  tips: 1
						});
					}
					else if(!$('.layui-layer-btn0').hasClass('disabled')){
						$('.layui-layer-btn0').addClass('disabled').text('提交中...');
						formSubmit('post',"{:url()}",data,index);
					}

				}
			});
	    })
		
		 
		     

		
		/*
		删除上传图片
		*/
		$(document).on("click", ".upload_img_list dd i", function() {
			$(this).parents("dd").remove();
		})
	});
</script>
