<div class="j-table-content j-no-title">
	<div class="page-toolbar j-page-toolbar clearfix">
		<form class="layui-form layui-form-pane" action="{:url('index')}" method="get" id="hisi-table-search">
			<div class="j-search-fl layui-col-md6  fl">
				<div class="layui-input-inline layui-col-md2 j-input-margin" style="width:160px;">
					<input type="text" name="ban_address" placeholder="地址" class="layui-input">
				</div>
				{// if condition="INST_LEVEL != 3"}
				<!-- <div class="layui-input-inline layui-col-md2" style="width:160px;">
					<select name="ban_inst_id"> -->
						<!-- <option value="">机构名称</option> -->
						{// volist name=":config('inst_check_names')[INST]" id="v"}
						<!-- <option value="{$key}">{$v}</option> -->
						{// /volist}
					<!-- </select> -->
				<!-- </div> -->
				{// /if}
				<div class="layui-input-inline" style="width:120px;">
					<select name="ban_owner_id">
						<option value="">产别</option>
						{volist name="params['owners']" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
				<div class="layui-input-inline" style="width:120px;">
					<select name="change_desc">
						<option value="">审核状态</option>
						<option value="房管员">房管员</option>
						<option value="资料员">资料员</option>
						<option value="经租会计">经租会计</option>
						<option value="经管所长">经管所长</option>
						<option value="经管科长">经管科长</option>

					</select>
				</div>
				<div class="layui-input-inline j-input-margin" style="width:120px;">
					<input type="text" name="ctime" id="date" placeholder="申请时间" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="j-search-fr layui-col-md6 fr">
				<div class="layui-input-inline fr">
					<div class="layui-input-inline" style="margin-left:10px;">
						<button type="reset" class="layui-btn j-btn-reset">重置</button>
						<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
							<i class="layui-icon">&#xe615;</i>
							搜索
						</button>
						<button type="button" class="layui-btn layui-btn-warm"><i class="layui-icon iconfont j-icon-screen_icon"></i>标题筛选</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	{include file="system@block/layui" /}
	<table id="dataTable" lay-filter='dataTable' params="{$paramsJson}"></table>
	<script type="text/html" id="toolbar">
	</script>
	<script type="text/html" title="操作按钮模板" id="buttonTpl">
	  {{# if(d.change_type == 18 && d.curr_role == 6 && d.is_process){ }}
	  <a href="{:url('printout')}?change_type={{ d.change_type }}&id={{ d.change_id }}" class="layui-btn layui-btn-xs layui-btn-normal">租约打印</a>
	  {{# } }}
	  {{# if(d.is_process){ }}
	  <a href="{:url('process')}?change_type={{ d.change_type }}&id={{ d.change_id }}" class="layui-btn layui-btn-xs layui-btn-primary">审批</a>
	  {{#  } else { }}
	  <button class="layui-btn layui-btn-xs layui-btn-disabled">审批</button>
	  {{# } }}
      <a href="{:url('detail')}?change_type={{ d.change_type }}&id={{ d.change_id }}" class="layui-btn layui-btn-xs layui-btn-normal">明细</a>
    </script>
</div>
<script type="text/javascript">
	
	layui.use(['table', 'jquery','laydate'], function() {
		var $ = layui.$;
		var s = $('#dataTable').attr('params');
		var params = JSON.parse(s);
		var table = layui.table
		   ,laydate = layui.laydate;
		
		//日期
		  laydate.render({
		    elem: '#date'
		  });
		table.render({
			elem: '#dataTable',
			/* height: 550, */
			toolbar: '#toolbar'
				// ,defaultToolbar: ['print']
				,defaultToolbar: ['filter','exports','print'] //设置右边筛选，导出，打印显示
			    ,url: '{:url()}' //数据接口
				,page: true //开启分页
				,limit: 10
			   ,limits: [10,20,30,40,50,100,300,500,1000]
			  ,text: {
					none: "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
			  }
			  ,cols: [
				[ //表头
					// {
					// 	field: '', align:'center',width:60, title: '#', templet:function(d){
					// 	     return d.LAY_INDEX ;
					// 	}
					// },
					{
						field: 'ban_address',
						width: 180,
						align:'center',
						title: '楼栋地址'
					}, {
						field: 'ban_inst_id',
						hide: isShowInst,
						width: 120,
						align:'center',
						title: '申请机构',
						templet: function(d) {
		                    return params.insts[d.ban_inst_id];
		                }
					}, {
						field: 'ban_owner_id',
						width: 80,
						align:'center',
						title: '产别',
						templet: function(d) {
		                    return params.owners[d.ban_owner_id];
		                }
					}, {
						field: 'change_type',
						width: 130,
						align:'center',
						title: '异动类型',
						templet: function(d) {
		                    return params.changes[d.change_type];
		                }
					}
					, {
						field: 'ctime',
						align:'center',
						width: 160,
						title: '申请时间'
					}, {
						field: 'change_desc',
						align:'center',
						width: 150,
						title: '审核状态'
					}, {
						title: '操作',
						width: 200,
						//minWidth: 260,
						align:'center',
						templet: '#buttonTpl',
						fixed: 'right'
					}
				]
			],
			done: function(res, curr, count) {

			}
		},isShowInst)
	});
</script>