<div class="j-class-setup">
	<fieldset class="layui-elem-field layui-field-title j-field-box">
		<legend>分类设置</legend>
	</fieldset>
	<div class="layui-row j-class-con">
        <!--新分类  -->
		<div class="j-class-li">
		   <dl class="j-list">
			<dt class="j-title">
			<h2 class="fd-locate">楼栋基础数据</h2>
			</dt>
			<dd class="j-list-dd">
			 <div class="j-list_sub">
				<a class="j-list_text">地址修改</a>
				<div class="j-list_third hide"> 
				<!-- 附件选择 S -->
				  <div class="j-class-annexes">
					  <ul>
						<li><input type="checkbox" name="annexes" lay-skin="annexes" title="" checked=""><span>地址修改</span></li>
						<li><input type="checkbox" name="annexes" lay-skin="annexes" title=""><span>总楼层修改</span></li>
					  </ul>
					  <div class="j-class-add">
						  <div class="j-add-ico clearfix">
							  <i class="layui-icon j-plus layui-icon-add-circle-fine"></i>
							  <i class="layui-icon j-lost layui-icon-close hide"></i>
							  添加分类选项
							  </div>
							<div class="j-add-con hide">
							  <div class="j-add-input"><input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入分类名称" class="layui-input"></div>
							  <div class="j-add-hold">
								  <button type="button" class="layui-btn">保存</button>
							  </div>
							</div>
					  </div>
				  </div>
				<!-- 附件选择 E -->
				<!-- 表单选择 S -->
				  <div class="j-class-annexes j-four">
					  <ul>
						<li><input type="checkbox" name="annexes" lay-skin="annexes" title="" checked=""><span>用户ID</span></li>
						<li><input type="checkbox" name="annexes" lay-skin="annexes" title=""><span>楼栋编号</span></li>
					  </ul>
					  <div class="j-class-add">
						  <div class="j-add-ico clearfix">
							  <i class="layui-icon j-plus layui-icon-add-circle-fine"></i>
							  <i class="layui-icon j-lost layui-icon-close hide"></i>
							  添加分类选项
							  </div>
							<div class="j-add-con hide">
							  <div class="j-add-input"><input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入分类名称" class="layui-input"></div>
							  <div class="j-add-hold">
								  <button type="button" class="layui-btn">保存</button>
							  </div>
							</div>
					  </div>
				  </div>
				<!-- 表单选择 E -->
				<!-- 分类说明 S -->
				<div class="j-class-annexes">
					<form class="layui-form" action="" lay-filter="example">
					  <textarea placeholder="补充描述..." class="layui-textarea" name="desc"></textarea>
					  <button class="layui-btn j-addenda-btn" lay-submit="" lay-filter="demo1">保存</button>
					</from>
				</div>
				<!-- 分类说明 E -->
				</div>
			</div>
	
			<div class="j-list_sub">
			<a class="j-list_text">总楼层修改</a>
			<div class="j-list_third hide">
			  <!-- 附件选择 S -->
			    <div class="j-class-annexes">
			  	  <ul>
			  		<li><input type="checkbox" name="annexes" lay-skin="annexes" title="" checked=""><span>地址修改</span></li>
			  		<li><input type="checkbox" name="annexes" lay-skin="annexes" title=""><span>总楼层修改</span></li>
			  	  </ul>
			  	  <div class="j-class-add">
			  		  <div class="j-add-ico clearfix">
			  			  <i class="layui-icon j-plus layui-icon-add-circle-fine"></i>
			  			  <i class="layui-icon j-lost layui-icon-close hide"></i>
			  			  添加分类选项
			  			  </div>
			  			<div class="j-add-con hide">
			  			  <div class="j-add-input"><input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入分类名称" class="layui-input"></div>
			  			  <div class="j-add-hold">
			  				  <button type="button" class="layui-btn">保存</button>
			  			  </div>
			  			</div>
			  	  </div>
			    </div>
			  <!-- 附件选择 E -->
			  <!-- 表单选择 S -->
			    <div class="j-class-annexes j-four">
			  	  <ul>
			  		<li><input type="checkbox" name="annexes" lay-skin="annexes" title="" checked=""><span>用户ID</span></li>
			  	  </ul>
			  	  <div class="j-class-add">
			  		  <div class="j-add-ico clearfix">
			  			  <i class="layui-icon j-plus layui-icon-add-circle-fine"></i>
			  			  <i class="layui-icon j-lost layui-icon-close hide"></i>
			  			  添加分类选项
			  			  </div>
			  			<div class="j-add-con hide">
			  			  <div class="j-add-input"><input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入分类名称" class="layui-input"></div>
			  			  <div class="j-add-hold">
			  				  <button type="button" class="layui-btn">保存</button>
			  			  </div>
			  			</div>
			  	  </div>
			    </div>
			  <!-- 表单选择 E -->
			  <!-- 分类说明 S -->
			  <div class="j-class-annexes">
			  	<form class="layui-form" action="" lay-filter="example">
			  	  <textarea placeholder="补充描述..." class="layui-textarea" name="desc"></textarea>
			  	  <button class="layui-btn j-addenda-btn" lay-submit="" lay-filter="demo1">保存</button>
			  	</from>
			  </div>
			  <!-- 分类说明 E -->
			</div>
			</div>
			</dd>
		 </dl>            
		</div> 
  </div>
</div>
{include file="system@block/layui" /}
<script type="text/javascript">
	
	$(".j-title").each(function () {
	    $(this).find("h2").click(function () {
	        $(this).addClass("sub_select").parent().siblings("dt").children().removeClass("sub_select");
	        $(this).parent().next().show().siblings("dd").hide();
	    });
	});
	$(".j-title").each(function () {
	    $(this).next().find(".j-list_text").click(function () {
	        $(this).addClass("j-list_text_on").parent(".j-list_sub").siblings().find(".j-list_text").removeClass("j-list_text_on");
	        $(this).next().show().parent(".j-list_sub").siblings().find(".j-list_third").hide();
	    });
	});
</script>
