<style>
	.j-table-content.on .layui-table-tool .layui-inline[lay-event="LAYTABLE_COLS"]{top:115px}/* 标题筛选定位 */
</style>
 <div class="j-table-content j-no-tab">
    <div class="layui-btn-container j-container-margin">
         <div class="layui-btn-container">  
             {if condition="in_array(347,$auths) || $Think.ADMIN_ROLE == 1"}
             <a data-href="{:url('createRentOrders')}" class="j-ajax"><button class="layui-btn layui-bg-green"><i class="layui-icon layui-icon-rmb"></i> 生成本月租金</button></a>
             {/if}
             {if condition="in_array(316,$auths) || $Think.ADMIN_ROLE == 1"}     
             <a data-href="{:url('payList')}" data-id="rent_order_id" class="j-page-btns"><button class="layui-btn"><i class="layui-icon layui-icon-add-1"></i>批量缴费</button></a>
             {/if}
             {if condition="in_array(315,$auths) || $Think.ADMIN_ROLE == 1"}
             <a href="javascript:;" data-href="{:url('dealAsLast')}" class="j-ajax"><button class="layui-btn"><i class="layui-icon layui-icon-add-1"></i>按上期缴纳</button></a>
             {/if}
         </div>
     </div>
  <div class="page-toolbar j-page-toolbar clearfix">
    <form class="layui-form layui-form-pane" action="{url('index')}"  method="get" id="hisi-table-search">
	  <div class="j-search-fl layui-col-md8  fl">
        <div class="layui-input-inline j-input-margin" style="width:120px;">
            <input type="text" name="tenant_name" title="租户姓名" placeholder="租户姓名" class="layui-input">
        </div>
        <div class="layui-input-inline j-input-margin" style="width:160px;">
            <input type="text" name="rent_order_number" title="订单编号" placeholder="订单编号" class="layui-input">
        </div>
        <div class="layui-input-inline j-input-margin" style="width:120px;">
            <input type="text" name="ban_address" title="地址" placeholder="地址" class="layui-input">
        </div>
        {if condition="INST_LEVEL != 3"}
        <div class="layui-input-inline" style="width:120px;">
            <select name="ban_inst_id">
                <option value="">机构</option>
                {volist name=":config('inst_check_names')[INST]" id="v"}
                <option value="{$key}">{$v}</option>
                {/volist}
              </select>
        </div>
        {/if}
        <div class="layui-input-inline" style="width:120px;">
            <select name="ban_owner_id">
                <option value="">产别</option>
                {volist name="params['owners']" id="v"}
                <option value="{$key}">{$v}</option>
                {/volist}
              </select>
        </div>
        <div class="layui-input-inline" style="width:120px;">
            <select name="house_use_id">
                <option value="">使用性质</option>
                {volist name="params['uses']" id="v"}
                <option value="{$key}">{$v}</option>
                {/volist}
              </select>
        </div>
		</div>
		
        <div class="j-search-fr layui-col-md4 fr">
        	<div class="layui-input-inline fr">
        		<div class="layui-input-inline" style="margin-left:10px;">
        			<button type="reset" class="layui-btn j-btn-reset">重置</button>
        			<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
        				<i class="layui-icon">&#xe615;</i>
        				搜索
        			</button>
        			<button type="button" class="layui-btn layui-btn-warm"><i class="layui-icon iconfont j-icon-screen_icon"></i>标题筛选</button>
        		</div>
        	</div>
        </div>
    </form>
</div>
{include file="system@block/layui" /}
<table id="dataTable" lay-filter='dataTable'></table>
<script type="text/html" id="toolbar">
</script>
<script type="text/html" title="操作按钮模板" id="buttonTpl">

    <a href="{:url('detail')}?id={{ d.rent_order_id }}" class="layui-btn layui-btn-xs layui-btn-normal">详情</a>
</script>
</div>
<script type="text/javascript">
    layui.use(['table','jquery'], function() {
        var table = layui.table;
        table.render({
            elem: '#dataTable'
            //,height: 550
			,toolbar: '#toolbar'
			,defaultToolbar: ['filter','exports','print'] //设置右边筛选，导出，打印显示
            ,url: '{:url("rent/Rent/index")}'
            ,totalRow: true
            ,page: true 
            ,limit: 10
            ,limits: [10,20,30,40,50,100,500,1000,5000]
            ,text: {
                none : "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
            }
            ,cols: [[ //表头
                {type: 'checkbox'}
                ,{field: 'rent_order_number',minWidth: 200, align:'center', title: '订单编号' ,totalRowText: '合计：'}
                ,{field: 'ban_inst_id', minWidth: 120, hide:isShowInst, align:'center', title: '管段', templet: function(d) {
                    return params.insts[d.ban_inst_id];
                }}
                ,{field: 'ban_owner_id', minWidth: 80, align:'center', title: '产别', templet: function(d) {
                    return params.owners[d.ban_owner_id];
                }}
                ,{field: 'house_use_id', minWidth: 100, align:'center', title: '使用性质', templet: function(d) {
                    return params.uses[d.house_use_id];
                }}
                ,{field: 'rent_order_receive', minWidth: 140, align:'center', title: '账单金额',totalRow: true}
                ,{field: 'rent_order_paid', minWidth: 140, align:'center', title: '已支付金额',totalRow: true}
                ,{field: 'rent_order_date', minWidth: 140, align:'center', title: '账单期'}
                ,{field: 'ban_address', minWidth: 140, align:'center', title: '地址'}
                ,{field: 'tenant_name', minWidth: 140, align:'center', title: '租户姓名'}
                ,{title: '操作', width: 80,align:'center', templet: '#buttonTpl',fixed:'right'}
            ]]
            ,done:function(res,curr,count){
               
            }
        },isShowInst)
    });
</script>