<form class="layui-form" action="{url('pay')}" method="post">
  <div class="j-details-box floorWrap layui-form">
	<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
		<legend>基本信息</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red"></i>订单编号</label>
			<div class="j-input-inline">
				<input type="text" value="{$data_info['rent_order_number']}" readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red"></i>楼栋地址</label>
			<div class="j-input-inline">
				<input type="text" value="{$data_info['ban_address']}" readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red"></i>房屋编号</label>
			<div class="j-input-inline">
				<input type="text" value="{$data_info['house_number']}" readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red"></i>租户姓名</label>
			<div class="j-input-inline">
				<input type="text" value="{$data_info['tenant_name']}" readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red"></i>联系电话</label>
			<div class="j-input-inline">
				<input type="text" value="{$data_info['tenant_tel']}" readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red"></i>身份证号</label>
			<div class="j-input-inline">
				<input type="text" value="{$data_info['tenant_card']}" readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		
	</div>
	
	<fieldset class="layui-elem-field layui-field-title j-field-box">
		<legend>缴费</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red"></i>账单期</label>
			<div class="j-input-inline">
				<input type="text" value="{:substr_replace($data_info['rent_order_date'],'-',4,0)}" readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red"></i>账单金额</label>
			<div class="j-input-inline">
				<input type="text" value="{$data_info['rent_order_receive']}" readonly autocomplete="off" class="layui-input">
				<b class="j-explain-search">元</b>
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red"></i>已缴金额</label>
			<div class="j-input-inline">
				<input type="text" value="{$data_info['rent_order_paid']}" readonly autocomplete="off" class="layui-input">
				<b class="j-explain-search">元</b>
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red"></i>欠缴金额</label>
			<div class="j-input-inline">
				<input type="text" value="{$data_info['rent_order_unpaid']}" readonly autocomplete="off" class="layui-input">
				<b class="j-explain-search">元</b>
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>缴纳金额</label>
			<div class="j-input-inline">
				<input type="number" name="pay_rent" value="" autocomplete="off" class="layui-input">
				<b class="j-explain-search">元</b>
			</div>
		</div>
	</div>
	 <input type="hidden" name="rent_order_id" value="{$data_info['rent_order_id']}">
	 <div class="pop-bottom-bar">
        <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit" hisi-data="{pop: true, refresh: true}">提交保存</button>
        <a href="javascript:parent.layui.layer.closeAll();" class="layui-btn layui-btn-primary ml10">取消</a>
    </div>
  </div>
</form>
{include file="system@block/layui" /}