<div class="j-table-content j-no-search">
	<div class="layui-btn-container j-container-margin">
		<div class="layui-btn-container">
		<a href="{:url('addUser')}" class="layui-btn  j-iframe-pop" hisi-data="{width: '470px', height: '500px'}" title="添加管理员"><i class="layui-icon layui-icon-add-1"></i>添加</a>
		<button data-href="{:url('status?table=admin_user&val=1')}" class="layui-btn  hisi-page-btns layui-bg-green" data-table="dataTable"><i class="layui-icon layui-icon-play"></i>启用</button>
		<button data-href="{:url('status?table=admin_user&val=0')}" class="layui-btn  hisi-page-btns layui-bg-red" data-table="dataTable"><i class="layui-icon layui-icon-pause"></i>禁用</button>
		<button data-href="{:url('delUser')}" class="layui-btn layui-btn-gray hisi-page-btns confirm j-page-btns"><i class="layui-icon layui-icon-close"></i>删除</button>
		</div>
	</div>
        <div class="page-toolbar j-page-toolbar clearfix">
        <form class="layui-form layui-form-pane" action="{url('index')}" method="get" id="hisi-table-search">
            <div class="j-search-fl layui-col-md8  fl">
                <div class="layui-input-inline j-input-margin" style="width:140px;">
                    <input type="text" name="username" placeholder="用户名" class="layui-input">
                </div>
                <div class="layui-input-inline" style="width:140px;">
                    <select name="role_id">
                        <option value="">角色</option>
                        {volist name="$roleArr" id="v"}
                        <option value="{$key}">{$v}</option>
                        {/volist}
                    </select>
                </div>
                <div class="layui-input-inline j-input-margin" style="width:140px;">
                    <input type="text" name="mobile" placeholder="手机号" class="layui-input">
                </div>
                {if condition="INST_LEVEL != 3"}
                <div class="layui-input-inline" style="width:140px;">
                    <select name="inst_id">
                        <option value="">机构</option>
                        {volist name=":config('inst_check_names')[INST]" id="v"}
                        <option value="{$key}">{$v}</option>
                        {/volist}
                    </select>
                </div>
                {/if}             
            </div>
            <div class="j-search-fr layui-col-md4 fr">
                <div class="layui-input-inline fr">
                    <div class="layui-input-inline" style="margin-left:10px;">
                        <button type="reset" class="layui-btn j-btn-reset">重置</button>
                        <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
                            <i class="layui-icon">&#xe615;</i>
                            搜索
                        </button>
                        <button type="button" class="layui-btn layui-btn-warm"><i class="layui-icon iconfont j-icon-screen_icon"></i>标题筛选</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
<table id="dataTable"></table>

{include file="block/layui" /}

<script type="text/html" id="statusTpl">
    <input type="checkbox" name="status" value="{{ d.status }}" lay-skin="switch" lay-filter="switchStatus" lay-text="正常|关闭" {{ d.status == 1 ? 'checked' : '' }} data-href="{:url('status')}?table=admin_user&id={{ d.id }}">
</script>

<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="{:url('editUser')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">修改</a>
    <a href="{:url('delUser')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>
</script>

<script type="text/html" id="toolbar">
</script>
</div>
<script type="text/javascript">
    layui.use(['table'], function() {
        var table = layui.table;
        table.render({
            elem: '#dataTable'
            ,url: '{:url()}' //数据接口
            ,page: true //开启分页
            ,limit: 10
            ,text: {
                none : "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
            }
            ,cols: [[ //表头
                {type:'checkbox'}
                ,{field: 'username', width: 90, title: '用户名', align:'center'}
                ,{field: 'inst_id', width: 120, align:'center', title: '机构', hide: isShowInst, templet: function(d) {
                    return params.insts[d.inst_id];
                }}
                ,{field: 'nick', width: 90,title: '昵称'}
                ,{field: 'role_id', width: 120,align:'center',title: '角色', templet:function(d){
                    return d.name;
                }}
                ,{field: 'mobile', width: 120,align:'center',title: '手机'}
                ,{field: 'email', width: 170, hide: true,align:'center',title: '邮箱'}
                ,{field: 'last_login_time', width: 160,align:'center', title: '最后登录时间'}
                ,{field: 'last_login_ip', width: 120,align:'center',title: '最后登录IP'}
                ,{field: 'intro', minWidth: 160, hide:true, align:'center', title: '简介'}
                ,{field: 'status',width: 100,align:'center', title: '状态', templet: '#statusTpl'}
                ,{title: '操作', width: 160,align:'center', templet: '#buttonTpl',fixed:'right'}
            ]]
        });
    });
</script>