<div class="j-table-content j-no-search">
	<div class="layui-btn-container j-container-margin">
		<div class="layui-btn-container">
		<a href="{:url('addUser')}" class="layui-btn  j-iframe-pop" hisi-data="{width: '470px', height: '500px'}" title="添加管理员"><i class="layui-icon layui-icon-add-1"></i>添加</a>
		<button data-href="{:url('status?table=admin_user&val=1')}" class="layui-btn  hisi-page-btns layui-bg-green" data-table="dataTable"><i class="layui-icon layui-icon-play"></i>启用</button>
		<button data-href="{:url('status?table=admin_user&val=0')}" class="layui-btn  hisi-page-btns layui-bg-red" data-table="dataTable"><i class="layui-icon layui-icon-pause"></i>禁用</button>
		<button data-href="{:url('delUser')}" class="layui-btn layui-btn-gray hisi-page-btns confirm j-page-btns"><i class="layui-icon layui-icon-close"></i>删除</button>
		</div>
	</div>
<table id="dataTable"></table>

{include file="block/layui" /}

<script type="text/html" id="statusTpl">
    <input type="checkbox" name="status" value="{{ d.status }}" lay-skin="switch" lay-filter="switchStatus" lay-text="正常|关闭" {{ d.status == 1 ? 'checked' : '' }} data-href="{:url('status')}?table=admin_user&id={{ d.id }}">
</script>

<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="{:url('editUser')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">修改</a>
    <a href="{:url('delUser')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>
</script>

<script type="text/html" id="toolbar">
</script>
</div>
<script type="text/javascript">
    layui.use(['table'], function() {
        var table = layui.table;
        table.render({
            elem: '#dataTable'
            ,url: '{:url()}' //数据接口
            ,page: true //开启分页
            //,skin: 'row'
            //,even: true
            ,limit: 20
            ,text: {
                none : '暂无相关数据'
            }
            //,toolbar: '#toolbar'
            //,defaultToolbar: ['filter']
            ,cols: [[ //表头
                {type:'checkbox'}
                ,{field: 'username', minWidth: 90, title: '用户名', align:'center'}
                ,{field: 'inst_id', minWidth: 120, align:'center', title: '机构', hide: isShowInst, templet: function(d) {
                    return params.insts[d.inst_id];
                }}
                ,{field: 'nick', minWidth: 90,title: '昵称'}
                ,{field: 'role_id', minWidth: 100,align:'center',title: '角色', templet:function(d){
                    return d.role.name;
                }}
                ,{field: 'mobile', minWidth: 120,align:'center',title: '手机'}
                ,{field: 'email', minWidth: 180, align:'center',title: '邮箱'}
                ,{field: 'last_login_time', minWidth: 150,align:'center', title: '最后登陆时间'}
                ,{field: 'last_login_ip', minWidth: 120,align:'center',title: '最后登陆IP'}
                ,{field: 'intro', minWidth: 160,align:'center',title: '简介'}
                ,{field: 'status',minWidth: 100,align:'center', title: '状态', templet: '#statusTpl'}
                ,{title: '操作', minWidth: 260,Width: 260,align:'center', templet: '#buttonTpl',fixed:'right'}
            ]]
        });
    });
</script>