<div class="j-table-content j-no-search">
	<div class="layui-btn-container j-container-margin">
		<div class="layui-btn-container">
		<a href="{:url('addRole')}" class="layui-btn"><i class="layui-icon layui-icon-add-1"></i>添加</a>
		<button data-href="{:url('statusRole?val=1')}" class="layui-btn  hisi-page-btns layui-bg-green" data-table="dataTable"><i class="layui-icon layui-icon-play"></i>启用</button>
		<button data-href="{:url('statusRole?val=0')}" class="layui-btn  hisi-page-btns layui-bg-red" data-table="dataTable"><i class="layui-icon layui-icon-pause"></i>禁用</button>
		<button data-href="{:url('delRole')}" class="layui-btn layui-btn-gray hisi-page-btns confirm j-page-btns"><i class="layui-icon layui-icon-close"></i>删除</button>
		</div>
	</div>
<table id="dataTable"></table>

{include file="block/layui" /}

<script type="text/html" id="statusTpl">
    <input type="checkbox" name="status" value="{{ d.status }}" lay-skin="switch" lay-filter="switchStatus" lay-text="正常|关闭" {{ d.status == 1 ? 'checked' : '' }} data-href="{:url('statusRole')}?id={{ d.id }}">
</script>

<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="{:url('editRole')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">修改</a>
    <a href="{:url('delRole')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger j-tr-del">删除</a>
</script>

<script type="text/html" id="toolbar">
</script>
</div>
<script type="text/javascript">
    layui.use(['table'], function() {
        var table = layui.table;
        table.render({
            elem: '#dataTable'
            ,url: '{:url()}' //数据接口
            // ,skin: 'row'
            // ,even: true
            ,text: {
                none : '暂无相关数据'
            }
           // ,toolbar: '#toolbar'
            //,defaultToolbar: ['filter']
            ,cols: [[ //表头
                {type:'checkbox'}
                ,{field: 'name',minWidth: 160, align:'center',title: '角色名称'}
                ,{field: 'intro',minWidth: 400,align:'center', title: '角色简介'}
                ,{field: 'ctime',minWidth: 180, align:'center',title: '创建时间'}
                ,{field: 'status',minWidth: 100,align:'center', title: '状态', templet: '#statusTpl'}
                ,{title: '操作', minWidth: 260,Width: 260,align:'center',templet: '#buttonTpl'}
            ]]
        });
    });
</script>