<link rel="stylesheet" href="__ADMIN_CSS__/business-print.css?v={:config('hisiphp.version')}" media="print">
<link rel="stylesheet" href="__PUBLIC_JS__/layui/css/layui.css?v={:config('hisiphp.version')}" media="print">
<link rel="stylesheet" href="__ADMIN_CSS__/style.css?v={:config('hisiphp.version')}" media="print">
<link rel="stylesheet" href="__PUBLIC_JS__/layui/css/modules/layui-icon-extend/iconfont.css?v={:config('hisiphp.version')}" media="print">
<link rel="stylesheet" href="__ADMIN_CSS__/lucas-style.css?v={:config('hisiphp.version')}" media="print">
<!-- 使用权变更审核 -->
<div class="j-details-box j-no-border floorWrap j-click-print">
    <form class="layui-form" action="" method="post">
		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>基本信息</legend>
		</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md8">
				<label class="j-form-label">房屋编号</label>
				<div class="j-input-inline">
					<input type="text" id="ban_number" name="" value="{$data_info['house_info']['house_number']}" placeholder="点击查询" readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">异动编号</label>
				<div class="j-input-inline">
					<input type="text" value="{$data_info['change_order_number']}" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">楼栋编号</label>
				<div class="j-input-inline">
					<input type="text" id="reduction_id" value="{$data_info['ban_info']['ban_number']}" placeholder=""   readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md8">
				<label class="j-form-label">楼栋地址</label>
				<div class="j-input-inline">
					<input type="text" id="reduction_address" value="{$data_info['ban_info']['ban_address']}" placeholder=""   readonly autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">楼层</label>
				<div class="j-input-inline">
					<input type="text" id="house_floor_id" value="{$data_info['house_info']['house_floor_id']}" placeholder=""   readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">使用面积</label>
				<div class="j-input-inline">
					<input type="text" id="house_use_area" readonly value="{$data_info['house_info']['house_use_area']}" placeholder=""  autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">计租面积</label>
				<div class="j-input-inline">
					<input type="text" id="house_lease_area" readonly value="{$data_info['house_info']['house_lease_area']}" placeholder=""  autocomplete="off" class="layui-input">
				</div>
			</div>

		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">备案时间</label>
				<div class="j-input-inline">
					<input type="text" id="ctime" value="{$data_info['ctime']}" placeholder=""   readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">楼栋产别</label>
				<div class="j-input-inline">
					<input type="text" id="reduction_class" value="{$params['owners'][$data_info['ban_info']['ban_owner_id']]}" placeholder=""   readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">使用性质</label>
				<div class="j-input-inline">
					<input type="text" id="reduction_nature" value="{$params['uses'][$data_info['house_info']['house_use_id']]}" placeholder=""   readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">计租表</label>
				<div class="j-input-inline">
					<a href="{:url('house/house/renttable')}?group=y&id={$data_info['house_id']}" id="checktable" class="j-iframe-pop" hisi-data="{width: '1300px', height: '700px',refresh: 2}" title="计租表"><b id="check" class="j-explain-searchs">查看</b></a>
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md6">
				<div class="j-column-box">
					<div class="j-column-title clearfix">
						当前信息
					</div>
					<div class="j-column-con clearfix">
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label">租户ID</label>
								<div class="j-input-inline">
									<input type="text" id="tenant_id"  value="{$data_info['old_tenant_number']}" readonly placeholder=""  autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label">租户姓名</label>
								<div class="j-input-inline">
									<input type="text" id="tenant_name"  value="{$data_info['old_tenant_name']}" readonly  placeholder="" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label">身份证号</label>
								<div class="j-input-inline">
									<input type="text" id="tenant_idnumbers"  value="{$data_info['old_tenant_card']}" readonly   placeholder="" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-col-md6">
				<div class="j-column-box">
					<div class="j-column-title clearfix">
						新租户信息
					</div>
					<div class="j-column-con clearfix">
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label">租户ID</label>
								<div class="j-input-inline">
									<input type="text" id="tenant_number_new" value="{$data_info['new_tenant_number']}" placeholder="点击查询" readonly autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label">租户姓名</label>
								<div class="j-input-inline">
									<input type="text" id="tenant_name_new"  value="{$data_info['new_tenant_name']}" readonly  placeholder="" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label">身份证号</label>
								<div class="j-input-inline">
									<input type="text" id="tenant_card_new"  value="{$data_info['new_tenant_card']}" readonly placeholder="" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<!-- <div class="layui-row layui-form-item layui-col-space90 j-tips-newboxs j-visibility">
							<div class="layui-col-md12">
								<div class="j-input-inline j-tips-show">
									<a href="javascript:;">
										<i class="layui-icon layui-icon-tips"></i>去补充完整的身份信息！
									</a>
								</div>
							</div>
						</div> -->
					</div>
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">变更类型</label>
				<div class="j-input-inline">
					
					<input type="text" id="tenant_money" value="{$params.usetypes[$data_info['change_use_type']]}" readonly placeholder="" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">手续费</label>
				<div class="j-input-inline">
					<input type="number" name="service_rent" value="{$data_info['service_rent']}" readonly placeholder="" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">转让金额</label>
				<div class="j-input-inline">
					<input type="text" id="tenant_money" value="{$data_info['transfer_rent']}" readonly placeholder="" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md8">
				<label class="j-form-label">异动原因</label>
				<div class="j-input-inline">
					<div class="j-detail-text">{$data_info['change_remark']}</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">是否生成租约</label>
				<div class="j-input-inline j-input-radio">
					<input type="radio" name="is_create_lease" value="1" disabled="disabled" {if condition="$data_info['is_create_lease']"}checked{/if} title="是">
					<input type="radio" name="is_create_lease" value="0" title="否" disabled="disabled" {if condition="!$data_info['is_create_lease']"}checked{/if}>
				</div>
			</div>
		</div>
		<!-- <fieldset  class="layui-elem-field layui-field-title j-field-box">
			<legend>产权户籍情况</legend>
		</fieldset>
		<div class="layui-row layui-form-item long layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">是否代、托、改造产</label>
				<div class="j-input-inline">
					<input type="text" id="whether_reform" value="否" placeholder=""   readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">是否五年内新翻覆修房屋</label>
				<div class="j-input-inline">
					<input type="text" id="whether_Renovation" value="否" placeholder=""   readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">是否属门面营业用房</label>
				<div class="j-input-inline">
					<input type="text" id="whether_business" value="否" placeholder=""   readonly autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item long layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">是否属于征收范围内房屋</label>
				<div class="j-input-inline">
					<input type="text" id="whether_collection" value="否" placeholder=""   readonly autocomplete="off" class="layui-input">
				</div>
			</div>
		</div> -->
		<div class="j-print-hide">
			<fieldset class="layui-elem-field layui-field-title j-field-box">
				<legend>填报信息</legend>
			</fieldset>
			<div class="layui-row layui-form-item layui-col-space90">
				<div class="layui-col-md12">
					<div class="j-enclosure-label clearfix">书面申请报告</div>
					<div class="j-enclosure-img j-viewer-img clearfix">
						<ul>
							{volist name="$data_info['change_imgs']" id="v"}
							{if condition="$v['file_type'] == 'UseChangeApplication'"}
							<li>
								<img src="{$v['file']}">
							</li>
							{/if}
							{/volist}
						</ul>
					</div>
				</div>
			</div>
			<div class="layui-row layui-form-item layui-col-space90">
				<div class="layui-col-md12">
					<div class="j-enclosure-label clearfix">审批表</div>
					<div class="j-enclosure-img j-viewer-img clearfix">
						<ul>
							{volist name="$data_info['change_imgs']" id="v"}
							{if condition="$v['file_type'] == 'UseChangeApproval'"}
							<li>
								<img src="{$v['file']}">
							</li>
							{/if}
							{/volist}
						</ul>
					</div>
				</div>
			</div>
			<div class="layui-row layui-form-item layui-col-space90">
				<div class="layui-col-md12">
					<div class="j-enclosure-label clearfix">其他</div>
					<div class="j-enclosure-img j-viewer-img clearfix">
						<ul>
							{volist name="$data_info['change_imgs']" id="v"}
							{if condition="$v['file_type'] == 'UseChangeOther'"}
							<li>
								<img src="{$v['file']}">
							</li>
							{/if}
							{/volist}
						</ul>
					</div>
				</div>
			</div>
			<fieldset class="layui-elem-field layui-field-title j-field-box">
				<legend>租约附件</legend>
			</fieldset>
			<div class="layui-row layui-form-item layui-col-space90">
				<div class="layui-col-md12">
					<div class="j-enclosure-label clearfix">计租表</div>
					<div class="j-enclosure-img j-viewer-img clearfix">
						<ul>
							{volist name="$data_info['change_imgs']" id="v"}
							{if condition="$v['file_type'] == 'Houselease'"}
							<li>
								<img src="{$v['file']}">
							</li>
							{/if}
							{/volist}
						</ul>
					</div>
				</div>
			</div>
			<div class="layui-row layui-form-item layui-col-space90">
				<div class="layui-col-md12">
					<div class="j-enclosure-label clearfix">租约</div>
					<div class="j-enclosure-img j-viewer-img clearfix">
						<ul>
							{volist name="$data_info['change_imgs']" id="v"}
							{if condition="$v['file_type'] == 'HouseForm'"}
							<li>
								<img src="{$v['file']}">
							</li>
							{/if}
							{/volist}
						</ul>
					</div>
				</div>
			</div>
			<div class="layui-row layui-form-item layui-col-space90">
				<div class="layui-col-md12">
					<div class="j-enclosure-label clearfix">身份证</div>
					<div class="j-enclosure-img j-viewer-img clearfix">
						<ul>
							{volist name="$data_info['change_imgs']" id="v"}
							{if condition="$v['file_type'] == 'TenantReIDCard'"}
							<li>
								<img src="{$v['file']}">
							</li>
							{/if}
							{/volist}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>审批状态</legend>
		</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
		   <div class="j-status-bar">
				<ul>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 2) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>房管员</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 3) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>经租会计</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 4) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>经管所长</p>
					</li>
					<li class="layui-col-xs2 {if condition="($data_info['change_status'] > 5) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>经管科</p>
					</li>
					<!-- <li class="layui-col-xs2 {if condition="($data_info['change_status'] > 6) || ($data_info['change_status'] == 1)"}on{/if}">
						<i class="layui-icon iconfont j-icon-guifanjieguoyeduigou"></i>
						<p>经管科</p>
					</li> -->
				</ul>
			</div>
			<div class="j-status-result">
				<ul>
					{volist name="$data_info['child_json']" id="v"}
					<li>{$systemusers[$v['uid']]['role']['name']}［{$systemusers[$v['uid']]['nick']}］于 {$v['time']} {$v['action']}；</li>
					{/volist}
					<!-- <li>经租会计［冯超］于2019-08-30 09:35:01 初审；</li> -->
				</ul>
			</div>
		</div>
		<input type="hidden" name="id" value="{$data_info['id']}">
</form>
</div>
<form>
    <div class="j-buttom j-buttom-print">
        <button type="button" onclick="click_print()" class="layui-btn">打印</button>
    </div>
</form>
{include file="system@block/layui" /}
<!-- 图片查看 -->
<link rel="stylesheet" href="__PUBLIC_JS__/viewer/viewer.min.css?v={:config('hisiphp.version')}">
<script type="text/javascript" src="__PUBLIC_JS__/viewer/viewer-jquery.min.js?v={:config('hisiphp.version')}"></script>
<!-- 打印 S -->
<script type="text/javascript" src="__PUBLIC_JS__/print/jquery-pool.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript" src="__PUBLIC_JS__/print/jquery.jqprint-0.3.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript">
	//图片查看
	$('.j-viewer-img').viewer({
	   	url: 'data-original',
	 });
	 //打印
	 function  click_print(){
	     $(".j-click-print").jqprint();
	 }
</script>
