<!-- 使用权变更修改 -->
<form class="layui-form" action="" method="post">
	<div class="j-details-box floorWrap">
		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>基本信息</legend>
		</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md8">
				<label class="j-form-label"><i class="red">*</i> 房屋编号</label>
				<div class="j-input-inline j-tips">
					<input type="text" id="house_number" name="house_number" value="{$data_info['house_info']['house_number']}" placeholder="" readonly autocomplete="off" class="layui-input j-search-input">
					<input type="hidden" id="ban_id" name="ban_id" value="{$data_info['ban_id']}">
					<input type="hidden" id="house_id" name="house_id" value="{$data_info['house_id']}">
					<input type="hidden" name="id" value="{$data_info['id']}">
				</div>
				<div class="layui-form-mid layui-word-aux j-size-class"><i class="layui-icon layui-icon-tips"></i>使用权变更完全后，原租约自动失效！</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">异动编号</label>
				<div class="j-input-inline">
					<input type="text" name="change_order_number" value="{$data_info['change_order_number']}" autocomplete="off" class="layui-input" readonly>
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">楼栋编号</label>
				<div class="j-input-inline">
					<input type="text" id="reduction_id" value="{$data_info['ban_info']['ban_number']}" placeholder=""   readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md8">
				<label class="j-form-label">楼栋地址</label>
				<div class="j-input-inline">
					<input type="text" id="reduction_address" value="{$data_info['ban_info']['ban_address']}" placeholder=""   readonly autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">楼层</label>
				<div class="j-input-inline">
					<input type="text" id="house_floor_id" value="{$data_info['house_info']['house_floor_id']}" placeholder=""   readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">使用面积</label>
				<div class="j-input-inline">
					<input type="text" id="house_use_area" readonly value="{$data_info['house_info']['house_pre_rent']}" placeholder=""  autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">计租面积</label>
				<div class="j-input-inline">
					<input type="text" id="house_lease_area" readonly value="{$data_info['house_info']['house_lease_area']}" placeholder=""  autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">备案时间</label>
				<div class="j-input-inline">
					<input type="text" id="ctime" value="{$data_info['ctime']}" placeholder=""   readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">楼栋产别</label>
				<div class="j-input-inline">
					<input type="text" id="reduction_class" value="{$params['owners'][$data_info['ban_info']['ban_owner_id']]}" placeholder=""   readonly autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">使用性质</label>
				<div class="j-input-inline">
					<input type="text" id="reduction_nature" value="{$params['uses'][$data_info['house_info']['house_use_id']]}" placeholder=""   readonly autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md6">
				<div class="j-column-box">
					<div class="j-column-title clearfix">
						当前信息
					</div>
					<div class="j-column-con clearfix">
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label"><i class="red">*</i> 租户ID</label>
								<div class="j-input-inline">
									<input type="text" id="old_tenant_number" value="{$data_info['old_tenant_number']}" readonly placeholder="" autocomplete="off" class="layui-input">
									<input type="hidden" id="old_tenant_id" name="old_tenant_id" value="{$data_info['old_tenant_id']}">
								</div>
							</div>
						</div>
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label"><i class="red">*</i> 租户姓名</label>
								<div class="j-input-inline">
									<input type="text" id="old_tenant_name" name="old_tenant_name" value="{$data_info['old_tenant_name']}" readonly placeholder="" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label"><i class="red">*</i> 身份证号</label>
								<div class="j-input-inline">
									<input type="text" id="old_tenant_card" name="old_tenant_card" readonly value="{$data_info['old_tenant_card']}" lay-verify="require|verifyidnumber"  placeholder="" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-row layui-form-item layui-col-space90 j-tips-boxs j-visibility">
							<div class="layui-col-md12">
								<div class="j-input-inline j-tips-show">
									<a href="javascript:;">
										<i class="layui-icon layui-icon-tips"></i>去补充完整的身份信息！
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="layui-col-md6">
				<div class="j-column-box">
					<div class="j-column-title clearfix">
						新租户信息
					</div>
					<div class="j-column-con clearfix">
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label"><i class="red">*</i> 租户ID</label>
								<div class="j-input-inline">
									<input type="text" id="new_tenant_number" name="new_tenant_number" lay-verify="required" value="{$data_info['new_tenant_number']}" placeholder="点击查询" readonly autocomplete="off" class="layui-input j-search-input">
									<input type="hidden" id="new_tenant_id" name="new_tenant_id" value="{$data_info['new_tenant_id']}">
									<b class="j-explain-search j-tenant_number">查询</b>
								</div>
							</div>
						</div>
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label"><i class="red">*</i> 租户姓名</label>
								<div class="j-input-inline">
									<input type="text" id="new_tenant_name" name="new_tenant_name" readonly value="{$data_info['new_tenant_name']}"  placeholder="" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<label class="j-form-label"><i class="red">*</i> 身份证号</label>
								<div class="j-input-inline">
									<input type="text" id="new_tenant_card" name="new_tenant_card" readonly value="{$data_info['new_tenant_card']}"  lay-verify="require|verifynewid" placeholder="" autocomplete="off" class="layui-input">
								</div>
							</div>
						</div>
						<div class="layui-row layui-form-item layui-col-space90">
							<div class="layui-col-md12">
								<div class="j-input-inline j-tips-show">
								  <span class="">
									<i class="layui-icon layui-icon-tips"></i>
									<a id="add_tenant_info" title="新增租户信息" target="_blank">
									  <label>点击新增租户信息</label>
									</a>
								  </span>
								  <span class="j-tips-newboxs j-visibilitys">
									<i class="layui-icon layui-icon-tips"></i>请补充完整身份证号
									<a id="new_tenant_info" title="修改租户信息" target="_blank">
									  <label>点击跳转</label>
									</a>
								  </span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i> 变更类型</label>
				<div class="j-input-inline">
					<select name="change_use_type" lay-verify="required" class="field-cid" type="select">
					    {volist name="params['usetypes']" id="v"}
					    <option value="{$key}" {if condition="$data_info['change_use_type'] == $key"}selected{/if}>{$v}</option>
					    {/volist}
					</select>
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">手续费</label>
				<div class="j-input-inline">
					<input type="number" name="service_rent" value="{$data_info['service_rent']}" placeholder="" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">转让金额</label>
				<div class="j-input-inline">
					<input type="number" id="tenant_money" name="transfer_rent" value="{$data_info['transfer_rent']}" placeholder="" autocomplete="off" class="layui-input">
				</div>
			</div>
			
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md8">
				<label class="j-form-label">异动原因</label>
				<div class="j-input-inline">
					<input type="text" id="tenant_reason" name="change_remark" value="{$data_info['change_remark']}" placeholder="" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4 hide">
				<label class="j-form-label">是否生成租约</label>
				<div class="j-input-inline j-input-radio">
					<input type="radio" name="is_create_lease" value="1" {if condition="$data_info['is_create_lease']"}checked{/if} title="是">
					<input type="radio" name="is_create_lease" value="0" title="否" {if condition="!$data_info['is_create_lease']"}checked{/if}>
				</div>
			</div>
		</div>
		<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
			<legend>填报信息</legend>
		</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md12">
				<div class="j-enclosure-upload clearfix">
					<div class="j-enclosure-label">{if condition="in_array('UseChangeApplication',$config['changeuse_file_upload'])"}<i class="red">*</i>{/if} 书面申请报告</div>
					<div class="j-enclosure-label j-uplode-icon">
						<i><img src="/static/system/image/Group8.png"></i>点击上传
						<button type="button" class="layui-btn layui-btn-primary" id="upload_img3">上传图片</button>
					</div>
					<div class="layui-form-mid layui-word-aux">限制5M</div>
				</div>
				<div class="j-enclosure-imgs clearfix">
	   				<div id="upload_img_list3" class="upload_img_list j-viewer-img">
	   					{volist name="$data_info['change_imgs']" id="v"}
						{if condition="$v['file_type'] == 'UseChangeApplication'"}
						<dd class="item_img" id="">
							<div class="operate">
								<i  class="layui-icon-close-fill layui-icon"></i>
							</div>
							<img src="{$v['file']}" class="img" ><input type="hidden" name="UseChangeApplication[]" value="{$v['id']}" />
						</dd>
						{/if}
						{/volist}
	   				</div>
	   			</div>
			</div>
			<div class="layui-upload">
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md12">
				<div class="j-enclosure-upload clearfix">
					<div class="j-enclosure-label">{if condition="in_array('UseChangeApproval',$config['changeuse_file_upload'])"}<i class="red">*</i>{/if} 审批表</div>
					<div class="j-enclosure-label j-uplode-icon">
						<i><img src="/static/system/image/Group8.png"></i>点击上传
						<button type="button" class="layui-btn layui-btn-primary" id="upload_img1">上传图片</button>
					</div>
					<div class="layui-form-mid layui-word-aux">限制5M</div>
				</div>
				<div class="j-enclosure-imgs clearfix">
	   				<div id="upload_img_list1" class="upload_img_list j-viewer-img">
	   					{volist name="$data_info['change_imgs']" id="v"}
						{if condition="$v['file_type'] == 'UseChangeApproval'"}
						<dd class="item_img" id="">
							<div class="operate">
								<i  class="layui-icon-close-fill layui-icon"></i>
							</div>
							<img src="{$v['file']}" class="img" ><input type="hidden" name="UseChangeApproval[]" value="{$v['id']}" />
						</dd>
						{/if}
						{/volist}
	   				</div>
	   			</div>
			</div>
			<div class="layui-upload">
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md12">
				<div class="j-enclosure-upload clearfix">
					<div class="j-enclosure-label">{if condition="in_array('UseChangeOther',$config['changeuse_file_upload'])"}<i class="red">*</i>{/if} 其他</div>
					<div class="j-enclosure-label j-uplode-icon">
						<i><img src="/static/system/image/Group8.png"></i>点击上传
						<button type="button" class="layui-btn layui-btn-primary" id="upload_img2">上传图片</button>
					</div>
					<div class="layui-form-mid layui-word-aux">限制5M</div>
				</div>
				<div class="j-enclosure-imgs clearfix">
	   				<div id="upload_img_list2" class="upload_img_list j-viewer-img">
	   					{volist name="$data_info['change_imgs']" id="v"}
						{if condition="$v['file_type'] == 'UseChangeOther'"}
						<dd class="item_img" id="">
							<div class="operate">
								<i  class="layui-icon-close-fill layui-icon"></i>
							</div>
							<img src="{$v['file']}" class="img" ><input type="hidden" name="UseChangeOther[]" value="{$v['id']}" />
						</dd>
						{/if}
						{/volist}
	   				</div>
	   			</div>
			</div>
			<div class="layui-upload">
			</div>
		</div>
		{include file="common/submit"}
  </div>
</form>
{include file="system@block/layui" /}
<!-- 图片查看 -->
<link rel="stylesheet" href="__PUBLIC_JS__/viewer/viewer.min.css?v={:config('hisiphp.version')}">
<script type="text/javascript" src="__PUBLIC_JS__/viewer/viewer-jquery.min.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript">
	/*上传参数设定*/
	var upurl = "{:url('system/Api/upload')}?input=UseChangeApproval&group=change&water=no"; //审批表
	var upurl1 = "{:url('system/Api/upload')}?input=UseChangeOther&group=change&water=no"; //其他
	var upurl2 = "{:url('system/Api/upload')}?input=UseChangeApplication&group=change&water=no"; //书面申请报告
	var duotu = true; //是否为多图上传true false
	layui.use(['jquery','table','layer', 'upload','form'], function() {
			var table = layui.table
			    ,form = layui.form
				,$ = layui.jquery
				,upload = layui.upload
				,layer = layui.layer;
		  //获取租户查询器
		   $(".layui-form").on('click','.j-tenant_number',function(){
		  layer.open({
					title: '租户查询器'
					,type: 2
					,offset: 'auto'
					,area: ['70%', '60%']
					,btn:false
					,pageTabs: false
					,content: '{:url('system/index/tenant')}?hisi_iframe=yes'
					,btn: ['确定','关闭']
					,yes: function(index, layero){
						var row = window["layui-layer-iframe" + index].tenantdata();
						console.log(row);
						layer.close(index);
						$("#new_tenant_id").val(row.tenant_id);//获取租户id
						$("#new_tenant_number").val(row.tenant_number);//获取租户编号
						$("#new_tenant_name").val(row.tenant_name);
						$("#new_tenant_card").val(row.tenant_card);
						if(!row.tenant_card||row.tenant_card==0){
							$(".j-tips-newboxs").removeClass("j-visibilitys");
						}
						//$('#new_tenant_info').attr('href','{:url('house/tenant/edit')}?group=y&id='+row.tenant_id);
					},btn2: function(index, layero){
						layer.close(index);
					}
		   });
		  })
		   $("#new_tenant_info").on('click',function(){
				var new_tenant_id = $("#new_tenant_id").val();
				layer.open({
					title: '修改租户'
					,type: 2
					,offset: 'auto'
					,area: ['70%', '60%']
					, btn:false
					,pageTabs: false
					,content: '{:url('house/tenant/edit')}?group=y&hisi_iframe=yes&flag=change&id='+new_tenant_id
					,btn: false
					,yes: function(index, layero){

					}
					,cancel: function(){ 
					    console.log(old_tenant_id);
					    $.ajax({
					        type: 'get',
					        url: '{:url('house/api/tenant_info')}?id='+new_tenant_id,
					        success: function(res) {
					            //console.log(res);
					            if(res.data.tenant_card){
					            	$("#new_tenant_card").val(res.data.tenant_card);
					            	$(".j-tips-newboxs").addClass("j-visibilitys");
					            }
					        }
					    });
					}
			  	});
			})
			//新增租户
			$("#add_tenant_info").on('click',function(){
				layer.open({
					title: '新增租户'
					,type: 2
					,offset: 'auto'
					,area: ['70%', '60%']
					,btn:false
					,pageTabs: false
					,content: '{:url('house/tenant/add')}?group=y&hisi_iframe=yes&flag=change'
					,btn: false
					,yes: function(index, layero){
			
					}
					,cancel: function(){ 
					    console.log(old_tenant_id);
					    $.ajax({
					        type: 'GET',
					        url: '{:url('house/api/tenant_info')}',
					        success: function(res) {
					            console.log(res);
					        }
					    });
					}
			  	});
			})
		  //书面申请报告
		  upload.render({
		  	elem: '#upload_img3',
		  	url: upurl2,
		  	size: 1024*5,
		  	multiple: duotu,
		  	field: 'UseChangeApplication',
		  	before: function(obj) {
		  		layer.msg('图片上传中...', {
		  			icon: 16,
		  			shade: 0.01,
		  			time: 0
		  		})
		  	},
		  	done: function(res) {
		  		layer.close(layer.msg()); //关闭上传提示窗口
		  		if (duotu == true) {
		  			//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
		  			$('#upload_img_list3').append('<dd class="item_img" id="' + res.data.name +
		  				'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
		  				'" class="img" ><input type="hidden" name="UseChangeApplication[]" value="' + res.data.id + '" /></dd>');
		  		} else {
		  			//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
		  			$('#upload_img_list3').html('<dd class="item_img" id="' + res.data.name +
		  				'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
		  				'" class="img" ><input type="hidden" name="UseChangeApplication[]" value="' + res.data.id + '" /></dd>');
		  		}
		  	}
		  })
		  //审批表
		  upload.render({
		  	elem: '#upload_img1',
		  	url: upurl,
		  	size: 1024*5,
		  	multiple: duotu,
		  	field: 'UseChangeApproval',
		  	before: function(obj) {
		  		layer.msg('图片上传中...', {
		  			icon: 16,
		  			shade: 0.01,
		  			time: 0
		  		})
		  	},
		  	done: function(res) {
		  		layer.close(layer.msg()); //关闭上传提示窗口
		  		if (duotu == true) {
		  			//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
		  			$('#upload_img_list1').append('<dd class="item_img" id="' + res.data.name +
		  				'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
		  				'" class="img" ><input type="hidden" name="UseChangeApproval[]" value="' + res.data.id + '" /></dd>');
		  		} else {
		  			//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
		  			$('#upload_img_list1').html('<dd class="item_img" id="' + res.data.name +
		  				'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
		  				'" class="img" ><input type="hidden" name="UseChangeApproval[]" value="' + res.data.id + '" /></dd>');
		  		}
		  	}
		  })
		  //其他
		  upload.render({
		  	elem: '#upload_img2',
		  	url: upurl1,
		  	size: 1024*5,
		  	multiple: duotu,
		  	field: 'UseChangeOther',
		  	before: function(obj) {
		  		layer.msg('图片上传中...', {
		  			icon: 16,
		  			shade: 0.01,
		  			time: 0
		  		})
		  	},
		  	done: function(res) {
		  		layer.close(layer.msg()); //关闭上传提示窗口
		  		if (duotu == true) {
		  			//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
		  			$('#upload_img_list2').append('<dd class="item_img" id="' + res.data.name +
		  				'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
		  				'" class="img" ><input type="hidden" name="UseChangeOther[]" value="' + res.data.id + '" /></dd>');
		  		} else {
		  			//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
		  			$('#upload_img_list2').html('<dd class="item_img" id="' + res.data.name +
		  				'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
		  				'" class="img" ><input type="hidden" name="UseChangeOther[]" value="' + res.data.id + '" /></dd>');
		  		}				
		  	}
		  })
		  /*
		  删除上传图片
		  */
		  $(document).on("click", ".upload_img_list dd i", function() {
		  	$(this).parents("dd").remove();
		  })
		  //自定义表单验证
		  form.verify({
			  //验证当前信息身份证号
			   verifyidnumber: function (value) {
				    if(value.length <= 0){
				          $(".j-tips-boxs").removeClass("j-visibility");
				     }
					 else{
						 $(".j-tips-boxs").addClass("j-visibility");
						 return false;
					 }
			   },
			   //验证新租户身份证号
			   verifynewid: function (value) {
				   if(value.length <= 0){
				          $(".j-tips-newboxs").removeClass("j-visibility");
				    }else{
					   	 $(".j-tips-newboxs").addClass("j-visibility");
					   	 return false;
				    }
			   }
		  });  
	});
</script>
