<!-- 第一种 -->
<div class="page-toolbar">
    <form class="layui-form layui-form-pane" action=""  method="get" id="hisi-table-search">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md2 layui-col-xs2">
                <input type="text" name="ban_number" placeholder="楼栋编号" class="layui-input">
            </div>
            <div class="layui-col-md2 layui-col-xs2">
              <input type="text" name="ban_address" placeholder="地址" class="layui-input">
            </div>
            <div class="layui-col-md1 layui-col-xs2">
                <select name="ban_inst_id">
                    <option value="">机构</option>
    
                </select>
            </div>
            <div class="layui-col-md1 layui-col-xs1">
                <select name="ban_owner_id">
                    <option value="">产别</option>
                    
                </select>
            </div>
            <div class="layui-col-md1 layui-col-xs2">
                <select name="ban_struct_id">
                    <option value="">结构类别</option>
                    
                </select>
            </div>
            <div class="layui-col-md1 layui-col-xs2">
                <select name="ban_damage_id">
                    <option value="">完损等级</option>
                    
                </select>
            </div>
            <div class="layui-col-md3 layui-col-xs2">   
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo"><i class="layui-icon">&#xe615;</i> 搜索</button>
                <button type="reset" class="layui-btn">重置</button>
            </div>
        </div>
        
    </form>
</div>
{include file="system@block/layui" /}
<!-- 第二种 -->
<div class="page-toolbar">
    <form class="layui-form layui-form-pane" action=""  method="get" id="hisi-table-search">
        <div class="layui-row layui-col-space10">
            <div class="layui-col-md2 layui-col-xs2">
                <input type="text" name="ban_number" placeholder="楼栋编号" class="layui-input">
            </div>
            <div class="layui-col-md2 layui-col-xs2">
              <input type="text" name="ban_address" placeholder="地址" class="layui-input">
            </div>
            <div class="layui-col-md1 layui-col-xs2">
                <select name="ban_inst_id">
                    <option value="">机构</option>
    
                </select>
            </div>
            <div class="layui-col-md1 layui-col-xs1">
                <select name="ban_owner_id">
                    <option value="">产别</option>
                    
                </select>
            </div>
            <div class="layui-col-md1 layui-col-xs2">
                <select name="ban_struct_id">
                    <option value="">结构类别</option>
                    
                </select>
            </div>
            <div class="layui-col-md1 layui-col-xs2">
                <select name="ban_damage_id">
                    <option value="">完损等级</option>
                    
                </select>
            </div>
            <div class="layui-col-md3 layui-col-xs2">   
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo"><i class="layui-icon">&#xe615;</i> 搜索</button>
                <button type="reset" class="layui-btn">重置</button>
            </div>
        </div>
        
    </form>
</div>