<link rel="stylesheet" href="__PUBLIC_JS__/viewer/viewer.min.css?v={:config('hisiphp.version')}">
<link rel="stylesheet" href="__ADMIN_JS__/select/formSelects-v4.css">
{include file="system@block/layui" /}
{if condition="$group == 'y'"}
<!-- 详情 S -->
<div class="j-floor-nav">
	<ul class="navWrap">
		<li class="current"><a href="#item1"><i>1</i><b>楼栋信息</b></a></li>
		<li><a href="#item2"><i>2</i><b>房屋信息</b></a></li>
		<li><a href="#item3"><i>3</i><b>房间信息</b></a></li>
		<!-- <li><a href="#item4"><i>4</i><b>状态选择</b></a></li> -->
		<!-- <li><a href="#item4"><i>4</i><b>附件信息</b></a></li> -->
	</ul>
</div>
<div class="j-details-box j-no-border floorWrap layui-form">
  <div id="item1" class="item">
	<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
	  <legend>楼栋信息</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<div class="j-form-label">楼栋编号</div> 
			<div class="j-input-inline">
				<input type="text" name="number" value="{$data_info['ban_number']}" disabled="disabled" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
		  <div class="j-form-label"><i class="red">*</i>楼栋地址</div> 
		  <div class="j-input-inline">
			<input type="text" name="address"  value="{$data_info['ban_address']}" disabled="disabled" autocomplete="off" class="layui-input">
		  </div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">栋系数</label> 
			<div class="j-input-inline">
				<input type="text" name="coefficient" value="{$data_info['ban_ratio']}" disabled="disabled" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>机构名称</label> 
			<div class="j-input-inline">
				<input type="text" name="mechanism" value="{$params['insts'][$data_info['ban_inst_id']]}" disabled="disabled" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>楼栋产别</label> 
		  <div class="j-input-inline">
			<input type="text" name="category" value="{$params['owners'][$data_info['ban_owner_id']]}" disabled="disabled"  autocomplete="off" class="layui-input">
		  </div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>产权来源</label> 
		  <div class="j-input-inline">
			<input type="text" name="property" value="{$data_info['ban_property_source']}" disabled="disabled"  autocomplete="off" class="layui-input">
		  </div>
		</div>
		<!-- <div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>使用性质</label> 
		  <div class="j-input-inline">
			<input type="text" name="nature" value="系统无当前字段" disabled="disabled" autocomplete="off" class="layui-input">
		  </div>
		</div> -->
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>完损等级</label> 
			<div class="j-input-inline">
				<input type="text" name="grade" value="{$params['damages'][$data_info['ban_damage_id']]}" disabled="disabled" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>结构类别</label> 
		  <div class="j-input-inline">
			<input type="text" name="structure" value="{$params['structs'][$data_info['ban_struct_id']]}" disabled="disabled"  autocomplete="off" class="layui-input">
		  </div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>建成年份</label> 
		  <div class="j-input-inline">
			<input type="text" name="year" value="{$data_info['ban_build_year']}" disabled="disabled" autocomplete="off" class="layui-input">
		  </div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>栋号</label> 
			<div class="j-input-inline">
				<input type="text" name="building _num" value="{$data_info['ban_door']}" disabled="disabled" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>单元数量</label> 
		  <div class="j-input-inline">
			<input type="text" name="cell num" value="{$data_info['ban_units']}" disabled="disabled"  autocomplete="off" class="layui-input">
		  </div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>楼层数量</label> 
		  <div class="j-input-inline">
			<input type="text" name="floors_num" value="{$data_info['ban_floors']}" disabled="disabled" autocomplete="off" class="layui-input">
		  </div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		
		<!-- <div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>总户数</label> 
		  <div class="j-input-inline">
			<input type="text" name="sum_house" disabled="disabled" value="系统无当前字段" autocomplete="off" class="layui-input">
		  </div>
		</div> -->
		<!-- <div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>拆迁状态</label> 
		  <div class="j-input-inline">
			<input type="text" name="demolition_status" disabled="disabled" autocomplete="off" class="layui-input">
		  </div>
		</div> -->
	</div>
	
  </div>
  <div id="item2" class="item">
	<fieldset class="layui-elem-field layui-field-title j-field-box">
	  <legend>房屋信息</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>使用面积</label> 
			<div class="j-input-inline">
				<input type="text" name="area_use" value="{$data_info['ban_use_area']}" disabled="disabled" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>占地面积</label> 
		  <div class="j-input-inline">
			<input type="text" name="area_covered" value="{$data_info['ban_cover_area']}" disabled="disabled"  autocomplete="off" class="layui-input">
		  </div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>证载面积</label> 
		  <div class="j-input-inline">
			<input type="text" name="proof_area" value="{$data_info['ban_actual_area']}" disabled="disabled" autocomplete="off" class="layui-input">
		  </div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>企业建面</label> 
			<div class="j-input-inline">
				<input type="text" name="enterprise_building" value="{$data_info['ban_career_area']}" disabled="disabled" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>机关建面</label> 
		  <div class="j-input-inline">
			<input type="text" name="office_building" value="{$data_info['ban_party_area']}" disabled="disabled"  autocomplete="off" class="layui-input">
		  </div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>民用建面</label> 
		  <div class="j-input-inline">
			<input type="text" name="civil_building" value="{$data_info['ban_civil_area']}" disabled="disabled" autocomplete="off" class="layui-input">
		  </div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>企业规租</label> 
			<div class="j-input-inline">
				<input type="text" name="enterprise_rent" value="{$data_info['ban_career_rent']}" disabled="disabled" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>机关规租</label> 
		  <div class="j-input-inline">
			<input type="text" name="office_rent" value="{$data_info['ban_party_rent']}" disabled="disabled"  autocomplete="off" class="layui-input">
		  </div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>民用规租</label> 
		  <div class="j-input-inline">
			<input type="text" name="civil_rent" value="{$data_info['ban_civil_rent']}" disabled="disabled" autocomplete="off" class="layui-input">
		  </div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>企业原价</label> 
			<div class="j-input-inline">
				<input type="text" name="enterprise_original" value="{$data_info['ban_career_oprice']}" disabled="disabled" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>机关原价</label> 
		  <div class="j-input-inline">
			<input type="text" name="office_original" value="{$data_info['ban_party_oprice']}" disabled="disabled"  autocomplete="off" class="layui-input">
		  </div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>民用原价</label> 
		  <div class="j-input-inline">
			<input type="text" name="civil_original" value="{$data_info['ban_civil_oprice']}" disabled="disabled" autocomplete="off" class="layui-input">
		  </div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>企业栋数</label> 
			<div class="j-input-inline">
				<input type="text" name="enterprise_number" value="{$data_info['ban_career_num']}" disabled="disabled" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>机关栋数</label> 
		  <div class="j-input-inline">
			<input type="text" name="office_number" value="{$data_info['ban_party_num']}" disabled="disabled"  autocomplete="off" class="layui-input">
		  </div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>民用栋数</label> 
		  <div class="j-input-inline">
			<input type="text" name="civil_number" value="{$data_info['ban_civil_num']}" disabled="disabled" autocomplete="off" class="layui-input">
		  </div>
		</div>
	</div>
  </div>
    <div id="item3" class="item">
	<fieldset class="layui-elem-field layui-field-title j-field-box">
	  <legend>房间信息</legend>
	</fieldset>
	{if condition="$room_tables"}
		{if condition="!isset($room_tables[0]['houseinfo'][0]['house_number'])"}<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>关联数据异常，请联系超级管理员处理！</div>{else /}
		<table class="layui-table ">
			<thead class="j-table-center">
				<tr>
					<th>房屋类型</th>
					<th>房间编号</th>
					<th>间号</th>
					<th>绑定楼栋</th>
					<th>绑定房屋编号</th>
					<th>绑定租户</th>
					<th>产别</th>
					<th>单元号</th>
					<th>层次</th>
					<th>实有面积</th>
					<th>基价折减</th>
					<th>计租面积</th>
					<th>层次调解率</th>
					<th>规定租金</th>
					<th>计算租金</th>
					<th>状态</th>
				</tr> 
			</thead>
			<tbody  class="j-table-center">
			{volist name="room_tables" id="vo"}
			<tr>
				<td>{$params['roomtypes'][$vo['baseinfo']['room_type']]}</td>
				<td>{$vo['baseinfo']['room_number']}</td>
				<td>{$vo['baseinfo']['room_door']}</td>
				<td>{$vo['baseinfo']['ban_number']}</td>
				<td>{$vo['houseinfo'][0]['house_number']}</td>
				<td>{$vo['houseinfo'][0]['tenant_name']}</td>
				<td>{$params['owners'][$vo['baseinfo']['ban_owner_id']]}</td>
				<td>{$vo['baseinfo']['room_unit_id']}</td>
				<td>{$vo['baseinfo']['room_floor_id']}</td>
				<td>{$vo['baseinfo']['room_use_area']}</td>
				<td>{$vo['baseinfo']['room_rent_point']}</td>
				<td>{$vo['baseinfo']['room_lease_area']}</td>
				<td>{$vo['baseinfo']['floor_point']}</td>
				<td>{$vo['baseinfo']['room_pre_rent']}</td>
				<td>{$vo['baseinfo']['room_cou_rent']}</td>
				<td>{$params['status'][$vo['baseinfo']['room_status']]}</td>
				{if condition="$group == 'x'"}
				<td>	
					<a href="{:url('room/edit')}?id={$vo['baseinfo']['room_id']}&house_number={$data_info['house_number']}" class="j-iframe-pop" style="color:#1E9FFF;" hisi-data="{width: '1200px', height: '550px'}" title="修改房间"><label class="layui-btn layui-btn-xs layui-btn-normal">修改</label></a>					
					<a href="" data-href="{:url('room/del')}?id={$vo['baseinfo']['room_id']}" isreload="y" class="j-tr-del"><label  class="layui-btn layui-btn-xs layui-btn-danger">删除</label></a>
					<!-- <a href="{:url('renttable')}?id={{ d.room_id }}" class="layui-btn layui-btn-xs layui-btn-normal"></a>
				    <a href="{:url('renttable')}?id={{ d.room_id }}" class="layui-btn layui-btn-xs layui-btn-normal">租户</a> -->
			    </td>
			    {/if}
			</tr>
			{if condition="isset($vo['houseinfo'][1])"}
			{volist name="$vo['houseinfo']" offset="1" id="vv"}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>{$vv['house_number']}</td>
				<td>{$vv['tenant_name']}</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			{/volist}
			{/if}
			{/volist}
		</tbody>
		</table>
		{/if}
		{else /}
		<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无3户及3户以上共用房间的数据！</div>
		{/if}
  </div>
  <div id="item4" class="item">
	<fieldset class="layui-elem-field layui-field-title j-field-box">
	  <legend>状态选择</legend>
	</fieldset>
	<!-- <div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">历史优秀建筑</label> 
			<div class="j-input-inline j-input-radio">
				 <input type="radio" name="excellent" value="是" title="是" disabled="disabled" checked="">
				 <input type="radio" name="excellent" value="否" title="否" disabled="disabled">
			</div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label">文物保护单位</label> 
		  <div class="j-input-inline j-input-radio">
			<input type="radio" name="antiques" value="是" title="是" disabled="disabled" checked="">
			<input type="radio" name="antiques" value="否" title="否" disabled="disabled">
		  </div>
		</div>
		<div class="layui-col-md4 j-lengthen">
		  <label class="j-form-label">改造产</label> 
		  <div class="j-input-inline j-input-radio">
			<input type="radio" name="reform" value="是" title="是" disabled="disabled" checked="">
			<input type="radio" name="reform" value="否" title="否" disabled="disabled">
		  </div>
		</div>
	</div> -->
	<div class="layui-row layui-form-item layui-col-space90">
		<!-- <div class="layui-col-md4">
			<label class="j-form-label">产权分割</label> 
			<div class="j-input-inline j-input-radio">
				 <input type="radio" name="division" value="是" title="是" disabled="disabled" checked="">
				 <input type="radio" name="division" value="否" title="否" disabled="disabled">
			</div>
		</div> -->
		<div class="layui-col-md4">
		  <label class="j-form-label">电梯</label> 
		  <div class="j-input-inline j-input-radio">
			<input type="radio" name="lift" value="是" title="是" disabled="disabled" {if condition="$data_info['ban_is_levator']"}checked{/if}>
			<input type="radio" name="lift" value="否" title="否" disabled="disabled" {if condition="!$data_info['ban_is_levator']"}checked{/if}>
		  </div>
		</div>
		<div class="layui-col-md6 j-lengthen">
		  <label class="j-form-label">一层为架空层或木地板住房</label> 
		  <div class="j-input-inline j-input-radio">
			<input type="radio" name="special" value="是" title="是" disabled="disabled" {if condition="$data_info['ban_is_first']"}checked{/if}>
			<input type="radio" name="special" value="否" title="否" disabled="disabled" {if condition="!$data_info['ban_is_first']"}checked{/if}>
		  </div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md8">
			<label class="j-form-label">经纬度</label> 
			<div class="j-input-inline">
				<input type="text" name="enterprise_number" id="coordinate" disabled="disabled" value="{$data_info['ban_gpsx']},{$data_info['ban_gpsy']}" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
  </div>
  <div id="item4" class="item">
	<fieldset class="layui-elem-field layui-field-title j-field-box">
	  <legend>附件信息</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md6">
			<label class="j-form-label"><i class="red">*</i>产权证号</label> 
			<div class="j-input-inline">
				<input type="text" name="property_number" value="{$data_info['ban_property_id']}" disabled="disabled" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md6">
		  <label class="j-form-label">土地证号</label> 
		  <div class="j-input-inline">
			<input type="text" name="certificate_number" value="{$data_info['ban_land_id']}" disabled="disabled"  autocomplete="off" class="layui-input">
		  </div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md6">
			<div class="j-enclosure-label clearfix">土地证电子版</div>
			<div class="j-enclosure-img j-viewer-img clearfix">
				<ul>
					{volist name="$data_info['ban_imgs']" id="v"}		
					{if condition="$v['file_type'] == 'LandCard'"}
					<li>
						<img src="{$v['file']}" />
					</li>
					{/if}
					{/volist}
					<!-- <li>
						<img src="__ADMIN_IMG__/add_img.png" />
					</li> -->
				</ul>
			</div>
		</div>
		<div class="layui-col-md6">
		    <div class="j-enclosure-label clearfix">不动产电子版</div>
		    <div class="j-enclosure-img j-viewer-img clearfix">
		    	<ul>
		    		{volist name="$data_info['ban_imgs']" id="v"}
					{if condition="$v['file_type'] == 'RealestateCard'"}
					<li>
						<img src="{$v['file']}" />
					</li>
					{/if}
					{/volist}
		    	</ul>
		    </div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md6">
			<div class="j-enclosure-label clearfix">影像资料</div>
			<div class="j-enclosure-img j-viewer-img clearfix">
				<ul>
					{volist name="$data_info['ban_imgs']" id="v"}
					{if condition="$v['file_type'] == 'ImagingData'"}
					<li>
						<img src="{$v['file']}" />
					</li>
					{/if}
					{/volist}
				</ul>
			</div>
		</div>
		<div class="layui-col-md6">
			<div class="j-enclosure-label clearfix">图卡</div>
			<div class="j-enclosure-img j-viewer-img clearfix">
				<ul>
					{volist name="$data_info['ban_imgs']" id="v"}
					{if condition="$v['file_type'] == 'BanCard'"}
					<li>
						<img src="{$v['file']}" />
					</li>
					{/if}
					{/volist}
				</ul>
			</div>
		</div>
	</div>
  </div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="j-margin-btn"><a href="{:url('index')}?group={$group}" class="layui-btn">返回</a></div>
	</div>
</div>
<!-- 详情 E -->
<script type="text/javascript" src="{$http_type}api.map.baidu.com/api?v=1.2"></script>
<!-- 图片查看 -->
<script type="text/javascript" src="__PUBLIC_JS__/viewer/viewer-jquery.min.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript">
		layui.use(['jquery'], function() {
		   var $ = layui.$;
		   /*百度地图 S */
			var map = new BMap.Map("allmap");//2d地图
			//var map = new BMap.Map("allmap", { mapType: BMAP_SATELLITE_MAP });//卫星地图
			var point = new BMap.Point({$data_info['ban_gpsx']},{$data_info['ban_gpsy']});
			/* var point = new BMap.Point($("#coordinate").val()); */
			map.centerAndZoom(point, 18);
			map.addControl(new BMap.NavigationControl());
			var marker = new BMap.Marker(point);
			map.addOverlay(marker);
			marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
			/*百度地图 E */
	})
	//图片查看
	$('.j-viewer-img').viewer({
	   	url: 'data-original',
	});
</script>

{else /}



<div class="j-table-content">
<div class="page-toolbar j-page-toolbar clearfix">
    <form class="layui-form layui-form-pane" action="{url()}?id={$data_info['ban_id']}&group={$group}"  method="get" id="hisi-table-search">
	  <div class="j-search-fl layui-col-md8  fl">
        <div class="layui-input-inline j-margin-10 j-select-width160" style="width:160px;">
            <select name="ban_tai_type" xm-select="ban_tai_type">
                <option value="" disabled="disabled">业务类型</option>
                {volist name="params['ban_tai_type']" id="v"}
                <option value="{$key}">{$v}</option>
                {/volist}
              </select>
        </div>
        <div class="layui-input-inline" style="width:160px;">
            <input type="text" name="ban_tai_remark" placeholder="描述内容" class="layui-input">
        </div>
        <input type="hidden" name="group" value="{$group}" class="layui-input">
        <input type="hidden" name="ban_id" value="{$data_info['ban_id']}" class="layui-input">
	  </div>
	  <div class="j-search-fr layui-col-md4 fr">
	   <div class="layui-input-inline fr">
        <div class="layui-input-inline" style="margin-left:10px;">
			<button type="reset" class="layui-btn j-btn-reset">重置</button>
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
                <i class="layui-icon">&#xe615;</i>
                搜索
            </button>
        </div>
	  </div>
	</div>
    </form>
</div>
<table id="dataTable" lay-filter='dataTable'></table>
<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <!-- <a href="javascript:;" class="layui-btn layui-btn-xs layui-btn-normal">详情</a> -->
    <a href="{:url('ban/taiDetail')}?id={{ d.ban_tai_id }}" id="checktable" class="layui-btn layui-btn-xs layui-btn-normal j-iframe-pop" hisi-data="{width: '1000px', height: '700px',refresh: 2}" title="台账明细">详情</a>
</script>
</div>
<script type="text/javascript">
    layui.use(['table','jquery','formSelects'], function() {
        var table = layui.table
		    ,formSelects = layui.formSelect
		   ,$ = layui.$;
        table.render({
            elem: '#dataTable'
            //,skin: 'line' //行边框风格
            //,even: true //开启隔行背景
            ,height: 500
            ,url: '{:url("house/Ban/detail")}?id={$data_info["ban_id"]}&group={$group}' //数据接口
            ,page: true //开启分页
            ,limit: 10
            ,text: {
                none : "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
            }
            ,cols: [[ //表头
                {field: 'ban_tai_id', width: 80,align:'center',title: '<span class="e-title">序号</span>',templet: function(d) {
                    return d.LAY_TABLE_INDEX+1;
                }}
                ,{field: 'ban_tai_type', width: 110,align:'center', title: '<span class="e-title">业务类型</span>', templet: function(d) {
                    return params.ban_tai_type[d.ban_tai_type];
                }}
                ,{field: 'ctime', width: 180,align:'center', title: '<span class="e-title">操作时间</span>'}
                ,{field: 'nick', width: 120,align:'center', title: '<span class="e-title">操作人</span>'}
                ,{field: 'ban_tai_remark', minWidth: 140,align:'center', title: '<span class="e-title">备注</span>'}
                ,{title: '操作',width: 100,align:'center',templet: '#buttonTpl',fixed: 'right'}
            ]]
            ,done:function(res,curr,count){
               
            }
        },isShowInst);
    });
</script>
{/if}
