<link rel="stylesheet" href="__PUBLIC_JS__/viewer/viewer.min.css?v={:config('hisiphp.version')}">
<!-- 详情 S -->
<div class="j-floor-nav">
	<ul class="navWrap">
		<li class="current"><a href="#item1"><i>1</i><b>楼栋信息</b></a></li>
		<li><a href="#item2"><i>2</i><b>房屋信息</b></a></li>
		<li><a href="#item3"><i>3</i><b>状态选择</b></a></li>
		<!-- <li><a href="#item4"><i>4</i><b>附件信息</b></a></li> -->
	</ul>
</div>
<div class="j-details-box j-no-border floorWrap layui-form">
  <div id="item1" class="item">
	<fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
	  <legend>楼栋信息</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<div class="j-form-label">楼栋编号</div> 
			<div class="j-input-inline">
				<input type="text" name="number" value="{$data_info['ban_number']}" disabled="disabled" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
		  <div class="j-form-label"><i class="red">*</i>楼栋地址</div> 
		  <div class="j-input-inline">
			<input type="text" name="address"  value="{$data_info['ban_address']}" disabled="disabled" autocomplete="off" class="layui-input">
		  </div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label">栋系数</label> 
			<div class="j-input-inline">
				<input type="text" name="coefficient" value="{$data_info['ban_ratio']}" disabled="disabled" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>机构名称</label> 
			<div class="j-input-inline">
				<input type="text" name="mechanism" value="{$params['insts'][$data_info['ban_inst_id']]}" disabled="disabled" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>楼栋产别</label> 
		  <div class="j-input-inline">
			<input type="text" name="category" value="{$params['owners'][$data_info['ban_owner_id']]}" disabled="disabled"  autocomplete="off" class="layui-input">
		  </div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>产权来源</label> 
		  <div class="j-input-inline">
			<input type="text" name="property" value="{$data_info['ban_property_source']}" disabled="disabled"  autocomplete="off" class="layui-input">
		  </div>
		</div>
		<!-- <div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>使用性质</label> 
		  <div class="j-input-inline">
			<input type="text" name="nature" value="系统无当前字段" disabled="disabled" autocomplete="off" class="layui-input">
		  </div>
		</div> -->
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>完损等级</label> 
			<div class="j-input-inline">
				<input type="text" name="grade" value="{$params['damages'][$data_info['ban_damage_id']]}" disabled="disabled" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>结构类别</label> 
		  <div class="j-input-inline">
			<input type="text" name="structure" value="{$params['structs'][$data_info['ban_struct_id']]}" disabled="disabled"  autocomplete="off" class="layui-input">
		  </div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>建成年份</label> 
		  <div class="j-input-inline">
			<input type="text" name="year" value="{$data_info['ban_build_year']}" disabled="disabled" autocomplete="off" class="layui-input">
		  </div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>栋号</label> 
			<div class="j-input-inline">
				<input type="text" name="building _num" value="{$data_info['ban_door']}" disabled="disabled" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>单元数量</label> 
		  <div class="j-input-inline">
			<input type="text" name="cell num" value="{$data_info['ban_units']}" disabled="disabled"  autocomplete="off" class="layui-input">
		  </div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>楼层数量</label> 
		  <div class="j-input-inline">
			<input type="text" name="floors_num" value="{$data_info['ban_floors']}" disabled="disabled" autocomplete="off" class="layui-input">
		  </div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		
		<!-- <div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>总户数</label> 
		  <div class="j-input-inline">
			<input type="text" name="sum_house" disabled="disabled" value="系统无当前字段" autocomplete="off" class="layui-input">
		  </div>
		</div> -->
		<!-- <div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>拆迁状态</label> 
		  <div class="j-input-inline">
			<input type="text" name="demolition_status" disabled="disabled" autocomplete="off" class="layui-input">
		  </div>
		</div> -->
	</div>
	
  </div>
  <div id="item2" class="item">
	<fieldset class="layui-elem-field layui-field-title j-field-box">
	  <legend>房屋信息</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>使用面积</label> 
			<div class="j-input-inline">
				<input type="text" name="area_use" value="{$data_info['ban_use_area']}" disabled="disabled" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>占地面积</label> 
		  <div class="j-input-inline">
			<input type="text" name="area_covered" value="{$data_info['ban_cover_area']}" disabled="disabled"  autocomplete="off" class="layui-input">
		  </div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>证载面积</label> 
		  <div class="j-input-inline">
			<input type="text" name="proof_area" value="{$data_info['ban_actual_area']}" disabled="disabled" autocomplete="off" class="layui-input">
		  </div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>企业建面</label> 
			<div class="j-input-inline">
				<input type="text" name="enterprise_building" value="{$data_info['ban_career_area']}" disabled="disabled" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>机关建面</label> 
		  <div class="j-input-inline">
			<input type="text" name="office_building" value="{$data_info['ban_party_area']}" disabled="disabled"  autocomplete="off" class="layui-input">
		  </div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>民用建面</label> 
		  <div class="j-input-inline">
			<input type="text" name="civil_building" value="{$data_info['ban_civil_area']}" disabled="disabled" autocomplete="off" class="layui-input">
		  </div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>企业规租</label> 
			<div class="j-input-inline">
				<input type="text" name="enterprise_rent" value="{$data_info['ban_career_rent']}" disabled="disabled" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>机关规租</label> 
		  <div class="j-input-inline">
			<input type="text" name="office_rent" value="{$data_info['ban_party_rent']}" disabled="disabled"  autocomplete="off" class="layui-input">
		  </div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>民用规租</label> 
		  <div class="j-input-inline">
			<input type="text" name="civil_rent" value="{$data_info['ban_civil_rent']}" disabled="disabled" autocomplete="off" class="layui-input">
		  </div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>企业原价</label> 
			<div class="j-input-inline">
				<input type="text" name="enterprise_original" value="{$data_info['ban_career_oprice']}" disabled="disabled" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>机关原价</label> 
		  <div class="j-input-inline">
			<input type="text" name="office_original" value="{$data_info['ban_party_oprice']}" disabled="disabled"  autocomplete="off" class="layui-input">
		  </div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>民用原价</label> 
		  <div class="j-input-inline">
			<input type="text" name="civil_original" value="{$data_info['ban_civil_oprice']}" disabled="disabled" autocomplete="off" class="layui-input">
		  </div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>企业栋数</label> 
			<div class="j-input-inline">
				<input type="text" name="enterprise_number" value="{$data_info['ban_career_num']}" disabled="disabled" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>机关栋数</label> 
		  <div class="j-input-inline">
			<input type="text" name="office_number" value="{$data_info['ban_party_num']}" disabled="disabled"  autocomplete="off" class="layui-input">
		  </div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label"><i class="red">*</i>民用栋数</label> 
		  <div class="j-input-inline">
			<input type="text" name="civil_number" value="{$data_info['ban_civil_num']}" disabled="disabled" autocomplete="off" class="layui-input">
		  </div>
		</div>
	</div>
  </div>
  <div id="item3" class="item">
	<fieldset class="layui-elem-field layui-field-title j-field-box">
	  <legend>状态选择</legend>
	</fieldset>
	<!-- <div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">历史优秀建筑</label> 
			<div class="j-input-inline j-input-radio">
				 <input type="radio" name="excellent" value="是" title="是" disabled="disabled" checked="">
				 <input type="radio" name="excellent" value="否" title="否" disabled="disabled">
			</div>
		</div>
		<div class="layui-col-md4">
		  <label class="j-form-label">文物保护单位</label> 
		  <div class="j-input-inline j-input-radio">
			<input type="radio" name="antiques" value="是" title="是" disabled="disabled" checked="">
			<input type="radio" name="antiques" value="否" title="否" disabled="disabled">
		  </div>
		</div>
		<div class="layui-col-md4 j-lengthen">
		  <label class="j-form-label">改造产</label> 
		  <div class="j-input-inline j-input-radio">
			<input type="radio" name="reform" value="是" title="是" disabled="disabled" checked="">
			<input type="radio" name="reform" value="否" title="否" disabled="disabled">
		  </div>
		</div>
	</div> -->
	<div class="layui-row layui-form-item layui-col-space90">
		<!-- <div class="layui-col-md4">
			<label class="j-form-label">产权分割</label> 
			<div class="j-input-inline j-input-radio">
				 <input type="radio" name="division" value="是" title="是" disabled="disabled" checked="">
				 <input type="radio" name="division" value="否" title="否" disabled="disabled">
			</div>
		</div> -->
		<div class="layui-col-md4">
		  <label class="j-form-label">电梯</label> 
		  <div class="j-input-inline j-input-radio">
			<input type="radio" name="lift" value="是" title="是" disabled="disabled" {if condition="$data_info['ban_is_levator']"}checked{/if}>
			<input type="radio" name="lift" value="否" title="否" disabled="disabled" {if condition="!$data_info['ban_is_levator']"}checked{/if}>
		  </div>
		</div>
		<div class="layui-col-md6 j-lengthen">
		  <label class="j-form-label">一层为架空层或木地板住房</label> 
		  <div class="j-input-inline j-input-radio">
			<input type="radio" name="special" value="是" title="是" disabled="disabled" {if condition="$data_info['ban_is_first']"}checked{/if}>
			<input type="radio" name="special" value="否" title="否" disabled="disabled" {if condition="!$data_info['ban_is_first']"}checked{/if}>
		  </div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md8">
			<label class="j-form-label">经纬度</label> 
			<div class="j-input-inline">
				<input type="text" name="enterprise_number" id="coordinate" disabled="disabled" value="{$data_info['ban_gpsx']},{$data_info['ban_gpsy']}" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md8">
			<div class="j-map-height" id="allmap"></div>
		</div>
	</div>
  </div>
  <div id="item4" class="item">
	<fieldset class="layui-elem-field layui-field-title j-field-box">
	  <legend>附件信息</legend>
	</fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md6">
			<label class="j-form-label"><i class="red">*</i>产权证号</label> 
			<div class="j-input-inline">
				<input type="text" name="property_number" value="{$data_info['ban_property_id']}" disabled="disabled" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md6">
		  <label class="j-form-label">土地证号</label> 
		  <div class="j-input-inline">
			<input type="text" name="certificate_number" value="{$data_info['ban_land_id']}" disabled="disabled"  autocomplete="off" class="layui-input">
		  </div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md6">
			<div class="j-enclosure-label clearfix">土地证电子版</div>
			<div class="j-enclosure-img j-viewer-img clearfix">
				<ul>
					{volist name="$data_info['ban_imgs']" id="v"}		
					{if condition="$v['file_type'] == 'LandCard'"}
					<li>
						<img src="{$v['file']}" />
					</li>
					{/if}
					{/volist}
					<!-- <li>
						<img src="__ADMIN_IMG__/add_img.png" />
					</li> -->
				</ul>
			</div>
		</div>
		<div class="layui-col-md6">
		    <div class="j-enclosure-label clearfix">不动产电子版</div>
		    <div class="j-enclosure-img j-viewer-img clearfix">
		    	<ul>
		    		{volist name="$data_info['ban_imgs']" id="v"}
					{if condition="$v['file_type'] == 'RealestateCard'"}
					<li>
						<img src="{$v['file']}" />
					</li>
					{/if}
					{/volist}
		    	</ul>
		    </div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md6">
			<div class="j-enclosure-label clearfix">影像资料</div>
			<div class="j-enclosure-img j-viewer-img clearfix">
				<ul>
					{volist name="$data_info['ban_imgs']" id="v"}
					{if condition="$v['file_type'] == 'ImagingData'"}
					<li>
						<img src="{$v['file']}" />
					</li>
					{/if}
					{/volist}
				</ul>
			</div>
		</div>
	</div>
  </div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="j-margin-btn"><a href="{:url('index')}?group={$group}" class="layui-btn">返回</a></div>
	</div>
</div>
<!-- 详情 E -->
{include file="system@block/layui" /}
<script type="text/javascript" src="{$http_type}api.map.baidu.com/api?v=1.2"></script>
<!-- 图片查看 -->
<script type="text/javascript" src="__PUBLIC_JS__/viewer/viewer-jquery.min.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript">
		layui.use(['jquery'], function() {
		   var $ = layui.$;
		   /*百度地图 S */
			var map = new BMap.Map("allmap");//2d地图
			//var map = new BMap.Map("allmap", { mapType: BMAP_SATELLITE_MAP });//卫星地图
			var point = new BMap.Point({$data_info['ban_gpsx']},{$data_info['ban_gpsy']});
			/* var point = new BMap.Point($("#coordinate").val()); */
			map.centerAndZoom(point, 18);
			map.addControl(new BMap.NavigationControl());
			var marker = new BMap.Marker(point);
			map.addOverlay(marker);
			marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
			/*百度地图 E */
			

	})
	//图片查看
	$('.j-viewer-img').viewer({
	   	url: 'data-original',
	 });
</script>