<link rel="stylesheet" href="__PUBLIC_JS__/viewer/viewer.min.css?v={:config('hisiphp.version')}">
<!-- 楼层导航 S -->
<div class="j-floor-nav">
	<ul class="navWrap">
		<li class="current"><a href="#item1"><i>1</i><b>楼栋信息</b></a></li>
		<li><a href="#item2"><i>2</i><b>房屋信息</b></a></li>
		<li><a href="#item3"><i>3</i><b>状态选择</b></a></li>
		<!-- <li><a href="#item4"><i>4</i><b>附件信息</b></a></li> -->
	</ul>
</div>
<!-- 楼层导航 E -->
<form class="layui-form" action="{url('edit')}" method="post">
  <div class="j-details-box floorWrap layui-form">
   <div id="item1" class="item">
    <fieldset id="item1" class="layui-elem-field layui-field-title j-field-box">
    	<legend>楼栋信息</legend>
    </fieldset>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<div class="j-form-label">楼栋编号</div>
			<div class="j-input-inline">
				<input type="text" id="number" name="number" value="{$data_info['ban_number']}" readonly autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md8">
			<div class="j-form-label"><i class="red">*</i>楼栋地址</div>
			<div class="j-input-inline">
				<input type="text" name="ban_address" lay-verify="required" value="{$data_info['ban_address']}" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>管段</label>
			<div class="j-input-inline">
				<select id="mechanism" name="ban_inst_id" lay-verify="required" lay-search="">
					<option value="">请选择</option>
					{volist name=":config('inst_data_names')[INST]" id="v"}
					<option value="{$key}" {if condition="$key == $data_info['ban_inst_id']"}selected{/if}>{$v}</option>
					{/volist}
				</select>
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>楼栋产别</label>
			<div class="j-input-inline">
				<select name="ban_owner_id" lay-verify="required" class="field-cid" type="select">
				    <option value="">请选择</option>
				    {volist name="params['owners']" id="v"}
				    <option value="{$key}" {if condition="$key == $data_info['ban_owner_id']"}selected{/if}>{$v}</option>
				    {/volist}
				</select>
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>结构类别</label>
			<div class="j-input-inline">
				<select name="ban_struct_id" lay-verify="required" class="field-cid" type="select">
				    <option value="">请选择</option>
				    {volist name="params['structs']" id="v"}
				    <option value="{$key}" {if condition="$key == $data_info['ban_struct_id']"}selected{/if}>{$v}</option>
				    {/volist}
				</select>
			</div>
		</div>
		
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>完损等级</label>
			<div class="j-input-inline">
				<select name="ban_damage_id" lay-verify="required" class="field-cid" type="select">
				    <option value="">请选择</option>
				    {volist name="params['damages']" id="v"}
				    <option value="{$key}" {if condition="$key == $data_info['ban_damage_id']"}selected{/if}>{$v}</option>
				    {/volist}
				</select>
			</div>
		</div>
		<div class="layui-col-md4">
				<label class="j-form-label">栋系数</label>
				<div class="j-input-inline">
					<input type="number" id="ban_ratio" name="ban_ratio" value="{$data_info['ban_ratio']}" autocomplete="off" class="layui-input">
				</div>
			</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>建成年份</label>
			<div class="j-input-inline">
				<input type="text" name="ban_build_year" lay-verify="required" readonly value="{$data_info['ban_build_year']}" id="ban_build_year" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>栋号</label>
			<div class="j-input-inline">
				<input type="number" name="ban_door" lay-verify="required" value="{$data_info['ban_door']}" placeholder="" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>单元数量</label>
			<div class="j-input-inline">
				<input type="number" name="ban_units" lay-verify="required" value="{$data_info['ban_units']}" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>楼层数量</label>
			<div class="j-input-inline">
				<input type="number" name="ban_floors" lay-verify="required" value="{$data_info['ban_floors']}" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div>
	<!-- <div class="layui-row layui-form-item layui-col-space90">
		<div class="layui-col-md4">
			<label class="j-form-label">起始楼层</label>
			<div class="j-input-inline">
				<input type="text" id="starting_floor" name="starting_floor" value="" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>总户数</label>
			<div class="j-input-inline">
				<input type="text" id="sum_house" name="sum_house" value="" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-col-md4">
			<label class="j-form-label"><i class="red">*</i>拆迁状态</label>
			<div class="j-input-inline">
				<input type="text" id="demolition_status" name="demolition_status" value="" autocomplete="off" class="layui-input">
			</div>
		</div>
	</div> -->
	<div class="layui-row layui-form-item layui-col-space90">
			
			<div class="layui-col-md8">
				<label class="j-form-label"><i class="red"></i>产权来源</label>
				<div class="j-input-inline">
					<input type="text" name="ban_property_source" value="{$data_info['ban_property_source']}" autocomplete="off" class="layui-input">
				</div>
			</div>
		
	</div>
   </div>
   <div id="item2" class="item">
		<fieldset class="layui-elem-field layui-field-title j-field-box">
			<legend>房屋信息</legend>
		</fieldset>
		<div class="layui-row layui-form-item layui-col-space90">
			<!-- <div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>使用面积</label>
				<div class="j-input-inline">
					<input type="number" id="area_use" name="ban_use_area" lay-verify="required" value="{$data_info['ban_use_area']}" autocomplete="off" class="layui-input">
				</div>
			</div> -->
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>占地面积</label>
				<div class="j-input-inline">
					<input type="number" id="area_covered" name="ban_cover_area" lay-verify="required" value="{$data_info['ban_cover_area']}" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>证载面积</label>
				<div class="j-input-inline">
					<input type="number" id="proof_area" name="ban_actual_area" lay-verify="required" value="{$data_info['ban_actual_area']}" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<!-- <div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>企业建面</label>
				<div class="j-input-inline">
					<input type="text" id="enterprise_building" value="" name="enterprise_building" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>机关建面</label>
				<div class="j-input-inline">
					<input type="text" id="office_building" value="" name="office_building" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>民用建面</label>
				<div class="j-input-inline">
					<input type="text" id="civil_building" value="" name="civil_building" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>企业规租</label>
				<div class="j-input-inline">
					<input type="text" id="enterprise_rent" name="enterprise_rent" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>机关规租</label>
				<div class="j-input-inline">
					<input type="text" id="office_rent" name="office_rent" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>民用规租</label>
				<div class="j-input-inline">
					<input type="text" id="civil_rent" name="civil_rent" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>企业原价</label>
				<div class="j-input-inline">
					<input type="text" id="enterprise_original" name="enterprise_original" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>机关原价</label>
				<div class="j-input-inline">
					<input type="text" id="office_original" name="office_original" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>民用原价</label>
				<div class="j-input-inline">
					<input type="text" id="civil_original" name="civil_original" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div> -->
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>企业栋数</label>
				<div class="j-input-inline">
					<input type="number" id="enterprise_number" name="ban_career_num" lay-verify="required" value="{$data_info['ban_career_num']}" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>机关栋数</label>
				<div class="j-input-inline">
					<input type="number" id="office_number" name="ban_party_num" lay-verify="required" value="{$data_info['ban_party_num']}" autocomplete="off" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>民用栋数</label>
				<div class="j-input-inline">
					<input type="number" id="civil_number" name="ban_civil_num" lay-verify="required" value="{$data_info['ban_civil_num']}" autocomplete="off" class="layui-input">
				</div>
			</div>
		</div>
   </div>
   <div id="item3" class="item">
		<fieldset class="layui-elem-field layui-field-title j-field-box">
			<legend>状态选择</legend>
		</fieldset>
		<!-- <div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label">历史优秀建筑</label>
				<div class="j-input-inline j-input-radio">
					<input type="radio" name="excellent" value="是" title="是" checked="">
					<input type="radio" name="excellent" value="否" title="否">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label">文物保护单位</label>
				<div class="j-input-inline j-input-radio">
					<input type="radio" name="antiques" value="是" title="是" checked="">
					<input type="radio" name="antiques" value="否" title="否">
				</div>
			</div>
			<div class="layui-col-md4 j-lengthen">
				<label class="j-form-label">改造产</label>
				<div class="j-input-inline j-input-radio">
					<input type="radio" name="reform" value="是" title="是" checked="">
					<input type="radio" name="reform" value="否" title="否">
				</div>
			</div>
		</div> -->
		<div class="layui-row layui-form-item layui-col-space90">
			<!-- <div class="layui-col-md4">
				<label class="j-form-label">产权分割</label>
				<div class="j-input-inline j-input-radio">
					<input type="radio" name="division" value="是" title="是" checked="">
					<input type="radio" name="division" value="否" title="否">
				</div>
			</div> -->
			<div class="layui-col-md4">
				<label class="j-form-label">电梯</label>
				<div class="j-input-inline j-input-radio">
					<input type="radio" name="ban_is_levator" value="1" title="是" {if condition="$data_info['ban_is_levator']"}checked{/if}>
					<input type="radio" name="ban_is_levator" value="0" title="否" {if condition="!$data_info['ban_is_levator']"}checked{/if}>
				</div>
			</div>
			<div class="layui-col-md4 j-lengthen">
				<label class="j-form-label">一层为架空层或木地板住房</label>
				<div class="j-input-inline j-input-radio">
					<input type="radio" name="ban_is_first" value="1" title="是" {if condition="$data_info['ban_is_first']"}checked{/if}>
					<input type="radio" name="ban_is_first" value="0" title="否" {if condition="!$data_info['ban_is_first']"}checked{/if}>
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>经度</label>
				<div class="j-input-inline">
					<input type="number" id="jingdu" name="ban_gpsx" readonly lay-verify="required" autocomplete="off" value="{$data_info['ban_gpsx']}" id="jingdu" class="layui-input">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="j-form-label"><i class="red">*</i>纬度</label>
				<div class="j-input-inline">
					<input type="number" id="weidu" name="ban_gpsy" readonly lay-verify="required" autocomplete="off" value="{$data_info['ban_gpsy']}" id="weidu" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md8">
				<label class="j-form-label">地址查询</label>
				<div class="j-input-inline">
					<input type="text" id="suggestId" name="" size="30" value="" class="layui-input" />
				</div>  
			</div>
		</div>
		<div class="layui-row layui-form-item layui-col-space90">
			<div class="layui-col-md8">
				<div class="j-map-height" style="width:100%;height:300px;" id="allmap"></div>
			</div>
		</div>
   </div>
   <div id="item4" class="item">
   	<fieldset class="layui-elem-field layui-field-title j-field-box">
   		<legend>附件信息</legend>
   	</fieldset>
   	<div class="layui-row layui-form-item layui-col-space90">
   		<div class="layui-col-md6">
   			<label class="j-form-label"><i class="red">*</i>产权证号</label>
   			<div class="j-input-inline">
   				<input type="number" name="ban_property_id" lay-verify="required" value="{$data_info['ban_property_id']}" autocomplete="off" class="layui-input">
   			</div>
   		</div>
   		<div class="layui-col-md6">
   			<label class="j-form-label">土地证号</label>
   			<div class="j-input-inline">
   				<input type="number" name="ban_land_id" value="{$data_info['ban_land_id']}" autocomplete="off" class="layui-input">
   			</div>
   		</div>
   	</div>
   	<div class="layui-row layui-form-item layui-col-space90">
   		<div class="layui-col-md6">
   			<div class="j-enclosure-upload clearfix">
   				<div class="j-enclosure-label">土地证电子版</div>
   				<div class="j-enclosure-label j-uplode-icon">
   					<i><img src="/static/system/image/Group8.png"></i>点击上传
   					<button type="button" class="layui-btn layui-btn-primary" id="upload_img1">上传图片</button>
   				</div>
   				<div class="layui-form-mid layui-word-aux">限制3M</div>
   			</div>
   			<div class="j-enclosure-imgs clearfix">
   				<div id="upload_img_list1" class="upload_img_list j-viewer-img">
   					{volist name="$data_info['ban_imgs']" id="v"}
					{if condition="$v['file_type'] == 'LandCard'"}
					<dd class="item_img" id="">
						<div class="operate">
							<i  class="layui-icon-close-fill layui-icon"></i>
						</div>
						<img src="{$v['file']}" class="img" ><input type="hidden" name="file[]" value="{$v['id']}" />
					</dd>
					{/if}
					{/volist}
   				</div>
   			</div>
   			
   		</div>
   		<div class="layui-col-md6">
   			<div class="j-enclosure-upload clearfix">
   				<div class="j-enclosure-label">不动产电子版</div>
   				<div class="j-enclosure-label j-uplode-icon">
   					<i><img src="/static/system/image/Group8.png"></i>点击上传
   					<button type="button" class="layui-btn layui-btn-primary" id="upload_img2">上传图片</button>
   				</div>
   				<div class="layui-form-mid layui-word-aux">限制3M</div>
   			</div>
   			<div class="j-enclosure-imgs clearfix">
   				<div id="upload_img_list2" class="upload_img_list j-viewer-img"> 
   					{volist name="$data_info['ban_imgs']" id="v"}
					{if condition="$v['file_type'] == 'RealestateCard'"}
					<dd class="item_img" id="">
						<div class="operate">
							<i  class="layui-icon-close-fill layui-icon"></i>
						</div>
						<img src="{$v['file']}" class="img" ><input type="hidden" name="file[]" value="{$v['id']}" />
					</dd>
					{/if}
					{/volist}
				</div>
   			</div>
   		</div>
   	</div>
   	<div class="layui-row layui-form-item layui-col-space90">
   		<div class="layui-col-md6">
   			<div class="j-enclosure-upload clearfix">
   				<div class="j-enclosure-label">影像资料</div>
   				<div class="j-enclosure-label j-uplode-icon">
   					<i><img src="/static/system/image/Group8.png"></i>点击上传
   					<button type="button" class="layui-btn layui-btn-primary" id="upload_img3">上传图片</button>
   				</div>
   				<div class="layui-form-mid layui-word-aux">限制3M</div>
   			</div>
   			<div class="j-enclosure-imgs clearfix">
   				<div id="upload_img_list3" class="upload_img_list j-viewer-img">
   					{volist name="$data_info['ban_imgs']" id="v"}
					{if condition="$v['file_type'] == 'ImagingData'"}
					<dd class="item_img" id="">
						<div class="operate">
							<i  class="layui-icon-close-fill layui-icon"></i>
						</div>
						<img src="{$v['file']}" class="img" ><input type="hidden" name="file[]" value="{$v['id']}" />
					</dd>
					{/if}
					{/volist}
   				</div>
   			</div>
   		</div>
		<div class="layui-col-md6">
			<div class="j-enclosure-upload clearfix">
				<div class="j-enclosure-label">图卡</div>
				<div class="j-enclosure-label j-uplode-icon">
					<i><img src="/static/system/image/Group8.png"></i>点击上传
					<button type="button" class="layui-btn layui-btn-primary" id="upload_img4">上传图片</button>
				</div>
				<div class="layui-form-mid layui-word-aux">限制3M</div>
			</div>
			<div class="j-enclosure-imgs clearfix">
				<div id="upload_img_list4" class="upload_img_list j-viewer-img">
					{volist name="$data_info['ban_imgs']" id="v"}
					{if condition="$v['file_type'] == 'ChartCard'"}
					<dd class="item_img" id="">
						<div class="operate">
							<i  class="layui-icon-close-fill layui-icon"></i>
						</div>
						<img src="{$v['file']}" class="img" ><input type="hidden" name="file[]" value="{$v['id']}" />
					</dd>
					{/if}
					{/volist}
				</div>
			</div>
		</div>
   		<div class="layui-upload"></div>
   	</div>
   </div>
	<input type="hidden" name="ban_id" value="{$data_info['ban_id']}">
	<div class="layui-row layui-form-item layui-col-space90">
		<div class="j-margin-btn">
			<a href="{:url('index')}?group=x" class="layui-btn layui-btn-primary">取消</a>
			<button type="submit" class="layui-btn" lay-submit lay-filter="formSubmit">确定</button>
		</div>
	</div>
  </div>
</form>
{include file="system@block/layui" /}
<script type="text/javascript" src="{$http_type}api.map.baidu.com/api?v=2.0&ak=2xlodrKVRyFNeopCajiMTfgIOr8dnUAe"></script>
<script type="text/javascript" src="__PUBLIC_JS__/baiduMaps.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript" src="__PUBLIC_JS__/viewer/viewer-jquery.min.js?v={:config('hisiphp.version')}"></script>
<script>
	var upurl = "{:url('system/Api/upload')}?input=LandCard&group=ban&water=no"; //土地证电子版上传图片地址
	var upurl1 = "{:url('system/Api/upload')}?input=RealestateCard&group=ban&water=no"; //不动产电子版上传图片地址
	var upurl2 = "{:url('system/Api/upload')}?input=ImagingData&group=ban&water=no"; //影像资料上传图片地址
	var upurl3 = "{:url('system/Api/upload')}?input=ChartCard&group=ban&water=no"; //图卡
	var duotu = true; //是否为多图上传true false
	layui.use(['jquery', 'laydate', 'upload', 'form'], function() {
        var laydate = layui.laydate,
        	$ = layui.$,
        	upload = layui.upload,
        	form = layui.form;
        //年选择器
        laydate.render({
            elem: '#ban_build_year'
            ,type: 'year'
            ,max: nowDate()
        });

        laydate.render({
            elem: '#rentTime'
            ,range: '~'
        });
		//土地证电子版
		upload.render({
			elem: '#upload_img1',
			url: upurl,
			size: 1024*3,
			multiple: duotu,
			field: 'LandCard',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list1').append('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list1').html('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file" value="' + res.data.id + '" /></dd>');
				}
			}
		})
		//不动产电子版
		upload.render({
			elem: '#upload_img2',
			url: upurl1,
			size: 1024*3,
			multiple: duotu,
			field: 'RealestateCard',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list2').append('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list2').html('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file" value="' + res.data.id + '" /></dd>');
				}
			}
		})
		//影像资料
		upload.render({
			elem: '#upload_img3',
			url: upurl2,
			size: 1024*3,
			multiple: duotu,
			field: 'ImagingData',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list3').append('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list3').html('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file" value="' + res.data.id + '" /></dd>');
				}
			}
		})
		//图卡
		upload.render({
			elem: '#upload_img4',
			url: upurl3,
			size: 1024*3,
			multiple: duotu,
			field: 'ChartCard',
			before: function(obj) {
				layer.msg('图片上传中...', {
					icon: 16,
					shade: 0.01,
					time: 0
				})
			},
			done: function(res) {
				layer.close(layer.msg()); //关闭上传提示窗口
				if (duotu == true) {
					//调用多图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list4').append('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file[]" value="' + res.data.id + '" /></dd>');
				} else {
					//调用单图上传方法,其中res.imgid为后台返回的一个随机数字
					$('#upload_img_list4').html('<dd class="item_img" id="' + res.data.name +
						'"><div class="operate"><i  class="layui-icon-close-fill layui-icon"></i></div><img src="' + res.data.file +
						'" class="img" ><input type="hidden" name="file" value="' + res.data.id + '" /></dd>');
				}
			}
		})
		/*
		删除上传图片
		*/
		$(document).on("click", ".upload_img_list dd i", function() {
			$(this).parents("dd").remove();
		})
    });

    function nowDate(){
        var now = new Date();
        return "'"+now.getFullYear()+"'";
    }
</script>