<div class="j-table-content">
<div class="layui-btn-container j-container-margin">
	<div class="layui-btn-container">
    {if condition="$group == 'x'"}
    <a href="{:url('add')}"><button class="layui-btn"><i class="layui-icon layui-icon-add-1"></i>新增楼栋</button></a>
    <button data-href="{:url('del')}" data-id="ban_id" class="layui-btn layui-btn-danger j-page-btns"><i class="layui-icon layui-icon-close"></i>批量删除</button>
    {/if}
	</div>
</div>
<div class="page-toolbar j-page-toolbar clearfix">
      <form class="layui-form layui-form-pane" action="{url('index')}"  method="get" id="hisi-table-search">
		<div class="j-search-fl layui-col-md8  fl">
			  <div class="layui-input-inline j-input-margin" style="width:120px;">
				  <input type="text" name="ban_number" placeholder="楼栋编号" class="layui-input">
			  </div>
			  <div class="layui-input-inline j-input-margin" style="width:120px;">
				  <input type="text" name="ban_address" placeholder="地址" class="layui-input">
			  </div>
			  {if condition="INST_LEVEL != 3"}
			  <div class="layui-input-inline" style="width:120px;">
				  <select name="ban_inst_id">
					  <option value="">机构</option>
					  {volist name=":config('inst_check_names')[INST]" id="v"}
					  <option value="{$key}">{$v}</option>
					  {/volist}
					</select>
			  </div>
			  {/if}
			  <div class="layui-input-inline" style="width:120px;">
				  <select name="ban_owner_id">
					  <option value="">产别</option>
					  {volist name="params['owners']" id="v"}
					  <option value="{$key}">{$v}</option>
					  {/volist}
					</select>
			  </div>
			  <div class="layui-input-inline" style="width:120px;">
				  <select name="ban_struct_id">
					  <option value="">结构类别</option>
					  {volist name="params['structs']" id="v"}
					  <option value="{$key}">{$v}</option>
					  {/volist}
					</select>
			  </div>
			  <div class="layui-input-inline" style="width:120px;">
				  <select name="ban_damage_id">
					  <option value="">完损等级</option>
					  {volist name="params['damages']" id="v"}
					  <option value="{$key}">{$v}</option>
					  {/volist}
					</select>
			  </div>
			  <input type="hidden" name="group" value="{$group}" class="layui-input">
		</div>
		<div class="j-search-fr layui-col-md4 fr">
          <div class="layui-input-inline fr">
			  <button type="reset" class="layui-btn j-btn-reset">重置</button>
              <button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
                  <i class="layui-icon">&#xe615;</i>
                  搜索
              </button>
			  <button type="button" class="layui-btn layui-btn-warm"><i class="layui-icon iconfont j-icon-screen_icon"></i>标题筛选</button>
          </div>
		</div>
      </form>
  </div>
{include file="system@block/layui" /}
<table id="dataTable" lay-filter='dataTable'></table>
<script type="text/html" title="操作按钮模板" id="buttonTpl">
    {if condition="$group == 'x'"}
	<a href="{:url('edit')}?group={$group}&id={{ d.ban_id }}" class="layui-btn layui-btn-xs layui-btn-primary">编辑</a>
    {/if}
    <a href="{:url('detail')}?id={{ d.ban_id }}" class="layui-btn layui-btn-xs layui-btn-normal">详情</a>
    <a href="{:url('struct')}?group={$group}&id={{ d.ban_id }}" class="layui-btn layui-btn-xs layui-btn-normal">结构</a>
    <a target="_blank" href="{:url('house/index')}?group={$group}&ban_number={{ d.ban_number }}" class="layui-btn layui-btn-xs layui-btn-normal">房屋</a>
</script>
</div>
<script type="text/javascript">
    layui.use(['table','jquery'], function() {
        var table = layui.table
		    ,$ = layui.$;
        var isHide = ('{$group}' == 'x')?false:true;
        table.render({
            elem: '#dataTable'
            ,toolbar: true
			,defaultToolbar: ['filter','exports','print']//设置右边筛选，导出，打印显示
            ,url: '{:url("house/Ban/index")}?group={$group}' //数据接口
            ,page: true //开启分页
            ,limit: 10
            ,limits: [10,20,30,40,50,100,300,500,1000,2000,5000]
            ,text: {
                none : "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
            }
            ,cols: [[ //表头
                {type: 'checkbox', hide: isHide ,fixed: 'left'}
                ,{field: 'ban_number', minWidth: 110, align:'center', title: '楼栋编号'}
                ,{field: 'ban_inst_id', minWidth: 120, align:'center', title: '管段', hide: isShowInst, templet: function(d) {
                    return params.insts[d.ban_inst_id];
                }}
                ,{field: 'ban_address',minWidth:200,align:'center', title: '地址'}
                ,{field: 'ban_owner_id', minWidth: 80, align:'center', title: '产别', templet: function(d) {
                    return params.owners[d.ban_owner_id];
                }}
                ,{field: 'ban_struct_id', minWidth: 100, align:'center', title: '结构类别', templet: function(d) {
                    return params.structs[d.ban_struct_id];
                }}
                ,{field: 'ban_civil_area', minWidth: 80, align:'center', title: '合建面',templet: function(d) {
                    return (parseFloat(d.ban_civil_area) + parseFloat(d.ban_party_area) + parseFloat(d.ban_career_area)).toFixed(2);
                }}
                ,{field: 'ban_use_area', minWidth: 100, align:'center', title: '使用面积'}
                
                ,{field: 'ban_civil_rent', minWidth: 80, align:'center', title: '合规租',templet: function(d) {
                    return (parseFloat(d.ban_civil_rent) + parseFloat(d.ban_party_rent) + parseFloat(d.ban_career_rent)).toFixed(2);
                }}
                ,{field: 'ban_civil_oprice', minWidth: 100, align:'center', title: '合原价',templet: function(d) {
                    return (parseFloat(d.ban_civil_oprice) + parseFloat(d.ban_party_oprice) + parseFloat(d.ban_career_oprice)).toFixed(2);
                }}
                ,{field: 'ban_property_id', hide: true, minWidth: 100, align:'center', title: '产权证号'}
                ,{field: 'ban_build_year', hide: true, minWidth: 100, align:'center', title: '建成年份'}
                ,{field: 'ban_damage_id', hide: true, minWidth: 100, align:'center', title: '完损等级', templet: function(d) {
                    return params.damages[d.ban_damage_id];
                }}
                ,{field: 'ban_holds', hide: true, minWidth: 100, align:'center', title: '户数'}
                ,{field: 'ban_property_source', hide: true, minWidth: 100, align:'center', title: '产权来源'}
                ,{field: 'ban_units', hide: true, minWidth: 100, align:'center', title: '单元数'}
                ,{field: 'ban_floors', hide: true, minWidth: 100, align:'center', title: '楼层数'}
                ,{title: '操作', Width: 260,minWidth: 260, align:'center', templet: '#buttonTpl',fixed:'right'}
            ]]
            ,done:function(res,curr,count){
               console.log(res);
            }
        },isShowInst,isHide);
		
		$(".j-search-fr .layui-btn:last").addClass("on");//搜索最后按钮样式
		/* $(".layui-table tr").each(function(){
			var that =$(this);
			$(".layui-table").click(function(){
				console.log($(".layui-table td[data-key='1-0-2']").attr("data-content","123"))	
			})
		}) */
    });
</script>