<div class="j-table-content  j-no-tab">
	<div class="layui-btn-container j-container-margin">
		<div class="layui-btn-container">		
			<a href="{:url('add')}"><button class="layui-btn"><i class="layui-icon layui-icon-add-1"></i>新增分类</button></a>
		</div>
	</div>
	<div class="page-toolbar j-page-toolbar clearfix">
		<form class="layui-form layui-form-pane" action="{url('index')}" method="get" id="hisi-table-search">
			<div class="j-search-fl layui-col-md8  fl">
				<div class="layui-input-inline" style="width:150px;">
					<input type="text" name="title" placeholder="分类名称" class="layui-input">
				</div>	
			</div>
			<div class="j-search-fr layui-col-md4 fr">
				<div class="layui-input-inline fr">
					<div class="layui-input-inline" style="margin-left:10px;">
						<button type="reset" class="layui-btn j-btn-reset">重置</button>
						<button class="layui-btn layui-btn-normal" lay-submit lay-filter="formDemo">
							<i class="layui-icon">&#xe615;</i>
							搜索
						</button>
						<button type="button" class="layui-btn layui-btn-warm"><i class="layui-icon iconfont j-icon-screen_icon"></i>标题筛选</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	{include file="system@block/layui" /}
	<table id="dataTable" lay-filter='dataTable'></table>
	<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="{:url('edit')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-primary">编辑</a>
    <a  data-href="{:url('del')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal j-tr-del">删除</a>
</script>
</div>
<script type="text/javascript">
layui.use(['table', 'jquery'], function() {
		var table = layui.table;
		table.render({
			elem: '#dataTable'
				//,height: 550
				//,height: 'full-20' //浏览器最大高度
				
			
				,
			url: '{:url("order/Classify/index")}' //数据接口
				,
			page: true //开启分页
			,toolbar: true
			,defaultToolbar: ['filter','exports','print'] //设置右边筛选，导出，打印显示
				,
			limit: 10,
			text: {
				none: "<div class='j-no-contents'><i class='layui-icon iconfont j-icon-wushuju'></i>暂无相关数据！</div>"
			},
			cols: [
				[ //表头
					{
						type: 'checkbox',
						fixed: 'left'
					}, {
						field: 'title',
						minWidth: 120,
						align:'center',
						title: '分类名称'
					}, {
						field: 'pid',
						minWidth: 120,
						align:'center',
						title: '父级分类'
					}, {
						field: 'remark',
						title: '分类描述',
						minWidth: 350,
						align:'center',
					}, {
						field: 'filetypes',
						minWidth: 300,
						align:'center',
						title: '需上传的附件类型',
					}, {
						title: '操作',
						minWidth: 260,
						width: 260,
						align:'center',
						templet: '#buttonTpl',
						fixed: 'right'
					}
				]
			],
			done: function(res, curr, count) {

			}
		});
		$(".j-search-fr .layui-btn:last").addClass("on");//搜索最后按钮样式
	});
	</script>