<link rel="stylesheet" href="__PUBLIC_JS__/map/css/industry_map.css?v={:config('hisiphp.version')}">
<style>
	.layui-table-box{ overflow-y: auto;overflow-x: hidden;}
</style>
<div class="wrapper" id="wrapper">
	<div class="j-draw-btn">
		<span class="btn" id="draw">画圈找房</span>
		<span class="btn hide" id="exit">退出画图找房</span>
	</div>
	<!-- 搜索 -->
	<div class="j-search-box">
     <form class="layui-form layui-form-pane" action="" method="get" id="hisi-table-search">
		<ul>
			<li>
				<div class="layui-input-inline">
					<select name="structure">
						<option value="">结构类别</option>
						
						{volist name="params['structs']" id="v" key="k"}
							<option value="{$k}">{$v}</option>
							{/volist}
					</select>
				</div>
			</li>
			<li>
				<div class="layui-input-inline">
					<select name="agency">
						<option value="">机构名称</option>
						{volist name=":config('inst_data_names')[INST]" id="v"}
						<option value="{$key}">{$v}</option>
						{/volist}
					</select>
				</div>
			</li>
			<li>
				<div class="layui-input-inline">
					<select name="nature">
						<option value="">使用性质</option>
						{volist name="params['uses']" id="v"}
					    <option value="{$key}">{$v}</option>
					    {/volist}
					</select>
				</div>
			</li>
			<li>
				<div class="layui-input-inline">
					<select name="damaged">
						<option value="">完损等级</option>
						{volist name="params['damages']" id="v" key="k"}
						<option value="{$k}">{$v}</option>
						{/volist}
					</select>
				</div>
			</li>
			<li>
				<div class="layui-input-inline">
					<select name="differentiation">
						<option value="">产别</option>
						{volist name="params['owners']" id="v" key="k"}
						<option value="{$k}">{$v}</option>
						{/volist}
					</select>
				</div>
			</li>
		</ul>
	  </from>
	</div>
    <div class="map-container" id="allmap"></div>
		<!-- 左边详情 S -->
		  <div class="j-houseList" id="j-houseList">
		      <div class="close_list" id="close_list" style="display: block;"><i class="layui-icon iconfont j-icon-youkuohao"></i></div>
		      <div class="j-house-details">
				<div class="j-building-info">
					<h1>楼栋信息</h1>
					<ul class="layui-row layui-col-space5 clearfix">
						<li class="layui-col-md6">
							<label class="j-form-label fl">楼栋编号：</label>
							<div class="j-input-block">1050033690</div>
						</li>
						<li class="layui-col-md6">
							<label class="j-form-label fl">机构名称：</label>
							<div class="j-input-block">粮道所15管段</div>
						</li>
						<li class="layui-col-md6">
							<label class="j-form-label fl">楼栋产别：</label>
							<div class="j-input-block">生活</div>
						</li>
						<li class="layui-col-md6">
							<label class="j-form-label fl">建成年份：</label>
							<div class="j-input-block">1969</div>
						</li>
						<li class="layui-col-md6">
							<label class="j-form-label fl">建筑面积：</label>
							<div class="j-input-block">58.43</div>
						</li>
						<li class="layui-col-md6">
							<label class="j-form-label fl">使用面积：</label>
							<div class="j-input-block">58.43</div>
						</li>
						<li class="layui-col-md6">
							<label class="j-form-label fl">结构类别：</label>
							<div class="j-input-block">砖木二等</div>
						</li>
						<li class="layui-col-md6">
							<label class="j-form-label fl">完损等级：</label>
							<div class="j-input-block">严重</div>
						</li>
						<li class="layui-col-md6">
							<label class="j-form-label fl">楼栋原价：</label>
							<div class="j-input-block">95.00</div>
						</li>
						<li class="layui-col-md6">
							<label class="j-form-label fl">楼栋租金：</label>
							<div class="j-input-block">965.00</div>
						</li>
						<li class="layui-col-md6">
							<label class="j-form-label fl">占地面积：</label>
							<div class="j-input-block">65.00</div>
						</li>
						<li class="layui-col-md6">
							<label class="j-form-label fl">栋系数：</label>
							<div class="j-input-block">20.00</div>
						</li>
						<li class="layui-col-md6">
							<label class="j-form-label fl">楼栋地址：</label>
							<div class="j-input-block" id="address">解放桥小区5栋乙门</div>
						</li>
					</ul>
				</div> 
				 <hr />
				 <div class="j-tenant-info clearfix">
					 <h1>租户信息</h1>
					 <table id="tenant" lay-filter="test"></table>
				 </div>
			  </div>
		  </div>
		<!-- 左边详情 E -->
		<!-- 圈内房屋 S -->
    <div class="panel">
        <div class="bottom">
            <ul id="data">
            </ul>
        </div>
    </div>
		<!-- 圈内房屋 E -->
		<!-- <div class="j-map-sum hide">视野内有<span></span>个房源,拖动地图查看更多</div> -->
</div>
<script type="text/html" title="操作按钮模板" id="buttonTpl">
    <a href="#" class="layui-btn layui-btn-xs layui-btn-normal">计租表</a>
</script>
{include file="system@block/layui" /}
<script type="text/javascript" src="{$http_type}api.map.baidu.com/api?v=2.0&ak=2xlodrKVRyFNeopCajiMTfgIOr8dnUAe"></script>
<script type="text/javascript" src="__PUBLIC_JS__/map/js/draw.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript" src="__PUBLIC_JS__/map/js/maplib.js?v={:config('hisiphp.version')}"></script>
<script type="text/javascript" src="__PUBLIC_JS__/map/js/textIconOverlay.js?v={:config('hisiphp.version')}"></script>
<script>
layui.use('table', function(){
  var table = layui.table;
  
  //第一个实例
  table.render({
    elem: '#tenant'
    ,height: 330
    ,url: '{:url("house/Tenant/index")}' //数据接口
    ,page: false //开启分页
	,skin:'nob'
	,limit: 500
	,text: {
		none: '暂无相关数据'
	}
    ,cols: [[ //表头
      {field: 'name', title: '租户姓名', width:80}
      ,{field: 'nature', title: '使用性质', width:80}
      ,{field: 'has', title: '使用面积', width:80} 
      ,{field: 'rent', title: '规定租金', width:80}
      ,{field: 'wealth', title: '操作',templet: '#buttonTpl', width:80}
    ]]
  });
  
});
</script>

