{include file="system@block/layui" /}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=m1devgrfGaqjsLycBZCm8egKV4uqFq7h"></script>

<div class="container">
	<div style="margin-top:10px;width:100%;height:600px;" id="allmap"></div>
</div>

<!--smooth-scrolling-of-move-up-->
<script type="text/javascript">
	layui.use(['table','jquery'], function() {
	        var $ = layui.$;
	        
	        
			// 百度地图API功能
			var map = new BMap.Map("allmap");
			var point = new BMap.Point(114.334286,30.560728);
			var marker = new BMap.Marker(point);  // 创建标注
			map.addOverlay(marker);              // 将标注添加到地图中
			map.centerAndZoom(point, 15);
			map.addControl(new BMap.OverviewMapControl({isOpen:true,size:{width:5,height:3}})); //添加缩略地图控件
			map.addControl(new BMap.ScaleControl({anchor: BMAP_ANCHOR_TOP_LEFT})); // 左上角，添加比例尺
			map.addControl(new BMap.NavigationControl()); //左上角，添加默认缩放平移控件
			//map.enableScrollWheelZoom(true); //开启手势缩放
			
			var opts = {
			  width : 260,    // 信息窗口宽度
			  height: 20,     // 信息窗口高度
			  title : "武昌区房地产公司" , // 信息窗口标题
			  enableMessage:true,//设置允许信息窗发送短息
			  message:"亲耐滴，晚上一起吃个饭吧？戳下面的链接看下地址喔~"
			}
			var infoWindow = new BMap.InfoWindow("地址：湖北省武汉市武昌区公正路18号", opts);  // 创建信息窗口对象 
			map.openInfoWindow(infoWindow,point); //开启信息窗口
			marker.addEventListener("click", function(){          
				map.openInfoWindow(infoWindow,point); //开启信息窗口
			});
	    });
	
</script>