<div class="j-table-content j-no-search">
	<div class="layui-btn-container j-container-margin">
		<div class="layui-btn-container">
		<a href="{:url('add?group='.input('param.group'))}" class="layui-btn"><i class="layui-icon layui-icon-add-1"></i>添加</a>
		<button data-href="{:url('status?val=1')}" class="layui-btn  hisi-page-btns layui-bg-green" data-table="dataTable"><i class="layui-icon layui-icon-play"></i>启用</button>
		<button data-href="{:url('status?val=0')}" class="layui-btn  hisi-page-btns layui-bg-red" data-table="dataTable"><i class="layui-icon layui-icon-pause"></i>禁用</button>
		<button data-href="{:url('del')}" class="layui-btn layui-btn-gray hisi-page-btns confirm j-page-btns"><i class="layui-icon layui-icon-close"></i>删除</button>
		</div>
	</div>
	<table id="dataTable"></table>
{include file="block/layui" /}
<script type="text/html" title="状态模板" id="statusTpl">
    <input type="checkbox" name="status" value="{{ d.status }}" lay-skin="switch" lay-filter="switchStatus" lay-text="正常|关闭" {{ d.status == 1 ? 'checked' : '' }} {{ d.system == 1 ? 'disabled' : '' }} data-href="{:url('status')}?table=admin_config&id={{ d.id }}">
</script>

<script type="text/html" title="排序模板" id="sortTpl">
    <input type="text" class="layui-input hisi-ajax-input input-sort" onkeyup="value=value.replace(/[^\d]/g,'')" value="{{ d.sort }}" data-value="{{ d.id }}" data-href="{:url('sort')}?table=admin_config&id={{ d.id }}">
</script>

<script type="text/html" title="操作按钮模板" id="buttonTpl">
    {{# if (d.system != 1) { }}
        <a href="{:url('edit')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-normal">修改</a><a href="{:url('del')}?id={{ d.id }}" class="layui-btn layui-btn-xs layui-btn-danger hisi-tr-del">删除</a>
    {{# } else { }}
        <a href="javascript:void(0);" title="系统配置，禁止编辑" class="layui-btn layui-btn-xs layui-btn-normal layui-disabled">修改</a><a href="javascript:void(0);" title="系统配置，禁止删除" class="layui-btn layui-btn-xs layui-btn-danger layui-disabled">删除</a>
    {{# } }}
</script>

<script type="text/html" id="toolbar">

</script>
</div>
<script type="text/javascript">
    layui.use(['table', 'jquery', 'layer'], function() {
        var table = layui.table, formType = {:json_encode(form_type())}, 
            $ = layui.jquery, layer = layui.layer;
        table.render({
            elem: '#dataTable'
            ,url: '{:url('?group='.input('param.group'))}' //数据接口
            ,page: true //开启分页
            ,limit: 20
            //,skin: 'row'
            //,even: true
            ,text: {
                none : '暂无相关数据'
            }
            //,toolbar: '#toolbar'
           //,defaultToolbar: ['filter']
            ,cols: [[ //表头
                {type:'checkbox'}
                ,{field: 'name', title: '标识',minWidth:150,align:'center'}
                ,{field: 'title', title: '标题',minWidth:350,align:'center'}
                ,{field: 'type', title: '类型', minWidth: 100,align:'center'}
                ,{field: 'sort', title: '排序', minWidth: 80,align:'center', templet: '#sortTpl'}
                ,{field: 'status', title: '状态', minWidth: 100,align:'center', templet: '#statusTpl'}
                ,{title: '操作', minWidth: 260,Width: 260, align:'center',templet: '#buttonTpl'}
            ]]
        });

        $('#hisiAddGroup').on('click', function(){
            layer.prompt({
                title: '添加分组',
            }, function(value, index, elem) {

                $.post('{:url('addGroup')}', {name: value}, function(res) {
                    if (res.code == 0) {
                        layer.msg(res.msg);
                    } else {
                        location.href = res.url;
                        layer.close(index);
                    }
                }, 'json');
            });
            $('.layui-layer-input').attr('placeholder', '别名:标题，示例：user:会员');
            return false;
        });
    });
</script>